---
title: "34th European Championships in Men's Artistic Gymnastics - Mersin, Turkey"
year: 2020
startdate: 2020-12-09
enddate: 2020-12-13
country: "TUR"
category: "euros"
layout: results
---
	
{% include resultsheader.html title="34th European Championships in Men's Artistic Gymnastics<br>Mersin, Turkey<br>2020 December 9-13" %}

<img src="images/logomag.jpg" alt="event logo">

<a href="documents/mag/magresultbook.pdf" target="_blank" class="pdf">Results Book</a>

<h2 class="men">Apparatus Finals Men Senior</h2>
	<a href="documents/mag/magfxfinal.pdf" target="_blank" class="pdf">Senior Floor Exercise Final Results</a>
	<a href="documents/mag/magphfinal.pdf" target="_blank" class="pdf">Senior Pommel Horse Final Results</a>
	<a href="documents/mag/magsrfinal.pdf" target="_blank" class="pdf">Senior Rings Final Results</a>
	<a href="documents/mag/magvtfinal.pdf" target="_blank" class="pdf">Senior Vault Final Results</a>
	<a href="documents/mag/magpbfinal.pdf" target="_blank" class="pdf">Senior Parallel Bars Final Results</a>
	<a href="documents/mag/maghbfinal.pdf" target="_blank" class="pdf">Senior Horizontal Bar Final Results</a>
	
<h2 class="wom">Apparatus Finals Men Junior</h2>
	<a href="documents/mag/magjuniorfxfinal.pdf" target="_blank" class="pdf">Junior Floor Exercise Final Results</a>
	<a href="documents/mag/magjuniorphfinal.pdf" target="_blank" class="pdf">Junior Pommel Horse Final Results</a>
	<a href="documents/mag/magjuniorsrfinal.pdf" target="_blank" class="pdf">Junior Rings Final Results</a>
	<a href="documents/mag/magjuniorvtfinal.pdf" target="_blank" class="pdf">Junior Vault Final Results</a>
	<a href="documents/mag/magjuniorpbfinal.pdf" target="_blank" class="pdf">Junior Parallel Bars Final Results</a>
    <a href="documents/mag/magjuniorhbfinal.pdf" target="_blank" class="pdf">Junior Horizontal Bar Final Results</a>
    
<h2 class="wom">All Around Final Men Junior</h2>
    <a href="documents/mag/magjunioraafinal.pdf" target="_blank" class="pdf">Junior All Around Final Results</a>

<h2 class="men">Team Final Men Senior</h2>
	<a href="documents/mag/magteamfinal.pdf" target="_blank" class="pdf">Senior Teams Finals Results</a>

<h2 class="wom">Qualification Men Junior</h2>
    <a href="documents/mag/magjuniorteamqual.pdf" target="_blank" class="pdf">Junior Team Results</a>
    <br>
	<a href="documents/mag/magjunioraaqual.pdf" target="_blank" class="pdf">Junior Qualification results All Around</a>
	<br>
    <a href="documents/mag/magjuniorfxqual.pdf" target="_blank" class="pdf">Junior Qualification results Floor Exercise</a>
    <a href="documents/mag/magjuniorphqual.pdf" target="_blank" class="pdf">Junior Qualification results Pommel Horse</a>
    <a href="documents/mag/magjuniorsrqual.pdf" target="_blank" class="pdf">Junior Qualification results Rings</a>
    <a href="documents/mag/magjuniorvtqual.pdf" target="_blank" class="pdf">Junior Qualification results Vault</a>
    <a href="documents/mag/magjuniorpbqual.pdf" target="_blank" class="pdf">Junior Qualification results Parallel Bars</a>
    <a href="documents/mag/magjuniorhbqual.pdf" target="_blank" class="pdf">Junior Qualification results Horizontal Bar</a>

<h2 class="men">Qualification Men Senior</h2>
	<a href="documents/mag/magteamqual.pdf" target="_blank" class="pdf">Senior Qualification Teams</a>
	<br>
	<a href="documents/mag/magfxqual.pdf" target="_blank" class="pdf">Senior Qualification results Floor Exercise</a>
	<a href="documents/mag/magphqual.pdf" target="_blank" class="pdf">Senior Qualification results Pommel Horse</a>
	<a href="documents/mag/magsrqual.pdf" target="_blank" class="pdf">Senior Qualification results Rings</a>
	<a href="documents/mag/magvtqual.pdf" target="_blank" class="pdf">Senior Qualification results Vault</a>
	<a href="documents/mag/magpbqual.pdf" target="_blank" class="pdf">Senior Qualification results Parallel Bars</a>
	<a href="documents/mag/maghbqual.pdf" target="_blank" class="pdf">Senior Qualification results Horizontal Bar</a>
