---
title: "33rd European Championships in Women's Artistic Gymnastics - Mersin, Turkey"
year: 2020
startdate: 2020-12-17
enddate: 2020-12-20
country: "TUR"
category: "euros"
layout: results
---
	
{% include resultsheader.html title="33rd European Championships in Women's Artistic Gymnastics<br> Mersin, Turkey<br>2020 December 12-17" %}

<img src="images/logowag.jpg" alt="event logo">
<!--AF-->
<a href="documents/wag/wagresultbook.pdf" target="_blank" class="pdf">Results Book</a>

<h2 class="wom">Apparatus Finals Senior</h2>
    <a href="documents/wag/wagvtfinal.pdf" target="_blank" class="pdf">Results Senior Vault Final</a>
    <a href="documents/wag/wagubfinal.pdf" target="_blank" class="pdf">Results Senior Uneven Bars Final</a>
    <a href="documents/wag/wagbbfinal.pdf" target="_blank" class="pdf">Results Senior Beam Final</a>
    <a href="documents/wag/wagfxfinal.pdf" target="_blank" class="pdf">Results Senior Floor Exercise Final</a>

<h2 class="men">Apparatus Finals Junior</h2>
	<a href="documents/wag/wagjuniorvtfinal.pdf" target="_blank" class="pdf">Results Junior Vault Final</a>
	<a href="documents/wag/wagjuniorubfinal.pdf" target="_blank" class="pdf">Results Junior Uneven Bars Final</a>
	<a href="documents/wag/wagjuniorbbfinal.pdf" target="_blank" class="pdf">Results Junior Beam Final</a>
	<a href="documents/wag/wagjuniorfxfinal.pdf" target="_blank" class="pdf">Results Junior Floor Exercise Final</a>
<!--Teams Sen-->
<h2 class="wom">Team Final Women Senior</h2>
	<a href="documents/wag/wagteamfinal.pdf" target="_blank" class="pdf">Results Senior Teams Final</a>
<!--Jun Q-->
<h2 class="men">Qualification Women Junior</h2>
	<a href="documents/wag/wagjuniorteamqual.pdf" target="_blank" class="pdf">Results Junior Teams</a>
    <a href="documents/wag/wagjunioraaqual.pdf" target="_blank" class="pdf">Results Junior All-Around</a>
    <br>
	<a href="documents/wag/wagjuniorvtqual.pdf" target="_blank" class="pdf">Results Junior Vault Qualification</a>
	<a href="documents/wag/wagjuniorubqual.pdf" target="_blank" class="pdf">Results Junior Uneven Bars Qualification</a>
	<a href="documents/wag/wagjuniorbbqual.pdf" target="_blank" class="pdf">Results Junior Beams Qualification</a>
	<a href="documents/wag/wagjuniorfxqual.pdf" target="_blank" class="pdf">Results Junior Floor Exercise Qualification</a>

<h2 class="wom">Qualification Women Senior</h2>
    <a href="documents/wag/wagteamqual.pdf" target="_blank" class="pdf">Results Senior Teams Qualification</a>
    <br>
	<a href="documents/wag/wagvtqual.pdf" target="_blank" class="pdf">Results Senior Vault Qualification</a>
	<a href="documents/wag/wagubqual.pdf" target="_blank" class="pdf">Results Senior Uneven Bars Qualification</a>
	<a href="documents/wag/wagbbqual.pdf" target="_blank" class="pdf">Results Senior Beams Qualification</a>
	<a href="documents/wag/wagfxqual.pdf" target="_blank" class="pdf">Results Senior Floor Exercise Qualification</a>
