---
title: "2024 Doha World Cup"
year: 2024
startdate: 2024-04-17
enddate: 2024-04-20
country: "QAT"
category: "world-cup"
layout: results
---
	
{% include resultsheader.html title="Doha World Cup (QAT)<br>2024 April 17-20" %}

<img src="images/logo.png" alt="event logo">

<h2 class="wom">Finals Day 2</h2>
	<ul class="podium-list">
		<li><b>Men's Vault</b> 🥇Gold - Artur Davtyan (ARM)</li>
		<li><b>Men's Parallel Bars</b> 🥇Gold - Carlos Edriel Yulo (PHI)</li>
		<li><b>Men's Horizontal Bar</b> 🥇Gold - Tang Chia-Hung (TPE)</li>
		<li><b>Women's Beam</b> 🥇Gold - Anna Lashchevska (UKR)</li>
		<li><b>Women's Floor Exercise</b> 🥇Gold - Kaylia Nemour (ALG)</li>
	</ul>
	<br>
	<a href="documents/mag/mag_vt.pdf" target="_blank" class="pdf">Men's Vault Final Results</a>
	<a href="documents/mag/mag_pb.pdf" target="_blank" class="pdf">Men's Parallel Bars Final Results</a>
	<a href="documents/mag/mag_hb.pdf" target="_blank" class="pdf">Men's Horizontal Bar Final Results</a>
	<a href="documents/wag/wag_bb.pdf" target="_blank" class="pdf">Women's Beam Final Results</a>
	<a href="documents/wag/wag_fx.pdf" target="_blank" class="pdf">Women's Floor Final Results</a>
	<br>

<h2 class="men">Finals Day 1</h2>
	<ul class="podium-list">
		<li><b>Men's Floor Exercise</b> 🥇Gold - Milad Karimi (KAZ)</li>
		<li><b>Men's Pommel Horse</b> 🥇Gold - Ahmad Abu Al Soud (JOR)</li>
		<li><b>Men's Rings</b> 🥇Gold - Vahagn Davtyan (ARM)</li>
		<li><b>Women's Vault</b> 🥇Gold - Karla Navas (PAN)</li>
		<li><b>Women's Uneven Bars</b> 🥇Gold - Kaylia Nemour (ALG)</li>
	</ul>
	<br>
	<a href="documents/mag/mag_fx.pdf" target="_blank" class="pdf">Men's Floor Final Results</a>
	<a href="documents/mag/mag_ph.pdf" target="_blank" class="pdf">Men's Pommel Horse Final Results</a>
	<a href="documents/mag/mag_sr.pdf" target="_blank" class="pdf">Men's Rings Final Results</a>
	<a href="documents/wag/wag_vt.pdf" target="_blank" class="pdf">Women's Vault Final Results</a>
	<a href="documents/wag/wag_ub.pdf" target="_blank" class="pdf">Women's Uneven Bars Final Results</a>
	<br>

<h2 class="wom">Qualifications</h2>
	<a href="documents/mag/mag_qual_fx.pdf" target="_blank" class="pdf">Men's Floor Qualification</a>
	<a href="documents/mag/mag_qual_ph.pdf" target="_blank" class="pdf">Men's Pommel Horse Qualification</a>
	<a href="documents/mag/mag_qual_sr.pdf" target="_blank" class="pdf">Men's Rings Qualification</a>
	<a href="documents/wag/wag_qual_vt.pdf" target="_blank" class="pdf">Women's Vault Qualification</a>
	<a href="documents/wag/wag_qual_ub.pdf" target="_blank" class="pdf">Women's Uneven Bars Qualification</a>
	<br>

	<a href="documents/mag/mag_qual_vt.pdf" target="_blank" class="pdf">Men's Vault Qualification</a>
	<a href="documents/mag/mag_qual_pb.pdf" target="_blank" class="pdf">Men's Parallel Bars Qualification</a>
	<a href="documents/mag/mag_qual_hb.pdf" target="_blank" class="pdf">Men's Horizontal Bar Qualification</a>
	<a href="documents/wag/wag_qual_bb.pdf" target="_blank" class="pdf">Women's Beam Qualification</a>
	<a href="documents/wag/wag_qual_fx.pdf" target="_blank" class="pdf">Women's Floor Qualification</a>