---
title: "2024 Cottbus World Cup (Turnier der Meister)"
year: 2024
startdate: 2024-02-22
enddate: 2024-02-25
country: "GER"
category: "turnier-der-meister"
layout: results
---
	
{% include resultsheader.html title="Turnier der Meister<br>Cottbus World Cup (GER)<br>2024 Feb 22-25" %}

<h2 class="men">Apparatus Finals Day 2</h2>
<ul class="podium-list">
    <li><b>Vault</b> 🥇Gold - Artur Davtyan (ARM)</li>
    <li><b>Parallel Bars</b> 🥇Gold - Illia Kovtun (UKR)</li>
    <li><b>Horizontal Bar</b> 🥇Gold - Tang Chia-Hung (TPE)</li>
</ul>
<br>
<ul class="podium-list">
    <li><b>Beam</b> 🥇Gold - Zhou Yaqin (CHN)</li>
    <li><b>Floor Exercise</b> 🥇Gold - Zhou Yaqin (CHN)</li>
</ul>
<br>
<a href="documents/day2finals.pdf" target="_blank" class="pdf">Day 2 Apparatus Finals Results</a>

<h2 class="wom">Apparatus Finals Day 1</h2>	
<ul class="podium-list">
    <li><b>Floor Exercise</b> 🥇Gold - Harry Hepworth (GBR)</li>
    <li><b>Pommel Horse</b> 🥇Gold - Nariman Kurbanov (KAZ)</li>
    <li><b>Rings</b> 🥇Gold - Nikita Simonov (AZE)</li>
</ul>
<br>	
<ul class="podium-list">
    <li><b>Vault</b> 🥇Gold - An Chang Ok (PRK)</li>
    <li><b>Uneven Bars</b> 🥇Gold - Kaylia Nemour (ALG)</li>
</ul>
<br>
<a href="documents/day1finals.pdf" target="_blank" class="pdf">Day 1 Apparatus Finals Results</a>

<h2 class="men">Apparatus Qualifications Day 2</h2>
<a href="documents/day2quals.pdf" target="_blank" class="pdf">Day 2 Apparatus Qualifications Results</a>

<h2 class="wom">Apparatus Qualifications Day 1</h2>	
<a href="documents/day1quals.pdf" target="_blank" class="pdf">Day 1 Apparatus Qualifications Results</a>

<h2 class="men">Full Results</h2>	
<a href="documents/results_book.pdf" target="_blank" class="pdf">Results Book</a>
<a href="documents/mag_oly_points.pdf" target="_blank" class="pdf">MAG Olympic Ranking Points</a>
<a href="documents/wag_oly_points.pdf" target="_blank" class="pdf">WAG Olympic Ranking Points</a>
