---
title: "2020 FIG World Challenge Cup Szombathely"
year: 2020
startdate: 2020-10-02
enddate: 2020-10-04
country: "HUN"
category: "world-cup"
layout: results
---

{% include resultsheader.html title="FIG World Challenge Cup Szombathely (HUN)<br>2020 Oct 2-4" %}

<h2 class="men">Men Apparatus Finals</h2>

	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Rok Klavora (SLO)</li>
		<li><b>Pommel Horse</b> 🥇Gold - Nariman Kurbanov (KAZ)</li>
		<li><b>Rings</b> 🥇Gold - Vinzenz Hoeck (AUT)</li>
		<li><b>Vault</b> 🥇Gold - Igor Radivilov (UKR)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Petro Pakhniuk (UKR)</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Tin Srbic (CRO)</li>
	</ul>

	<a href="documents/magfinals.pdf" target="_blank" class="pdf">Final Results Men</a>

<h2 class="wom">Women Apparatus Finals</h2>

	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Boglárka Dévai (HUN)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Diana Varinska (UKR)</li>
		<li><b>Beam</b> 🥇Gold - Christina Zwicker (CRO)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Angelina Radivilova (UKR)</li>
	</ul>

    <a href="documents/wagfinals.pdf" target="_blank" class="pdf">Final Results Women</a>
    
<h2 class="men">Men Qualification</h2>
    <a href="documents/magquals.pdf" target="_blank" class="pdf">Qualification Results Men</a>
    

<h2 class="wom">Women Qualification</h2>
	<a href="documents/wagquals.pdf" target="_blank" class="pdf">Qualification Results Women</a>




