---
title: "2019 European Games - Artistic Gymnastics"
year: 2019
startdate: 2019-06-27
enddate: 2019-06-30
country: "BLR"
category: "euro-games"
layout: results
---

{% include resultsheader.html title="2019 European Games - Artistic Gymnastics<br>Minsk (BLR)<br>2019 June 27-30" %}

<img src="images/logo.png" alt="2019 European Games logo">

<h2 class="wom">Result Apparatus Finals Women</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Teja Belak (SLO)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Angelina Melnikova (RUS)</li>
		<li><b>Beam</b> 🥇Gold - Nina Derwael (BEL)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Anastasiia Bachynska (UKR)</li>
	</ul>
	<br>
	<a href="documents/wagvt.pdf" target="_blank" class="pdf">Apparatus Final Women Vault</a>
	<a href="documents/wagub.pdf" target="_blank" class="pdf">Apparatus Final Women Uneven Bars</a>
	<a href="documents/wagbb.pdf" target="_blank" class="pdf">Apparatus Final Women Beam</a>
	<a href="documents/wagfx.pdf" target="_blank" class="pdf">Apparatus Final Women Floor Exercise</a>
<h2 class="men">Results Apparatus Finals Men</h2>
	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Emil Soravuo (FIN)</li>
		<li><b>Pommel Horse</b> 🥇Gold - David Belyavskiy (RUS)</li>
		<li><b>Rings</b> 🥇Gold - Marco Lodadio (ITA)</li>
		<li><b>Vault</b> 🥇Gold - Artur Datyan (ARM)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Oleg Verniaiev (UKR)</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Robert Tvorogal (LTU)</li>
	</ul>
	<br>
	<a href="documents/magfx.pdf" target="_blank" class="pdf">Apparatus Final Men Floor Exercise</a>
	<a href="documents/magph.pdf" target="_blank" class="pdf">Apparatus Final Men Pommel Horse</a>
	<a href="documents/magsr.pdf" target="_blank" class="pdf">Apparatus Final Men Rings</a>
	<a href="documents/magvt.pdf" target="_blank" class="pdf">Apparatus Final Men Vault</a>
	<a href="documents/magpb.pdf" target="_blank" class="pdf">Apparatus Final Men Parallel Bars</a>
	<a href="documents/maghb.pdf" target="_blank" class="pdf">Apparatus Final Men Horizontal Bar</a>
<h2 class="wom">Results All-Around Final Women</h2>
	<ul class="podium-list">
		<li>🥇Gold - Angelina Melnikova (RUS)</li>
		<li>🥈Silver - Lorette Charpy (FRA)</li>
		<li>🥉Bronze - Diana Varinska (UKR)</li>
	</ul>
	<br>
	<a href="documents/wagaa.pdf" target="_blank" class="pdf">Results All-Around Final Women</a>
<h2 class="men">Results All-Around Final Men</h2>
	<ul class="podium-list">
		<li>🥇Gold - David Belyavskiy (RUS)</li>
		<li>🥈Silver - Oleg Verniaiev (UKR)</li>
		<li>🥉Bronze - Vladislav Poliashov (RUS)</li>
	</ul>
	<br>
	<a href="documents/magaa.pdf" target="_blank" class="pdf">Results All-Around Final Men</a>
<h2 class="wom">Results Qualification Women</h2>
	<a href="documents/wagqaa.pdf" target="_blank" class="pdf">All Around Qualification Women</a>
	<a href="documents/wagqvt.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagqub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagqbb.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagqfx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>
<h2 class="men">Results Qualification Men</h2>
	<a href="documents/magqaa.pdf" target="_blank" class="pdf">All-Around Qualification Men</a>
	<a href="documents/magqfx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magqph.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magqsr.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magqvt.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magqpb.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/magqhb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>
<h2 class="wom">Results Book</h2>
	<a href="documents/resultsbook.pdf" target="_blank" class="pdf">Results Book</a> 