---
title: "2024 Core Hydration Classic"
year: 2024
startdate: 2024-05-17
enddate: 2024-05-18
country: "USA"
layout: results
---

{% include resultsheader.html title="2024 Core Hydration Classic<br>Hartford, Conn. | XL Center<br>May 17, 2024 - May 18, 2024" %}

<img src="images/logo.webp" alt="Event logo">

<h2 class="wom">Women's Seniors</h2>
	<ul class="podium-list">
		<li>🥇Gold - Simone Biles</li>
		<li>🥈Silver - Shilese Jones</li>
		<li>🥉Bronze - Jordan Chiles</li>
	</ul>
	<br>
	<a href="documents/senior.pdf" target="_blank" class="pdf">Senior Results</a>

<h2 class="men">Women's Juniors</h2>
	<ul class="podium-list">
		<li>🥇Gold - Claire Pease</li>
		<li>🥈Silver - Charleigh Bullock</li>
		<li>🥉Bronze - Maliha Tressel</li>
	</ul>
	<br>
	<a href="documents/junior.pdf" target="_blank" class="pdf">Junior Results</a>
	<br>