---
title: "Zelena jama Open 2016 Ljubljana"
year: 2016
startdate: 2016-05-07
country: "SLO"
category: "zelena-jama-open"
layout: results
redirect_from: /2016/eu/slo/zelena-jama-open.html
---

{% include resultsheader.html title="Zelena jama Open 2016<br>Ljubljana (SLO)<br>2016 May 7" %}


<img src="images/logo.png" alt="Zelena jama Open 2016 Ljubljana (SLO) 2016 May 7">
<h2 class="wom">Results Teams</h2>
<img src="images/teams.jpg" alt="Teams podium"/><br>
	<a href="documents/teams.pdf" target="_blank" class="pdf">Results Teams</a>
<h2 class="wom">Results All-Around</h2>
	<img src="images/aa.jpg" lt="All around podium" /><br>
	<a href="documents/aa.pdf" target="_blank" class="pdf">Results All-Around</a>
<h2 class="wom">Information</h2>
	<p>Category:</p>
	<ul>
		<li>Juniors. Girls born in 2001 or later (younger).</li>
		<li>The team is composed from 3 girls (2 + 1).</li>
	</ul>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>
<br>
<img src="images/gym2.jpg" alt="Zelena jama gymnasium">

<h3>Thanks to Vanja Kavcic &amp; Andrej Mavric for sending information</h3>