---
title: "2024 Olympic Games, Paris"
year: 2024
startdate: 2024-07-27
enddate: 2024-08-05
country: "FRA"
category: "olympics"
layout: results
---

{% include resultsheader.html title="Games of the XXXIII Olympiad<br>Paris 2024 July 27 - August 5<br>Bercy Arena" %}

<img src="images/logo.png" alt="olympic logo">
<h2 class="men">Apparatus Finals Day 3</h2>

	<h3>Parallel Bars</h3>
	<ul class="podium-list">
		<li>🥇Gold - Zou Jingyuan (CHN)</li>
		<li>🥈Silver - Illia Kovtun (UKR)</li>
		<li>🥉Bronze - Oka Shinnosuke (JPN)</li>
	</ul>
	<br>
	<a href="documents/mag/mag_pb_results.pdf" target="_blank" class="pdf">Results Parallel Bars Final Men</a>
	<a href="documents/ef_startlist_day3.pdf" target="_blank" class="pdf">Start List Parallel Bars Final Men</a><br>

	<h3>Balance Beam</h3>
	<ul class="podium-list">
		<li>🥇Gold - Alice D'Amato (ITA)</li>
		<li>🥈Silver - Zhou Yaqin (CHN)</li>
		<li>🥉Bronze - Manila Esposito (ITA)</li>
	</ul>
	<br>
	<a href="documents/wag/wag_bb_results.pdf" target="_blank" class="pdf">Results Balance Beam Final Women</a>
	<a href="documents/ef_startlist_day3.pdf" target="_blank" class="pdf">Start List Balance Beam Final Women</a>

	<h3>Horizontal Bar</h3>
	<ul class="podium-list">
		<li>🥇Gold - Oka Shinnosuke (JPN)</li>
		<li>🥈Silver - Angel Barajas (COL)</li>
		<li>🥉Bronze - Zhang Boheng (CHN) and Tang Chia-Hung (TPE)</li>
	</ul>
	<br>
	<a href="documents/mag/mag_hb_results.pdf" target="_blank" class="pdf">Results Horizontal Bar Final Men</a>
	<a href="documents/ef_startlist_day3.pdf" target="_blank" class="pdf">Start List Horizontal Bar Final Men</a><br>	

	<h3>Women's Floor</h3>
	<ul class="podium-list">
		<li>🥇Gold - Rebeca Andrade (BRA)</li>
		<li>🥈Silver - Simone Biles (USA)</li>
		<li>🥉Bronze - Ana Barbosu (ROU)</li>
		<li>🥉Bronze - Jordan Chiles (USA)*</li>
	</ul>
	<br>
	<a href="documents/wag/wag_fx_results.pdf" target="_blank" class="pdf">Results Floor Final Women</a>
	<a href="documents/wag/wag_fx_updated.pdf" target="_blank" class="pdf">Results Floor Final Women - Updated</a>
	<a href="documents/ef_startlist_day3.pdf" target="_blank" class="pdf">Start List Floor Final Women</a><br>
	<p style="font-size: 12px">* After the competition, a CAS appeal found that the inquiry that raised Chiles' score to 13.766 was submitted too late and was therefore invalid, so Barbosu was ranked in 3rd place and awarded a bronze medal. Until further legal action is completed I am listing both gymnasts as bronze medalists.</p><br>

	<h2 class="wom">Apparatus Finals Day 2</h2>

	<h3>Rings</h3>
	<ul class="podium-list">
		<li>🥇Gold - Liu Yang (CHN)</li>
		<li>🥈Silver - Zou Jingyuan (CHN)</li>
		<li>🥉Bronze - Eleftherios Petrounias (GRE)</li>
	</ul>
	<br>
	<a href="documents/mag/mag_sr_results.pdf" target="_blank" class="pdf">Results Rings Final Men</a>
	<a href="documents/ef_startlist_day2.pdf" target="_blank" class="pdf">Start List Rings Final Men</a><br>

	<h3>Uneven Bars</h3>
	<ul class="podium-list">
		<li>🥇Gold - Kaylia Nemour (ALG)</li>
		<li>🥈Silver - Qiu Qiyuan (CHN)</li>
		<li>🥉Bronze - Sunisa Lee (USA)</li>
	</ul>
	<br>
	<a href="documents/wag/wag_ub_results.pdf" target="_blank" class="pdf">Results Uneven Bars Final Women</a>
	<a href="documents/ef_startlist_day2.pdf" target="_blank" class="pdf">Start List Uneven Bars Final Women</a><br>

	<h3>Men's Vault</h3>
	<ul class="podium-list">
		<li>🥇Gold - Carlos Edriel Yulo (PHI)</li>
		<li>🥈Silver - Artur Davtyan (ARM)</li>
		<li>🥉Bronze - Harry Hepworth (GBR)</li>
	</ul>
	<br>
	<a href="documents/mag/mag_vt_results.pdf" target="_blank" class="pdf">Results Vault Final Men</a>
	<a href="documents/ef_startlist_day2.pdf" target="_blank" class="pdf">Start List Vault Final Men</a><br>

<h2 class="men">Apparatus Finals Day 1</h2>

	<h3>Pommel Horse</h3>
	<ul class="podium-list">
		<li>🥇Gold - Rhys McClenaghan (IRL)</li>
		<li>🥈Silver - Nariman Kurbanov (KAZ)</li>
		<li>🥉Bronze - Stephen Nedoroscik (USA)</li>
	</ul>
	<br>
	<a href="documents/mag/mag_ph_results.pdf" target="_blank" class="pdf">Results Pommel Horse Final Men</a>
	<a href="documents/ef_startlist_day1.pdf" target="_blank" class="pdf">Start List Pommel Horse Final Men</a><br>
	
	<h3>Women's Vault</h3>
	<ul class="podium-list">
		<li>🥇Gold - Simone Biles (USA)</li>
		<li>🥈Silver - Rebeca Andrade (BRA)</li>
		<li>🥉Bronze - Jade Carey (USA)</li>
	</ul>
	<br>
	<a href="documents/wag/wag_vt_results.pdf" target="_blank" class="pdf">Results Vault Final Women</a>
	<a href="documents/ef_startlist_day1.pdf" target="_blank" class="pdf">Start List Vault Final Women</a><br>
	
	<h3>Men's Floor Exercise</h3>
	<ul class="podium-list">
		<li>🥇Gold - Carlos Edriel Yulo (PHI)</li>
		<li>🥈Silver - Artem Dolgopyat (ISR)</li>
		<li>🥉Bronze - Jake Jarman (GBR)</li>
	</ul>
	<br>
	<a href="documents/mag/mag_fx_results.pdf" target="_blank" class="pdf">Results Floor Exercise Final Men</a>
	<a href="documents/ef_startlist_day1.pdf" target="_blank" class="pdf">Start List Floor Exercise Final Men</a>

<h2 class="wom">All-Around Final Women</h2>
	<ul class="podium-list">
		<li>🥇Gold - Simone Biles (USA)</li>
		<li>🥈Silver - Rebeca Andrade (BRA)</li>
		<li>🥉Bronze - Sunisa Lee (USA)</li>
	</ul>
	<br>
	<a href="documents/wag/wag_aa_results.pdf" target="_blank" class="pdf">Results All-Around Final Women</a>
	<a href="documents/wag/wag_aa_startlist.pdf" target="_blank" class="pdf">Start List All-Around Final Women</a>

<h2 class="men">All-Around Final Men</h2>
    <ul class="podium-list">
        <li>🥇Gold - Oka Shinnosuke (JPN)</li>
        <li>🥈Silver - Zhang Boheng (CHN)</li>
        <li>🥉Bronze - Xiao Routeng (CHN)</li>
    </ul>
    <br>
	<a href="documents/mag/mag_aa_results.pdf" target="_blank" class="pdf">Results All-Around Final Men</a>
	<a href="documents/mag/mag_aa_startlist.pdf" target="_blank" class="pdf">Start List All-Around Final Men</a>

<h2 class="wom">Team Final Women</h2>
    <ul class="podium-list">
        <li>🥇Gold - United States of America</li>
        <li>🥈Silver - Italy</li>
        <li>🥉Bronze - Brazil</li>
    </ul>
    <br>
	<a href="documents/wag/wag_tf_results.pdf" target="_blank" class="pdf">Results Team Final Women</a>
	<a href="documents/wag/wag_tf_startlist.pdf" target="_blank" class="pdf">Start List Team Final Women</a>

<h2 class="men">Team Final Men</h2>
    <ul class="podium-list">
        <li>🥇Gold - Japan</li>
        <li>🥈Silver - People's Republic of China</li>
        <li>🥉Bronze - United States of America</li>
    </ul>
    <br>
	<a href="documents/mag/mag_tf_results.pdf" target="_blank" class="pdf">Results Team Final Men</a>
	<a href="documents/mag/mag_tf_startlist.pdf" target="_blank" class="pdf">Start List Team Final Men</a>

<h2 class="wom">Qualification Women</h2>
	<a href="documents/wag/wag_quals_team.pdf" target="_blank" class="pdf">Qualification Teams Women</a>
	<a href="documents/wag/wag_quals_aa.pdf" target="_blank" class="pdf">Qualification All-Around Women</a><br>
	<a href="documents/wag/wag_quals_vt.pdf" target="_blank" class="pdf">Qualification Vault Women</a>
	<a href="documents/wag/wag_quals_ub.pdf" target="_blank" class="pdf">Qualification Uneven Bars Women</a>
	<a href="documents/wag/wag_quals_bb.pdf" target="_blank" class="pdf">Qualification Beam Women</a>
	<a href="documents/wag/wag_quals_fx.pdf" target="_blank" class="pdf">Qualification Floor Exercise Women</a>

<h2 class="men">Qualification Men</h2>
	<a href="documents/mag/mag_quals_team.pdf" target="_blank" class="pdf">Qualification Teams Men</a>
	<a href="documents/mag/mag_quals_aa.pdf" target="_blank" class="pdf">Qualification All-Around Men</a><br>
	<a href="documents/mag/mag_quals_fx.pdf" target="_blank" class="pdf">Qualification Floor Exercise Men</a>
	<a href="documents/mag/mag_quals_ph.pdf" target="_blank" class="pdf">Qualification Pommel Horse Men</a>
	<a href="documents/mag/mag_quals_sr.pdf" target="_blank" class="pdf">Qualification Rings Men</a>
	<a href="documents/mag/mag_quals_vt.pdf" target="_blank" class="pdf">Qualification Vault Men</a>
	<a href="documents/mag/mag_quals_pb.pdf" target="_blank" class="pdf">Qualification Parallel Bars Men</a>
	<a href="documents/mag/mag_quals_hb.pdf" target="_blank" class="pdf">Qualification Horizontal Bar Men</a>

<h2 class="wom">Qualification Start Lists</h2>
	<a href="documents/mag/mag_quals_startlist.pdf" target="_blank" class="pdf">MAG Qualifications Start List</a>
	<a href="documents/wag/wag_quals_startlist.pdf" target="_blank" class="pdf">WAG Qualifications Start List</a>

<h2 class="men">Documents</h2>
	<a href="documents/drawing_of_lots_mag.pdf" target="_blank" class="pdf">MAG Drawing of Lots - starting order for all events</a>
    <a href="documents/drawing_of_lots_wag.pdf" target="_blank" class="pdf">WAG Drawing of Lots - starting order for all events</a>
    <br>
    <a href="documents/mag/mag_qualifiers_list.pdf" target="_blank" class="pdf">MAG List of 2024 Qualifiers & Nominative Gymnasts</a>
    <a href="documents/wag/wag_qualifiers_list.pdf" target="_blank" class="pdf">WAG List of 2024 Qualifiers & Nominative Gymnasts</a>




