---
title: "World Challenge Cup 2016 Varna"
year: 2016
startdate: 2016-05-13
enddate: 2016-05-15
country: "BUL"
category: "world-challenge-cup"
layout: results
redirect_from: /2016/eu/bul/world-challenge-cup.html
---

{% include resultsheader.html title="World Challenge Cup 2016<br>Varna (BUL)<br>2016 May 13-15" %}

<img src="images/logo2a.jpg" alt="World Challenge Cup 2016 Varna (BUL) 2016 May 13-15">
<h2 class="men">Results Apparatus Final Men Day 2</h2>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Vault Final Men</a>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Parallel Bars Final Men</a>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Horizontal Bar Final Men</a>
<h2 class="wom">Results Apparatus Final Women Day 2</h2>
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Final Women</a>
<h2 class="men">Results Apparatus Final Men Day 1</h2>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Floor Exercise Final Men</a>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Pommel Horse Final Men</a>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Rings Final Men</a>
<h2 class="wom">Results Apparatus Final Women Day 1</h2>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
<h2 class="men">Results Qualification Men</h2>
	<a href="documents/magq1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magq2ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magq3sr.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magq4vt.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magq5pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/magq6hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>
<h2 class="wom">Results Qualification Women</h2>
	<a href="documents/wagq1vt.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagq2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagq3bb.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagq4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>
<h2 class="men">Information</h2>
	<a href="documents/nomreg.pdf" target="_blank" class="pdf">Nominative registration</a>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>
	<a href="documents/defreg.pdf" target="_blank" class="pdf">Definitive registration</a>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday May 11</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Arrival of delegations</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday May 12</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Orientation meeting<br>Official training<br>Judges Meeting</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday May 13</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Qualification</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday May 14</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Finals<br>Award Ceremony</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday May 15</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Finals<br>Award Ceremony</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Monday May 16</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Departure of delegations</td></tr>
</table>
<img src="images/logo3.jpg" alt="Event logo">
<br>
<img src="images/gym.jpg" alt="Gymnasium">