---
title: "2024 Baku World Cup & AGF Trophy"
year: 2024
startdate: 2024-03-07
enddate: 2024-03-10
country: "AZE"
category: "world-cup"
layout: results
---

{% include resultsheader.html title="FIG World Cup<br>Doha (QAT) 2024 March 7-10" %}

<img src="images/logo.webp" alt="Event logo">


<h2 class="wom">Finals</h2>
	<ul class="podium-list">
		<li><b>Men's Vault</b> 🥇Gold - Nazar Chepurnyi (UKR)</li>
		<li><b>Men's Parallel Bars</b> 🥇Gold - Illia Kovtun (UKR))</li>
		<li><b>Men's Horizontal Bar</b> 🥇Gold - Robert Tvorogal (LTU)</li>
		<li><b>Men's Floor Exercise</b> 🥇Gold - Yahor Sharamkou (AIN)</li>
		<li><b>Men's Pommel Horse</b> 🥇Gold - Lee Chih Kai (TPE) and Stephen Nedoroscik (USA)</li>
		<li><b>Men's Rings</b> 🥇Gold - You Hao (CHN)</li>
	</ul>
    <br>
	<ul class="podium-list">
		<li><b>Women's Vault</b> 🥇Gold - Valentina Georgieva (BUL)</li>
		<li><b>Women's Uneven Bars</b> 🥇Gold - Kaylia Nemour (ALG)</li>
        <li><b>Women's Beam</b> 🥇Gold - Zhang Qingying (CHN)</li>
		<li><b>Women's Floor Exercise</b> 🥇Gold - Charlize Moerz (AUT)</li>
	</ul>
	<br>
	<a href="documents/finals.pdf" target="_blank" class="pdf">Finals Results</a>
	<a href="documents/resultsbook.pdf" target="_blank" class="pdf">Full Results Book</a>
	<br>

<h2 class="men">Qualifications</h2>
	<a href="documents/quals.pdf" target="_blank" class="pdf">Qualification Results</a>
	<br>