---
title: "2023 Pan American Games Santiago"
year: 2023
startdate: 2023-10-21
enddate: 2023-10-25
country: "CHL"
layout: results
---

{% include resultsheader.html title="2023 Pan American Games<br>Santiago, Chile<br>2023 October 21-25" %}
 
<img src="images/logo.png" alt="Event logo">

<h2 class="wom">Full Results</h2>

<a href="documents/2023_panams_result_book.pdf" target="_blank" class="pdf">2023 Pan Am Games Results Book</a>

<h2 class="wom">Result Event Finals Women</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Rebeca Andrade (BRA)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Zoe Miller (USA)</li>
		<li><b>Beam</b> 🥇Gold - Rebeca Andrade (BRA)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Kaliya Lincoln (USA)</li>
	</ul>
	<br>
	<a href="documents/wag/eventfinal.pdf" target="_blank" class="pdf">Event Finals Women</a>


<h2 class="men">Results Event Finals Men</h2>
	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Felix Dolci (CAN)</li>
		<li><b>Pommel Horse</b> 🥇Gold - Zachary Clay (CAN)</li>
		<li><b>Rings</b> 🥇Gold - Donnell Whittenburg (USA)</li>
		<li><b>Vault</b> 🥇Gold - Audrys Nin Reyes (DOM)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Curran Phillips (USA)</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Arthur Mariano (BRA)</li>
	</ul>
	<br>
	<a href="documents/mag/eventfinal.pdf" target="_blank" class="pdf">Event Finals Men</a>

<h2 class="wom">All-Around Final Women</h2>
<ul class="podium-list">
	<li>🥇Gold - Jordan Chiles (USA)</li>
	<li>🥈Silver - Kayla DiCello (USA)</li>
	<li>🥉Bronze - Flavia Saraiva (BRA)</li>
</ul>
<a href="documents/wag/aafinal.pdf" target="_blank" class="pdf">Results</a>
<a href="documents/wag/aastartlist.pdf" target="_blank" class="pdf">Start List</a>

<h2 class="men">All-Around Final Men</h2>
<ul class="podium-list">
	<li>🥇Gold - Felix Dolci (CAN)</li>
	<li>🥈Silver - Diogo Soares (BRA)</li>
	<li>🥉Bronze - Donnell Whittenburg (USA)</li>
</ul>
<a href="documents/mag/aafinal.pdf" target="_blank" class="pdf">Results</a>
<a href="documents/mag/aastartlist.pdf" target="_blank" class="pdf">Start List</a>

<h2 class="wom">Team Final Women</h2>
<ul class="podium-list">
	<li>🥇Gold - United States of America</li>
	<li>🥈Silver - Brazil</li>
	<li>🥉Bronze - Canada</li>
</ul>
<a href="documents/wag/teamfinal.pdf" target="_blank" class="pdf">Results</a>

<h2 class="men">Team Final Men</h2>
<ul class="podium-list">
	<li>🥇Gold - United States of America</li>
	<li>🥈Silver - Canada</li>
	<li>🥉Bronze - Brazil</li>
</ul>
<a href="documents/mag/teamfinal.pdf" target="_blank" class="pdf">Results</a>

<h2 class="wom">Qualification Women</h2>
<a href="documents/wag/qaa.pdf" target="_blank" class="pdf">All-Around Qualification</a>
<a href="documents/wag/eventqual.pdf" target="_blank" class="pdf">Event Qualifications</a>

<h2 class="men">Qualification Men</h2>
<a href="documents/mag/qaa.pdf" target="_blank" class="pdf">All-Around Qualification</a>
<a href="documents/mag/eventqual.pdf" target="_blank" class="pdf">Event Qualifications</a>

