---
title: "Olympic Hopes Cup 2016 Liberec"
year: 2016
startdate: 2016-11-02
enddate: 2016-11-06
country: "CZE"
category: "olympic-hopes-cup"
layout: results
redirect_from: /2016/eu/cze/olympic-hopes-liberec.html
---

{% include resultsheader.html title="Olympic Hopes Cup 2016<br>Liberec (CZE)<br>2016 Nov 2-6" %}

<img src="images/logo.jpg" alt="Olympic Hopes Cup 2016 Liberec (CZE) 2016 Nov 2-6">
<h2 class="men">Men Finals</h2>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Floor Exercise Finals Men</a>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Pommel Horse Finals Men</a>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Rings Finals Men</a>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Vault Finals Men</a>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Parallel Bars Finals Men</a>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Horizontal Bar Finals Men</a>
<h2 class="wom">Women Finals</h2>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Finals Women</a>
<h2 class="men">Apparatus Finals Start Lists</h2>
	<a href="documents/magafsl.pdf" target="_blank" class="pdf">Apparatus Finals Start Lists Men</a>
	<a href="documents/wagafsl.pdf" target="_blank" class="pdf">Apparatus Finals Start Lists Women</a>
<h2 class="wom">Results Women</h2>
	<a href="documents/wagteams.pdf" target="_blank" class="pdf">Results Women Teams</a>
	<a href="documents/wagaa.pdf" target="_blank" class="pdf">Results Women All-Around</a>
<h2 class="men">Results Men</h2>
	<a href="documents/magteams.pdf" target="_blank" class="pdf">Results Men Teams</a>
	<a href="documents/magaa.pdf" target="_blank" class="pdf">Results Men All-Around</a>
<h2 class="men">Information</h2>
<p><b>Disciplines, categories and age:</b></p>
<ul>
<li>Men&rsquo;s Artistic Gymnastics - Junior 14-17 (1999-2002)</li>
<li>Women&rsquo;s Artistic Gymnastics - Junior 13-15 (2001-2003)</li>
</ul>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday Nov 2</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"><br>09:00-19:00<br>17:00-19:00<br>20:00-20:30</td>
		<td style="width:460px; vertical-align:top;">Arrival<br>Optional training MAG &amp; WAG<br>Accreditation MAG &amp; WAG<br>Technical meeting MAG</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday Nov 3</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">07:30-09:30<br>09:30-12:00<br>13:00<br>13:00-13:50<br>14:00<br>14:15-16:15<br>16:20-17:10<br>17:15-19:15<br>19:30<br>20:00-20:30<br>20:00-22:00</td>
		<td style="width:460px; vertical-align:top;">
Optional training WAG<br>Optional training MAG<br>Judges meeting MAG<br>Warm up MAG (1st Subdivision)<br>Opening ceremony MAG<br>
Competition MAG (1st Subdivision)<br>Warm up MAG (2nd Suddivision)<br>Competition MAG (2nd Subdivision)<br>Award ceremony MAG<br>Technical meeting WAG<br>Optional training WAG</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday Nov 4</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">07:30-09:30<br>09:30-12:00<br>13:00<br>13:00-13:50<br>14:00<br>14:15-16:15<br>16:20-17:10<br>17:15-19:15<br>19:30<br>20:00-20:30<br>20:00-22:00<br></td>
		<td style="width:460px; vertical-align:top;">
Optional training MAG<br>Optional training WAG<br>Judges meeting WAG<br>Warm up WAG (1st Subdivision)<br>Opening ceremony WAG<br>Competition WAG (1st Subdivision)<br>
Warm up WAG (2nd Subdivision)<br>Competition WAG (2nd Subdivision)<br>Award ceremony WAG<br>Technical meeting WAG<br>Optional training WAG
		</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday Nov 5</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">09:00-12:00<br>13:00-13:50<br>13:00<br>14:00-14:30<br>14:30-15:00<br>15:00-15:30<br>15:30-16:00<br>16:00-16:30<br>16:30-17:00<br></td>
		<td style="width:460px; vertical-align:top;">
Optional training MAG &amp; WAG<br>Warm up MAG &amp; WAG<br>Judges meeting MAG &amp; WAG<br>Floor Exercise Final MAG<br>Pommel Horse Final MAG &amp; Vault Final WAG<br>
Rings Final MAG &amp: Uneven Bars Final WAG<br>Vault Final MAG &amp; Beam Final WAG<br>Parallel Bars MAG &amp; Floor Final WAG<br>Horizontal Bar Final MAG
</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday Nov 6</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Departure</td></tr>
</table>
<h2 class="men">Information</h2>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>