BODY {
	background: url("pic/bg3.jpg");
	background-repeat: repeat;
	font-size: "10px";
	margin-top: 5px;
	margin-left: 1px;
}

#nav a {
	display: inline;
	font-size: 10px;
	font-weight: normal;
	color: Navy;
	text-decoration: none;
	text-align: center;
	margin: 5 0 5 0;
	padding: 0.2em 0.2em 0.2em 0.1em;
	background: #ccccff;
	width: 40px;
	}

#nav a:hover {
	color: Fuchsia;
	background: #ffffcc;
	width: 40px;
	}		 

#nav2 a {
	display: inline;
	font-size: 10px;
	font-weight: normal;
	color: Navy;
	text-decoration: none;
	text-align: center;
	margin: 5 0 5 0;
	padding: 0.2em 1em 0.2em 1em;
	background: #ccccff;
	}

#nav2 a:hover {
	color: Fuchsia;
	background: #ffffcc;
	}		 

H1 {font-size: 20px;
	color: Red;
	margin: 4px;
	}

H2 {
	font-size: 12px;
	color: Navy;
	margin: 4px;
}

H3 {
	font-size: 14px;
	margin: 4px;
	font-weight: bold;
	font-family: "Comic Sans MS";
	color: Blue;
}

H4 {
	font-size: 14px;
	margin: 4px;
	font-weight: bold;
	font-family: "Comic Sans MS";
	color: Red;
}

.left {
	text-align: left;
	}

.right {
	text-align: right;
	}

.center {
	text-align: center;
	}

.just {
	text-align: justify;
	}			

.sep {
	background-color: #fffafa;
	width: 100%;
	text-align: right;
}

.adr12 {
	background-color: #E6E6FA;
	color: Navy;
	font-weight: normal;
	font-size: 12px;
	width: 100%;
	padding: 3px;
}

.adr10 {
	font-size: 10px;
	font-weight: normal;
	color: Navy;
	}

.navy { color: 000080; }

.tom { color: ff6347; }

.lsg { color: 20b2aa; }

.teal { color: 008080; }

.brown { color: a52a2a; }

.dor { color: 9932cc;}

.orch { color: da70d6; }

.pink { color: ffc0cb; }

.dpink { color: ff1493; }

.viol { color: ee82ee; }

CAPTION {
	font-size: 15px;
	color: Purple;
	font-weight: bold;
	background: #E6E6FA 100%;
	}		

.waa {
	text-indent: 3px;
	background: #ffffff;
	border: 1px solid Navy;
	}

.maa {
	text-indent: 3px;
	background: #ffffff;
	border: 1px solid Navy;}

TD { font-size: 10px;
	text-align: left;
	}		     

TH {
	font-size: "12px";
	font-weight: "bold";
	text-align: center;
}

TD {
	font-size: 10px;
	}

