BODY {
	background: url("bgrh.jpg") repeat fixed;
	font-size : 12px;
	width: 800px;
	}

h1 {
	margin: 0px 0px 10px 5px;
	}		

h2 {
	margin: 0px 0px 10px 5px;
	}		

h3 {
	font-size: 14px;
	margin: 10px 0px 5px 5px;
}		

CAPTION {
	font-size: 15px;
	color: Purple;
	font-weight: bold;
	background: #E6E6FA 100%;
}		

TH {
	color: #000000;
	font-weight: normal;
}	 	

TD {
	padding: 2px 2px 0px 2px;
	font-size: 10px;
	}

