---
title: "London 2012 Olympics Men's Artistic Gymnastics"
year: 2012
startdate: 2012-07-27
enddate: 2012-08-12
country: "GBR"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /olympics/2012/mag/aaf.html
- /olympics/2012/mag/ef1fx.html
- /olympics/2012/mag/ef2ph.html
- /olympics/2012/mag/ef3sr.html
- /olympics/2012/mag/ef4vt.html
- /olympics/2012/mag/ef5pb.html
- /olympics/2012/mag/ef6hb.html
---
	
{% include resultsheader.html title="Games of the 30th Olympiad<br>London (GBR) July 27 - August 12, 2012<br>Men's Artistic Gymnastics - Finals" %}

<a href="/results/2012/olympics/index.html"><img src="/assets/images/logos/lg2012og.jpg"></a>

<h2 class="men">Team Final - July 30</h2>
    <a href="documents/mag/teamsfinal.pdf" target="_blank" class="pdf">Team Final Men Official Results</a>
	<a href="documents/mag/startlistteamsfinal.pdf" target="_blank" class="pdf">Start List Team Final Men</a>	

<h2 class="men">Individual All-Around Final - August 1</h2>
<div class="table-scroll" tabindex="-1">
	<table class="maa">
<tr class="men">
	<th colspan=3>Gymnast</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr class="one"><td widht="40" align="center">1</td><td width="200">UCHIMURA Kohei</td><td width="30" align="center">JPN</td>
	<td width="60" align="center">6.7<br>8.400<br>15.100</td>
	<td width="60" align="center">6.3<br>8.766<br>15.066</td>
	<td width="60" align="center">6.5<br>8.833<br>15.333</td>
	<td width="60" align="center">6.6<br>9.666<br>16.266</td>
	<td width="60" align="center">6.4<br>8.925<br>15.325</td>
	<td width="60" align="center">6.9<br>8.700<br>15.600</td>
	<td width="60" align="center">92.690</td></tr>
<tr class="two"><td align="center">2</td><td width="250">NGUYEN Marcel</td><td width="30" align="center">GER</td>
	<td width="60" align="center">6.5<br>8.800<br><br>15.300</td>
	<td width="60" align="center">5.4<br>8.266<br><br>13.666</td>
	<td width="60" align="center">6.6<br>8.766<br><br>15.366</td>
	<td width="60" align="center">6.6<br>9.166<br>-0.1<br>15.666</td>
	<td width="60" align="center">6.8<br>9.033<br><br>15.833</td>
	<td width="60" align="center">7.0<br>8.200<br><br>15.200</td>
	<td width="60" align="center">91.031</td></tr>
<tr class="one"><td align="center">3</td><td width="250">LEYVA Danell</td><td width="30" align="center">USA</td>
	<td width="60" align="center">6.3<br>9.066<br>15.366</td>
	<td width="60" align="center">5.1<br>8.400<br>13.500</td>
	<td width="60" align="center">5.9<br>8.833<br>14.733</td>
	<td width="60" align="center">6.2<br>9.366<br>15.566</td>
	<td width="60" align="center">6.6<br>9.233<br>15.833</td>
	<td width="60" align="center">7.2<br>8.500<br>15.700</td>
	<td width="60" align="center">90.698</td></tr>
<tr class="two"><td align="center">4</td><td width="250">KUKSENKOV Mykola</td><td width="30" align="center">UKR</td>
	<td width="60" align="center">5.9<br>8.733<br>14.633</td>
	<td width="60" align="center">5.9<br>8.700<br>14.600</td>
	<td width="60" align="center">6.3<br>8.900<br>15.200</td>
	<td width="60" align="center">6.2<br>9.333<br>15.533</td>
	<td width="60" align="center">6.5<br>8.900<br>15.400</td>
	<td width="60" align="center">7.1<br>7.966<br>15.066</td>
	<td width="60" align="center">90.432</td></tr>
<tr class="one"><td align="center">5</td><td width="250">BELYAVSKIY David</td><td width="30" align="center">RUS</td>
	<td width="60" align="center">6.2<br>8.666<br>-0.4<br>14.466</td>
	<td width="60" align="center">6.1<br>8.766<br><br>14.866</td>
	<td width="60" align="center">5.7<br>9.133<br><br>14.833</td>
	<td width="60" align="center">7.0<br>9.200<br><br>16.200</td>
	<td width="60" align="center">6.4<br>8.766<br><br>15.166</td>
	<td width="60" align="center">6.1<br>8.666<br><br>14.766</td>
	<td width="60" align="center">90.297</td></tr>
<tr class="two"><td align="center">6</td><td width="250">TANAKA Kazuhito</td><td width="30" align="center">JPN</td>
	<td width="60" align="center">5.9<br>8.266<br>14.166</td>
	<td width="60" align="center">5.8<br>7.633<br>13.433</td>
	<td width="60" align="center">6.0<br>9.200<br>15.200</td>
	<td width="60" align="center">6.2<br>9.333<br>15.533</td>
	<td width="60" align="center">6.7<br>8.800<br>15.500</td>
	<td width="60" align="center">6.8<br>8.755<br>15.575</td>
	<td width="60" align="center">89.407</td></tr>
<tr class="one"><td align="center">7</td><td width="250">THOMAS Kristian</td><td width="30" align="center">GBR</td>
	<td width="60" align="center">6.3<br>9.266<br>15.566</td>
	<td width="60" align="center">5.8<br>8.766<br>14.566</td>
	<td width="60" align="center">5.8<br>8.833<br>14.633</td>
	<td width="60" align="center">7.0<br>8.208<br>14.908</td>
	<td width="60" align="center">5.8<br>8.933<br>14.733</td>
	<td width="60" align="center">6.4<br>8.600<br>15.000</td>
	<td width="60" align="center">89.406</td></tr>
<tr class="two"><td align="center">8</td><td width="250">OROZCO John</td><td width="30" align="center">USA</td>
	<td width="60" align="center">6.1<br>9.333<br>15.433</td>
	<td width="60" align="center">5.2<br>7.366<br>12.566</td>
	<td width="60" align="center">6.3<br>8.900<br>15.200</td>
	<td width="60" align="center">6.6<br>9.300<br>15.900</td>
	<td width="60" align="center">6.6<br>8.666<br>15.266</td>
	<td width="60" align="center">6.7<br>8.266<br>14.966</td>
	<td width="60" align="center">89.331</td></tr>
<tr class="one"><td align="center">9</td><td width="250">GONZALEZ Fabian</td><td width="30" align="center">ESP</td>
	<td width="60" align="center">6.3<br>8.300<br>14.600</td>
	<td width="60" align="center">5.9<br>8.833<br>14.733</td>
	<td width="60" align="center">5.3<br>8.666<br>13.966</td>
	<td width="60" align="center">6.6<br>9.533<br>16.133</td>
	<td width="60" align="center">5.6<br>8.800<br>14.400</td>
	<td width="60" align="center">6.7<br>8.466<br>15.166</td>
	<td width="60" align="center">88.998</td></tr>
<tr class="two"><td align="center">10</td><td width="250">SASAKI JUNIOR Sergio</td><td width="30" align="center">BRA</td>
	<td width="60" align="center">5.7<br>8.533<br>14.233</td>
	<td width="60" align="center">5.6<br>8.766<br>14.366</td>
	<td width="60" align="center">5.8<br>8.433<br>14.233</td>
	<td width="60" align="center">6.6<br>9.500<br>16.100</td>
	<td width="60" align="center">6.2<br>9.000<br>15.200</td>
	<td width="60" align="center">6.6<br>8.233<br>14.833</td>
	<td width="60" align="center">88.965</td></tr>
<tr class="one"><td align="center">11</td><td width="250">VERNIAIEV Oleg</td><td width="30" align="center">UKR</td>
	<td width="60" align="center">6.5<br>8.333<br>-0.3<br>14.533</td>
	<td width="60" align="center">6.5<br>7.466<br><br>13.966</td>
	<td width="60" align="center">6.3<br>8.566<br><br>14.866</td>
	<td width="60" align="center">7.0<br>9.233<br><br>16.233</td>
	<td width="60" align="center">6.7<br>8.333<br><br>15.033</td>
	<td width="60" align="center">6.0<br>8.300<br><br>14.300</td>
	<td width="60" align="center">88.931</td></tr>
<tr class="two"><td align="center">12</td><td width="250">SHATILOV Alexander</td><td width="30" align="center">ISR</td>
	<td width="60" align="center">6.7<br>8.900<br><br>15.600</td>
	<td width="60" align="center">5.9<br>8.366<br><br>14.266</td>
	<td width="60" align="center">5.4<br>8.800<br><br>14.200</td>
	<td width="60" align="center">6.2<br>9.033<br>-0.1<br>15.133</td>
	<td width="60" align="center">5.7<br>8.700<br><br>14.400</td>
	<td width="60" align="center">6.3<br>8.533<br><br>14.833</td>
	<td width="60" align="center">88.432</td></tr>
<tr class="one"><td align="center">13</td><td width="250">PURVIS Daniel</td><td width="30" align="center">GBR</td>
	<td width="60" align="center">6.5<br>8.666<br>15.166</td>
	<td width="60" align="center">6.1<br>8.166<br>14.266</td>
	<td width="60" align="center">6.1<br>8.700<br>14.800</td>
	<td width="60" align="center">6.6<br>9.400<br>16.000</td>
	<td width="60" align="center">6.0<br>7.600<br>13.600</td>
	<td width="60" align="center">6.1<br>8.400<br>14.500</td>
	<td width="60" align="center">88.332</td></tr>
<tr class="two"><td align="center">14</td><td width="250">GARIBOV Emin</td><td width="30" align="center">RUS</td>
	<td width="60" align="center">5.5<br>8.975<br><br>14.475</td>
	<td width="60" align="center">5.5<br>8.733<br><br>14.233</td>
	<td width="60" align="center">5.8<br>9.066<br><br>14.866</td>
	<td width="60" align="center">6.2<br>8.933<br>-0.3<br>14.833</td>
	<td width="60" align="center">6.5<br>8.866<br><br>15.366</td>
	<td width="60" align="center">6.7<br>7.533<br><br>14.233</td>
	<td width="60" align="center">88.006</td></tr>
<tr class="one"><td align="center">15</td><td width="250">HAMBUCHEN Fabian</td><td width="30" align="center">GER</td>
	<td width="60" align="center">6.1<br>9.100<br><br>15.200</td>
	<td width="60" align="center">4.8<br>8.466<br><br>13.266</td>
	<td width="60" align="center">5.9<br>8.900<br><br>14.800</td>
	<td width="60" align="center">6.6<br>8.266<br>-0.1<br>14.766</td>
	<td width="60" align="center">6.5<br>8.900<br><br>15.400</td>
	<td width="60" align="center">6.9<br>7.433<br><br>14.333</td>
	<td width="60" align="center">87.765</td></tr>
<tr class="two"><td align="center">16</td><td width="250">TOMMASONE Cyril</td><td width="30" align="center">FRA</td>
	<td width="60" align="center">5.3<br>8.200<br><br>13.500</td>
	<td width="60" align="center">6.5<br>8.833<br><br>15.333</td>
	<td width="60" align="center">5.5<br>8.900<br><br>14.400</td>
	<td width="60" align="center">6.2<br>9.258<br>-0.1<br>15.358</td>
	<td width="60" align="center">6.2<br>8.800<br><br>15.000</td>
	<td width="60" align="center">5.5<br>8.566<br><br>14.066</td>
	<td width="60" align="center">87.657</td></tr>
<tr class="one"><td align="center">17</td><td width="250">CAPELLI Claudio</td><td width="30" align="center">SUI</td>
	<td width="60" align="center">6.0<br>8.866<br>14.866</td>
	<td width="60" align="center">5.8<br>8.566<br>14.366</td>
	<td width="60" align="center">5.5<br>8.666<br>14.166</td>
	<td width="60" align="center">6.6<br>8.266<br>14.566</td>
	<td width="60" align="center">6.1<br>8.750<br>14.850</td>
	<td width="60" align="center">6.3<br>8.200<br>14.500</td>
	<td width="60" align="center">87.314</td></tr>
<tr class="two"><td align="center">18</td><td width="250">POZZO Enrico</td><td width="30" align="center">ITA</td>
	<td width="60" align="center">5.9<br>8.800<br>14.700</td>
	<td width="60" align="center">5.3<br>8.600<br>13.900</td>
	<td width="60" align="center">5.3<br>8.700<br>14.000</td>
	<td width="60" align="center">6.2<br>9.266<br>15.466</td>
	<td width="60" align="center">5.7<br>8.833<br>14.533</td>
	<td width="60" align="center">6.4<br>8.033<br>14.433</td>
	<td width="60" align="center">87.032</td></tr>
<tr class="one"><td align="center">19</td><td width="250">JEFFERIS Joshua</td><td width="30" align="center">AUS</td>
	<td width="60" align="center">5.5<br>8.566<br>14.066</td>
	<td width="60" align="center">5.2<br>8.333<br>13.533</td>
	<td width="60" align="center">6.3<br>8.500<br>14.800</td>
	<td width="60" align="center">6.2<br>9.233<br>15.433</td>
	<td width="60" align="center">6.5<br>8.400<br>14.900</td>
	<td width="60" align="center">6.1<br>8.033<br>14.133</td>
	<td width="60" align="center">86.865</td></tr>
<tr class="two"><td align="center">20</td><td width="250">KIM Soo Myun</td><td width="30" align="center">KOR</td>
	<td width="60" align="center">5.7<br>6.833<br>12.266</td>
	<td width="60" align="center">6.2<br>7.500<br>13.700</td>
	<td width="60" align="center">5.9<br>8.300<br>14.200</td>
	<td width="60" align="center">6.6<br>9.400<br>16.000</td>
	<td width="60" align="center">6.1<br>8.541<br>14.641</td>
	<td width="60" align="center">6.5<br>8.466<br>14.966</td>
	<td width="60" align="center">85.773</td></tr>
<tr class="one"><td align="center">21</td><td width="250">VERBAEYS Jimmy</td><td width="30" align="center">BEL</td>
	<td width="60" align="center">5.8<br>8.133<br>13.933</td>
	<td width="60" align="center">5.6<br>8.433<br>14.033</td>
	<td width="60" align="center">5.5<br>8.500<br>14.000</td>
	<td width="60" align="center">6.2<br>9.166<br>15.266</td>
	<td width="60" align="center">6.3<br>8.533<br>14.833</td>
	<td width="60" align="center">5.7<br>7.466<br>13.166</td>
	<td width="60" align="center">85.231</td></tr>
<tr class="two"><td align="center">22</td><td width="250">OTTAVI Paolo</td><td width="30" align="center">ITA</td>
	<td width="60" align="center">5.6<br>7.066<br>-0.2<br>12.466</td>
	<td width="60" align="center">5.3<br>8.733<br><br>14.033</td>
	<td width="60" align="center">6.3<br>8.716<br><br>15.016</td>
	<td width="60" align="center">5.8<br>9.200<br><br>15.000</td>
	<td width="60" align="center">5.4<br>8.700<br><br>14.100</td>
	<td width="60" align="center">5.8<br>8.233<br><br>14.033</td>
	<td width="60" align="center">84.648</td></tr>
<tr class="one"><td align="center">23</td><td width="250">GOMEZ FUERTES Javier</td><td width="30" align="center">ESP</td>
	<td width="60" align="center">5.9<br>8.366<br>14.266</td>
	<td width="60" align="center">5.6<br>6.833<br>12.433</td>
	<td width="60" align="center">6.2<br>8.600<br>14.800</td>
	<td width="60" align="center">6.2<br>9.266<br>15.466</td>
	<td width="60" align="center">6.0<br>8.733<br>14.733</td>
	<td width="60" align="center">5.4<br>7.333<br>12.733</td>
	<td width="60" align="center">84.431</td></tr>
<tr class="two"><td align="center">24</td><td width="250">KULESZA Roman</td><td width="30" align="center">POL</td>
	<td width="60" align="center">5.2<br>8.666<br><br>13.866</td>
	<td width="60" align="center">4.8<br>8.200<br><br>13.000</td>
	<td width="60" align="center">5.3<br>8.566<br><br>13.866</td>
	<td width="60" align="center">6.2<br>8.500<br>-0.3<br>14.400</td>
	<td width="60" align="center">6.2<br>8.900<br><br>15.100</td>
	<td width="60" align="center">6.3<br>7.600<br><br>13.933</td>
	<td width="60" align="center">84.165</td></tr>
</table>
</div>

<a href="documents/mag/aafinal.pdf" target="_blank" class="pdf">Official Results</a>
<a href="documents/mag/aafsl.pdf" target="_blank" class="pdf">Start List Individual All-Around Final Men</a>

<h2 class="men">Floor Exercise Final Men - August 5</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
<tr class="men"><th colspan=3>Gymnast</th>
	<th>D</th><th>E</th><th>Pen</th><th>Score</th></tr>
<tr class="one"><td width="40" align="center">1 </td><td width="250"> ZOU Kai </td><td width="50" align="center">CHN </td><td width="80" align="center">6.900 </td><td width="80" align="center">9.033 </td><td width="80" align="center"></td><td width="80" align="center">15.933</td></tr>
<tr class="two"><td width="40" align="center">2 </td><td width="250"> UCHIMURA Kohei </td><td width="50" align="center">JPN </td><td width="80" align="center">6.700 </td><td width="80" align="center">9.100 </td><td width="80" align="center"></td><td width="80" align="center">15.800</td></tr>
<tr class="one"><td width="40" align="center">3 </td><td width="250"> ABLYAZIN Denis </td><td width="50" align="center">RUS </td><td width="80" align="center">7.100 </td><td width="80" align="center">8.700 </td><td width="80" align="center"></td><td width="80" align="center">15.800</td></tr>
<tr class="two"><td width="40" align="center">4 </td><td width="250"> GONZALEZ SEPULVEDA Enrique Tomas </td><td width="50" align="center">CHI </td><td width="80" align="center">6.500 </td><td width="80" align="center">8.866 </td><td width="80" align="center"></td><td width="80" align="center">15.366</td></tr>
<tr class="one"><td width="40" align="center">5 </td><td width="250"> DALTON Jacob </td><td width="50" align="center">USA </td><td width="80" align="center">6.400 </td><td width="80" align="center">8.933 </td><td width="80" align="center"></td><td width="80" align="center">15.333</td></tr>
<tr class="two"><td width="40" align="center">6 </td><td width="250"> SHATILOV Alexander </td><td width="50" align="center">ISR </td><td width="80" align="center">6.600 </td><td width="80" align="center">8.733 </td><td width="80" align="center"></td><td width="80" align="center">15.333</td></tr>
<tr class="one"><td width="40" align="center">7 </td><td width="250"> KOCZI Flavius </td><td width="50" align="center">ROU </td><td width="80" align="center">6.700 </td><td width="80" align="center">8.500 </td><td width="80" align="center">0.1 </td><td width="80" align="center">15.100</td></tr>
<tr class="two"><td width="40" align="center">8 </td><td width="250"> NGUYEN Marcel </td><td width="50" align="center">GER </td><td width="80" align="center">6.600 </td><td width="80" align="center">8.466 </td><td width="80" align="center">0.1 </td><td width="80" align="center">14.966</td></tr>
</table>
</div>

<a href="documents/mag/ef1fx.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="men">Pommel Horse Final Men - August 5</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
<tr class="men"><th colspan=3>Gymnast</th>
	<th>D</th><th>E</th><th>Pen</th><th>Score</th></tr>
<tr class="one"><td width="40" align="center">1</td><td width="250">BERKI Krisztian</td><td width="50" align="center">HUN</td><td width="80" align="center">6.900</td><td width="80" align="center">9.166</td><td width="80" align="center"></td><td width="80" align="center">16.066</td></tr>
<tr class="two"><td width="40" align="center">2</td><td width="250">SMITH Louis</td><td width="50" align="center">GBR</td><td width="80" align="center">7.000</td><td width="80" align="center">9.066</td><td width="80" align="center"></td><td width="80" align="center">16.066</td></tr>
<tr class="one"><td width="40" align="center">3</td><td width="250">WHITLOCK Max</td><td width="50" align="center">GBR</td><td width="80" align="center">6.600</td><td width="80" align="center">9.000</td><td width="80" align="center"></td><td width="80" align="center">15.600</td></tr>
<tr class="two"><td width="40" align="center">4</td><td width="250">BUSNARI Alberto</td><td width="50" align="center">ITA</td><td width="80" align="center">6.600</td><td width="80" align="center">8.800</td><td width="80" align="center"></td><td width="80" align="center">15.400</td></tr>
<tr class="one"><td width="40" align="center">5</td><td width="250">TOMMASONE Cyril</td><td width="50" align="center">FRA</td><td width="80" align="center">6.500</td><td width="80" align="center">8.641</td><td width="80" align="center"></td><td width="80" align="center">15.141</td></tr>
<tr class="two"><td width="40" align="center">6</td><td width="250">NAKONECHNYI Vitalii</td><td width="50" align="center">UKR</td><td width="80" align="center">6.300</td><td width="80" align="center">8.466</td><td width="80" align="center"></td><td width="80" align="center">14.766</td></tr>
<tr class="one"><td width="40" align="center">7</td><td width="250">BELYAVSKIY David</td><td width="50" align="center">RUS</td><td width="80" align="center">6.300</td><td width="80" align="center">8.433</td><td width="80" align="center"></td><td width="80" align="center">14.733</td></tr>
<tr class="two"><td width="40" align="center">8</td><td width="250">HIDVEGI Vid</td><td width="50" align="center">HUN</td><td width="80" align="center">6.300</td><td width="80" align="center">8.000</td><td width="80" align="center"></td><td width="80" align="center">14.300</td></tr>
</table>
</div>

<a href="documents/mag/ef2ph.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="men">Rings Final Men - August 6</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
<tr class="men"><th colspan=3>Gymnast</th>
	<th>D</th><th>E</th><th>Pen</th><th>Score</th></tr>
<tr class="one"><td width="40" align="center">1</td><td width="250">NABARRETE ZANETTI Arthur</td><td width="50" align="center">BRA</td><td width="80" align="center">6.800</td><td width="80" align="center">9.100</td><td width="80" align="center"></td><td width="80" align="center">15.900</td></tr>
<tr class="two"><td width="40" align="center">2</td><td width="250">CHEN Yibing</td><td width="50" align="center">CHN</td><td width="80" align="center">6.800</td><td width="80" align="center">9.000</td><td width="80" align="center"></td><td width="80" align="center">15.800</td></tr>
<tr class="one"><td width="40" align="center">3</td><td width="250">MORANDI Matteo</td><td width="50" align="center">ITA</td><td width="80" align="center">6.800</td><td width="80" align="center">8.933</td><td width="80" align="center"></td><td width="80" align="center">15.733</td></tr>
<tr class="two"><td width="40" align="center">4</td><td width="250">BALANDIN Aleksandr</td><td width="50" align="center">RUS</td><td width="80" align="center">6.700</td><td width="80" align="center">8.966</td><td width="80" align="center"></td><td width="80" align="center">15.666</td></tr>
<tr class="one"><td width="40" align="center">5</td><td width="250">ABLYAZIN Denis</td><td width="50" align="center">RUS</td><td width="80" align="center">6.600</td><td width="80" align="center">9.033</td><td width="80" align="center"></td><td width="80" align="center">15.633</td></tr>
<tr class="two"><td width="40" align="center">6</td><td width="250">RAMOS Tommy</td><td width="50" align="center">PUR</td><td width="80" align="center">6.800</td><td width="80" align="center">8.800</td><td width="80" align="center"></td><td width="80" align="center">15.600</td></tr>
<tr class="one"><td width="40" align="center">7</td><td width="250">IOVTCHEV Iordan</td><td width="50" align="center">BUL</td><td width="80" align="center">6.600</td><td width="80" align="center">8.508</td><td width="80" align="center"></td><td width="80" align="center">15.108</td></tr>
<tr class="two"><td width="40" align="center">8</td><td width="250">MOLINARI Federico</td><td width="50" align="center">ARG</td><td width="80" align="center">6.700</td><td width="80" align="center">8.033</td><td width="80" align="center"></td><td width="80" align="center">14.733</td></tr>
</table>	
</div>

<a href="documents/mag/ef3sr.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="men">Vault Final Men - August 6</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
<tr class="men"><th colspan=3>Gymnast</th>
	<th>VT</th><th>D</th><th>E</th><th>Pen</th><th>Vault</th><th>Final</th></tr>
<tr class="one"><td rowspan=2 width="20" align="center" valign="top">1</td><td rowspan="2" width="245" valign="top"> YANG Hak Seon</td><td width="60" align="center" valign="top" rowspan="2">KOR</td><td width="30" align="center">1</td><td width="60" align="center">7.400</td><td width="60" align="center">9.066</td><td width="60" align="center"></td><td width="60" align="center">16.466</td><td rowspan="2" width="80" align="center">16.533</td></tr>
	<tr class="one"><td width="30" align="center">2</td><td width="60" align="center">7.000</td><td width="60" align="center">9.600</td><td width="60" align="center"></td><td width="60" align="center">16.600</td></tr>
<tr class="two"><td rowspan=2 width="20" align="center" valign="top">2</td><td rowspan="2" width="245" valign="top"> ABLYAZIN Denis</td><td width="60" align="center" valign="top" rowspan="2">RUS</td><td width="30" align="center">1</td><td width="60" align="center">7.000</td><td width="60" align="center">9.433</td><td width="60" align="center"></td><td width="60" align="center">16.433</td><td rowspan="2" width="80" align="center">16.399</td></tr>
	<tr class="two"><td width="30" align="center">2</td><td width="60" align="center">7.200</td><td width="60" align="center">9.166</td><td width="60" align="center"></td><td width="60" align="center">16.366</td></tr>
<tr class="one"><td rowspan=2 width="20" align="center" valign="top">3</td><td rowspan="2" width="245" valign="top"> RADIVILOV Igor</td><td width="60" align="center" valign="top" rowspan="2">UKR</td><td width="30" align="center">1</td><td width="60" align="center">7.000</td><td width="60" align="center">9.400</td><td width="60" align="center"></td><td width="60" align="center">16.400</td><td rowspan="2" width="80" align="center">16.316</td></tr>
	<tr class="one"><td width="30" align="center">2</td><td width="60" align="center">7.000</td><td width="60" align="center">9.233</td><td width="60" align="center"></td><td width="60" align="center">16.233</td></tr>
<tr class="two"><td rowspan=2 width="20" align="center" valign="top">4</td><td rowspan="2" width="245" valign="top"> GONZALEZ SEPULVEDA Enrique Tomas</td><td width="60" align="center" valign="top" rowspan="2">CHI</td><td width="30" align="center">1</td><td width="60" align="center">7.000</td><td width="60" align="center">9.400</td><td width="60" align="center"></td><td width="60" align="center">16.400</td><td rowspan="2" width="80" align="center">16.183</td></tr>
	<tr class="two"><td width="30" align="center">2</td><td width="60" align="center">6.600</td><td width="60" align="center">9.366</td><td width="60" align="center"></td><td width="60" align="center">15.966</td></tr>
<tr class="one"><td rowspan=2 width="20" align="center" valign="top">5</td><td rowspan="2" width="245" valign="top"> MIKULAK Samuel</td><td width="60" align="center" valign="top" rowspan="2">USA</td><td width="30" align="center">1</td><td width="60" align="center">7.000</td><td width="60" align="center">9.100</td><td width="60" align="center"></td><td width="60" align="center">16.100</td><td rowspan="2" width="80" align="center">16.050</td></tr>
	<tr class="one"><td width="30" align="center">2</td><td width="60" align="center">6.600</td><td width="60" align="center">9.400</td><td width="60" align="center"></td><td width="60" align="center">16.000</td></tr>
<tr class="two"><td rowspan=2 width="20" align="center" valign="top">6</td><td rowspan="2" width="245" valign="top"> BOTELLA PEREZ Isaac</td><td width="60" align="center" valign="top" rowspan="2">ESP</td><td width="30" align="center">1</td><td width="60" align="center">6.600</td><td width="60" align="center">9.300</td><td width="60" align="center"></td><td width="60" align="center">15.900</td><td rowspan="2" width="80" align="center">15.866</td></tr>
	<tr class="two"><td width="30" align="center">2</td><td width="60" align="center">6.600</td><td width="60" align="center">9.233</td><td width="60" align="center"></td><td width="60" align="center">15.833</td></tr>
<tr class="one"><td rowspan=2 width="20" align="center" valign="top">7</td><td rowspan="2" width="245" valign="top"> KOCZI Flavius</td><td width="60" align="center" valign="top" rowspan="2">ROU</td><td width="30" align="center">1</td><td width="60" align="center">7.000</td><td width="60" align="center">9.200</td><td width="60" align="center">0.1</td><td width="60" align="center">16.100</td><td rowspan="2" width="80" align="center">15.633</td></tr>
	<tr class="one"><td width="30" align="center">2</td><td width="60" align="center">6.200</td><td width="60" align="center">9.066</td><td width="60" align="center">0.1</td><td width="60" align="center">15.166</td></tr>
<tr class="two"><td rowspan=2 width="20" align="center" valign="top">8</td><td rowspan="2" width="245" valign="top"> THOMAS Kristian</td><td width="60" align="center" valign="top" rowspan="2">GBR</td><td width="30" align="center">1</td><td width="60" align="center">7.000</td><td width="60" align="center">9.366</td><td width="60" align="center"></td><td width="60" align="center">16.366</td><td rowspan="2" width="80" align="center">15.533</td></tr>
	<tr class="two"><td width="30" align="center">2</td><td width="60" align="center">6.600</td><td width="60" align="center">8.200</td><td width="60" align="center">0.1</td><td width="60" align="center">14.700</td></tr>
</table>	
</div>

<a href="documents/mag/ef4vt.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="men">Parallel Bars Final Men - August 7</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
<tr class="men"><th colspan=3>Gymnast</th>
	<th>D</th><th>E</th><th>Pen</th><th>Score</th></tr>
<tr class="one"><td width="40" align="center">1 </td><td width="250">FENG Zhe </td><td width="50" align="center">CHN </td><td width="80" align="center">7.000 </td><td width="80" align="center">8.966 </td><td width="80" align="center"></td><td width="80" align="center">15.966</td></tr>
<tr class="two"><td width="40" align="center">2 </td><td width="250">NGUYEN Marcel </td><td width="50" align="center">GER </td><td width="80" align="center">6.800 </td><td width="80" align="center">9.000 </td><td width="80" align="center"></td><td width="80" align="center">15.800</td></tr>
<tr class="one"><td width="40" align="center">3 </td><td width="250">SABOT Hamilton </td><td width="50" align="center">FRA </td><td width="80" align="center">6.700 </td><td width="80" align="center">8.866 </td><td width="80" align="center"></td><td width="80" align="center">15.566</td></tr>
<tr class="two"><td width="40" align="center">4 </td><td width="250">TANAKA Kazuhito </td><td width="50" align="center">JPN </td><td width="80" align="center">6.700 </td><td width="80" align="center">8.800 </td><td width="80" align="center"></td><td width="80" align="center">15.500</td></tr>
<tr class="one"><td width="40" align="center">5 </td><td width="250">CORRAL BARRON Daniel </td><td width="50" align="center">MEX </td><td width="80" align="center">6.600 </td><td width="80" align="center">8.733 </td><td width="80" align="center"></td><td width="80" align="center">15.333</td></tr>
<tr class="two"><td width="40" align="center">6 </td><td width="250">GARIBOV Emin </td><td width="50" align="center">RUS </td><td width="80" align="center">6.500 </td><td width="80" align="center">8.800 </td><td width="80" align="center"></td><td width="80" align="center">15.300</td></tr>
<tr class="one"><td width="40" align="center">6 </td><td width="250">TSOLAKIDIS Vasileios </td><td width="50" align="center">GRE </td><td width="80" align="center">6.500 </td><td width="80" align="center">8.800 </td><td width="80" align="center"></td><td width="80" align="center">15.300</td></tr>
<tr class="two"><td width="40" align="center">8 </td><td width="250">TANAKA Yusuke </td><td width="50" align="center">JPN </td><td width="80" align="center">6.400 </td><td width="80" align="center">8.700 </td><td width="80" align="center"></td><td width="80" align="center">15.100</td></tr>
<tr class="one"><td width="40" align="center">9 </td><td width="250">ZHANG Chenglong </td><td width="50" align="center">CHN </td><td width="80" align="center">6.300 </td><td width="80" align="center">7.508 </td><td width="80" align="center"></td><td width="80" align="center">13.808</td></tr>
</table>	
</div>	

<a href="documents/mag/ef5pb.pdf" target="_blank" class="pdf">Official Results</a>


<h2 class="men">Horizontal Bar Final Men - August 7</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
<tr class="men"><th colspan=3>Gymnast</th>
	<th>D</th><th>E</th><th>Pen</th><th>Score</th></tr>
<tr class="one"><td width="40" align="center">1 </td><td width="250"> ZONDERLAND Epke </td><td width="50" align="center">NED </td><td width="80" align="center">7.900 </td><td width="80" align="center">8.633 </td><td width="80" align="center"></td><td width="80" align="center">16.533</td></tr>
<tr class="two"><td width="40" align="center">2 </td><td width="250"> HAMBUCHEN Fabian </td><td width="50" align="center">GER </td><td width="80" align="center">7.500 </td><td width="80" align="center">8.900 </td><td width="80" align="center"></td><td width="80" align="center">16.400</td></tr>
<tr class="one"><td width="40" align="center">3 </td><td width="250"> ZOU Kai </td><td width="50" align="center">CHN </td><td width="80" align="center">7.900 </td><td width="80" align="center">8.466 </td><td width="80" align="center"></td><td width="80" align="center">16.366</td></tr>
<tr class="two"><td width="40" align="center">4 </td><td width="250"> ZHANG Chenglong </td><td width="50" align="center">CHN </td><td width="80" align="center">7.700 </td><td width="80" align="center">8.566 </td><td width="80" align="center"></td><td width="80" align="center">16.266</td></tr>
<tr class="one"><td width="40" align="center">5 </td><td width="250"> LEYVA Danell </td><td width="50" align="center">USA </td><td width="80" align="center">7.200 </td><td width="80" align="center">8.633 </td><td width="80" align="center"></td><td width="80" align="center">15.833</td></tr>
<tr class="two"><td width="40" align="center">6 </td><td width="250"> HORTON Jonathan </td><td width="50" align="center">USA </td><td width="80" align="center">6.800 </td><td width="80" align="center">8.666 </td><td width="80" align="center"></td><td width="80" align="center">15.466</td></tr>
<tr class="one"><td width="40" align="center">7 </td><td width="250"> GARIBOV Emin </td><td width="50" align="center">RUS </td><td width="80" align="center">7.100 </td><td width="80" align="center">8.233 </td><td width="80" align="center"></td><td width="80" align="center">15.333</td></tr>
<tr class="two"><td width="40" align="center">8 </td><td width="250"> KIM Jihoon </td><td width="50" align="center">KOR </td><td width="80" align="center">7.100 </td><td width="80" align="center">8.033 </td><td width="80" align="center"></td><td width="80" align="center">15.133</td></tr>
</table>	
</div>	

<a href="documents/mag/ef6hb.pdf" target="_blank" class="pdf">Official Results</a>
