---
title: "London 2012 Olympic Qualification"
year: 2012
startdate: 2012-07-27
enddate: 2012-08-12
country: "GBR"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /olympics/2012/ogqualified.html
---
	
{% include resultsheader.html title="Games of the 30th Olympiad<br>London (GBR) July 27 - August 12, 2012<br>Olympic Qualification" %}

<a href="/results/2012/olympics/index.html"><img src="/assets/images/logos/lg2012og.jpg"></a>

<h2 class="wom">Qualified Gymnasts</h2>

	<a href="documents/qualsystem.pdf" target="_blank" class="pdf">Qualification System</a>
	<a href="documents/qualsystemfinal.pdf" target="_blank" class="pdf">Qualification System - Final</a><br>

	<a href="documents/artqualifiers1.pdf" target="_blank" class="pdf">Qualifiers after Tokyo 2011 Worlds</a>
	<a href="documents/mag/ogqualifiers.pdf" target="_blank" class="pdf">Men's Qualifiers after London Test Event</a>
	<a href="documents/wag/ogqualifiers.pdf" target="_blank" class="pdf">Women's Qualifiers after London Test Event</a>

<h2 class="men">Olympic Qualification Begins in Tokyo</h2>
<p>The Olympic qualification process for all gymnastics disciplines changed this quad when a double qualification system was installed. In addition, FIG already makes a cut from the mid-quad full World Championships to the Pre-Olympics World Championships, capping the number of full teams allowed to compete to 24.</p>

<p>The road to London is difficult so we have tried to simplify the process. According to FIG files, to qualify for the Olympics there are five different ways:</p>
<p><strong>I.</strong> 12 MAG and 12 WAG teams of five gymnasts each. These places are allocated to the NOC. Eight teams are qualified from the 2011 World Championships, four  more teams will be qualified at the 2012 Test Event.</p>

<p><strong>II.</strong> MAG and WAG individual apparatus medal winners (gold, silver and bronze) at the 2011 World CHampionships. These places are nominative. The medalists have to reach the 85% average score in at least one (WAG) or two (MAG) other apparatus.</p>
<p><strong>III.</strong> Host country with one male gymnast and one female gymnast. These places are nominative.<br />MAG and WAG Continental Presence: Africa (2 places), America (2 places), Asia (2 places), Europe (2 places including the Host Country) and Oceania (1 place). These places are nominative and are based on 2011 Worlds' results.</p>
<p><strong>IV</strong>. MAG and WAG Tripartite Invitations. These places are nominative. Deadline: 16th January. Compulsory participation at 2011 Worlds or 2012 Test Event.</p>
<p><strong>V.</strong> Best ranked MAG and WAG individual gymnasts. If qualified with one gymnast among NOC (National Olympic Comittee) ranked 5-8 as per the team ranking of CI from 2012 Test Event, the place is allocated to the NOC. If qualified with one gymnast among other NOC the quota place is nominative.</p>

<p>The total number of artistic gymnasts in London will be 98 for both men and women. Based on results from qualifying competition at the 2011 World Championships and the FIG's Complete Qualification System document, <strong>The All Around</strong> has compiled an unofficial list of countries that have already qualified to the Olympics or should be invited to the Test Event in January.</p>
<p>What we know for sure in Men's and Women's gymnastics is:</p>

<p>60 spots for top 12 teams + 4 spots for teams ranked 5-8 in CI at Test Event + 1 tripartite comission + 2 Continental (Africa)</p>

<p>At the Test Event in January the last four full teams and all the individual gymnasts (All Around) will be decided), but depending of Brazil, France and Great Britain qualifying full teams, there are different outcomes:</p>
<p>MAG:<br /> - 25 individual spots will be awarded at the Test Event with current results.<br /> - 25 individual spots: If Great Britain qualifies a full team or individual: No Host Country Invitation.<br /> - 27 individual spots: If Brazil qualifies a full team: Diego Hypolito (floor) and Arthur Zanetti (rings) .<br /> - 26 individual spots: If France qualifies a full team: Cyril Tommasone (Pommel Horse) <br /> - 28 individual spots: If France and Brazil qualify full teams<br /><br />WAG:<br /> - 30 individual spots will be awarded at the Test Event with current results.</span></p>
<table frame="VOID" rules="NONE" border="0" cellspacing="0" cols="12">
<colgroup><col width="26"></col><col width="128"></col><col width="110"></col><col width="47"></col><col width="28"></col><col width="86"></col><col width="86"></col><col width="86"></col><col width="86"></col><col width="35"></col><col width="86"></col><col width="74"></col></colgroup> 
<tbody>
<tr>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000;" height="17" align="CENTER" bgcolor="#E6E6FF" width="26"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-top: 1px solid #000000;" align="LEFT" bgcolor="#E6E6FF" width="128"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-top: 1px solid #000000;" align="CENTER" bgcolor="#E6E6FF" width="110"><span style="font-size: 10pt;">Qualified for</span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER" bgcolor="#E6E6FF" width="47"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-top: 1px solid #000000;" align="CENTER" bgcolor="#E6E6FF" width="28"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-top: 1px solid #000000;" align="LEFT" bgcolor="#E6E6FF" width="86"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-top: 1px solid #000000;" align="LEFT" bgcolor="#E6E6FF" width="86"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-top: 1px solid #000000;" align="LEFT" bgcolor="#E6E6FF" width="86"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-top: 1px solid #000000;" align="LEFT" bgcolor="#E6E6FF" width="86"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-top: 1px solid #000000;" align="LEFT" bgcolor="#E6E6FF" width="35"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-top: 1px solid #000000;" align="LEFT" bgcolor="#E6E6FF" width="86"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT" bgcolor="#E6E6FF" width="74"><span style="font-size: 10pt;"><br /></span></td>
</tr>
<tr>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong>I</strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;">Teams</span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">2012 Olympics</span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #0066cc;">MAG</span></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">8</span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">JPN - USA - CHN - GER - RUS - KOR - ROU - UKR</span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #ff0000;">WAG</span></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">8</span></td>
<td style="border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">USA - RUS - CHN - ROU - JPN - AUS - GER - GBR</span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">2012 Test Event</span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #0066cc;">MAG</span></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">8</span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">FRA - GBR - ESP - CAN - BRA - PUR - ITA - BLR</span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #ff0000;">WAG</span></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">8</span></td>
<td style="border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">ITA - FRA - CAN - ESP - NED - BRA - KOR - BEL</span></td>
</tr>
<tr>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
</tr>
<tr>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong>II</strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;">EF medalists</span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">2012 Olympics</span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #0066cc;">MAG</span></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">FX</span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">3.Diego Hypolito (BRA)* + Alexander Shatilov (ISR) qualified.</span></td>
</tr>
<tr>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" rowspan="2" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #0066cc;"><br /></span></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" rowspan="2" align="CENTER" valign="MIDDLE"><span style="font-size: 10pt;">PH</span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">2.Cyril Tommasone (FRA)* qualified.</span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">Kristian Berki (HUN) gold winner and Louis Smith (GBR) Bronze don't reach criteria.</span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #0066cc;"><br /></span></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">SR</span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">2.Arthur Zanetti (BRA)* qualified.</span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #0066cc;"><br /></span></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">VT</span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">None.</span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #0066cc;"><br /></span></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">PB</span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">2.Vasileios Tsolakidis (GRE) qualified.</span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" colspan="2" align="LEFT"><span style="font-size: 10pt;">*chance of full team qualifying at Test Event</span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #0066cc;"><br /></span></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">HB</span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">None.</span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #ff0000;">WAG</span></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">VT</span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">3.Phan (VIE) qualified.</span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #ff0000;"><br /></span></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">UB</span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">None.</span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #ff0000;"><br /></span></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">BB</span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">None.</span></td>
</tr>
<tr>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">FX</span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">None.</span></td>
</tr>
<tr>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong>III</strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;">Host Country</span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">2012 Olympics</span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #0066cc;">MAG</span></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">0</span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">GBR will get, at least, 1 gymnast qualified with a 5-6 Team finish at C1 at Test Event.</span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #ff0000;">WAG</span></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">0</span></td>
<td style="border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">GBR already qualified as a team.</span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;">Continental Places</span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">2012 Olympics</span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #0066cc;">MAG</span></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">2</span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">Africa - Wajdi Bouallegue (TUN) + EGY  (qualified for the test event)</span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #ff0000;">WAG</span></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">2</span></td>
<td style="border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;">Africa - Salma Mahmoud (EGY) + RSA (qualified for the test event)</span></td>
</tr>
<tr>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;"><em>if the gymnasts from EGY &amp; RSA don't qualify at the Test Event, they will by 2011 ranking</em></span></td>
</tr>
<tr>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong>IV</strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;">Tripartite invitation</span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">2012 Olympics</span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #0066cc;">MAG</span></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">1</span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #ff0000;">WAG</span></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">1</span></td>
<td style="border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
</tr>
<tr>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
</tr>
<tr>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong>V</strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;">Individual</span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">2012 Test Event</span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #0066cc;">MAG</span></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">40</span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="CENTER"><span style="font-size: 10pt;">SUI (2) - AUS (2) - NED (2) - POR (2) - HUN (2) - UZB (2) - COL (2) - KAZ (2)</span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-right: 1px solid #000000;" colspan="7" align="CENTER"><span style="font-size: 10pt;">ISR - CHI -  POL - HKG - CRO - BUL - LUX - LAT - NZL - BEL - AZE - TPE </span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-right: 1px solid #000000;" colspan="7" align="CENTER"><span style="font-size: 10pt;">VIE - VEN - MEX - CZE - SVK - LTU - EGY - GRE - THA - ARG - CYP - ARM </span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><span style="color: #ff0000;">WAG</span></strong></span></td>
<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;">40</span></td>
<td style="border-top: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="CENTER"><span style="font-size: 10pt;">MEX (2) - SUI (2) - UKR (2) - HUN (2) - VEN (2) - UZB (2) - SLO (2) - GRE (2)</span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="19" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-right: 1px solid #000000;" colspan="7" align="CENTER"><span style="font-size: 10pt;">BLR - ISR - GUA - CZE - SWE - POL - AUT - CRO - CHI - COL - HKG - RSA</span></td>
</tr>
<tr>
<td style="border-left: 1px solid #000000;" height="17" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-right: 1px solid #000000;" colspan="7" align="CENTER"><span style="font-size: 10pt;"> VIE - SVK - TUR - POR - SIN - FIN - NZL - KAZ - ARG - DOM - PUR - BUL</span></td>
</tr>
<tr>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000;" height="17" align="CENTER" bgcolor="#E6E6FF"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="LEFT"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><strong><br /></strong></span></td>
<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;" align="CENTER"><span style="font-size: 10pt;"><br /></span></td>
<td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;" colspan="7" align="LEFT"><span style="font-size: 10pt;"><em>as many individuals as necessary to fullfill 98 gymnasts will qualify at the Test Event</em></span></td>
</tr>
</tbody>
</table>


