---
title: "London 2012 Olympics Women's Artistic Gymnastics Qualification"
year: 2012
startdate: 2012-07-27
enddate: 2012-08-12
country: "GBR"
category: "olympics"
layout: results
homepage: false
redirect_from:
 - /olympics/2012/wag/q1vt.html
 - /olympics/2012/wag/q2ub.html
 - /olympics/2012/wag/q3bb.html
 - /olympics/2012/wag/q4fx.html
---
	
{% include resultsheader.html title="Games of the 30th Olympiad<br>London (GBR) July 27 - August 12, 2012<br>Women's Artistic Gymnastics - Qualification" %}

<a href="/results/2012/olympics/index.html"><img src="/assets/images/logos/lg2012og.jpg"></a>

<h2 class="wom">Qualification Women Sunday July 29</h2>
	<a href="documents/wag/qteams.pdf" target="_blank" class="pdf">Teams Qualification Women</a>
	<a href="documents/wag/qaa.pdf" target="_blank" class="pdf">All Around Qualification Women</a>
	<a href="documents/wag/q1vt2.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wag/q2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wag/q3bb.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wag/q4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a><br>

	<a href="documents/wag/tfqualifiers.pdf" target="_blank" class="pdf">Team Final Qualifiers Women</a>
	<a href="documents/wag/aafqualifiers.pdf" target="_blank" class="pdf">All-Around Final Qualifiers Women</a>
	<a href="documents/wag/efqualifiers.pdf" target="_blank" class="pdf">Event Finals Qualifiers Women</a><br>

	<a href="documents/wag/slqual.pdf" target="_blank" class="pdf">Startlist Qualification Women</a>
	<a href="documents/wag/judgesqual.pdf" target="_blank" class="pdf">Judges Assignments Qualification Women</a>

<h2 class="wom">The Draw Artistic Gymnastics Women</h2>
	<a href="documents/wag/drawc1.pdf" target="_blank" class="pdf">Competition C I</a>
	<a href="documents/wag/drawmixed.pdf" target="_blank" class="pdf">Competition C I - Mixed Groups</a>
	<a href="documents/wag/drawc3.pdf" target="_blank" class="pdf">Competition C III</a><br>

	<a href="documents/wag/participants.pdf" target="_blank" class="pdf">Artistic Gymnastics Women Participants</a>