---
title: "London 2012 Olympics Women's Artistic Gymnastics"
year: 2012
startdate: 2012-07-27
enddate: 2012-08-12
country: "GBR"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /olympics/2012/wag/aaf.html
- /olympics/2012/wag/ef1vt.html
- /olympics/2012/wag/ef2ub.html
- /olympics/2012/wag/ef3bb.html
- /olympics/2012/wag/ef4fx.html
---
	
{% include resultsheader.html title="Games of the 30th Olympiad<br>London (GBR) July 27 - August 12, 2012<br>Women's Artistic Gymnastics - Finals" %}

<a href="/results/2012/olympics/index.html"><img src="/assets/images/logos/lg2012og.jpg"></a>

<h2 class="wom">Team Final Women</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
<tr class="wom"><th colspan=3>Team</th><th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>

<!--USA-->
<tr bgcolor="#000000"><td colspan=8 style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" width="50">1</td><td class="rb12">United States of America</td><td align="center" width="50" class="rb12">USA</td>
		<td align="center" width="60" class="rb12">48.132<br>1</td>
		<td align="center" width="60" class="rb12">44.799<br>3</td>
		<td align="center" width="60" class="rb12">45.299<br>1</td>
		<td align="center" width="60" class="rb12">45.366<br>1</td>
		<td align="center" width="60" class="rb12">183.956</td></tr>
<tr class="one"><td align="center">411</td><td>DOUGLAS Gabrielle</td><td align="center">USA</td>
	<td align="center">6.5<br>9.466<br>15.966</td>
	<td align="center">6.5<br>8.700<br>15.200</td>
	<td align="center">6.5<br>8.733<br>15.233</td>
	<td align="center">6.2<br>8.866<br>15.066</td>
	<td align="center">61.465</td></tr>
<tr class="two"><td align="center">412</td><td>MARONEY Mc Kayla</td><td align="center">USA</td>
	<td align="center">6.5<br>9.733<br>16.233</td>
	<td align="center">---</td>
	<td align="center">---</td>
	<td align="center">---</td>
	<td align="center">16.233</td></tr>
<tr class="one"><td align="center">413</td><td>RAISMAN Alexandra</td><td align="center">USA</td>
	<td align="center">---</td>
	<td align="center">---</td>
	<td align="center">6.4<br>8.533<br>14.933</td>
	<td align="center">6.3<br>9.000<br>15.300</td>
	<td align="center">30.233</td></tr>
<tr class="two"><td align="center">414</td><td>ROSS Kyla</td><td align="center">USA</td>
	<td align="center">---</td>
	<td align="center">6.4<br>8.533<br>14.933</td>
	<td align="center">6.1<br>9.033<br>15.133</td>
	<td align="center">---</td>
	<td align="center">30.066</td></tr>
<tr class="one"><td align="center">415</td><td>WIEBER Jordyn</td><td align="center">USA</td>
	<td align="center">6.5<br>9.433<br>15.933</td>
	<td align="center">6.4<br>8.266<br>14.666</td>
	<td align="center">---</td>
	<td align="center">6.0<br>9.000<br>15.000</td>
	<td align="center">45.599</td></tr>
<tr bgcolor="#000000"><td colspan=8 style="height:1px; padding:0px;"></td></tr>

<!--RUS-->
<tr class="team"><td align="center" width="50">2</td><td width="240" class="rb12">Russian Federation</td><td align="center" width="50" class="rb12">RUS</td>
		<td align="center" width="70" class="rb12">46.366<br>2</td>
		<td align="center" width="70" class="rb12">46.166<br>2</td>
		<td align="center" width="70" class="rb12">44.399<br>3</td>
		<td align="center" width="70" class="rb12">41.599<br>6</td>
		<td align="center" width="80" class="rb12">178.530</td></tr>
<tr class="one"><td align="center">401</td><td>AFANASEVA Kseniia</td><td align="center">RUS</td>
	<td align="center">---</td>
	<td align="center">---</td>
	<td align="center">5.8<br>9.033<br>14.833</td>
	<td align="center">6.1<br>8.233<br>14.333</td>
	<td align="center">29.166</td></tr>
<tr class="two"><td align="center">402</td><td>GRISHINA Anastasia</td><td align="center">RUS</td>
	<td align="center">---</td>
	<td align="center">6.3<br>8.400<br>14.700</td>
	<td align="center">---</td>
	<td align="center">4.6<br>7.866<br>12.466</td>
	<td align="center">27.166</td></tr>
<tr class="one"><td align="center">403</td><td>KOMOVA Victoria</td><td align="center">RUS</td>
	<td align="center">6.5<br>9.333<br>15.833</td>
	<td align="center">7.0<br>8.766<br>15.766</td>
	<td align="center">6.5<br>8.533<br>15.033</td>
	<td align="center">---</td>
	<td align="center">46.632</td></tr>
<tr class="two"><td align="center">404</td><td>MUSTAFINA Aliya</td><td align="center">RUS</td>
	<td align="center">5.8<br>9.433<br>15.233</td>
	<td align="center">7.0<br>8.700<br>15.700</td>
	<td align="center">6.2<br>8.333<br>14.533</td>
	<td align="center">8.9<br>8.900<br>14.800</td>
	<td align="center">60.266</td></tr>
<tr class="one"><td align="center">405</td><td>PASEKA Maria</td><td align="center">RUS</td>
	<td align="center">6.5<br>8.800<br>15.300</td>
	<td align="center">---</td>
	<td align="center">---</td>
	<td align="center">---</td>
	<td align="center">15.300</td></tr>
<tr bgcolor="#000000"><td colspan=8 style="height:1px; padding:0px;"></td></tr>

<!--ROU-->
<tr class="team"><td align="center" width="50">3</td><td width="240" class="rb12">Romania</td><td align="center" width="50" class="rb12">ROU</td>
		<td align="center" width="70" class="rb12">45.000<br>3</td>
		<td align="center" width="70" class="rb12">41.465<br>8</td>
		<td align="center" width="70" class="rb12">45.249<br>2</td>
		<td align="center" width="70" class="rb12">44.700<br>2</td>
		<td align="center" width="80" class="rb12">176.414</td></tr>
<tr class="one"><td align="center">391</td><td>BULIMAR Diana Laura</td><td align="center">ROU</td>
	<td align="center">---</td>
	<td align="center">5.7<br>8.366<br>14.066</td>
	<td align="center">5.9<br>8.633<br>14.533</td>
	<td align="center">5.8<br>8.900<br>14.700</td>
	<td align="center">43.299</td></tr>
<tr class="two"><td align="center">392</td><td>CHELARU Diana Maria</td><td align="center">ROU</td>
	<td align="center">---</td>
	<td align="center">5.5<br>8.133<br>13.633</td>
	<td align="center">---</td>
	<td align="center">---</td>
	<td align="center">13.633</td></tr>
<tr class="one"><td align="center">393</td><td>IORDACHE Larisa Andreea</td><td align="center">ROU</td>
	<td align="center">5.8<br>9.000<br>14.800</td>
	<td align="center">5.9<br>7.866<br>13.766</td>
	<td align="center">6.5<br>8.800<br>15.300</td>
	<td align="center">---</td>
	<td align="center">43.866</td></tr>
<tr class="two"><td align="center">394</td><td>IZBASA Sandra Raluca</td><td align="center">ROU</td>
	<td align="center">5.8<br>9.300<br>15.100</td>
	<td align="center">---</td>
	<td align="center">---</td>
	<td align="center">6.3<br>8.900<br>15.200</td>
	<td align="center">30.300</td></tr>
<tr class="one"><td align="center">395</td><td>PONOR Catalina</td><td align="center">ROU</td>
	<td align="center">5.8<br>9.300<br>15.100</td>
	<td align="center">---</td>
	<td align="center">6.3<br>9.116<br>15.416</td>
	<td align="center">6.0<br>8.800<br>14.800</td>
	<td align="center">45.316</td></tr>
<tr bgcolor="#000000"><td colspan=8 style="height:1px; padding:0px;"></td></tr>

<!--CHN-->
<tr class="team"><td align="center" width="50">4</td><td width="240" class="rb12">People's Republic of China</td><td align="center" width="50" class="rb12">CHN</td>
		<td align="center" width="70" class="rb12">44.266<br>5</td>
		<td align="center" width="70" class="rb12">46.399<br>1</td>
		<td align="center" width="70" class="rb12">42.932<br>4</td>
		<td align="center" width="70" class="rb12">40.833<br>7</td>
		<td align="center" width="80" class="rb12">174.430</td></tr>
<tr class="one"><td align="center">331</td><td>DENG Linlin</td><td align="center">CHN</td>
	<td align="center">5.8<br>9.100<br>14.900</td>
	<td align="center">---</td>
	<td align="center">6.4<br>7.366<br>13.766</td>
	<td align="center">5.7<br>8.033<br>13.733</td>
	<td align="center">42.399</td></tr>
<tr class="two"><td align="center">332</td><td>HE Kexin</td><td align="center">CHN</td>
	<td align="center">---</td>
	<td align="center">7.1<br>8.666<br>15.766</td>
	<td align="center">---</td>
	<td align="center">---</td>
	<td align="center">15.766</td></tr>
<tr class="one"><td align="center">333</td><td>HUANG Qiushuang</td><td align="center">CHN</td>
	<td align="center">5.8<br>9.233<br>15.033</td>
	<td align="center">6.6<br>8.500<br>15.100</td>
	<td align="center">5.9<br>7.900<br>13.800</td>
	<td align="center">5.2<br>7.600<br>12.500</td>
	<td align="center">56.433</td></tr>
<tr class="two"><td align="center">334</td><td>SUI Lu</td><td align="center">CHN</td>
	<td align="center">---</td>
	<td align="center">---</td>
	<td align="center">6.6<br>8.766<br>15.366</td>
	<td align="center">5.8<br>8.8<br>14.600</td>
	<td align="center">29.966</td></tr>
<tr class="one"><td align="center">335</td><td>YAO Jinnan</td><td align="center">CHN</td>
	<td align="center">5.8<br>8.533<br>14.333</td>
	<td align="center">6.8<br>8.733<br>15.533</td>
	<td align="center">---</td>
	<td align="center">---</td>
	<td align="center">29.866</td></tr>
<tr bgcolor="#000000"><td colspan=8 style="height:1px; padding:0px;"></td></tr>

<!--CAN-->
<tr class="team"><td align="center" width="50">5</td><td width="240" class="rb12">Canada</td><td align="center" width="50" class="rb12">CAN</td>
		<td align="center" width="70" class="rb12">44.499<br>4</td>
		<td align="center" width="70" class="rb12">42.332<br>6</td>
		<td align="center" width="70" class="rb12">41.199<br>6</td>
		<td align="center" width="70" class="rb12">42.774<br>3</td>
		<td align="center" width="80" class="rb12">170.804</td></tr>
<tr class="one"><td align="center">321</td><td>BLACK Elsabeth</td><td align="center">CAN</td>
	<td align="center">6.3<br>8.933<br>15.233</td>
	<td align="center">---</td>
	<td align="center">5.9<br>8.366<br>14.266</td>
	<td align="center">5.7<br>8.408<br>14.208</td>
	<td align="center"43.707></td></tr>
<tr class="two"><td align="center">322</td><td>MOORS Victoria</td><td align="center">CAN</td>
	<td align="center">---</td>
	<td align="center">5.6<br>8.100<br>13.700</td>
	<td align="center">---</td>
	<td align="center">6.0<br>8.600<br>14.600</td>
	<td align="center">28.300</td></tr>
<tr class="one"><td align="center">323</td><td>PEGG Dominique</td><td align="center">CAN</td>
	<td align="center">5.3<br>9.100<br>14.400</td>
	<td align="center">---</td>
	<td align="center">5.2<br>8.300<br>13.500</td>
	<td align="center">5.7<br>8.266<br>13.966</td>
	<td align="center">41.866</td></tr>
<tr class="two"><td align="center">324</td><td>ROGERS Brittany</td><td align="center">CAN</td>
	<td align="center">5.8<br>9.066<br>14.866</td>
	<td align="center">6.0<br>8.466<br>14.466</td>
	<td align="center">---</td>
	<td align="center">---</td>
	<td align="center">29.332</td></tr>
<tr class="one"><td align="center">325</td><td>VACULIK Kristina</td><td align="center">CAN</td>
	<td align="center">---</td>
	<td align="center">5.8<br>8.366<br>14.166</td>
	<td align="center">5.2<br>8.233<br>13.433</td>
	<td align="center">---</td>
	<td align="center">27.599</td></tr>
<tr bgcolor="#000000"><td colspan=8 style="height:1px; padding:0px;"></td></tr>

<!--GBR-->
<tr class="team"><td align="center" width="50">6</td><td width="240" class="rb12">Great Britain</td><td align="center" width="50" class="rb12">GBR</td>
		<td align="center" width="70" class="rb12">43.965<br>6</td>
		<td align="center" width="70" class="rb12">44.599<br>4</td>
		<td align="center" width="70" class="rb12">39.199<br>8</td>
		<td align="center" width="70" class="rb12">42.732<br>4</td>
		<td align="center" width="80" class="rb12">170.495</td></tr>
<tr class="one"><td align="center">351</td><td>CAIRNS Imogen</td><td align="center">GBR</td>
	<td align="center">5.3<br>8.966<br>14.266</td>
	<td align="center">---</td>
	<td align="center">5.4<br>8.100<br>13.500</td>
	<td align="center">---</td>
	<td align="center">27.766</td></tr>
<tr class="two"><td align="center">352</td><td>PINCHES Jennifer</td><td align="center">GBR</td>
	<td align="center">5.8<br>9.133<br>14.833</td>
	<td align="center">---</td>
	<td align="center">5.5<br>6.333<br>11.833</td>
	<td align="center">5.9<br>8.466<br>14.366</td>
	<td align="center">41.032</td></tr>
<tr class="one"><td align="center">353</td><td>TUNNEY Rebecca</td><td align="center">GBR</td>
	<td align="center">5.8<br>9.066<br>14.866</td>
	<td align="center">6.4<br>8.366<br>14.766</td>
	<td align="center">---</td>
	<td align="center">---</td>
	<td align="center">29.632</td></tr>
<tr class="two"><td align="center">354</td><td>TWEDDLE Elizabeth</td><td align="center">GBR</td>
	<td align="center">---</td>
	<td align="center">6.8<br>9.033<br>15.833</td>
	<td align="center">---</td>
	<td align="center">6.0<br>8.466<br>14.166</td>
	<td align="center">29.999</td></tr>
<tr class="one"><td align="center">355</td><td>WHELAN Hannah</td><td align="center">GBR</td>
	<td align="center">---</td>
	<td align="center">5.8<br>8.200<br>14.000</td>
	<td align="center">6.1<br>7.766<br>13.866</td>
	<td align="center">5.8<br>8.400<br>14.200</td>
	<td align="center">42.066</td></tr>
<tr bgcolor="#000000"><td colspan=8 style="height:1px; padding:0px;"></td></tr>

<!--ITA-->
<tr class="team"><td align="center" width="50">7</td><td width="240" class="rb12">Italy</td><td align="center" width="50" class="rb12">ITA</td>
		<td align="center" width="70" class="rb12">42.366<br>8</td>
		<td align="center" width="70" class="rb12">41.666<br>7</td>
		<td align="center" width="70" class="rb12">41.999<br>5</td>
		<td align="center" width="70" class="rb12">41.899<br>5</td>
		<td align="center" width="80" class="rb12">167.930</td></tr>
<tr class="one"><td align="center">371</td><td>CAMPANA Giorgia</td><td align="center">ITA</td>
	<td align="center">---</td>
	<td align="center">5.9<br>8.000<br>13.900</td>
	<td align="center">---</td>
	<td align="center">---</td>
	<td align="center">13.900</td></tr>
<tr class="two"><td align="center">372</td><td>FASANA Erika</td><td align="center">ITA</td>
	<td align="center">5.3<br>8.533<br>13.733</td>
	<td align="center">5.4<br>8.200<br>13.600</td>
	<td align="center">---</td>
	<td align="center">5.7<br>8.533<br>14.233</td>
	<td align="center">41.566</td></tr>
<tr class="one"><td align="center">373</td><td>FERLITO Carlotta</td><td align="center">ITA</td>
	<td align="center">5.3<br>9.000<br>14.300</td>
	<td align="center">---</td>
	<td align="center">5.9<br>8.466<br>14.366</td>
	<td align="center">5.7<br>8.400<br>14.100</td>
	<td align="center">42.766</td></tr>
<tr class="two"><td align="center">374</td><td>FERRARI Vanessa</td><td align="center">ITA</td>
	<td align="center">5.8<br>8.533<br>14.333</td>
	<td align="center">5.9<br>8.266<br>14.166</td>
	<td align="center">6.1<br>8.700<br>14.800</td>
	<td align="center">6.1<br>7.466<br>13.566</td>
	<td align="center">56.865</td></tr>
<tr class="one"><td align="center">375</td><td>PREZIOSA Elisabetta</td><td align="center">ITA</td>
	<td align="center">---</td>
	<td align="center">---</td>
	<td align="center">5.6<br>7.233<br>12.833</td>
	<td align="center">---</td>
	<td align="center">12.833</td></tr>
<tr bgcolor="#000000"><td colspan=8 style="height:1px; padding:0px;"></td></tr>

<!--JPN-->
<tr class="team"><td align="center" width="50">8</td><td width="240" class="rb12">Japan</td><td align="center" width="50" class="rb12">JPN</td>
		<td align="center" width="70" class="rb12">42.882<br>7</td>
		<td align="center" width="70" class="rb12">42.999<br>5</td>
		<td align="center" width="70" class="rb12">40.599<br>7</td>
		<td align="center" width="70" class="rb12">40.166<br>8</td>
		<td align="center" width="80" class="rb12">166.646</td></tr>
<tr class="one"><td align="center">381</td><td>MINOBE Yu</td><td align="center">JPN</td>
	<td align="center">---</td>
	<td align="center">---</td>
	<td align="center">6.0<br>7.100<br>13.100</td>
	<td align="center">---</td>
	<td align="center">13.100</td></tr>
<tr class="two"><td align="center">382</td><td>SHINTAKE Yuko</td><td align="center">JPN</td>
	<td align="center">---</td>
	<td align="center">---</td>
	<td align="center">5.4<br>7.866<br>13.266</td>
	<td align="center">5.2<br>8.233<br>13.433</td>
	<td align="center">26.699</td></tr>
<tr class="one"><td align="center">383</td><td>TANAKA Rie</td><td align="center">JPN</td>
	<td align="center">5.3<br>9.116<br>14.416</td>
	<td align="center">5.8<br>8.533<br>14.333</td>
	<td align="center">---</td>
	<td align="center">5.0<br>8.133<br>12.833</td>
	<td align="center">41.582</td></tr>
<tr class="two"><td align="center">384</td><td>TERAMOTO Asuka</td><td align="center">JPN</td>
	<td align="center">5.8<br>8.9000<br>14.700</td>
	<td align="center">6.3<br>7.900<br>14.200</td>
	<td align="center">5.6<br>8.633<br>14.233</td>
	<td align="center">5.5<br>8.400<br>13.900</td>
	<td align="center">57.033</td></tr>
<tr class="one"><td align="center">385</td><td>TSURUMI Koko</td><td align="center">JPN</td>
	<td align="center">5.0<br>8.766<br>13.766</td>
	<td align="center">6.4<br>8.066<br>14.466</td>
	<td align="center">---</td>
	<td align="center">---</td>
	<td align="center">28.232</td></tr>
</table>
</div>

<a href="documents/wag/teamsfinal.pdf" target="_blank" class="pdf">Team Final Official Results</a>
<a href="documents/wag/startlistteamsfinal.pdf" target="_blank" class="pdf">Team Final Start List</a>

<h2 class="wom">All-Around Final Women Results</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
<tr bgcolor="#000000"><td colspan=8 style="height:1px; padding:0px;"></td></tr>
<tr class="wom"><th colspan="3">Gymnast</th>
		<th align="center" width="70">VT</th>
		<th align="center" width="70">UB</th>
		<th align="center" width="70">BB</th>
		<th align="center" width="70">FX</th>
		<th align="center" width="80">Total</th></tr>
<tr class="one"><td align="center" width="50">1</td><td width="200">DOUGLAS Gabrielle</td><td width="50" align="center">USA</td>
	<td align="center">6.5<br>9.466<br>15.966</td>
	<td align="center">6.6<br>9.133<br>15.733</td>
	<td align="center">6.5<br>9.000<br>15.500</td>
	<td align="center">6.1<br>8.933<br>15.033</td>
	<td align="center">62.232</td></tr>
<tr class="two"><td align="center">2</td><td>KOMOVA Victoria</td><td align="center">RUS</td>
	<td align="center">6.5<br>9.066<br>15.466</td>
	<td align="center">7.0<br>8.966<br>15.966</td>
	<td align="center">6.4<br>9.041<br>15.441</td>
	<td align="center">6.0<br>9.100<br>15.100</td>
	<td align="center">61.973</td></tr>
<tr class="one"><td align="center">3</td><td>MUSTAFINA Aliya</td><td align="center">RUS</td>
	<td align="center">5.8<br>9.433<br>15.233</td>
	<td align="center">7.0<br>9.100<br>16.100</td>
	<td align="center">6.1<br>7.533<br>13.633</td>
	<td align="center">5.9<br>8.700<br>14.600</td>
	<td align="center">59.566</td></tr>
<tr class="two"><td align="center">4</td><td>RAISMAN Alexandra</td><td align="center">USA</td>
	<td align="center">6.5<br>9.400<br>15.900</td>
	<td align="center">5.9<br>8.433<br>14.333</td>
	<td align="center">6.2<br>8.000<br>14.200</td>
	<td align="center">6.3<br>8.833<br>15.133</td>
	<td align="center">59.566</td></tr>
<tr class="one"><td align="center">5</td><td>IZBASA Sandra Raluca</td><td align="center">ROU</td>
	<td align="center">6.1<br>9.233<br>15.333</td>
	<td align="center">5.8<br>8.100<br>13.900</td>
	<td align="center">5.7<br>8.700<br>14.400</td>
	<td align="center">6.3<br>8.900<br>15.200</td>
	<td align="center">58.833</td></tr>
<tr class="two"><td align="center">6</td><td>DENG Linlin</td><td align="center">CHN</td>
	<td align="center">5.8<br>9.100<br>14.900</td>
	<td align="center">6.1<br>8.166<br>14.266</td>
	<td align="center">6.4<br>8.900<br>15.300</td>
	<td align="center">5.7<br>8.233<br>13.933</td>
	<td align="center">58.399</td></tr>
<tr class="one"><td align="center">7</td><td>HUANG Qiushuang</td><td align="center">CHN</td>
	<td align="center">5.8<br>9.116<br>14.916</td>
	<td align="center">6.6<br>8.533<br>15.133</td>
	<td align="center">5.9<br>8.233<br>14.133</td>
	<td align="center">5.3<br>8.633<br>13.933</td>
	<td align="center">58.115</td></tr>
<tr class="two"><td align="center">8</td><td>FERRARI Vanessa</td><td align="center">ITA</td>
	<td align="center">5.8<br>8.800<br>14.600</td>
	<td align="center">5.8<br>8.233<br>14.033</td>
	<td align="center">6.1<br>8.400<br>14.500</td>
	<td align="center">6.2<br>8.666<br>14.866</td>
	<td align="center">57.999</td></tr>
<tr class="one"><td align="center">9</td><td>IORDACHE Larisa Andreea</td><td align="center">ROU</td>
	<td align="center">5.8<br>9.133<br>14.933</td>
	<td align="center">5.9<br>8.333<br>14.233</td>
	<td align="center">6.5<br>8.466<br>14.966</td>
	<td align="center">5.6<br>8.533<br>13.833</td>
	<td align="center">57.965</td></tr>
<tr class="two"><td align="center">10</td><td>SEITZ Elisabeth</td><td align="center">GER</td>
	<td align="center">5.8<br>8.966<br>14.766</td>
	<td align="center">6.7<br>8.466<br>15.166</td>
	<td align="center">5.6<br>8.200<br>13.800</td>
	<td align="center">5.5<br>8.233<br>13.633</td>
	<td align="center">57.365</td></tr>
<tr class="one"><td align="center">11</td><td>TERAMOTO Asuka</td><td align="center">JPN</td>
	<td align="center">5.8<br>8.966<br>14.766</td>
	<td align="center">6.3<br>8.000<br>14.300</td>
	<td align="center">5.7<br>8.600<br>14.300</td>
	<td align="center">5.5<br>8.466<br>13.966</td>
	<td align="center">57.332</td></tr>
<tr class="two"><td align="center">12</td><td>Van GERNER Celine</td><td align="center">NED</td>
	<td align="center">5.3<br>8.933<br>-0.1<br>14.133</td>
	<td align="center">6.2<br>8.766<br><br>14.966</td>
	<td align="center">5.9<br>8.233<br><br>14.133</td>
	<td align="center">5.4<br>8.700<br>-0.1<br>14.000</td>
	<td align="center">57.232</td></tr>
<tr class="one"><td align="center">13</td><td>TUNNEY Rebecca</td><td align="center">GBR</td>
	<td align="center">5.8<br>9.066<br>14.866</td>
	<td align="center">6.4<br>8.600<br>15.000</td>
	<td align="center">5.1<br>8.033<br>13.133</td>
	<td align="center">5.7<br>8.233<br>13.933</td>
	<td align="center">56.932</td></tr>
<tr class="two"><td align="center">14</td><td>STEINGRUBER Giulia</td><td align="center">SUI</td>
	<td align="center">6.3<br>8.816<br><br>15.116</td>
	<td align="center">5.7<br>7.900<br><br>13.600</td>
	<td align="center">5.8<br>8.366<br><br>14.166</td>
	<td align="center">5.5<br>7.866<br>-0.1<br>13.266</td>
	<td align="center">56.148</td></tr>
<tr class="one"><td align="center">15</td><td>LITTLE Emily</td><td align="center">AUS</td>
	<td align="center">5.8<br>9.066<br>14.866</td>
	<td align="center">5.4<br>8.533<br>13.933</td>
	<td align="center">5.5<br>8.166<br>13.666</td>
	<td align="center">5.3<br>8.000<br>13.300</td>
	<td align="center">55.765</td></tr>
<tr class="two"><td align="center">16</td><td>TANAKA Rie</td><td align="center">JPN</td>
	<td align="center">5.3<br>8.866<br><br>14.166</td>
	<td align="center">5.8<br>8.700<br><br>14.500</td>
	<td align="center">5.5<br>8.200<br><br>13.700</td>
	<td align="center">5.2<br>8.166<br>-0.1<br>13.266</td>
	<td align="center">55.632</td></tr>
<tr class="one"><td align="center">17</td><td>PEGG Dominique</td><td align="center">CAN</td>
	<td align="center">5.3<br>9.266<br>14.566</td>
	<td align="center">5.6<br>8.200<br>13.800</td>
	<td align="center">5.1<br>8.066<br>13.166</td>
	<td align="center">5.7<br>8.333<br>14.033</td>
	<td align="center">55.565</td></tr>
<tr class="two"><td align="center">18</td><td>LOPEZ Jessica</td><td align="center">VEN</td>
	<td align="center">5.8<br>9.000<br>14.800</td>
	<td align="center">5.3<br>8.600<br>13.900</td>
	<td align="center">5.5<br>7.500<br>13.000</td>
	<td align="center">5.6<br>8.200<br>13.800</td>
	<td align="center">55.500</td></tr>
<tr class="one"><td align="center">19</td><td>PIHAN-KULESZA Marta</td><td align="center">POL</td>
	<td align="center">5.0<br>8.933<br>13.933</td>
	<td align="center">5.7<br>8.633<br>14.333</td>
	<td align="center">5.6<br>7.333<br>12.933</td>
	<td align="center">5.7<br>8.566<br>14.266</td>
	<td align="center">55.465</td></tr>
<tr class="two"><td align="center">20</td><td>BRENNAN Ashleigh</td><td align="center">AUS</td>
	<td align="center">5.5<br>7.733<br>13.233</td>
	<td align="center">5.4<br>8.133<br>13.533</td>
	<td align="center">5.9<br>8.500<br>14.400</td>
	<td align="center">5.8<br>8.366<br>14.166</td>
	<td align="center">55.332</td></tr>
<tr class="one"><td align="center">21</td><td>FERLITO Carlotta</td><td align="center">ITA</td>
	<td align="center">5.3<br>8.866<br>14.166</td>
	<td align="center">5.1<br>8.333<br>13.433</td>
	<td align="center">6.1<br>8.666<br>14.766</td>
	<td align="center">5.5<br>7.233<br>12.733</td>
	<td align="center">55.098</td></tr>
<tr class="two"><td align="center">22</td><td>GOMEZ PORRAS Ana Sofia</td><td align="center">GUA</td>
	<td align="center">5.8<br>8.833<br><br>14.633</td>
	<td align="center">5.8<br>7.933<br><br>13.733</td>
	<td align="center">5.8<br>7.333<br><br>13.133</td>
	<td align="center">5.5<br>8.100<br>-0.2<br>13.400</td>
	<td align="center">54.899</td></tr>
<tr class="one"><td align="center">23</td><td>MALAUSSENA Aurelie</td><td align="center">FRA</td>
	<td align="center">5.4<br>8.400<br><br>13.800</td>
	<td align="center">5.8<br>7.000<br><br>12.800</td>
	<td align="center">5.8<br>6.266<br><br>12.066</td>
	<td align="center">5.1<br>7.100<br>-0.7<br>11.500</td>
	<td align="center">50.166</td></tr>
<tr class="two"><td align="center">24</td><td>WHELAN Hannah</td><td align="center">GBR</td>
	<td align="center">0.000</td>
	<td align="center">5.8<br>8.366<br>14.166</td>
	<td align="center">5.7<br>8.000<br>13.700</td>
	<td align="center">5.8<br>8.333<br>14.133</td>
	<td align="center">41.999</td></tr>
</table>
</div>

<a href="documents/wag/aafinal.pdf" target="_blank" class="pdf">All Around Final Official Results</a>
<a href="documents/wag/aafsl.pdf" target="_blank" class="pdf">All Around Final Start List</a>

<h2 class="wom">Vault Final Women - August 5</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
<tr class="wom"><th colspan=3>Gymnast</th>
	<th>VT</th><th>D</th><th>E</th><th>Pen</th><th>Vault</th><th>Final</th></tr>
<tr class="one"><td rowspan=2 width="20" align="center" valign="top">1</td><td rowspan="2" width="245" valign="top"> IZBASA Sandra Raluca</td><td width="60" align="center" valign="top" rowspan="2">ROU</td><td width="30" align="center">1</td><td width="60" align="center">6.100</td><td width="60" align="center">9.283</td><td width="60" align="center"></td><td width="60" align="center">15.383</td><td rowspan="2" width="80" align="center">15.191</td></tr>
	<tr class="one"><td width="30" align="center">2</td><td width="60" align="center">5.800</td><td width="60" align="center">9.200</td><td width="60" align="center"></td><td width="60" align="center">15.000</td></tr>
<tr class="two"><td rowspan=2 width="20" align="center" valign="top">2</td><td rowspan="2" width="245" valign="top"> MARONEY Mc Kayla</td><td width="60" align="center" valign="top" rowspan="2">USA</td><td width="30" align="center">1</td><td width="60" align="center">6.500</td><td width="60" align="center">9.666</td><td width="60" align="center">0.3</td><td width="60" align="center">15.866</td><td rowspan="2" width="80" align="center">15.083</td></tr>
	<tr class="two"><td width="30" align="center">2</td><td width="60" align="center">6.100</td><td width="60" align="center">8.200</td><td width="60" align="center"></td><td width="60" align="center">14.300</td></tr>
<tr class="one"><td rowspan=2 width="20" align="center" valign="top">3</td><td rowspan="2" width="245" valign="top"> PASEKA Maria</td><td width="60" align="center" valign="top" rowspan="2">RUS</td><td width="30" align="center">1</td><td width="60" align="center">6.500</td><td width="60" align="center">8.900</td><td width="60" align="center"></td><td width="60" align="center">15.400</td><td rowspan="2" width="80" align="center">15.050</td></tr>
	<tr class="one"><td width="30" align="center">2</td><td width="60" align="center">5.600</td><td width="60" align="center">9.100</td><td width="60" align="center"></td><td width="60" align="center">14.700</td></tr>
<tr class="two"><td rowspan=2 width="20" align="center" valign="top">4</td><td rowspan="2" width="245" valign="top"> BERGER Janine</td><td width="60" align="center" valign="top" rowspan="2">GER</td><td width="30" align="center">1</td><td width="60" align="center">6.300</td><td width="60" align="center">8.833</td><td width="60" align="center"></td><td width="60" align="center">15.133</td><td rowspan="2" width="80" align="center">15.016</td></tr>
	<tr class="two"><td width="30" align="center">2</td><td width="60" align="center">6.000</td><td width="60" align="center">8.900</td><td width="60" align="center"></td><td width="60" align="center">14.900</td></tr>
<tr class="one"><td rowspan=2 width="20" align="center" valign="top">5</td><td rowspan="2" width="245" valign="top"> CHUSOVITINA Oksana</td><td width="60" align="center" valign="top" rowspan="2">GER</td><td width="30" align="center">1</td><td width="60" align="center">6.300</td><td width="60" align="center">8.800</td><td width="60" align="center"></td><td width="60" align="center">15.100</td><td rowspan="2" width="80" align="center">14.783</td></tr>
	<tr class="one"><td width="30" align="center">2</td><td width="60" align="center">5.500</td><td width="60" align="center">8.966</td><td width="60" align="center"></td><td width="60" align="center">14.466</td></tr>
<tr class="two"><td rowspan=2 width="20" align="center" valign="top">6</td><td rowspan="2" width="245" valign="top"> PENA ABREU Yamilet</td><td width="60" align="center" valign="top" rowspan="2">DOM</td><td width="30" align="center">1</td><td width="60" align="center">7.100</td><td width="60" align="center">7.566</td><td width="60" align="center">0.1</td><td width="60" align="center">14.566</td><td rowspan="2" width="80" align="center">14.516</td></tr>
	<tr class="two"><td width="30" align="center">2</td><td width="60" align="center">5.800</td><td width="60" align="center">8.666</td><td width="60" align="center"></td><td width="60" align="center">14.466</td></tr>
<tr class="one"><td rowspan=2 width="20" align="center" valign="top">7</td><td rowspan="2" width="245" valign="top"> ROGERS Brittany</td><td width="60" align="center" valign="top" rowspan="2">CAN</td><td width="30" align="center">1</td><td width="60" align="center">5.800</td><td width="60" align="center">8.966</td><td width="60" align="center"></td><td width="60" align="center">14.766</td><td rowspan="2" width="80" align="center">14.483</td></tr>
	<tr class="one"><td width="30" align="center">2</td><td width="60" align="center">5.600</td><td width="60" align="center">8.600</td><td width="60" align="center"></td><td width="60" align="center">14.200</td></tr>
<tr class="two"><td rowspan=2 width="20" align="center" valign="top">8</td><td rowspan="2" width="245" valign="top"> BLACK Elsabeth</td><td width="60" align="center" valign="top" rowspan="2">CAN</td><td width="30" align="center">1</td><td width="60" align="center">0.000</td><td width="60" align="center">0.000</td><td width="60" align="center"></td><td width="60" align="center">0.000</td><td rowspan="2" width="80" align="center">0.000</td></tr>
	<tr class="two"><td width="30" align="center">2</td><td width="60" align="center">0.000</td><td width="60" align="center">0.000</td><td width="60" align="center"></td><td width="60" align="center">0.000</td></tr>
<tr bgcolor="#000000"><td colspan=9 style="height:1px; padding:0px;"></td></tr>
</table>	
</div>

<a href="documents/wag/ef1vt.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Uneven Bars Final Women - August 6</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
<tr class="wom"><th colspan=3>Gymnast</th>
	<th>D</th><th>E</th><th>Pen</th><th>Score</th></tr>
<tr class="one"><td width="40" align="center">1</td><td width="250">MUSTAFINA Aliya</td><td width="50" align="center">RUS</td><td width="80" align="center">7.000</td><td width="80" align="center">9.133</td><td width="80" align="center"></td><td width="80" align="center">16.133</td></tr>
<tr class="two"><td width="40" align="center">2</td><td width="250">HE Kexin</td><td width="50" align="center">CHN</td><td width="80" align="center">7.100</td><td width="80" align="center">8.833</td><td width="80" align="center"></td><td width="80" align="center">15.933</td></tr>
<tr class="one"><td width="40" align="center">3</td><td width="250">TWEDDLE Elizabeth</td><td width="50" align="center">GBR</td><td width="80" align="center">7.000</td><td width="80" align="center">8.916</td><td width="80" align="center"></td><td width="80" align="center">15.916</td></tr>
<tr class="two"><td width="40" align="center">4</td><td width="250">YAO Jinnan</td><td width="50" align="center">CHN</td><td width="80" align="center">6.800</td><td width="80" align="center">8.966</td><td width="80" align="center"></td><td width="80" align="center">15.766</td></tr>
<tr class="one"><td width="40" align="center">5</td><td width="250">KOMOVA Victoria</td><td width="50" align="center">RUS</td><td width="80" align="center">7.000</td><td width="80" align="center">8.666</td><td width="80" align="center"></td><td width="80" align="center">15.666</td></tr>
<tr class="two"><td width="40" align="center">6</td><td width="250">SEITZ Elisabeth</td><td width="50" align="center">GER</td><td width="80" align="center">6.700</td><td width="80" align="center">8.566</td><td width="80" align="center"></td><td width="80" align="center">15.266</td></tr>
<tr class="one"><td width="40" align="center">7</td><td width="250">TSURUMI Koko</td><td width="50" align="center">JPN</td><td width="80" align="center">6.400</td><td width="80" align="center">8.566</td><td width="80" align="center"></td><td width="80" align="center">14.966</td></tr>
<tr class="two"><td width="40" align="center">8</td><td width="250">DOUGLAS Gabrielle</td><td width="50" align="center">USA</td><td width="80" align="center">6.300</td><td width="80" align="center">8.600</td><td width="80" align="center"></td><td width="80" align="center">14.900</td></tr>
</table>
</div>

<a href="documents/wag/ef2ub.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Beam Final Women - August 7</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
<tr class="wom"><th colspan=3>Gymnast</th>
	<th>D</th><th>E</th><th>Pen</th><th>Score</th></tr>
<tr class="one"><td width="40" align="center">1 </td><td width="250"> DENG Linlin </td><td width="50" align="center">CHN </td><td width="80" align="center">6.600 </td><td width="80" align="center">9.000 </td><td width="80" align="center"></td><td width="80" align="center">15.600</td></tr>
<tr class="two"><td width="40" align="center">2 </td><td width="250"> SUI Lu </td><td width="50" align="center">CHN </td><td width="80" align="center">6.500 </td><td width="80" align="center">9.000 </td><td width="80" align="center"></td><td width="80" align="center">15.500</td></tr>
<tr class="one"><td width="40" align="center">3 </td><td width="250"> RAISMAN Alexandra </td><td width="50" align="center">USA </td><td width="80" align="center">6.300 </td><td width="80" align="center">8.766 </td><td width="80" align="center"></td><td width="80" align="center">15.066</td></tr>
<tr class="two"><td width="40" align="center">4 </td><td width="250"> PONOR Catalina </td><td width="50" align="center">ROU </td><td width="80" align="center">6.600 </td><td width="80" align="center">8.466 </td><td width="80" align="center"></td><td width="80" align="center">15.066</td></tr>
<tr class="one"><td width="40" align="center">5 </td><td width="250"> AFANASEVA Kseniia </td><td width="50" align="center">RUS </td><td width="80" align="center">5.800 </td><td width="80" align="center">8.783 </td><td width="80" align="center"></td><td width="80" align="center">14.583</td></tr>
<tr class="two"><td width="40" align="center">6 </td><td width="250"> IORDACHE Larisa Andreea </td><td width="50" align="center">ROU </td><td width="80" align="center">6.400 </td><td width="80" align="center">7.800 </td><td width="80" align="center"></td><td width="80" align="center">14.200</td></tr>
<tr class="one"><td width="40" align="center">7 </td><td width="250"> DOUGLAS Gabrielle </td><td width="50" align="center">USA </td><td width="80" align="center">6.000 </td><td width="80" align="center">7.633 </td><td width="80" align="center"></td><td width="80" align="center">13.633</td></tr>
<tr class="two"><td width="40" align="center">8 </td><td width="250"> KOMOVA Victoria </td><td width="50" align="center">RUS </td><td width="80" align="center">6.200 </td><td width="80" align="center">6.966 </td><td width="80" align="center"></td><td width="80" align="center">13.166</td></tr>
</table>	
</div>

<a href="documents/wag/ef3bb.pdf" target="_blank" class="pdf">Official Results</a>

<div style="text-align:left; padding:15px;">
BIB 413 RAISMAN Alexandra (USA)<br><br>
Change of D score - Old final score 14.966 and new final score 15.066. These changes are reflected in the final results<br><br>	

<strong>Tie - Break Report</strong><br><br>
Rank Bib Name NOC Total Execution Score<br>
3 413 RAISMAN Alexandra USA 15.066 <strong>8.766</strong><br>
4 395 PONOR Catalina ROU 15.066 8.466<br><br>
Tie-break rules<br>
Ties will be broken by the following criteria:<br>
1. The highest Execution score<br>
2. The highest Difficulty score<br>
3. If the gymnasts remain tied they will share the same classification<br><br>
</div>

<h2 class="wom">Floor Exercise Final Women - August 7</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
<tr class="wom"><th colspan=3>Gymnast</th>
	<th>D</th><th>E</th><th>Pen</th><th>Score</th></tr>
<tr class="one"><td width="40" align="center">1 </td><td width="250"> RAISMAN Alexandra </td><td width="50" align="center">USA </td><td width="80" align="center">6.500 </td><td width="80" align="center">9.100 </td><td width="80" align="center"></td><td width="80" align="center">15.600</td></tr>
<tr class="two"><td width="40" align="center">2 </td><td width="250"> PONOR Catalina </td><td width="50" align="center">ROU </td><td width="80" align="center">6.200 </td><td width="80" align="center">9.000 </td><td width="80" align="center"></td><td width="80" align="center">15.200</td></tr>
<tr class="one"><td width="40" align="center">3 </td><td width="250"> MUSTAFINA Aliya </td><td width="50" align="center">RUS </td><td width="80" align="center">5.900 </td><td width="80" align="center">9.000 </td><td width="80" align="center"></td><td width="80" align="center">14.900</td></tr>
<tr class="two"><td width="40" align="center">4 </td><td width="250"> FERRARI Vanessa </td><td width="50" align="center">ITA </td><td width="80" align="center">6.200 </td><td width="80" align="center">8.700 </td><td width="80" align="center"></td><td width="80" align="center">14.900</td></tr>
<tr class="one"><td width="40" align="center">5 </td><td width="250"> MITCHELL Lauren </td><td width="50" align="center">AUS </td><td width="80" align="center">6.400 </td><td width="80" align="center">8.433 </td><td width="80" align="center"></td><td width="80" align="center">14.833</td></tr>
<tr class="two"><td width="40" align="center">6 </td><td width="250"> AFANASEVA Kseniia </td><td width="50" align="center">RUS </td><td width="80" align="center">6.100 </td><td width="80" align="center">8.666 </td><td width="80" align="center">0.2 </td><td width="80" align="center">14.566</td></tr>
<tr class="one"><td width="40" align="center">7 </td><td width="250"> WIEBER Jordyn </td><td width="50" align="center">USA </td><td width="80" align="center">6.100 </td><td width="80" align="center">8.500 </td><td width="80" align="center">0.1 </td><td width="80" align="center">14.500</td></tr>
<tr class="two"><td width="40" align="center">8 </td><td width="250"> IZBASA Sandra Raluca </td><td width="50" align="center">ROU </td><td width="80" align="center">5.600 </td><td width="80" align="center">8.033 </td><td width="80" align="center">0.3 </td><td width="80" align="center">13.333</td></tr>
</table>	
</div>

<a href="documents/wag/ef4fx.pdf" target="_blank" class="pdf">Official Results</a>
