---
title: "2024 U.S. Olympic Trials"
year: 2024
startdate: 2024-05-30
enddate: 2024-06-02
country: "USA"
layout: results
---

{% include resultsheader.html title="2024 U.S. Olympic Trials<br>Fort Worth, Texas | Dickies Arena<br>May 30 - June 2, 2024" %}

<img src="images/logo.webp" alt="2024 US Championships logo">

<h2 class="wom">Women's Olympic Team</h2>
<p>The team was named as:</p>
<ul class="podium-list">
	<li>- Simone Biles</li>
	<li>- Jordan Chiles</li>
	<li>- Jade Carey</li>
	<li>- Suni Lee</li>
	<li>- Hezly Rivera</li>
</ul>
<p>The alternates were:</p>
<ul class="podium-list">
	<li>- Traveling - Leanne Wong, Joscelyn Roberson</li>
	<li>- Non-traveling - Kaliya Lincoln, Tiana Sumanasekera</li>
</ul>

<h2 class="men">Men's Olympic Team</h2>
<p>The team was named as:</p>
<ul class="podium-list">
	<li>- Frederick Richard</li>
	<li>- Brody Malone</li>
	<li>- Paul Juda</li>
	<li>- Asher Hong</li>
	<li>- Stephen Nedoroscik</li>
</ul>
<p>The alternates were:</p>
<ul class="podium-list">
	<li>- Traveling - Khoi Young, Shane Wiskus</li>
	<li>- Non-traveling - Donnell Whittenburg, Yul Moldauer, Patrick Hoopes</li>
</ul>

<h2 class="wom">Results Women Senior Day 2</h2>
	<a href="documents/wagaa.pdf" target="_blank" class="pdf">Results Women Senior All-Around</a>
	<ul class="podium-list">
		<li>🥇Gold - Simone Biles</li>
		<li>🥈Silver - Suni Lee</li>
		<li>🥉Bronze - Jordan Chiles</li>
	</ul>
	<br>
	<a href="documents/wagevents.pdf" target="_blank" class="pdf">Results Women Senior Events</a>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Jade Carey</li>
		<li><b>Uneven Bars</b> 🥇Gold - Suni Lee</li>
		<li><b>Beam</b> 🥇Gold - Hezly Rivera & Joscelyn Roberson</li>
		<li><b>Floor Exercise</b> 🥇Gold - Simone Biles</li>
	</ul>
<h2 class="men">Results Men Senior Day 2</h2>
	<a href="documents/magaa.pdf" target="_blank" class="pdf">Results Men Senior All-Around</a>
	<ul class="podium-list">
		<li>🥇Gold - Frederick Richard</li>
		<li>🥈Silver - Brody Malone</li>
		<li>🥉Bronze - Shane Wiskus</li>
	</ul>
	<br>
	<a href="documents/magevents.pdf" target="_blank" class="pdf">Results Men Senior Events</a>
		<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Shane Wiskus</li>
		<li><b>Pommel Horse</b> 🥇Gold - Patrick Hoopes</li>
		<li><b>Rings</b> 🥇Gold - Asher Hong</li>
		<li><b>Vault</b> 🥇Gold - Donnell Whittenburg</li>
		<li><b>Parallel Bars</b> 🥇Gold - Curran Phillips</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Frederick Richard</li>
	</ul>
	
<h2 class="wom">Results Women Senior Day 1</h2>
	<a href="documents/wagd1.pdf" target="_blank" class="pdf">Results Women Senior Day 1</a>
<h2 class="men">Results Men Senior Day 1</h2>
	<a href="documents/magd1.pdf" target="_blank" class="pdf">Results Men Senior Day 1</a>
