---
title: "2022 Paris World Cup"
year: 2022
startdate: 2022-09-24
enddate: 2022-09-25
country: "FRA"
category: "world-challenge-cup"
layout: results
---

{% include resultsheader.html title="Paris World Challenge Cup<br>Paris, France<br>2022 September 24-25" %}

<img src="images/logo.webp" alt="Paris world cup logo">

<h2 class="men">Results Event Finals Men</h2>
<ul class="podium-list">
    <li><b>Floor Exercise</b> 🥇Gold - Eamon Montgomery (IRL)</li>
    <li><b>Pommel Horse</b> 🥇Gold - Rhys McClenaghan (IRL)</li>
    <li><b>Rings</b> 🥇Gold - Adem Asil (TUR)</li>
    <li><b>Vault</b> 🥇Gold - Adem Asil (TUR)</li>
    <li><b>Parallel Bars</b> 🥇Gold - Caio Souza (BRA)</li>
    <li><b>Horizontal Bar</b> 🥇Gold - Brody Malone (USA)</li>
</ul>

<h2 class="wom">Results Event Finals Women</h2>
<ul class="podium-list">
    <li><b>Vault</b> 🥇Gold - Jade Carey (USA)</li>
    <li><b>Uneven Bars</b> 🥇Gold - Shilese Jones (USA)</li>
    <li><b>Beam</b> 🥇Gold - Marine Boyer (FRA)</li>
    <li><b>Floor Exercise</b> 🥇Gold - Jordan Chiles (USA)</li>
</ul>

<h2 class="men">Full Results</h2>

<a href="documents/resultsbook.pdf" target="_blank" class="pdf">Results Book</a>
