---
title: "Athens 2004 Olympics Women's All Around Qualifications"
year: 2004
startdate: 2004-08-13
enddate: 2004-08-29
country: "GRE"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /2004/o2004wq.html
- /olympics/2004/wagqaa.html
---
	
{% include resultsheader.html title="Games of the 28th Olympiad<br>Athens (GRE) August 13-29, 2004<br>Women's Artistic Gymnastics<br>All Around Qualifications" %}

<a href="/results/2004/olympics/index.html"><img src="/assets/images/logos/lg2004og.jpg"></a>

<a href="documents/wag/qaa.pdf" target="_blank" class="pdf">Official Results</a>
<a href="documents/wag/startorder.pdf" target="_blank" class="pdf">Start Order</a>

<!--1-->
<h2 class="wom">All Around Qualification Women, Ranks 1-40 - 2004 August 15</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<colgroup span=1 width="40" align="center">
	<colgroup span=1 width="200">
	<colgroup span=6 align="center" width="80">
<tr class="wom"><th colspan=3>Gymnast</th>
	<th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>
<tr class="one"><td align="center">1</td><td>PATTERSON Carly</td><td align="center">USA</td><td align="center">9.512</td><td align="center">9.600</td><td align="center">9.725</td><td align="center">9.500</td><td align="center">38.337 Q</td></tr>
<tr class="two"><td align="center">2</td><td>SOFRONIE Nicoleta Daniela</td><td align="center">ROM</td><td align="center">9.425</td><td align="center">9.625</td><td align="center">9.487</td><td align="center">9.525</td><td align="center">38.062 Q</td></tr>
<tr class="one"><td align="center">3</td><td>BAN Oana</td><td align="center">ROM</td><td align="center">9.325</td><td align="center">9.425</td><td align="center">9.625</td><td align="center">9.600</td><td align="center">37.975 Q</td></tr>
<tr class="two"><td align="center">4</td><td>KUPETS Courtney</td><td align="center">USA</td><td align="center">9.350</td><td align="center">9.637</td><td align="center">9.550</td><td align="center">9.400</td><td align="center">37.937 Q</td></tr>
<tr class="one"><td align="center">5</td><td>KHORKINA Svetlana</td><td align="center">RUS</td><td align="center">9.512</td><td align="center">9.750</td><td align="center">9.137</td><td align="center">9.437</td><td align="center">37.836 Q</td></tr>
<tr class="two"><td align="center">6</td><td>ZHANG Nan</td><td align="center">CHN</td><td align="center">9.287</td><td align="center">9.525</td><td align="center">9.550</td><td align="center">9.437</td><td align="center">37.799 Q</td></tr>
<tr class="one"><td align="center">7</td><td>PAVLOVA Anna</td><td align="center">RUS</td><td align="center">9.437</td><td align="center">9.237</td><td align="center">9.637</td><td align="center">9.400</td><td align="center">37.711 Q</td></tr>
<tr class="two"><td align="center">8</td><td>BHARDWAJ Mohini</td><td align="center">USA</td><td align="center">9.337</td><td align="center">9.487</td><td align="center">9.350</td><td align="center">9.525</td><td align="center">37.699</td></tr>
<tr class="one"><td align="center">9</td><td>WANG Tiantian</td><td align="center">CHN</td><td align="center">9.400</td><td align="center">9.512</td><td align="center">9.262</td><td align="center">9.475</td><td align="center">37.649 Q</td></tr>
<tr class="two"><td align="center">10</td><td>KOZICH Alina</td><td align="center">UKR</td><td align="center">9.387</td><td align="center">9.237</td><td align="center">9.300</td><td align="center">9.562</td><td align="center">37.486 Q</td></tr>
<tr class="one"><td align="center">11</td><td>DEBAUVE Marine</td><td align="center">FRA</td><td align="center">9.150</td><td align="center">9.500</td><td align="center">9.425</td><td align="center">9.362</td><td align="center">37.437 Q</td></tr>
<tr class="two"><td align="center">12</td><td>LEPENNEC Emilie</td><td align="center">FRA</td><td align="center">9.325</td><td align="center">9.662</td><td align="center">8.900</td><td align="center">9.425</td><td align="center">37.312 Q</td></tr>
<tr class="one"><td align="center">13</td><td>MCCOOL Courtney</td><td align="center">USA</td><td align="center">9.350</td><td align="center">9.575</td><td align="center">9.112</td><td align="center">9.250</td><td align="center">37.287</td></tr>
<tr class="two"><td align="center">14</td><td>RICHARDSON Kate</td><td align="center">CAN</td><td align="center">9.212</td><td align="center">9.275</td><td align="center">9.175</td><td align="center">9.562</td><td align="center">37.224 Q</td></tr>
<tr class="one"><td align="center">15</td><td>YAROTSKA Irina</td><td align="center">UKR</td><td align="center">9.262</td><td align="center">9.037</td><td align="center">9.475</td><td align="center">9.375</td><td align="center">37.149 Q</td></tr>
<tr class="two"><td align="center">16</td><td>HYPOLITO Daniele</td><td align="center">BRA</td><td align="center">8.987</td><td align="center">9.575</td><td align="center">9.337</td><td align="center">9.187</td><td align="center">37.086 Q</td></tr>
<tr class="one"><td align="center">17</td><td>SLATER Allana</td><td align="center">AUS</td><td align="center">9.212</td><td align="center">8.875</td><td align="center">9.587</td><td align="center">9.337</td><td align="center">37.011 Q</td></tr>
<tr class="two"><td align="center">18</td><td>GOMEZ Elena</td><td align="center">ESP</td><td align="center">9.212</td><td align="center">9.525</td><td align="center">8.737</td><td align="center">9.500</td><td align="center">36.974 Q</td></tr>
<tr class="one"><td align="center">19</td><td>TWEDDLE Elizabeth</td><td align="center">GBR</td><td align="center">9.012</td><td align="center">9.575</td><td align="center">9.025</td><td align="center">9.300</td><td align="center">36.912 Q</td></tr>
<tr class="two"><td align="center">20</td><td>ZAMOLODCHIKOVA Elena</td><td align="center">RUS</td><td align="center">9.462</td><td align="center">9.150</td><td align="center">9.062</td><td align="center">9.200</td><td align="center">36.874</td></tr>
<tr class="one"><td align="center">21</td><td>KVASHA Alona</td><td align="center">UKR</td><td align="center">9.412</td><td align="center">8.850</td><td align="center">8.987</td><td align="center">9.462</td><td align="center">36.711</td></tr>
<tr class="two"><td align="center">22</td><td>BANVILLE Melanie</td><td align="center">CAN</td><td align="center">9.200</td><td align="center">9.062</td><td align="center">9.025</td><td align="center">9.362</td><td align="center">36.649 Q</td></tr>
<tr class="one"><td align="center">23</td><td>PYON Kwang Sun</td><td align="center">PRK</td><td align="center">9.200</td><td align="center">9.600</td><td align="center">9.062</td><td align="center">8.650</td><td align="center">36.512 Q</td></tr>
<tr class="two"><td align="center">24</td><td>BISMPIKOU Stefani</td><td align="center">GRE</td><td align="center">9.100</td><td align="center">9.387</td><td align="center">9.337</td><td align="center">8.662</td><td align="center">36.486 Q</td></tr>
<tr class="one"><td align="center">25</td><td>RUSSO Monette</td><td align="center">AUS</td><td align="center">9.050</td><td align="center">9.437</td><td align="center">8.887</td><td align="center">9.062</td><td align="center">36.436 Q</td></tr>
<tr class="two"><td align="center">26</td><td>COMIN Camila</td><td align="center">BRA</td><td align="center">9.200</td><td align="center">9.412</td><td align="center">8.662</td><td align="center">9.137</td><td align="center">36.411 Q</td></tr>
<tr class="one"><td align="center">27</td><td>RODRIGUES Ana Paula</td><td align="center">BRA</td><td align="center">9.087</td><td align="center">9.375</td><td align="center">8.887</td><td align="center">9.037</td><td align="center">36.386</td></tr>
<tr class="two"><td align="center">28</td><td>LENNON Katy</td><td align="center">GBR</td><td align="center">9.237</td><td align="center">8.850</td><td align="center">9.025</td><td align="center">9.125</td><td align="center">36.237 Q</td></tr>
<tr class="one"><td align="center">29</td><td>VANWALLEGHEM Aagje</td><td align="center">BEL</td><td align="center">9.275</td><td align="center">9.200</td><td align="center">8.825</td><td align="center">8.925</td><td align="center">36.225 Q</td></tr>
<tr class="two"><td align="center">30</td><td>GONZALEZ CALERO Leyanet</td><td align="center">CUB</td><td align="center">9.337</td><td align="center">8.787</td><td align="center">8.775</td><td align="center">9.325</td><td align="center">36.224 R</td></tr>
<tr class="one"><td align="center">31</td><td>MOORHOUSE Stephanie</td><td align="center">AUS</td><td align="center">8.875</td><td align="center">9.337</td><td align="center">9.162</td><td align="center">8.850</td><td align="center">36.224</td></tr>
<tr class="two"><td align="center">32</td><td>KOMRSKOVA Jana</td><td align="center">CZE</td><td align="center">9.225</td><td align="center">9.275</td><td align="center">8.700</td><td align="center">9.012</td><td align="center">36.212 R</td></tr>
<tr class="one"><td align="center">33</td><td>ISHIZAKA Manami</td><td align="center">JPN</td><td align="center">9.125</td><td align="center">9.187</td><td align="center">8.637</td><td align="center">9.262</td><td align="center">36.211 R</td></tr>
<tr class="two"><td align="center">34</td><td>SOUZA Lais</td><td align="center">BRA</td><td align="center">9.387</td><td align="center">8.762</td><td align="center">9.375</td><td align="center">8.675</td><td align="center">36.199</td></tr>
<tr class="one"><td align="center">35</td><td>ZIGANCHINA Natalia</td><td align="center">RUS</td><td align="center">9.375</td><td align="center">9.087</td><td align="center">8.962</td><td align="center">8.687</td><td align="center">36.111</td></tr>
<tr class="two"><td align="center">36</td><td>KIM Un Jong</td><td align="center">PRK</td><td align="center">9.125</td><td align="center">9.475</td><td align="center">8.412</td><td align="center">9.050</td><td align="center">36.062 R</td></tr>
<tr class="one"><td align="center">37</td><td>MORENO Patricia</td><td align="center">ESP</td><td align="center">9.162</td><td align="center">9.375</td><td align="center">7.850</td><td align="center">9.587</td><td align="center">35.974</td></tr>
<tr class="two"><td align="center">38</td><td>PLANTE Amelie</td><td align="center">CAN</td><td align="center">9.112</td><td align="center">9.475</td><td align="center">8.075</td><td align="center">9.287</td><td align="center">35.949</td></tr>
<tr class="one"><td align="center">39</td><td>CHAOUCH Soraya</td><td align="center">FRA</td><td align="center">9.125</td><td align="center">9.550</td><td align="center">8.962</td><td align="center">8.200</td><td align="center">35.837</td></tr>
<tr class="two"><td align="center">40</td><td>PURNELL Heather Mary</td><td align="center">CAN</td><td align="center">9.200</td><td align="center">8.712</td><td align="center">8.500</td><td align="center">9.400</td><td align="center">35.812</td></tr>
</table>
</div>

<!--041-->
<h2 class="wom">All Around Qualification, Rank 041 - 080 - 2004 August 15</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<colgroup span=1 width="40" align="center">
	<colgroup span=1 width="200">
	<colgroup span=6 align="center" width="80">
<tr class="wom"><th colspan=3>Gymnast</th>
	<th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>
<tr class="one"><td align="center">41</td><td>BRUEGGEMANN Lisa</td><td align="center">GER</td><td align="center">9.100</td><td align="center">9.250</td><td align="center">8.837</td><td align="center">8.612</td><td align="center">35.799</td></tr>
<tr class="two"><td align="center">42</td><td>HARMES Suzanne</td><td align="center">NED</td><td align="center">9.125</td><td align="center">9.137</td><td align="center">8.162</td><td align="center">9.337</td><td align="center">35.761</td></tr>
<tr class="one"><td align="center">43</td><td>MARTI Melanie</td><td align="center">SUI</td><td align="center">9.112</td><td align="center">9.050</td><td align="center">8.525</td><td align="center">9.050</td><td align="center">35.737</td></tr>
<tr class="two"><td align="center">44</td><td>HOBBS Vanessa</td><td align="center">GBR</td><td align="center">9.237</td><td align="center">8.437</td><td align="center">8.937</td><td align="center">9.087</td><td align="center">35.698</td></tr>
<tr class="one"><td align="center">45</td><td>MUSIK Yvonne</td><td align="center">GER</td><td align="center">9.125</td><td align="center">8.887</td><td align="center">8.562</td><td align="center">9.037</td><td align="center">35.611</td></tr>
<tr class="two"><td align="center">46</td><td>van LEEUWEN Laura</td><td align="center">NED</td><td align="center">9.037</td><td align="center">9.437</td><td align="center">8.600</td><td align="center">8.412</td><td align="center">35.486</td></tr>
<tr class="one"><td align="center">47</td><td>SEKEROVA Zuzana</td><td align="center">SVK</td><td align="center">9.162</td><td align="center">8.912</td><td align="center">8.787</td><td align="center">8.512</td><td align="center">35.373</td></tr>
<tr class="two"><td align="center">48</td><td>GARGANO Maria Teresa</td><td align="center">ITA</td><td align="center">9.100</td><td align="center">8.287</td><td align="center">8.612</td><td align="center">9.325</td><td align="center">35.324</td></tr>
<tr class="one"><td align="center">49</td><td>AKHUNU Mirabella</td><td align="center">UKR</td><td align="center">9.237</td><td align="center">8.187</td><td align="center">8.350</td><td align="center">9.475</td><td align="center">35.249</td></tr>
<tr class="two"><td align="center">50</td><td>HONG Su Jong</td><td align="center">PRK</td><td align="center">9.075</td><td align="center">9.200</td><td align="center">8.212</td><td align="center">8.475</td><td align="center">34.962</td></tr>
<tr class="one"><td align="center">51</td><td>OSHIMA Kyoko</td><td align="center">JPN</td><td align="center">8.662</td><td align="center">9.362</td><td align="center">8.437</td><td align="center">8.500</td><td align="center">34.961</td></tr>
<tr class="two"><td align="center">52</td><td>RI Hae Yon</td><td align="center">PRK</td><td align="center">8.762</td><td align="center">8.862</td><td align="center">8.600</td><td align="center">8.687</td><td align="center">34.911</td></tr>
<tr class="one"><td align="center">53</td><td>WILLIS Nicola</td><td align="center">GBR</td><td align="center">9.025</td><td align="center">8.937</td><td align="center">7.625</td><td align="center">9.175</td><td align="center">34.762</td></tr>
<tr class="two"><td align="center">54</td><td>BERGAMELLI Monica</td><td align="center">ITA</td><td align="center">9.300</td><td align="center">8.250</td><td align="center">8.862</td><td align="center">8.300</td><td align="center">34.712</td></tr>
<tr class="one"><td align="center">55</td><td>WAGNER Veronica</td><td align="center">SWE</td><td align="center">8.975</td><td align="center">8.350</td><td align="center">8.900</td><td align="center">8.250</td><td align="center">34.475</td></tr>
<tr class="two"><td align="center">56</td><td>CARNEVALE Celeste Andrea</td><td align="center">ARG</td><td align="center">9.050</td><td align="center">8.325</td><td align="center">8.525</td><td align="center">8.362</td><td align="center">34.262</td></tr>
<tr class="one"><td align="center">57</td><td>APOSTOLIDI Maria</td><td align="center">GRE</td><td align="center">9.075</td><td align="center">7.712</td><td align="center">8.450</td><td align="center">8.675</td><td align="center">33.912</td></tr>
<tr class="two"><td align="center">58</td><td>MAGANA ALMARAL Brenda</td><td align="center">MEX</td><td align="center">9.200</td><td align="center">8.575</td><td align="center">7.625</td><td align="center">8.487</td><td align="center">33.887</td></tr>
<tr class="one"><td align="center">59</td><td>TARASENKA Yulia</td><td align="center">BLR</td><td align="center">8.987</td><td align="center">7.925</td><td align="center">7.837</td><td align="center">8.537</td><td align="center">33.286</td></tr>
<tr class="two"><td align="center">60</td><td>LABUSCHAGNE Zandre</td><td align="center">RSA</td><td align="center">9.012</td><td align="center">8.312</td><td align="center">8.075</td><td align="center">7.525</td><td align="center">32.924</td></tr>
<tr class="one"><td align="center">61</td><td>de la FUENTE M.</td><td align="center">BOL</td><td align="center">8.625</td><td align="center">8.312</td><td align="center">7.387</td><td align="center">8.325</td><td align="center">32.649</td></tr>
<tr class="two"><td align="center">62</td><td>PARK Kyung Ah</td><td align="center">KOR</td><td align="center">8.512</td><td align="center">7.937</td><td align="center">7.437</td><td align="center">7.812</td><td align="center">31.698</td></tr>
<tr class="one"><td align="center">63</td><td>SZARKA Krisztina</td><td align="center">HUN</td><td align="center">8.712</td><td align="center">7.012</td><td align="center">8.150</td><td align="center">7.787</td><td align="center">31.661</td></tr>
<tr class="two"><td align="center">64</td><td>PONOR Catalina</td><td align="center">ROM</td><td align="center">9.500</td><td align="center"></td><td align="center">9.775</td><td align="center">9.687</td><td align="center">28.962</td></tr>
<tr class="one"><td align="center">65</td><td>LI Ya</td><td align="center">CHN</td><td align="center">9.137</td><td align="center">9.675</td><td align="center">9.600</td><td align="center"></td><td align="center">28.412</td></tr>
<tr class="two"><td align="center">66</td><td>ROSU Monica</td><td align="center">ROM</td><td align="center">9.675</td><td align="center">9.375</td><td align="center"></td><td align="center">9.350</td><td align="center">28.400</td></tr>
<tr class="one"><td align="center">67</td><td>HUMPHREY Terin</td><td align="center">USA</td><td align="center"></td><td align="center">9.625</td><td align="center">9.512</td><td align="center">9.225</td><td align="center">28.362</td></tr>
<tr class="two"><td align="center">68</td><td>EREMIA Alexandra</td><td align="center">ROM</td><td align="center"></td><td align="center">9.287</td><td align="center">9.687</td><td align="center">9.150</td><td align="center">28.124</td></tr>
<tr class="one"><td align="center">69</td><td>STROESCU Silvia</td><td align="center">ROM</td><td align="center">9.225</td><td align="center">9.325</td><td align="center">9.512</td><td align="center"></td><td align="center">28.062</td></tr>
<tr class="two"><td align="center">70</td><td>FAN Ye</td><td align="center">CHN</td><td align="center"></td><td align="center">9.600</td><td align="center">9.437</td><td align="center">8.975</td><td align="center">28.012</td></tr>
<tr class="one"><td align="center">71</td><td>GENER Tania</td><td align="center">ESP</td><td align="center">9.300</td><td align="center">9.575</td><td align="center"></td><td align="center">9.112</td><td align="center">27.987</td></tr>
<tr class="two"><td align="center">72</td><td>CHENG Fei</td><td align="center">CHN</td><td align="center">9.375</td><td align="center"></td><td align="center">8.925</td><td align="center">9.650</td><td align="center">27.950</td></tr>
<tr class="one"><td align="center">73</td><td>MUNRO Melissa</td><td align="center">AUS</td><td align="center">9.225</td><td align="center"></td><td align="center">9.312</td><td align="center">9.187</td><td align="center">27.724</td></tr>
<tr class="two"><td align="center">74</td><td>dos SANTOS Daiane</td><td align="center">BRA</td><td align="center">9.250</td><td align="center">8.800</td><td align="center"></td><td align="center">9.637</td><td align="center">27.687</td></tr>
<tr class="one"><td align="center">75</td><td>MESALLES Monica</td><td align="center">ESP</td><td align="center">9.225</td><td align="center"></td><td align="center">9.037</td><td align="center">9.412</td><td align="center">27.674</td></tr>
<tr class="two"><td align="center">76</td><td>SEVERINO Isabelle</td><td align="center">FRA</td><td align="center">9.337</td><td align="center">9.137</td><td align="center"></td><td align="center">9.175</td><td align="center">27.649</td></tr>
<tr class="one"><td align="center">77</td><td>FENNELL Cherrelle</td><td align="center">GBR</td><td align="center">9.225</td><td align="center">9.087</td><td align="center"></td><td align="center">9.012</td><td align="center">27.324</td></tr>
<tr class="two"><td align="center">78</td><td>LIN Li</td><td align="center">CHN</td><td align="center">8.937</td><td align="center">9.700</td><td align="center"></td><td align="center">8.600</td><td align="center">27.237</td></tr>
<tr class="one"><td align="center">79</td><td>CHACON Coralie</td><td align="center">FRA</td><td align="center">9.450</td><td align="center"></td><td align="center">8.650</td><td align="center">9.062</td><td align="center">27.162</td></tr>
<tr class="two"><td align="center">80</td><td>NGUYEN Karen</td><td align="center">AUS</td><td align="center">9.087</td><td align="center">9.300</td><td align="center"></td><td align="center">8.725</td><td align="center">27.112</td></tr>
</table>
</div>

<!--081-->
<h2 class="wom">All Around Qualification, Rank 081 - 98 - 2004 August 15</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<colgroup span=1 width="40" align="center">
	<colgroup span=1 width="200">
	<colgroup span=6 align="center" width="80">
<tr class="wom"><th colspan=3>Gymnast</th>
	<th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>
<tr class="one"><td align="center">81</td><td>STONE Kylie</td><td align="center">CAN</td><td align="center">9.137</td><td align="center"></td><td align="center">8.975</td><td align="center">8.912</td><td align="center">27.024</td></tr>
<tr class="two"><td align="center">82</td><td>CAMPOS Laura</td><td align="center">ESP</td><td align="center">8.725</td><td align="center">9.262</td><td align="center">8.225</td><td align="center"></td><td align="center">26.212</td></tr>
<tr class="one"><td align="center">83</td><td>MORENO GARZA Laura</td><td align="center">MEX</td><td align="center"></td><td align="center">8.512</td><td align="center">8.575</td><td align="center">7.700</td><td align="center">24.787</td></tr>
<tr class="two"><td align="center">84</td><td>MORO Sara</td><td align="center">ESP</td><td align="center"></td><td align="center">9.450</td><td align="center">9.487</td><td align="center"></td><td align="center">18.937</td></tr>
<tr class="one"><td align="center">85</td><td>EZHOVA Liudmila</td><td align="center">RUS</td><td align="center"></td><td align="center">9.475</td><td align="center">9.462</td><td align="center"></td><td align="center">18.937</td></tr>
<tr class="two"><td align="center">86</td><td>KRASNYNSKA Irina</td><td align="center">UKR</td><td align="center"></td><td align="center">9.575</td><td align="center">9.112</td><td align="center"></td><td align="center">18.687</td></tr>
<tr class="one"><td align="center">87</td><td>KANG Yun Mi</td><td align="center">PRK</td><td align="center">9.637</td><td align="center"></td><td align="center"></td><td align="center">8.850</td><td align="center">18.487</td></tr>
<tr class="two"><td align="center">88</td><td>SHERBATYKH Olga</td><td align="center">UKR</td><td align="center">9.400</td><td align="center"></td><td align="center"></td><td align="center">9.087</td><td align="center">18.487</td></tr>
<tr class="one"><td align="center">89</td><td>SCHMUTZ Camille</td><td align="center">FRA</td><td align="center"></td><td align="center">9.337</td><td align="center">9.137</td><td align="center"></td><td align="center">18.474</td></tr>
<tr class="two"><td align="center">90</td><td>SKINNER Lisa</td><td align="center">AUS</td><td align="center"></td><td align="center">9.387</td><td align="center">8.700</td><td align="center"></td><td align="center">18.087</td></tr>
<tr class="one"><td align="center">91</td><td>HAN Jong Ok</td><td align="center">PRK</td><td align="center"></td><td align="center">9.537</td><td align="center">8.000</td><td align="center"></td><td align="center">17.537</td></tr>
<tr class="two"><td align="center">92</td><td>KRIOUTCHKOVA Maria</td><td align="center">RUS</td><td align="center">9.200</td><td align="center"></td><td align="center"></td><td align="center">7.975</td><td align="center">17.175</td></tr>
<tr class="one"><td align="center">93</td><td>KUZNETSOVA Evgenia</td><td align="center">BUL</td><td align="center"></td><td align="center">8.150</td><td align="center">8.887</td><td align="center"></td><td align="center">17.037</td></tr>
<tr class="two"><td align="center">94</td><td>HATCH Annia</td><td align="center">USA</td><td align="center">9.387</td><td align="center"></td><td align="center"></td><td align="center"></td><td align="center">9.387</td></tr>
<tr class="one"><td align="center">95</td><td>MACKIE Gael</td><td align="center">CAN</td><td align="center"></td><td align="center">9.100</td><td align="center"></td><td align="center"></td><td align="center">9.100</td></tr>
<tr class="two"><td align="center">96</td><td>LINE Elizabeth</td><td align="center">GBR</td><td align="center"></td><td align="center"></td><td align="center">8.950</td><td align="center"></td><td align="center">8.950</td></tr>
<tr class="one"><td align="center">97</td><td>CHUSOVITINA Oxana</td><td align="center">UZB</td><td align="center">8.675</td><td align="center"></td><td align="center"></td><td align="center"></td><td align="center">8.675</td></tr>
<tr class="two"><td align="center">98</td><td>MOLINARI Caroline</td><td align="center">BRA</td><td align="center"></td><td align="center"></td><td align="center">7.512</td><td align="center"></td><td align="center">7.512</td></tr>
<tr bgcolor="#000000"><td colspan=8 style="height:1px; padding:0px;"></td></tr>
<tr class="svk"><td colspan=8 align=right valign=middle><img src="../../pic/ar.gif" width=16 height=16 border=0 hspace=5>
</table>
</div>
