---
title: "Athens 2004 Olympics Women's Artistic Gymnastics"
year: 2004
startdate: 2004-08-13
enddate: 2004-08-29
country: "GRE"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /2004/o2004w.html
- /olympics/2004/wagfinals.html
---
	
{% include resultsheader.html title="Games of the 28th Olympiad<br>Women's Artistic Gymnastics<br>Athens (GRE) August 13-29, 2004<br>Finals Women" %}

<a href="/results/2004/olympics/index.html"><img src="/assets/images/logos/lg2004og.jpg"></a>

<a href="documents/wag/startorder.pdf" target="_blank" class="pdf">Start Order</a>

<!-- Teams -->
<h2 class="wom">2004 Olympics Women's Team Final - 2004 August 17</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<col width="5%" align="right">
	<col width="25%">
	<col width="10%" align="center">
	<colgroup span=5 width="12%" align="center">
<tr class="wom"><th colspan=3>Team</th><th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>Romania</td><td>ROM</td><td>28.437<sup> 1</sup></td><td>28.136<sup> 5</sup></td><td>28.961<sup> 1</sup></td><td>28.749<sup> 1</sup></td><td>114.283</td></tr>
<tr class="two"><td>2</td><td>United States</td><td>USA</td><td>28.387<sup> 2</sup></td><td>28.524<sup> 1</sup></td><td>28.499<sup> 3</sup></td><td>28.174<sup> 3</sup></td><td>113.584</td></tr>
<tr class="one"><td>3</td><td>Russia</td><td>RUS</td><td>28.325<sup> 3</sup></td><td>28.137<sup> 4</sup></td><td>28.511<sup> 2</sup></td><td>28.262<sup> 2</sup></td><td>113.235</td></tr>
<tr class="two"><td>4</td><td>Ukraine</td><td>UKR</td><td>28.099<sup> 6</sup></td><td>28.199<sup> 3</sup></td><td>28.024<sup> 4</sup></td><td>27.987<sup> 4</sup></td><td>112.309</td></tr>
<tr class="one"><td>5</td><td>Spain</td><td>ESP</td><td>27.599<sup> 7</sup></td><td>28.412<sup> 2</sup></td><td>27.724<sup> 5</sup></td><td>27.837<sup> 5</sup></td><td>111.572</td></tr>
<tr class="two"><td>6</td><td>France</td><td>FRA</td><td>28.162<sup> 4</sup></td><td>27.011<sup> 8</sup></td><td>27.537<sup> 6</sup></td><td>27.449<sup> 6</sup></td><td>110.159</td></tr>
<tr class="one"><td>7</td><td>China</td><td>CHN</td><td>28.149<sup> 5</sup></td><td>27.549<sup> 6</sup></td><td>27.224<sup> 7</sup></td><td>27.086<sup> 8</sup></td><td>110.008</td></tr>
<tr class="two"><td>8</td><td>Australia</td><td>AUS</td><td>27.449<sup> 8</sup></td><td>27.100<sup> 7</sup></td><td>26.974<sup> 8</sup></td><td>27.324<sup> 7</sup></td><td>108.847</td></tr>
</table>
</div>

<!-- WOMEN AA -->
<h2 class="wom">2004 Olympics Women's All Around Final - 2004 August 19</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<col width="5%" align="right">
	<col width="35%">
	<col width="10%" align="center">
	<colgroup span=5 width="10%" align="center">
<tr class="wom"><th colspan=2>Gymnast</th><th>Fed</th><th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>PATTERSON Carly</td><td>USA</td><td>9.375</td><td>9.575</td><td>9.725</td><td>9.712</td><td>38.387</td></tr>
<tr class="two"><td>2</td><td>KHORKINA Svetlana</td><td>RUS</td><td>9.462</td><td>9.725</td><td>9.462</td><td>9.562</td><td>38.211</td></tr>
<tr class="one"><td>3</td><td>ZHANG Nan</td><td>CHN</td><td>9.325</td><td>9.462</td><td>9.662</td><td>9.600</td><td>38.049</td></tr>
<tr class="two"><td>4</td><td>PAVLOVA Anna</td><td>RUS</td><td>9.425</td><td>9.337</td><td>9.650</td><td>9.612</td><td>38.024</td></tr>
<tr class="one"><td>5</td><td>SOFRONIE Nicoleta Daniela</td><td>ROM</td><td>9.412</td><td>9.637</td><td>9.362</td><td>9.537</td><td>37.948</td></tr>
<tr class="two"><td>6</td><td>YAROTSKA Irina</td><td>UKR</td><td>9.200</td><td>9.650</td><td>9.400</td><td>9.437</td><td>37.687</td></tr>
<tr class="one"><td>7</td><td>DEBAUVE Marine</td><td>FRA</td><td>9.162</td><td>9.512</td><td>9.262</td><td>9.425</td><td>37.361</td></tr>
<tr class="two"><td>8</td><td>GOMEZ Elena</td><td>ESP</td><td>9.150</td><td>9.525</td><td>9.162</td><td>9.462</td><td>37.299</td></tr>
<tr class="one"><td>9</td><td>KUPETS Courtney</td><td>USA</td><td>9.275</td><td>9.625</td><td>8.975</td><td>9.237</td><td>37.112</td></tr>
<tr class="two"><td>10</td><td>SLATER Allana</td><td>AUS</td><td>9.175</td><td>9.362</td><td>9.212</td><td>9.350</td><td>37.099</td></tr>
<tr class="one"><td>11</td><td>KOZICH Alina</td><td>UKR</td><td>9.250</td><td>9.512</td><td>8.687</td><td>9.600</td><td>37.049</td></tr>
<tr class="two"><td>12</td><td>HYPOLITO Daniele</td><td>BRA</td><td>8.825</td><td>9.562</td><td>9.337</td><td>9.237</td><td>36.961</td></tr>
<tr class="one"><td>13</td><td>WANG Tiantian</td><td>CHN</td><td>9.375</td><td>9.537</td><td>8.725</td><td>9.162</td><td>36.799</td></tr>
<tr class="two"><td>14</td><td>LEPENNEC Emilie</td><td>FRA</td><td>9.300</td><td>9.687</td><td>8.112</td><td>9.537</td><td>36.636</td></tr>
<tr class="one"><td>15</td><td>BISMPIKOU Stefani</td><td>GRE</td><td>8.887</td><td>9.475</td><td>8.900</td><td>9.237</td><td>36.499</td></tr>
<tr class="two"><td>16</td><td>COMIN Camila</td><td>BRA</td><td>9.187</td><td>9.437</td><td>8.525</td><td>8.925</td><td>36.074</td></tr>
<tr class="one"><td>17</td><td>PYON Kwang Sun</td><td>PRK</td><td>8.525</td><td>9.587</td><td>8.850</td><td>8.900</td><td>35.862</td></tr>
<tr class="two"><td>18</td><td>RICHARDSON Kate</td><td>CAN</td><td>9.262</td><td>8.087</td><td>9.037</td><td>9.400</td><td>35.786</td></tr>
<tr class="one"><td>19</td><td>TWEDDLE Elizabeth</td><td>GBR</td><td>8.987</td><td>9.562</td><td>7.800</td><td>9.412</td><td>35.761</td></tr>
<tr class="two"><td>20</td><td>MOORHOUSE Stephanie</td><td>AUS</td><td>9.037</td><td>8.587</td><td>9.037</td><td>9.062</td><td>35.723</td></tr>
<tr class="one"><td>21</td><td>LENNON Katy</td><td>GBR</td><td>9.262</td><td>8.987</td><td>8.200</td><td>8.925</td><td>35.374</td></tr>
<tr class="two"><td>22</td><td>GONZALEZ CALERO Leyanet</td><td>CUB</td><td>9.325</td><td>8.725</td><td>8.012</td><td>9.237</td><td>35.299</td></tr>
<tr class="one"><td>23</td><td>VANWALLEGHEM Aagje</td><td>BEL</td><td>9.225</td><td>9.075</td><td>8.287</td><td>8.275</td><td>34.862</td></tr>
<tr class="two"><td>24</td><td>BANVILLE Melanie</td><td>CAN</td><td>9.200</td><td>8.025</td><td>8.787</td><td>8.462</td><td>34.474</td></tr>
</table>
</div>

<!-- VT -->
<h2 class="wom">2004 Olympics Women's Vault Finals - 2004 August 22</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<col width="3%" align="right">
	<col width="25%">
	<colgroup span=12 width="6%" align="center">
<tr class="wom"><th colspan=3>Gymnast</th><th>Vt</td><th>SV</td><th>J1<br>JPN</th><th>J2<br>ESP</th>
	<th>J3<br>GER</th><th>J4<br>FIN</th><th>J5<br>CAN</th><th>J6<br>LUX</th><th>Pen</td><th>AVG</td><th>Total</td></tr>
<tr class="one"><td rowspan="2" valign="top">1</td><td rowspan="2" valign="top">ROSU Monica</td><td rowspan="2" valign="top">ROM</td>
	<td>1</td><td>9.90</td><td>9.60</td><td>9.50</td><td>9.50</td><td>9.60</td><td>9.65</td><td>9.60</td><td>-</td><td>9.575</td>
	<td rowspan="2" valign="bottom">9.656</td></tr> 
	<tr class="one"><td>2</td><td>9.90</td><td>9.80</td><td>9.50</td><td>9.70</td><td>9.75</td><td>9.75</td><td>9.75</td><td>-</td><td>9.737</td></tr>
<tr class="two"><td rowspan="2" valign="top">2</td><td rowspan="2" valign="top">HATCH Annia</td><td rowspan="2" valign="top">USA</td>
	<td>1</td><td>9.80</td><td>9.30</td><td>9.35</td><td>9.40</td><td>9.50</td><td>9.50</td><td>9.35</td><td>-</td><td>9.400</td>
	<td rowspan="2" valign="bottom">9.481</td></tr>
	<tr class="two"><td>2</td><td>9.80</td><td>9.40</td><td>9.55</td><td>9.55</td><td>9.60</td><td>9.60</td><td>9.55</td><td>-</td><td>9.562</td></tr>
<tr class="one"><td rowspan="2" valign="top">3</td><td rowspan="2" valign="top">PAVLOVA Anna</td><td rowspan="2" valign="top">RUS</td>
	<td>1</td><td>9.80</td><td>9.45</td><td>9.40</td><td>9.45</td><td>9.35</td><td>9.45</td><td>9.40</td><td>-</td><td>9.425</td>
	<td rowspan="2" valign="bottom">9.475</td></tr> 
	<tr class="one"><td>2</td><td>9.80</td><td>9.45</td><td>9.50</td><td>9.50</td><td>9.55</td><td>9.55</td><td>9.55</td><td>-</td><td>9.525</td></tr>
<tr class="two"><td rowspan="2" valign="top">4</td><td rowspan="2" valign="top">ZAMOLODCHIKOVA Elena</td><td rowspan="2" valign="top">RUS</td>
	<td>1</td><td>9.80</td><td>9.45</td><td>9.35</td><td>9.45</td><td>9.50</td><td>9.45</td><td>9.45</td><td>-</td><td>9.450</td>
	<td rowspan="2" valign="bottom">9.412</td></tr> 
	<tr class="two"><td>2</td><td>9.80</td><td>9.45</td><td>9.30</td><td>9.25</td><td>9.40</td><td>9.45</td><td>9.35</td><td>-</td><td>9.375</td></tr>
<tr class="one"><td rowspan="2" valign="top">5</td><td rowspan="2" valign="top">KANG Yun Mi</td><td rowspan="2" valign="top">PRK</td>
	<td>1</td><td>10.0</td><td>9.50</td><td>9.40</td><td>9.40</td><td>9.45</td><td>9.60</td><td>9.50</td><td>-</td><td>9.462</td>
	<td rowspan="2" valign="bottom">9.381</td></tr>
	<tr class="one"><td>2</td><td>10.0</td><td>9.35</td><td>9.15</td><td>9.35</td><td>9.25</td><td>9.40</td><td>9.25</td><td>-</td><td>9.300</td></tr>
<tr class="two"><td rowspan="2" valign="top">6</td><td rowspan="2" valign="top">KVASNA Alona</td><td rowspan="2" valign="top">UKR</td>
	<td>1</td><td>9.80</td><td>9.30</td><td>9.35</td><td>9.25</td><td>9.50</td><td>9.35</td><td>9.20</td><td>-</td><td>9.312</td>
	<td rowspan="2" valign="bottom">9.343</td></tr>
	<tr class="two"><td>2</td><td>9.80</td><td>9.35</td><td>9.25</td><td>9.35</td><td>9.50</td><td>9.40</td><td>9.40</td><td>-</td><td>9.375</td></tr>
<tr class="one"><td rowspan="2" valign="top">7</td><td rowspan="2" valign="top">WANG Tiantian</td><td rowspan="2" valign="top">CHN</td>
	<td>1</td><td>9.80</td><td>8.85</td><td>8.60</td><td>8.80</td><td>8.80</td><td>8.85</td><td>8.80</td><td>-</td><td>8.812</td>
	<td rowspan="2" valign="bottom">9.081</td></tr>
	<tr class="one"><td>2</td><td>9.80</td><td>9.35</td><td>9.25</td><td>9.35</td><td>9.35</td><td>9.40</td><td>9.35</td><td>-</td><td>9.350</td></tr>
<tr class="two"><td rowspan="2" valign="top">8</td><td rowspan="2" valign="top">CHACON Coralie</td><td rowspan="2" valign="top">FRA</td>
	<td>1</td><td>9.90</td><td>8.80</td><td>8.75</td><td>8.95</td><td>8.95</td><td>8.95</td><td>9.00</td><td>-</td><td>8.912</td>
	<td rowspan="2" valign="bottom">4.456</td></tr>
	<tr class="two"><td>2</td><td>9.90</td><td>0.00</td><td>0.00</td><td>0.00</td><td>0.00</td><td>0.00</td><td>0.00</td><td>-</td><td>0.000</td></tr>
</table>
</div>

<!-- UB -->
<h2 class="wom">2004 Olympics Women's Uneven Bars Finals - 2004 August 22</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<col width="5%" align="right">
	<col width="35%">
	<colgroup span=10 width="6%" align="center">
<tr class="wom"><th colspan=3>Gymnast</th><th>SV</td><th>J1<br>HOL</th><th>J2<br>GER</th><th>J3<br>JPN</th>
	<th>J4<br></th><th>J5<br></th><th>J6<br>UZB</th><th>Pen</td><th>Total</td></tr><tr class="one"><td>1</td><td>LEPENNEC Emilie</td><td>FRA</td>
	<td>10.00</td><td>9.70</td><td>9.70</td><td>9.60</td><td>9.70</td><td>9.65</td><td>9.75</td><td>-</td><td>9.687</td></tr>
<tr class="two"><td>2</td><td>HUMPHREY Terin</td><td>USA</td>
	<td>10.00</td><td>9.65</td><td>9.65</td><td>9.55</td><td>9.70</td><td>9.70</td><td>9.65</td><td>-</td><td>9.662</td></tr>
<tr class="one"><td>3</td><td>KUPETS Courtney</td><td>USA</td>
	<td>10.00</td><td>9.65</td><td>9.65</td><td>9.60</td><td>9.65</td><td>9.60</td><td>9.70</td><td>-</td><td>9.637</td></tr>
<tr class="two"><td>4</td><td>PYON Kwang Sun</td><td>PRK</td>
	<td>10.00</td><td>9.50</td><td>9.60</td><td>9.60</td><td>9.55</td><td>9.65</td><td>9.65</td><td>-</td><td>9.600</td></tr>
<tr class="one"><td>5</td><td>LI Ya</td><td>CHN</td>
	<td>10.00</td><td>9.55</td><td>9.70</td><td>9.55</td><td>9.55</td><td>9.60</td><td>9.55</td><td>-</td><td>9.562</td></tr>
<tr class="two"><td>6</td><td>SOFRONIE Nicoleta Daniela</td><td>ROM</td>
	<td>10.00</td><td>9.50</td><td>9.45</td><td>9.30</td><td>9.55</td><td>9.40</td><td>9.50</td><td>-</td><td>9.462</td></tr>
<tr class="one"><td>7</td><td>LIN Li</td><td>CHN</td>
	<td>9.70</td><td>9.25</td><td>9.10</td><td>9.20</td><td>9.00</td><td>9.25</td><td>9.25</td><td>-</td><td>9.200</td></tr>
<tr class="two"><td>8</td><td>KHORKINA Svetlana</td><td>RUS</td>
	<td>9.70</td><td>8.95</td><td>8.90</td><td>8.90</td><td>8.90</td><td>8.95</td><td>8.95</td><td>-</td><td>8.925</td></tr>
</table>
</div>

<!--BB Women-->
<h2 class="wom">2004 Olympics Women's Beam Finals - 2004 August 23</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<col width="5%" align="right">
	<col width="35%">
	<colgroup span=10 width="6%" align="center">
<tr class="wom"><th colspan=3>Gymnast</th><th>SV</td><th>J1<br>BRA</th><th>J2<br>ARG</th><th>J3<br>UZB</th>
	<th>J4<br>FIN</th><th>J5<br>SLO</th><th>J6<br>FRA</th><th>Pen</td><th>Total</td></tr>
<tr class="one"><td>1</td><td>PONOR Catalina</td><td>ROM</td>
	<td>10.0</td><td>9.80</td><td>9.80</td><td>9.80</td><td>9.75</td><td>9.75</td><td>9.80</td><td>-</td><td>9.787</td></tr>
<tr class="two"><td>2</td><td>PATTERSON Carly</td><td>USA</td>
	<td>10.0</td><td>9.80</td><td>9.75</td><td>9.80</td><td>9.75</td><td>9.75</td><td>9.80</td><td>-</td><td>9.775</td></tr>
<tr class="one"><td>3</td><td>EREMIA Alexandra Georgiana</td><td>ROM</td>
	<td>10.0</td><td>9.70</td><td>9.70</td><td>9.70</td><td>9.65</td><td>9.70</td><td>9.70</td><td>-</td><td>9.700</td></tr>
<tr class="two"><td>4</td><td>PAVLOVA Anna</td><td>RUS</td>
	<td>10.0</td><td>9.55</td><td>9.65</td><td>9.70</td><td>9.55</td><td>9.50</td><td>9.60</td><td>-</td><td>9.587</td></tr>
<tr class="one"><td>5</td><td>KUPETS Courtney</td><td>USA</td>
	<td>9.80</td><td>9.40</td><td>9.50</td><td>9.30</td><td>9.25</td><td>9.35</td><td>9.45</td><td>-</td><td>9.375</td></tr>
<tr class="two"><td>6</td><td>ZHANG Nan</td><td>CHN</td>
	<td>9.90</td><td>9.25</td><td>9.25</td><td>9.25</td><td>9.20</td><td>9.20</td><td>9.25</td><td>-</td><td>9.237</td></tr>
<tr class="one"><td>7</td><td>LI Ya</td><td>CHN</td>
	<td>9.80</td><td>9.05</td><td>9.10</td><td>9.05</td><td>9.05</td><td>8.90</td><td>9.05</td><td>-</td><td>9.050</td></tr>
<tr class="two"><td>8</td><td>SLATER Allana</td><td>AUS</td>
	<td>9.70</td><td>8.75</td><td>8.75</td><td>8.75</td><td>8.75</td><td>8.75</td><td>8.70</td><td>-</td><td>8.750</td></tr>
</table>
</div>

<!--FX Women-->
<h2 class="wom">2004 Olympics Women's Floor Exercise Finals - 2004 August 23</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<col width="5%" align="right">
	<col width="35%">
	<colgroup span=10 width="6%" align="center">
<tr class="wom"><th colspan=3>Gymnast</th><th>SV</td><th>J1<br>SUI</th><th>J2<br>ITA</th><th>J3<br>BEL</th>
	<th>J4<br>MEX</th><th>J5<br>NZL</th><th>J6<br>GBR</th><th>Pen</td><th>Total</td></tr>
<tr class="one"><td>1</td><td>PONOR Catalina</td><td>ROM</td>
	<td>10.00</td><td>9.75</td><td>9.75</td><td>9.75</td><td>9.75</td><td>9.75</td><td>9.75</td><td>-</td><td>9.750</td></tr>
<tr class="two"><td>2</td><td>SOFRONIE Nicoleta Daniela</td><td>ROM</td>
	<td>9.90</td><td>9.55</td><td>9.55</td><td>9.60</td><td>9.60</td><td>9.55</td><td>9.55</td><td>-</td><td>9.562</td></tr>
<tr class="one"><td>3</td><td>MORENO Patricia</td><td>ESP</td>
	<td>10.00</td><td>9.50</td><td>9.50</td><td>9.45</td><td>9.60</td><td>9.50</td><td>9.40</td><td>-</td><td>9.487</td></tr>
<tr class="two"><td>4</td><td>CHENG Fei</td><td>CHN</td>
	<td>9.90</td><td>9.50</td><td>9.45</td><td>9.55</td><td>9.50</td><td>9.60</td><td>9.50</td><td>0.10</td><td>9.412</td></tr>
<tr class="one"><td>5</td><td>dos SANTOS Daiane</td><td>BRA</td>
	<td>10.00</td><td>9.55</td><td>9.55</td><td>9.45</td><td>9.45</td><td>9.45</td><td>9.45</td><td>0.10</td><td>9.375</td></tr>
<tr class="two"><td>6</td><td>BHARDWAJ Mohini</td><td>USA</td>
	<td>9.90</td><td>9.40</td><td>9.35</td><td>9.35</td><td>9.45</td><td>9.50</td><td>9.45</td><td>0.10</td><td>9.312</td></tr>
<tr class="one"><td>7</td><td>RICHARDSON Kate</td><td>CAN</td>
	<td>9.70</td><td>9.30</td><td>9.30</td><td>9.35</td><td>9.30</td><td>9.30</td><td>9.40</td><td>-</td><td>9.312</td></tr>
<tr class="two"><td>8</td><td>KOZICH Alina</td><td>UKR</td>
	<td>9.50</td><td>8.55</td><td>8.55</td><td>8.65</td><td>8.60</td><td>8.60</td><td>8.65</td><td>0.10</td><td>8.500</td></tr>
</table>
</div>