BODY {
	background: url("../bggrey.jpg") repeat fixed;
	font-size : 12px;
	color: Black;
	font-family: "Verdana, Geneva, Arial, Helvetica, sans-serif";
	font-weight: "normal";
	width: 800px;
	}
A:link { text-decoration: none }
A:active { text-decoration: none }
A:visited { text-decoration: none }
#nav2 a {
	display: inline;
	font-size: 10px;
	font-weight: normal;
	color: Navy;
	text-decoration: none;
	text-align: center;
	margin: 5 0 5 0;
	padding: 0.2em 1em 0.2em 1em;
	background: #ccccff;
	}
#nav2 a:hover {
	color: Fuchsia;
	background: #ffffcc;
	}		 
h1 {
	color: Blue;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 0px 4px 5px;
	}		
h2 {
	color: Blue;
	font-size: 15px;
	font-weight: bold;
	margin: 0px 0px 2px 5px;
	}		
h3 {
	color: Red;
	font-size: 12px;
	font-weight: bold;
	margin: 2px 0px 2px 5px;
}		
LI {
	font-size: 10px;
	vertical-align: middle;
	list-style: disc;
	color: Blue;
	font-weight: normal;
}
.sep { background-color: #fffafa;
	width: 100%;
	text-align: right;
	}
.red { color: Red; }
.rb15 { color: Red;
	font-weight: bold;
	font-size: 15px;
	 }
.rb12 { color: Red;
	font-weight: bold;
	font-size: 12px;
	 }
.rb10 { color: Red;
	font-weight: bold;
	font-size: 10px;
	 }
.blue { color: Blue; }
.bb15 { color: Blue;
	font-weight: bold;
	font-size: 15px;
	 }
.b15 { color: Blue;
	font-size: 15px;
	 }
.bb12 { color: Blue;
	font-weight: bold;
	font-size: 12px;
	 }
.b12 { color: Blue;
	font-size: 12px;
	 }
.bb10 { color: Blue;
	font-weight: bold;
	font-size: 10px;
	 }
.b10 { color: Blue;
	font-size: 10px;
	 }
.a12 {
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	}	 
.a10 {
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	}	 	 
SUP { color: Blue; }	 
TABLE.maa {
	text-indent: 3px;
	background: #ffffff;
	border: 1px solid Navy;
}
TABLE.resf {
	background: #99FFFF;
	border: medium double Navy;
	}
CAPTION {
	font-size: 15px;
	color: Purple;
	font-weight: bold;
	background: #E6E6FA 100%;
	}		
TH {
	color: #000000;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
}
TR.men {
	background-color : #e6e6fa;
	}
TR.one { background: #f5f5f5; }
TR.two { background: #ffffff; }
TR.team {background: #ffffcc; }
TR.svk { background: #E8F3FF; }
TD {
	padding: 1px 1px 1px 1px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	color: Black;
}
TD.top {	vertical-align: top;	}
