---
title: "HUN-AUT-CZE-SVK WAG MTK Cup Budapest"
year: 2018
startdate: 2018-07-07
country: "HUN"
category: "mtk-cup"
layout: results
redirect_from: /2018/eu/hun/mtkcup.html
---
	
{% include resultsheader.html title="HUN-AUT-CZE-SVK WAG Senior-Junior<br>Team and Individual<br>MTK Cup Budapest<br>2018 July 7" %}

<img src="images/senteams.jpg" alt="HUN-AUT-CZE-SVK WAG Senior-Junior Team and Individual MTK Cup Budapest, 2018 July 7">
<!-- Seniors-->
<h2 class="wom">Women Senior</h2>
	<a href="documents/senteams.pdf" target="_blank" class="pdf">Teams Women Senior</a>
	<a href="documents/senaa.pdf" target="_blank" class="pdf">All Around Women Senior</a>
	<br>
	<a href="documents/sen1vt.pdf" target="_blank" class="pdf">Vault Women Senior</a>
	<a href="documents/sen2ub.pdf" target="_blank" class="pdf">Uneven Bars Women Senior</a>
	<a href="documents/sen3bb.pdf" target="_blank" class="pdf">Beam Women Senior</a>
	<a href="documents/sen4fx.pdf" target="_blank" class="pdf">Floor Exercise Women Senior</a>
<!-- Juniors-->
<h2 class="wom">Women Juniors</h2>
	<a href="documents/junteams.pdf" target="_blank" class="pdf">Teams Women Juniors</a>
	<a href="documents/junaa.pdf" target="_blank" class="pdf">All Around Women Juniors</a>
	<br>
	<a href="documents/jun1vt.pdf" target="_blank" class="pdf">Vault Women Juniors</a>
	<a href="documents/jun2ub.pdf" target="_blank" class="pdf">Uneven Bars Women Juniors</a>
	<a href="documents/jun3bb.pdf" target="_blank" class="pdf">Beam Women Juniors</a>
	<a href="documents/jun4fx.pdf" target="_blank" class="pdf">Floor Exercise Women Juniors</a>
