---
title: "2022 Winter Cup Challenge Las Vegas, NV"
year: 2022
startdate: 2022-02-25
enddate: 2022-02-27
country: "USA"
category: "winter-cup"
layout: results
---

{% include resultsheader.html title="Winter Cup Challenge<br>Las Vegas, Nevada (USA)<br>2022 Feb 25-27" %}

<img src="images/logo.png" alt="Winter Cup logo">

<h2 class="wom">Senior Women's All Around Results</h2>
    <ul class="podium-list">
        <li>🥇Gold - Konnor McClain</li>
        <li>🥈Silver - Skye Blakely</li>
        <li>🥉Bronze - eMjae Frazier</li>
    </ul>
    <a href="documents/wag_sraa.pdf" target="_blank" class="pdf">Senior Women's All Around Results</a>

<h2 class="wom">Junior Women's All Around Results</h2>
    <ul class="podium-list">
        <li>🥇Gold - Ella Kate Parker</li>
        <li>🥈Silver - Ella Murphy</li>
        <li>🥉Bronze - Hezly Rivera</li>
    </ul>
    <a href="documents/wag_jraa.pdf" target="_blank" class="pdf">Junior Women's All Around Results</a>

<h2 class="men">Senior Men's All Around Results</h2>
    <ul class="podium-list">
        <li>🥇Gold - Vitaliy Guimaraes</li>
        <li>🥈Silver - Khoi Young</li>
        <li>🥉Bronze - Asher Hong</li>
    </ul>
    <a href="documents/mag_sraa.pdf" target="_blank" class="pdf">Senior Men's All Around and Qualifications</a>

<h2 class="men">Senior Men's Event Finals Results</h2>

	<a href="documents/mag_sref.pdf" target="_blank" class="pdf">Senior Men's Event Finals</a>
	<a href="documents/mag_sr10points.pdf" target="_blank" class="pdf">Senior Men's 10 Point System Results</a>

<h2 class="wom">Junior Men's Results</h2>

	<a href="documents/mag_jref.pdf" target="_blank" class="pdf">Junior Men's Event Finals</a>
