---
layout: default
---

<style type="text/css">body { background: url("/assets/images/bg00.gif") repeat fixed;}</style>

<div class="rounded">
	<img src="/assets/images/flags/{{page.country | downcase}}80x40.gif" width=80 height=40 alt="Artistic Gymnastics {{page.title}}" border=1 class="country-flag">
	<h1 class="results">Gymnastics results {{page.title}} ({{page.country}})</h1>
</div>

<p>Additional results by country can be found in the <a href="/archive/">Archive</a>.</p>
{{content}}

<table class="results-list">
	{% assign years = site.results | where:"country",page.country | where_exp: "result", "result.homepage != false" | sort:'startdate' | reverse | group_by:"year" %}
	{% for year in years %}
		<tr>
			<th colspan=2>{{year.name}}</th>
		</tr>
	{% for result in year.items %}
		<tr {% if result.category == "worlds" or result.category == "olympics" %}class="team"{% endif %}>
		<td><span class="hide-small">{{result.year}} </span>{{result.startdate | date: "%b %e"}}{% if result.enddate %}<span class="hide-small"> - {{result.enddate | date: "%b %e"}}</span>{% endif %}</td>
		<td><a href="{{result.url}}">{{result.title}}</a></td>
		</tr>
		{% endfor %}
	{% endfor %}

</table>