---
title: "FIG World Challenge Cup Guimaraes"
year: 2018
startdate: 2018-06-14
enddate: 2018-06-17
country: "POR"
category: "world-challenge-cup"
layout: results
---

{% include resultsheader.html title="FIG World Challenge Cup<br>Guimaraes (POR)<br>2018 Jun 14-17" %}

<img src="images/logo.jpg" alt="FIG World Challenge Cup Guimaraes (POR) 2018">
<!--MAG AF-->
<h2 class="men">Men Apparatus Finals</h2>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Floor Exercise Final Men</a>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Pommel Horse Final Men</a>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Rings Final Men</a>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Vault Final Men</a>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Parallel Bars Final Men</a>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Horizontal Bar Final Men</a>
<!--WAG AF-->
<h2 class="wom">Women Apparatus Finals</h2>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Final Women</a>
<!--MAG Qual-->
<h2 class="men">Men Qualification</h2>
	<a href="documents/magq1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magq2ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magq3sr.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magq4vt.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magq5pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/magq6hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>
<!--WAG Qual-->
<h2 class="wom">Women Qualification</h2>
	<a href="documents/wagq1vt.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagq2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagq3bb.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagq4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>






