---
title: "10th FIG ART World Challenge Cup Doha"
year: 2017
startdate: 2017-03-22
enddate: 2017-03-25
country: "QAT"
category: "world-challenge-cup"
layout: results
redirect_from: /2017/as/qat/world-challenge-cup-doha.html
---

{% include resultsheader.html title="10th FIG ART World Challenge Cup<br>Aspire Dome Doha (QAT)<br>2017 March 22-25" %}

<img src="images/logo.jpg" alt="10th FIG ART World Challenge CUP Doha (QAT) 2017 March 22-25">
<h2 class="men">Apparatus Finals Men Day 2</h2>
	<img src="images/mag4vt.jpg" alt="Men's vault podium">
	<br>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Apparatus Final Men Vault</a>
	<br>
	<img src="images/mag5pb.jpg" alt="Men's parallel bars podium">
	<br>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Apparatus Final Men Parallel Bars</a>
	<br>
	<img src="images/mag6hb.jpg" alt="Men's high bar podium">
	<br>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Apparatus Final Men Horizontal Bar</a>
<h2 class="wom">Apparatus Finals Women Day 2</h2>
	<img src="images/wag3bb.jpg" alt="Women's beam podium">
	<br>
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Apparatus Final Women Beam</a>
	<br>
	<img src="images/wag4fx.jpg" alt="Women's floor podium">
	<br>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Apparatus Final Women Floor Exercise</a>
<h2 class="men">Apparatus Finals Men Day 1</h2>
	<img src="images/mag1fx.jpg" alt="Men's floor podium">
	<br>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Apparatus Final Men Floor Exercise</a>
	<br>
	<img src="images/mag2ph.jpg" alt="Men's pommel horse podium">
	<br>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Apparatus Final Men Pommel Horse</a>
	<br>
	<img src="images/mag3sr.jpg" alt="Men's rings podium">
	<br>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Apparatus Final Men Rings</a>
	<br>
	<a href="documents/magafqualifiers.pdf" target="_blank" class="pdf">Apparatus Finals Qualifiers Men</a>
<h2 class="wom">Apparatus Finals Women Day 1</h2>
	<img src="images/wag1vt.jpg" alt="Women's vault podium">
	<br>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Apparatus Final Women Vault</a>
	<br>
	<img src="images/wag2ub.jpg" alt="Women's bars podium">
	<br>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Apparatus Final Women Uneven Bars</a>
	<br>
	<a href="documents/wagafqualifiers.pdf" target="_blank" class="pdf">Apparatus Finals Qualifiers Women</a>
<h2 class="men">Results Qualification Men Day 2</h2>
	<a href="documents/magq4vt.pdf" target="_blank" class="pdf">Qualification Men Vault</a>
	<a href="documents/magq5pb.pdf" target="_blank" class="pdf">Qualification Men Parallel Bars</a>
	<a href="documents/magq6hb.pdf" target="_blank" class="pdf">Qualification Men Horizontal Bar</a>
<h2 class="wom">Results Qualification Women Day 2</h2>
	<a href="documents/wagq3bb.pdf" target="_blank" class="pdf">Qualification Women Beam</a>
	<a href="documents/wagq4fx.pdf" target="_blank" class="pdf">Qualification Women Floor Exercise</a>
<h2 class="men">Results Qualification Men Day 1</h2>
	<a href="documents/magq1fx.pdf" target="_blank" class="pdf">Qualification Men Floor Exercise</a>
	<a href="documents/magq2ph.pdf" target="_blank" class="pdf">Qualification Men Pommel Horse</a>
	<a href="documents/magq3sr.pdf" target="_blank" class="pdf">Qualification Men Rings</a>
<h2 class="wom">Results Qualification Women Day 1</h2>
	<a href="documents/wagq1vt.pdf" target="_blank" class="pdf">Qualification Women Vault</a>
	<a href="documents/wagq2ub.pdf" target="_blank" class="pdf">Qualification Women Uneven Bars</a>
<h2 class="men">Participants</h2>
	<a href="documents/nomregmag.pdf" target="_blank" class="pdf">Nominative Registration Men</a>
	<a href="documents/nomregwag.pdf" target="_blank" class="pdf">Nominative Registration Women</a>
	<a href="documents/defreg.pdf" target="_blank" class="pdf">Definitive Registration</a>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Monday March 20</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Arrival of the delegations</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Tuesday March 21</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Podium Training<br>Orientation Meeting<br>Judge&rsque;s Instructions</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday March 22</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Qualifications MAG and WAG (3 MAG + 2 WAG)</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday March 23</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Qualifications MAG and WAG (3 MAG + 2 WAG)</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday March 24</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Apparatus Finals MAG and WAG (3 MAG + 2 WAG)</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday March 25</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Apparatus Finals MAG and WAG (3 MAG + 2 WAG)</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday March 26</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Departure of the delegations</td></tr>
</table>
<h2 class="men">Directives</h2>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a><br>

<img src="images/aspire.jpg" width="600" height="380" border=0 alt="10th FIG ART World Challenge CUP Doha (QAT) 2017 March 22-25">
<br>
<img src="images/aspire2.jpg" width="600" height="366" border=0 alt="10th FIG ART World Challenge CUP Doha (QAT) 2017 March 22-25">