---
title: "2024 Cairo World Cup"
year: 2024
startdate: 2024-02-15
enddate: 2024-02-18
country: "EGY"
category: "world-cup"
layout: results
---

{% include resultsheader.html title="Cairo World Cup<br>Cairo (EGY)<br>2024 Feb 15-18" %}

<img src="logo.jpeg" alt="Cairo world cup logo">

<h2 class="men">Men Apparatus Finals</h2>

	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Ryu Sunghyun RYU</li>
		<li><b>Pommel Horse</b> 🥇Gold -  Ahmad Abu Al Soud (JOR)</li>
		<li><b>Rings</b> 🥇Gold - Ryong Il Jong (PRK)</li>
		<li><b>Vault</b> 🥇Gold - Artur Davtyan (ARM)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Illia Kovtun (UKR)</li>
		<li><b>Horizontal Bar</b> 🥇Gold -  Tang Chia-Hung (TPE)</li>
	</ul>

    <a href="documents/magfx.pdf" target="_blank" class="pdf">Floor</a>
    <a href="documents/magph.pdf" target="_blank" class="pdf">Pommel Horse</a>
    <a href="documents/magsr.pdf" target="_blank" class="pdf">Rings</a>
    <a href="documents/magvt.pdf" target="_blank" class="pdf">Vault</a>
    <a href="documents/magpb.pdf" target="_blank" class="pdf">Parallel Bars</a>
    <a href="documents/maghb.pdf" target="_blank" class="pdf">Horizontal Bar</a>


<!--WAG Final-->
<h2 class="wom">Women Apparatus Finals</h2>

	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - An Chang Ok (PRK)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Huang Zhuofan (CHN)</li>
		<li><b>Beam</b> 🥇Gold - Nina Derwael (BEL)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Okamura Mana (JPN)</li>
	</ul>

    <a href="documents/wagvt.pdf" target="_blank" class="pdf">Vault</a>
    <a href="documents/wagub.pdf" target="_blank" class="pdf">Uneven Bars</a>
    <a href="documents/wagbb.pdf" target="_blank" class="pdf">Beam</a>
    <a href="documents/wagfx.pdf" target="_blank" class="pdf">Floor</a>

<h2 class="men">Results</h2>

    <a href="documents/results_book.pdf" target="_blank" class="pdf">Results Book</a>
    <a href="documents/mag_oly_points.pdf" target="_blank" class="pdf">MAG Olympic Ranking Points</a>
    <a href="documents/wag_oly_points.pdf" target="_blank" class="pdf">WAG Olympic Ranking Points</a>




