---
title: "Games of the 29th Olympiad, Beijing"
year: 2008
startdate: 2008-08-08
enddate: 2008-08-24
country: "CHN"
category: "olympics"
layout: results
redirect_from: /olympics/2008/beijing.html
---

{% include resultsheader.html title="Games of the XXIX Olympiad<br>Beijing (CHN) August 8-24, 2008" %}

<img src="/assets/images/logos/lg2008og.jpg">

<h2 class="men">Full Results</h2>
<ul>
	<li><a href="/results/2008/olympics/women.html">Women's Artistic Gymnastics</a></li>
	<li><a href="/results/2008/olympics/men.html">Men's Artistic Gymnastics</a></li>
	<li><a href="/results/2008/olympics/rhythmic.html">Rhythmic Gymnastics</a></li>
	<li><a href="/results/2008/olympics/tramp.html">Trampoline</a></li>
	<br>
	<li><a href="/results/2008/olympics/menqualteams.html">Men's Artistic Gymnastics - Team Qualifications</a></li>
	<li><a href="/results/2008/olympics/menqualaa.html">Men's Artistic Gymnastics - All Around Qualifications</a></li>		
	<li><a href="/results/2008/olympics/menqualapparatus.html">Men's Artistic Gymnastics - Apparatus Qualifications</a></li>		
	<li><a href="/results/2008/olympics/womenqualteams.html">Women's Artistic Gymnastics - Team Qualifications</a></li>	
	<li><a href="/results/2008/olympics/womenqualaa.html">Women's Artistic Gymnastics - All Around Qualifications</a></li>	
	<li><a href="/results/2008/olympics/womenqualapparatus.html">Women's Artistic Gymnastics - Apparatus Qualifications</a></li>	
</ul>
<br>
<a href="documents/beijing2008book.pdf" target="_blank" class="pdf">Detailed Results Book</a>

<h2 class="wom">Women's Artistic Gymnastics - Summary</h2>

<h3 class="left">All Around Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Nastia Liukin (USA)</li>
	<li>🥈Silver - Shawn Johnson (USA)</li>
	<li>🥉Bronze - Yang Yilin (CHN)</li>
</ul>

<h3 class="left">Team Final</h3>
<ul class="podium-list">
	<li>🥇Gold - China</li>
	<li>🥈Silver - United States</li>
	<li>🥉Bronze - Romania</li>
</ul>

<h3 class="left">Apparatus Finals</h3>
<ul class="podium-list">
	<li><b>Vault</b> 🥇Gold - Hong Un Jong (PRK)</li>
	<li><b>Uneven Bars</b> 🥇Gold - He Kexin (CHN)</li>
	<li><b>Beam</b> 🥇Gold - Shawn Johnson (USA)</li>
	<li><b>Floor Exercise</b> 🥇Gold - Sandra Izbasa (ROU)</li>
</ul>

<h2 class="men">Men's Artistic Gymnastics - Summary</h2>

<h3 class="left">All Around Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Yang Wei (CHN)</li>
	<li>🥈Silver - Kohei Uchimura (JPN)</li>
	<li>🥉Bronze - Benoit Caranobe (FRA)</li>
</ul>

<h3 class="left">Team Final</h3>
<ul class="podium-list">
	<li>🥇Gold - China</li>
	<li>🥈Silver - Japan</li>
	<li>🥉Bronze - United States</li>
</ul>

<h3 class="left">Apparatus Finals</h3>
<ul class="podium-list">
	<li><b>Floor Exercise</b> 🥇Gold - Zou Kai (CHN)</li>
	<li><b>Pommel Horse</b> 🥇Gold - Xiao Qin (CHN)</li>
	<li><b>Rings</b> 🥇Gold - Chen Yibing (CHN)</li>
	<li><b>Vault</b> 🥇Gold - Leszek Blanik (POL)</li>
	<li><b>Parallel Bars</b> 🥇Gold - Li Xiaopeng (CHN)</li>
	<li><b>Horizontal Bar</b> 🥇Gold - Zou Kai (CHN)</li>
</ul>

<h2 class="wom">Rhythmic Gymnastics - Summary</h2>

<h3 class="left">All Around Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Evgeniya Kanaeva (RUS)</li>
	<li>🥈Silver - Inna Zhukova (BLR)</li>
	<li>🥉Bronze - Anna Bessonova (UKR)</li>
</ul>

<h3 class="left">Group Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Russia</li>
	<li>🥈Silver - China</li>
	<li>🥉Bronze - Belarus</li>
</ul>


<h2 class="wom">Trampoline - Summary</h2>

<h3 class="left">Women Final</h3>
<ul class="podium-list">
	<li>🥇Gold - He Wenna (CHN)</li>
	<li>🥈Silver - Karen Cockburn (CAN)</li>
	<li>🥉Bronze - Ekaterina Khilko (UZB)</li>
</ul>

<h3 class="left">Men Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Lu Chunlong (CHN)</li>
	<li>🥈Silver - Jason Burnett (CAN)</li>
	<li>🥉Bronze - Dong Dong (CHN)</li>
</ul>

<h2 class="men">Olympic Games Gymnastics and Trampoline Competition Schedule:</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<colgroup span=4 width="100" align=center valign=top>
	<colgroup span=1 width=310 valign=top>
<tr class="men"><th>Day</th><th>Date</th><th>Time</th><th colspan=2>Program</th></tr>	
<tr class="one"><td rowspan=3>Saturday</td><td rowspan=3>August 09</td>
	<td>12:00 - 14:00</td><td>MAG</td><td>Men Qualification Subdivision 1/3</td></tr> 
	<tr class="one"><td>16:00 - 18:00</td><td>MAG</td><td>Men Qualification Subdivision 2/3</td></tr>
	<tr class="one"><td>20:00 - 22:00</td><td>MAG</td><td>Men Qualification Subdivision 3/3</td></tr>
<tr class="two"><td rowspan=4>Sunday</td><td rowspan=4>August 10</td>
	<td>10:00 - 11:30</td><td>WAG</td><td>Women Qualification Subdivision 1/4</td></tr> 
	<tr class="two"><td>13:30 - 15:00</td><td>WAG</td><td>Women Qualification Subdivision 2/4</td></tr>
	<tr class="two"><td>17:00 - 18:30</td><td>WAG</td><td>Women Qualification Subdivision 3/4</td></tr>
	<tr class="two"><td>20:00 - 21:30</td><td>WAG</td><td>Women Qualification Subdivision 3/4</td></tr>
<tr class="one"><td>Wednesday</td><td>August 11</td><td></td><td></td><td></td></tr>
<tr class="two"><td>Tuesday</td><td>August 12</td><td>10:00 - 12:45</td><td>MAG</td><td>Men's teams Finals</td></tr>
<tr class="one"><td>Wednesday</td><td>August 13</td><td>10:00 - 12:10</td><td>WAG</td><td>Women's teams Finals</td></tr>
<tr class="two"><td>Thursday</td><td>August 14</td><td>11:00 - 13:30</td><td>MAG</td><td>Men's All - Around Finals</td></tr>
<tr class="one"><td>Friday</td><td>August 15</td><td>11:00 - 13:00</td><td>WAG</td><td>Women's All - Around Finals</td></tr>
<tr class="two"><td>Saturday</td><td>August 16</td><td>11:00 - 13:25</td><td>TRAM, TRAW</td><td>Trampoline Men &amp; Women Qualification</td></tr>
<tr class="one"><td>Sunday</td><td>August 17</td><td>18:00 - 20:30</td><td>MAG, WAG</td><td>Men's &amp; Women's Apparatus Finals</td></tr>
<tr class="two"><td rowspan=2>Monday</td><td rowspan=2>August 18</td>
	<td>18:00 - 19:45</td><td>MAG, WAG</td><td>Men's &amp; Women's Apparatus Finals</td></tr>
	<tr class="one"><td>20:12 - 20:49</td><td>TRAW</td><td>Trampoline Women's Finals</td></tr>
<tr class="one"><td rowspan=2>Tuesday</td><td rowspan=2>August 19</td>
	<td>18:00 - 19:45</td><td>MAG, WAG</td><td>Men's &amp; Women's Apparatus Finals</td></tr>
	<tr class="one"><td>20:12 - 20:49</td><td>TRAM</td><td>Trampoline Men's Finals</td></tr>
<tr class="two"><td>Wednesday</td><td>August 20</td><td></td><td></td><td></td></tr>
<tr class="one"><td>Thursday</td><td>August 21</td><td>19:30-22:35</td><td>RG</td><td>Rhythmic Gymnastics Qualification</td></tr>
<tr class="two"><td>Friday</td><td>August 22</td><td>19:30-22:35</td><td>RG</td><td>Rhythmic Gymnastics Qualification</td></tr>
<tr class="one"><td>Saturday</td><td>August 23</td><td>19:30-21:45</td><td>RG</td><td>Rhythmic Gymnastics Finals</td></tr>
<tr class="two"><td>Sunday</td><td>August 24</td><td>11:00-12:30</td><td>RG</td><td>Rhythmic Gymnastics Finals</td></tr>
</table>
</div>