---
title: "Beijing 2008 Olympics Men's Apparatus Qualifications"
year: 2008
startdate: 2008-08-08
enddate: 2008-08-24
country: "CHN"
category: "olympics"
layout: results
homepage: false
redirect_from: /olympics/2008/mageventsqual.html
---
	
{% include resultsheader.html title="Games of the 29th Olympiad<br>Men's Artistic Gymnastics<br>Beijing (CHN) August 8-24, 2008<br>Apparatus Qualifications" %}

<a href="/results/2008/olympics/index.html"><img src="/assets/images/logos/lg2008og.jpg"></a>

<h2 class="men">Men’s Floor Exercise Qualification - 2008 Aug 9</h2>
<div class="table-scroll" tabindex="-1">	
<table class="maa">
	<colgroup span=1 width=30 align="center">
	<colgroup span=1 width=250>
	<colgroup span=5 width=85 align="center">
<tr class="men"><th colspan=3>Gymnast</th><th>A</th><th>B</th><th>Pen</th><th>Score</td></tr>
<tr class="one"><td>1</td><td>HYPOLITO Diego</td><td>BRA</td><td>6.600</td><td>9.350</td><td></td><td>15.950 Q</td></tr>
<tr class="two"><td>2</td><td>DRAGULESCU Marian</td><td>ROU</td><td>6.900</td><td>9.025</td><td></td><td>15.925 Q</td></tr>
<tr class="one"><td>3</td><td>DEFERR Gervasio</td><td>ESP</td><td>6.500</td><td>9.325</td><td></td><td>15.825 Q</td></tr>
<tr class="two"><td>4</td><td>HAMBUECHEN Fabian</td><td>GER</td><td>6.500</td><td>9.300</td><td></td><td>15.800 Q</td></tr>
<tr class="one"><td>5</td><td>UCHIMURA Kohei</td><td>JPN</td><td>6.500</td><td>9.225</td><td></td><td>15.725 Q</td></tr>
<tr class="two"><td>6</td><td>ZOU Kai<td>CHN</td><td>6.700</td><td>9.100</td><td>0.100</td><td>15.700 Q</td></tr>
<tr class="one"><td>7</td><td>GOLOTSUTSKOV Anton</td><td>RUS</td><td>6.500</td><td>9.100</td><td></td><td>15.600 Q</td></tr>
<tr class="two"><td>8</td><td>SHATILOV Alexandr</td><td>ISR</td><td>6.600</td><td>9.000</td><td></td><td>15.600 Q</td></tr>
<tr class="one"><td>9</td><td>KIM Soomyun</td><td>KOR</td><td>6.700</td><td>8.875</td><td></td><td>15.575 R</td></tr>
<tr class="two"><td>10</td><td>MARTINEZ Rafael</td><td>ESP</td><td>6.400</td><td>9.150</td><td></td><td>15.550 R</td></tr>
<tr class="one"><td>11</td><td>SHEWFELT Kyle</td><td>CAN</td><td>6.500</td><td>9.025</td><td></td><td>15.525 R</td></tr>
<tr class="two"><td>12</td><td>NAKASE Takuya</td><td>JPN</td><td>6.300</td><td>9.200</td><td></td><td>15.500</td></tr>
<tr class="one"><td>13</td><td>KIM Daeeun</td><td>KOR</td><td>6.400</td><td>9.100</td><td></td><td>15.500</td></tr>
<tr class="two"><td>14</td><td>NGUYEN Marcel</td><td>GER</td><td>6.400</td><td>9.025</td><td></td><td>15.425</td></tr>
<tr class="one"><td>15</td><td>YANG Wei</td><td>CHN</td><td>6.100</td><td>9.300</td><td></td><td>15.400</td></tr>
<tr class="two"><td>16</td><td>SELARIU Razvan</td><td>ROU</td><td>6.400</td><td>9.000</td><td></td><td>15.400</td></tr>
<tr class="one"><td>17</td><td>HORTON Jonathan</td><td>USA</td><td>6.300</td><td>9.050</td><td></td><td>15.350</td></tr>
<tr class="two"><td>18</td><td>DEVYATOVSKIY Maxim</td><td>RUS</td><td>6.000</td><td>9.300</td><td></td><td>15.300</td></tr>
<tr class="one"><td>19</td><td>HAGERTY Joey</td><td>USA</td><td>6.200</td><td>9.075</td><td></td><td>15.275</td></tr>
<tr class="two"><td>20</td><td>OKIGUCHI Makoto</td><td>JPN</td><td>6.500</td><td>8.775</td><td></td><td>15.275</td></tr>
<tr class="one"><td>21</td><td>GAFUIK Nathan</td><td>CAN</td><td>6.300</td><td>8.925</td><td></td><td>15.225</td></tr>
<tr class="two"><td>22</td><td>PALGEN Sascha</td><td>LUX</td><td>6.200</td><td>9.000</td><td></td><td>15.200</td></tr>
<tr class="one"><td>23</td><td>TOMITA Hiroyuki</td><td>JPN</td><td>6.000</td><td>9.175</td><td></td><td>15.175</td></tr>
<tr class="two"><td>24</td><td>RIVERA RIVERA Luis</td><td>PUR</td><td>6.100</td><td>9.025</td><td></td><td>15.125</td></tr>
<tr class="one"><td>25</td><td>BOUHAIL Thomas</td><td>FRA</td><td>6.400</td><td>8.825</td><td>0.100</td><td>15.125</td></tr>
<tr class="two"><td>26</td><td>CARANOBE Benoit</td><td>FRA</td><td>6.300</td><td>8.825</td><td></td><td>15.125</td></tr>
<tr class="one"><td>27</td><td>KOCZI Flavius</td><td>ROU</td><td>6.500</td><td>8.625</td><td></td><td>15.125</td></tr>
<tr class="two"><td>28</td><td>LI Xiaopeng</td><td>CHN</td><td>5.900</td><td>9.200</td><td></td><td>15.100</td></tr>
<tr class="one"><td>29</td><td>SPIRIDONOV Evgenij</td><td>GER</td><td>6.000</td><td>9.025</td><td></td><td>15.025</td></tr>
<tr class="two"><td>30</td><td>KIM Jihoon</td><td>KOR</td><td>6.000</td><td>8.975</td><td></td><td>14.975</td></tr>
<tr class="one"><td>31</td><td>KIM Seungil</td><td>KOR</td><td>6.000</td><td>8.975</td><td></td><td>14.975</td></tr>
<tr class="two"><td>32</td><td>KHOROKHORDIN Sergey</td><td>RUS</td><td>6.100</td><td>8.875</td><td></td><td>14.975</td></tr>
<tr class="one"><td>33</td><td>BOTELLA Isaac</td><td>ESP</td><td>6.300</td><td>8.675</td><td></td><td>14.975</td></tr>
<tr class="two"><td>34</td><td>SAKAMOTO Koki</td><td>JPN</td><td>5.700</td><td>9.250</td><td></td><td>14.950</td></tr>
<tr class="one"><td>35</td><td>KEATINGS Daniel</td><td>GBR</td><td>5.900</td><td>9.000</td><td></td><td>14.900</td></tr>
<tr class="two"><td>36</td><td>WONG Adam</td><td>CAN</td><td>5.900</td><td>9.000</td><td></td><td>14.900</td></tr>
<tr class="one"><td>37</td><td>ARTEMEV Alexander</td><td>USA</td><td>5.900</td><td>8.975</td><td></td><td>14.875</td></tr>
<tr class="two"><td>38</td><td>GOLDING Grant</td><td>CAN</td><td>5.900</td><td>8.950</td><td></td><td>14.850</td></tr>
<tr class="one"><td>39</td><td>JUCKEL Robert</td><td>GER</td><td>5.900</td><td>8.950</td><td></td><td>14.850</td></tr>
<tr class="two"><td>40</td><td>POZZO Enrico</td><td>ITA</td><td>6.200</td><td>8.600</td><td></td><td>14.800</td></tr>
<tr class="one"><td>41</td><td>UDE Filip</td><td>CRO</td><td>6.100</td><td>8.775</td><td>0.100</td><td>14.775</td></tr>
<tr class="two"><td>42</td><td>CHEN Yibing</td><td>CHN</td><td>5.600</td><td>9.125</td><td></td><td>14.725</td></tr>
<tr class="one"><td>43</td><td>BUCUR Adrian</td><td>ROU</td><td>5.800</td><td>8.925</td><td></td><td>14.725</td></tr>
<tr class="two"><td>44</td><td>KASPEROVICH Dmitry</td><td>BLR</td><td>6.000</td><td>8.775</td><td>0.100</td><td>14.675</td></tr>
<tr class="one"><td>45</td><td>CARBALLO Manuel</td><td>ESP</td><td>5.600</td><td>9.050</td><td></td><td>14.650</td></tr>
<tr class="two"><td>46</td><td>GIORGADZE Ilia</td><td>GEO</td><td>6.100</td><td>8.625</td><td>0.100</td><td>14.625</td></tr>
<tr class="one"><td>47</td><td>RYAZANOV Yury</td><td>RUS</td><td>6.000</td><td>8.600</td><td></td><td>14.600</td></tr>
<tr class="two"><td>48</td><td>SABOT Hamilton</td><td>FRA</td><td>5.600</td><td>8.975</td><td></td><td>14.575</td></tr>
<tr class="one"><td>49</td><td>POPESCU Daniel</td><td>ROU</td><td>5.700</td><td>8.975</td><td>0.100</td><td>14.575</td></tr>
<tr class="two"><td>50</td><td>MUNOZ Sergio</td><td>ESP</td><td>5.800</td><td>8.775</td><td></td><td>14.575</td></tr>
<tr class="one"><td>51</td><td>SIMPSON Sam</td><td>AUS</td><td>5.900</td><td>8.650</td><td></td><td>14.550</td></tr>
<tr class="two"><td>52</td><td>SAVENKOV Denis</td><td>BLR</td><td>6.000</td><td>8.525</td><td></td><td>14.525</td></tr>
<tr class="one"><td>53</td><td>PLUZHNIKOV Konstantin</td><td>RUS</td><td>5.500</td><td>8.950</td><td></td><td>14.450</td></tr>
<tr class="two"><td>54</td><td>BOY Philipp</td><td>GER</td><td>5.900</td><td>8.550</td><td></td><td>14.450</td></tr>
<tr class="one"><td>55</td><td>SPRING Justin</td><td>USA</td><td>5.800</td><td>8.600</td><td></td><td>14.400</td></tr>
<tr class="two"><td>56</td><td>XIAO Qin</td><td>CHN</td><td>5.500</td><td>8.975</td><td>0.100</td><td>14.375</td></tr>
<tr class="one"><td>57</td><td>SAVITSKI Dmitry</td><td>BLR</td><td>6.000</td><td>8.675</td><td>0.300</td><td>14.375</td></tr>
<tr class="two"><td>58</td><td>FOKIN Anton</td><td>UZB</td><td>5.800</td><td>8.825</td><td>0.300</td><td>14.325</td></tr>
<tr class="one"><td>59</td><td>TSAREVICH Aleksandr</td><td>BLR</td><td>5.500</td><td>8.800</td><td></td><td>14.300</td></tr>
<tr class="two"><td>60</td><td>ANGIOLETTI Matteo</td><td>ITA</td><td>5.500</td><td>8.850</td><td>0.100</td><td>14.250</td></tr>
<tr class="one"><td>61</td><td>GIRALDO Jorge Hugo</td><td>COL</td><td>5.700</td><td>8.500</td><td></td><td>14.200</td></tr>
<tr class="two"><td>62</td><td>PINHEIRO RODRIGUES Danny</td><td>FRA</td><td>5.800</td><td>8.400</td><td></td><td>14.200</td></tr>
<tr class="one"><td>63</td><td>BHAVSAR Raj</td><td>USA</td><td>5.200</td><td>8.975</td><td></td><td>14.175</td></tr>
<tr class="two"><td>64</td><td>MORANDI Matteo</td><td>ITA</td><td>5.400</td><td>8.775</td><td></td><td>14.175</td></tr>
<tr class="one"><td>65</td><td>FUENTES BUSTAMANTE Jose Luis</td><td>VEN</td><td>5.500</td><td>8.650</td><td></td><td>14.150</td></tr>
<tr class="two"><td>66</td><td>KARBANENKO Dimitri</td><td>FRA</td><td>5.600</td><td>8.450</td><td></td><td>14.050</td></tr>
<tr class="one"><td>67</td><td>COPPOLINO Andrea</td><td>ITA</td><td>5.000</td><td>9.025</td><td></td><td>14.025</td></tr>
<tr class="two"><td>68</td><td>KOZLOV Igor</td><td>BLR</td><td>5.300</td><td>8.725</td><td></td><td>14.025</td></tr>
<tr class="one"><td>69</td><td>YANG Taeyoung</td><td>KOR</td><td>6.100</td><td>7.850</td><td>0.100</td><td>13.850</td></tr>
<tr class="two"><td>70</td><td>SMITH Louis</td><td>GBR</td><td>5.400</td><td>8.300</td><td></td><td>13.700</td></tr>
<tr class="one"><td>71</td><td>CAPELLI Claudio</td><td>SUI</td><td>6.200</td><td>7.700</td><td>0.300</td><td>13.600</td></tr>
<tr class="two"><td>72</td><td>BUSNARI Alberto</td><td>ITA</td><td>4.500</td><td>9.025</td><td></td><td>13.525</td></tr>
<tr class="one"><td>73</td><td>SROUR Mohamed</td><td>EGY</td><td>5.800</td><td>7.850</td><td>0.200</td><td>13.450</td></tr>
<tr class="two"><td>74</td><td>GAL Robert HUN 5.</td><td>300</td><td>8.425</td><td>0.300</td><td></td><td>13.425</td></tr>
<tr class="one"><td>75</td><td>AL-HARAZI Nashwan</td><td>YEM</td><td>5.500</td><td>7.850</td><td>0.100</td><td>13.250</td></tr>
<tr class="two"><td>76</td><td>Van DAMME Koen</td><td>BEL</td><td>5.500</td><td>7.775</td><td>0.700</td><td>12.575</td></tr>
<tr class="one"><td>77</td><td>O'NEILL Brandon</td><td>CAN</td><td>2.000</td><td>1.450</td><td></td><td>3.450</td></tr>
</table>
</div>

<a href="documents/mag/q1fx.pdf" target="_blank" class="pdf">Official Results</a>

<!--PH-->
<h2 class="men">Men’s Pommel Horse Qualification - 2008 Aug 9</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<colgroup span=1 width=30 align="center">
	<colgroup span=1 width=250>
	<colgroup span=5 width=85 align="center">
<tr class="men"><th colspan=3>Gymnast</th><th>A</th><th>B</th><th>Pen</th><th>Score</td></tr>
<tr class="one"><td>1</td><td>XIAO Qin</td><td>CHN</td><td>6.400</td><td>9.600</td><td></td><td>16.000 Q</td></tr>
<tr class="two"><td>2</td><td>FUENTES BUSTAMANTE Jose Luis</td><td>VEN</td><td>6.500</td><td>9.025</td><td></td><td>15.525 Q</td></tr>
<tr class="one"><td>3</td><td>UDE Filip</td><td>CRO</td><td>6.400</td><td>9.075</td><td></td><td>15.475 Q</td></tr>
<tr class="two"><td>4</td><td>YANG Wei</td><td>CHN</td><td>6.100</td><td>9.325</td><td></td><td>15.425 Q</td></tr>
<tr class="one"><td>5</td><td>SMITH Louis</td><td>GBR</td><td>6.500</td><td>8.825</td><td></td><td>15.325 Q</td></tr>
<tr class="two"><td>6</td><td>HUANG Xu</td><td>CHN</td><td>6.000</td><td>9.300</td><td></td><td>15.300</td></tr>
<tr class="one"><td>7</td><td>ARTEMEV Alexander</td><td>USA</td><td>6.100</td><td>9.150</td><td></td><td>15.250 Q</td></tr>
<tr class="two"><td>8</td><td>TOMITA Hiroyuki</td><td>JPN</td><td>6.100</td><td>9.075</td><td></td><td>15.175 Q</td></tr>
<tr class="one"><td>9</td><td>KIM Jihoon</td><td>KOR</td><td>6.100</td><td>9.075</td><td></td><td>15.175 Q</td></tr>
<tr class="two"><td>10</td><td>KEATINGS Daniel</td><td>GBR</td><td>6.200</td><td>8.975</td><td></td><td>15.175 R</td></tr>
<tr class="one"><td>11</td><td>BUSNARI Alberto</td><td>ITA</td><td>6.200</td><td>8.925</td><td></td><td>15.125 R</td></tr>
<tr class="two"><td>12</td><td>IGNATOVICH Aleksei</td><td>BLR</td><td>6.100</td><td>8.975</td><td></td><td>15.075 R</td></tr>
<tr class="one"><td>13</td><td>YANG Taeyoung</td><td>KOR</td><td>6.000</td><td>9.000</td><td></td><td>15.000</td></tr>
<tr class="two"><td>14</td><td>SAKAMOTO Koki</td><td>JPN</td><td>6.000</td><td>8.925</td><td></td><td>14.925</td></tr>
<tr class="one"><td>15</td><td>ANDERGASSEN Thomas</td><td>GER</td><td>6.000</td><td>8.900</td><td></td><td>14.900</td></tr>
<tr class="two"><td>16</td><td>JUCKEL Robert</td><td>GER</td><td>5.900</td><td>8.950</td><td></td><td>14.850</td></tr>
<tr class="one"><td>17</td><td>KRYUKOV Nikolay</td><td>RUS</td><td>6.000</td><td>8.850</td><td></td><td>14.850</td></tr>
<tr class="two"><td>18</td><td>KHOROKHORDIN Sergey</td><td>RUS</td><td>5.800</td><td>9.000</td><td></td><td>14.800</td></tr>
<tr class="one"><td>19</td><td>MARTINEZ Rafael</td><td>ESP</td><td>6.000</td><td>8.800</td><td></td><td>14.800</td></tr>
<tr class="two"><td>20</td><td>RIVERA RIVERA Luis</td><td>PUR</td><td>5.900</td><td>8.850</td><td></td><td>14.750</td></tr>
<tr class="one"><td>21</td><td>KIM Daeeun</td><td>KOR</td><td>5.800</td><td>8.925</td><td></td><td>14.725</td></tr>
<tr class="two"><td>22</td><td>FOKIN Anton</td><td>UZB</td><td>6.000</td><td>8.725</td><td></td><td>14.725</td></tr>
<tr class="one"><td>23</td><td>BOY Philipp</td><td>GER</td><td>5.900</td><td>8.775</td><td></td><td>14.675</td></tr>
<tr class="two"><td>24</td><td>KIM Seungil</td><td>KOR</td><td>5.900</td><td>8.650</td><td></td><td>14.550</td></tr>
<tr class="one"><td>25</td><td>SAVITSKI Dmitry</td><td>BLR</td><td>5.700</td><td>8.825</td><td></td><td>14.525</td></tr>
<tr class="two"><td>26</td><td>POPESCU Daniel</td><td>ROU</td><td>6.100</td><td>8.400</td><td></td><td>14.500</td></tr>
<tr class="one"><td>27</td><td>CHEN Yibing</td><td>CHN</td><td>5.200</td><td>9.275</td><td></td><td>14.475</td></tr>
<tr class="two"><td>28</td><td>CARBALLO Manuel</td><td>ESP</td><td>5.600</td><td>8.875</td><td></td><td>14.475</td></tr>
<tr class="one"><td>29</td><td>SPIRIDONOV Evgenij</td><td>GER</td><td>5.700</td><td>8.775</td><td></td><td>14.475</td></tr>
<tr class="two"><td>30</td><td>CAPELLI Claudio</td><td>SUI</td><td>5.800</td><td>8.675</td><td></td><td>14.475</td></tr>
<tr class="one"><td>31</td><td>RYAZANOV Yury</td><td>RUS</td><td>5.700</td><td>8.750</td><td></td><td>14.450</td></tr>
<tr class="two"><td>32</td><td>TSAREVICH Aleksandr</td><td>BLR</td><td>5.800</td><td>8.650</td><td></td><td>14.450</td></tr>
<tr class="one"><td>33</td><td>KASHIMA Takehiro</td><td>JPN</td><td>6.300</td><td>8.125</td><td></td><td>14.425</td></tr>
<tr class="two"><td>34</td><td>KOCZI Flavius</td><td>ROU</td><td>6.500</td><td>7.900</td><td></td><td>14.400</td></tr>
<tr class="one"><td>35</td><td>WONG Adam</td><td>CAN</td><td>5.500</td><td>8.875</td><td></td><td>14.375</td></tr>
<tr class="two"><td>36</td><td>POZZO Enrico</td><td>ITA</td><td>5.500</td><td>8.825</td><td></td><td>14.325</td></tr>
<tr class="one"><td>37</td><td>CARANOBE Benoit</td><td>FRA</td><td>5.800</td><td>8.450</td><td></td><td>14.250</td></tr>
<tr class="two"><td>38</td><td>van DAMME Koen</td><td>BEL</td><td>6.200</td><td>8.000</td><td></td><td>14.200</td></tr>
<tr class="one"><td>39</td><td>KIKUCHI David</td><td>CAN</td><td>5.200</td><td>8.975</td><td></td><td>14.175</td></tr>
<tr class="two"><td>40</td><td>GOLDING Grant</td><td>CAN</td><td>5.400</td><td>8.725</td><td></td><td>14.125</td></tr>
<tr class="one"><td>41</td><td>TAN Kai Wen</td><td>USA</td><td>5.500</td><td>8.600</td><td></td><td>14.100</td></tr>
<tr class="two"><td>42</td><td>UCHIMURA Kohei</td><td>JPN</td><td>5.900</td><td>8.200</td><td></td><td>14.100</td></tr>
<tr class="one"><td>43</td><td>NAKASE Takuya</td><td>JPN</td><td>5.200</td><td>8.875</td><td></td><td>14.075</td></tr>
<tr class="two"><td>44</td><td>SELARIU Razvan</td><td>ROU</td><td>5.700</td><td>8.375</td><td></td><td>14.075</td></tr>
<tr class="one"><td>45</td><td>BHAVSAR Raj</td><td>USA</td><td>5.400</td><td>8.650</td><td></td><td>14.050</td></tr>
<tr class="two"><td>46</td><td>SABOT Hamilton</td><td>FRA</td><td>5.900</td><td>8.125</td><td></td><td>14.025</td></tr>
<tr class="one"><td>47</td><td>SIMPSON Sam</td><td>AUS</td><td>5.700</td><td>8.300</td><td></td><td>14.000</td></tr>
<tr class="two"><td>48</td><td>HORTON Jonathan</td><td>USA</td><td>5.200</td><td>8.725</td><td></td><td>13.925</td></tr>
<tr class="one"><td>49</td><td>HAGERTY Joey</td><td>USA</td><td>5.400</td><td>8.525</td><td></td><td>13.925</td></tr>
<tr class="two"><td>50</td><td>BOUHAIL Thomas</td><td>FRA</td><td>5.400</td><td>8.450</td><td></td><td>13.850</td></tr>
<tr class="one"><td>51</td><td>SHATILOV Alexandr</td><td>ISR</td><td>5.400</td><td>8.425</td><td></td><td>13.825</td></tr>
<tr class="two"><td>52</td><td>CASSINA Igor</td><td>ITA</td><td>5.000</td><td>8.800</td><td></td><td>13.800</td></tr>
<tr class="one"><td>53</td><td>GAFUIK Nathan</td><td>CAN</td><td>5.300</td><td>8.500</td><td></td><td>13.800</td></tr>
<tr class="two"><td>54</td><td>KIM Soomyun</td><td>KOR</td><td>5.300</td><td>8.500</td><td></td><td>13.800</td></tr>
<tr class="one"><td>55</td><td>SAN MIGUEL Ivan</td><td>ESP</td><td>5.100</td><td>8.675</td><td></td><td>13.775</td></tr>
<tr class="two"><td>56</td><td>KARBANENKO Dimitri</td><td>FRA</td><td>4.900</td><td>8.800</td><td></td><td>13.700</td></tr>
<tr class="one"><td>57</td><td>MORANDI Matteo</td><td>ITA</td><td>5.100</td><td>8.600</td><td></td><td>13.700</td></tr>
<tr class="two"><td>58</td><td>KONECNY Martin</td><td>CZE</td><td>5.000</td><td>8.650</td><td></td><td>13.650</td></tr>
<tr class="one"><td>59</td><td>BOTELLA Isaac</td><td>ESP</td><td>4.900</td><td>8.700</td><td></td><td>13.600</td></tr>
<tr class="two"><td>60</td><td>SAVENKOV Denis</td><td>BLR</td><td>5.000</td><td>8.525</td><td></td><td>13.525</td></tr>
<tr class="one"><td>61</td><td>PINHEIRO RODRIGUES Danny</td><td>FRA</td><td>5.000</td><td>8.400</td><td></td><td>13.400</td></tr>
<tr class="two"><td>62</td><td>GIRALDO Jorge Hugo</td><td>COL</td><td>5.900</td><td>7.450</td><td></td><td>13.350</td></tr>
<tr class="one"><td>63</td><td>DEVYATOVSKIY Maxim</td><td>RUS</td><td>5.300</td><td>8.000</td><td></td><td>13.300</td></tr>
<tr class="two"><td>64</td><td>SROUR Mohamed</td><td>EGY</td><td>4.900</td><td>8.350</td><td></td><td>13.250</td></tr>
<tr class="one"><td>65</td><td>GAL Robert</td><td>HUN</td><td>5.000</td><td>8.225</td><td></td><td>13.225</td></tr>
<tr class="two"><td>66</td><td>SCHARER Christoph</td><td>SUI</td><td>5.300</td><td>7.850</td><td></td><td>13.150</td></tr>
<tr class="one"><td>67</td><td>HAMBUECHEN Fabian</td><td>GER</td><td>4.700</td><td>8.400</td><td></td><td>13.100</td></tr>
<tr class="two"><td>68</td><td>PALGEN Sascha</td><td>LUX</td><td>5.300</td><td>7.700</td><td></td><td>13.000</td></tr>
<tr class="one"><td>69</td><td>COPPOLINO Andrea</td><td>ITA</td><td>4.700</td><td>8.225</td><td></td><td>12.925</td></tr>
<tr class="two"><td>70</td><td>STANESCU Robert</td><td>ROU</td><td>4.900</td><td>8.025</td><td></td><td>12.925</td></tr>
<tr class="one"><td>71</td><td>MUNOZ Sergio</td><td>ESP</td><td>5.000</td><td>7.700</td><td></td><td>12.700</td></tr>
<tr class="two"><td>72</td><td>KOZLOV Igor</td><td>BLR</td><td>4.200</td><td>8.475</td><td></td><td>12.675</td></tr>
<tr class="one"><td>73</td><td>BUCUR Adrian</td><td>ROU</td><td>5.100</td><td>7.425</td><td></td><td>12.525</td></tr>
<tr class="two"><td>74</td><td>AL-HARAZI Nashwan</td><td>YEM</td><td>5.200</td><td>7.325</td><td></td><td>12.525</td></tr>
<tr class="one"><td>75</td><td>O'NEILL Brandon</td><td>CAN</td><td>4.200</td><td>8.275</td><td></td><td>12.475</td></tr>
<tr class="two"><td>76</td><td>GOLOTSUTSKOV Anton</td><td>RUS</td><td>5.500</td><td>6.825</td><td></td><td>12.325</td></tr>
</table>
</div>

<a href="documents/mag/q2ph.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="men">Men’s Rings Qualification - 2008 Aug 9</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<colgroup span=1 width=30 align="center">
	<colgroup span=1 width=250>
	<colgroup span=5 width=85 align="center">
<tr class="men"><th colspan=3>Gymnast</th><th>A</th><th>B</th><th>Pen</th><th>Score</td></tr>
<tr class="one"><td>1</td><td>CHEN Yibing</td><td>CHN</td><td>7.300</td><td>9.225</td><td></td><td>16.525 Q</td></tr>
<tr class="two"><td>2</td><td>IOVTCHEV Iordan</td><td>BUL</td><td>7.300</td><td>8.975</td><td></td><td>16.275 Q</td></tr>
<tr class="one"><td>3</td><td>VOROBIOV Oleksandr</td><td>UKR</td><td>7.200</td><td>9.050</td><td></td><td>16.250 Q</td></tr>
<tr class="two"><td>4</td><td>YANG Wei</td><td>CHN</td><td>7.300</td><td>8.925</td><td></td><td>16.225 Q</td></tr>
<tr class="one"><td>5</td><td>MORANDI Matteo</td><td>ITA</td><td>7.100</td><td>8.925</td><td></td><td>16.025 Q</td></tr>
<tr class="two"><td>6</td><td>COPPOLINO Andrea</td><td>ITA</td><td>6.800</td><td>9.175</td><td></td><td>15.975 Q</td></tr>
<tr class="one"><td>7</td><td>PINHEIRO RODRIGUES Danny</td><td>FRA</td><td>7.200</td><td>8.600</td><td></td><td>15.800 Q</td></tr>
<tr class="two"><td>8</td><td>STANESCU Robert</td><td>ROU</td><td>7.000</td><td>8.750</td><td></td><td>15.750 Q</td></tr>
<tr class="one"><td>9</td><td>TAN Kai Wen</td><td>USA</td><td>7.200</td><td>8.525</td><td></td><td>15.725 R</td></tr>
<tr class="two"><td>10</td><td>ANGIOLETTI Matteo</td><td>ITA</td><td>6.700</td><td>8.925</td><td></td><td>15.625</td></tr>
<tr class="one"><td>11</td><td>YOO Wonchul</td><td>KOR</td><td>6.800</td><td>8.775</td><td></td><td>15.575 R</td></tr>
<tr class="two"><td>12</td><td>ANDERGASSEN Thomas</td><td>GER</td><td>6.600</td><td>8.925</td><td></td><td>15.525 R</td></tr>
<tr class="one"><td>13</td><td>SAKAMOTO Koki</td><td>JPN</td><td>6.700</td><td>8.825</td><td></td><td>15.525</td></tr>
<tr class="two"><td>14</td><td>KIM Daeeun</td><td>KOR</td><td>6.700</td><td>8.750</td><td></td><td>15.450</td></tr>
<tr class="one"><td>15</td><td>DEVYATOVSKIY Maxim</td><td>RUS</td><td>6.300</td><td>9.075</td><td></td><td>15.375</td></tr>
<tr class="two"><td>16</td><td>BHAVSAR Raj</td><td>USA</td><td>6.500</td><td>8.825</td><td></td><td>15.325</td></tr>
<tr class="one"><td>17</td><td>HORTON Jonathan</td><td>USA</td><td>6.600</td><td>8.725</td><td></td><td>15.325</td></tr>
<tr class="two"><td>18</td><td>HUANG Xu</td><td>CHN</td><td>6.600</td><td>8.700</td><td></td><td>15.300</td></tr>
<tr class="one"><td>19</td><td>GOLDING Grant</td><td>CAN</td><td>6.300</td><td>8.975</td><td></td><td>15.275</td></tr>
<tr class="two"><td>20</td><td>NAKASE Takuya</td><td>JPN</td><td>6.400</td><td>8.875</td><td></td><td>15.275</td></tr>
<tr class="one"><td>21</td><td>KASPEROVICH Dmitry</td><td>BLR</td><td>6.500</td><td>8.775</td><td></td><td>15.275</td></tr>
<tr class="two"><td>22</td><td>RIVERA RIVERA Luis</td><td>PUR</td><td>6.500</td><td>8.750</td><td></td><td>15.250</td></tr>
<tr class="one"><td>23</td><td>KIKUCHI David</td><td>CAN</td><td>6.500</td><td>8.700</td><td></td><td>15.200</td></tr>
<tr class="two"><td>24</td><td>SAN MIGUEL Ivan</td><td>ESP</td><td>6.600</td><td>8.600</td><td></td><td>15.200</td></tr>
<tr class="one"><td>25</td><td>SELARIU Razvan</td><td>ROU</td><td>6.300</td><td>8.875</td><td></td><td>15.175</td></tr>
<tr class="two"><td>26</td><td>SAVITSKI Dmitry</td><td>BLR</td><td>6.300</td><td>8.875</td><td></td><td>15.175</td></tr>
<tr class="one"><td>27</td><td>MUNOZ Sergio</td><td>ESP</td><td>6.600</td><td>8.550</td><td></td><td>15.150</td></tr>
<tr class="two"><td>28</td><td>CARANOBE Benoit</td><td>FRA</td><td>6.400</td><td>8.700</td><td></td><td>15.100</td></tr>
<tr class="one"><td>29</td><td>RYAZANOV Yury</td><td>RUS</td><td>6.400</td><td>8.700</td><td></td><td>15.100</td></tr>
<tr class="two"><td>30</td><td>GOLOTSUTSKOV Anton</td><td>RUS</td><td>6.400</td><td>8.675</td><td></td><td>15.075</td></tr>
<tr class="one"><td>31</td><td>KHOROKHORDIN Sergey</td><td>RUS</td><td>6.400</td><td>8.675</td><td></td><td>15.075</td></tr>
<tr class="two"><td>32</td><td>TOMITA Hiroyuki</td><td>JPN</td><td>6.300</td><td>8.725</td><td></td><td>15.025</td></tr>
<tr class="one"><td>33</td><td>HAMBUECHEN Fabian</td><td>GER</td><td>5.900</td><td>9.075</td><td></td><td>14.975</td></tr>
<tr class="two"><td>34</td><td>BUCUR Adrian</td><td>ROU</td><td>6.200</td><td>8.750</td><td></td><td>14.950</td></tr>
<tr class="one"><td>35</td><td>KOZLOV Igor</td><td>BLR</td><td>6.100</td><td>8.825</td><td></td><td>14.925</td></tr>
<tr class="two"><td>36</td><td>BOTELLA Isaac</td><td>ESP</td><td>6.300</td><td>8.600</td><td></td><td>14.900</td></tr>
<tr class="one"><td>37</td><td>CARBALLO Manuel</td><td>ESP</td><td>6.400</td><td>8.500</td><td></td><td>14.900</td></tr>
<tr class="two"><td>38</td><td>YANG Taeyoung</td><td>KOR</td><td>6.300</td><td>8.575</td><td></td><td>14.875</td></tr>
<tr class="one"><td>39</td><td>NGUYEN Marcel</td><td>GER</td><td>5.800</td><td>9.050</td><td></td><td>14.850</td></tr>
<tr class="two"><td>40</td><td>FUENTES BUSTAMANTE Jose Luis</td><td>VEN</td><td>6.400</td><td>8.450</td><td></td><td>14.850</td></tr>
<tr class="one"><td>41</td><td>FOKIN Anton</td><td>UZB</td><td>6.200</td><td>8.625</td><td></td><td>14.825</td></tr>
<tr class="two"><td>42</td><td>LI Xiaopeng</td><td>CHN</td><td>6.100</td><td>8.700</td><td></td><td>14.800</td></tr>
<tr class="one"><td>43</td><td>UCHIMURA Kohei</td><td>JPN</td><td>5.900</td><td>8.775</td><td></td><td>14.675</td></tr>
<tr class="two"><td>44</td><td>BOY Philipp</td><td>GER</td><td>6.000</td><td>8.650</td><td></td><td>14.650</td></tr>
<tr class="one"><td>45</td><td>WONG Adam</td><td>CAN</td><td>5.800</td><td>8.700</td><td></td><td>14.500</td></tr>
<tr class="two"><td>46</td><td>JUCKEL Robert</td><td>GER</td><td>6.000</td><td>8.425</td><td></td><td>14.425</td></tr>
<tr class="one"><td>47</td><td>CAPELLI Claudio</td><td>SUI</td><td>5.600</td><td>8.775</td><td></td><td>14.375</td></tr>
<tr class="two"><td>48</td><td>SABOT Hamilton</td><td>FRA</td><td>5.600</td><td>8.775</td><td></td><td>14.375</td></tr>
<tr class="one"><td>49</td><td>KIM Seungil</td><td>KOR</td><td>5.600</td><td>8.725</td><td></td><td>14.325</td></tr>
<tr class="two"><td>50</td><td>van DAMME Koen</td><td>BEL</td><td>5.700</td><td>8.625</td><td></td><td>14.325</td></tr>
<tr class="one"><td>51</td><td>MARTINEZ Rafael</td><td>ESP</td><td>5.800</td><td>8.525</td><td></td><td>14.325</td></tr>
<tr class="two"><td>52</td><td>PALGEN Sascha</td><td>LUX</td><td>5.800</td><td>8.525</td><td></td><td>14.325</td></tr>
<tr class="one"><td>53</td><td>PLUZHNIKOV Konstantin</td><td>RUS</td><td>6.200</td><td>8.075</td><td></td><td>14.275</td></tr>
<tr class="two"><td>54</td><td>GAFUIK Nathan</td><td>CAN</td><td>5.200</td><td>9.050</td><td></td><td>14.250</td></tr>
<tr class="one"><td>55</td><td>POZZO Enrico</td><td>ITA</td><td>5.500</td><td>8.750</td><td></td><td>14.250</td></tr>
<tr class="two"><td>56</td><td>KIM Soomyun</td><td>KOR</td><td>5.500</td><td>8.675</td><td></td><td>14.175</td></tr>
<tr class="one"><td>57</td><td>SPRING Justin</td><td>USA</td><td>5.500</td><td>8.675</td><td></td><td>14.175</td></tr>
<tr class="two"><td>58</td><td>SHATILOV Alexandr</td><td>ISR</td><td>5.300</td><td>8.775</td><td></td><td>14.075</td></tr>
<tr class="one"><td>59</td><td>POPESCU Daniel</td><td>ROU</td><td>5.400</td><td>8.575</td><td></td><td>13.975</td></tr>
<tr class="two"><td>60</td><td>GIRALDO Jorge Hugo</td><td>COL</td><td>5.500</td><td>8.450</td><td></td><td>13.950</td></tr>
<tr class="one"><td>61</td><td>KOCZI Flavius</td><td>ROU</td><td>5.900</td><td>8.050</td><td></td><td>13.950</td></tr>
<tr class="two"><td>62</td><td>SHEWFELT Kyle</td><td>CAN</td><td>5.000</td><td>8.925</td><td></td><td>13.925</td></tr>
<tr class="one"><td>63</td><td>SIMPSON Sam</td><td>AUS</td><td>5.500</td><td>8.300</td><td></td><td>13.800</td></tr>
<tr class="two"><td>64</td><td>KEATINGS Daniel</td><td>GBR</td><td>5.300</td><td>8.475</td><td></td><td>13.775</td></tr>
<tr class="one"><td>65</td><td>SAVENKOV Denis</td><td>BLR</td><td>4.800</td><td>8.950</td><td></td><td>13.750</td></tr>
<tr class="two"><td>66</td><td>BOUHAIL Thomas</td><td>FRA</td><td>4.500</td><td>9.200</td><td></td><td>13.700</td></tr>
<tr class="one"><td>67</td><td>KARBANENKO Dimitri</td><td>FRA</td><td>5.000</td><td>8.675</td><td></td><td>13.675</td></tr>
<tr class="two"><td>68</td><td>ARTEMEV Alexander</td><td>USA</td><td>5.400</td><td>8.275</td><td></td><td>13.675</td></tr>
<tr class="one"><td>69</td><td>SMITH Louis</td><td>GBR</td><td>5.400</td><td>7.925</td><td></td><td>13.325</td></tr>
<tr class="two"><td>70</td><td>SROUR Mohamed</td><td>EGY</td><td>5.300</td><td>7.375</td><td></td><td>12.675</td></tr>
<tr class="one"><td>71</td><td>IGNATOVICH Aleksei</td><td>BLR</td><td>0.000</td><td>0.000</td><td></td><td>0.000</td></tr>
</table>
</div>

<a href="documents/mag/q3sr.pdf" target="_blank" class="pdf">Official Results</a>


<h2 class="men">Men’s Vault Qualification - 2008 Aug 9</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<colgroup span=1 width=25 align="center">
	<colgroup span=1 width=250>
	<colgroup span=6 width=72 align="center">
<tr class="men"><th colspan=8>Gymnast</th></th></tr>
<tr class="men"><th colspan=3>Two Vaults Qualification</th><th>A</th><th>B</th><th>Pen</th><th>Score</td><th>Final</th></tr>
<tr class="one"><td>1</td><td>DRAGULESCU Marian</td><td>ROU</td><td>7.000</td><td>9.625</td><td></td><td>16.625</td><td>16.762 Q</td></tr>
<tr class="two"><td>2</td><td>BOUHAIL Thomas</td><td>FRA</td><td>7.000</td><td>9.625</td><td></td><td>16.625</td><td>16.662 Q</td></tr>
<tr class="one"><td>3</td><td>BLANIK Leszek</td><td>POL</td><td>7.000</td><td>9.700</td><td></td><td>16.700</td><td>16.587 Q</td></tr>
<tr class="two"><td>4</td><td>KASPEROVICH Dmitry</td><td>BLR</td><td> 7.000</td><td>9.500</td><td></td><td>16.500</td><td>16.587 Q</td></tr>
<tr class="one"><td>5</td><td>KOCZI Flavius</td><td>ROU</td><td> 7.000</td><td>9.600</td><td></td><td>16.600</td><td>16.587 Q</td></tr>
<tr class="two"><td>6</td><td>GOLOTSUTSKOV Anton</td><td>RUS</td><td> 7.000</td><td>9.550</td><td></td><td>16.550</td><td>16.575 Q</td></tr>
<tr class="one"><td>7</td><td>CARANOBE Benoit</td><td>FRA</td><td> 7.000</td><td>9.500</td><td></td><td>16.500</td><td>16.437 Q</td></tr>
<tr class="two"><td>8</td><td>BOTELLA Isaac</td><td>ESP</td><td> 6.600</td><td>9.450</td><td></td><td>16.050</td><td>16.075 Q</td></tr>
<tr class="one"><td>9</td><td>SHEWFELT Kyle</td><td>CAN</td><td> 6.600</td><td>9.750</td><td></td><td>16.350</td><td>16.050 R</td></tr>
<tr class="two"><td>10</td><td>HAMBUECHEN Fabian</td><td>GER</td><td> 6.600</td><td>9.700</td><td></td><td>16.300</td><td>16.037 R</td></tr>
<tr class="one"><td>11</td><td>MARAS Vlasios</td><td>GRE</td><td> 6.600</td><td>9.425</td><td>0.100</td><td>15.925</td><td>15.987 R</td></tr>
<tr class="two"><td>12</td><td>ANGIOLETTI Matteo</td><td>ITA</td><td> 7.000</td><td>9.500</td><td></td><td>16.500</td><td>15.887</td></tr>
<tr class="one"><td>13</td><td>RIVERA RIVERA Luis</td><td>PUR</td><td> 6.600</td><td>9.625</td><td>0.100</td><td>16.225</td><td>15.712</td></tr>
<tr class="two"><td>14</td><td>YANG Taeyoung</td><td>KOR</td><td> 7.000</td><td>9.000</td><td>0.400</td><td>16.000</td><td>15.525</td></tr>
<tr class="one"><td>15</td><td>POPESCU Daniel</td><td>ROU</td><td> 7.000</td><td>9.500</td><td>0.100</td><td>16.400</td><td>15.262</td></tr>
<tr class="two"><td>16</td><td>AL-HARAZI Nashwan</td><td>YEM</td><td> 6.200</td><td>9.200</td><td></td><td>15.400</td><td>15.250</td></tr>
</table>
</div>

<a href="documents/mag/q4vt.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="men">Men’s Parallel Bars Qualification - 2008 Aug 9</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<colgroup span=1 width=30 align="center">
	<colgroup span=1 width=250>
	<colgroup span=5 width=85 align="center">
<tr class="men"><th colspan=3>Gymnast</th><th>A</th><th>B</th><th>Pen</th><th>Score</td></tr>
<tr class="one"><td>1</td><td>LI Xiaopeng</td><td>CHN</td><td>6.900</td><td>9.525</td><td></td><td>16.425 Q</td></tr>
<tr class="two"><td>2</td><td>KRYUKOV Nikolay</td><td>RUS</td><td> 6.800</td><td>9.375</td><td></td><td>16.175 Q</td></tr>
<tr class="one"><td>3</td><td>FOKIN Anton</td><td>UZB</td><td>6.800</td><td>9.350</td><td></td><td>16.150 Q</td></tr>
<tr class="two"><td>4</td><td>YOO Wonchul</td><td>KOR</td><td>7.000</td><td>9.150</td><td></td><td>16.150 Q</td></tr>
<tr class="one"><td>5</td><td>PETKOVSEK Mitja</td><td>SLO</td><td>6.600</td><td>9.525</td><td></td><td>16.125 Q</td></tr>
<tr class="two"><td>6</td><td>YANG Taeyoung</td><td>KOR</td><td>7.000</td><td>9.100</td><td></td><td>16.100 Q</td></tr>
<tr class="one"><td>7</td><td>HUANG Xu</td><td>CHN</td><td>7.000</td><td>9.075</td><td></td><td>16.075 Q</td></tr>
<tr class="two"><td>8</td><td>KIM Daeeun</td><td>KOR</td><td>6.800</td><td>9.250</td><td></td><td>16.050</td></tr>
<tr class="one"><td>9</td><td>HAMBUECHEN Fabian</td><td>GER</td><td>6.900</td><td>9.150</td><td></td><td>16.050 Q</td></tr>
<tr class="two"><td>10</td><td>UCHIMURA Kohei</td><td>JPN</td><td>6.700</td><td>9.325</td><td></td><td>16.025 R</td></tr>
<tr class="one"><td>11</td><td>GONCHAROV Valeriy</td><td>UKR</td><td>6.800</td><td>9.200</td><td></td><td>16.000 R</td></tr>
<tr class="two"><td>12</td><td>CUCHERAT Yann</td><td>FRA</td><td>6.800</td><td>9.200</td><td></td><td>16.000 R</td></tr>
<tr class="one"><td>13</td><td>KHOROKHORDIN Sergey</td><td>RUS</td><td>6.600</td><td>9.275</td><td></td><td>15.875</td></tr>
<tr class="two"><td>14</td><td>SPRING Justin</td><td>USA</td><td>6.600</td><td>9.200</td><td></td><td>15.800</td></tr>
<tr class="one"><td>15</td><td>TOMITA Hiroyuki</td><td>JPN</td><td>6.700</td><td>9.075</td><td></td><td>15.775</td></tr>
<tr class="two"><td>16</td><td>NAKASE Takuya</td><td>JPN</td><td>6.600</td><td>9.125</td><td></td><td>15.725</td></tr>
<tr class="one"><td>17</td><td>SAVITSKI Dmitry</td><td>BLR</td><td>6.400</td><td>9.300</td><td></td><td>15.700</td></tr>
<tr class="two"><td>18</td><td>SAKAMOTO Koki</td><td>JPN</td><td>6.400</td><td>9.225</td><td></td><td>15.625</td></tr>
<tr class="one"><td>19</td><td>BHAVSAR Raj</td><td>USA</td><td>6.500</td><td>9.125</td><td></td><td>15.625</td></tr>
<tr class="two"><td>20</td><td>RYAZANOV Yury</td><td>RUS</td><td>6.500</td><td>9.125</td><td></td><td>15.625</td></tr>
<tr class="one"><td>21</td><td>KASHIMA Takehiro</td><td>JPN</td><td>6.300</td><td>9.250</td><td></td><td>15.550</td></tr>
<tr class="two"><td>22</td><td>HORTON Jonathan</td><td>USA</td><td>6.400</td><td>9.125</td><td></td><td>15.525</td></tr>
<tr class="one"><td>23</td><td>KASPEROVICH Dmitry</td><td>BLR</td><td>6.500</td><td>9.025</td><td></td><td>15.525</td></tr>
<tr class="two"><td>24</td><td>KARBANENKO Dimitri</td><td>FRA</td><td>6.400</td><td>9.100</td><td></td><td>15.500</td></tr>
<tr class="one"><td>25</td><td>SPIRIDONOV Evgenij</td><td>GER</td><td>6.100</td><td>9.350</td><td></td><td>15.450</td></tr>
<tr class="two"><td>26</td><td>GAFUIK Nathan</td><td>CAN</td><td>6.200</td><td>9.250</td><td></td><td>15.450</td></tr>
<tr class="one"><td>27</td><td>GOLDING Grant</td><td>CAN</td><td>6.400</td><td>9.050</td><td></td><td>15.450</td></tr>
<tr class="two"><td>28</td><td>XIAO Qin</td><td>CHN</td><td>6.500</td><td>8.950</td><td></td><td>15.450</td></tr>
<tr class="one"><td>29</td><td>DEVYATOVSKIY Maxim</td><td>RUS</td><td>6.400</td><td>9.025</td><td></td><td>15.425</td></tr>
<tr class="two"><td>30</td><td>SABOT Hamilton</td><td>FRA</td><td>6.500</td><td>8.900</td><td></td><td>15.400</td></tr>
<tr class="one"><td>31</td><td>FUENTES BUSTAMANTE Jose Luis</td><td>VEN</td><td>6.300</td><td>9.075</td><td></td><td>15.375</td></tr>
<tr class="two"><td>32</td><td>HAGERTY Joey</td><td>USA</td><td>6.100</td><td>9.250</td><td></td><td>15.350</td></tr>
<tr class="one"><td>33</td><td>KIM Soomyun</td><td>KOR</td><td>6.500</td><td>8.850</td><td></td><td>15.350</td></tr>
<tr class="two"><td>34</td><td>YANG Wei</td><td>CHN</td><td>7.000</td><td>8.350</td><td></td><td>15.350</td></tr>
<tr class="one"><td>35</td><td>KIM Seungil</td><td>KOR</td><td>6.400</td><td>8.925</td><td></td><td>15.325</td></tr>
<tr class="two"><td>36</td><td>CARBALLO Manuel</td><td>ESP</td><td>6.000</td><td>9.275</td><td></td><td>15.275</td></tr>
<tr class="one"><td>37</td><td>CARANOBE Benoit</td><td>FRA</td><td>6.100</td><td>9.175</td><td></td><td>15.275</td></tr>
<tr class="two"><td>38</td><td>STANESCU Robert</td><td>ROU</td><td>6.300</td><td>8.900</td><td></td><td>15.200</td></tr>
<tr class="one"><td>39</td><td>TSAREVICH Aleksandr</td><td>BLR</td><td>6.100</td><td>9.075</td><td></td><td>15.175</td></tr>
<tr class="two"><td>40</td><td>ARTEMEV Alexander</td><td>USA</td><td>6.100</td><td>9.075</td><td></td><td>15.175</td></tr>
<tr class="one"><td>41</td><td>GIORGADZE Ilia</td><td>GEO</td><td>6.100</td><td>9.050</td><td></td><td>15.150</td></tr>
<tr class="two"><td>42</td><td>KIKUCHI David</td><td>CAN</td><td>6.200</td><td>8.950</td><td></td><td>15.150</td></tr>
<tr class="one"><td>43</td><td>WONG Adam</td><td>CAN</td><td>6.200</td><td>8.925</td><td></td><td>15.125</td></tr>
<tr class="two"><td>44</td><td>BOY Philipp</td><td>GER</td><td>6.200</td><td>8.925</td><td></td><td>15.125</td></tr>
<tr class="one"><td>45</td><td>MARTINEZ Rafael</td><td>ESP</td><td>6.200</td><td>8.900</td><td></td><td>15.100</td></tr>
<tr class="two"><td>46</td><td>CHEN Yibing</td><td>CHN</td><td>5.700</td><td>9.375</td><td></td><td>15.075</td></tr>
<tr class="one"><td>47</td><td>KOCZI Flavius</td><td>ROU</td><td>6.000</td><td>9.075</td><td></td><td>15.075</td></tr>
<tr class="two"><td>48</td><td>SELARIU Razvan</td><td>ROU</td><td>5.900</td><td>9.050</td><td></td><td>14.950</td></tr>
<tr class="one"><td>49</td><td>PLUZHNIKOV Konstantin</td><td>RUS</td><td>6.100</td><td>8.850</td><td></td><td>14.950</td></tr>
<tr class="two"><td>50</td><td>KEATINGS Daniel</td><td>GBR</td><td>5.800</td><td>9.100</td><td></td><td>14.900</td></tr>
<tr class="one"><td>51</td><td>O'NEILL Brandon</td><td>CAN</td><td>6.700</td><td>8.200</td><td></td><td>14.900</td></tr>
<tr class="two"><td>52</td><td>NGUYEN Marcel</td><td>GER</td><td>6.500</td><td>8.375</td><td></td><td>14.875</td></tr>
<tr class="one"><td>53</td><td>BUCUR Adrian</td><td>ROU</td><td>5.900</td><td>8.925</td><td></td><td>14.825</td></tr>
<tr class="two"><td>54</td><td>SAVENKOV Denis</td><td>BLR</td><td>5.800</td><td>9.000</td><td></td><td>14.800</td></tr>
<tr class="one"><td>55</td><td>POZZO Enrico</td><td>ITA</td><td>5.500</td><td>9.250</td><td></td><td>14.750</td></tr>
<tr class="two"><td>56</td><td>BOUHAIL Thomas</td><td>FRA</td><td>5.500</td><td>9.175</td><td></td><td>14.675</td></tr>
<tr class="one"><td>57</td><td>ANDERGASSEN Thomas</td><td>GER</td><td>5.800</td><td>8.875</td><td></td><td>14.675</td></tr>
<tr class="two"><td>58</td><td>BUSNARI Alberto</td><td>ITA</td><td>5.500</td><td>9.125</td><td></td><td>14.625</td></tr>
<tr class="one"><td>59</td><td>DEFERR Gervasio</td><td>ESP</td><td>5.500</td><td>9.100</td><td></td><td>14.600</td></tr>
<tr class="two"><td>60</td><td>van DAMME Koen</td><td>BEL</td><td>5.800</td><td>8.800</td><td></td><td>14.600</td></tr>
<tr class="one"><td>61</td><td>RIVERA RIVERA Luis</td><td>PUR</td><td>5.800</td><td>8.775</td><td></td><td>14.575</td></tr>
<tr class="two"><td>62</td><td>POPESCU Daniel</td><td>ROU</td><td>5.700</td><td>8.825</td><td></td><td>14.525</td></tr>
<tr class="one"><td>63</td><td>SHATILOV Alexandr</td><td>ISR</td><td>5.400</td><td>9.100</td><td></td><td>14.500</td></tr>
<tr class="two"><td>64</td><td>SAN MIGUEL Ivan</td><td>ESP</td><td>5.600</td><td>8.775</td><td></td><td>14.375</td></tr>
<tr class="one"><td>65</td><td>PALGEN Sascha</td><td>LUX</td><td>5.600</td><td>8.625</td><td></td><td>14.225</td></tr>
<tr class="two"><td>66</td><td>SIMPSON Sam</td><td>AUS</td><td>5.500</td><td>8.700</td><td></td><td>14.200</td></tr>
<tr class="one"><td>67</td><td>CASSINA Igor</td><td>ITA</td><td>4.800</td><td>9.325</td><td></td><td>14.125</td></tr>
<tr class="two"><td>68</td><td>CAPELLI Claudio</td><td>SUI</td><td>5.800</td><td>8.300</td><td></td><td>14.100</td></tr>
<tr class="one"><td>69</td><td>GIRALDO Jorge Hugo</td><td>COL</td><td>6.600</td><td>7.425</td><td></td><td>14.025</td></tr>
<tr class="two"><td>70</td><td>MORANDI Matteo</td><td>ITA</td><td>5.600</td><td>8.125</td><td></td><td>13.725</td></tr>
<tr class="one"><td>71</td><td>MUNOZ Sergio</td><td>ESP</td><td>4.900</td><td>8.775</td><td></td><td>13.675</td></tr>
<tr class="two"><td>72</td><td>COPPOLINO Andrea</td><td>ITA</td><td>4.900</td><td>8.775</td><td></td><td>13.675</td></tr>
<tr class="one"><td>73</td><td>SMITH Louis</td><td>GBR</td><td>4.900</td><td>8.525</td><td></td><td>13.425</td></tr>
<tr class="two"><td>74</td><td>GAL Robert</td><td>HUN</td><td>5.000</td><td>7.900</td><td></td><td>12.900</td></tr>
<tr class="one"><td>75</td><td>SROUR Mohamed</td><td>EGY</td><td>4.600</td><td>7.775</td><td></td><td>12.375</td></tr>
<tr class="two"><td>76</td><td>KOZLOV Igor</td><td>BLR</td><td>0.000</td><td>0.000</td><td></td><td>0.000</td></tr>
</table>
</div>

<a href="documents/mag/q5pb.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="men">Men’s Horizontal Bar Qualification - 2008 Aug 9</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<colgroup span=1 width=30 align="center">
	<colgroup span=1 width=250>
	<colgroup span=5 width=85 align="center">
<tr class="men"><th colspan=3>Gymnast</th><th>A</th><th>B</th><th>Pen</th><th>Score</td></tr>
<tr class="one"><td>1</td><td>HAMBUECHEN Fabian</td><td>GER</td><td>7.000</td><td>9.200</td><td></td><td>16.200 Q</td></tr>
<tr class="two"><td>2</td><td>CASSINA Igor</td><td>ITA</td><td>6.800</td><td>9.200</td><td></td><td>16.000 Q</td></tr>
<tr class="one"><td>3</td><td>CUCHERAT Yann</td><td>FRA</td><td>6.900</td><td>8.950</td><td></td><td>15.850 Q</td></tr>
<tr class="two"><td>4</td><td>ZONDERLAND Epke</td><td>NED</td><td>7.100</td><td>8.650</td><td></td><td>15.750 Q</td></tr>
<tr class="one"><td>5</td><td>ZOU Kai</td><td>CHN</td><td>7.000</td><td>8.600</td><td></td><td>15.600 Q</td></tr>
<tr class="two"><td>6</td><td>HORTON Jonathan</td><td>USA</td><td>6.400</td><td>9.175</td><td></td><td>15.575 Q</td></tr>
<tr class="one"><td>7</td><td>TOMITA Hiroyuki</td><td>JPN</td><td>6.600</td><td>8.950</td><td></td><td>15.550 Q</td></tr>
<tr class="two"><td>8</td><td>NAKASE Takuya</td><td>JPN</td><td>6.600</td><td>8.850</td><td></td><td>15.450 Q</td></tr>
<tr class="one"><td>9</td><td>KARBANENKO Dimitri</td><td>FRA</td><td>6.600</td><td>8.850</td><td></td><td>15.450 R</td></tr>
<tr class="two"><td>10</td><td>LI Xiaopeng</td><td>CHN</td><td>6.500</td><td>8.900</td><td></td><td>15.400 R</td></tr>
<tr class="one"><td>11</td><td>HAGERTY Joey</td><td>USA</td><td>6.600</td><td>8.800</td><td></td><td>15.400 R</td></tr>
<tr class="two"><td>12</td><td>SPRING Justin</td><td>USA</td><td>6.300</td><td>9.075</td><td></td><td>15.375</td></tr>
<tr class="one"><td>13</td><td>KHOROKHORDIN Sergey</td><td>RUS</td><td>6.700</td><td>8.650</td><td></td><td>15.350</td></tr>
<tr class="two"><td>14</td><td>SCHARER Christoph</td><td>SUI</td><td>6.800</td><td>8.550</td><td></td><td>15.350</td></tr>
<tr class="one"><td>15</td><td>UCHIMURA Kohei</td><td>JPN</td><td>6.400</td><td>8.925</td><td></td><td>15.325</td></tr>
<tr class="two"><td>16</td><td>MARTINEZ Rafael</td><td>ESP</td><td>6.500</td><td>8.775</td><td></td><td>15.275</td></tr>
<tr class="one"><td>17</td><td>KASHIMA Takehiro</td><td>JPN</td><td>6.000</td><td>9.150</td><td></td><td>15.150</td></tr>
<tr class="two"><td>18</td><td>XIAO Qin</td><td>CHN</td><td>6.400</td><td>8.750</td><td></td><td>15.150</td></tr>
<tr class="one"><td>19</td><td>DEVYATOVSKIY Maxim</td><td>RUS</td><td>6.400</td><td>8.725</td><td></td><td>15.125</td></tr>
<tr class="two"><td>20</td><td>KRYUKOV Nikolay</td><td>RUS</td><td>6.100</td><td>8.950</td><td></td><td>15.050</td></tr>
<tr class="one"><td>21</td><td>KOCZI Flavius</td><td>ROU</td><td>6.500</td><td>8.525</td><td></td><td>15.025</td></tr>
<tr class="two"><td>22</td><td>KIM Soomyun</td><td>KOR</td><td>6.300</td><td>8.675</td><td></td><td>14.975</td></tr>
<tr class="one"><td>23</td><td>ARTEMEV Alexander</td><td>USA</td><td>6.000</td><td>8.925</td><td></td><td>14.925</td></tr>
<tr class="two"><td>24</td><td>YANG Wei</td><td>CHN</td><td>6.200</td><td>8.725</td><td></td><td>14.925</td></tr>
<tr class="one"><td>25</td><td>TSAREVICH Aleksandr</td><td>BLR</td><td>5.800</td><td>9.050</td><td></td><td>14.850</td></tr>
<tr class="two"><td>26</td><td>POZZO Enrico</td><td>ITA</td><td>6.800</td><td>8.050</td><td></td><td>14.850</td></tr>
<tr class="one"><td>27</td><td>GAFUIK Nathan</td><td>CAN</td><td>6.100</td><td>8.725</td><td></td><td>14.825</td></tr>
<tr class="two"><td>28</td><td>RYAZANOV Yury</td><td>RUS</td><td>6.000</td><td>8.800</td><td></td><td>14.800</td></tr>
<tr class="one"><td>29</td><td>DRAGULESCU Marian</td><td>ROU</td><td>6.400</td><td>8.400</td><td></td><td>14.800</td></tr>
<tr class="two"><td>30</td><td>SAVENKOV Denis</td><td>BLR</td><td>5.800</td><td>8.950</td><td></td><td>14.750</td></tr>
<tr class="one"><td>31</td><td>JUCKEL Robert</td><td>GER</td><td>6.000</td><td>8.750</td><td></td><td>14.750</td></tr>
<tr class="two"><td>32</td><td>FUENTES BUSTAMANTE Jose Luis</td><td>VEN</td><td>6.400</td><td>8.350</td><td></td><td>14.750</td></tr>
<tr class="one"><td>33</td><td>SAKAMOTO Koki</td><td>JPN</td><td>5.700</td><td>9.025</td><td></td><td>14.725</td></tr>
<tr class="two"><td>34</td><td>RIVERA RIVERA Luis</td><td>PUR</td><td>5.700</td><td>8.975</td><td></td><td>14.675</td></tr>
<tr class="one"><td>35</td><td>CARANOBE Benoit</td><td>FRA</td><td>5.700</td><td>8.975</td><td></td><td>14.675</td></tr>
<tr class="two"><td>36</td><td>CAPELLI Claudio</td><td>SUI</td><td>6.000</td><td>8.675</td><td></td><td>14.675</td></tr>
<tr class="one"><td>37</td><td>KIM Daeeun</td><td>KOR</td><td>5.900</td><td>8.725</td><td></td><td>14.625</td></tr>
<tr class="two"><td>38</td><td>BOUHAIL Thomas</td><td>FRA</td><td>5.600</td><td>8.975</td><td></td><td>14.575</td></tr>
<tr class="one"><td>39</td><td>KEATINGS Daniel</td><td>GBR</td><td>5.600</td><td>8.975</td><td></td><td>14.575</td></tr>
<tr class="two"><td>40</td><td>SAVITSKI Dmitry</td><td>BLR</td><td>5.600</td><td>8.975</td><td></td><td>14.575</td></tr>
<tr class="one"><td>41</td><td>WONG Adam</td><td>CAN</td><td>5.700</td><td>8.875</td><td></td><td>14.575</td></tr>
<tr class="two"><td>42</td><td>SAN MIGUEL Ivan</td><td>ESP</td><td>5.600</td><td>8.925</td><td></td><td>14.525</td></tr>
<tr class="one"><td>43</td><td>CHEN Yibing</td><td>CHN</td><td>5.700</td><td>8.825</td><td></td><td>14.525</td></tr>
<tr class="two"><td>44</td><td>KIM Jihoon</td><td>KOR</td><td>6.300</td><td>8.225</td><td></td><td>14.525</td></tr>
<tr class="one"><td>45</td><td>van DAMME Koen</td><td>BEL</td><td>5.600</td><td>8.875</td><td></td><td>14.475</td></tr>
<tr class="two"><td>46</td><td>NGUYEN Marcel</td><td>GER</td><td>5.900</td><td>8.550</td><td></td><td>14.450</td></tr>
<tr class="one"><td>47</td><td>TAN Kai Wen</td><td>USA</td><td>5.600</td><td>8.825</td><td></td><td>14.425</td></tr>
<tr class="two"><td>48</td><td>SPIRIDONOV Evgenij</td><td>GER</td><td>5.700</td><td>8.700</td><td></td><td>14.400</td></tr>
<tr class="one"><td>49</td><td>BUSNARI Alberto</td><td>ITA</td><td>5.700</td><td>8.675</td><td></td><td>14.375</td></tr>
<tr class="two"><td>50</td><td>BOY Philipp</td><td>GER</td><td>6.400</td><td>7.975</td><td></td><td>14.375</td></tr>
<tr class="one"><td>51</td><td>GOLOTSUTSKOV Anton</td><td>RUS</td><td>5.800</td><td>8.500</td><td></td><td>14.300</td></tr>
<tr class="two"><td>52</td><td>SHEWFELT Kyle</td><td>CAN</td><td>5.300</td><td>8.950</td><td></td><td>14.250</td></tr>
<tr class="one"><td>53</td><td>KASPEROVICH Dmitry</td><td>BLR</td><td>5.400</td><td>8.850</td><td></td><td>14.250</td></tr>
<tr class="two"><td>54</td><td>SHATILOV Alexandr</td><td>ISR</td><td>5.500</td><td>8.725</td><td></td><td>14.225</td></tr>
<tr class="one"><td>55</td><td>KIKUCHI David</td><td>CAN</td><td>5.300</td><td>8.900</td><td></td><td>14.200</td></tr>
<tr class="two"><td>56</td><td>SMITH Louis</td><td>GBR</td><td>5.500</td><td>8.675</td><td></td><td>14.175</td></tr>
<tr class="one"><td>57</td><td>SROUR Mohamed</td><td>EGY</td><td>5.000</td><td>9.125</td><td></td><td>14.125</td></tr>
<tr class="two"><td>58</td><td>GIRALDO Jorge Hugo</td><td>COL</td><td>5.700</td><td>8.275</td><td></td><td>13.975</td></tr>
<tr class="one"><td>59</td><td>SABOT Hamilton</td><td>FRA</td><td>6.300</td><td>7.675</td><td></td><td>13.975</td></tr>
<tr class="two"><td>60</td><td>MARAS Vlasios</td><td>GRE</td><td>6.600</td><td>7.375</td><td></td><td>13.975</td></tr>
<tr class="one"><td>61</td><td>MORANDI Matteo</td><td>ITA</td><td>5.000</td><td>8.850</td><td></td><td>13.850</td></tr>
<tr class="two"><td>62</td><td>GONCHAROV Valeriy</td><td>UKR</td><td>5.900</td><td>7.950</td><td></td><td>13.850</td></tr>
<tr class="one"><td>63</td><td>BUCUR Adrian</td><td>ROU</td><td>5.800</td><td>7.950</td><td></td><td>13.750</td></tr>
<tr class="two"><td>64</td><td>DEFERR Gervasio</td><td>ESP</td><td>4.700</td><td>9.025</td><td></td><td>13.725</td></tr>
<tr class="one"><td>65</td><td>FOKIN Anton</td><td>UZB</td><td>4.600</td><td>9.025</td><td></td><td>13.625</td></tr>
<tr class="two"><td>66</td><td>PALGEN Sascha</td><td>LUX</td><td>5.300</td><td>8.300</td><td></td><td>13.600</td></tr>
<tr class="one"><td>67</td><td>ANGIOLETTI Matteo</td><td>ITA</td><td>4.700</td><td>8.875</td><td></td><td>13.575</td></tr>
<tr class="two"><td>68</td><td>YANG Taeyoung</td><td>KOR</td><td>5.100</td><td>8.375</td><td></td><td>13.475</td></tr>
<tr class="one"><td>69</td><td>SIMPSON Sam</td><td>AUS</td><td>5.300</td><td>8.175</td><td></td><td>13.475</td></tr>
<tr class="two"><td>70</td><td>SELARIU Razvan</td><td>ROU</td><td>5.900</td><td>7.575</td><td></td><td>13.475</td></tr>
<tr class="one"><td>71</td><td>POPESCU Daniel</td><td>ROU</td><td>5.700</td><td>7.625</td><td></td><td>13.325</td></tr>
<tr class="two"><td>72</td><td>MUNOZ Sergio</td><td>ESP</td><td>5.700</td><td>7.600</td><td></td><td>13.300</td></tr>
<tr class="one"><td>73</td><td>KONECNY Martin</td><td>CZE</td><td>6.400</td><td>6.725</td><td></td><td>13.125</td></tr>
<tr class="two"><td>74</td><td>CARBALLO Manuel</td><td>ESP</td><td>5.900</td><td>7.125</td><td></td><td>13.025</td></tr>
<tr class="one"><td>75</td><td>IGNATOVICH Aleksei</td><td>BLR</td><td>5.400</td><td>7.600</td><td></td><td>13.000</td></tr>
<tr class="two"><td>76</td><td>KIM Seungil</td><td>KOR</td><td>5.200</td><td>6.975</td><td></td><td>12.175</td></tr>
<tr class="one"><td>77</td><td>O'NEILL Brandon</td><td>CAN</td><td>0.000</td><td>0.000</td><td></td><td>0.000</td></tr>
</table>
</div>

<a href="documents/mag/q6hb.pdf" target="_blank" class="pdf">Official Results</a>
