---
title: "Beijing 2008 Olympics Women's Team Qualifications"
year: 2008
startdate: 2008-08-08
enddate: 2008-08-24
country: "CHN"
category: "olympics"
layout: results
homepage: false
redirect_from: /olympics/2008/wagteamsqual.html
---
	
{% include resultsheader.html title="Games of the 29th Olympiad<br>Women's Artistic Gymnastics<br>Beijing (CHN) August 8-24, 2008<br>Team Qualifications" %}

<a href="/results/2008/olympics/index.html"><img src="/assets/images/logos/lg2008og.jpg"></a>

<h2 class="wom">Teams Qualification - 2008 Aug 10</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<col width="25" align="right">
	<colgroup span=1 width="190">
	<colgroup span=6 align="center" width="80">
<tr class="wom">
	<th colspan=3>Team</th>
	<th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>China</td><td>CHN</td><td>61.825 (2)</td><td>62.650 (1)</td><td>63.050 (2)</td><td>60.750 (1)</td><td>248.275 Q</td></tr>
<tr class="two"><td>2</td><td>United States</td><td>USA</td><td>62.225 (1)</td><td>61.125 (3)</td><td>63.400 (1)</td><td>60.050 (2)</td><td>246.800 Q</td></tr>
<tr class="one"><td>3</td><td>Russian Fed.</td><td>RUS</td><td>60.850 (3)</td><td>61.775 (2)</td><td>62.000 (3)</td><td>59.775 (3)</td><td>244.400 Q</td></tr>
<tr class="two"><td>4</td><td>Romania</td><td>ROU</td><td>59.725 (4)</td><td>58.450 (9)</td><td>60.950 (4)</td><td>59.300 (4)</td><td>238.425 Q</td></tr>
<tr class="one"><td>5</td><td>Australia</td><td>AUS</td><td>59.450 (5)</td><td>59.050 (6)</td><td>58.625 (8)</td><td>58.325 (5)</td><td>235.450 Q</td></tr>
<tr class="two"><td>6</td><td>France</td><td>FRA</td><td>58.825 (10)</td><td>58.525 (8)</td><td>58.975 (7)</td><td>57.550 (10)</td><td>233.875 Q</td></tr>
<tr class="one"><td>7</td><td>Brazil</td><td>BRA</td><td>59.450 (5)</td><td>58.425 (10)</td><td>56.675 (11)</td><td>59.250 (5)</td><td>233.800 Q</td></tr>
<tr class="two"><td>8</td><td>Japan</td><td>JPN</td><td>58.050 (11)</td><td>58.725 (7)</td><td>59.900 (5)</td><td>56.500 (11)</td><td>233.175 Q</td></tr>
<tr class="one"><td>9</td><td>Great Britain</td><td>GBR</td><td>59.325 (7)</td><td>57.875 (11)</td><td>57.450 (10)</td><td>57.775 (7)</td><td>232.425</td></tr>
<tr class="two"><td>10</td><td>Italy</td><td>ITA</td><td>59.075 (9)</td><td>57.375 (12)</td><td>58.200 (9)</td><td>56.625 (9)</td><td>231.275</td></tr>
<tr class="one"><td>11</td><td>Ukraine</td><td>UKR</td><td>58.000 (12)</td><td>60.625 (4)</td><td>59.700 (6)</td><td>52.800 (12)</td><td>231.125</td></tr>
<tr class="two"><td>12</td><td>Germany</td><td>GER</td><td>59.150 (8)</td><td>59.150 (5)</td><td>55.825 (12)</td><td>56.675 (9)</td><td>230.800</td></tr>
</table>
</div>

<a href="documents/wag/teamsqual.pdf" target="_blank" class="pdf">Official Results</a>
<a href="documents/wag/teamsqualdetail.pdf" target="_blank" class="pdf">Official Results - Detailed</a>
