---
title: "Beijing 2008 Olympics Women's Artistic Gymnastics"
year: 2008
startdate: 2008-08-08
enddate: 2008-08-24
country: "CHN"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /2008/o2008w.html
- /olympics/2008/wagaa.html
- /olympics/2008/wagef.html
- /olympics/2008/wagteams.html
---
	
{% include resultsheader.html title="Games of the 29th Olympiad<br>Women's Artistic Gymnastics<br>Beijing (CHN) August 8-24, 2008<br>Finals Women" %}

<a href="/results/2008/olympics/index.html"><img src="/assets/images/logos/lg2008og.jpg"></a>

<h2 class="wom">Teams Final - 2008 Aug 13</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<col width="25" align="right">
	<colgroup span=1 width="190">
	<colgroup span=6 align="center" width="80">
<tr class="wom">
	<th colspan=3>Team</th>
	<th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>China</td><td>CHN</td><td>46.350 (2)</td><td>49.625 (1)</td><td>47.125 (2)</td><td>45.800 (1)</td><td>188.900</td></tr>
<tr class="two"><td>2</td><td>United States</td><td>USA</td><td>46.875 (1)</td><td>47.975 (2)</td><td>47.250 (1)</td><td>44.425 (3)</td><td>186.525</td></tr>
<tr class="one"><td>3</td><td>Romania</td><td>ROU</td><td>45.275 (4)</td><td>45.000 (5)</td><td>46.175 (3)</td><td>45.075 (2)</td><td>181.525</td></tr>
<tr class="two"><td>4</td><td>Russian Fed.</td><td>RUS</td><td>45.425 (3)</td><td>46.950 (3)</td><td>44.900 (6)</td><td>43.350 (4)</td><td>180.625</td></tr>
<tr class="one"><td>5</td><td>Japan</td><td>JPN</td><td>43.550 (8)</td><td>45.525 (4)</td><td>44.950 (5)</td><td>42.675 (8)</td><td>176.700</td></tr>
<tr class="two"><td>6</td><td>Australia</td><td>AUS</td><td>44.150 (6)</td><td>43.575 (8)</td><td>45.900 (4)</td><td>42.900 (7)</td><td>176.525</td></tr>
<tr class="one"><td>7</td><td>France</td><td>FRA</td><td>44.050 (7)</td><td>44.175 (6)</td><td>43.725 (8)</td><td>43.325 (5)</td><td>175.275</td></tr>
<tr class="two"><td>8</td><td>Brazil</td><td>BRA</td><td>44.300 (5)</td><td>43.700 (7)</td><td>43.900 (7)</td><td>42.975 (6)</td><td>174.875</td></tr>
</table>
</div>

<a href="documents/beijing2008wagt.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Women's Individual All Around Final - Aug 15 2008</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<col width="30" align="right">
	<col width="220">
	<col width="50" align="center">
	<colgroup span=5 align="center" width="78">
<tr class="wom">
	<th colspan=3>Gymnast</th>
	<th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>LIUKIN Nastia</td><td>USA</td><td><u>15.025</u></td><td>16.650</td><td>16.125</td><td>15.525</td><td>63.325</td></tr>
<tr class="two"><td>2</td><td>JOHNSON Shawn</td><td>USA</td><td><u>15.875</u></td><td>15.275</td><td>16.050</td><td>15.525</td><td>62.725</td></tr>
<tr class="one"><td>3</td><td>YANG Yilin</td><td>CHN</td><td><u>15.175</u></td><td>16.725</td><td>15.750</td><td>15.000</td><td>62.650</td></tr>
<tr class="two"><td>4</td><td>SEMENOVA Ksenia</td><td>RUS</td><td><u>14.750</u></td><td>16.475</td><td>15.925</td><td>14.775</td><td>61.925</td></tr>
<tr class="one"><td>5</td><td>NISTOR Steliana</td><td>ROU</td><td>15.025</td><td><u>15.975</u></td><td>15.550</td><td>14.500</td><td>61.050</td></tr>
<tr class="two"><td>6</td><td>JIANG Yuyuan</td><td>CHN</td><td><u>14.825</u></td><td>15.875</td><td>15.425</td><td>14.775</td><td>60.900</td></tr>
<tr class="one"><td>7</td><td>PAVLOVA Anna</td><td>RUS</td><td><u>15.275</u></td><td>14.525</td><td>15.975</td><td>15.050</td><td>60.825</td></tr>
<tr class="two"><td>8</td><td>IZBASA Sandra</td><td>ROU</td><td>15.075</td><td><u>14.300</u></td><td>15.875</td><td>15.500</td><td>60.750</td></tr>
<tr class="one"><td>9</td><td>CHUSOVITINA Oksana</td><td>GER</td><td>15.750</td><td><u>14.900</u></td><td>14.875</td><td>14.600</td><td>60.125</td></tr>
<tr class="two"><td>10</td><td>BARBOSA Jade</td><td>BRA</td><td>15.025</td><td><u>15.075</u></td><td>15.500</td><td>13.950</td><td>59.550</td></tr>
<tr class="one"><td>11</td><td>FERRARI Vanessa</td><td>ITA</td><td>14.700</td><td>15.200</td><td><u>15.600</u></td><td>13.950</td><td>59.450</td></tr>
<tr class="two"><td>12</td><td>DOWNIE Becky</td><td>GBR</td><td>15.025</td><td>15.625</td><td>14.700</td><td><u>14.100</u></td><td>59.450</td></tr>
<tr class="one"><td>13</td><td>BONORA Georgia</td><td>AUS</td><td>14.850</td><td>14.625</td><td><u>15.100</u></td><td>14.375</td><td>58.950</td></tr>
<tr class="two"><td>14</td><td>PAROLARI Lia</td><td>ITA</td><td>13.950</td><td>15.350</td><td><u>15.125</u></td><td>14.500</td><td>58.925</td></tr>
<tr class="one"><td>15</td><td>MORGAN Shona</td><td>AUS</td><td>14.650</td><td><u>14.625</u></td><td>15.100</td><td>14.425</td><td>58.800</td></tr>
<tr class="two"><td>16</td><td>HOPFNER-HIBBS Elyse</td><td>CAN</td><td>14.875</td><td>15.425</td><td><u>14.150</u></td><td>13.925</td><td>58.375</td></tr>
<tr class="one"><td>17</td><td>TSURUMI Koko</td><td>JPN</td><td>14.075</td><td><u>14.950</u></td><td>15.400</td><td>13.675</td><td>58.100</td></tr>
<tr class="two"><td>18</td><td>KASLIN Ariella</td><td>SUI</td><td>15.350</td><td>14.275</td><td>14.425</td><td><u>13.950</u></td><td>58.000</td></tr>
<tr class="one"><td>19</td><td>PETIT Marine</td><td>FRA</td><td>14.725</td><td>14.400</td><td><u>14.275</u></td><td>14.575</td><td>57.975</td></tr>
<tr class="two"><td>20</td><td>OSHIMA Kyoko</td><td>JPN</td><td>14.575</td><td>14.675</td><td>13.975</td><td><u>14.400</u></td><td>57.625</td></tr>
<tr class="one"><td>21</td><td>PALESOVA Kristyna</td><td>CZE</td><td>14.075</td><td>15.350</td><td>14.650</td><td><u>12.900</u></td><td>56.975</td></tr>
<tr class="two"><td>22</td><td>SILVA Ana</td><td>BRA</td><td>14.175</td><td>14.175</td><td>14.175</td><td><u>14.350</u></td><td>56.875</td></tr>
<tr class="one"><td>23</td><td>DUGAIN Laetitia</td><td>FRA</td><td>14.275</td><td>14.275</td><td><u>15.225</u></td><td>13.000</td><td>56.775</td></tr>
<tr class="two"><td>24</td><td>MYS Gaelle</td><td>BEL</td><td>14.000</td><td>12.875</td><td>13.100</td><td><u>13.975</u></td><td>53.950</td></tr>
</table>
</div>

<a href="documents/beijing2008wagaa.pdf" target="_blank" class="pdf">Official Results</a>
<a href="documents/wag/aafinaldetail.pdf" target="_blank" class="pdf">Official Results - Detailed</a>

<h2 class="wom">Women's Vault Final - 2008 Aug 17</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<col width="10" align="right" valign=top>
	<col width="150" valign=top>
	<col width="30" align="center">
	<col width="20" align="center">
<tr class="wom"><th colspan=3>Gymnast</th>
	<th>VT</th><th>A</th><th>B</th><th>Pen</th><th>Vault</th><th>Total</th></tr>
<tr class="one"><td rowspan=2>1</td><td rowspan=2>HONG Un Jong</td><td rowspan=2>PRK</td>
	<td>1</td><td>6.50</td><td>9.350</td><td>0.3</td><td>15.550</td>
	<td rowspan=2>15.650</td></tr>
	<tr class="one"><td>2</td><td>6.50</td><td>9.250</td><td></td><td>15.750</td></tr>
<tr class="two"><td rowspan=2>2</td><td rowspan=2>CHUSOVITINA Oksana</td><td rowspan=2>GER</td>	
	<td>1</td><td>6.30</td><td>9.425</td><td></td><td>15.725</td>
	<td rowspan=2>15.575</td></tr>
	<tr class="two"><td>2</td><td>6.00</td><td>9.425</td><td></td><td>15.425</td></tr>
<tr class="one"><td rowspan=2>3</td><td rowspan=2>CHENG Fei</td><td rowspan=2>CHN</td>	
	<td>1</td><td>6.50</td><td>9.575</td><td></td><td>16.075</td>
	<td rowspan=2>15.562</td></tr>
	<tr class="one"><td>2</td><td>6.50</td><td>8.550</td><td></td><td>15.050</td></tr>
<tr class="two"><td rowspan=2>4</td><td rowspan=2>SACRAMONE Alicia</td><td rowspan=2>USA</td>	
	<td>1</td><td>6.30</td><td>9.450</td><td></td><td>15.750</td>
	<td rowspan=2>15.537</td></tr>
	<tr class="two"><td>2</td><td>5.80</td><td>9.525</td><td></td><td>15.325</td></tr>
<tr class="one"><td rowspan=2>5</td><td rowspan=2>KASLIN Ariella</td><td rowspan=2>SUI</td>	
	<td>1</td><td>6.30</td><td>9.100</td><td></td><td>15.400</td>
	<td rowspan=2>15.050</td></tr>
	<tr class="one"><td>2</td><td>5.50</td><td>9.200</td><td></td><td>14.700</td></tr>
<tr class="two"><td rowspan=2>6</td><td rowspan=2>GIOVANNINI Carlotta</td><td rowspan=2>ITA</td>
	<td>1</td><td>5.80</td><td>9.225</td><td>0.10</td><td>14.925</td>
	<td rowspan=2>14.550</td></tr>
	<tr class="two"><td>2</td><td>5.90</td><td>8.275</td><td></td><td>14.175</td></tr>
<tr class="one"><td rowspan=2>7</td><td rowspan=2>BARBOSA Jade</td><td rowspan=2>BRA</td>	
	<td>1</td><td>5.80</td><td>8.925</td><td></td><td>14.725</td>
	<td rowspan=2>14.487</td></tr>
	<tr class="one"><td>2</td><td>5.60</td><td>8.650</td><td></td><td>14.250</td></tr>
<tr class="two"><td rowspan=2>8</td><td rowspan=2>PAVLOVA Anna</td><td rowspan=2>RUS</td>	
	<td>1</td><td>6.50</td><td>9.125</td><td></td><td>15.625</td>
	<td rowspan=2>7.812</td></tr>
	<tr class="two"><td>2</td><td>0.00</td><td>0.000</td><td></td><td>0.000</td></tr>
<tr bgcolor="#000000"><td colspan=15></td></tr>
<tr><td colspan=7 align=left>
<strong>Judges Assignments</strong><br>
A1 GIRAL Patricia Raymonde Yvette France<br>
A2 TEREKHINA Raisa Russian Fed.<br>
B1 de JONG E V MOLEMA Aukje Netherlands<br>
B2 GRATT Johanna Austria<br>
B3 MURTONEN Satu Sirpa Finland<br>
</td><td colspan=8 align=left valign=top><br>
B4 SABOGAL de DOMINGUEZ Blanca Cecilia Colombia<br>
B5 GOTHBERG Agneta Birgersdotter Sweden<br>
B6 DIDILESCU Olga Fanica Romania<br>
Line 1 DAI Yuying China 
</table>
</div>

<a href="documents/beijing2008wagvt.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Women's Uneven Bars Final - 2008 Aug 18</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<col width="20" align="right" valign=top>
	<col width="150" valign=top>
	<colgroup span=8 align="center" width=40>
	<colgroup span=3 align="center" width=60>
<tr class="wom"><th colspan=3>Gymnast</th>
	<th>A</th><th>B1</th><th>B2</th><th>B3</th><th>B4</th><th>B5</th><th>B6</th><th>B</th><th>Pen</th><th>Score</th></tr>
<tr class="one"><td>1</td><td>HE Kexin</td><td>CHN</td><td>7.70</td><td>9.30</td><td>9.10</td><td>9.10</td><td>8.90</td><td>9.00</td><td>8.90</td><td>9.025</td><td></td><td>16.725</td></tr>
<tr class="two"><td>2</td><td>LIUKIN Nastia</td><td>USA</td><td>7.70</td><td>9.00</td><td>9.30</td><td>9.00</td><td>8.80</td><td>9.00</td><td>9.10</td><td>9.025</td><td></td><td>16.725</td></tr>
<tr class="one"><td>3</td><td>YANG Yilin</td><td>CHN</td><td>7.70</td><td>8.90</td><td>9.00</td><td>8.90</td><td>9.00</td><td>9.10</td><td>8.80</td><td>8.950</td><td></td><td>16.650</td></tr>
<tr class="two"><td>4</td><td>TWEDDLE Beth</td><td>GBR</td><td>7.80</td><td>8.70</td><td>9.00</td><td>9.10</td><td>8.70</td><td>8.80</td><td>8.80</td><td>8.825</td><td></td><td>16.625</td></tr>
<tr class="one"><td>5</td><td>KOVAL Anastasiia</td><td>UKR</td><td>7.30</td><td>9.00</td><td>9.20</td><td>8.90</td><td>9.20</td><td>9.10</td><td>9.00</td><td>9.075</td><td></td><td>16.375</td></tr>
<tr class="two"><td>6</td><td>SEMENOVA Ksenia</td><td>RUS</td><td>7.40</td><td>8.70</td><td>9.30</td><td>8.90</td><td>8.80</td><td>8.90</td><td>9.10</td><td>8.925</td><td></td><td>16.325</td></tr>
<tr class="one"><td>7</td><td>NISTOR Steliana</td><td>ROU</td><td>7.00</td><td>8.60</td><td>8.70</td><td>8.40</td><td>8.60</td><td>8.40</td><td>8.70</td><td>8.575</td><td></td><td>15.575</td></tr>
<tr class="two"><td>8</td><td>ZGOBA Dariya</td><td>UKR</td><td>7.10</td><td>8.10</td><td>8.10</td><td>7.70</td><td>7.70</td><td>7.30</td><td>8.00</td><td>7.875</td><td>0.100</td><td>14.875</td></tr>
<tr bgcolor="#000000"><td colspan=13></td></tr>
<tr><td colspan=12 align=left><strong>Tie Break Uneven Bars Final Women</strong><br>
Name NOC   B1 B2 B3 B4 B5 B6 Average tie-Break Rank Total<br><br>
<strong>HE Kexin</strong>  CHN   9.30 9.10 9.10 8.90 9.00 8.90  (=1)  16.725<br>
&nbsp;&nbsp; MID 4 &nbsp;&nbsp;&nbsp;  <span class="skrt">0.70</span> 0.90 0.90 <span class="skrt">1.10</span> 1.00 1.10 &nbsp;&nbsp;&nbsp; 0.975 (=1)<br>
&nbsp;&nbsp; AVG 3 &nbsp;&nbsp;&nbsp; <span class="skrt">0.70</span> 0.90 0.90 <span class="skrt">1.10</span> 1.00 <span class="skrt">1.10</span> &nbsp;&nbsp;&nbsp; 0.933 (1)<br><br>
<strong>LIUKIN Nastia</strong>  USA   9.00 9.30 9.00 8.80 9.00 9.10  (=1)  16.725<br>
&nbsp;&nbsp; MID 4 &nbsp;&nbsp;&nbsp; 1.00 <span class="skrt">0.70</span> 1.00 <span class="skrt">1.20</span> 1.00 0.90 &nbsp;&nbsp;&nbsp; 0.975 (=1)<br>
&nbsp;&nbsp; AVG 3 &nbsp;&nbsp;&nbsp; 1.00 <span class="skrt">0.70</span> 1.00 <span class="skrt">1.20 1.00</span> 0.90 &nbsp;&nbsp;&nbsp; 0.966 (2)<br>
</td></tr>
<tr bgcolor="#000000"><td colspan=13></td></tr>
<tr><td colspan=5 align=left><strong>Judges Assignments</strong><br>
A1 VALENZO AOKI Naomi Chieko Mexico<br>
A2 MAO Peiwen China<br>
B1 COLAGIURI Helen Australia<br>
B2 URACZ-KOCUR Joanna Janina Poland 
</td><td colspan=7 align=left valign=top><br>
B3 ENSLOW Avril Dorothy New Zealand<br>
B4 GORDON Debbie Ann South Africa<br>
B5 SAWASATO Yumi Yamamoto Brazil<br>
B6 TANKOUCHEVA Neli Nikolova Bulgaria<br>
Timer 1 ZHOU Xiaoling China 
</table>
</div>

<a href="documents/beijing2008wagub.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Women's Balance Beam Final - 2008 Aug 19</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<col width="20" align="right" valign=top>
	<col width="160" valign=top>
	<colgroup span=8 align="center" width=40>
	<colgroup span=3 align="center" width=60>
<tr class="wom"><th colspan=3>Gymnast</th>
	<th>A</th><th>B1</th><th>B2</th><th>B3</th><th>B4</th><th>B5</th><th>B6</th><th>B</th><th>Pen</th><th>Score</th></tr>
<tr class="one"><td>1</td><td>JOHNSON Shawn</td><td>USA</td><td>7.00</td><td>9.20</td><td>9.30</td><td>9.20</td><td>9.30</td><td>9.20</td><td>9.00</td><td>9.225</td><td></td><td>16.225</td></tr>
<tr class="two"><td>2</td><td>LIUKIN Nastia</td><td>USA</td><td>6.60</td><td>9.40</td><td>9.40</td><td>9.50</td><td>9.50</td><td>9.40</td><td>9.40</td><td>9.425</td><td></td><td>16.025</td></tr>
<tr class="one"><td>3</td><td>CHENG Fei</td><td>CHN</td><td>6.80</td><td>9.20</td><td>9.10</td><td>9.20</td><td>9.00</td><td>9.30</td><td>9.10</td><td>9.150</td><td></td><td>15.950</td></tr>
<tr class="two"><td>4</td><td>PAVLOVA Anna</td><td>RUS</td><td>6.80</td><td>9.30</td><td>8.90</td><td>9.00</td><td>9.20</td><td>9.00</td><td>9.20</td><td>9.100</td><td></td><td>15.900</td></tr>
<tr class="one"><td>5</td><td>DRAGOI Gabriela</td><td>ROU</td><td>6.50</td><td>9.10</td><td>9.00</td><td>9.10</td><td>9.20</td><td>9.20</td><td>9.10</td><td>9.125</td><td></td><td>15.625</td></tr>
<tr class="two"><td>6</td><td>LI Shanshan</td><td>CHN</td><td>7.00</td><td>8.30</td><td>8.50</td><td>7.90</td><td>8.50</td><td>8.30</td><td>8.10</td><td>8.300</td><td></td><td>15.300</td></tr>
<tr class="one"><td>7</td><td>AFANASYEVA Ksenia</td><td>RUS</td><td>5.80</td><td>9.20</td><td>9.20</td><td>8.90</td><td>9.00</td><td>8.90</td><td>9.00</td><td>9.025</td><td></td><td>14.825</td></tr>
<tr class="two"><td>8</td><td>TSURUMI Koko</td><td>JPN</td><td>6.30</td><td>8.20</td><td>8.20</td><td>8.00</td><td>8.20</td><td>8.20</td><td>8.00</td><td>8.150</td><td></td><td>14.450</td></tr>
<tr bgcolor="#000000"><td colspan=13></td></tr>
<tr><td colspan=6 align=left><strong>Judges Assignments</strong><br>
A1 LISKAROVA Hana Czech Republic<br>
A2 PANICHAS Patricia Grace United States<br>
B1 LATSONA Evgenia Greece<br>
B2 FUNK GEB RAITHEL Inge Elsa Lisa Germany<br>
B3 LEEWORTHY Robin Jane Great Britain 
</td><td colspan=7 align=left valign=top><br>
B4 LEE W O LEE Jung Hyun Korea<br>
B5 SHAI Orna Erena Israel<br>
B6 HOFFMANN Marie Paule C Luxembourg<br>
Timer 1 MO Ruirong China<br>
Timer 2 LIN Ying China 
</table>
</div>

<a href="documents/beijing2008wagbb.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Women's Floor Exercise Fianl - 2008 Aug 17</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<col width="20" align="right" valign=top>
	<col width="160" valign=top>
	<colgroup span=8 align="center" width=40>
	<colgroup span=3 align="center" width=60>
<tr class="wom"><th colspan=3>Gymnast</th>
	<th>A</th><th>B1</th><th>B2</th><th>B3</th><th>B4</th><th>B5</th><th>B6</th><th>B</th><th>Pen</th><th>Score</th></tr>
<tr class="one"><td>1</td><td>IZBASA Sandra</td><td>ROU</td><td>6.50</td><td>9.20</td><td>9.00</td><td>9.20</td><td>9.10</td><td>9.10</td><td>9.20</td><td>9.150</td><td></td><td>15.650</td></tr>
<tr class="two"><td>2</td><td>JOHNSON Shawn</td><td>USA</td><td>6.40</td><td>9.10</td><td>9.10</td><td>9.10</td><td>9.10</td><td>9.00</td><td>9.10</td><td>9.100</td><td></td><td>15.500</td></tr>
<tr class="one"><td>3</td><td>LIUKIN Nastia</td><td>USA</td><td>6.20</td><td>9.20</td><td>9.20</td><td>9.40</td><td>9.20</td><td>9.20</td><td>9.30</td><td>9.225</td><td></td><td>15.425</td></tr>
<tr class="two"><td>4</td><td>JIANG Yuyuan</td><td>CHN</td><td>6.30</td><td>9.10</td><td>9.00</td><td>9.40</td><td>9.00</td><td>8.80</td><td>9.10</td><td>9.050</td><td></td><td>15.350</td></tr>
<tr class="one"><td>5</td><td>KRAMARENKO Ekaterina</td><td>RUS</td><td>6.10</td><td>8.70</td><td>8.90</td><td>9.10</td><td>8.90</td><td>8.90</td><td>9.00</td><td>8.925</td><td></td><td>15.025</td></tr>
<tr class="two"><td>6</td><td>SANTOS Daiane</td><td>BRA</td><td>6.40</td><td>8.80</td><td>8.80</td><td>8.70</td><td>8.50</td><td>8.80</td><td>8.90</td><td>8.775</td><td>0.20</td><td>14.975</td></tr>
<tr class="one"><td>7</td><td>CHENG Fei</td><td>CHN</td><td>6.30</td><td>8.30</td><td>8.20</td><td>8.10</td><td>8.30</td><td>8.20</td><td>8.30</td><td>8.250</td><td></td><td>14.550</td></tr>
<tr class="two"><td>8</td><td>PAVLOVA Anna</td><td>RUS</td><td>5.80</td><td>8.20</td><td>8.40</td><td>8.50</td><td>8.40</td><td>8.20</td><td>8.30</td><td>8.325</td><td></td><td>14.125</td></tr>
<tr bgcolor="#000000"><td colspan=13></td></tr>
<tr><td colspan=6 align=left><strong>Judges Assignments</strong><br>
A1 SMITH Lynn Marie Canada<br>
A2 SAKURAI Rieko Japan<br>
B1 BASLA Carmen Maria Italy<br>
B2 PETURSDOTTIR Berglind Iceland<br>
B3 KOROLENKO Lyudmyla Ukraine<br>
B4 SAN MARTIN LOPEZ Maria Jose Spain 
</td><td colspan=7 align=left valign=top><br>
B5 MARTINET Sylvie Switzerland<br>
B6 CALABRO Monica Liliana Argentina<br>
Timer 1 CHEN Guangsheng China<br>
Line 1 ZHU Jieya China<br>
Line 2 ZHU Zheng China 
</table>
</div>

<a href="documents/beijing2008wagfx.pdf" target="_blank" class="pdf">Official Results</a>
