---
title: "2023 FIG World Challenge Cup Paris"
year: 2023
startdate: 2023-09-16
enddate: 2023-09-17
country: "FRA"
category: "world-challenge-cup"
layout: results
---

{% include resultsheader.html title="FIG World Challenge Cup Paris (FRA)<br>2023 Sep 16-17" %}

<img src="logo.png" width="300" alt="event logo">

<h2 class="men">Men Apparatus Finals</h2>

	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Hiramatsu Koga (JPN)</li>
		<li><b>Pommel Horse</b> 🥇Gold - Max Whitlock (GBR)</li>
		<li><b>Rings</b> 🥇Gold - Courtney Tullock (GBR) and Salvatore Maresca (ITA)</li>
		<li><b>Vault</b> 🥇Gold - Harry Hepworth (GBR)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Lukas Dauser (GER)</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Tang Chia-Hung (TPE)</li>
	</ul>

	<a href="documents/magfxfinal.pdf" target="_blank" class="pdf">Floor Final Results</a>
	<a href="documents/magphfinal.pdf" target="_blank" class="pdf">Pommel Horse Final Results</a>
	<a href="documents/magsrfinal.pdf" target="_blank" class="pdf">Rings Final Results</a>
	<a href="documents/magvtfinal.pdf" target="_blank" class="pdf">Vault Final Results</a>
	<a href="documents/magpbfinal.pdf" target="_blank" class="pdf">Parallel Bars Final Results</a>
	<a href="documents/maghbfinal.pdf" target="_blank" class="pdf">Horizontal Bar Final Results</a>

<h2 class="wom">Women Apparatus Finals</h2>

	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Alexa Moreno (MEX)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Melanie De Jesus Dos Santos (FRA)</li>
		<li><b>Beam</b> 🥇Gold - Marine Boyer (FRA)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Melanie De Jesus Dos Santos (FRA)</li>
	</ul>

    <a href="documents/wagvtfinal.pdf" target="_blank" class="pdf">Vault Final Results</a>
    <a href="documents/wagubfinal.pdf" target="_blank" class="pdf">Uneven Bars Final Results</a>
    <a href="documents/wagbbfinal.pdf" target="_blank" class="pdf">Beam Final Results</a>
    <a href="documents/wagfxfinal.pdf" target="_blank" class="pdf">Floor Final Results</a>
    
<h2 class="men">Men Qualification</h2>
    <a href="documents/magfxqual.pdf" target="_blank" class="pdf">Floor Qualification Results</a>
    <a href="documents/magphqual.pdf" target="_blank" class="pdf">Pommel Horse Qualification Results</a>
    <a href="documents/magsrqual.pdf" target="_blank" class="pdf">Rings Qualification Results</a>
    <a href="documents/magvtqual.pdf" target="_blank" class="pdf">Vault Qualification Results</a>
    <a href="documents/magpbqual.pdf" target="_blank" class="pdf">Parallel Bars Qualification Results</a>
    <a href="documents/maghbqual.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Results</a>
    

<h2 class="wom">Women Qualification</h2>
	<a href="documents/wagvtqual.pdf" target="_blank" class="pdf">Vault Qualification Results</a>
	<a href="documents/wagubqual.pdf" target="_blank" class="pdf">Uneven Bars Qualification Results</a>
	<a href="documents/wagbbqual.pdf" target="_blank" class="pdf">Beam Qualification Results</a>
	<a href="documents/wagfxqual.pdf" target="_blank" class="pdf">Floor Qualification Results</a>




