---
title: "31st European Championships Women Senior and Junior Bern"
year: 2016
startdate: 2016-06-01
enddate: 2016-06-05
country: "SUI"
category: "euros"
layout: results
redirect_from: /euro/2016/bernwag.html
---

{% include resultsheader.html title="31st European Gymnastics Championships<br>Women Senior and Junior<br>Bern (SUI) 2016 June 1-5" %}

<img src="images/logo.jpg" alt="event logo"></td></tr>
<!-- SEN AF -->
<h2 class="wom">Apparatus Final Women Senior</h2>
	<img src="images/wagsen/af1vt.jpg" alt="Senior vault podium"><br>
	<a href="documents/wagsen/af1vt.pdf" target="_blank" class="pdf">Results Women Senior Apparatus Final Vault</a>
	<br><img src="images/wagsen/af2ub.jpg" alt="Senior bars podium"><br>
	<a href="documents/wagsen/af2ub.pdf" target="_blank" class="pdf">Results Women Senior Apparatus Final Uneven Bars</a>
	<br><img src="images/wagsen/af3bb.jpg" alt="Senior beam podium"><br>
	<a href="documents/wagsen/af3bb.pdf" target="_blank" class="pdf">Results Women Senior Apparatus Final Beam</a>
	<br><img src="images/wagsen/af4fx.jpg" alt="Senior floor podium"><br>
	<a href="documents/wagsen/af4fx.pdf" target="_blank" class="pdf">Results Women Senior Apparatus Final Floor Exercise</a><br>
	<a href="documents/wagsen/afsl.pdf" target="_blank" class="pdf">Start List Apparatus Final Women Senior</a>
<!-- JUN AF -->
<h2 class="wom">Apparatus Final Women Junior</h2>
	<img src="images/wagjun/af1vt.jpg" alt="Junior vault podium"><br>
	<a href="documents/wagjun/af1vt.pdf" target="_blank" class="pdf">Results Women Junior Apparatus Final Vault</a>
	<br><img src="images/wagjun/af2ub.jpg" alt="Junior bars podium"><br>
	<a href="documents/wagjun/af2ub.pdf" target="_blank" class="pdf">Results Women Junior Apparatus Final Uneven Bars</a>
	<br><img src="images/wagjun/af3bb.jpg" alt="Junior beam podium"><br>
	<a href="documents/wagjun/af3bb.pdf" target="_blank" class="pdf">Results Women Junior Apparatus Final Beam</a>
	<br><img src="images/wagjun/af4fx.jpg" alt="Junior floor podium"><br>
	<a href="documents/wagjun/af4fx.pdf" target="_blank" class="pdf">Results Women Junior Apparatus Final Floor Exercise</a><br>
	<a href="documents/wagjun/afsl.pdf" target="_blank" class="pdf">Start List Apparatus Final Women Junior</a>
<!-- SEN Teams -->
<h2 class="wom">Teams Final Women Senior</h2>
	<img src="images/wagsen/teamrus.jpg" alt="Senior Russian team"><br>
	<a href="documents/wagsen/teamsfinal.pdf" target="_blank" class="pdf">Teams Final Women Senior Results</a>
	<a href="documents/wagsen/tfsl.pdf" target="_blank" class="pdf">Start List Teams Final Women Senior</a>
<!-- JUN AAF -->
<h2 class="wom">All-Around Final Women Junior</h2>
	<a href="documents/wagjun/aafinal.pdf" target="_blank" class="pdf">All-Around Final Women Juniors</a>
	<a href="documents/wagjun/aafsl.pdf" target="_blank" class="pdf">Start List All-Around Final Women Junior</a>
<!-- SEN Q -->
<h2 class="wom">Qualification Women Senior</h2>
	<a href="documents/wagsen/teamsqual.pdf" target="_blank" class="pdf">Teams Women Senior Results Qualification</a>
	<a href="documents/wagsen/tfqualifiers.pdf" target="_blank" class="pdf">Teams Final Qualifiers Women Senior</a><br>
	<a href="documents/wagsen/aa.pdf" target="_blank" class="pdf">All-Around Results Women Senior</a>
	<a href="documents/wagsen/ind.pdf" target="_blank" class="pdf">Individual Results Women Senior</a><br>
	<a href="documents/wagsen/afqualifiers.pdf" target="_blank" class="pdf">Apparatus Final Qualifiers Women Senior</a>
	<a href="documents/wagsen/q1vt.pdf" target="_blank" class="pdf">Results Women Senior Qualification Vault</a>
	<a href="documents/wagsen/q1vt2.pdf" target="_blank" class="pdf">Results Women Senior Qualification Two Vaults</a>
	<a href="documents/wagsen/q2ub.pdf" target="_blank" class="pdf">Results Women Senior Qualification Uneven Bars</a>
	<a href="documents/wagsen/q3bb.pdf" target="_blank" class="pdf">Results Women Senior Qualification Beam</a>
	<a href="documents/wagsen/q4fx.pdf" target="_blank" class="pdf">Results Women Senior Qualification Floor Exercise</a><br>
	<a href="documents/wagsen/qualsl.pdf" target="_blank" class="pdf">Start List Qualification Women Senior</a>
	<a href="documents/wagsen/entriesnoc.pdf" target="_blank" class="pdf">Entry List by NOC Women Senior</a>
	<a href="documents/wagsen/entriesbib.pdf" target="_blank" class="pdf">Entry List by BIB Women Senior</a>
<!-- JUN Q -->
<h2 class="wom">Qualification Women Junior</h2>
	<a href="documents/wagjun/teams.pdf" target="_blank" class="pdf">Results Teams Women Junior</a>
	<a href="documents/wagjun/teamsmedalists.pdf" target="_blank" class="pdf">Medalists Teams Women Junior</a>
	<a href="documents/wagjun/aaq.pdf" target="_blank" class="pdf">Results Qualification AA Women Junior</a>
	<a href="documents/wagjun/ind.pdf" target="_blank" class="pdf">Results Individual Women Junior</a>
	<a href="documents/wagjun/aafqualifiers.pdf" target="_blank" class="pdf">All-Around Final Qualifiers Women Junior</a><br>
	<a href="documents/wagjun/afqualifiers.pdf" target="_blank" class="pdf">Apparatus Final Qualifiers Women Junior</a>
	<a href="documents/wagjun/q1vt.pdf" target="_blank" class="pdf">Results Women Junior Qualification Vault</a>
	<a href="documents/wagjun/q1vt2.pdf" target="_blank" class="pdf">Results Women Junior Qualification Two Vaults</a>
	<a href="documents/wagjun/q2ub.pdf" target="_blank" class="pdf">Results Women Junior Qualification Uneven Bars</a>
	<a href="documents/wagjun/q3bb.pdf" target="_blank" class="pdf">Results Women Junior Qualification Beam</a>
	<a href="documents/wagjun/q4fx.pdf" target="_blank" class="pdf">Results Women Junior Qualification Floor Exercise</a><br>
	<a href="documents/wagjun/qualsl.pdf" target="_blank" class="pdf">Start List Qualification Women Junior</a>
	<a href="documents/wagjun/entriesnoc.pdf" target="_blank" class="pdf">Entry List by NOC Women Junior</a>
	<a href="documents/wagjun/entriesbib.pdf" target="_blank" class="pdf">Entry List by BIB Women Junior</a>
<!-- Draw -->
<h2 class="wom">Drawing of Lots</h2>
	<a href="documents/wagsen/draw.pdf" target="_blank" class="pdf">Drawing of Lots Women Senior</a>
	<a href="documents/wagjun/draw.pdf" target="_blank" class="pdf">Drawing of Lots Women Junior</a>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday June 1</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">10:00 - 12:00<br>12:10 - 14:10<br>15:20 - 17:20<br>17:20 - 17:50<br>18:00 - 20:00<br>20:00 - 20:10<br></td>
		<td style="width:460px; vertical-align:top;">
Qualification Juniors Subdivision 1<br>
Qualification Juniors Subdivision 2<br>
Qualification Juniors Subdivision 3<br>
Opening Ceremony <br>
Qualification Juniors Subdivision 4<br> 
Award Ceremony Team Juniors<br>
</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday June 2</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">10:00 - 12:00<br>12:10 - 14:10<br>15:20 - 17:20<br>17:30 - 19:30<br></td>
		<td style="width:460px; vertical-align:top;">
Qualification Seniors Subdivision 1<br>
Qualification Seniors Subdivision 2<br>
Qualification Seniors Subdivision 3<br>
Qualification Seniors Subdivision 4<br>
</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday June 3</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">19:00 - 21:00<br>21:00 - 21:10<br></td>
		<td style="width:460px; vertical-align:top;">All-around Final Juniors<br>Award Ceremony All-around Juniors<br></td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday June 4</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">17:00 - 18:40<br>18:40 - 18:50<br></td>
		<td style="width:460px; vertical-align:top;">Team-Final Seniors<br>Award Ceremony Team Seniors<br></td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday June 5</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">11:00 - 13:50<br><br>14:30 - 17:00<br><br>17:00 - 17:05<br></td>
		<td style="width:460px; vertical-align:top;">
Apparatus Finals Seniors<br>
Award Ceremonies Apparatus Finals Seniors<br>
Apparatus Finals Juniors<br>
Award Ceremonies Apparatus Finals Juniors<br>
Closing Ceremony<br>
</td></tr>
</table>
<h2 class="men">Information</h2>
	<a href="documents/wagsen/nomreg.pdf" target="_blank" class="pdf">Nominative Registration Women Senior</a>
	<a href="documents/wagjun/nomreg.pdf" target="_blank" class="pdf">Nominative Registration Women Junior</a><br>
	<a href="documents/wagsen/defreg.pdf" target="_blank" class="pdf">Definitive Registration Women Senior</a>
	<a href="documents/wagjun/defreg.pdf" target="_blank" class="pdf">Definitive Registration Women Junior</a><br>
	<a href="documents/workplanwag.pdf" target="_blank" class="pdf">Work plan women</a>
	<a href="documents/directiveswag.pdf" target="_blank" class="pdf">Directives</a><br>
<img src="images/postfinancearena.png" alt="Post Finance Arena Bern (SUI)">