---
title: "World Challenge Cup 2016 AGF Trophy Baku"
year: 2016
startdate: 2016-02-19
enddate: 2016-02-21
country: "AZE"
category: "world-challenge-cup"
layout: results
redirect_from: /2016/eu/aze/agf-cup-baku.html
---

{% include resultsheader.html title="World Challenge Cup<br>2016 AGF Trophy<br>Baku (AZE) 2016 Feb 19-21" %}

<h2 class="men">Results Apparatus Finals Men</h2>
	<a href="documents/magaf1fx_opt.pdf" target="_blank" class="pdf">Floor Exercise Final Men</a>
	<a href="documents/magaf2ph_opt.pdf" target="_blank" class="pdf">Pommel Horse Final Men</a>
	<a href="documents/magaf3sr_opt.pdf" target="_blank" class="pdf">Rings Final Men</a>
	<a href="documents/magaf4vt_opt.pdf" target="_blank" class="pdf">Vault Final Men</a>
	<a href="documents/magaf5pb_opt.pdf" target="_blank" class="pdf">Parallel Bars Final Men</a>
	<a href="documents/magaf6hb_opt.pdf" target="_blank" class="pdf">Horizontal Bar Final Men</a>
<h2 class="wom">Results Apparatus Finals Women</h2>
	<a href="documents/wagaf1vtm_opt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/wagaf2ubm_opt.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
	<a href="documents/wagaf3bb_opt.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/wagaf4fx_opt.pdf" target="_blank" class="pdf">Floor Exercise Final Women</a>
<h2 class="men">Men Qualification Saturday</h2>
	<a href="documents/magq4vt_opt.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magq5pb_opt.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/magq6hb_opt.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>
<h2 class="wom">Results Qualification Women Saturday</h2>
	<a href="documents/wagq3bb_opt.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagq4fx_opt.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>
<h2 class="men">Men Qualification Friday</h2>
	<a href="documents/magq1fx_opt.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magq2ph_opt.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magq3sr_opt.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
<h2 class="wom">Results Qualification Women Friday</h2>
	<a href="documents/wagq1vt_opt.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagq2ub_opt.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
<br>
<img src="images/mga.jpg" alt="Baku arena">
<h2 class="men">Information</h2>

	<div style="padding: 16px;">
	<b>Disciplines, categories and age:</b><br>
	<ul>
		<li>Men&rsquo;s Artistic Gymnastics - Senior 18 years and older</li>
		<li>Women&rsquo;s Artistic Gymnastics - Senior 16 years and older</li>
	</ul>
	</div>

<h2 class="men">Schedule</h2>

<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday Feb 17</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Arrival of delegation</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday Feb 18</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Training, Podium training, Orinetation meeting</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday Feb 19</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Qualification Day 1 (MAG 3 &amp; WAG 2)</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday Feb 20</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Qualification Day 2 (MAG 3 &amp; WAG 2)</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday Feb 21</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Apparatus Finals</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Monday Feb 22</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Departure of delegation</td></tr>
</table>
<h2 class="wom">Information</h2>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>
	