---
layout: default
---

<div class="rounded" id="intro">
	<div class="globe"><img src="/assets/images/hill2.gif"></div>
	<h1 class="inline">Gymnastics Results</h1> - The most complete <strong>Gymnastics results</strong> archive online. <strong>Every gymnast</strong> competing at Olympic Games 1984-2016, World Championships 1994-2018, European Championships 1996-2018, European Games 2015, Summer Universiade 2003-2015, World Cup meets, U.S. Championships, Pan American Games, Central American Games, South American Games, Asian Games, Commonwealth Games, Grand Prix and many more.
</div>

<table class="results-list">
	<tr><th colspan=2><h2>Latest Results</h2></th></tr>

	{% assign results = site.results | where_exp: "result", "result.homepage != false" | sort: 'startdate' | reverse %}
	{% for result in results limit:10 %}
	<tr {% if result.category == "worlds" or result.category == "olympics" %}class="team"{% endif %}>
		<td><span class="hide-small">{{result.year}} </span>{{result.startdate | date: "%b %e"}}{% if result.enddate %}<span class="hide-small"> - {{result.enddate | date: "%b %e"}}</span>{% endif %}</td>
		<td><a href="{{result.url}}">{{result.title}} ({{result.country}})</a></td>
	</tr>
	{% endfor %}
</table>

<div class="rounded" id="featured">
	<h2>Featured Gymnastics Meets:</h2>
	
	<ul>
		<li><b>Olympics</b> &nbsp; <a href="/results/2024/olympics/index.html">2024</a> &nbsp; <a href="/results/2021/olympics/index.html">2020</a> &nbsp; <a href="olympics/2016/rio.html">2016</a> &nbsp; <a href="olympics/2012/london.html">2012</a> &nbsp; <a href="/results/2008/olympics/index.html">2008</a> &nbsp; <a href="/results/2004/olympics/index.html">2004</a> &nbsp; <a href="/results/2000/olympics/index.html">2000</a></li>
		<li><b>Worlds</b> &nbsp; <a href="/results/2023/worlds/index.html">2023</a> &nbsp; <a href="results/2022/worlds/index.html">2022</a> &nbsp; <a href="results/2021/worlds/index.html">2021</a> &nbsp; <a href="results/2019/worlds/index.html">2019</a> &nbsp; <a href="worlds/2018/doha.html">2018</a> &nbsp; <a href="worlds/2017/montreal.html">2017</a> &nbsp; <a href="/results/2015/worlds/index.html">2015</a></li>
		<li><b>European Championships</b> &nbsp; <a href="/results/2024/euros/index.html">2024</a> &nbsp; <a href="/results/2023/euros/index.html">2023</a> &nbsp; <a href="/results/2022/euros/index.html">2022</a> &nbsp; <a href="/results/2021/euros/index.html">2021</a> &nbsp; <a href="/results/2020/euros/men.html">2020 M</a> &nbsp; <a href="/results/2020/euros/women.html">2020 W</a> &nbsp; <a href="/results/2019/euros/index.html">2019</a> &nbsp; <a href="euro/2018/men.html">2018 M</a> &nbsp; <a href="euro/2018/women.html">2018 W</a> &nbsp; <a href="euro/2017/european-championships.html">2017</a> &nbsp; <a href="euro/2016/bernmag.html">2016 M</a> &nbsp; <a href="euro/2016/bernwag.html">2016 W</a></li>
	</ul>
	
	<p><b>See all:</b> &nbsp; <a href="/competitions/olympics">Olympics</a> &nbsp; <a href="/competitions/worlds">Worlds</a> &nbsp; <a href="/competitions/euros">Euros</a></p>

	<h2>Gymnastics Results by Location:</h2>

	{% assign countries = site.countries | sort: 'country' %}
	{% for country in countries %}
	<div class="country-list-item"><a href="{{country.url}}" title="{{country.title}}">
		<img src="/assets/images/flags/{{country.country | downcase}}40x20.gif" width=40 height="20" alt="Gymnastics {{country.title}}" border=1><br>{{country.country}}</a></div>
	{% endfor %}
	</tr>

</div>

<div class="rounded" style="text-align: center">
	<img src="/results/2024/olympics/qualification/logo.png" width="200px" alt="Paris 2024 Logo">
	<a href="/results/2024/olympics/qualification/index.html">
		<h2>Paris 2024 Olympic Qualification</h2>
	</a>
</div>

<div class="rounded">
	<h2>Fun Facts:</h2>
	<a href="/countries.html">Gymnastics Country Codes</a><br>
	<a href="/birthdays.html">Gymnastics Birthdays</a><br>
	<a href="/media.html">Gymnastics Books and Films</a>
	<br><br>
	<h2>Technical Information</h2>
	<a href="/technical/code-of-points/">The Code of Points (past and present)</a><br>
	<a href="/results/2020/olympics/qualification/index.html">Tokyo 2020 Olympic Qualification</a>
</div>

<div class="rounded">
	<a href="/archive/"><h2 style="font-size: 2rem; text-align: center;">Archive:</h2></a>
	<p>This site is being transitioned over to a new format that will make it easier to update and sort results, and easier to use on mobile devices. 
		Because of this, not all content has been moved over yet - the focus is on more recent results and major competitions. To see an archive of all old results, go <a href="/archive/">to the Archive</a>. Thank you for your understanding while this work is completed. If you cannot find a result, please <a href="mailto:gymres@gmail.com">email me</a>.</p>
</div>

<table class="results-list">
	{% assign years = site.results | where_exp: "result", "result.homepage != false" | sort:'startdate' | reverse | group_by:"year" %}
	{% for year in years %}
		<tr><th colspan=2><h2> Results {{year.name}}</h2></th></tr>
		{% for result in year.items %}
		<tr {% if result.category == "worlds" or result.category == "olympics" %}class="team"{% endif %}>
			<td><span class="hide-small">{{result.year}} </span>{{result.startdate | date: "%b %e"}}{% if result.enddate %}<span class="hide-small"> - {{result.enddate | date: "%b %e"}}</span>{% endif %}</td>
			<td><a href="{{result.url}}">{{result.title}} ({{result.country}})</a></td>
		</tr>
		{% endfor %}
	{% endfor %}
</table>