---
title: "International GYMNIX 2016 Montreal"
year: 2016
startdate: 2016-03-03
enddate: 2016-03-06
country: "CAN"
category: "gymnix"
layout: results
redirect_from: /2016/am/can/gymnix.html
---

{% include resultsheader.html title="25th International GYMNIX 2016<br>Montreal (CAN)<br>2016 March 3-6" %}
	
<h2 class="wom">Apparatus Finals Senior Cup</h2>
	<a href="documents/senaf1vt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/senaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
	<a href="documents/senaf3bb.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/senaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Finals Women</a>
<h2 class="wom">Apparatus Finals Junior Cup</h2>
	<a href="documents/junaf1vt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/junaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
	<a href="documents/junaf3bb.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/junaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Finals Women</a>
<h2 class="wom">Apparatus Finals Challenge</h2>
	<a href="documents/challengeaf1vt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/challengeaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
	<a href="documents/challengeaf3bb.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/challengeaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Finals Women</a>
<h2 class="wom">Results Friday March 4</h2>
	<img src="images/sencup.jpg"><br>
	
	<div class="table-scroll">
	<table class="waa" align="center">
<tr class="men"><th colspan=2>Senior Cup Team Results</th>
	<td style="width:60px; text-align:center;"><img src="/assets/images/icons/4vt50x50.gif" width=50 height=50 alt="vault"></td>
	<td style="width:60px; text-align:center;"><img src="/assets/images/icons/2ub50x50.gif" width=50 height=50 alt="uneven bars"></td>
	<td style="width:60px; text-align:center;"><img src="/assets/images/icons/3bb50x50.gif" width=50 height=50 alt="beam"></td>
	<td style="width:60px; text-align:center;"><img src="/assets/images/icons/1fx50x50.gif" width=50 height=50 alt="floor exercise"></td>
	<th style="width:80px; text-align:center;">Total</th></tr>
<tr class="one"><td style="vertical-align:top; text-align:center;">1</td><td style="width:250px; vertical-align:top;"><b>Belgium 1</b><br>Deriks, Derwael, Klinckaert, Waem</td>
	<td style="width:60px; vertical-align:top; text-align:center;">41.875</td>
	<td style="width:60px; vertical-align:top; text-align:center;">40.850</td>
	<td style="width:60px; vertical-align:top; text-align:center;">42.125</td>
	<td style="width:60px; vertical-align:top; text-align:center;">41.600</td>
	<td style="width:80px; vertical-align:top; text-align:center;">166.450</td></tr>
<tr class="two"><td style="vertical-align:top; text-align:center;">2</td><td style="width:250px; vertical-align:top;"><b>Canada Power</b><br>Onyshko, Peterman, Vezina, V. Woo</td>
	<td style="width:60px; vertical-align:top; text-align:center;">42.450</td>
	<td style="width:60px; vertical-align:top; text-align:center;">41.025</td>
	<td style="width:60px; vertical-align:top; text-align:center;">41.850</td>
	<td style="width:60px; vertical-align:top; text-align:center;">40.975</td>
	<td style="width:80px; vertical-align:top; text-align:center;">166.300</td></tr>
<tr class="one"><td style="vertical-align:top; text-align:center;">3</td><td style="width:250px; vertical-align:top;"><b>Canada Rams</b><br>Copiak, Rousseau, Townsend, R. Woo</td>
	<td style="width:60px; vertical-align:top; text-align:center;">42.125</td>
	<td style="width:60px; vertical-align:top; text-align:center;">39.450</td>
	<td style="width:60px; vertical-align:top; text-align:center;">40.500</td>
	<td style="width:60px; vertical-align:top; text-align:center;">40.425</td>
	<td style="width:80px; vertical-align:top; text-align:center;">162.500</td></tr>
<tr class="two"><td style="vertical-align:top; text-align:center;">4</td><td style="width:250px; vertical-align:top;"><b>Canada Max</b><br>Cyrenne, Olsen, Semple, Soloski</td>
	<td style="width:60px; vertical-align:top; text-align:center;">42.450</td>
	<td style="width:60px; vertical-align:top; text-align:center;">39.000</td>
	<td style="width:60px; vertical-align:top; text-align:center;">38.500</td>
	<td style="width:60px; vertical-align:top; text-align:center;">39.950</td>
	<td style="width:80px; vertical-align:top; text-align:center;">159.900</td></tr>
<tr class="one"><td style="vertical-align:top; text-align:center;">5</td><td style="width:250px; vertical-align:top;"><b>Belgium 2</b><br>Hermans, Meyers, Mys, Vandenhole</td>
	<td style="width:60px; vertical-align:top; text-align:center;">40.750</td>
	<td style="width:60px; vertical-align:top; text-align:center;">40.625</td>
	<td style="width:60px; vertical-align:top; text-align:center;">39.550</td>
	<td style="width:60px; vertical-align:top; text-align:center;">37.925</td>
	<td style="width:80px; vertical-align:top; text-align:center;">158.850</td></tr>
<tr class="two"><td style="vertical-align:top; text-align:center;">6</td><td style="width:250px; vertical-align:top;"><b>Japan<br></b>Hiraiwa, Kajita, Miyakawa</td>
	<td style="width:60px; vertical-align:top; text-align:center;">43.350</td>
	<td style="width:60px; vertical-align:top; text-align:center;">39.400</td>
	<td style="width:60px; vertical-align:top; text-align:center;">35.925</td>
	<td style="width:60px; vertical-align:top; text-align:center;">38.350</td>
	<td style="width:80px; vertical-align:top; text-align:center;">157.025</td></tr>
<tr bgcolor="#000000"><td colspan=7 style="height:1px; padding:0px;"></td></tr>
<tr class="svk"><td colspan=7 valign=middle>
	<a href="documents/sencupteams.pdf" target="_blank" class="pdf">Official Results</a> &nbsp; </td></tr>
</table>
</div>

<br>

<div class="table-scroll">
<table class="waa" align="center">
<tr class="men"><th colspan=3>Senior Cup All-Around Results</th>
	<td style="width:60px; text-align:center;"><img src="/assets/images/icons/4vt50x50.gif" width=50 height=50 alt="vault"></td>
	<td style="width:60px; text-align:center;"><img src="/assets/images/icons/2ub50x50.gif" width=50 height=50 alt="uneven bars"></td>
	<td style="width:60px; text-align:center;"><img src="/assets/images/icons/3bb50x50.gif" width=50 height=50 alt="beam"></td>
	<td style="width:60px; text-align:center;"><img src="/assets/images/icons/1fx50x50.gif" width=50 height=50 alt="floor exercise"></td>
	<th style="width:80px; text-align:center;">Total</th></tr>
<tr bgcolor="#000000"><td colspan=8 style="height:1px; padding:0px;"></td></tr>
<tr class="one"><td style="width:30px; vertical-align:top; text-align:center;">1</td><td style="width:250px; vertical-align:top;">Isabela Onyshko</td><td style="width:30px; vertical-align:top; text-align:center;">CAN</td>
	<td style="width:80px; vertical-align:top; text-align:center;">14.225</td>
	<td style="width:80px; vertical-align:top; text-align:center;">14.225</td>
	<td style="width:80px; vertical-align:top; text-align:center;">14.700</td>
	<td style="width:80px; vertical-align:top; text-align:center;">14.400</td>
	<td style="width:80px; vertical-align:top; text-align:center;">57.550</td></tr>
<tr class="two"><td style="width:30px; vertical-align:top; text-align:center;">2</td><td style="width:250px; vertical-align:top;">Axelle Klinckaert</td><td style="width:30px; vertical-align:top; text-align:center;">BEL</td>
	<td style="width:80px; vertical-align:top; text-align:center;">14.275</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.725</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.725</td>
	<td style="width:80px; vertical-align:top; text-align:center;">14.400</td>
	<td style="width:80px; vertical-align:top; text-align:center;">56.125</td></tr>
<tr class="one"><td style="width:30px; vertical-align:top; text-align:center;">3</td><td style="width:250px; vertical-align:top;">Rose-Kaying Woo</td><td style="width:30px; vertical-align:top; text-align:center;">CAN</td>
	<td style="width:80px; vertical-align:top; text-align:center;">14.050</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.425</td>
	<td style="width:80px; vertical-align:top; text-align:center;">14.150</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.600</td>
	<td style="width:80px; vertical-align:top; text-align:center;">55.225</td></tr>
<tr class="two"><td style="width:30px; vertical-align:top; text-align:center;">4</td><td style="width:250px; vertical-align:top;">Meixi Semple</td><td style="width:30px; vertical-align:top; text-align:center;">CAN</td>
	<td style="width:80px; vertical-align:top; text-align:center;">14.200</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.350</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.850</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.500</td>
	<td style="width:80px; vertical-align:top; text-align:center;">54.900</td></tr>
<tr class="one"><td style="width:30px; vertical-align:top; text-align:center;">5</td><td style="width:250px; vertical-align:top;">Victoria-Kayen Woo</td><td style="width:30px; vertical-align:top; text-align:center;">CAN</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.850</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.825</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.450</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.725</td>
	<td style="width:80px; vertical-align:top; text-align:center;">54.850</td></tr>
<tr class="two"><td style="width:30px; vertical-align:top; text-align:center;">6</td><td style="width:250px; vertical-align:top;">Gaelle Mys</td><td style="width:30px; vertical-align:top; text-align:center;">BEL</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.950</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.075</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.600</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.825</td>
	<td style="width:80px; vertical-align:top; text-align:center;">54.450</td></tr>
<tr class="one"><td style="width:30px; vertical-align:top; text-align:center;">7</td><td style="width:250px; vertical-align:top;">Nina Derwael</td><td style="width:30px; vertical-align:top; text-align:center;">BEL</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.650</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.050</td>
	<td style="width:80px; vertical-align:top; text-align:center;">14.450</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.000</td>
	<td style="width:80px; vertical-align:top; text-align:center;">54.150</td></tr>
<tr class="two"><td style="width:30px; vertical-align:top; text-align:center;">8</td><td style="width:250px; vertical-align:top;">Madison Copiak</td><td style="width:30px; vertical-align:top; text-align:center;">CAN</td>
	<td style="width:80px; vertical-align:top; text-align:center;">14.100</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.525</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.225</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.975</td>
	<td style="width:80px; vertical-align:top; text-align:center;">53.825</td></tr>
<tr class="one"><td style="width:30px; vertical-align:top; text-align:center;">9</td><td style="width:250px; vertical-align:top;">Nagi Kajita</td><td style="width:30px; vertical-align:top; text-align:center;">JPN</td>
	<td style="width:80px; vertical-align:top; text-align:center;">14.600</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.775</td>
	<td style="width:80px; vertical-align:top; text-align:center;">11.725</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.700</td>
	<td style="width:80px; vertical-align:top; text-align:center;">53.800</td></tr>
<tr class="two"><td style="width:30px; vertical-align:top; text-align:center;">10</td><td style="width:250px; vertical-align:top;">Kirsten Peterman</td><td style="width:30px; vertical-align:top; text-align:center;">CAN</td>
	<td style="width:80px; vertical-align:top; text-align:center;">14.375</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.975</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.700</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.675</td>
	<td style="width:80px; vertical-align:top; text-align:center;">53.725</td></tr>
<tr class="one"><td style="width:30px; vertical-align:top; text-align:center;">11</td><td style="width:250px; vertical-align:top;">Audrey Rousseau</td><td style="width:30px; vertical-align:top; text-align:center;">CAN</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.975</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.500</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.125</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.850</td>
	<td style="width:80px; vertical-align:top; text-align:center;">53.450</td></tr>
<tr class="two"><td style="width:30px; vertical-align:top; text-align:center;">12</td><td style="width:250px; vertical-align:top;">Shallon Olsen</td><td style="width:30px; vertical-align:top; text-align:center;">CAN</td>
	<td style="width:80px; vertical-align:top; text-align:center;">14.700</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.725</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.100</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.775</td>
	<td style="width:80px; vertical-align:top; text-align:center;">53.300</td></tr>
<tr class="one"><td style="width:30px; vertical-align:top; text-align:center;">13</td><td style="width:250px; vertical-align:top;">Julie Meyers</td><td style="width:30px; vertical-align:top; text-align:center;">BEL</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.825</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.175</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.025</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.800</td>
	<td style="width:80px; vertical-align:top; text-align:center;">52.825</td></tr>
<tr class="two"><td style="width:30px; vertical-align:top; text-align:center;">14</td><td style="width:250px; vertical-align:top;">Eythora Thorsdottir</td><td style="width:30px; vertical-align:top; text-align:center;">NED</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.850</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.925</td>
	<td style="width:80px; vertical-align:top; text-align:center;">11.575</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.950</td>
	<td style="width:80px; vertical-align:top; text-align:center;">52.300</td></tr>
<tr class="one"><td style="width:30px; vertical-align:top; text-align:center;">15</td><td style="width:250px; vertical-align:top;">Yuna Hiraiwa</td><td style="width:30px; vertical-align:top; text-align:center;">JPN</td>
	<td style="width:80px; vertical-align:top; text-align:center;">14.050</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.675</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.875</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.375</td>
	<td style="width:80px; vertical-align:top; text-align:center;">51.975</td></tr>
<tr class="two"><td style="width:30px; vertical-align:top; text-align:center;">16</td><td style="width:250px; vertical-align:top;">Cindy Vandenhole</td><td style="width:30px; vertical-align:top; text-align:center;">BEL</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.725</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.275</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.275</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.500</td>
	<td style="width:80px; vertical-align:top; text-align:center;">51.775</td></tr>
<tr class="one"><td style="width:30px; vertical-align:top; text-align:center;">17</td><td style="width:250px; vertical-align:top;">Laurie-Lou Vezina</td><td style="width:30px; vertical-align:top; text-align:center;">CAN</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.100</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.350</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.050</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.850</td>
	<td style="width:80px; vertical-align:top; text-align:center;">51.350</td></tr>
<tr class="two"><td style="width:30px; vertical-align:top; text-align:center;">18</td><td style="width:250px; vertical-align:top;">Sae Miyakawa</td><td style="width:30px; vertical-align:top; text-align:center;">JPN</td>
	<td style="width:80px; vertical-align:top; text-align:center;">14.700</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.950</td>
	<td style="width:80px; vertical-align:top; text-align:center;">11.325</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.275</td>
	<td style="width:80px; vertical-align:top; text-align:center;">51.250</td></tr>
<tr class="one"><td style="width:30px; vertical-align:top; text-align:center;">19</td><td style="width:250px; vertical-align:top;">Sydney Soloski</td><td style="width:30px; vertical-align:top; text-align:center;">CAN</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.550</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.175</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.550</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.675</td>
	<td style="width:80px; vertical-align:top; text-align:center;">50.950</td></tr>
<tr class="two"><td style="width:30px; vertical-align:top; text-align:center;">20</td><td style="width:250px; vertical-align:top;">Julie Croket</td><td style="width:30px; vertical-align:top; text-align:center;">BEL</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.200</td>
	<td style="width:80px; vertical-align:top; text-align:center;">11.450</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.550</td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.625</td>
	<td style="width:80px; vertical-align:top; text-align:center;">50.825</td></tr>
<tr class="one"><td style="width:30px; vertical-align:top; text-align:center;">21</td><td style="width:250px; vertical-align:top;">Kirsten Polderman</td><td style="width:30px; vertical-align:top; text-align:center;">NED</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.125</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.525</td>
	<td style="width:80px; vertical-align:top; text-align:center;">11.650</td>
	<td style="width:80px; vertical-align:top; text-align:center;">11.800</td>
	<td style="width:80px; vertical-align:top; text-align:center;">50.100</td></tr>
<tr class="two"><td style="width:30px; vertical-align:top; text-align:center;">22</td><td style="width:250px; vertical-align:top;">Laura Waem</td><td style="width:30px; vertical-align:top; text-align:center;">BEL</td>
	<td style="width:80px; vertical-align:top; text-align:center;"></td>
	<td style="width:80px; vertical-align:top; text-align:center;">14.050</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.950</td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.375</td>
	<td style="width:80px; vertical-align:top; text-align:center;">41.375</td></tr>
<tr class="one"><td style="width:30px; vertical-align:top; text-align:center;">23</td><td style="width:250px; vertical-align:top;">Rune Hermans</td><td style="width:30px; vertical-align:top; text-align:center;">BEL</td>
	<td style="width:80px; vertical-align:top; text-align:center;"></td>
	<td style="width:80px; vertical-align:top; text-align:center;">13.675</td>
	<td style="width:80px; vertical-align:top; text-align:center;">	13.100</td>
	<td style="width:80px; vertical-align:top; text-align:center;">	13.450</td>
	<td style="width:80px; vertical-align:top; text-align:center;">	40.225</td></tr>
<tr class="two"><td style="width:30px; vertical-align:top; text-align:center;">24</td><td style="width:250px; vertical-align:top;">Senna Deriks</td><td style="width:30px; vertical-align:top; text-align:center;">BEL</td>
	<td style="width:80px; vertical-align:top; text-align:center;"></td>
	<td style="width:80px; vertical-align:top; text-align:center;">14.175</td>
	<td style="width:80px; vertical-align:top; text-align:center;">	12.975</td>
	<td style="width:80px; vertical-align:top; text-align:center;"></td>
	<td style="width:80px; vertical-align:top; text-align:center;">27.150</td></tr>
<tr class="one"><td style="width:30px; vertical-align:top; text-align:center;">25</td><td style="width:250px; vertical-align:top;">Sydney Townsend</td><td style="width:30px; vertical-align:top; text-align:center;">CAN</td>
	<td style="width:80px; vertical-align:top; text-align:center;"></td>
	<td style="width:80px; vertical-align:top; text-align:center;"></td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.675</td>
	<td style="width:80px; vertical-align:top; text-align:center;">	12.300</td>
	<td style="width:80px; vertical-align:top; text-align:center;">	24.975</td></tr>
<tr class="two"><td style="width:30px; vertical-align:top; text-align:center;">26</td><td style="width:250px; vertical-align:top;">Helody Cyrenne</td><td style="width:30px; vertical-align:top; text-align:center;">CAN</td>
	<td style="width:80px; vertical-align:top; text-align:center;"></td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.925</td>
	<td style="width:80px; vertical-align:top; text-align:center;"></td>
	<td style="width:80px; vertical-align:top; text-align:center;"></td>
	<td style="width:80px; vertical-align:top; text-align:center;">12.925</td></tr>
<tr bgcolor="#000000"><td colspan=8 style="height:1px; padding:0px;"></td></tr>
<tr class="svk"><td colspan=8 valign=middle>
	<a href="documents/sencupaa.pdf" target="_blank" class="pdf">Official Results</a> &nbsp; </td></tr>
</table>
</div>
	<a href="documents/s12apn.pdf" target="_blank" class="pdf">Results Session 12 A Aspire TWO</a>
	<a href="documents/s12bpn.pdf" target="_blank" class="pdf">Results Session 12 B Aspire TWO</a>
	<a href="documents/s13alev10.pdf" target="_blank" class="pdf">Results Session 13 A JO 10</a>
	<a href="documents/s13blev10.pdf" target="_blank" class="pdf">Results Session 13 B JO 10</a><br>
	<a href="documents/s20alev6.pdf" target="_blank" class="pdf">Results Session 20 A JO 6</a>
	<a href="documents/s20blev6.pdf" target="_blank" class="pdf">Results Session 20 B JO 6</a>
	<a href="documents/s21alev6.pdf" target="_blank" class="pdf">Results Session 21 A JO 6</a>
	<a href="documents/s21blev6.pdf" target="_blank" class="pdf">Results Session 21 B JO 6</a>
	<a href="documents/s22apn.pdf" target="_blank" class="pdf">Results Session 22 A Aspire ONE</a>
	<a href="documents/s22bpn.pdf" target="_blank" class="pdf">Results Session 22 B Aspire ONE</a>
	<a href="documents/s23apn.pdf" target="_blank" class="pdf">Results Session 23 A Aspire ONE</a>
	<a href="documents/s23bpn.pdf" target="_blank" class="pdf">Results Session 23 B Aspire ONE</a>
<h2 class="wom">Results Thursday March 3</h2>
	<a href="documents/s10alev9.pdf" target="_blank" class="pdf">Results Session 10 A Level 9</a>
	<a href="documents/s10blev9.pdf" target="_blank" class="pdf">Results Session 10 B Level 9</a>
	<a href="documents/s11alev10.pdf" target="_blank" class="pdf">Results Session 11 A Level 10</a>
	<a href="documents/s11blev10.pdf" target="_blank" class="pdf">Results Session 11 B Level 10</a><br>
<img src="images/logo.jpg" alt="International GYMNIX 2016 Montreal (CAN) 2016 March 3-6">
<h2 class="men">Participants</h2>
	<a href="documents/partsencup.pdf" target="_blank" class="pdf">Participants Senior Cup</a>
	<a href="documents/partjuncup.pdf" target="_blank" class="pdf">Participants Junior Cup</a>
	<a href="documents/partchallenge.pdf" target="_blank" class="pdf">Participants Gymnix Challenge</a>
	<a href="documents/partclassique.pdf" target="_blank" class="pdf">Participants La Classique Gymnix</a>
<h2 class="men">Information</h2>
<tr><td style="text-align:center;">
<iframe src="https://www.youtube.com/embed/XzV5cL7XJVs" frameborder="0" allowfullscreen></iframe>
<br>
<div style="text-align:left; padding: 10px;">
<h2>Competition venue</h2>
<p>Competitions are being held at the Claude-Robillard Sports Complex<br />Omnisports room &amp; Double Gymnasium<br />(1000 Emile-Journault, Montreal Qc, H2M 2E7)</p>
<p><strong>Double gymnasium : Floor on podium<br />Omnisport room : ALL apparatus on podium</strong></p>
</div>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Tuesday March 1</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Delegation Arrivals<br>Trainings</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday March 2</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Delegation Arrivals<br>Trainings<br>Technical Meeting</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday March 3</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Podium Training</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday March 4</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Junior International Cup Training<br>Senior International Cup Competition Day 1</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday March 5</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Junior International Cup Competition Day 1<br>Senior International Cup Training</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday March 6</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Apparatus Finals Competition Day 2</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Monday March 7</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Delegations Departure</td></tr>
</table>
<h2 class="wom">Information</h2>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>

<br><img src="images/poster.jpg" alt="International GYMNIX 2016 Montreal (CAN) 2016 March 3-6">
