---
title: "FIG World Challenge Cup Koper"
year: 2018
startdate: 2018-05-31
enddate: 2018-06-03
country: "SLO"
category: "world-challenge-cup"
layout: results
redirect_from: /2018/eu/slo/wcupkoper.html
---
	
{% include resultsheader.html title="FIG World Challenge Cup<br>Koper (SLO)<br>2018 May 31 - June 3" %}

<img src="images/bonifika.jpg" alt="FIG World Challenge Cup Koper (SLO) 2018 May 31 - June 3">
<!--MAG Final-->
<h2 class="men">Men Apparatus Finals</h2>
  	<a href="#magfx" class="fx">Men Floor Exercise Final</a>
	<a href="#magph" class="ph">Men Pommel Horse Final</a>
	<a href="#magsr" class="sr">Men Rings Final</a>
	<a href="#magvt" class="vt">Men Vault Final</a>
	<a href="#magpb" class="pb">Men Parallel Bars Final</a>
	<a href="#maghb" class="hb">Men Horizontal Bar Final</a>
<!--WAG Final-->
<h2 class="wom">Women Apparatus Finals</h2>

  	<a href="#wagvt" class="vt">Vault Finals Women</a>
  	<a href="#wagub" class="ub">Uneven Bars Finals Women</a>
  	<a href="#wagbb" class="bb">Beam Finals Women</a>
  	<a href="#wagfx" class="fx">Floor Exercise Finals Women</a>

<!--MAG Qual-->
<h2 class="men">Men Qualification</h2>
	<a href="#magfxq" class="fx">Men Floor Exercise Qualification</a>
	<a href="#magphq" class="ph">Men Pommel Horse Qualification</a>
	<a href="#magsrq" class="sr">Men Rings Qualification</a>
	<a href="#magvtq" class="vt">Men Vault Qualification</a>
	<a href="#magpbq" class="pb">Men Parallel Bars Qualification</a>
	<a href="#maghbq" class="hb">Men Horizontal Bar Qualification</a>
<!--WAG Qual-->
<h2 class="wom">Women Apparatus Qualification</h2>
  	<a href="#wagvtq" class="vt">Vault Women Qualification</a>
  	<a href="#wagubq" class="ub">Uneven Bars Women Qualification</a>
  	<a href="#wagbbq" class="bb">Beam Women Qualification</a>
  	<a href="#wagfxq" class="fx">Floor Exercise Women Qualification</a>

<h2 class="men"><a name="magfx"></a>Men Floor Exercise Final</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%">  <thead>  <tr>   <th>R.</th><th>Name</th>   <th>NOC</th><th>D</th>   <th>E</th>   <th>Pen.</th>   <th>Score</th><th>Total</th>  </tr>   </thead> <tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>SATO Takumi</td><td>JPN</td><td>6,40</td><td>8,550</td><td>0,00</td><td> 14,950</td><td>14,950</td></tr>
	<tr><td>2</td><td>DOLGOPYAT Artiom</td><td>ISR</td><td>6,60</td><td>8,450</td><td>0,10</td><td> 14,950</td><td>14,950</td></tr>
	<tr><td>3</td><td>GISCHARD Benjamin</td><td>SUI</td><td>6,10</td><td>8,250</td><td>0,00</td><td> 14,350</td><td>14,350</td></tr>
	<tr><td>4</td><td>BONCSER Kristian</td><td>HUN</td><td>5,40</td><td>8,400</td><td>0,00</td><td> 13,800</td><td>13,800</td></tr>
	<tr><td>5</td><td>SHATILOV Alexander</td><td>ISR</td><td>6,20</td><td>7,600</td><td>0,00</td><td> 13,800</td><td>13,800</td></tr>
	<tr><td>6</td><td>KARDOS Botond</td><td>HUN</td><td>5,70</td><td>8,050</td><td>0,00</td><td> 13,750</td><td>13,750</td></tr>
	<tr><td>7</td><td>OLIVEIRA Renato</td><td>BRA</td><td>5,80</td><td>7,300</td><td>0,00</td><td> 13,100</td><td>13,100</td></tr>
	<tr><td>8</td><td>DEURLOO Bart</td><td>NED</td><td>5,60</td><td>6,100</td><td>0,30</td><td> 11,400</td><td>11,400</td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>	
<h2 class="men"><a name="magph"></a>Men Pommel Horse Final</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>KAMEYAMA Kohei</td><td>JPN</td><td>6,40</td><td>8,400</td><td>0,00</td><td>14,800</td><td>14,800</td></tr>
	<tr><td>2</td><td>KURBANOV Nariman</td><td>KAZ</td><td>5,90</td><td>8,600</td><td>0,00</td><td>14,500</td><td>14,500</td></tr>
	<tr><td>3</td><td>BERTONCELJ SaSo</td><td>SLO</td><td>6,10</td><td>8,200</td><td>0,00</td><td>14,300</td><td>14,300</td></tr>
	<tr><td>4</td><td>MICHNAK Slavomir</td><td>SVK</td><td>6,00</td><td>7,900</td><td>0,00</td><td>13,900</td><td>13,900</td></tr>
	<tr><td>5</td><td>SUGINO Takaaki</td><td>JPN</td><td>6,50</td><td>7,400</td><td>0,00</td><td>13,900</td><td>13,900</td></tr>
	<tr><td>6</td><td>KALLAI Zoltan</td><td>HUN</td><td>5,70</td><td>7,850</td><td>0,00</td><td>13,550</td><td>13,550</td></tr>
	<tr><td>7</td><td>SIENICHKIN Andrii</td><td>UKR</td><td>6,20</td><td>6,700</td><td>0,00</td><td>12,900</td><td>12,900</td></tr>
	<tr><td>8</td><td>ABU AL SOUD Ahmad</td><td>JOR</td><td>6,10</td><td>6,250</td><td>0,00</td><td>12,350</td><td>12,350</td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>
<h2 class="men"><a name="magsr"></a>Men Rings Final</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>TAKEDA Kazuyuki</td><td>JPN</td><td>6,10</td><td>8,850</td><td>0,00</td><td>14,950</td><td>14,950</td></tr>
	<tr><td>2</td><td>COLAK Ibrahim</td><td>TUR</td><td>6,20</td><td>8,750</td><td>0,00</td><td>14,950</td><td>14,950</td></tr>
	<tr><td>3</td><td>LODADIO Marco</td><td>ITA</td><td>6,30</td><td>8,650</td><td>0,00</td><td>14,950</td><td>14,950</td></tr>
	<tr><td>4</td><td>KONSTANTINIDIS Konstantinos</td><td>GRE</td><td>6,10</td><td>8,350</td><td>0,00</td><td>14,450</td><td>14,450</td></tr>
	<tr><td>5</td><td>MUNTEAN Andrei Vasile </td><td>ROU</td><td>6,10</td><td>8,150</td><td>0,00</td><td>14,250</td><td>14,250</td></tr>
	<tr><td>6</td><td>PHILIPPE Mathias</td><td>FRA</td><td>5,70</td><td>8,250</td><td>0,00</td><td>13,950</td><td>13,950</td></tr>
	<tr><td>7</td><td>SATO Takumi</td><td>JPN</td><td>5,40</td><td>8,000</td><td>0,00</td><td>13,400</td><td>13,400</td></tr>
	<tr><td>8</td><td>YILMAZ Hamza</td><td>TUR</td><td>6,00</td><td>7,250</td><td>0,00</td><td>13,250</td><td>13,250</td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>
<h2 class="men"><a name="magvt"></a>Men Vault Final</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>LE Thanh Tung</td><td>VIE</td><td>5,60</td><td>9,300</td><td>0,00</td><td>14,900</td><td>14,600</td></tr>
	<tr><td></td><td></td><td></td><td>5,20</td><td>9,100</td><td>0,00</td><td>14,300</td><td></td><td></td></tr>
	<tr><td>2</td><td>SATO Takumi</td><td>JPN</td><td>5,60</td><td>8,950</td><td>0,00</td><td>14,550</td><td>14,475</td></tr>
	<tr><td></td><td></td><td></td><td>5,20</td><td>9,200</td><td>0,00</td><td>14,400</td><td></td><td></td></tr>
	<tr><td>3</td><td>GISCHARD Benjamin</td><td>SUI</td><td>5,60</td><td>8,950</td><td>0,00</td><td>14,550</td><td>14,325</td></tr>
	<tr><td></td><td></td><td></td><td>5,20</td><td>8,900</td><td>0,00</td><td>14,100</td><td></td><td></td></tr>
	<tr><td>4</td><td>MEDVEDEV Andrey</td><td>ISR</td><td>5,60</td><td>8,950</td><td>0,10</td><td>14,450</td><td>14,125</td></tr>
	<tr><td></td><td></td><td></td><td>6,00</td><td>7,900</td><td>0,10</td><td>13,800</td><td></td><td></td></tr>
	<tr><td>5</td><td>SHEK Wai Hung</td><td>HKG</td><td>5,60</td><td>9,100</td><td>0,00</td><td>14,700</td><td>14,075</td></tr>
	<tr><td></td><td></td><td></td><td>5,60</td><td>8,150</td><td>0,30</td><td>13,450</td><td></td><td></td></tr>
	<tr><td>6</td><td>NIN REYES Audrys</td><td>DOM</td><td>6,00</td><td>7,650</td><td>0,30</td><td>13,350</td><td>13,900</td></tr>
	<tr><td></td><td></td><td></td><td>5,60</td><td>8,850</td><td>0,00</td><td>14,450</td><td></td><td></td></tr>
	<tr><td>7</td><td>ONDER Ahmet</td><td>TUR</td><td>5,20</td><td>8,000</td><td>0,00</td><td>13,200</td><td>13,850</td></tr>
	<tr><td></td><td></td><td></td><td>5,20</td><td>9,300</td><td>0,00</td><td>14,500</td><td></td><td></td></tr>
	<tr><td>8</td><td>DOLGOPYAT Artiom</td><td>ISR</td><td>5,60</td><td>7,600</td><td>0,30</td><td>12,900</td><td>13,450</td></tr>
	<tr><td></td><td></td><td></td><td>5,20</td><td>8,800</td><td>0,00</td><td>14,000</td><td></td><td></td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>
<h2 class="men"><a name="magpb"></a>Men Parallel Bars Final</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>DINH Phuong Thanh</td><td>VIE</td><td>6,20</td><td>8,750</td><td>0,00</td><td>14,950</td><td>14,950</td></tr>
	<tr><td>2</td><td>MUNTEAN Andrei Vasile </td><td>ROU</td><td>5,90</td><td>8,950</td><td>0,00</td><td>14,850</td><td>14,850</td></tr>
	<tr><td>3</td><td>LEVANTESI Matteo</td><td>ITA</td><td>5,90</td><td>8,500</td><td>0,00</td><td>14,400</td><td>14,400</td></tr>
	<tr><td>4</td><td>COLAK Ibrahim</td><td>TUR</td><td>5,80</td><td>8,550</td><td>0,00</td><td>14,350</td><td>14,350</td></tr>
	<tr><td>5</td><td>TAKEDA Kazuyuki</td><td>JPN</td><td>6,00</td><td>8,300</td><td>0,00</td><td>14,300</td><td>14,300</td></tr>
	<tr><td>6</td><td>MACCHINI Carlo</td><td>ITA</td><td>5,20</td><td>8,750</td><td>0,00</td><td>13,950</td><td>13,950</td></tr>
	<tr><td>7</td><td>PHILIPPE Mathias</td><td>FRA</td><td>5,20</td><td>7,750</td><td>0,00</td><td>12,950</td><td>12,950</td></tr>
	<tr><td>8</td><td>PATERSON Cory</td><td>CAN</td><td>5,50</td><td>7,450</td><td>0,00</td><td>12,950</td><td>12,950</td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>
<h2 class="men"><a name="maghb"></a>Men Horizontal Bar Final</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>SUGINO Takaaki</td><td>JPN</td><td>5,80</td><td>8,300</td><td>0,00</td><td>14,100</td><td>14,100</td></tr>
	<tr><td>2</td><td>NIN REYES Audrys</td><td>DOM</td><td>5,90</td><td>8,150</td><td>0,00</td><td>14,050</td><td>14,050</td></tr>
	<tr><td>3</td><td>POLATO Gustavo</td><td>BRA</td><td>5,70</td><td>8,200</td><td>0,00</td><td>13,900</td><td>13,900</td></tr>
	<tr><td>4</td><td>ZONDERLAND Epke</td><td>NED</td><td>5,90</td><td>7,950</td><td>0,00</td><td>13,850</td><td>13,850</td></tr>
	<tr><td>5</td><td>SAMILOGLU Umit</td><td>TUR</td><td>5,90</td><td>7,850</td><td>0,00</td><td>13,750</td><td>13,750</td></tr>
	<tr><td>6</td><td>TAKEDA Kazuyuki</td><td>JPN</td><td>5,70</td><td>7,500</td><td>0,00</td><td>13,200</td><td>13,200</td></tr>
	<tr><td>7</td><td>KRATTER Moreno</td><td>SUI</td><td>5,30</td><td>6,500</td><td>0,00</td><td>11,800</td><td>11,800</td></tr>
	<tr><td>8</td><td>HEGI Oliver</td><td>SUI</td><td>5,20</td><td>6,100</td><td>0,00</td><td>11,300</td><td>11,300</td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>
<h2 class="wom"><a name="wagvt"></a>Women Vault Final</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>STEINGRUBER Giulia</td><td>SUI</td><td>5,80</td><td>9,300</td><td>0,00</td><td>15,100</td><td>14,500</td></tr>
	<tr><td></td><td></td><td></td><td>4,60</td><td>9,300</td><td>0,00</td><td>13,900</td><td></td><td></td></tr>
	<tr><td>2</td><td>GOLGOTA Denisa</td><td>ROU</td><td>5,40</td><td>8,800</td><td>0,00</td><td>14,200</td><td>14,025</td></tr>
	<tr><td></td><td></td><td></td><td>4,80</td><td>9,050</td><td>0,00</td><td>13,850</td><td></td><td></td></tr>
	<tr><td>3</td><td>KYSSELEF TjaSa</td><td>SLO</td><td>4,80</td><td>9,050</td><td>0,00</td><td>13,850</td><td>13,750</td></tr>
	<tr><td></td><td></td><td></td><td>5,00</td><td>8,750</td><td>0,10</td><td>13,650</td><td></td><td></td></tr>
	<tr><td>4</td><td>NETZER Ofir</td><td>ISR</td><td>4,80</td><td>8,900</td><td>0,00</td><td>13,700</td><td>13,750</td></tr>
	<tr><td></td><td></td><td></td><td>4,80</td><td>9,000</td><td>0,00</td><td>13,800</td><td></td><td></td></tr>
	<tr><td>5</td><td>TKALCEC Tijana</td><td>CRO</td><td>4,60</td><td>9,050</td><td>0,00</td><td>13,650</td><td>13,675</td></tr>
	<tr><td></td><td></td><td></td><td>4,60</td><td>9,100</td><td>0,00</td><td>13,700</td><td></td><td></td></tr>
	<tr><td>6</td><td>PENA ABREU Yamilet</td><td>DOM</td><td>5,40</td><td>8,800</td><td>0,30</td><td>13,900</td><td>13,600</td></tr>
	<tr><td></td><td></td><td></td><td>4,60</td><td>8,700</td><td>0,00</td><td>13,300</td><td></td><td></td></tr>
	<tr><td>7</td><td>PETER Sara</td><td>HUN</td><td>4,60</td><td>9,150</td><td>0,00</td><td>13,750</td><td>13,550</td></tr>
	<tr><td></td><td></td><td></td><td>4,20</td><td>9,150</td><td>0,00</td><td>13,350</td><td></td><td></td></tr>
	<tr><td>8</td><td>IRFANALUTHFI Rifda</td><td>INA</td><td>4,60</td><td>7,500</td><td>0,30</td><td>11,800</td><td>12,650</td></tr>
	<tr><td></td><td></td><td></td><td>4,60</td><td>8,900</td><td>0,00</td><td>13,500</td><td></td><td></td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>
<h2 class="wom"><a name="wagub"></a>Women Uneven Bars Final</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>MOKOSOVA Barbora</td><td>SVK</td><td>5,20</td><td>8,250</td><td>0,00</td><td>13,450</td><td>13,450</td></tr>
	<tr><td>2</td><td>VAN GERNER Celine</td><td>NED</td><td>5,00</td><td>8,400</td><td>0,00</td><td>13,400</td><td>13,400</td></tr>
	<tr><td>3</td><td>BOECZOEGO Dorina</td><td>HUN</td><td>5,00</td><td>7,750</td><td>0,00</td><td>12,750</td><td>12,750</td></tr>
	<tr><td>4</td><td>MUTLU Demet</td><td>TUR</td><td>4,60</td><td>7,600</td><td>0,00</td><td>12,200</td><td>12,200</td></tr>
	<tr><td>5</td><td>STEINGRUBER Giulia</td><td>SUI</td><td>5,10</td><td>7,050</td><td>0,00</td><td>12,150</td><td>12,150</td></tr>
	<tr><td>6</td><td>GOLGOTA Denisa</td><td>ROU</td><td>4,60</td><td>7,500</td><td>0,00</td><td>12,100</td><td>12,100</td></tr>
	<tr><td>7</td><td>HRIBAR Lucija</td><td>SLO</td><td>4,50</td><td>7,450</td><td>0,00</td><td>11,950</td><td>11,950</td></tr>
	<tr><td>8</td><td>MAKRA Noemi</td><td>HUN</td><td>4,90</td><td>6,450</td><td>0,00</td><td>11,350</td><td>11,350</td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>
<h2 class="wom"><a name="wagbb"></a>Women Beam Final</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>VAN GERNER Celine</td><td>NED</td><td>5,10</td><td>8,400</td><td>0,00</td><td>13,500</td><td>13,500</td></tr>
	<tr><td>2</td><td>STEINGRUBER Giulia</td><td>SUI</td><td>5,30</td><td>8,150</td><td>0,00</td><td>13,450</td><td>13,450</td></tr>
	<tr><td>3</td><td>GOLGOTA Denisa</td><td>ROU</td><td>5,40</td><td>7,850</td><td>0,00</td><td>13,250</td><td>13,250</td></tr>
	<tr><td>4</td><td>MOKOSOVA Barbora</td><td>SVK</td><td>4,70</td><td>8,450</td><td>0,00</td><td>13,150</td><td>13,150</td></tr>
	<tr><td>5</td><td>UCTAS SANLI Goksu</td><td>TUR</td><td>5,30</td><td>7,750</td><td>0,00</td><td>13,050</td><td>13,050</td></tr>
	<tr><td>6</td><td>IRFANALUTHFI Rifda</td><td>INA</td><td>5,10</td><td>7,650</td><td>0,00</td><td>12,750</td><td>12,750</td></tr>
	<tr><td>7</td><td>NG Yan Yin</td><td>HKG</td><td>4,80</td><td>7,700</td><td>0,00</td><td>12,500</td><td>12,500</td></tr>
	<tr><td>8</td><td>PETER Sara</td><td>HUN</td><td>5,00</td><td>7,100</td><td>0,00</td><td>12,100</td><td>12,100</td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>
<h2 class="wom"><a name="wagfx"></a>Women Floor Exercise Final</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>STEINGRUBER Giulia</td><td>SUI</td><td>5,00</td><td>8,150</td><td>0,00</td><td>13,150</td><td>13,150</td></tr>
	<tr><td>2</td><td>GOLGOTA Denisa</td><td>ROU</td><td>5,40</td><td>7,500</td><td>0,00</td><td>12,900</td><td>12,900</td></tr>
	<tr><td>3</td><td>MOKOSOVA Barbora</td><td>SVK</td><td>4,60</td><td>8,050</td><td>0,00</td><td>12,650</td><td>12,650</td></tr>
	<tr><td>4</td><td>IRFANALUTHFI Rifda</td><td>INA</td><td>4,80</td><td>7,750</td><td>0,00</td><td>12,550</td><td>12,550</td></tr>
	<tr><td>5</td><td>KYSSELEF TjaSa</td><td>SLO</td><td>4,30</td><td>8,100</td><td>0,00</td><td>12,400</td><td>12,400</td></tr>
	<tr><td>6</td><td>BOECZOEGO Dorina</td><td>HUN</td><td>4,80</td><td>7,400</td><td>0,10</td><td>12,100</td><td>12,100</td></tr>
	<tr><td>7</td><td>PETER Sara</td><td>HUN</td><td>4,70</td><td>7,200</td><td>0,10</td><td>11,800</td><td>11,800</td></tr>
	<tr><td>8</td><td>YILMAZ Tutya</td><td>TUR</td><td>4,40</td><td>7,350</td><td>0,00</td><td>11,750</td><td>11,750</td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>
<h2 class="men"><a name="magfxq"></a>Men Floor Exercise Qualification</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>SATO Takumi</td><td>JPN</td><td>6,10</td><td>8,800</td><td>0,00</td><td> 14,900</td><td>14,900</td></tr>
	<tr><td>2</td><td>DOLGOPYAT Artiom</td><td>ISR</td><td>6,60</td><td>8,250</td><td>0,10</td><td>14,750</td><td>14,750</td></tr>
	<tr><td>3</td><td>GISCHARD Benjamin</td><td>SUI</td><td>6,10</td><td>8,150</td><td>0,00</td><td>14,250</td><td>14,250</td></tr>
	<tr><td>4</td><td>BONCSER Kristian</td><td>HUN</td><td>5,60</td><td>8,600</td><td>0,00</td><td>14,200</td><td>14,200</td></tr>
	<tr><td>5</td><td>DEURLOO Bart</td><td>NED</td><td>5,80</td><td>8,200</td><td>0,00</td><td>14,000</td><td>14,000</td></tr>
	<tr><td>6</td><td>OLIVEIRA Renato</td><td>BRA</td><td>5,80</td><td>8,150</td><td>0,00</td><td>13,950</td><td>13,950</td></tr>
	<tr><td>7</td><td>SHATILOV Alexander</td><td>ISR</td><td>5,90</td><td>8,100</td><td>0,10</td><td>13,900</td><td>13,900</td></tr>
	<tr><td>8</td><td>KARDOS Botond</td><td>HUN</td><td>5,70</td><td>8,150</td><td>0,00</td><td>13,850</td><td>13,850</td></tr>
	<tr><td>9</td><td>ONDER Ahmet</td><td>TUR</td><td>5,80</td><td>8,050</td><td>0,00</td><td>13,850</td><td>13,850</td></tr>
	<tr><td>10</td><td>VEKKI Sakari</td><td>FIN</td><td>5,30</td><td>8,500</td><td>0,00</td><td>13,800</td><td>13,800</td></tr>
	<tr><td>11</td><td>VERHOFSTAD Bram</td><td>NED</td><td>6,10</td><td>7,700</td><td>0,00</td><td>13,800</td><td>13,800</td></tr>
	<tr><td>12</td><td>TERBOVSEK Luka</td><td>SLO</td><td>5,60</td><td>8,150</td><td>0,00</td><td>13,750</td><td>13,750</td></tr>
	<tr><td>13</td><td>PHILIPPE Mathias</td><td>FRA</td><td>5,50</td><td>8,200</td><td>0,00</td><td>13,700</td><td>13,700</td></tr>
	<tr><td>14</td><td>SUGINO Takaaki</td><td>JPN</td><td>5,70</td><td>8,100</td><td>0,10</td><td>13,700</td><td>13,700</td></tr>
	<tr><td>15</td><td>YUDENKOV Yevgen</td><td>UKR</td><td>5,60</td><td>8,150</td><td>0,10</td><td>13,650</td><td>13,650</td></tr>
	<tr><td>16</td><td>ARICAN Ferhat</td><td>TUR</td><td>5,60</td><td>8,050</td><td>0,00</td><td>13,650</td><td>13,650</td></tr>
	<tr><td>17</td><td>LEVANTESI Matteo</td><td>ITA</td><td>5,30</td><td>8,250</td><td>0,10</td><td>13,450</td><td>13,450</td></tr>
	<tr><td>18</td><td>SHKLIARENKO Roman</td><td>UKR</td><td>5,10</td><td>8,300</td><td>0,00</td><td>13,400</td><td>13,400</td></tr>
	<tr><td>19</td><td>AL-HMOOD Majdi</td><td>JOR</td><td>5,30</td><td>8,100</td><td>0,00</td><td>13,400</td><td>13,400</td></tr>
	<tr><td>20</td><td>WIBYE Harald</td><td>NOR</td><td>5,40</td><td>8,050</td><td>0,10</td><td>13,350</td><td>13,350</td></tr>
	<tr><td>21</td><td>SORAVUO Emil</td><td>FIN</td><td>5,50</td><td>7,900</td><td>0,30</td><td>13,100</td><td>13,100</td></tr>
	<tr><td>22</td><td>PATERSON Cory</td><td>CAN</td><td>5,20</td><td>7,800</td><td>0,00</td><td>13,000</td><td>13,000</td></tr>
	<tr><td>23</td><td>KIM Vyacheslav</td><td>KAZ</td><td>5,30</td><td>7,900</td><td>0,30</td><td>12,900</td><td>12,900</td></tr>
	<tr><td>24</td><td>LUNGUL Andrey</td><td>KAZ</td><td>5,80</td><td>7,400</td><td>0,40</td><td>12,800</td><td>12,800</td></tr>
	<tr><td>25</td><td>BALDURSSON Eythor</td><td>ISL</td><td>4,70</td><td>7,550</td><td>0,00</td><td>12,250</td><td>12,250</td></tr>
	<tr><td>26</td><td>JOHNSEN Fredrik</td><td>NOR</td><td>5,10</td><td>7,100</td><td>0,00</td><td>12,200</td><td>12,200</td></tr>
	<tr><td>27</td><td>DINH Phuong Thanh</td><td>VIE</td><td>4,80</td><td>7,350</td><td>0,00</td><td>12,150</td><td>12,150</td></tr>
	<tr><td>28</td><td>CSUKASSY Mathieu</td><td>CAN</td><td>5,60</td><td>6,450</td><td>0,00</td><td>12,050</td><td>12,050</td></tr>
	<tr><td>29</td><td>SERHANI Samir</td><td>SUI</td><td>5,70</td><td>6,150</td><td>0,00</td><td>11,850</td><td>11,850</td></tr>
	<tr><td>30</td><td>LE Thanh Tung</td><td>VIE</td><td>5,20</td><td>6,450</td><td>0,00</td><td>11,650</td><td>11,650</td></tr>
	<tr><td>31</td><td>KONSTANTINIDIS Christoforos</td><td>GRE</td><td>5,60</td><td>6,350</td><td>0,30</td><td>11,650</td><td>11,650</td></tr>
	<tr><td>32</td><td>NIN REYES Audrys</td><td>DOM</td><td>5,80</td><td>5,850</td><td>0,10</td><td>11,550</td><td>11,550</td></tr>
	<tr><td>33</td><td>WEINGERL Jure</td><td>SLO</td><td>5,00</td><td>6,450</td><td>0,00</td><td>11,450</td><td>11,450</td></tr>
	<tr><td>34</td><td>BARBOSA Gabriel</td><td>BRA</td><td>5,70</td><td>5,750</td><td>0,00</td><td>11,450</td><td>11,450</td></tr>
	<tr><td>35</td><td>MICHNAK Slavomir</td><td>SVK</td><td>4,10</td><td>7,550</td><td>0,40</td><td>11,250</td><td>11,250</td></tr>
	<tr><td>36</td><td>KOTRONG Adelin</td><td>ROU</td><td>5,20</td><td>4,600</td><td>0,30</td><td>9,500</td><td>9,500</td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>
<h2 class="men"><a name="magphq"></a>Men Pommel Horse Qualification</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>SUGINO Takaaki</td><td>JPN</td><td>6,30</td><td>8,500</td><td>0,00</td><td>14,800</td><td>14,800</td></tr>
	<tr><td>2</td><td>KAMEYAMA Kohei</td><td>JPN</td><td>6,30</td><td>8,100</td><td>0,00</td><td>14,400</td><td>14,400</td></tr>
	<tr><td>3</td><td>ABU AL SOUD Ahmad</td><td>JOR</td><td>5,80</td><td>8,350</td><td>0,00</td><td>14,150</td><td>14,150</td></tr>
	<tr><td>4</td><td>MICHNAK Slavomir</td><td>SVK</td><td>5,50</td><td>8,500</td><td>0,00</td><td>14,000</td><td>14,000</td></tr>
	<tr><td>5</td><td>SIENICHKIN Andrii</td><td>UKR</td><td>5,50</td><td>8,350</td><td>0,00</td><td>13,850</td><td>13,850</td></tr>
	<tr><td>6</td><td>BERTONCELJ SaSo</td><td>SLO</td><td>5,80</td><td>7,750</td><td>0,00</td><td>13,550</td><td>13,550</td></tr>
	<tr><td>7</td><td>KALLAI Zoltan</td><td>HUN</td><td>5,90</td><td>7,650</td><td>0,00</td><td>13,550</td><td>13,550</td></tr>
	<tr><td>8</td><td>KURBANOV Nariman</td><td>KAZ</td><td>6,30</td><td>7,150</td><td>0,00</td><td>13,450</td><td>13,450</td></tr>
	<tr><td>9</td><td>MACCHINI Carlo</td><td>ITA</td><td>5,20</td><td>8,100</td><td>0,00</td><td>13,300</td><td>13,300</td></tr>
	<tr><td>10</td><td>TOMMASONE Cyril</td><td>FRA</td><td>5,80</td><td>7,450</td><td>0,00</td><td>13,250</td><td>13,250</td></tr>
	<tr><td>11</td><td>HEGI Oliver</td><td>SUI</td><td>5,60</td><td>7,400</td><td>0,00</td><td>13,000</td><td>13,000</td></tr>
	<tr><td>12</td><td>SHATILOV Alexander</td><td>ISR</td><td>4,90</td><td>8,050</td><td>0,00</td><td>12,950</td><td>12,950</td></tr>
	<tr><td>13</td><td>YUDENKOV Yevgen</td><td>UKR</td><td>5,50</td><td>7,300</td><td>0,00</td><td>12,800</td><td>12,800</td></tr>
	<tr><td>14</td><td>DYRMISHI Xheni</td><td>AUT</td><td>5,10</td><td>7,300</td><td>0,00</td><td>12,400</td><td>12,400</td></tr>
	<tr><td>15</td><td>BARON Matija</td><td>CRO</td><td>5,80</td><td>6,550</td><td>0,00</td><td>12,350</td><td>12,350</td></tr>
	<tr><td>16</td><td>DINH Phuong Thanh</td><td>VIE</td><td>4,60</td><td>7,650</td><td>0,00</td><td>12,250</td><td>12,250</td></tr>
	<tr><td>17</td><td>GISCHARD Benjamin</td><td>SUI</td><td>5,70</td><td>6,500</td><td>0,00</td><td>12,200</td><td>12,200</td></tr>
	<tr><td>18</td><td>PRPIC Renato</td><td>CRO</td><td>5,70</td><td>6,500</td><td>0,00</td><td>12,200</td><td>12,200</td></tr>
	<tr><td>19</td><td>PHAN Ngoc Hung</td><td>VIE</td><td>4,70</td><td>7,450</td><td>0,00</td><td>12,150</td><td>12,150</td></tr>
	<tr><td>20</td><td>ARICAN Ferhat</td><td>TUR</td><td>5,90</td><td>6,200</td><td>0,00</td><td>12,100</td><td>12,100</td></tr>
	<tr><td>21</td><td>KISEK Luka</td><td>SLO</td><td>5,20</td><td>6,700</td><td>0,00</td><td>11,900</td><td>11,900</td></tr>
	<tr><td>22</td><td>YILMAZ Hamza</td><td>TUR</td><td>4,70</td><td>7,150</td><td>0,00</td><td>11,850</td><td>11,850</td></tr>
	<tr><td>23</td><td>KAILIDIS Charalampos  </td><td>GRE</td><td>5,50</td><td>6,000</td><td>0,00</td><td>11,500</td><td>11,500</td></tr>
	<tr><td>24</td><td>LOUWIJE Bram</td><td>NED</td><td>5,70</td><td>5,800</td><td>0,00</td><td>11,500</td><td>11,500</td></tr>
	<tr><td>25</td><td>POLATO Gustavo</td><td>BRA</td><td>4,90</td><td>6,550</td><td>0,00</td><td>11,450</td><td>11,450</td></tr>
	<tr><td>26</td><td>JOHNSEN Fredrik</td><td>NOR</td><td>4,60</td><td>6,750</td><td>0,00</td><td>11,350</td><td>11,350</td></tr>
	<tr><td>27</td><td>DEURLOO Bart</td><td>NED</td><td>5,20</td><td>6,150</td><td>0,00</td><td>11,350</td><td>11,350</td></tr>
	<tr><td>28</td><td>LEVANTESI Matteo</td><td>ITA</td><td>4,60</td><td>6,400</td><td>0,00</td><td>11,000</td><td>11,000</td></tr>
	<tr><td>29</td><td>CSUKASSY Mathieu</td><td>CAN</td><td>5,30</td><td>5,700</td><td>0,00</td><td>11,000</td><td>11,000</td></tr>
	<tr><td>30</td><td>KOSKI Elias</td><td>FIN</td><td>3,50</td><td>7,300</td><td>0,00</td><td>10,800</td><td>10,800</td></tr>
	<tr><td>31</td><td>BONCSER Kristian</td><td>HUN</td><td>4,20</td><td>6,450</td><td>0,00</td><td>10,650</td><td>10,650</td></tr>
	<tr><td>32</td><td>DOLGOPYAT Artiom</td><td>ISR</td><td>4,90</td><td>5,400</td><td>0,00</td><td>10,300</td><td>10,300</td></tr>
	<tr><td>33</td><td>MUNTEAN Andrei Vasile </td><td>ROU</td><td>4,80</td><td>5,050</td><td>0,00</td><td>9,850</td><td>9,850</td></tr>
	<tr><td>34</td><td>KOTRONG Adelin</td><td>ROU</td><td>4,70</td><td>4,700</td><td>0,00</td><td>9,400</td><td>9,400</td></tr>
	<tr><td>35</td><td>BLACKMAN MACHADO Vinicius</td><td>BRA</td><td>4,90</td><td>4,250</td><td>0,00</td><td>9,150</td><td>9,150</td></tr>
	<tr><td>36</td><td>PATERSON Cory</td><td>CAN</td><td>4,50</td><td>4,600</td><td>0,00</td><td>9,100</td><td>9,100</td></tr>
	<tr><td>37</td><td>TALSNES Vetle</td><td>NOR</td><td>5,30</td><td>3,750</td><td>0,00</td><td>9,050</td><td>9,050</td></tr>
	<tr><td>38</td><td>JONASSON Arnthor</td><td>ISL</td><td>4,20</td><td>4,600</td><td>0,00</td><td>8,800</td><td>8,800</td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>
<h2 class="men"><a name="magsrq"></a>Men Rings Qualification</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>LODADIO Marco</td><td>ITA</td><td>6,30</td><td>8,550</td><td>0,00</td><td>14,850</td><td>14,850</td></tr>
	<tr><td>2</td><td>COLAK Ibrahim</td><td>TUR</td><td>6,20</td><td>8,600</td><td>0,00</td><td>14,800</td><td>14,800</td></tr>
	<tr><td>3</td><td>KONSTANTINIDIS Konstantinos</td><td>GRE</td><td>6,10</td><td>8,550</td><td>0,00</td><td>14,650</td><td>14,650</td></tr>
	<tr><td>4</td><td>MUNTEAN Andrei Vasile </td><td>ROU</td><td>6,10</td><td>8,300</td><td>0,00</td><td>14,400</td><td>14,400</td></tr>
	<tr><td>5</td><td>TAKEDA Kazuyuki</td><td>JPN</td><td>5,80</td><td>8,550</td><td>0,00</td><td>14,350</td><td>14,350</td></tr>
	<tr><td>6</td><td>YILMAZ Hamza</td><td>TUR</td><td>6,00</td><td>8,150</td><td>0,00</td><td>14,150</td><td>14,150</td></tr>
	<tr><td>7</td><td>SATO Takumi</td><td>JPN</td><td>5,70</td><td>8,200</td><td>0,00</td><td>13,900</td><td>13,900</td></tr>
	<tr><td>8</td><td>PHILIPPE Mathias</td><td>FRA</td><td>5,70</td><td>7,950</td><td>0,00</td><td>13,650</td><td>13,650</td></tr>
	<tr><td>9</td><td>PHAM Phuoc Hung</td><td>VIE</td><td>5,60</td><td>7,950</td><td>0,00</td><td>13,550</td><td>13,550</td></tr>
	<tr><td>10</td><td>BARBOSA Gabriel</td><td>BRA</td><td>5,30</td><td>8,000</td><td>0,00</td><td>13,300</td><td>13,300</td></tr>
	<tr><td>11</td><td>SERHANI Samir</td><td>SUI</td><td>5,60</td><td>7,650</td><td>0,00</td><td>13,250</td><td>13,250</td></tr>
	<tr><td>12</td><td>KONSTANTINIDIS Christoforos</td><td>GRE</td><td>5,30</td><td>7,800</td><td>0,00</td><td>13,100</td><td>13,100</td></tr>
	<tr><td>13</td><td>KOSKI Elias</td><td>FIN</td><td>4,60</td><td>8,300</td><td>0,00</td><td>12,900</td><td>12,900</td></tr>
	<tr><td>14</td><td>NG Kiu Chung</td><td>HKG</td><td>5,60</td><td>7,300</td><td>0,00</td><td>12,900</td><td>12,900</td></tr>
	<tr><td>15</td><td>YUDENKOV Yevgen</td><td>UKR</td><td>5,70</td><td>7,200</td><td>0,00</td><td>12,900</td><td>12,900</td></tr>
	<tr><td>16</td><td>JOHNSEN Fredrik</td><td>NOR</td><td>4,90</td><td>7,950</td><td>0,00</td><td>12,850</td><td>12,850</td></tr>
	<tr><td>17</td><td>OLIVEIRA Renato</td><td>BRA</td><td>5,00</td><td>7,750</td><td>0,00</td><td>12,750</td><td>12,750</td></tr>
	<tr><td>18</td><td>DANG Nam</td><td>VIE</td><td>5,90</td><td>6,700</td><td>0,00</td><td>12,600</td><td>12,600</td></tr>
	<tr><td>19</td><td>GISCHARD Benjamin</td><td>SUI</td><td>4,90</td><td>7,650</td><td>0,00</td><td>12,550</td><td>12,550</td></tr>
	<tr><td>20</td><td>KARDOS Botond</td><td>HUN</td><td>4,60</td><td>7,950</td><td>0,00</td><td>12,550</td><td>12,550</td></tr>
	<tr><td>21</td><td>BLETTERMAN Michel</td><td>NED</td><td>4,70</td><td>7,800</td><td>0,00</td><td>12,500</td><td>12,500</td></tr>
	<tr><td>22</td><td>CSUKASSY Mathieu</td><td>CAN</td><td>5,10</td><td>7,400</td><td>0,00</td><td>12,500</td><td>12,500</td></tr>
	<tr><td>23</td><td>ARIFIN Samsul</td><td>INA</td><td>5,30</td><td>7,150</td><td>0,00</td><td>12,450</td><td>12,450</td></tr>
	<tr><td>24</td><td>COTUNA Vlad Bogdan</td><td>ROU</td><td>5,60</td><td>6,600</td><td>0,00</td><td>12,200</td><td>12,200</td></tr>
	<tr><td>25</td><td>WIBYE Harald</td><td>NOR</td><td>4,10</td><td>7,750</td><td>0,00</td><td>11,850</td><td>11,850</td></tr>
	<tr><td>26</td><td>LUNGUL Andrey</td><td>KAZ</td><td>4,70</td><td>6,950</td><td>0,00</td><td>11,650</td><td>11,650</td></tr>
	<tr><td>27</td><td>POZOWSKI Jacek</td><td>POL</td><td>4,90</td><td>5,850</td><td>0,00</td><td>10,750</td><td>10,750</td></tr>
	<tr><td>28</td><td>BALDURSSON Eythor</td><td>ISL</td><td>3,80</td><td>6,850</td><td>0,00</td><td>10,650</td><td>10,650</td></tr>
	<tr><td>29</td><td>VECSERNYES David</td><td>HUN</td><td>2,10</td><td>6,700</td><td>4,30</td><td>4,500</td><td>4,500</td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>
<h2 class="men"><a name="magvtq"></a>Men Vault Qualification</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>MEDVEDEV Andrey</td><td>ISR</td><td>5,60</td><td>9,200</td><td>0,00</td><td>14,800</td><td>14,750</td></tr>
	<tr><td></td><td></td><td></td><td>5,60</td><td>9,100</td><td>0,00</td><td>14,700</td><td></td><td></td></tr>
	<tr><td>2</td><td>SATO Takumi</td><td>JPN</td><td>5,60</td><td>8,750</td><td>0,00</td><td>14,350</td><td>14,400</td></tr>
	<tr><td></td><td></td><td></td><td>5,20</td><td>9,250</td><td>0,00</td><td>14,450</td><td></td><td></td></tr>
	<tr><td>3</td><td>LE Thanh Tung</td><td>VIE</td><td>5,60</td><td>8,850</td><td>0,10</td><td>14,350</td><td>14,325</td></tr>
	<tr><td></td><td></td><td></td><td>5,20</td><td>9,100</td><td>0,00</td><td>14,300</td><td></td><td></td></tr>
	<tr><td>4</td><td>SHEK Wai Hung</td><td>HKG</td><td>5,60</td><td>9,100</td><td>0,00</td><td>14,700</td><td>14,300</td></tr>
	<tr><td></td><td></td><td></td><td>4,80</td><td>9,100</td><td>0,00</td><td>13,900</td><td></td><td></td></tr>
	<tr><td>5</td><td>NIN REYES Audrys</td><td>DOM</td><td>5,60</td><td>9,000</td><td>0,00</td><td>14,600</td><td>14,300</td></tr>
	<tr><td></td><td></td><td></td><td>5,20</td><td>8,800</td><td>0,00</td><td>14,000</td><td></td><td></td></tr>
	<tr><td>6</td><td>ONDER Ahmet</td><td>TUR</td><td>5,20</td><td>8,800</td><td>0,00</td><td>14,000</td><td>14,275</td></tr>
	<tr><td></td><td></td><td></td><td>5,20</td><td>9,350</td><td>0,00</td><td>14,550</td><td></td><td></td></tr>
	<tr><td>7</td><td>DOLGOPYAT Artiom</td><td>ISR</td><td>5,20</td><td>9,100</td><td>0,00</td><td>14,300</td><td>14,225</td></tr>
	<tr><td></td><td></td><td></td><td>5,20</td><td>9,050</td><td>0,10</td><td>14,150</td><td></td><td></td></tr>
	<tr><td>8</td><td>GISCHARD Benjamin</td><td>SUI</td><td>5,60</td><td>8,700</td><td>0,00</td><td>14,300</td><td>14,200</td></tr>
	<tr><td></td><td></td><td></td><td>5,20</td><td>8,900</td><td>0,00</td><td>14,100</td><td></td><td></td></tr>
	<tr><td>9</td><td>OLIVEIRA Renato</td><td>BRA</td><td>5,20</td><td>8,900</td><td>0,00</td><td>14,100</td><td>13,875</td></tr>
	<tr><td></td><td></td><td></td><td>4,80</td><td>8,850</td><td>0,00</td><td>13,650</td><td></td><td></td></tr>
	<tr><td>10</td><td>ARICAN Ferhat</td><td>TUR</td><td>5,20</td><td>8,600</td><td>0,10</td><td>13,700</td><td>13,875</td></tr>
	<tr><td></td><td></td><td></td><td>5,20</td><td>8,850</td><td>0,00</td><td>14,050</td><td></td><td></td></tr>
	<tr><td>11</td><td>JIM Man Hin</td><td>HKG</td><td>5,20</td><td>8,900</td><td>0,30</td><td>13,800</td><td>13,850</td></tr>
	<tr><td></td><td></td><td></td><td>4,80</td><td>9,100</td><td>0,00</td><td>13,900</td><td></td><td></td></tr>
	<tr><td>12</td><td>SORAVUO Emil</td><td>FIN</td><td>4,80</td><td>9,100</td><td>0,00</td><td>13,900</td><td>13,725</td></tr>
	<tr><td></td><td></td><td></td><td>4,40</td><td>9,150</td><td>0,00</td><td>13,550</td><td></td><td></td></tr>
	<tr><td>13</td><td>PRAYOKO Agus</td><td>INA</td><td>5,60</td><td>8,850</td><td>0,00</td><td>14,450</td><td>13,625</td></tr>
	<tr><td></td><td></td><td></td><td>5,20</td><td>7,700</td><td>0,10</td><td>12,800</td><td></td><td></td></tr>
	<tr><td>14</td><td>WIBYE Harald</td><td>NOR</td><td>4,80</td><td>8,700</td><td>0,10</td><td>13,400</td><td>13,400</td></tr>
	<tr><td></td><td></td><td></td><td>4,40</td><td>9,000</td><td>0,00</td><td>13,400</td><td></td><td></td></tr>
	<tr><td>15</td><td>REINHARDSSON Valgard  </td><td>ISL</td><td>5,20</td><td>8,000</td><td>0,00</td><td>13,200</td><td>13,375</td></tr>
	<tr><td></td><td></td><td></td><td>5,20</td><td>8,650</td><td>0,30</td><td>13,550</td><td></td><td></td></tr>
	<tr><td>16</td><td>SHKLIARENKO Roman</td><td>UKR</td><td>4,80</td><td>8,850</td><td>0,00</td><td>13,650</td><td>13,325</td></tr>
	<tr><td></td><td></td><td></td><td>4,00</td><td>9,000</td><td>0,00</td><td>13,000</td><td></td><td></td></tr>
	<tr><td>17</td><td>YUDENKOV Yevgen</td><td>UKR</td><td>4,80</td><td>8,650</td><td>0,10</td><td>13,350</td><td>13,225</td></tr>
	<tr><td></td><td></td><td></td><td>4,00</td><td>9,100</td><td>0,00</td><td>13,100</td><td></td><td></td></tr>
	<tr><td>18</td><td>KARDOS Botond</td><td>HUN</td><td>5,20</td><td>9,150</td><td>0,00</td><td>14,350</td><td>13,200</td></tr>
	<tr><td></td><td></td><td></td><td>2,80</td><td>9,250</td><td>0,00</td><td>12,050</td><td></td><td></td></tr>
	<tr><td>19</td><td>BALDURSSON Eythor</td><td>ISL</td><td>4,40</td><td>8,900</td><td>0,00</td><td>13,300</td><td>13,000</td></tr>
	<tr><td></td><td></td><td></td><td>4,00</td><td>8,700</td><td>0,00</td><td>12,700</td><td></td><td></td></tr>
	<tr><td>20</td><td>LUNGUL Andrey</td><td>KAZ</td><td>5,20</td><td>8,100</td><td>0,00</td><td>13,300</td><td>12,950</td></tr>
	<tr><td></td><td></td><td></td><td>5,20</td><td>7,700</td><td>0,30</td><td>12,600</td><td></td><td></td></tr>
	<tr><td>21</td><td>KIM Vyacheslav</td><td>KAZ</td><td>4,80</td><td>8,950</td><td>0,10</td><td>13,650</td><td>12,350</td></tr>
	<tr><td></td><td></td><td></td><td>4,80</td><td>8,350</td><td>2,10</td><td>11,050</td><td></td><td></td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>
<h2 class="men"><a name="magpbq"></a>Men Parallel Bars Qualification</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>DINH Phuong Thanh</td><td>VIE</td><td>6,20</td><td>8,900</td><td>0,00</td><td>15,100</td><td>15,100</td></tr>
	<tr><td>2</td><td>MUNTEAN Andrei Vasile </td><td>ROU</td><td>5,90</td><td>8,800</td><td>0,00</td><td>14,700</td><td>14,700</td></tr>
	<tr><td>3</td><td>LEVANTESI Matteo</td><td>ITA</td><td>5,90</td><td>8,600</td><td>0,00</td><td>14,500</td><td>14,500</td></tr>
	<tr><td>4</td><td>COLAK Ibrahim</td><td>TUR</td><td>5,80</td><td>8,350</td><td>0,00</td><td>14,150</td><td>14,150</td></tr>
	<tr><td>5</td><td>MACCHINI Carlo</td><td>ITA</td><td>5,20</td><td>8,800</td><td>0,00</td><td>14,000</td><td>14,000</td></tr>
	<tr><td>6</td><td>PATERSON Cory</td><td>CAN</td><td>5,50</td><td>8,450</td><td>0,00</td><td>13,950</td><td>13,950</td></tr>
	<tr><td>7</td><td>PHILIPPE Mathias</td><td>FRA</td><td>5,60</td><td>8,250</td><td>0,00</td><td>13,850</td><td>13,850</td></tr>
	<tr><td>8</td><td>TAKEDA Kazuyuki</td><td>JPN</td><td>5,70</td><td>8,100</td><td>0,00</td><td>13,800</td><td>13,800</td></tr>
	<tr><td>9</td><td>HEGI Oliver</td><td>SUI</td><td>6,10</td><td>7,700</td><td>0,00</td><td>13,800</td><td>13,800</td></tr>
	<tr><td>10</td><td>LAMUT Andraž</td><td>SLO</td><td>4,90</td><td>8,800</td><td>0,00</td><td>13,700</td><td>13,700</td></tr>
	<tr><td>11</td><td>ONDER Ahmet</td><td>TUR</td><td>5,90</td><td>7,800</td><td>0,00</td><td>13,700</td><td>13,700</td></tr>
	<tr><td>12</td><td>PHAM Phuoc Hung</td><td>VIE</td><td>6,00</td><td>7,700</td><td>0,00</td><td>13,700</td><td>13,700</td></tr>
	<tr><td>13</td><td>KOSKI Elias</td><td>FIN</td><td>4,70</td><td>8,850</td><td>0,00</td><td>13,550</td><td>13,550</td></tr>
	<tr><td>14</td><td>YUDENKOV Yevgen</td><td>UKR</td><td>5,80</td><td>7,700</td><td>0,00</td><td>13,500</td><td>13,500</td></tr>
	<tr><td>15</td><td>REINHARDSSON Valgard  </td><td>ISL</td><td>4,90</td><td>8,450</td><td>0,00</td><td>13,350</td><td>13,350</td></tr>
	<tr><td>16</td><td>DIMIC Alen</td><td>SLO</td><td>5,50</td><td>7,850</td><td>0,00</td><td>13,350</td><td>13,350</td></tr>
	<tr><td>17</td><td>SOROKINE Michael</td><td>ISR</td><td>4,70</td><td>8,350</td><td>0,00</td><td>13,050</td><td>13,050</td></tr>
	<tr><td>18</td><td>COTUNA Vlad Bogdan</td><td>ROU</td><td>5,60</td><td>7,350</td><td>0,00</td><td>12,950</td><td>12,950</td></tr>
	<tr><td>19</td><td>KRATTER Moreno</td><td>SUI</td><td>5,40</td><td>7,450</td><td>0,00</td><td>12,850</td><td>12,850</td></tr>
	<tr><td>20</td><td>KORCHAK Ilan</td><td>ISR</td><td>5,00</td><td>7,700</td><td>0,00</td><td>12,700</td><td>12,700</td></tr>
	<tr><td>21</td><td>BLACKMAN MACHADO Vinicius</td><td>BRA</td><td>5,00</td><td>7,650</td><td>0,00</td><td>12,650</td><td>12,650</td></tr>
	<tr><td>22</td><td>JOHNSEN Fredrik</td><td>NOR</td><td>4,90</td><td>7,600</td><td>0,00</td><td>12,500</td><td>12,500</td></tr>
	<tr><td>23</td><td>CSUKASSY Mathieu</td><td>CAN</td><td>5,60</td><td>6,900</td><td>0,00</td><td>12,500</td><td>12,500</td></tr>
	<tr><td>24</td><td>NIN REYES Audrys</td><td>DOM</td><td>5,20</td><td>7,250</td><td>0,00</td><td>12,450</td><td>12,450</td></tr>
	<tr><td>25</td><td>KALLAI Zoltan</td><td>HUN</td><td>4,70</td><td>7,700</td><td>0,00</td><td>12,400</td><td>12,400</td></tr>
	<tr><td>26</td><td>BONCSER Kristian</td><td>HUN</td><td>4,10</td><td>7,550</td><td>0,00</td><td>11,650</td><td>11,650</td></tr>
	<tr><td>27</td><td>POLATO Gustavo</td><td>BRA</td><td>4,50</td><td>6,550</td><td>0,00</td><td>11,050</td><td>11,050</td></tr>
	<tr><td>28</td><td>WIBYE Harald</td><td>NOR</td><td>4,80</td><td>5,900</td><td>0,00</td><td>10,700</td><td>10,700</td></tr>
	<tr><td>29</td><td>BLETTERMAN Michel</td><td>NED</td><td>1,90</td><td>7,400</td><td>4,00</td><td>5,300</td><td>5,300</td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>
<h2 class="men"><a name="maghbq"></a>Men Horizontal Bar Qualification</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>TAKEDA Kazuyuki</td><td>JPN</td><td>5,60</td><td>8,500</td><td>0,00</td><td>14,100</td><td>14,100</td></tr>
	<tr><td>2</td><td>SUGINO Takaaki</td><td>JPN</td><td>5,80</td><td>8,150</td><td>0,00</td><td>13,950</td><td>13,950</td></tr>
	<tr><td>3</td><td>NIN REYES Audrys</td><td>DOM</td><td>6,10</td><td>7,800</td><td>0,00</td><td>13,900</td><td>13,900</td></tr>
	<tr><td>4</td><td>HEGI Oliver</td><td>SUI</td><td>5,80</td><td>7,900</td><td>0,00</td><td>13,700</td><td>13,700</td></tr>
	<tr><td>5</td><td>ZONDERLAND Epke</td><td>NED</td><td>5,60</td><td>8,000</td><td>0,00</td><td>13,600</td><td>13,600</td></tr>
	<tr><td>6</td><td>SAMILOGLU Umit</td><td>TUR</td><td>5,90</td><td>7,600</td><td>0,00</td><td>13,500</td><td>13,500</td></tr>
	<tr><td>7</td><td>POLATO Gustavo</td><td>BRA</td><td>5,60</td><td>7,800</td><td>0,00</td><td>13,400</td><td>13,400</td></tr>
	<tr><td>8</td><td>KRATTER Moreno</td><td>SUI</td><td>5,70</td><td>7,600</td><td>0,00</td><td>13,300</td><td>13,300</td></tr>
	<tr><td>9</td><td>PATERSON Cory</td><td>CAN</td><td>5,60</td><td>7,650</td><td>0,00</td><td>13,250</td><td>13,250</td></tr>
	<tr><td>10</td><td>DINH Phuong Thanh</td><td>VIE</td><td>5,30</td><td>7,650</td><td>0,00</td><td>12,950</td><td>12,950</td></tr>
	<tr><td>11</td><td>SHATILOV Alexander</td><td>ISR</td><td>5,10</td><td>7,800</td><td>0,00</td><td>12,900</td><td>12,900</td></tr>
	<tr><td>12</td><td>DEURLOO Bart</td><td>NED</td><td>6,10</td><td>6,800</td><td>0,00</td><td>12,900</td><td>12,900</td></tr>
	<tr><td>13</td><td>MUNTEAN Andrei Vasile </td><td>ROU</td><td>5,40</td><td>7,450</td><td>0,00</td><td>12,850</td><td>12,850</td></tr>
	<tr><td>14</td><td>VECSERNYES David</td><td>HUN</td><td>5,30</td><td>7,450</td><td>0,00</td><td>12,750</td><td>12,750</td></tr>
	<tr><td>15</td><td>COTUNA Vlad Bogdan</td><td>ROU</td><td>5,70</td><td>7,050</td><td>0,00</td><td>12,750</td><td>12,750</td></tr>
	<tr><td>16</td><td>LE Thanh Tung</td><td>VIE</td><td>5,30</td><td>7,150</td><td>0,00</td><td>12,450</td><td>12,450</td></tr>
	<tr><td>17</td><td>REINHARDSSON Valgard  </td><td>ISL</td><td>4,60</td><td>7,800</td><td>0,00</td><td>12,400</td><td>12,400</td></tr>
	<tr><td>18</td><td>DIMIC Alen</td><td>SLO</td><td>5,80</td><td>6,550</td><td>0,00</td><td>12,350</td><td>12,350</td></tr>
	<tr><td>19</td><td>KALLAI Zoltan</td><td>HUN</td><td>4,30</td><td>7,700</td><td>0,00</td><td>12,000</td><td>12,000</td></tr>
	<tr><td>20</td><td>ONDER Ahmet</td><td>TUR</td><td>5,30</td><td>6,700</td><td>0,00</td><td>12,000</td><td>12,000</td></tr>
	<tr><td>21</td><td>KAILIDIS Charalampos  </td><td>GRE</td><td>4,70</td><td>7,250</td><td>0,00</td><td>11,950</td><td>11,950</td></tr>
	<tr><td>22</td><td>PHILIPPE Mathias</td><td>FRA</td><td>5,30</td><td>6,450</td><td>0,00</td><td>11,750</td><td>11,750</td></tr>
	<tr><td>23</td><td>KIM Vyacheslav</td><td>KAZ</td><td>4,90</td><td>6,700</td><td>0,00</td><td>11,600</td><td>11,600</td></tr>
	<tr><td>24</td><td>OLIVEIRA Renato</td><td>BRA</td><td>4,90</td><td>6,650</td><td>0,00</td><td>11,550</td><td>11,550</td></tr>
	<tr><td>25</td><td>MACCHINI Carlo</td><td>ITA</td><td>5,90</td><td>5,650</td><td>0,00</td><td>11,550</td><td>11,550</td></tr>
	<tr><td>26</td><td>LEVANTESI Matteo</td><td>ITA</td><td>5,20</td><td>6,300</td><td>0,00</td><td>11,500</td><td>11,500</td></tr>
	<tr><td>27</td><td>SOROKINE Michael</td><td>ISR</td><td>4,60</td><td>6,400</td><td>0,00</td><td>11,000</td><td>11,000</td></tr>
	<tr><td>28</td><td>SHKLIARENKO Roman</td><td>UKR</td><td>5,20</td><td>5,650</td><td>0,00</td><td>10,850</td><td>10,850</td></tr>
	<tr><td>29</td><td>SASNAL Filip</td><td>POL</td><td>4,50</td><td>5,950</td><td>0,00</td><td>10,450</td><td>10,450</td></tr>
	<tr><td>30</td><td>WIBYE Harald</td><td>NOR</td><td>3,70</td><td>6,650</td><td>0,00</td><td>10,350</td><td>10,350</td></tr>
	<tr><td>31</td><td>KOSKI Elias</td><td>FIN</td><td>4,10</td><td>6,050</td><td>0,00</td><td>10,150</td><td>10,150</td></tr>
	<tr><td>32</td><td>TALSNES Vetle</td><td>NOR</td><td>4,30</td><td>5,550</td><td>0,00</td><td>9,850</td><td>9,850</td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>
<h2 class="wom"><a name="wagvtq"></a>Women Vault Qualification</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>GOLGOTA Denisa</td><td>ROU</td><td>5,40</td><td>8,950</td><td>0,00</td><td>14,350</td><td>13,850</td></tr>
	<tr><td></td><td></td><td></td><td>4,80</td><td>8,550</td><td>0,00</td><td>13,350</td><td></td><td></td></tr>
	<tr><td>2</td><td>PENA ABREU Yamilet</td><td>DOM</td><td>5,40</td><td>8,850</td><td>0,00</td><td>14,250</td><td>13,725</td></tr>
	<tr><td></td><td></td><td></td><td>4,60</td><td>8,700</td><td>0,10</td><td>13,200</td><td></td><td></td></tr>
	<tr><td>3</td><td>KYSSELEF TjaSa</td><td>SLO</td><td>4,80</td><td>9,000</td><td>0,00</td><td>13,800</td><td>13,700</td></tr>
	<tr><td></td><td></td><td></td><td>5,00</td><td>8,700</td><td>0,10</td><td>13,600</td><td></td><td></td></tr>
	<tr><td>4</td><td>NETZER Ofir</td><td>ISR</td><td>4,80</td><td>8,850</td><td>0,00</td><td>13,650</td><td>13,675</td></tr>
	<tr><td></td><td></td><td></td><td>4,80</td><td>8,900</td><td>0,00</td><td>13,700</td><td></td><td></td></tr>
	<tr><td>5</td><td>IRFANALUTHFI Rifda</td><td>INA</td><td>4,60</td><td>8,800</td><td>0,00</td><td>13,400</td><td>13,475</td></tr>
	<tr><td></td><td></td><td></td><td>4,60</td><td>8,950</td><td>0,00</td><td>13,550</td><td></td><td></td></tr>
	<tr><td>6</td><td>STEINGRUBER Giulia</td><td>SUI</td><td>4,00</td><td>9,000</td><td>0,00</td><td>13,000</td><td>13,400</td></tr>
	<tr><td></td><td></td><td></td><td>4,60</td><td>9,200</td><td>0,00</td><td>13,800</td><td></td><td></td></tr>
	<tr><td>7</td><td>PETER Sara</td><td>HUN</td><td>4,60</td><td>8,950</td><td>0,00</td><td>13,550</td><td>13,400</td></tr>
	<tr><td></td><td></td><td></td><td>4,20</td><td>9,050</td><td>0,00</td><td>13,250</td><td></td><td></td></tr>
	<tr><td>8</td><td>TKALCEC Tijana</td><td>CRO</td><td>4,60</td><td>8,800</td><td>0,00</td><td>13,400</td><td>13,400</td></tr>
	<tr><td></td><td></td><td></td><td>4,60</td><td>8,800</td><td>0,00</td><td>13,400</td><td></td><td></td></tr>
	<tr><td>9</td><td>TRAN Doan Quynh Nam</td><td>VIE</td><td>4,60</td><td>8,900</td><td>0,00</td><td>13,500</td><td>13,175</td></tr>
	<tr><td></td><td></td><td></td><td>4,20</td><td>8,650</td><td>0,00</td><td>12,850</td><td></td><td></td></tr>
	<tr><td>10</td><td>KAJIC Ema</td><td>CRO</td><td>4,60</td><td>8,650</td><td>0,00</td><td>13,250</td><td>13,125</td></tr>
	<tr><td></td><td></td><td></td><td>4,40</td><td>8,600</td><td>0,00</td><td>13,000</td><td></td><td></td></tr>
	<tr><td>11</td><td>CSASZTVAN Lilla</td><td>HUN</td><td>4,60</td><td>8,750</td><td>0,00</td><td>13,350</td><td>12,925</td></tr>
	<tr><td></td><td></td><td></td><td>3,70</td><td>8,800</td><td>0,00</td><td>12,500</td><td></td><td></td></tr>
	<tr><td>12</td><td>UCTAS SANLI Goksu</td><td>TUR</td><td>4,10</td><td>8,350</td><td>0,10</td><td>12,350</td><td>12,775</td></tr>
	<tr><td></td><td></td><td></td><td>4,60</td><td>8,600</td><td>0,00</td><td>13,200</td><td></td><td></td></tr>
	<tr><td>13</td><td>SOEDERSTROEM Julie</td><td>NOR</td><td>4,00</td><td>8,700</td><td>0,00</td><td>12,700</td><td>12,650</td></tr>
	<tr><td></td><td></td><td></td><td>3,70</td><td>8,900</td><td>0,00</td><td>12,600</td><td></td><td></td></tr>
	<tr><td>14</td><td>SAHIN Ilajda</td><td>TUR</td><td>4,00</td><td>8,700</td><td>0,10</td><td>12,600</td><td>12,600</td></tr>
	<tr><td></td><td></td><td></td><td>4,00</td><td>8,600</td><td>0,00</td><td>12,600</td><td></td><td></td></tr>
	<tr><td></td><td>FINSTAD Linn</td><td>NOR</td><td>4,00</td><td>8,950</td><td>0,00</td><td>12,950</td><td>DNF</td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td>DNS</td><td></td><td></td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>
<h2 class="wom"><a name="wagubq"></a>Women Uneven Bars Qualification</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>MOKOSOVA Barbora</td><td>SVK</td><td>5,20</td><td>8,300</td><td>0,00</td><td>13,500</td><td>13,500</td></tr>
	<tr><td>2</td><td>VAN GERNER Celine</td><td>NED</td><td>5,00</td><td>8,300</td><td>0,00</td><td>13,300</td><td>13,300</td></tr>
	<tr><td>3</td><td>BOECZOEGO Dorina</td><td>HUN</td><td>4,90</td><td>8,100</td><td>0,00</td><td>13,000</td><td>13,000</td></tr>
	<tr><td>4</td><td>MAKRA Noemi</td><td>HUN</td><td>5,00</td><td>7,550</td><td>0,00</td><td>12,550</td><td>12,550</td></tr>
	<tr><td>5</td><td>MUTLU Demet</td><td>TUR</td><td>4,60</td><td>7,700</td><td>0,00</td><td>12,300</td><td>12,300</td></tr>
	<tr><td>6</td><td>STEINGRUBER Giulia</td><td>SUI</td><td>5,10</td><td>7,150</td><td>0,00</td><td>12,250</td><td>12,250</td></tr>
	<tr><td>7</td><td>CRISAN Ioana</td><td>ROU</td><td>5,30</td><td>6,800</td><td>0,00</td><td>12,100</td><td>12,100</td></tr>
	<tr><td>8</td><td>GOLGOTA Denisa</td><td>ROU</td><td>4,60</td><td>7,350</td><td>0,00</td><td>11,950</td><td>11,950</td></tr>
	<tr><td>9</td><td>HRIBAR Lucija</td><td>SLO</td><td>4,50</td><td>6,600</td><td>0,00</td><td>11,100</td><td>11,100</td></tr>
	<tr><td>10</td><td>NETZER Ofir</td><td>ISR</td><td>4,40</td><td>6,550</td><td>0,00</td><td>10,950</td><td>10,950</td></tr>
	<tr><td>11</td><td>MEIER Leonie</td><td>SUI</td><td>4,00</td><td>6,900</td><td>0,00</td><td>10,900</td><td>10,900</td></tr>
	<tr><td>12</td><td>DO Thi Ngoc Huong</td><td>VIE</td><td>4,00</td><td>6,450</td><td>0,00</td><td>10,450</td><td>10,450</td></tr>
	<tr><td>13</td><td>YILMAZ Tutya</td><td>TUR</td><td>4,50</td><td>5,750</td><td>0,00</td><td>10,250</td><td>10,250</td></tr>
	<tr><td>14</td><td>NGUYEN Tienna Katelyn </td><td>VIE</td><td>2,80</td><td>7,250</td><td>0,00</td><td>10,050</td><td>10,050</td></tr>
	<tr><td>15</td><td>SOEDERSTROEM Julie</td><td>NOR</td><td>4,00</td><td>6,050</td><td>0,00</td><td>10,050</td><td>10,050</td></tr>
	<tr><td>16</td><td>FINSTAD Linn</td><td>NOR</td><td>2,80</td><td>6,250</td><td>0,00</td><td>9,050</td><td>9,050</td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>
<h2 class="wom"><a name="wagbbq"></a>Women Beam Qualification</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>VAN GERNER Celine</td><td>NED</td><td>5,10</td><td>8,600</td><td>0,00</td><td>13,700</td><td>13,700</td></tr>
	<tr><td>2</td><td>STEINGRUBER Giulia</td><td>SUI</td><td>5,20</td><td>7,850</td><td>0,00</td><td>13,050</td><td>13,050</td></tr>
	<tr><td>3</td><td>MOKOSOVA Barbora</td><td>SVK</td><td>4,80</td><td>8,150</td><td>0,00</td><td>12,950</td><td>12,950</td></tr>
	<tr><td>4</td><td>UCTAS SANLI Goksu</td><td>TUR</td><td>5,20</td><td>7,500</td><td>0,00</td><td>12,700</td><td>12,700</td></tr>
	<tr><td>5</td><td>GOLGOTA Denisa</td><td>ROU</td><td>5,30</td><td>7,400</td><td>0,00</td><td>12,700</td><td>12,700</td></tr>
	<tr><td>6</td><td>PETER Sara</td><td>HUN</td><td>5,10</td><td>7,550</td><td>0,00</td><td>12,650</td><td>12,650</td></tr>
	<tr><td>7</td><td>NG Yan Yin</td><td>HKG</td><td>4,80</td><td>7,750</td><td>0,00</td><td>12,550</td><td>12,550</td></tr>
	<tr><td>8</td><td>IRFANALUTHFI Rifda</td><td>INA</td><td>5,10</td><td>7,400</td><td>0,00</td><td>12,500</td><td>12,500</td></tr>
	<tr><td>9</td><td>MEIER Leonie</td><td>SUI</td><td>5,00</td><td>7,350</td><td>0,00</td><td>12,350</td><td>12,350</td></tr>
	<tr><td>10</td><td>SAJN Adela</td><td>SLO</td><td>5,00</td><td>7,400</td><td>0,10</td><td>12,300</td><td>12,300</td></tr>
	<tr><td>11</td><td>YILMAZ Tutya</td><td>TUR</td><td>5,50</td><td>6,800</td><td>0,00</td><td>12,300</td><td>12,300</td></tr>
	<tr><td>12</td><td>FINSTAD Linn</td><td>NOR</td><td>4,80</td><td>7,250</td><td>0,00</td><td>12,050</td><td>12,050</td></tr>
	<tr><td>13</td><td>CRISAN Ioana</td><td>ROU</td><td>5,20</td><td>6,850</td><td>0,00</td><td>12,050</td><td>12,050</td></tr>
	<tr><td>14</td><td>KYSSELEF TjaSa</td><td>SLO</td><td>4,90</td><td>6,850</td><td>0,00</td><td>11,750</td><td>11,750</td></tr>
	<tr><td>15</td><td>ZWICKER Christina</td><td>CRO</td><td>4,70</td><td>6,800</td><td>0,00</td><td>11,500</td><td>11,500</td></tr>
	<tr><td>16</td><td>SOEDERSTROEM Julie</td><td>NOR</td><td>4,10</td><td>6,900</td><td>0,00</td><td>11,000</td><td>11,000</td></tr>
	<tr><td>17</td><td>TRAN Doan Quynh Nam</td><td>VIE</td><td>4,90</td><td>5,900</td><td>0,00</td><td>10,800</td><td>10,800</td></tr>
	<tr><td>18</td><td>MAKRA Noemi</td><td>HUN</td><td>5,10</td><td>5,400</td><td>0,00</td><td>10,500</td><td>10,500</td></tr>
	<tr><td>19</td><td>FURAC Petra</td><td>CRO</td><td>4,20</td><td>5,400</td><td>0,00</td><td>9,600</td><td>9,600</td></tr>
	<tr><td>20</td><td>ARMARTIANI .</td><td>INA</td><td>4,00</td><td>5,500</td><td>0,00</td><td>9,500</td><td>9,500</td></tr>
	<tr><td>21</td><td>PENA ABREU Yamilet</td><td>DOM</td><td>4,60</td><td>4,000</td><td>0,10</td><td>8,500</td><td>8,500</td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>
<h2 class="wom"><a name="wagfxq"></a>Women Floor Exercise Qualification</h2>
<div tabindex="0" class="table-scroll">
	<table class="table table-hover" style="width:100%"><thead><tr><th>R.</th><th>Name</th><th>NOC</th><th>D</th><th>E</th><th>Pen.</th><th>Score</th><th>Total</th></tr></thead><tbody>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	<tr><td>1</td><td>GOLGOTA Denisa</td><td>ROU</td><td>5,30</td><td>7,950</td><td>0,00</td><td>13,250</td><td>13,250</td></tr>
	<tr><td>2</td><td>STEINGRUBER Giulia</td><td>SUI</td><td>5,10</td><td>8,000</td><td>0,00</td><td>13,100</td><td>13,100</td></tr>
	<tr><td>3</td><td>PETER Sara</td><td>HUN</td><td>4,80</td><td>7,800</td><td>0,00</td><td>12,600</td><td>12,600</td></tr>
	<tr><td>4</td><td>IRFANALUTHFI Rifda</td><td>INA</td><td>4,80</td><td>7,750</td><td>0,00</td><td>12,550</td><td>12,550</td></tr>
	<tr><td>5</td><td>MOKOSOVA Barbora</td><td>SVK</td><td>4,70</td><td>7,750</td><td>0,00</td><td>12,450</td><td>12,450</td></tr>
	<tr><td>6</td><td>BOECZOEGO Dorina</td><td>HUN</td><td>4,90</td><td>7,800</td><td>0,30</td><td>12,400</td><td>12,400</td></tr>
	<tr><td>7</td><td>YILMAZ Tutya</td><td>TUR</td><td>4,70</td><td>7,550</td><td>0,00</td><td>12,250</td><td>12,250</td></tr>
	<tr><td>8</td><td>KYSSELEF TjaSa</td><td>SLO</td><td>4,30</td><td>7,850</td><td>0,00</td><td>12,150</td><td>12,150</td></tr>
	<tr><td>9</td><td>SOEDERSTROEM Julie</td><td>NOR</td><td>4,60</td><td>7,550</td><td>0,00</td><td>12,150</td><td>12,150</td></tr>
	<tr><td>10</td><td>NETZER Ofir</td><td>ISR</td><td>4,60</td><td>7,600</td><td>0,10</td><td>12,100</td><td>12,100</td></tr>
	<tr><td>11</td><td>HRIBAR Lucija</td><td>SLO</td><td>4,40</td><td>7,500</td><td>0,00</td><td>11,900</td><td>11,900</td></tr>
	<tr><td>12</td><td>ZWICKER Christina</td><td>CRO</td><td>4,50</td><td>7,350</td><td>0,00</td><td>11,850</td><td>11,850</td></tr>
	<tr><td>13</td><td>NGUYEN Tienna Katelyn </td><td>VIE</td><td>4,60</td><td>7,150</td><td>0,00</td><td>11,750</td><td>11,750</td></tr>
	<tr><td>14</td><td>TRAN Doan Quynh Nam</td><td>VIE</td><td>4,50</td><td>6,850</td><td>0,00</td><td>11,350</td><td>11,350</td></tr>
	<tr><td>15</td><td>UCTAS SANLI Goksu</td><td>TUR</td><td>4,40</td><td>6,750</td><td>0,30</td><td>10,850</td><td>10,850</td></tr>
	<tr><td>16</td><td>PENA ABREU Yamilet</td><td>DOM</td><td>4,20</td><td>6,650</td><td>0,00</td><td>10,850</td><td>10,850</td></tr>
	<tr><td>17</td><td>ARMARTIANI .</td><td>INA</td><td>4,20</td><td>6,350</td><td>0,00</td><td>10,550</td><td>10,550</td></tr>
	<tr><td>18</td><td>FINSTAD Linn</td><td>NOR</td><td>4,30</td><td>6,050</td><td>0,00</td><td>10,350</td><td>10,350</td></tr>
	<tr><td>19</td><td>ZABUKOVEC Judita HC</td><td>SLO</td><td>3,20</td><td>7,000</td><td>0,00</td><td>10,200</td><td>10,200</td></tr>
	<tr><td>20</td><td>MEIER Leonie</td><td>SUI</td><td>4,60</td><td>5,450</td><td>0,00</td><td>10,050</td><td>10,050</td></tr>
	<tr bgcolor="#000000"><td colspan="9 style="height:1px; padding:0px;"></td></tr>
	</tbody>
	</table>
</div>

