---
title: "2024 U.S. National Championships"
year: 2024
startdate: 2024-05-30
enddate: 2024-06-02
country: "USA"
category: "usa-nationals"
layout: results
---

{% include resultsheader.html title="2024 U.S. National Championships<br>Fort Worth, Texas | Dickies Arena<br>May 30 - June 2, 2024" %}

<img src="images/logo.webp" alt="2024 US Championships logo">

<h2 class="wom">Results Women Senior Day 2</h2>
	<a href="documents/wagsenaa.pdf" target="_blank" class="pdf">Results Women Senior All-Around</a><ul class="podium-list">
		<li>🥇Gold - Simone Biles</li>
		<li>🥈Silver - Skye Blakely</li>
		<li>🥉Bronze - Kayla DiCello</li>
	</ul>
	<br>
	<a href="documents/wagsenaf.pdf" target="_blank" class="pdf">Results Women Senior Events</a>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Simone Biles</li>
		<li><b>Uneven Bars</b> 🥇Gold - Simone Biles</li>
		<li><b>Beam</b> 🥇Gold - Simone Biles</li>
		<li><b>Floor Exercise</b> 🥇Gold - Simone Biles</li>
	</ul>
<h2 class="men">Results Men Senior Day 2</h2>
	<a href="documents/magsenaa.pdf" target="_blank" class="pdf">Results Men Senior All-Around</a>
	<ul class="podium-list">
		<li>🥇Gold - Brody Malone</li>
		<li>🥈Silver - Frederick Richard</li>
		<li>🥉Bronze - Khoi Young</li>
	</ul>
	<br>
	<a href="documents/magsenaf.pdf" target="_blank" class="pdf">Results Men Senior Events</a>
		<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Frederick Richard</li>
		<li><b>Pommel Horse</b> 🥇Gold - Stephen Nedoroscik</li>
		<li><b>Rings</b> 🥇Gold - Alex Diab</li>
		<li><b>Vault</b> 🥇Gold - Donnell Whittenburg</li>
		<li><b>Parallel Bars</b> 🥇Gold - Yul Moldauer</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Brody Malone</li>
	</ul>
<h2 class="wom">Results Women Junior Day 2</h2>
	<a href="documents/wagjunaa.pdf" target="_blank" class="pdf">Results Women Junior All-Around</a>
	<ul class="podium-list">
		<li>🥇Gold - Claire Pease</li>
		<li>🥈Silver - Gabrielle Hardie</li>
		<li>🥉Bronze - Addy Fulcher</li>
	</ul>
	<br>
	<a href="documents/wagjunaf.pdf" target="_blank" class="pdf">Results Women Junior Events</a>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Lavi Crain</li>
		<li><b>Uneven Bars</b> 🥇Gold - Claire Pease</li>
		<li><b>Beam</b> 🥇Gold - Claire Pease</li>
		<li><b>Floor Exercise</b> 🥇Gold - Harlow Buddendeck</li>
	</ul>
<h2 class="men">Results Men Junior Day 2</h2>
	<a href="documents/mag1718aa.pdf" target="_blank" class="pdf">Results Men 17 All-Around</a>
	<ul class="podium-list">
		<li>🥇Gold - Dante Reive</li>
		<li>🥈Silver - Justin Park</li>
		<li>🥉Bronze - Nartey Brady</li>
	</ul>
	<br>
	<a href="documents/mag1516aa.pdf" target="_blank" class="pdf">Results Men 16 All-Around</a>
	<ul class="podium-list">
		<li>🥇Gold - Maksim Kan</li>
		<li>🥈Silver - Hunter Simpson</li>
		<li>🥉Bronze - Troy Holman</li>
	</ul>
	<br>
	<a href="documents/mag1718af.pdf" target="_blank" class="pdf">Results Men 17 Events</a>	
	<a href="documents/mag1516af.pdf" target="_blank" class="pdf">Results Men 16 Events</a>	
<h2 class="wom">Results Women Senior Day 1</h2>
	<a href="documents/wagsend1.pdf" target="_blank" class="pdf">Results Women Senior Day 1</a>
<h2 class="wom">Results Women Junior Day 1</h2>
	<a href="documents/wagjund1.pdf" target="_blank" class="pdf">Results Women Junior Day 1</a>
<h2 class="men">Results Men Senior Day 1</h2>
	<a href="documents/magsend1.pdf" target="_blank" class="pdf">Results Men Senior Day 1</a>
<h2 class="men">Results Men Junior Day 1</h2>
<a href="documents/mag1718d1.pdf" target="_blank" class="pdf">Results Men 17 Day 1</a>
<a href="documents/mag1516d1.pdf" target="_blank" class="pdf">Results Men 16 Day 1</a>