---
title: "2023 European Artistic Gymnastics Championships Antalya"
year: 2023
startdate: 2023-04-11
enddate: 2023-04-16
country: "TUR"
category: "euros"
layout: results
---

{% include resultsheader.html title="2023 European Men&rsquo;s and Women&rsquo;s Artistic Gymnastics Championships<br>Antalya (TUR)<br>2023 April 11-16" %}

<img src="images/logo.png" width="300" alt="event logo">

<h2 class="men">Results Apparatus Finals Men Day 2</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Artur Davtyan (ARM)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Illia Kovtun (UKR)</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Tin Srbic (CRO)</li>
	</ul>
	<br>
	<a href="documents/magvtfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Vault</a>
	<a href="documents/magpbfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Parallel Bars</a>
	<a href="documents/maghbfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Horizontal Bar</a>

<h2 class="wom">Result Apparatus Finals Women Day 2</h2>
	<ul class="podium-list">
		<li><b>Beam</b> 🥇Gold - Sanne Wevers (NED)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Jessica Gadirova (GBR)</li>
	</ul>
	<br>
	<a href="documents/wagbbfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Beam</a>
	<a href="documents/wagfxfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Floor Exercise</a>

<h2 class="men">Results Apparatus Finals Men Day 1</h2>
	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Luke Whitehouse (GBR)</li>
		<li><b>Pommel Horse</b> 🥇Gold - Rhys McClenaghan (IRL))</li>
		<li><b>Rings</b> 🥇Gold - Adem Asil (TUR)</li>
	</ul>
	<br>
	<a href="documents/magfxfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Floor Exercise</a>
	<a href="documents/magphfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Pommel Horse</a>
	<a href="documents/magsrfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Rings</a>

<h2 class="wom">Result Apparatus Finals Women Day 1</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Coline Devillard (FRA)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Alice D'Amato (ITA)</li>
	</ul>
	<br>
	<a href="documents/wagvtfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Vault</a>
	<a href="documents/wagubfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Uneven Bars</a>

	<h2 class="wom">Results All-Around Final Women</h2>
	<ul class="podium-list">
		<li>🥇Gold - Jessica Gadirova (GBR)</li>
		<li>🥈Silver - Zsofia Kovacs (HUN)</li>
		<li>🥉Bronze - Alice D'Amato (ITA)</li>
	</ul>
	<br>
	<a href="documents/wagaafinal.pdf" target="_blank" class="pdf">All Around Final Women</a>
	<a href="documents/wagaasl.pdf" target="_blank" class="pdf">All Around Final Women - Start List</a>


<h2 class="men">Results All-Around Final Men</h2>
	<ul class="podium-list">
		<li>🥇Gold - Adem Asil (TUR)</li>
		<li>🥈Silver - Jake Jarman (GBR)</li>
		<li>🥉Bronze - Illia Kovtun (UKR)</li>
	</ul>
	<br>
	<a href="documents/magaafinal.pdf" target="_blank" class="pdf">All Around Final Men</a>
	<a href="documents/magaasl.pdf" target="_blank" class="pdf">All Around Final Men - Start List</a>

<h2 class="wom">Results Team Final Women</h2>
	<p>The team medals were determined by the qualification results.</p>
	<ul class="podium-list">
		<li>🥇Gold - Great Britain</li>
		<li>🥈Silver - Italy</li>
		<li>🥉Bronze - Netherlands</li>
	</ul>
	<br>
	<a href="documents/wagteamqual.pdf" target="_blank" class="pdf">Team Final Women</a>

<h2 class="men">Results Team Final Men</h2>
	<p>The team medals were determined by the qualification results.</p>
	<ul class="podium-list">
		<li>🥇Gold - Italy</li>
		<li>🥈Silver - Türkiye</li>
		<li>🥉Bronze - Great Britain</li>
	</ul>
	<br>
	<a href="documents/magteamqual.pdf" target="_blank" class="pdf">Team Final Men</a>

<h2 class="wom">Results Qualification Women</h2>
<a href="documents/wagteamqual.pdf" target="_blank" class="pdf">Team Qualification/Final Women</a>
	<a href="documents/wagaaqual.pdf" target="_blank" class="pdf">All Around Qualification Women</a>
	<a href="documents/wagvtqual.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagubqual.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagbbqual.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagfxqual.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>

<h2 class="men">Results Qualification Men</h2>
	<a href="documents/magteamqual.pdf" target="_blank" class="pdf">Team Qualification/Final Men</a>
	<a href="documents/magaaqual.pdf" target="_blank" class="pdf">All-Around Qualification Men</a>
	<a href="documents/magfxqual.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magphqual.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magsrqual.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magvtqual.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magpbqual.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/maghbqual.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>


<h2 class="men">Documents</h2>

	<a href="documents/wagsl.pdf" target="_blank" class="pdf">WAG Start List</a>
	<a href="documents/magsl.pdf" target="_blank" class="pdf">MAG Start List</a>
	<!-- <a href="documents/wagresultsbook.pdf" target="_blank" class="pdf">WAG Full Results Book</a>
	<a href="documents/magresultsbook.pdf" target="_blank" class="pdf">MAG Full Results Book</a> -->

