---
title: "33rd European Men's Championships Glasgow"
year: 2018
startdate: 2018-08-09
enddate: 2018-08-12
country: "GBR"
category: "euros"
layout: results
redirect_from: /euro/2018/men.html
---
	
{% include resultsheader.html title="33rd European Men&rsquo;s Artistic Gymnastics Championships<br>Glasgow (GBR)<br>2018 August 9-12" %}

<img src="images/logo.png" alt="33rd European Men&rsquo;s Artistic Gymnastics Championships Glasgow (GBR) 2018 August 9-12">
<!--AF Sen-->
<h2 class="men">Apparatus Final Men Senior August 12</h2>
	<a href="documents/mag/senaf1fx.pdf" target="_blank" class="pdf">Senior Floor Exercise Final Results</a>
	<a href="documents/mag/senaf2ph.pdf" target="_blank" class="pdf">Senior Pommel Horse Final Results</a>
	<a href="documents/mag/senaf3sr.pdf" target="_blank" class="pdf">Senior Rings Final Results</a>
	<a href="documents/mag/senaf4vt.pdf" target="_blank" class="pdf">Senior Vault Final Results</a>
	<a href="documents/mag/senaf5pb.pdf" target="_blank" class="pdf">Senior Parallel Bars Final Results</a>
	<a href="documents/mag/senaf6hb.pdf" target="_blank" class="pdf">Senior Horizontal Bar Final Results</a>
	<br>
	<a href="documents/mag/senafsl.pdf" target="_blank" class="pdf">Senior Apparatus Finals Start List</a>
<!--AF Jun-->
<h2 class="wom">Apparatus Final Men Junior August 12</h2>
	<a href="documents/mag/junaf1fx.pdf" target="_blank" class="pdf">Junior Floor Exercise Final Results</a>
	<a href="documents/mag/junaf2ph.pdf" target="_blank" class="pdf">Junior Pommel Horse Final Results</a>
	<a href="documents/mag/junaf3sr.pdf" target="_blank" class="pdf">Junior Rings Final Results</a>
	<a href="documents/mag/junaf4vt.pdf" target="_blank" class="pdf">Junior Vault Final Results</a>
	<a href="documents/mag/junaf5pb.pdf" target="_blank" class="pdf">Junior Parallel Bars Final Results</a>
	<a href="documents/mag/junaf6hb.pdf" target="_blank" class="pdf">Junior Horizontal Bar Final Results</a>
<!--TF Sen-->
<h2 class="men">Teams Final Men Senior August 11</h2>
	<a href="documents/mag/senteams.pdf" target="_blank" class="pdf">Senior Teams Finals Results</a>
	<a href="documents/mag/sentfsl.pdf" target="_blank" class="pdf">Senior Teams Finals Start List</a>
<!--Q Junn-->
<h2 class="wom">Qualification Men Junior August 10</h2>
	<a href="documents/mag/junteams.pdf" target="_blank" class="pdf">Junior Teams Results</a>
	<br>
	<a href="documents/mag/junq1fx.pdf" target="_blank" class="pdf">Junior Qualification results Floor Exercise</a>
	<a href="documents/mag/junq2ph.pdf" target="_blank" class="pdf">Junior Qualification results Pommel Horse</a>
	<a href="documents/mag/junq3sr.pdf" target="_blank" class="pdf">Junior Qualification results Rings</a>
	<a href="documents/mag/junq4vt.pdf" target="_blank" class="pdf">Junior Qualification results Vault</a>
	<a href="documents/mag/junq5pb.pdf" target="_blank" class="pdf">Junior Qualification results Parallel Bars</a>
	<a href="documents/mag/junq6hb.pdf" target="_blank" class="pdf">Junior Qualification results Horizontal Bar</a>
	<br>
	<a href="documents/mag/drawjun.pdf" target="_blank" class="pdf">Drawing of Lots Junior Qualification</a>
<!--Q Sen-->
<h2 class="men">Qualification Men Senior August 9</h2>
	<a href="documents/mag/senqteams.pdf" target="_blank" class="pdf">Senior Qualification Teams</a>
	<a href="documents/mag/senqteams2.pdf" target="_blank" class="pdf">Senior Qualification Teams 2</a>
	<br>
	<a href="documents/mag/senq1fx.pdf" target="_blank" class="pdf">Senior Qualification results Floor Exercise</a>
	<a href="documents/mag/senq2ph.pdf" target="_blank" class="pdf">Senior Qualification results Pommel Horse</a>
	<a href="documents/mag/senq3sr.pdf" target="_blank" class="pdf">Senior Qualification results Rings</a>
	<a href="documents/mag/senq4vt.pdf" target="_blank" class="pdf">Senior Qualification results Vault</a>
	<a href="documents/mag/senq5pb.pdf" target="_blank" class="pdf">Senior Qualification results Parallel Bars</a>
	<a href="documents/mag/senq6hb.pdf" target="_blank" class="pdf">Senior Qualification results Horizontal Bar</a>
	<br>
	<a href="documents/mag/senq2.pdf" target="_blank" class="pdf">Senior Qualification Intermediate results after subdivision 2</a>
	<a href="documents/mag/senq1.pdf" target="_blank" class="pdf">Senior Qualification Intermediate results after subdivision 1</a>
	<br>
	<a href="documents/mag/senqsl.pdf" target="_blank" class="pdf">Start List Senior Qualification</a>
	<a href="documents/mag/drawsen.pdf" target="_blank" class="pdf">Drawing of Lots Senior Qualification</a>
	<a href="documents/mag/schedule.pdf" target="_blank" class="pdf">Schedule</a>
<br>
<img src="images/ssehydro.jpg" alt="SSE Hydro Arena">
