---
layout: default
title: Gymnastics Results at the Olympics
redirect_from: /olympics.html
---

<div class="rounded event-header">
	<img src="/assets/images/logos/olympicrings.png">
	<h1>Gymnastics results at the Olympics</h1>
</div>

<div class="rounded">	
<h2>Pick an Olympic Games:</h2>

{% assign results = site.results | where: 'category', 'olympics' | where_exp: "result", "result.homepage != false" | sort: 'startdate' | reverse %}
{% for result in results %}
<div class="year-list-item"><a href="{{result.url}}">{{result.year}}</a></div>
{% endfor %}
</div>

<table width=100% style="border:solid 1px #000000;" cellpadding=0 cellspacing=0 bgcolor="#ffffff">
<colgroup span=1 width=25% valign=top style="padding-left:5px;">
<colgroup span=1 width=75%>
<tr><th colspan=2 align="center" bgcolor="#80coff" style="padding:5px;">
	Olympic Games - Artistic Gymnastics, Rhythmic Gymnastics, Trampoline</th></tr>
<tr bgcolor="#000000"><td colspan=2 style="height:1px; padding:0px;"></td></tr>

<tr class="one"><td colspan="2" style="text-align:justify; font-size:12px; padding:20px;">
<h4>Do You Know? - Olympic flag</h4>
The Olympic flag - one of the most recognisable symbols of the Olympic Games - is celebrating its centenary in 2014. 
<b>The flag was created for the Olympic Jubilee Congress in 1914 in Paris</b> in celebration of the 20th anniversary of the Olympic Movement.<br><br>
The interlocking rings were first drawn by Pierre de Coubertin - the founder of the modern Olympic Games - on a letter in July 1913. 
Soon after, the rings made their debut on the first Olympic flag, which was raised in Alexandria&rsquo;s Chatby stadium at a sporting event 
commemorating 20 years since the founding of the modern Olympic Games. That flag now hangs proudly in the newly renovated Olympic Museum in Lausanne.
</td></tr>
<tr bgcolor="#000000"><td colspan=2 style="height:1px; padding:0px;"></td></tr>

<!--2016-->
<tr class="two"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><br><a name="2016">2016 Aug 6 - 21</a><br><br></td>
	<td style="font-size:12px; vertical-align:top;"><br>Games of the XXXI Olympiad Rio De Janero<br>
	&nbsp;&loz; <a href="/olympics/2016/rio.html">Information and Schedule</a><br><br></td></tr>
<tr bgcolor="#000000"><td colspan=2 style="height:1px; padding:0px;"></td></tr>

<!--2014-->
<tr class="one"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><br><a name="2014">2014 Aug 16 - 28</a><br><br></td>
	<td style="font-size:12px; vertical-align:top;"><br>Youth Olympic Games Nanjing 2014. Nanjing (CHN)<br>
	&nbsp;&loz; <a href="/olympics/2014yog/nanjing.html">Schedule and Results</a><br><br></td></tr>
<tr bgcolor="#000000"><td colspan=2 style="height:1px; padding:0px;"></td></tr>
<!--2012-->
<tr class="two"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><br><a name="2012">2012 Jul 27 - Aug 12</a><br><br></td>
	<td style="font-size:12px; vertical-align:top;"><br>Games of the 29th Olympiad. London (GBR)<br>
	&nbsp;&loz; <a href="/olympics/2012/london.html">Schedule and Results</a><br><br>
	</td></tr>
<tr bgcolor="#000000"><td colspan=2 style="height:1px; padding:0px;"></td></tr>
<!--2010-->
<tr class="one"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><br><a name="2010">2010 Aug 14-26</a><br><br></td>
	<td style="font-size:12px; vertical-align:top;"><br>Youth Olympic Games Singapore 2010. Singapore (SIN)<br>
	&nbsp;&loz; <a href="/olympics/2010yog/singapore.html">Schedule and Results</a><br><br></td></tr>
<tr bgcolor="#000000"><td colspan=2 style="height:1px; padding:0px;"></td></tr>
<!--2008-->
<tr class="two"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="2008">2008 Aug 08 - 24</a></td>
	<td style="font-size:12px; vertical-align:top;" colspan=2>Games of the 29th Olympiad. Beijing (CHN)<br>
	<table width=95% align=center>
	<colgroup span=2 width=50% valign=top>
		<tr><td colspan="2">
			 &loz;&nbsp; <a href="/olympics/2008/beijing.html">Main Page Bejing Olympics</a></td></tr>
		<tr bgcolor="#99ccff"><td colspan=2></td></tr>
		<tr><td valign="top">
		 &loz;&nbsp; <a href="/olympics/2008/magteams.html">MAG Teams Final</a><br>
		 &loz;&nbsp; <a href="/olympics/2008/magaa.html">MAG All-Around Final</a><br>
		 &loz;&nbsp; <a href="/olympics/2008/magef.html">MAG Events Final</a>
		</td><td valign="top">
		 &loz;&nbsp; <a href="/olympics/2008/magteamsqual.html">MAG Teams Qualification</a><br>
		 &loz;&nbsp; <a href="/olympics/2008/magaaqual.html">MAG All-Around Qualification</a><br>
		 &loz;&nbsp; <a href="/olympics/2008/mageventsqual.html">MAG Events Qualification</a><br>
		</td></tr>
		<tr bgcolor="#99ccff"><td colspan=2></td></tr>
		<tr><td valign="top">
		 &loz;&nbsp; <a href="/olympics/2008/wagteams.html">WAG Teams Final</a><br>
		 &loz;&nbsp; <a href="/olympics/2008/wagaa.html">WAG All-Around Final</a><br>
		 &loz;&nbsp; <a href="/olympics/2008/wagef.html">WAG Events Final</a>
		</td><td valign="top">
		 &loz;&nbsp; <a href="/olympics/2008/wagteamsqual.html">WAG Teams Qualification</a><br>
		 &loz;&nbsp; <a href="/olympics/2008/wagaaqual.html">WAG All-Around Qualification</a><br>
		 &loz;&nbsp; <a href="2008/olympics2008wagefq.html">WAG Events Qualification</a>
		</td></tr>
		<tr bgcolor="#99ccff"><td colspan=2></td></tr>
		<tr><td valign="top">
		 &loz;&nbsp; <a href="2008/olympics2008tram.html">Trampoline Men Final</a><br>
		 &loz;&nbsp; <a href="2008/olympics2008traw.html">Trampoline Women Final</a>
		</td><td valign="top">
		 &loz;&nbsp; <a href="2008/olympics2008tramq.html">Trampoline Men Qualification</a><br>
		 &loz;&nbsp; <a href="2008/olympics2008trawq.html">Trampoline Women Qualification</a>
		</td></tr>
		<tr bgcolor="#99ccff"><td colspan=2></td></tr>
		<tr><td valign="top">
		 &loz;&nbsp; <a href="2008/olympics2008rg.html">Rhythmics All-Around Final</a><br>
		 &loz;&nbsp; <a href="2008/olympics2008rgg.html">Rhythmics Groups Final</a>
		</td><td valign="top">
		 &loz;&nbsp; <a href="2008/olympics2008rgq.html">Rhythmics AA Qualification</a><br>
		 &loz;&nbsp; <a href="2008/olympics2008rggq.html">Rhythmics Groups Qualification</a><br>
	</td></tr>
	</table>
</td></tr>
<tr bgcolor="#000000"><td colspan=2 style="height:1px; padding:0px;"></td></tr>
<tr class="one"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="2004">2004 Aug 13 - 19</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 28th Olympiad. Athens (GRE)<br>
	
	<table width=95% align=center>
	<colgroup span=2 width=50% valign=top>
		<tr><td valign="top">
		 &loz;&nbsp; <a href="/olympics/2004/magfinals.html">MAG Finals</a><br>
		 &loz;&nbsp; <a href="/olympics/2004/magqaa.html">MAG AA Qualification</a><br>
		 &loz;&nbsp; <a href="/olympics/2004/magqteams.html">MAG Teams Qualification</a><br>
		 &loz;&nbsp; <a href="/olympics/2004/magq1fx.html">MAG Floor Exercise Qualification</a><br>
		 &loz;&nbsp; <a href="/olympics/2004/magq2ph.html">MAG Pommel Horse Qualification</a><br>
		 &loz;&nbsp; <a href="/olympics/2004/magq3sr.html">MAG Rings Qualification</a><br>
		 &loz;&nbsp; <a href="/olympics/2004/magq4vt.html">MAG Vault Qualification</a><br>
		 &loz;&nbsp; <a href="/olympics/2004/magq5pb.html">MAG Parallel Bars Qualification</a><br>
		 &loz;&nbsp; <a href="/olympics/2004/magq6hb.html">MAG Horizontal Bar Qualification</a><br>
		</td><td valign="top">
		 &loz;&nbsp; <a href="/olympics/2004/wagfinals.html">WAG Finals</a><br>
		 &loz;&nbsp; <a href="/olympics/2004/wagqaa.html">WAG AA Qualification</a><br>
		 &loz;&nbsp; <a href="/olympics/2004/wagqteams.html">WAG Teams Qualification</a><br>
		 &loz;&nbsp; <a href="/olympics/2004/wagq1vt.html">MAG Vault Qualification</a><br>
		 &loz;&nbsp; <a href="/olympics/2004/wagq2ub.html">MAG Uneven Bars Qualification</a><br>
		 &loz;&nbsp; <a href="/olympics/2004/wagq3bb.html">MAG Beam Qualification</a><br>
		 &loz;&nbsp; <a href="/olympics/2004/wagq4fx.html">MAG Floor Exercise Qualification</a><br>
		</td></tr>
		<tr bgcolor="#99ccff"><td colspan=2></td></tr>
		<tr><td valign="top">
		 &loz;&nbsp; <a href="/olympics/2004/tra.html">Trampoline</a><br>
		</td><td valign="top">
		 &loz;&nbsp; <a href="/olympics/2004/rg.html">Rhythmic Gymnastics</a><br>
		</td></tr>
	</table>
</td></tr>
<tr bgcolor="#000000"><td colspan=2 style="height:1px; padding:0px;"></td></tr>
<tr class="two"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="2000">2000 Sep 15 - Oct 1</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 27th Olympiad. Sydney (AUS)<br>
	<table width=95% align=center>
		<tr><td>
		 &loz;&nbsp; <a href="/olympics/2000/mag.html">Artistic Gymnastics Men Final</a><br>
		 &loz;&nbsp; <a href="/olympics/2000/magqual.html">Artistic Gymnastics Men Individuals Qualification</a><br>
		 &loz;&nbsp; <a href="/olympics/2000/magqualteams.html">Artistic Gymnastics Men Teams Qualification</a></td></tr>
		 <tr bgcolor="#000000"><td style="height:1px; padding:0px;"></td></tr>
		<tr><td>
		 &loz;&nbsp; <a href="/olympics/2000/wag.html">Artistic Gymnastics Women Final</a><br>
		 &loz;&nbsp; <a href="/olympics/2000/wagqual.html">Artistic Gymnastics Women Individuals Qualification</a><br>
		 &loz;&nbsp; <a href="/olympics/2000/wagqualteams.html">Artistic Gymnastics Women Teams Qualification</a><br>
		 <tr bgcolor="#000000"><td style="height:1px; padding:0px;"></td></tr>
		<tr><td>
		 &loz;&nbsp; <a href="/olympics/2000/rg.html">Rhythmic Gymnastics</a><br>
		 &loz;&nbsp; <a href="/olympics/2000/tra.html">Trampoline</a><br>
	</td></tr>
	</table>
</td></tr>
<tr bgcolor="#000000"><td colspan=2 style="height:1px; padding:0px;"></td></tr>
<tr class="one"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1996">1996 Jul 19 - Aug 4</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 26th Olympiad. Atlanta (USA)<br>
	<table width=95% align=center>
	<colgroup span=2 width=50% valign=top>
		<tr><td>
		 &loz;&nbsp; <a href="/archive/olympics/og1996mag.html">Artistic Gymnastics Men Final</a><br>
		 &loz;&nbsp; <a href="/archive/olympics/og1996wag.html">Artistic Gymnastics Women Final</a><br>
		 &loz;&nbsp; <a href="/archive/olympics/og1996magqual.html">Artistic Gymnastics Men Qual</a><br>
		 &loz;&nbsp; <a href="/archive/olympics/og1996wagqual.html">Artistic Gymnastics Women Qual</a><br>
		</td><td valign="top">
		 &loz;&nbsp; <a href="/archive/olympics/og1996rg.html">Rhythmic Gymnastics</a>
	</td></tr>
	</table>
</td></tr>
<tr bgcolor="#000000"><td colspan=2 style="height:1px; padding:0px;"></td></tr>
<tr class="two"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1992">1992 Jul 25 - Aug 9</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 25th Olympiad. Barcelona (ESP)<br>
	<table width=95% align=center>
	<colgroup span=2 width=50% valign=top>
		<tr><td>
		 &loz;&nbsp; <a href="/archive/olympics/1992/mag.html">Artistic Gymnastics Men Final</a><br>
		 &loz;&nbsp; <a href="/archive/olympics/1992/magqaa.html">Artistic Gymnastics Men Qual</a><br>
		 &loz;&nbsp; <a href="/archive/olympics/1992/magteamsq.html">Artistic Gymnastics Men Teams Qual</a><br>
		 &loz;&nbsp; <a href="/archive/olympics/1992/wag.html">Artistic Gymnastics Women</a><br>
		 &loz;&nbsp; <a href="/archive/olympics/1992/wagqualind.html">Artistic Gymnastics Women Qual</a><br>
		</td><td valign="top">
		 &loz;&nbsp; <a href="/archive/olympics/1992/rg.html">Rhythmic Gymnastics</a>
	</td></tr>
	</table>
</td></tr>
<tr bgcolor="#000000"><td colspan=2 style="height:1px; padding:0px;"></td></tr>
<tr class="one"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1988">1988 Sep 17 - Oct 2</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 24th Olympiad. Seoul (KOR)<br>
	<table width=95% align=center>
	<colgroup span=2 width=50% valign=top>
		<tr><td>
		 &loz;&nbsp; <a href="/archive/olympics/1988/mag.html">Artistic Gymnastics Men</a><br>
		 &loz;&nbsp; <a href="/archive/olympics/1988/wag.html">Artistic Gymnastics Women</a>
		</td><td valign="top">
		 &loz;&nbsp; <a href="/archive/olympics/1988/rg.html">Rhythmic Gymnastics</a>
	</td></tr>
	</table>
</td></tr>
<tr bgcolor="#000000"><td colspan=2 style="height:1px; padding:0px;"></td></tr>
<tr class="two">
	<td style="padding-left:10px; font-size:12px; vertical-align:top;">
		<a name="1984">1984 Jul 28 - Aug 12</a></td>
		<td>Games of 23rd Olympiad. Los Angeles (USA)<br>
	 <div style="padding-left:20px;"><a href="/archive/80/o1984m.html">Men</a> &nbsp;&nbsp; <a href="/archive/80/o1984w.html">Women</a>
	&nbsp;&nbsp; <a href="/archive/80/o1984rh.html">Rhythmic</a></div></td></tr>
<tr class="one">
	<td style="padding-left:10px; font-size:12px; vertical-align:top;"
	<a name="1980">1980 Jul 19 - Aug 3</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 22nd Olympiad. Moscow (URS)<br>
		<div style="padding-left:20px;">
	<a href="/archive/olympics/og1980magaa.html">Men AA</a> &nbsp;&nbsp; <a href="/archive/olympics/og1980magteams.html">Men Teams</a> &nbsp;&nbsp; 
	<a href="/archive/olympics/og1980magef.html">Men Event Final</a> &nbsp;&nbsp; <a href="/archive/olympics/og1980magqaa.html">Men Qualification</a><br>
	<a href="/archive/olympics/og1980wagaa.html">Women AA</a> &nbsp;&nbsp; <a href="/archive/olympics/og1980wagteams.html">Women Teams</a> &nbsp;&nbsp; 
	<a href="/archive/olympics/og1980wagef.html">Women Event Final</a> &nbsp;&nbsp; <a href="/archive/olympics/og1980wagqaa.html">Women Qualification</a><br>
	 </div></td></tr>
<tr class="two"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1976">1976 Jul 17 - Aug 1</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 21st Olympiad. Montreal (CAN)<br><div style="padding-left:20px;">
	<a href="/archive/olympics/og1976magaa.html">Men AA</a> &nbsp;&nbsp; <a href="/archive/olympics/og1976magteams.html">Men Teams</a> &nbsp;&nbsp; 
	<a href="/archive/olympics/og1976magef.html">Men Event Final</a> &nbsp;&nbsp; <a href="/archive/olympics/og1976magqaa.html">Men Qualification</a><br>
	<a href="/archive/olympics/og1976wagaa.html">Women AA</a> &nbsp;&nbsp; <a href="/archive/olympics/og1976wagteams.html">Women Teams</a> &nbsp;&nbsp; 
	<a href="/archive/olympics/og1976wagef.html">Women Event Final</a> &nbsp;&nbsp; <a href="/archive/olympics/og1976wagqaa.html">Women Qualification</a><br>
	 </div></td></tr>
<tr class="one"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1972">1972 Aug 26 - Sep 11</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 20th Olympiad. Munich (GER)<br><div style="padding-left:20px;">
	<a href="/archive/olympics/og1972magaa.html">Men AA</a> &nbsp;&nbsp; <a href="/archive/olympics/og1972magteams.html">Men Teams</a> &nbsp;&nbsp; 
	<a href="/archive/olympics/og1972magef.html">Men Event Final</a> &nbsp;&nbsp; <a href="/archive/olympics/og1972magqaa.html">Men Qualification</a><br>
	<a href="/archive/olympics/og1972wagaa.html">Women AA</a> &nbsp;&nbsp; <a href="/archive/olympics/og1972wagteams.html">Women Teams</a> &nbsp;&nbsp; 
	<a href="/archive/olympics/og1972wagef.html">Women Event Final</a> &nbsp;&nbsp; <a href="/archive/olympics/og1972wagqaa.html">Women Qualification</a><br>
	 </div></td></tr>
<tr class="two"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1968">1968 Oct 12 - 27</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 19th Olympiad. Mexico City (MEX)<br><div style="padding-left:20px;">
	<a href="/archive/olympics/1968m.html">Men</a> &nbsp;&nbsp; <a href="/archive/olympics/1968w.html">Women</a></div></td></tr>
<tr class="one"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1964">1964 Aug 26 - Sep 11</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 18th Olympiad. Tokyo (JPN)<br><div style="padding-left:20px;">
	<a href="/archive/olympics/1964m.html">Men</a> &nbsp;&nbsp; <a href="/archive/olympics/1964w.html">Women</a></div></td></tr>
<tr class="one"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1960">1960 Aug 25 - Sep 11</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 17th Olympiad. Rome (ITA)<br><div style="padding-left:20px;">
	<a href="/archive/olympics/1960m.html">Men</a> &nbsp;&nbsp; <a href="/archive/olympics/1960w.html">Women</a></div></td></tr>
<tr class="two"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1956">1956 Nov 22 - Dec 9</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 16th Olympiad. Melbourne (AUS)<br><div style="padding-left:20px;">
	<a href="/archive/olympics/1956m.html">Men</a> &nbsp;&nbsp; <a href="/archive/olympics/1956w.html">Women</a></div></td></tr>
<tr class="one"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1952">1952 Jul 19 - Aug 3</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 15th Olympiad. Helsinki (FIN)<br><div style="padding-left:20px;">
	<a href="/archive/olympics/1952m.html">Men</a> &nbsp;&nbsp; <a href="/archive/olympics/1952w.html">Women</a></div></td></tr>
<tr class="two"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1948">1948 Jul 29 - Aug 14</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 14th Olympiad. London (GBR)<br><div style="padding-left:20px;">
	<a href="/archive/olympics/1948m.html">Men</a> &nbsp;&nbsp; <a href="/archive/olympics/1948w.html">Women</a></div></td></tr>
<tr class="one"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1936">1936 Aug 1 - 16</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 11th Olympiad. Berlin (GER)<br><div style="padding-left:20px;">
	<a href="/archive/olympics/1936m.html">Men</a> &nbsp;&nbsp; <a href="/archive/olympics/1936w.html">Women</a></div></td></tr>
<tr class="two"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1932">1932 Jul 30 - Aug 14</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 10th Olympiad. Los Angeles (USA)<br><div style="padding-left:20px;">
	<a href="/archive/olympics/1932m.html">Men</a></div></td></tr>
<tr class="one"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1928">1928 May 17 - Aug 12</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 9th Olympiad. Amsterdam (NED)<br><div style="padding-left:20px;">
	<a href="/archive/olympics/1928m.html">Men</a> &nbsp;&nbsp; <a href="/archive/olympics/1928w.html">Women</a></div></td></tr>
<tr class="two"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1924">1924 May 4 - July 27</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 8th Olympiad. Paris (FRA)<br><div style="padding-left:20px;">
	<a href="/archive/olympics/1924m.html">Men</a></div></td></tr>
<tr class="one"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1920">1920 Apr 20 - Sep 12</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 7th Olympiad. Antwerp (BEL)<br><div style="padding-left:20px;">
	<a href="/archive/olympics/1920m.html">Men</a></div></td></tr>
<tr class="two"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1912">1912 May 12 - Jul 27</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 5th Olympiad. Stockholm (SWE)<br>
	 <div style="padding-left:20px;"><a href="/archive/olympics/1912m.html">Men</a></div></td></tr>
<tr class="one"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1908">1908 Apr 27 - Oct 31</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 4th Olympiad. London (GBR)<br>
	 <div style="padding-left:20px;"><a href="/archive/olympics/1908/london.html">Men</a></div></td></tr>
<tr class="two"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1904">1904 Jul 1 - Nov 23</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 3rd Olympiad. St. Louis (USA)<br>
	<div style="padding-left:20px;"><a href="/archive/olympics/1904/stlouis.html">Men</a></div></td></tr>
<tr class="one"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1900">1900 May 14 - Oct 28</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 2nd Olympiad. Paris (FRA)<br>
	<div style="padding-left:20px;"><a href="/archive/olympics/1900/paris.html">Men</a></div></td></tr>
<tr class="two"><td style="padding-left:10px; font-size:12px; vertical-align:top;"><a name="1896">1896 Apr 6 - 15</a></td>
	<td style="font-size:12px; vertical-align:top;">Games of 1st Olympiad. Athens (GRE)<br>
	<div style="padding-left:20px;"><a href="/archive/olympics/1896/athens.html">Men</a></div></td></tr>
<tr height=5><td colspan=2></td></tr>
<tr bgcolor="#009933" height=3><td colspan=2></td></tr>
</table>

