---
title: "2024 European Artistic Gymnastics Championships Rimini"
year: 2024
startdate: 2024-04-24
enddate: 2024-05-05
country: "ITA"
category: "euros"
layout: results
---

{% include resultsheader.html title="2024 European Men&rsquo;s and Women&rsquo;s Artistic Gymnastics Championships<br>Rimini (ITA)<br>2024 April 24 - May 5" %}

<img src="images/logo.jpg" width="300" alt="event logo">

<h2 class="wom">Result Apparatus Finals Women Day 2</h2>
	<ul class="podium-list">
		<li><b>Beam</b> 🥇Gold - Manila Esposito (ITA)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Manila Esposito (ITA)</li>
	</ul>
	<br>
	<a href="documents/wagbbfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Beam</a>
	<a href="documents/wagfxfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Floor Exercise</a>

<h2 class="wom">Result Apparatus Finals Women Day 1</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Coline Devillard (FRA)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Alice D'Amato (ITA)</li>
	</ul>
	<br>
	<a href="documents/wagvtfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Vault</a>
	<a href="documents/wagubfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Uneven Bars</a>

<h2 class="wom">Results Team Final Women</h2>
	<ul class="podium-list">
		<li>🥇Gold - Italy</li>
		<li>🥈Silver - Great Britain</li>
		<li>🥉Bronze - France</li>
	</ul>
	<br>
	<a href="documents/wagteamfinal.pdf" target="_blank" class="pdf">Team Final Women</a>

<h2 class="wom">Results All-Around Final Women</h2>
	<p>The all-around medals were determined by the qualification results.</p>
	<ul class="podium-list">
		<li>🥇Gold - Manila Esposito (ITA)</li>
		<li>🥈Silver - Alice D'Amato (ITA)</li>
		<li>🥉Bronze - Alice Kinsella (GBR)</li>
	</ul>
	<br>
	<a href="documents/wagaafinal.pdf" target="_blank" class="pdf">All Around Final Women</a>

<h2 class="wom">Results Qualification Women</h2>
<a href="documents/wagteamqual.pdf" target="_blank" class="pdf">Team Qualification Women</a>
	<a href="documents/wagvtqual.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagubqual.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagbbqual.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagfxqual.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>

	<h2 class="men">Results Apparatus Finals Men Day 2</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Jake Jarman (GBR)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Illia Kovtun (UKR)</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Illia Kovtun (UKR)</li>
	</ul>
	<br>
	<a href="documents/magvtfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Vault</a>
	<a href="documents/magpbfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Parallel Bars</a>
	<a href="documents/maghbfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Horizontal Bar</a>

<h2 class="men">Results Apparatus Finals Men Day 1</h2>
	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Luke Whitehouse (GBR)</li>
		<li><b>Pommel Horse</b> 🥇Gold - Rhys McClenaghan (IRL))</li>
		<li><b>Rings</b> 🥇Gold - Eleftherios Petrounias (GRE)</li>
	</ul>
	<br>
	<a href="documents/magfxfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Floor Exercise</a>
	<a href="documents/magphfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Pommel Horse</a>
	<a href="documents/magsrfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Rings</a>

<h2 class="men">Results Team Final Men</h2>
	<ul class="podium-list">
		<li>🥇Gold - Ukraine</li>
		<li>🥈Silver - Great Britain</li>
		<li>🥉Bronze - Italy</li>
	</ul>
	<br>
	<a href="documents/magteamfinal.pdf" target="_blank" class="pdf">Team Final Men</a>

<h2 class="men">Results All-Around Final Men</h2>
	<p>The all-around medals were determined by the qualification results.</p>
	<ul class="podium-list">
		<li>🥇Gold - Marios Georgiou (CYP)</li>
		<li>🥈Silver - Oleg Verniaiev (UKR)</li>
		<li>🥉Bronze - Yumin Abbadini (ITA)</li>
	</ul>
	<br>
	<a href="documents/magaafinal.pdf" target="_blank" class="pdf">All Around Final Men</a>

<h2 class="men">Results Qualification Men</h2>
	<a href="documents/magteamqual.pdf" target="_blank" class="pdf">Team Qualification Men</a>
	<a href="documents/magfxqual.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magphqual.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magsrqual.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magvtqual.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magpbqual.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/maghbqual.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>


<h2 class="men">Documents</h2>
	<a href="documents/wagresultsbook.pdf" target="_blank" class="pdf">WAG Full Results Book</a>
	<a href="documents/magresultsbook.pdf" target="_blank" class="pdf">MAG Full Results Book</a>

