---
title: "2000 European Men's Junior Championships Brehmen"
year: 2000
startdate: 2000-05-25
enddate: 2000-05-28
country: "GER"
category: "euros"
layout: results
redirect_from: /2000/e2000mjun.html
---
	
{% include resultsheader.html title="2000 European Championships<br>Juniors Men's Artistic Gymnastics<br>Brehmen (GER) May 25-28 2000" %}

<!-- Author: Stanislav Mikulas -->
<!-- Date: Feb 20 2004 -->

<!--MENU-->

<table><tr><td valign=top width=540>

	<table cols=4 border=0 cellspacing=3 cellpading=3>
		<tr><td bgcolor="#E8F3FF">
		<a href="e2000m.html"><b>Men's Results</b></a><br>
   		<div style="background:#ffff66; width:100%; color:blue">
		<a href="#tm">Juniors Teams</a><br>
		<a href="#aam">Juniors AA Finals</a><br>
		<a href="#fx">Juniors FX + PH Finals</a><br>
		<a href="#sr">Juniors SR + VT Finals</a><br>
		<a href="#pb">Juniors PB + HB Finals</a><br>
		<a href="#g1">Juniors Qualification: &nbsp; Rank 001-050</a><br>
		<a href="#g51">Juniors Qualification: &nbsp; Rank 051-100</a><br>
		<a href="#g101">Juniors Qualification: &nbsp; Rank 101-113</a>
		</div></td>
	   </tr>
	</table><p>

</td>
</tr>
</table>

<!--JUN M TEAMS-->

<p>
<li><span class="bbb"><a name="tm">Teams - Juniors Men</a></span><br>
	
<table class="maa">
	<col width="25" align="right">
	<col width="180">
	<col width="40" align="center">
	<colgroup span=7 align="center"  width="58">
<tr class="men">
	<th colspan=2>2000 Europeans<br>Juniors Men's Teams</th>
	<th>Fed</th>
	<th>FX</th>
	<th>PH</th>
	<th>SR</th>
	<th>VT</th>
	<th>PB</th>
	<th>HB</th>
	<th>Total</th></tr>
</td></tr>
<tr class="one"><td>1</td><td>Russia</td><td>RUS</td><td>26.387</td><td>27.012</td><td>28.187</td><td>27.749</td><td>26.374</td><td>27.612</td><td>163.321</td></tr>
<tr class="two"><td>2</td><td>France</td><td>FRA</td><td>25.337</td><td>26.500</td><td>25.437</td><td>27.274</td><td>25.662</td><td>27.687</td><td>157.897</td></tr>
<tr class="one"><td>3</td><td>Germany</td><td>GER</td><td>26.362</td><td>26.337</td><td>25.237</td><td>26.786</td><td>26.112</td><td>26.662</td><td>157.496</td></tr>
<tr class="two"><td>4</td><td>Belorus</td><td>BLR</td><td>26.624</td><td>27.325</td><td>25.675</td><td>25.774</td><td>24.774</td><td>26.437</td><td>156.609</td></tr>
<tr class="one"><td>5</td><td>Greece</td><td>GRE</td><td>26.475</td><td>25.512</td><td>24.812</td><td>26.724</td><td>26.336</td><td>26.512</td><td>156.371</td></tr>
<tr class="two"><td>6</td><td>Spain</td><td>ESP</td><td>25.987</td><td>26.249</td><td>24.274</td><td>26.425</td><td>26.287</td><td>26.549</td><td>155.771</td></tr>
<tr class="one"><td>7</td><td>Ukraine</td><td>UKR</td><td>25.074</td><td>25.075</td><td>24.349</td><td>27.750</td><td>25.324</td><td>26.987</td><td>154.559</td></tr>
<tr class="two"><td>8</td><td>Great Britain</td><td>GBR</td><td>25.150</td><td>26.125</td><td>24.175</td><td>27.524</td><td>25.037</td><td>25.049</td><td>153.060</td></tr>
<tr class="one"><td>9</td><td>Romania</td><td>ROM</td><td>25.025</td><td>26.900</td><td>21.912</td><td>27.187</td><td>24.175</td><td>26.274</td><td>151.473</td></tr>
<tr class="two"><td>10</td><td>Italy</td><td>ITA</td><td>25.812</td><td>24.925</td><td>23.500</td><td>26.087</td><td>25.511</td><td>25.062</td><td>150.897</td></tr>
<tr class="one"><td>11</td><td>Switzerland</td><td>SUI</td><td>25.737</td><td>24.250</td><td>23.099</td><td>26.024</td><td>25.562</td><td>25.537</td><td>150.209</td></tr>
<tr class="two"><td>12</td><td>Latvia</td><td>LAT</td><td>25.387</td><td>24.800</td><td>24.087</td><td>25.536</td><td>23.812</td><td>23.850</td><td>147.472</td></tr>
<tr class="one"><td>13</td><td>Netherlands</td><td>NED</td><td>24.400</td><td>23.675</td><td>24.962</td><td>25.549</td><td>23.200</td><td>24.350</td><td>146.136</td></tr>
<tr class="two"><td>14</td><td>Slovakia</td><td>SVK</td><td>24.299</td><td>24.462</td><td>20.637</td><td>25.475</td><td>24.837</td><td>24.900</td><td>144.610</td></tr>
<tr class="one"><td>15</td><td>Czech Republic</td><td>CZE</td><td>24.887</td><td>20.850</td><td>24.037</td><td>25.537</td><td>23.249</td><td>25.424</td><td>143.984</td></tr>
<tr class="two"><td>16</td><td>Israel</td><td>ISR</td><td>24.712</td><td>22.875</td><td>22.450</td><td>25.324</td><td>24.450</td><td>23.912</td><td>143.723</td></tr>
<tr class="one"><td>17</td><td>Hungary</td><td>HUN</td><td>24.950</td><td>22.525</td><td>22.025</td><td>25.912</td><td>23.987</td><td>24.012</td><td>143.411</td></tr>
<tr class="two"><td>18</td><td>Poland</td><td>POL</td><td>23.975</td><td>23.225</td><td>21.125</td><td>25.149</td><td>24.7120</td><td>23.637</td><td>141.823</td></tr>
<tr class="one"><td>19</td><td>Austria</td><td>AUT</td><td>22.687</td><td>19.575</td><td>21.000</td><td>26.050</td><td>21.700</td><td>23.550</td><td>133.562</td></tr>
<tr class="two"><td>20</td><td>Armenia</td><td>ARM</td><td>24.012</td><td>22.750</td><td>19.900</td><td>24.687</td><td>22.037</td><td>19.075</td><td>132.461</td></tr>
<tr class="one"><td>21</td><td>Turkey</td><td>TUR</td><td>23.012</td><td>16.375</td><td>20.637</td><td>25.061</td><td>22.212</td><td>23.912</td><td>131.209</td></tr>
</table>

<p><a href="#top"><img src="totop.gif" width=100 height=15 border=0></a></p>

<!--JUN M AA-->

<p>
<li><span class="bbb"><a name="aam">Individual All-Around Finals - Men</a></span><br>

<table class="maa">
	<col width="25" align="right">
	<col width="180">
	<col width="40" align="center">
	<colgroup span=7 align="center"  width="58">
<tr class="men">
	<th colspan=2>2000 Europeans<br> Men's AA Finals</th>
	<th>Fed</th>
	<th>FX</th>
	<th>PH</th>
	<th>SR</th>
	<th>VT</th>
	<th>PB</th>
	<th>HB</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>Georgy Grebenkov</td><td>RUS</td><td>9.350</td><td>9.412</td><td>8.975</td><td>9.200</td><td>9.512</td><td>9.300</td><td>55.749</td></tr>
<tr class="two"><td>2</td><td> Dmitry Drevin</td><td>RUS</td><td>9.000</td><td>9.312</td><td>9.275</td><td>9.025</td><td>9.400</td><td>8.950</td><td>54.962</td></tr>
<tr class="one"><td>3</td><td>Vlasios Maras</td><td>GRE</td><td>9.237</td><td>9.125</td><td>8.350</td><td>8.987</td><td>9.400</td><td>9.250</td><td>54.349</td></tr>
<tr class="two"><td>4</td><td>Salvatore Parisi</td><td>ITA</td><td>9.050</td><td>8.687</td><td>8.725</td><td>9.150</td><td>9.237</td><td>9.050</td><td>53.899</td></tr>
<tr class="one"><td>5</td><td>Denis Savenkov</td><td>BLR</td><td>9.462</td><td>9.312</td><td>8.525</td><td>9.100</td><td>8.500</td><td>8.775</td><td>53.674</td></tr>
<tr class="two"><td>6</td><td>Jose Luis Fernandez</td><td>ESP</td><td>8.750</td><td>8.800</td><td>8.800</td><td>8.975</td><td>8.375</td><td>9.562</td><td>53.262</td></tr>
<tr class="one"><td>7</td><td>Martin Konecny</td><td>CZE</td><td>8.850</td><td>8.650</td><td>8.287</td><td>8.737</td><td>9.125</td><td>8.375</td><td>52.024</td></tr>
<tr class="two"><td>8</td><td>James Evans</td><td>GBR</td><td>8.887</td><td>8.475</td><td>8.275</td><td>9.362</td><td>8.625</td><td>8.250</td><td>51.874</td></tr>
<tr class="one"><td>9</td><td>Edik Golob</td><td>ISR</td><td>8.275</td><td>8.762</td><td>8.725</td><td>8.737</td><td>8.475</td><td>8.800</td><td>51.774</td></tr>
<tr class="two"><td>10</td><td>Sergei Gusev</td><td>LAT</td><td>9.450</td><td>8.750</td><td>7.975</td><td>8.425</td><td>8.050</td><td>8.462</td><td>51.112</td></tr>
<tr class="one"><td>11</td><td>Denys Gref</td><td>UKR</td><td>8.137</td><td>8.625</td><td>7.762</td><td>8.925</td><td>8.550</td><td>9.025</td><td>51.024</td></tr>
<tr class="two"><td>12</td><td>Richard Kemko</td><td>SVK</td><td>8.175</td><td>8.112</td><td>7.900</td><td>8.812</td><td>8.712</td><td>9.075</td><td>50.786</td></tr>
<tr class="one"><td>13</td><td>Raphael Wignatz</td><td>FRA</td><td>7.525</td><td>8.650</td><td>7.825</td><td>8.925</td><td>8.900</td><td>8.850</td><td>50.675</td></tr>
<tr class="two"><td>14</td><td>Alexander Benko</td><td>SVK</td><td>8.450</td><td>8.675</td><td>8.150</td><td>8.637</td><td>8.550</td><td>8.162</td><td>50.624</td></tr>
<tr class="one"><td>15</td><td>Filip Ianev</td><td>BUL</td><td>9.012</td><td>6.950</td><td>7.925</td><td>9.325</td><td>8.462</td><td>8.200</td><td>49.874</td></tr>
<tr class="two"><td>16</td><td>Ivo Bennenk</td><td>HOL</td><td>8.287</td><td>8.612</td><td>7.950</td><td>8.562</td><td>8.275</td><td>8.100</td><td>49.786</td></tr>
<tr class="one"><td>17</td><td>Haluk Coskun</td><td>TUR</td><td>8.362</td><td>7.700</td><td>8.075</td><td>8.650</td><td>8.612</td><td>8.362</td><td>49.761</td></tr>
<tr class="two"><td>18</td><td>Niki Boschentstein</td><td>SUI</td><td>8.887</td><td>7.875</td><td>7.825</td><td>8.362</td><td>7.975</td><td>8.250</td><td>49.174</td></tr>
<tr class="one"><td>19</td><td>Jerker Taudien</td><td>SWE</td><td>8.450</td><td>7.800</td><td>7.725</td><td>8.912</td><td>7.487</td><td>8.125</td><td>48.499</td></tr>
<tr class="two"><td>20</td><td>Bogdan Orzata</td><td>ROM</td><td>7.925</td><td>8.575</td><td>6.275</td><td>8.750</td><td>7.900</td><td>9.037</td><td>48.462</td></tr>
<tr class="one"><td>21</td><td>Roman Kulesza</td><td>POL</td><td>8.575</td><td>7.175</td><td>7.100</td><td>8.600</td><td>8.450</td><td>7.575</td><td>47.475</td></tr>
<tr class="two"><td>22</td><td>Tamas Szeremi</td><td>HUN</td><td>8.287</td><td>8.250</td><td>6.925</td><td>8.387</td><td>8.175</td><td>7.200</td><td>47.224</td></tr>
<tr class="one"><td>23</td><td>Jimmy Bostrom</td><td>SWE</td><td>8.787</td><td>8.562</td><td>5.550</td><td>8.900</td><td>7.925</td><td>7.087</td><td>46.811</td></tr>
<tr class="two"><td>24</td><td>Pierre Frere</td><td>BEL</td><td>8.475</td><td>7.925</td><td>7.375</td><td>8.637</td><td>7.075</td><td>6.850</td><td>46.337</td></tr>
</table>

<br><a href="#top"><img src="totop.gif" width=100 height=15 border=0></a><p>

<table cellspacing=5>
<tr>
<td width=350 valign=top>	

<!--FX-->

	<li><span class="bb"><a name="fx">Floor Exercise Finals</a></span><br>
	<table class="resf" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col  width="50" align="center">
	<tr class="men">
	<th colspan=2>2000 Europeans FX Finals</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>Bogonosyuk Evgeny</td><td>UKR</td><td>9.512</td></tr>
<tr class="two"><td>2</td><td>Gusevs Sergei </td><td>LAT</td><td>9.300</td></tr>
<tr class="one"><td>3</td><td>Ashurkou Antal</td><td>BLR</td><td>9.225</td></tr>
<tr class="two"><td>4</td><td>Feusi Peter</td><td>SUI</td><td>9.125</td></tr>
<tr class="one"><td>5</td><td>Niess Marcel</td><td>GER</td><td>8.625</td></tr>
<tr class="two"><td>6</td><td>Barbakis Konstandinos</td><td>GRE</td><td>8.450</td></tr>
<tr class="one"><td>7</td><td>Grebenkov Georgi</td><td>RUS</td><td>8.112</td></tr>
<tr class="two"><td>8</td><td>Savenkov Dzanis</td><td>BLR</td><td>7.975</td></tr>
</table><br><br>

</td><td width=350 valign=top>	

<!--PH-->

<li><span class="bb">Pommel Horse Finals</span><br>
	<table class="resf" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col width="50" align="center">
	<tr class="men">
	<th colspan=2>2000 Europeans PH Finals</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>Popescu Ille Daniel</td><td>ROM</td><td>9.625</td></tr>
<tr class="two"><td>2</td><td>Millot Damien</td><td>FRA</td><td>9.525</td></tr>
<tr class="one"><td>3</td><td>Shyshou Pavel</td><td>BLR</td><td>9.387</td></tr>
<tr class="two"><td>4</td><td>Savenko Dzanis</td><td>BLR</td><td>9.325</td></tr>
<tr class="one"><td>5</td><td>Maria Francisco</td><td>ESP</td><td>9.287</td></tr>
<tr class="two"><td>6</td><td>Drevin Dimitri</td><td>RUS</td><td>9.250</td></tr>
<tr class="one"><td>6</td><td>Erjutin Sergej</td><td>GER</td><td>9.250</td></tr>
<tr class="two"><td>8</td><td>Dennison Bruce</td><td>GBR</td><td>9.200</td></tr>
</table><br><br>

</td></tr>
<tr><td width=350 valign=top>

<!--SR-->

	<li><span class="bb"><a name="sr">Still Rings Finals</a></span><br>
	<table class="resf" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col  width="50" align="center">
	<tr class="men">
	<th colspan=2>2000 Europeans SR Finals</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>Drevin Dimitri</td><td>RUS</td><td>9.425</td></tr>
<tr class="two"><td>2</td><td>Fernandez Jose Luis</td><td>ESP</td><td>9.187</td></tr>
<tr class="one"><td>3</td><td>Van Gelber Yuri</td><td>NED</td><td>9.012</td></tr>
<tr class="two"><td>4</td><td>Grebenkov Georgi</td><td>RUS</td><td>8.987</td></tr>
<tr class="one"><td>5</td><td>Bondarenko Kyril</td><td>UKR</td><td>8.825</td></tr>
<tr class="two"><td>6</td><td>Wignanitz Raphael</td><td>FRA</td><td>8.687</td></tr>
<tr class="one"><td>7</td><td>Golob Efik</td><td>ISR</td><td>8.487</td></tr>
<tr class="two"><td>8</td><td>Novotny Vladimir</td><td>CZE</td><td>7.700</td></tr>
</table><br><br>

</td><td width=350 valign=top>

<!--VT-->

<li><span class="bb">Vault Finals</span><br>
	<table class="resf" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col  width="50" align="center">
	<tr class="men">
	<th colspan=2>2000 Europeans VT Finals</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>Ianev Filip</td><td>BUL</td><td>9.939</td></tr>
<tr class="two"><td>2</td><td>Basenko Yaroslav</td><td>UKR</td><td>9.318</td></tr>
<tr class="one"><td>3</td><td>Holmen Kim</td><td>NOR</td><td>9.156</td></tr>
<tr class="two"><td>4</td><td>Virsky Vladimir</td><td>RUS</td><td>9.000</td></tr>
<tr class="one"><td>5</td><td>Evans James</td><td>GBR</td><td>8.987</td></tr>
<tr class="two"><td>6</td><td>Stefanescu Cristian</td><td>ROM</td><td>8.931</td></tr>
<tr class="one"><td>7</td><td>Grebenkov Georgi</td><td>RUS</td><td>8.631</td></tr>
<tr class="two"><td>8</td><td>Barbakis Konstandinos</td><td>GRE</td><td>4.012</td></tr>
</table><br><br>

</td></tr>
<tr><td width=350 valign=top>

<!--PB-->

	<li><span class="bb"><a name="pb">Parallel Bars Finals</a></span><br>
	<table class="resf" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col  width="50" align="center">
	<tr class="men">
	<th colspan=2>2000 Europeans PB Finals</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>Eichhorn Waidemar</td><td>GER</td><td>9.450</td></tr>
<tr class="two"><td>2</td><td>Savenkov Dzanis</td><td>BLR</td><td>9.362</td></tr>
<tr class="one"><td>3</td><td>Drevin Dimitri</td><td>RUS</td><td>9.350</td></tr>
<tr class="two"><td>4</td><td>Grebenkov Georgi</td><td>RUS</td><td>9.262</td></tr>
<tr class="one"><td>5</td><td>Kulesza Roman</td><td>POL</td><td>9.075</td></tr>
<tr class="two"><td>6</td><td>Maras Vlasios</td><td>GRE</td><td>9.062</td></tr>
<tr class="one"><td>7</td><td>Tixier Mathieu</td><td>FRA</td><td>8.637</td></tr>
<tr class="two"><td>8</td><td>Maria Francisco</td><td>ESP</td><td>8.325</td></tr>
</table>

</td><td width=350 valign=top>

<!--HB-->

	<li><span class="bb">Horizontal Bar Finals</span><br>
	<table class="resf" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col  width="50" align="center">
	<tr class="men">
	<th colspan=2>2000 Europeans HB Finals</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>Grebenkov Georgi</td><td>RUS</td><td>9.625</td></tr>
<tr class="two"><td>2</td><td>Fernandez Jose Luis</td><td>ESP</td><td>9.550</td></tr>
<tr class="one"><td>3</td><td>Cizmadia Tiberiu</td><td>ROM</td><td>9.537</td></tr>
<tr class="two"><td>4</td><td>Poiret Benjamin</td><td>FRA</td><td>9.512</td></tr>
<tr class="one"><td>4</td><td>Maras Vlesios</td><td>GRE</td><td>9.512</td></tr>
<tr class="two"><td>6</td><td>Niess Marcel</td><td>GER</td><td>9.287</td></tr>
<tr class="one"><td>7</td><td>Drevin Dimitri</td><td>RUS</td><td>8.562</td></tr>
<tr class="two"><td>8</td><td>Nakos Alexandros</td><td>GRE</td><td>8.475</td></tr>
</table>

</td></tr></table>

<p><A HREF="#top"><img src="totop.gif" width=100 height=15 border=0></a></p>

<!--QUAL 1-->

<p>
<li><span class="bb"><A NAME="g1">Men's Individual Qualification - Rank: 1 - 50</A></span><BR>

<table class="maa">
	<col width="25" align="right">
	<col width="180">
	<col width="40" align="center">
	<colgroup span=7 align="center"  width="58">
<tr class="men">
	<th colspan=2>2000 Europeans<br> Men's AA Qualification</th>
	<th>Fed</th>
	<th>FX</th>
	<th>PH</th>
	<th>SR</th>
	<th>VT</th>
	<th>PB</th>
	<th>HB</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>Grebenkov Georgi</td><td>RUS</td><td>9.325</td><td>8.887</td><td>9.275</td><td>9.350</td><td>9.275</td><td>9.462</td><td>55.574</td></tr>
<tr class="two"><td>2</td><td>Drevin Dimitri</td><td>RUS</td><td>8.037</td><td>9.200</td><td>9.662</td><td>9.112</td><td>9.087</td><td>9.575</td><td>54.673</td></tr>
<tr class="one"><td>3</td><td>Savenkov Dzanis</td><td>BLR</td><td>9.400</td><td>9.325</td><td>8.575</td><td>8.912</td><td>9.162</td><td>8.375</td><td>53.749</td></tr>
<tr class="two"><td>4</td><td>Maras Vlasios</td><td>GRE</td><td>8.775</td><td>8.575</td><td>8.325</td><td>8.712</td><td>9.362</td><td>9.487</td><td>53.236</td></tr>
<tr class="one"><td>5</td><td>Fernandez Jose Luis</td><td>ESP</td><td>8.787</td><td>7.937</td><td>9.137</td><td>8.750</td><td>8.337</td><td>9.500</td><td>52.448</td></tr>
<tr class="two"><td>6</td><td>Wignanitz Raphael</td><td>FRA</td><td>8.425</td><td>8.550</td><td>8.612</td><td>9.062</td><td>8.700</td><td>8.962</td><td>52.311</td></tr>
<tr class="one"><td>7</td><td>Golob Edik</td><td>ISR</td><td>8.250</td><td>8.725</td><td>8.775</td><td>8.787</td><td>8.075</td><td>8.912</td><td>51.524</td></tr>
<tr class="two"><td>8</td><td>Parisi Salvatore</td><td>ITA</td><td>8.787</td><td>8.675</td><td>7.850</td><td>9.112</td><td>8.712</td><td>8.250</td><td>51.386</td></tr>
<tr class="one"><td>9</td><td>Konecny Martin</td><td>CZE</td><td>8.900</td><td>7.925</td><td>8.250</td><td>8.662</td><td>8.225</td><td>8.962</td><td>50.924</td></tr>
<tr class="two"><td>10</td><td>Gusevs Sergei</td><td>LAT</td><td>9.187</td><td>8.450</td><td>8.050</td><td>8.562</td><td>7.875</td><td>8.550</td><td>50.674</td></tr>
<tr class="one"><td>11</td><td>Evans James</td><td>GBR</td><td>7.375</td><td>8.350</td><td>8.475</td><td>9.387</td><td>8.837</td><td>8.100</td><td>50.524</td></tr>
<tr class="two"><td>12</td><td>Ianev Filip</td><td>BUL</td><td>9.050</td><td>7.825</td><td>7.350</td><td>9.375</td><td>8.712</td><td>8.112</td><td>50.424</td></tr>
<tr class="one"><td>13</td><td>Gref Denys</td><td>UKR</td><td>7.625</td><td>7.675</td><td>7.437</td><td>9.050</td><td>8.962</td><td>9.200</td><td>49.949</td></tr>
<tr class="two"><td>14</td><td>Benko Alexander</td><td>SVK</td><td>8.487</td><td>8.637</td><td>8.187</td><td>8.575</td><td>8.175</td><td>7.825</td><td>49.886</td></tr>
<tr class="one"><td>15</td><td>Boschenstein Niki</td><td>SUI</td><td>8.400</td><td>7.875</td><td>8.025</td><td>8.312</td><td>8.587</td><td>8.337</td><td>49.536</td></tr>
<tr class="two"><td>16</td><td>Orzata Bogdan</td><td>ROM</td><td>8.250</td><td>8.825</td><td>7.400</td><td>8.875</td><td>7.650</td><td>8.475</td><td>49.475</td></tr>
<tr class="one"><td>17</td><td>Kulesza Roman</td><td>POL</td><td>8.325</td><td>7.725</td><td>6.800</td><td>8.650</td><td>9.175</td><td>8.650</td><td>49.325</td></tr>
<tr class="two"><td>18</td><td>Kemko Richard</td><td>SVK</td><td>7.900</td><td>7.625</td><td>7.525</td><td>8.375</td><td>8.512</td><td>9.175</td><td>49.112</td></tr>
<tr class="one"><td>19</td><td>Bennenk Ivo</td><td>NED</td><td>8.500</td><td>7.700</td><td>8.100</td><td>8.475</td><td>8.225</td><td>8.075</td><td>49.075</td></tr>
<tr class="two"><td>20</td><td>Frere Pierre Dominique</td><td>BEL</td><td>8.375</td><td>7.775</td><td>7.625</td><td>8.675</td><td>7.912</td><td>8.300</td><td>48.662</td></tr>
<tr class="one"><td>21</td><td>Taudien Jerker</td><td>SWE</td><td>8.300</td><td>7.450</td><td>7.775</td><td>9.012</td><td>7.937</td><td>7.900</td><td>48.374</td></tr>
<tr class="two"><td>22</td><td>Coskun Haluk</td><td>TUR</td><td>8.350</td><td>6.700</td><td>7.612</td><td>8.562</td><td>8.387</td><td>8.362</td><td>47.973</td></tr>
<tr class="one"><td>23</td><td>Szeremi Tamas</td><td>HUN</td><td>8.125</td><td>7.300</td><td>7.350</td><td>8.475</td><td>8.275</td><td>8.237</td><td>47.762</td></tr>
<tr class="two"><td>24</td><td>Bostrom Jimmy</td><td>SWE</td><td>7.375</td><td>7.475</td><td>7.000</td><td>8.950</td><td>8.025</td><td>7.825</td><td>46.650</td></tr>
<tr class="one"><td>25</td><td>Hulboj Kamil</td><td>POL</td><td>8.050</td><td>7.325</td><td>6.850</td><td>8.137</td><td>8.550</td><td>7.562</td><td>46.474</td></tr>
<tr class="two"><td>26</td><td>Palgen Sascha</td><td>LUX</td><td>7.800</td><td>7.700</td><td>7.150</td><td>8.437</td><td>7.262</td><td>7.975</td><td>46.324</td></tr>
<tr class="one"><td>27</td><td>Stefanyan Varag</td><td>ARM</td><td>8.437</td><td>7.675</td><td>7.775</td><td>8.587</td><td>7.675</td><td>5.950</td><td>46.099</td></tr>
<tr class="two"><td>28</td><td>Shaham Noam</td><td>ISR</td><td>8.362</td><td>6.575</td><td>7.225</td><td>8.125</td><td>8.275</td><td>7.500</td><td>46.062</td></tr>
<tr class="one"><td>29</td><td>Poire Nicolas</td><td>BEL</td><td>8.162</td><td>6.550</td><td>7.600</td><td>8.625</td><td>7.362</td><td>7.675</td><td>45.974</td></tr>
<tr class="two"><td>30</td><td>Hermas Niki</td><td>FIN</td><td>8.112</td><td>6.850</td><td>7.100</td><td>8.837</td><td>7.675</td><td>7.350</td><td>45.924</td></tr>
<tr class="one"><td>31</td><td>Oikari Toni</td><td>FIN</td><td>8.075</td><td>5.875</td><td>7.125</td><td>8.700</td><td>8.000</td><td>7.775</td><td>45.550</td></tr>
<tr class="two"><td>32</td><td>Swoboda Sebastian</td><td>AUT</td><td>7.162</td><td>6.900</td><td>8.250</td><td>8.525</td><td>6.625</td><td>7.900</td><td>45.362</td></tr>
<tr class="one"><td>33</td><td>Ude Filip</td><td>CRO</td><td>7.937</td><td>6.975</td><td>6.550</td><td>8.250</td><td>7.912</td><td>7.550</td><td>45.174</td></tr>
<tr class="two"><td>34</td><td>Chevondyan Gevorg</td><td>ARM</td><td>8.000</td><td>6.825</td><td>6.275</td><td>7.975</td><td>8.137</td><td>6.875</td><td>44.087</td></tr>
<tr class="one"><td>35</td><td>Holmen Kim</td><td>NOR</td><td>8.387</td><td>5.700</td><td>5.500</td><td>9.425</td><td>7.650</td><td>6.875</td><td>43.537</td></tr>
<tr class="two"><td>36</td><td>Venslauskas Vitalijus</td><td>LTU</td><td>7.450</td><td>8.150</td><td>6.900</td><td>8.425</td><td>7.725</td><td>4.625</td><td>43.275</td></tr>
<tr class="one"><td>37</td><td>Shyshou Pavel</td><td>BLR</td><td>8.062</td><td>9.450</td><td>8.525</td><td>-</td><td>8.087</td><td>8.950</td><td>43.275</td></tr>
<tr class="two"><td>38</td><td>Brez Marko</td><td>CRO</td><td>7.600</td><td>5.275</td><td>6.400</td><td>7.900</td><td>7.600</td><td>7.950</td><td>42.725</td></tr>
<tr class="one"><td>39</td><td>Kristmannsson Viktor</td><td>ISL</td><td>7.425</td><td>6.850</td><td>6.100</td><td>8.262</td><td>8.000</td><td>5.850</td><td>42.487</td></tr>
<tr class="two"><td>40</td><td>Jivan Alin</td><td>ROM</td><td>8.600</td><td>-</td><td>7.962</td><td>8.925</td><td>8.500</td><td>8.312</td><td>42.299</td></tr>
<tr class="one"><td>41</td><td>Merdinyan Harutyun</td><td>ARM</td><td>7.575</td><td>8.250</td><td>5.850</td><td>8.125</td><td>6.225</td><td>6.250</td><td>42.275</td></tr>
<tr class="two"><td>42</td><td>Zorba Cumhur</td><td>TUR</td><td>7.450</td><td>5.650</td><td>6.050</td><td>8.337</td><td>6.400</td><td>7.925</td><td>41.812</td></tr>
<tr class="one"><td>43</td><td>Akdogan Hakan</td><td>TUR</td><td>7.212</td><td>4.025</td><td>6.975</td><td>8.162</td><td>7.425</td><td>7.625</td><td>41.424</td></tr>
<tr class="two"><td>44</td><td>Samoilovs Kiril</td><td>LAT</td><td>-</td><td>8.525</td><td>8.062</td><td>8.462</td><td>7.887</td><td>7.050</td><td>39.986</td></tr>
<tr class="one"><td>45</td><td>Isele Ernst</td><td>AUT</td><td>-</td><td>7.175</td><td>6.475</td><td>8.200</td><td>7.525</td><td>8.075</td><td>37.450</td></tr>
<tr class="two"><td>46</td><td>Stojanovski Petre</td><td>MKD</td><td>6.600</td><td>5.650</td><td>4.600</td><td>8.362</td><td>6.325</td><td>4.675</td><td>36.212</td></tr>
<tr class="one"><td>47</td><td>Poiret Benjamin</td><td>FRA</td><td>8.562</td><td>8.525</td><td>-</td><td>9.200</td><td>-</td><td>9.500</td><td>35.787</td></tr>
<tr class="two"><td>48</td><td>Niess Marcel</td><td>GER</td><td>9.100</td><td>8.525</td><td>-</td><td>8.687</td><td>-</td><td>9.425</td><td>35.737</td></tr>
<tr class="one"><td>49</td><td>Erjutin Sergei</td><td>GER</td><td>8.175</td><td>9.237</td><td>-</td><td>9.037</td><td>8.650</td><td>-</td><td>35.099</td></tr>
<tr class="two"><td>50</td><td>Tixier Mathieu</td><td>FRA</td><td>8.350</td><td>-</td><td>8.375</td><td>9.012</td><td>8.975</td><td>-</td><td>34.712</td></tr>
</table>

<p><A HREF="#top"><img src="totop.gif" width=100 height=15 border=0></a></p>

<!--51-->

<p>
<li><span class="bb"><A NAME="g51">Men's Individual Qualification - Rank: 51 - 100</A></span><BR>

<table class="maa">
	<col width="25" align="right">
	<col width="180">
	<col width="40" align="center">
	<colgroup span=7 align="center"  width="58">
<tr class="men">
	<th colspan=2>2000 Europeans<br> Men's AA Qualification</th>
	<th>Fed</th>
	<th>FX</th>
	<th>PH</th>
	<th>SR</th>
	<th>VT</th>
	<th>PB</th>
	<th>HB</th>
	<th>Total</th></tr>
<tr class="one"><td>51</td><td>Eichhorn Waldemar</td><td>GER</td><td>-</td><td>8.575</td><td>8.200</td><td>-</td><td>9.437</td><td>8.450</td><td>34.662</td></tr>
<tr class="two"><td>52</td><td>Bondarenko Kyril</td><td>UKR</td><td>-</td><td>8.775</td><td>8.812</td><td>9.175</td><td>7.875</td><td>-</td><td>34.637</td></tr>
<tr class="one"><td>53</td><td>Bradley Ryan</td><td>GBR</td><td>8.875</td><td>-</td><td>7.625</td><td>8.950</td><td>-</td><td>8.337</td><td>33.787</td></tr>
<tr class="two"><td>54</td><td>Pavon David</td><td>ESP</td><td>8.650</td><td>-</td><td>7.425</td><td>8.975</td><td>-</td><td>8.712</td><td>33.762</td></tr>
<tr class="one"><td>55</td><td>Libanounos Christos</td><td>GRE</td><td>8.450</td><td>8.662</td><td>8.325</td><td>-</td><td>8.287</td><td>-</td><td>33.724</td></tr>
<tr class="two"><td>56</td><td>Hernandez David</td><td>ESP</td><td>8.550</td><td>-</td><td>7.712</td><td>8.700</td><td>-</td><td>8.337</td><td>32.299</td></tr>
<tr class="one"><td>57</td><td>Greco Francesco</td><td>ITA</td><td>8.450</td><td>-</td><td>7.825</td><td>-</td><td>8.412</td><td>8.375</td><td>33.062</td></tr>
<tr class="two"><td>58</td><td>Van Roon Mark</td><td>NED</td><td>8.250</td><td>8.000</td><td>-</td><td>8.612</td><td>7.975</td><td>-</td><td>32.837</td></tr>
<tr class="one"><td>59</td><td>Magyari Zsolt</td><td>HUN</td><td>8.325</td><td>8.675</td><td>-</td><td>-</td><td>7.650</td><td>7.725</td><td>32.375</td></tr>
<tr class="two"><td>60</td><td>Lunga Petr</td><td>CZE</td><td>7.775</td><td>-</td><td>7.037</td><td>8.450</td><td>-</td><td>8.337</td><td>31.599</td></tr>
<tr class="one"><td>61</td><td>Fanconi Flavio</td><td>SUI</td><td>8.150</td><td>7.425</td><td>6.887</td><td>8.837</td><td>-</td><td>-</td><td>31.299</td></tr>
<tr class="two"><td>62</td><td>Zonderland Epke</td><td>NED</td><td>-</td><td>7.975</td><td>8.087</td><td>-</td><td>7.000</td><td>8.025</td><td>31.087</td></tr>
<tr class="one"><td>63</td><td>Hetrovics Marcell</td><td>HUN</td><td>-</td><td>6.550</td><td>7.100</td><td>8.375</td><td>8.062</td><td>-</td><td>30.087</td></tr>
<tr class="two"><td>64</td><td>Edan Sagy</td><td>ISR</td><td>-</td><td>7.575</td><td>6.450</td><td>-</td><td>8.100</td><td>7.500</td><td>29.625</td></tr>
<tr class="one"><td>65</td><td>Rauscher Mario</td><td>AUT</td><td>-</td><td>5.500</td><td>-</td><td>8.325</td><td>7.550</td><td>7.575</td><td>28.950</td></tr>
<tr class="two"><td>66</td><td>Virsky Vladimir</td><td>RUS</td><td>-</td><td>8.925</td><td>9.250</td><td>9.287</td><td>-</td><td>-</td><td>27.462</td></tr>
<tr class="one"><td>67</td><td>Baray Craig</td><td>GBR</td><td>8.900</td><td>-</td><td>-</td><td>9.187</td><td>-</td><td>8.612</td><td>26.699</td></tr>
<tr class="two"><td>68</td><td>Wackenhut Roland</td><td>GER</td><td>9.087</td><td>-</td><td>8.500</td><td>9.062</td><td>-</td><td>-</td><td>26.649</td></tr>
<tr class="one"><td>69</td><td>Feusi Peter</td><td>SUI</td><td>9.187</td><td>-</td><td>-</td><td>-</td><td>8.725</td><td>8.500</td><td>26.412</td></tr>
<tr class="two"><td>70</td><td>Barbakis Konstandinos</td><td>GRE</td><td>9.250</td><td>-</td><td>-</td><td>9.300</td><td>-</td><td>7.775</td><td>26.325</td></tr>
<tr class="one"><td>71</td><td>Basenko Yaroslav</td><td>UKR</td><td>-</td><td>-</td><td>8.100</td><td>9.525</td><td>-</td><td>8.562</td><td>26.187</td></tr>
<tr class="two"><td>72</td><td>Stefanescu Cristian</td><td>ROM</td><td>8.175</td><td>8.525</td><td>-</td><td>9.387</td><td>-</td><td>-</td><td>26.087</td></tr>
<tr class="one"><td>73</td><td>Helfenstein Alan</td><td>SUI</td><td>-</td><td>8.950</td><td>8.187</td><td>-</td><td>-</td><td>8.700</td><td>25.837</td></tr>
<tr class="two"><td>74</td><td>Xylogiannis Alexandros</td><td>GRE</td><td>-</td><td>8.275</td><td>-</td><td>8.712</td><td>8.687</td><td>-</td><td>25.674</td></tr>
<tr class="one"><td>75</td><td>Dos Santos Patrice</td><td>FRA</td><td>-</td><td>-</td><td>8.450</td><td>-</td><td>7.987</td><td>9.225</td><td>25.662</td></tr>
<tr class="two"><td>76</td><td>Marzan Peter</td><td>HUN</td><td>8.500</td><td>-</td><td>-</td><td>9.062</td><td>-</td><td>8.050</td><td>25.612</td></tr>
<tr class="one"><td>77</td><td>Biewendt Lars Gregor</td><td>GER</td><td>-</td><td>-</td><td>8.537</td><td>-</td><td>8.025</td><td>8.787</td><td>25.349</td></tr>
<tr class="two"><td>78</td><td>Savitski Dimitri</td><td>BLR</td><td>-</td><td>8.550</td><td>-</td><td>-</td><td>7.525</td><td>9.112</td><td>25.187</td></tr>
<tr class="one"><td>79</td><td>Tytarenko Dimitro</td><td>UKR</td><td>7.962</td><td>8.625</td><td>-</td><td>-</td><td>8.487</td><td>-</td><td>25.074</td></tr>
<tr class="two"><td>80</td><td>Zorins Evgeni</td><td>LAT</td><td>-</td><td>-</td><td>-</td><td>8.512</td><td>8.050</td><td>8.250</td><td>24.812</td></tr>
<tr class="one"><td>81</td><td>Dennison Bruce</td><td>GBR</td><td>-</td><td>8.975</td><td>8.075</td><td>-</td><td>7.675</td><td>-</td><td>24.725</td></tr>
<tr class="two"><td>82</td><td>Piasecky Samuel</td><td>SVK</td><td>7.912</td><td>8.200</td><td>-</td><td>8.525</td><td>-</td><td>-</td><td>24.637</td></tr>
<tr class="one"><td>83</td><td>Forte Luca</td><td>ITA</td><td>-</td><td>7.800</td><td>-</td><td>-</td><td>8.387</td><td>8.437</td><td>24.624</td></tr>
<tr class="two"><td>84</td><td>Ceccarelli Stefano</td><td>ITA</td><td>8.575</td><td>-</td><td>7.825</td><td>8.075</td><td>-</td><td>-</td><td>24.475</td></tr>
<tr class="one"><td>85</td><td>Zonderland Herre</td><td>NED</td><td>7.650</td><td>-</td><td>-</td><td>8.462</td><td>-</td><td>8.250</td><td>24.362</td></tr>
<tr class="two"><td>86</td><td>Cizmadia Tiberiu</td><td>ROM</td><td>-</td><td>-</td><td>6.550</td><td>-</td><td>8.025</td><td>9.487</td><td>24.062</td></tr>
<tr class="one"><td>87</td><td>Muchorski Krysztof</td><td>POL</td><td>7.600</td><td>-</td><td>7.475</td><td>8.362</td><td>-</td><td>-</td><td>23.437</td></tr>
<tr class="two"><td>88</td><td>Vasek Jan</td><td>CZE</td><td>8.212</td><td>6.850</td><td>-</td><td>-</td><td>-</td><td>8.125</td><td>23.187</td></tr>
<tr class="one"><td>89</td><td>Zach Jiri</td><td>CZE</td><td>-</td><td>6.075</td><td>-</td><td>8.425</td><td>7.287</td><td>-</td><td>21.787</td></tr>
<tr class="two"><td>90</td><td>Sak Martin</td><td>SVK</td><td>-</td><td>-</td><td>4.925</td><td>-</td><td>8.150</td><td>7.900</td><td>20.975</td></tr>
<tr class="one"><td>91</td><td>Bogonosyuk Evgeny</td><td>UKR</td><td>9.487</td><td>-</td><td>-</td><td>-</td><td>-</td><td>9.225</td><td>18.712</td></tr>
<tr class="two"><td>92</td><td>Maria Francisco</td><td>ESP</td><td>-</td><td>9.425</td><td>-</td><td>-</td><td>9.175</td><td>-</td><td>18.600</td></tr>
<tr class="one"><td>93</td><td>Martinez Rafael</td><td>ESP</td><td>-</td><td>8.887</td><td>-</td><td>-</td><td>8.775</td><td>-</td><td>17.662</td></tr>
<tr class="two"><td>94</td><td>Ashurkou Antal</td><td>BLR</td><td>9.162</td><td>-</td><td>-</td><td>8.487</td><td>-</td><td>-</td><td>17.649</td></tr>
<tr class="one"><td>95</td><td>Baranov Ilia</td><td>RUS</td><td>9.025</td><td>-</td><td>-</td><td>-</td><td>-</td><td>8.575</td><td>17.600</td></tr>
<tr class="two"><td>96</td><td>Nakos Alexandros</td><td>GRE</td><td>-</td><td>-</td><td>8.162</td><td>-</td><td>-</td><td>9.250</td><td>17.412</td></tr>
<tr class="one"><td>97</td><td>Faccin Matteo</td><td>ITA</td><td>-</td><td>8.450</td><td>-</td><td>8.900</td><td>-</td><td>-</td><td>17.350</td></tr>
<tr class="two"><td>98</td><td>Zammit Kirk</td><td>GBR</td><td>-</td><td>8.800</td><td>-</td><td>-</td><td>8.525</td><td>-</td><td>17.325</td></tr>
<tr class="one"><td>99</td><td>Senn Emanuel</td><td>SUI</td><td>-</td><td>-</td><td>-</td><td>8.875</td><td>8.250</td><td>-</td><td>17.125</td></tr>
<tr class="two"><td>100</td><td>Hauruk Sirhei</td><td>BLR</td><td>-</td><td>-</td><td>8.575</td><td>8.375</td><td>-</td><td>-</td><td>16.950</td></tr>
</table>

<p><A HREF="#top"><img src="totop.gif" width=100 height=15 border=0></a></p>

<!--101-->

<p>
<li><span class="bb"><A NAME="g101">Men's Individual Qualification - Rank: 101 - 113</A></span><BR>
<table class="maa">
	<col width="25" align="right">
	<col width="180">
	<col width="40" align="center">
	<colgroup span=7 align="center"  width="58">
<tr class="men">
	<th colspan=2>2000 Europeans<br> Men's AA Qualification</th>
	<th>Fed</th>
	<th>FX</th>
	<th>PH</th>
	<th>SR</th>
	<th>VT</th>
	<th>PB</th>
	<th>HB</th>
	<th>Total</th></tr>
<tr class="one"><td>101</td><td>Kaplan Erez</td><td>ISR</td><td>8.100</td><td>-</td><td>-</td><td>8.412</td><td>-</td><td>-</td><td>16.512</td></tr>
<tr class="two"><td>102</td><td>Novotny Vladimir</td><td>CZE</td><td>-</td><td>-</td><td>8.750</td><td>-</td><td>7.737</td><td>-</td><td>16.487</td></tr>
<tr class="one"><td>103</td><td>Grigorovs Andrei</td><td>LAT</td><td>8.175</td><td>7.825</td><td>-</td><td>-</td><td>-</td><td>-</td><td>16.000</td></tr>
<tr class="two"><td>104</td><td>Kozlovs Maxim</td><td>LAT</td><td>8.025</td><td>-</td><td>7.975</td><td>-</td><td>-</td><td>-</td><td>16.000</td></tr>
<tr class="one"><td>105</td><td>Kierzkowski Adam</td><td>POL</td><td>-</td><td>-</td><td>-</td><td>-</td><td>6.987</td><td>7.425</td><td>14.412</td></tr>
<tr class="two"><td>106</td><td>Beringer Alexander</td><td>AUT</td><td>7.825</td><td>-</td><td>6.275</td><td>-</td><td>-</td><td>-</td><td>14.100</td></tr>
<tr class="one"><td>107</td><td>Popescu Ilie Daniel</td><td>ROM</td><td>-</td><td>9.550</td><td>-</td><td>-</td><td>-</td><td>-</td><td>9.550</td></tr>
<tr class="two"><td>108</td><td>Millot Damien</td><td>FRA</td><td>-</td><td>9.425</td><td>-</td><td>-</td><td>-</td><td>-</td><td>9.425</td></tr>
<tr class="one"><td>109</td><td>Van Gelder Yuri</td><td>NED</td><td>-</td><td>-</td><td>8.775</td><td>-</td><td>-</td><td>-</td><td>8.775</td></tr>
<tr class="two"><td>110</td><td>Skwarczynski Tobiasz</td><td>POL</td><td>-</td><td>8.175</td><td>-</td><td>-</td><td>-</td><td>-</td><td>8.175</td></tr>
<tr class="one"><td>111</td><td>Devyatovsky Maxim</td><td>RUS</td><td>-</td><td>-</td><td>-</td><td>-</td><td>8.012</td><td>-</td><td>8.012</td></tr>
<tr class="two"><td>112</td><td>Scherzer Markus</td><td>AUT</td><td>7.700</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>7.700</td></tr>
<tr class="one"><td>113</td><td>Horvath Csaba</td><td>HUN</td><td>-</td><td>-</td><td>7.575</td><td>-</td><td>-</td><td>-</td><td>7.575</td></tr>
</table>

<br><br>
