---
title: "2000 European Men's Senior Championships Brehmen"
year: 2000
startdate: 2000-05-25
enddate: 2000-05-28
country: "GER"
category: "euros"
layout: results
redirect_from: /2000/e2000m.html
---
	
{% include resultsheader.html title="24<sup>th</sup> Men's European Championships<br>
Artistic Gymnastics Men Senior Finals<br>Brehmen (GER) May 25-28 2000" %}

<!-- Author: Stanislav Mikulas -->
<!-- Date: Nov 20 2006 -->

<!-- Menu -->
<table border=0 cellspacing=0 cellpading=0 width=450>
<tr>
<td width=50% valign=top>
	<table width=100%>
	<caption class="now">Men's Senior Results</caption>
	<tr><td onMouseOver="this.style.backgroundColor='#FFFFCC'" onMouseOut="this.style.backgroundColor=''">
		<a href="#teams">Teams</a></td></tr>
	<tr><td onMouseOver="this.style.backgroundColor='#FFFFCC'" onMouseOut="this.style.backgroundColor=''">
		<a href="#aa">All Around Final</a></td></tr>
	<tr><td onMouseOver="this.style.backgroundColor='#FFFFCC'" onMouseOut="this.style.backgroundColor=''">
		<a href="#fx">Floor &amp; Pommel Horse Final</a></td></tr>
	<tr><td onMouseOver="this.style.backgroundColor='#FFFFCC'" onMouseOut="this.style.backgroundColor=''">
		<a href="#sr">Rings &amp; Vault Final</a></td></tr>
	<tr><td onMouseOver="this.style.backgroundColor='#FFFFCC'" onMouseOut="this.style.backgroundColor=''">
		<a href="#pb">Parallel Bars &amp; High Bar Final</a></td></tr>
	<tr><td onMouseOver="this.style.backgroundColor='#FFFFCC'" onMouseOut="this.style.backgroundColor=''">
		<a href="#g001">Men Qualification: &nbsp; Rank 001-050</a></td></tr>
	<tr><td onMouseOver="this.style.backgroundColor='#FFFFCC'" onMouseOut="this.style.backgroundColor=''">
		<a href="#g051">Men Qualification: &nbsp; Rank 051-100</a></td></tr>
	<tr><td onMouseOver="this.style.backgroundColor='#FFFFCC'" onMouseOut="this.style.backgroundColor=''">
		<a href="#g101">Men Qualification: &nbsp; Rank 101-133</a></td></tr>
	</table>

</td></tr>
</table>
<!-- Teams M -->
<p>
<li><span class="bb12"><a name="#teams">Men's Seniors Team Final - 2000 European Championships</a></span>&nbsp;&nbsp;&nbsp;<br>
<table class="maa">
	<col width="20" align="right">
	<col width="175">
	<col width="40" align="center">
	<colgroup span=6 align="center" width=60>
	<colgroup align="center" width=70>
<tr class="men">
	<th colspan=3>2000 European Championships<br>Men's Seniors Team Final</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>RUSSIA</td><td>RUS</td><td>28.887</td><td>28.787</td><td>28.212</td><td>28.125</td><td>28.686</td><td>28.374</td><td>171.071</td></tr>
<tr class="two"><td>2</td><td>ROMANIA</td><td>ROM</td><td>28.111</td><td>28.949</td><td>28.049</td><td>28.762</td><td>28.474</td><td>28.499</td><td>170.844</td></tr>
<tr class="one"><td>3</td><td>UKRAINE</td><td>UKR</td><td>28.537</td><td>28.150</td><td>28.099</td><td>28.861</td><td>28.462</td><td>28.499</td><td>170.608</td></tr>
<tr class="two"><td>4</td><td>FRANCE</td><td>FRA</td><td>28.149</td><td>28.149</td><td>26.925</td><td>27.899</td><td>28.337</td><td>28.424</td><td>167.883</td></tr>
<tr class="one"><td>5</td><td>GERMANY</td><td>GER</td><td>28.074</td><td>26.800</td><td>28.774</td><td>27.974</td><td>27.661</td><td>28.549</td><td>167.832</td></tr>
<tr class="two"><td>6</td><td>BULGARIA</td><td>BUL</td><td>28.224</td><td>28.374</td><td>27.387</td><td>27.761</td><td>27.825</td><td>27.787</td><td>167.358</td></tr>
<tr class="one"><td>7</td><td>SPAIN</td><td>ESP</td><td>27.387</td><td>27.736</td><td>28.112</td><td>27.461</td><td>28.374</td><td>28.262</td><td>167.332</td></tr>
<tr class="two"><td>8</td><td>BELARUS</td><td>BLR</td><td>26.325</td><td>27.862</td><td>28.662</td><td>26.874</td><td>27.637</td><td>28.512</td><td>165.872</td></tr>
<tr class="one"><td>9</td><td>LATVIA</td><td>LAT</td><td>28.125</td><td>26.937</td><td>27.562</td><td>28.362</td><td>27.411</td><td>26.525</td><td>164.922</td></tr>
<tr class="two"><td>10</td><td>SWITZERLAND</td><td>SUI</td><td>26.374</td><td>27.649</td><td>27.887</td><td>27.887</td><td>26.550</td><td>28.086</td><td>164.433</td></tr>
<tr class="one"><td>11</td><td>HUNGARY</td><td>HUN</td><td>26.799</td><td>27.287</td><td>28.137</td><td>27.562</td><td>26.562</td><td>28.074</td><td>164.421</td></tr>
<tr class="two"><td>12</td><td>GREAT BRITAIN</td><td>GBR</td><td>27.149</td><td>27.124</td><td>27.950</td><td>27.674</td><td>26.487</td><td>26.825</td><td>163.209</td></tr>
<tr class="one"><td>13</td><td>ITALY</td><td>ITA</td><td>25.025</td><td>27.549</td><td>28.125</td><td>26.799</td><td>26.225</td><td>27.287</td><td>161.010</td></tr>
<tr class="two"><td>14</td><td>GREECE</td><td>GRE</td><td>26.237</td><td>26.786</td><td>27.811</td><td>27.311</td><td>27.762</td><td>25.099</td><td>161.006</td></tr>
<tr class="one"><td>15</td><td>FINLAND</td><td>FIN</td><td>25.700</td><td>27.549</td><td>25.624</td><td>26.550</td><td>26.499</td><td>26.687</td><td>158.609</td></tr>
<tr class="two"><td>16</td><td>CZECH REPUBLIC</td><td>CZE</td><td>26.099</td><td>26.162</td><td>24.875</td><td>27.025</td><td>27.262</td><td>26.850</td><td>158.273</td></tr>
<tr class="one"><td>17</td><td>SLOVAKIA</td><td>SVK</td><td>26.037</td><td>25.237</td><td>26.475</td><td>25.961</td><td>25.774</td><td>27.362</td><td>156.846</td></tr>
<tr class="two"><td>18</td><td>POLAND</td><td>POL</td><td>24.025</td><td>25.912</td><td>25.950</td><td>27.887</td><td>26.575</td><td>26.449</td><td>156.798</td></tr>
<tr class="one"><td>19</td><td>NORWAY</td><td>NOR</td><td>25.525</td><td>26.625</td><td>25.300</td><td>27.437</td><td>25.162</td><td>25.737</td><td>155.786</td></tr>
<tr class="two"><td>20</td><td>DENMARK</td><td>DEN</td><td>26.299</td><td>22.700</td><td>25.775</td><td>27.374</td><td>24.387</td><td>27.199</td><td>153.734</td></tr>
<tr class="one"><td>21</td><td>AUSTRIA</td><td>AUT</td><td>24.850</td><td>26.987</td><td>23.725</td><td>27.300</td><td>24.049</td><td>25.199</td><td>152.110</td></tr>
<tr class="two"><td>22</td><td>PORTUGAL</td><td>POR</td><td>26.062</td><td>26.637</td><td>20.900</td><td>26.699</td><td>26.300</td><td>24.650</td><td>151.248</td></tr>
<tr class="one"><td>23</td><td>CROATIA</td><td>CRO</td><td>24.962</td><td>25.962</td><td>22.212</td><td>26.200</td><td>24.737</td><td>25.900</td><td>149.973</td></tr>
<tr class="two"><td>24</td><td>TURKEY</td><td>TUR</td><td>25.125</td><td>23.612</td><td>21.900</td><td>27.161</td><td>23.825</td><td>24.612</td><td>146.235</td></tr>
<tr class="one"><td>25</td><td>SLOVENIA</td><td>SLO</td><td>23.561</td><td>17.450</td><td>14.200</td><td>25.712</td><td>27.025</td><td>25.187</td><td>133.135</td></tr>
<tr class="two"><td>26</td><td>CYPRUS</td><td>CYP</td><td>23.649</td><td>23.812</td><td>24.424</td><td>17.400</td><td>22.100</td><td>18.725</td><td>130.110</td></tr>
</table>

<p><a href="#top"><img src="totop.gif" width=100 height=15 border=0></a></p>

<!--MEN AA-->

<p>
<li><span class="bbb"><a name="aa">Individual All-Around Finals - Men</a></span><br>

<table class="maa">
	<col width="25" align="right">
	<col width="180">
	<col width="40" align="center">
	<colgroup span=7 align="center"  width="58">
<tr class="men">
	<th colspan=2>2000 Europeans<br> Men's AA Finals</th>
	<th>Fed</th>
	<th>FX</th>
	<th>PH</th>
	<th>SR</th>
	<th>VT</th>
	<th>PB</th>
	<th>HB</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>Alexander Beresch</td><td>UKR</td><td>9.650</td><td>9.700</td><td>9.500</td><td>9.650</td><td>9.687</td><td>9.700</td><td>57.787</td></tr>
<tr class="two"><td>2</td><td>Ivan Ivankov</td><td>BLR</td><td>9.462</td><td>9.687</td><td>9.662</td><td>9.375</td><td>9.737</td><td>9.675</td><td>57.587</td></tr>
<tr class="one"><td>3</td><td>Marian Dragulescu</td><td>ROM</td><td>9.625</td><td>9.537</td><td>9.387</td><td>9.712</td><td>9.562</td><td>9.625</td><td>57.448</td></tr>
<tr class="two"><td>4</td><td>Alexei Bondarenko</td><td>RUS</td><td>9.525</td><td>9.662</td><td>9.612</td><td>9.625</td><td>9.637</td><td>9.025</td><td>57.086</td></tr>
<tr class="one"><td>5</td><td>Alexei Nemov</td><td>RUS</td><td>9.525</td><td>9.675</td><td>9.262</td><td>9.587</td><td>9.612</td><td>9.262</td><td>56.923</td></tr>
<tr class="two"><td>6</td><td>Igors Vikhrovs</td><td>LAT</td><td>9.562</td><td>9.137</td><td>9.375</td><td>9.462</td><td>9.500</td><td>9.312</td><td>56.348</td></tr>
<tr class="one"><td>7</td><td>Jordan Jovtchev</td><td>BUL</td><td>9.662</td><td>9.500</td><td>9.700</td><td>9.312</td><td>9.375</td><td>8.775</td><td>56.324</td></tr>
<tr class="two"><td>8</td><td>Alexander Svetlichny</td><td>UKR</td><td>8.825</td><td>9.600</td><td>9.225</td><td>9.637</td><td>9.637</td><td>9.362</td><td>56.286</td></tr>
<tr class="one"><td>9</td><td>Ilia Giorgadze</td><td>GEO</td><td>9.350</td><td>9.300</td><td>9.437</td><td>9.050</td><td>9.475</td><td>9.587</td><td>56.199</td></tr>
<tr class="two"><td>10</td><td>Victor Cano</td><td>ESP</td><td>9.225</td><td>9.112</td><td>9.250</td><td>9.037</td><td>9.537</td><td>9.475</td><td>55.636</td></tr>
<tr class="one"><td>11</td><td>Sergei Pfeifer</td><td>GER</td><td>8.662</td><td>8.987</td><td>9.650</td><td>9.125</td><td>9.587</td><td>9.425</td><td>55.436</td></tr>
<tr class="two"><td>12</td><td>Runar Alexandersson</td><td>ISL</td><td>8.962</td><td>9.437</td><td>9.150</td><td>8.962</td><td>9.525</td><td>9.400</td><td>55.436</td></tr>
<tr class="one"><td>13</td><td>Pavel Gofman</td><td>ISR</td><td>9.337</td><td>9.287</td><td>9.312</td><td>9.237</td><td>9.100</td><td>9.012</td><td>55.285</td></tr>
<tr class="two"><td>14</td><td>Flemming Solberg</td><td>NOR</td><td>8.875</td><td>9.225</td><td>8.725</td><td>9.375</td><td>9.412</td><td>9.500</td><td>55.112</td></tr>
<tr class="one"><td>15</td><td>Yann Cucherat</td><td>FRA</td><td>8.862</td><td>8.737</td><td>9.487</td><td>8.850</td><td>9.550</td><td>9.600</td><td>55.086</td></tr>
<tr class="two"><td>16</td><td>Craig Heap</td><td>GBR</td><td>9.150</td><td>9.200</td><td>9.475</td><td>8.625</td><td>9.212</td><td>9.187</td><td>54.849</td></tr>
<tr class="one"><td>17</td><td>Timur Kuzmin</td><td>CRO</td><td>9.312</td><td>8.950</td><td>8.950</td><td>9.275</td><td>9.200</td><td>9.137</td><td>54.824</td></tr>
<tr class="two"><td>18</td><td>Thomas Zimmermann</td><td>AUT</td><td>8.525</td><td>9.375</td><td>8.275</td><td>9.487</td><td>8.962</td><td>8.837</td><td>53.461</td></tr>
<tr class="one"><td>19</td><td>Jan Tanskanen</td><td>FIN</td><td>8.912</td><td>8.700</td><td>8.725</td><td>8.812</td><td>8.587</td><td>9.625</td><td>53.361</td></tr>
<tr class="two"><td>20</td><td>Erik Revelinsh</td><td>LAT</td><td>8.650</td><td>8.612</td><td>8.375</td><td>8.950</td><td>9.300</td><td>8.712</td><td>52.599</td></tr>
<tr class="one"><td>21</td><td>Georgios Elissiadis</td><td>GRE</td><td>8.387</td><td>9.162</td><td>9.337</td><td>7.800</td><td>9.025</td><td>8.550</td><td>52.261</td></tr>
<tr class="two"><td>22</td><td>Jiri Firt</td><td>CZE</td><td>7.950</td><td>9.075</td><td>8.225</td><td>9.012</td><td>8.825</td><td>9.000</td><td>52.087</td></tr>
<tr class="one"><td>23</td><td>Anders Pettersson</td><td>SWE</td><td>8.562</td><td>9.250</td><td>8.262</td><td>9.300</td><td>7.925</td><td>8.250</td><td>51.549</td></tr>
<tr class="two"><td>24</td><td>Stanislav Micheller</td><td>SVK</td><td>8.837</td><td>9.312</td><td>7.875</td><td>9.125</td><td>8.675</td><td>6.975</td><td>50.799</td></tr>
</table>

<br><a href="#top"><img src="totop.gif" width=100 height=15 border=0></a><p>

<table cellspacing=5>
<tr>
<td width=350 valign=top>	

<!--FX-->

	<li><span class="bb"><a name="fx">Floor Exercise Finals</a></span><br>
	<table class="maa" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col  width="50" align="center">
	<tr class="men">
	<th colspan=2>2000 Europeans FX Finals</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>Dragulescu Marian</td><td>ROM</td><td>9.687</td></tr>
<tr class="two"><td>2</td><td>Deferr Gervasio</td><td>ESP</td><td>9.675</td></tr>
<tr class="one"><td>3</td><td>Bondarenko Alexei</td><td>RUS</td><td>9.587</td></tr>
<tr class="two"><td>3</td><td>Vichrov Igor</td><td>LAT</td><td>9.587</td></tr>
<tr class="one"><td>5</td><td>Fardan Kasper</td><td>DEN</td><td>9.487</td></tr>
<tr class="two"><td>6</td><td>Beresch Alexander</td><td>UKR</td><td>9.387</td></tr>
<tr class="one"><td>7</td><td>Pereschkura Alexander</td><td>UKR</td><td>9.362</td></tr>
<tr class="two"><td>8</td><td>Nemov Alexei</td><td>RUS</td><td>8.887</td></tr>
</table><br><br>

</td><td width=350 valign=top>	

<!--PH-->

<li><span class="bb">Pommel Horse Finals</span><br>
	<table class="maa" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col width="50" align="center">
	<tr class="men">
	<th colspan=2>2000 Europeans PH Finals</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>Urzica Marius</td><td>ROM</td><td>9.762</td></tr>
<tr class="two"><td>2</td><td>Pouchade Eric</td><td>FRA</td><td>9.750</td></tr>
<tr class="one"><td>3</td><td>Beresch Alexander</td><td>UKR</td><td>9.662</td></tr>
<tr class="two"><td>4</td><td>Dorin Petcu</td><td>ROM</td><td>9.625</td></tr>
<tr class="one"><td>5</td><td>Alexandersson Runnar</td><td>ISL</td><td>9.612</td></tr>
<tr class="two"><td>6</td><td>Nemov Alexei</td><td>RUS</td><td>9.675</td></tr>
<tr class="one"><td>7</td><td>Bondarenko Alexei</td><td>RUS</td><td>9.475</td></tr>
<tr class="two"><td>8</td><td>Ivankov Ivan</td><td>BLR</td><td>9.287</td></tr>
</table><br><br>

</td></tr>
<tr><td width=350 valign=top>

<!--SR-->

	<li><span class="bb"><a name="sr">Still Rings Finals</a></span><br>
	<table class="maa" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col  width="50" align="center">
	<tr class="men">
	<th colspan=2>2000 Europeans SR Finals</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>Tambakos Dimosthenis</td><td>GRE</td><td>9.737</td></tr>
<tr class="two"><td>2</td><td>Csollany Szilvester</td><td>HUN</td><td>9.675</td></tr>
<tr class="one"><td>3</td><td>Ivankov Ivan</td><td>BLR</td><td>9.650</td></tr>
<tr class="two"><td>4</td><td>Jovtchev Jordan</td><td>BUL</td><td>9.625</td></tr>
<tr class="one"><td>5</td><td>Toba Marius</td><td>GER</td><td>9.525</td></tr>
<tr class="two"><td>6</td><td>Cortes Gonzales Omar</td><td>ESP</td><td>9.337</td></tr>
<tr class="one"><td>7</td><td>Kousios Andreas</td><td>CYP</td><td>9.162</td></tr>
<tr class="two"><td>8</td><td>Tvauri Georgius</td><td>GEO</td><td>9.062</td></tr>
</table><br><br>

</td><td width=350 valign=top>

<!--VT-->

<li><span class="bb">Vault Finals</span><br>
	<table class="maa" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col  width="50" align="center">
	<tr class="men">
	<th colspan=2>2000 Europeans VT Finals</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>Suciu Ioan</td><td>ROM</td><td>9.631</td></tr>
<tr class="two"><td>2</td><td>Karbonenko Dmitri</td><td>FRA</td><td>9.625</td></tr>
<tr class="one"><td>3</td><td>Svetlitchni Alexander</td><td>UKR</td><td>9.606</td></tr>
<tr class="two"><td>4</td><td>Deferr Gervasio</td><td>ESP</td><td>9.537</td></tr>
<tr class="one"><td>5</td><td>Rehm Dieter</td><td>SUI</td><td>9.459</td></tr>
<tr class="two"><td>6</td><td>Dragulescu Marian</td><td>ROM</td><td>9.481</td></tr>
<tr class="one"><td>7</td><td>Tschernitschek Rene</td><td>GER</td><td>9.343</td></tr>
<tr class="two"><td>8</td><td>Jackson Kanukai</td><td>GBR</td><td>9.174</td></tr>
</table><br><br>

</td></tr>
<tr><td width=350 valign=top>

<!--PB-->

	<li><span class="bb"><a name="pb">Parallel Bars Finals</a></span><br>
	<table class="maa" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col  width="50" align="center">
	<tr class="men">
	<th colspan=2>2000 Europeans PB Finals</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>Petkovsek Mitja</td><td>SLO</td><td>9.800</td></tr>
<tr class="two"><td>2</td><td>Ivankov Ivan</td><td>BLR</td><td>9.775</td></tr>
<tr class="one"><td>3</td><td>Bondarenko Alexei</td><td>RUS</td><td>9.725</td></tr>
<tr class="two"><td>4</td><td>Beresch Alexander</td><td>UKR</td><td>9.700</td></tr>
<tr class="one"><td>5</td><td>Karbonenko Dmitri</td><td>FRA</td><td>9.637</td></tr>
<tr class="two"><td>6</td><td>Svetlitchni Alexander</td><td>UKR</td><td>9.662</td></tr>
<tr class="one"><td>7</td><td>Pfeifer Sergej</td><td>GER</td><td>9.600</td></tr>
<tr class="two"><td>8</td><td>Urzica Marius</td><td>ROM</td><td>9.200</td></tr>
</table>

</td><td width=350 valign=top>

<!--HB-->

	<li><span class="bb">Horizontal Bar Finals</span><br>
	<table class="maa" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col  width="50" align="center">
	<tr class="men">
	<th colspan=2>2000 Europeans HB Finals</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>Beresch Alexander</td><td>UKR</td><td>9.737</td></tr>
<tr class="two"><td>2</td><td>Ivankov Ivan</td><td>BLR</td><td>9.725</td></tr>
<tr class="one"><td>3</td><td>Pegan Aljaz</td><td>SLO</td><td>9.687</td></tr>
<tr class="two"><td>4</td><td>Cucherat Jan</td><td>FRA</td><td>9.637</td></tr>
<tr class="one"><td>5</td><td>Nonin Dmitri</td><td>GER</td><td>9.600</td></tr>
<tr class="two"><td>6</td><td>Rehm Dieter</td><td>SUI</td><td>9.587</td></tr>
<tr class="one"><td>7</td><td>Supola Zoltan</td><td>HUN</td><td>9.550</td></tr>
<tr class="two"><td>8</td><td>Giorgadze Ilia</td><td>GEO</td><td>7.762</td></tr>
</table>

</td></tr></table>

<p><A HREF="#top"><img src="totop.gif" width=100 height=15 border=0></a></p>

<!--QUAL 1-->

<p>
<li><span class="bb"><A NAME="g001">Men's Individual Qualification - Rank: 1 - 50</A></span><BR>

<table class="maa">
	<col width="25" align="right">
	<col width="180">
	<col width="40" align="center">
	<colgroup span=7 align="center"  width="58">
<tr class="men">
	<th colspan=2>2000 Europeans<br> Men's AA Qualification</th>
	<th>Fed</th>
	<th>FX</th>
	<th>PH</th>
	<th>SR</th>
	<th>VT</th>
	<th>PB</th>
	<th>HB</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>BERESCH Olexandr</td><td>UKR</td><td>9.575</td><td>9.675</td><td>9.462</td><td>9.712</td><td>9.600</td><td>9.675</td><td>57.699</td></tr>
<tr class="two"><td>2</td><td>NEMOV Alexei</td><td>RUS</td><td>9.700</td><td>9.725</td><td>9.487</td><td>9.600</td><td>9.587</td><td>9.550</td><td>57.649</td></tr>
<tr class="one"><td>3</td><td>BONDARENKO Alexei</td><td>RUS</td><td>9.650</td><td>9.625</td><td>9.575</td><td>9.375</td><td>9.562</td><td>9.387</td><td>57.174</td></tr>
<tr class="two"><td>4</td><td>DRAGULESCU Marian</td><td>ROM</td><td>9.512</td><td>9.512</td><td>9.437</td><td>9.725</td><td>9.362</td><td>9.512</td><td>57.060</td></tr>
<tr class="one"><td>5</td><td>JOVTCHEV Jordan</td><td>BUL</td><td>9.512</td><td>9.587</td><td>9.737</td><td>9.262</td><td>9.300</td><td>9.400</td><td>56.798</td></tr>
<tr class="two"><td>6</td><td>PODGORNI Eugeni</td><td>RUS</td><td>9.537</td><td>9.437</td><td>9.150</td><td>9.150</td><td>9.537</td><td>9.437</td><td>56.248</td></tr>
<tr class="one"><td>7</td><td>PFEIFER Sergei</td><td>GER</td><td>9.450</td><td>8.625</td><td>9.537</td><td>9.362</td><td>9.587</td><td>9.487</td><td>56.048</td></tr>
<tr class="two"><td>8</td><td>SVETLICHNYI Olexandr</td><td>UKR</td><td>9.387</td><td>8.925</td><td>9.000</td><td>9.662</td><td>9.612</td><td>9.412</td><td>55.998</td></tr>
<tr class="one"><td>9</td><td>IVANKOV Ivan</td><td>BLR</td><td>8.700</td><td>9.662</td><td>9.687</td><td>8.475</td><td>9.687</td><td>9.575</td><td>55.786</td></tr>
<tr class="two"><td>10</td><td>VIHROVS Igors</td><td>LAT</td><td>9.650</td><td>8.762</td><td>9.250</td><td>9.375</td><td>9.212</td><td>9.425</td><td>55.674</td></tr>
<tr class="one"><td>11</td><td>CUCHERAT Yann</td><td>FRA</td><td>9.225</td><td>8.837</td><td>9.375</td><td>9.087</td><td>9.350</td><td>9.562</td><td>55.436</td></tr>
<tr class="two"><td>12</td><td>SOLBERG Flemming B</td><td>NOR</td><td>9.000</td><td>9.475</td><td>8.675</td><td>9.375</td><td>9.437</td><td>9.225</td><td>55.187</td></tr>
<tr class="one"><td>13</td><td>REVELINSH Erik</td><td>LAT</td><td>9.275</td><td>9.000</td><td>9.437</td><td>9.450</td><td>9.412</td><td>8.225</td><td>54.799</td></tr>
<tr class="two"><td>14</td><td>GOFMAN Pavel</td><td>ISR</td><td>8.637</td><td>9.275</td><td>9.325</td><td>9.100</td><td>9.375</td><td>8.975</td><td>54.687</td></tr>
<tr class="one"><td>15</td><td>GIORGADZE Ilia</td><td>GEO</td><td>8.975</td><td>8.525</td><td>9.275</td><td>9.137</td><td>8.937</td><td>9.687</td><td>54.536</td></tr>
<tr class="two"><td>16</td><td>CANO SEGURA Victor</td><td>ESP</td><td>8.625</td><td>8.887</td><td>9.087</td><td>9.012</td><td>9.550</td><td>9.225</td><td>54.386</td></tr>
<tr class="one"><td>17</td><td>HEAP Craig</td><td>GBR</td><td>9.212</td><td>8.662</td><td>9.500</td><td>8.900</td><td>8.625</td><td>9.125</td><td>54.024</td></tr>
<tr class="two"><td>18</td><td>TANSKANEN Jani</td><td>FIN</td><td>8.600</td><td>9.500</td><td>8.600</td><td>8.800</td><td>8.962</td><td>9.487</td><td>53.949</td></tr>
<tr class="one"><td>19</td><td>ALEXANDERSSON Runar</td><td>ISL</td><td>8.900</td><td>9.625</td><td>8.350</td><td>8.350</td><td>9.350</td><td>9.300</td><td>53.875</td></tr>
<tr class="two"><td>20</td><td>ELISSIADIS Georgios</td><td>GRE</td><td>8.900</td><td>9.087</td><td>9.212</td><td>8.937</td><td>9.225</td><td>8.412</td><td>53.773</td></tr>
<tr class="one"><td>21</td><td>KUZMIN Timur</td><td>CRO</td><td>9.012</td><td>9.187</td><td>8.762</td><td>9.000</td><td>8.700</td><td>8.425</td><td>53.086</td></tr>
<tr class="two"><td>22</td><td>FIRT Jiri</td><td>CZE</td><td>8.000</td><td>9.300</td><td>8.225</td><td>8.975</td><td>9.175</td><td>9.325</td><td>53.000</td></tr>
<tr class="one"><td>23</td><td>MICHELLER Stanislav</td><td>SVK</td><td>9.050</td><td>8.900</td><td>8.550</td><td>8.937</td><td>8.362</td><td>9.162</td><td>52.961</td></tr>
<tr class="two"><td>24</td><td>BLANIK Leszek</td><td>POL</td><td>8.125</td><td>8.787</td><td>9.275</td><td>9.100</td><td>8.800</td><td>8.662</td><td>52.749</td></tr>
<tr class="one"><td>25</td><td>ZIMMERMANN Thomas</td><td>AUT</td><td>8.550</td><td>9.487</td><td>8.200</td><td>9.550</td><td>8.662</td><td>8.275</td><td>52.724</td></tr>
<tr class="two"><td>26</td><td>PETTERSSON Anders</td><td>SWE</td><td>8.762</td><td>9.312</td><td>8.025</td><td>9.187</td><td>8.175</td><td>8.550</td><td>52.011</td></tr>
<tr class="one"><td>27</td><td>BRANDTOFT Rasmus</td><td>DEN</td><td>8.100</td><td>7.550</td><td>8.725</td><td>9.125</td><td>8.750</td><td>9.437</td><td>51.687</td></tr>
<tr class="two"><td>28</td><td>REFSNES Tor Einar</td><td>NOR</td><td>8.725</td><td>8.900</td><td>8.750</td><td>9.187</td><td>7.550</td><td>7.925</td><td>51.037</td></tr>
<tr class="one"><td>29</td><td>CAMPOS Manuel</td><td>POR</td><td>9.150</td><td>9.350</td><td>6.500</td><td>8.887</td><td>9.050</td><td>8.025</td><td>50.962</td></tr>
<tr class="two"><td>30</td><td>GAVEIKA Linas</td><td>LTU</td><td>8.200</td><td>8.725</td><td>7.650</td><td>8.387</td><td>8.662</td><td>9.112</td><td>50.736</td></tr>
<tr class="one"><td>31</td><td>BALDAUF Marco</td><td>AUT</td><td>8.150</td><td>8.425</td><td>8.500</td><td>8.900</td><td>7.537</td><td>8.637</td><td>50.149</td></tr>
<tr class="two"><td>32</td><td>SAMILOGLU Umit</td><td>TUR</td><td>9.100</td><td>8.075</td><td>7.275</td><td>8.762</td><td>8.325</td><td>8.350</td><td>49.887</td></tr>
<tr class="one"><td>33</td><td>BEZUGO Filipe</td><td>POR</td><td>8.862</td><td>8.962</td><td>6.600</td><td>8.925</td><td>9.125</td><td>7.200</td><td>49.674</td></tr>
<tr class="two"><td>34</td><td>STAUDINGER Martin</td><td>AUT</td><td>8.150</td><td>9.075</td><td>7.025</td><td>8.850</td><td>7.850</td><td>8.287</td><td>49.237</td></tr>
<tr class="one"><td>35</td><td>GIORGALLAS Herodotos</td><td>CYP</td><td>8.225</td><td>8.225</td><td>9.312</td><td>8.875</td><td>7.800</td><td>6.350</td><td>48.787</td></tr>
<tr class="two"><td>36</td><td>MARENTIC Daniel</td><td>SLO</td><td>8.462</td><td>8.525</td><td>6.550</td><td>8.787</td><td>8.250</td><td>8.125</td><td>48.699</td></tr>
<tr class="one"><td>37</td><td>PETCU Dorin</td><td>ROM</td><td>9.412</td><td>9.637</td><td>-</td><td>9.462</td><td>9.537</td><td>9.462</td><td>47.510</td></tr>
<tr class="two"><td>38</td><td>TVAURI Alexander</td><td>GEO</td><td>7.600</td><td>6.400</td><td>9.625</td><td>8.875</td><td>8.475</td><td>6.237</td><td>47.212</td></tr>
<tr class="one"><td>39</td><td>MAREE Florent</td><td>FRA</td><td>9.462</td><td>-</td><td>9.125</td><td>9.200</td><td>9.425</td><td>9.525</td><td>46.737</td></tr>
<tr class="two"><td>40</td><td>KARBANENKO Dimitri</td><td>FRA</td><td>9.462</td><td>-</td><td>8.425</td><td>9.612</td><td>9.562</td><td>9.337</td><td>46.398</td></tr>
<tr class="one"><td>41</td><td>LUNCHEV Dimitar</td><td>BUL</td><td>9.300</td><td>9.387</td><td>8.725</td><td>9.237</td><td>9.150</td><td>-</td><td>45.799</td></tr>
<tr class="two"><td>42</td><td>CSOLLANY Szilveszter</td><td>HUN</td><td>8.625</td><td>9.250</td><td>9.700</td><td>-</td><td>9.162</td><td>9.050</td><td>45.787</td></tr>
<tr class="one"><td>43</td><td>MORANDI Matteo</td><td>ITA</td><td>-</td><td>8.837</td><td>9.500</td><td>8.950</td><td>8.950</td><td>8.800</td><td>45.037</td></tr>
<tr class="two"><td>44</td><td>SCHWEIZER Andreas</td><td>SUI</td><td>8.337</td><td>8.812</td><td>9.462</td><td>9.075</td><td>9.250</td><td>-</td><td>44.936</td></tr>
<tr class="one"><td>45</td><td>PANDUROV Aleksandar</td><td>YUG</td><td>7.200</td><td>7.350</td><td>6.400</td><td>8.487</td><td>7.625</td><td>6.750</td><td>43.812</td></tr>
<tr class="two"><td>46</td><td>MIKUS Pavol</td><td>SVK</td><td>8.462</td><td>8.175</td><td>-</td><td>8.837</td><td>8.612</td><td>9.500</td><td>43.586</td></tr>
<tr class="one"><td>47</td><td>DRAKULIC Vladimir</td><td>YUG</td><td>6.675</td><td>7.650</td><td>5.550</td><td>8.312</td><td>7.750</td><td>6.275</td><td>42.212</td></tr>
<tr class="two"><td>48</td><td>MATOVINA Zeljko</td><td>CRO</td><td>8.950</td><td>8.525</td><td>6.625</td><td>8.700</td><td>7.650</td><td>-</td><td>40.450</td></tr>
<tr class="one"><td>49</td><td>KELLY Conal</td><td>IRL</td><td>6.975</td><td>5.475</td><td>4.175</td><td>8.475</td><td>7.387</td><td>6.875</td><td>39.362</td></tr>
<tr class="two"><td>50</td><td>HODZIC Enes</td><td>SLO</td><td>6.837</td><td>8.925</td><td>7.650</td><td>8.350</td><td>-</td><td>7.425</td><td>39.187</td></tr>
</table>

<p><A HREF="#top"><img src="totop.gif" width=100 height=15 border=0></a></p>

<!--51-->

<p>
<li><span class="bb"><A NAME="g051">Men's Individual Qualification - Rank: 51 - 100</A></span><BR>

<table class="maa">
	<col width="25" align="right">
	<col width="180">
	<col width="40" align="center">
	<colgroup span=7 align="center"  width="58">
<tr class="men">
	<th colspan=2>2000 Europeans<br> Men's AA Qualification</th>
	<th>Fed</th>
	<th>FX</th>
	<th>PH</th>
	<th>SR</th>
	<th>VT</th>
	<th>PB</th>
	<th>HB</th>
	<th>Total</th></tr>
<tr class="one"><td>51</td><td>REHM Dieter</td><td>SUI</td><td>9.212</td><td>-</td><td>-</td><td>9.662</td><td>9.300</td><td>9.562</td><td>37.736</td></tr>
<tr class="two"><td>52</td><td>KRUZHYLAN Aleksandr</td><td>BLR</td><td>-</td><td>9.375</td><td>-</td><td>9.362</td><td>9.325</td><td>9.450</td><td>37.512</td></tr>
<tr class="one"><td>53</td><td>SUPOLA Zoltan</td><td>HUN</td><td>-</td><td>9.550</td><td>-</td><td>9.275</td><td>8.975</td><td>9.587</td><td>37.387</td></tr>
<tr class="two"><td>54</td><td>MCDERMOTT Lee</td><td>GBR</td><td>-</td><td>9.600</td><td>9.200</td><td>-</td><td>9.137</td><td>9.100</td><td>37.037</td></tr>
<tr class="one"><td>55</td><td>BUSNARI Alberto</td><td>ITA</td><td>8.675</td><td>9.475</td><td>-</td><td>-</td><td>9.250</td><td>9.537</td><td>36.937</td></tr>
<tr class="two"><td>56</td><td>NONIN Dimitrij</td><td>GER</td><td>-</td><td>8.700</td><td>9.537</td><td>-</td><td>8.937</td><td>9.612</td><td>36.786</td></tr>
<tr class="one"><td>57</td><td>ANDRES Felipe</td><td>SUI</td><td>8.825</td><td>9.412</td><td>9.375</td><td>9.150</td><td>-</td><td>-</td><td>36.762</td></tr>
<tr class="two"><td>58</td><td>BARRENECHEA Alejandro</td><td>ESP</td><td>9.025</td><td>-</td><td>9.425</td><td>8.812</td><td>9.337</td><td>-</td><td>36.599</td></tr>
<tr class="one"><td>59</td><td>KENTIMENOS Nikolaos</td><td>GRE</td><td>8.912</td><td>9.062</td><td>-</td><td>8.987</td><td>-</td><td>8.962</td><td>35.923</td></tr>
<tr class="two"><td>60</td><td>HARJU Jarkko</td><td>FIN</td><td>8.600</td><td>8.987</td><td>-</td><td>8.925</td><td>-</td><td>9.075</td><td>35.587</td></tr>
<tr class="one"><td>61</td><td>SPILKA David</td><td>CZE</td><td>-</td><td>-</td><td>8.275</td><td>9.375</td><td>8.912</td><td>8.975</td><td>35.537</td></tr>
<tr class="two"><td>62</td><td>TSOLAKIDIS Vasilios</td><td>GRE</td><td>8.425</td><td>-</td><td>-</td><td>9.387</td><td>9.500</td><td>7.725</td><td>35.037</td></tr>
<tr class="one"><td>63</td><td>KORNATOWSKI Robert</td><td>POL</td><td>8.475</td><td>8.675</td><td>-</td><td>-</td><td>8.400</td><td>9.012</td><td>34.562</td></tr>
<tr class="two"><td>64</td><td>KOVAC Marian</td><td>SVK</td><td>-</td><td>8.162</td><td>-</td><td>8.187</td><td>8.800</td><td>8.700</td><td>33.849</td></tr>
<tr class="one"><td>65</td><td>KAUTTO Mikko</td><td>FIN</td><td>8.500</td><td>-</td><td>8.337</td><td>8.825</td><td>-</td><td>8.125</td><td>33.787</td></tr>
<tr class="two"><td>66</td><td>AUNVIG Daniel</td><td>DEN</td><td>8.637</td><td>7.600</td><td>-</td><td>8.912</td><td>-</td><td>8.450</td><td>33.599</td></tr>
<tr class="one"><td>67</td><td>JANSEN Espen</td><td>NOR</td><td>-</td><td>-</td><td>7.875</td><td>8.875</td><td>8.175</td><td>8.587</td><td>33.512</td></tr>
<tr class="two"><td>68</td><td>SLODKOWSKI Czeslaw</td><td>POL</td><td>7.425</td><td>8.450</td><td>7.575</td><td>9.512</td><td>-</td><td>-</td><td>32.962</td></tr>
<tr class="one"><td>69</td><td>GEORGIOU George</td><td>CYP</td><td>8.587</td><td>-</td><td>-</td><td>8.525</td><td>7.450</td><td>7.575</td><td>32.137</td></tr>
<tr class="two"><td>70</td><td>TURKDOGAN Senol</td><td>TUR</td><td>-</td><td>8.062</td><td>7.600</td><td>-</td><td>7.575</td><td>8.150</td><td>31.387</td></tr>
<tr class="one"><td>71</td><td>SHIPPIS Panayiotis</td><td>CYP</td><td>6.837</td><td>7.062</td><td>5.525</td><td>-</td><td>6.850</td><td>4.800</td><td>31.074</td></tr>
<tr class="two"><td>72</td><td>CORTES GONZALEZ Omar</td><td>ESP</td><td>-</td><td>9.412</td><td>9.600</td><td>-</td><td>-</td><td>9.525</td><td>28.537</td></tr>
<tr class="one"><td>73</td><td>VIVO TOMAS Andreu</td><td>ESP</td><td>-</td><td>9.437</td><td>-</td><td>-</td><td>9.487</td><td>9.512</td><td>28.436</td></tr>
<tr class="two"><td>74</td><td>KWIATKOWSKI Sven</td><td>GER</td><td>9.387</td><td>9.475</td><td>-</td><td>-</td><td>-</td><td>9.450</td><td>28.312</td></tr>
<tr class="one"><td>75</td><td>SUCIU Ioan</td><td>ROM</td><td>9.187</td><td>-</td><td>9.125</td><td>9.575</td><td>-</td><td>-</td><td>27.887</td></tr>
<tr class="two"><td>76</td><td>TOBA Marius</td><td>GER</td><td>-</td><td>-</td><td>9.700</td><td>9.012</td><td>9.137</td><td>-</td><td>27.849</td></tr>
<tr class="one"><td>77</td><td>LOMINSKI Marcin</td><td>POL</td><td>-</td><td>-</td><td>9.100</td><td>9.275</td><td>9.375</td><td>-</td><td>27.750</td></tr>
<tr class="two"><td>78</td><td>VETZEV Vassil</td><td>BUL</td><td>-</td><td>9.400</td><td>-</td><td>-</td><td>9.375</td><td>8.937</td><td>27.712</td></tr>
<tr class="one"><td>79</td><td>KIRALY Roland</td><td>HUN</td><td>8.887</td><td>-</td><td>9.462</td><td>9.212</td><td>-</td><td>-</td><td>27.561</td></tr>
<tr class="two"><td>80</td><td>SINKEVICH Alexei</td><td>BLR</td><td>9.100</td><td>8.825</td><td>-</td><td>-</td><td>-</td><td>9.487</td><td>27.412</td></tr>
<tr class="one"><td>81</td><td>GAL Robert</td><td>HUN</td><td>9.287</td><td>-</td><td>8.975</td><td>9.075</td><td>-</td><td>-</td><td>27.337</td></tr>
<tr class="two"><td>82</td><td>COPPOLINO Andrea</td><td>ITA</td><td>8.500</td><td>-</td><td>9.575</td><td>9.137</td><td>-</td><td>-</td><td>27.212</td></tr>
<tr class="one"><td>83</td><td>JACKSON Kanukai</td><td>GBR</td><td>-</td><td>8.862</td><td>-</td><td>9.612</td><td>8.725</td><td>-</td><td>27.199</td></tr>
<tr class="two"><td>84</td><td>FARDAN Kasper</td><td>DEN</td><td>9.562</td><td>-</td><td>-</td><td>-</td><td>8.262</td><td>9.312</td><td>27.136</td></tr>
<tr class="one"><td>85</td><td>KASPEROVICH Dimitri</td><td>BLR</td><td>-</td><td>-</td><td>9.450</td><td>9.037</td><td>8.625</td><td>-</td><td>27.112</td></tr>
<tr class="two"><td>86</td><td>FUCHS Martin</td><td>SUI</td><td>-</td><td>9.425</td><td>-</td><td>-</td><td>8.000</td><td>9.437</td><td>26.862</td></tr>
<tr class="one"><td>87</td><td>REXA Daniel</td><td>CZE</td><td>-</td><td>8.887</td><td>-</td><td>-</td><td>9.175</td><td>8.550</td><td>26.612</td></tr>
<tr class="two"><td>88</td><td>SMETHURST John</td><td>GBR</td><td>8.737</td><td>-</td><td>9.250</td><td>-</td><td>-</td><td>8.600</td><td>26.587</td></tr>
<tr class="one"><td>89</td><td>PETKOVSEK Mitja</td><td>SLO</td><td>8.262</td><td>-</td><td>-</td><td>8.575</td><td>9.675</td><td>-</td><td>26.512</td></tr>
<tr class="two"><td>90</td><td>PANCZEL Miklos</td><td>HUN</td><td>-</td><td>8.487</td><td>-</td><td>-</td><td>8.425</td><td>9.437</td><td>26.349</td></tr>
<tr class="one"><td>91</td><td>LUINI Carlo</td><td>ITA</td><td>-</td><td>9.237</td><td>-</td><td>-</td><td>8.025</td><td>8.950</td><td>26.212</td></tr>
<tr class="two"><td>92</td><td>VYORAL David</td><td>CZE</td><td>9.337</td><td>7.975</td><td>-</td><td>8.675</td><td>-</td><td>-</td><td>25.987</td></tr>
<tr class="one"><td>93</td><td>ANGIOLETTI Matteo</td><td>ITA</td><td>7.850</td><td>-</td><td>9.050</td><td>8.712</td><td>-</td><td>-</td><td>25.612</td></tr>
<tr class="two"><td>94</td><td>VILLEKJAER Jeppe</td><td>DEN</td><td>-</td><td>7.550</td><td>8.700</td><td>9.337</td><td>-</td><td>-</td><td>25.587</td></tr>
<tr class="one"><td>95</td><td>RODRIGUES Rui</td><td>POR</td><td>-</td><td>-</td><td>7.800</td><td>-</td><td>8.125</td><td>9.425</td><td>25.350</td></tr>
<tr class="two"><td>96</td><td>BULUT Ibrahim</td><td>TUR</td><td>8.000</td><td>7.475</td><td>-</td><td>9.287</td><td>-</td><td>-</td><td>24.762</td></tr>
<tr class="one"><td>97</td><td>KOSE Taner</td><td>TUR</td><td>8.025</td><td>-</td><td>7.025</td><td>-</td><td>-</td><td>8.112</td><td>23.162</td></tr>
<tr class="two"><td>98</td><td>MARCEK Kris</td><td>CRO</td><td>7.000</td><td>-</td><td>6.825</td><td>8.500</td><td>-</td><td>-</td><td>22.325</td></tr>
<tr class="one"><td>99</td><td>URZICA Marius</td><td>ROM</td><td>-</td><td>9.800</td><td>-</td><td>-</td><td>9.575</td><td>-</td><td>19.375</td></tr>
<tr class="two"><td>100</td><td>DEFERR Gervasio</td><td>ESP</td><td>9.737</td><td>-</td><td>-</td><td>9.637</td><td>-</td><td>-</td><td>19.374</td></tr>
</table>

<p><A HREF="#top"><img src="totop.gif" width=100 height=15 border=0></a></p>

<!--101-->

<p>
<li><span class="bb"><A NAME="g101">Men's Individual Qualification - Rank: 101 - 133</A></span><BR>
<table class="maa">
	<col width="25" align="right">
	<col width="180">
	<col width="40" align="center">
	<colgroup span=7 align="center"  width="58">
<tr class="men">
	<th colspan=2>2000 Europeans<br> Men's AA Qualification</th>
	<th>Fed</th>
	<th>FX</th>
	<th>PH</th>
	<th>SR</th>
	<th>VT</th>
	<th>PB</th>
	<th>HB</th>
	<th>Total</th></tr>
<tr class="one"><td>101</td><td>PERESHKURA Valeri</td><td>UKR</td><td>9.575</td><td>-</td><td>-</td><td>9.487</td><td>-</td><td>-</td><td>19.062</td></tr>
<tr class="two"><td>102</td><td>ZOZULIA Roman</td><td>UKR</td><td>-</td><td>-</td><td>9.637</td><td>-</td><td>-</td><td>9.412</td><td>19.049</td></tr>
<tr class="one"><td>103</td><td>ORZATA Rares</td><td>ROM</td><td>-</td><td>-</td><td>9.487</td><td>-</td><td>-</td><td>9.525</td><td>19.012</td></tr>
<tr class="two"><td>104</td><td>TSCHNITSCHEK Rene</td><td>GER</td><td>9.237</td><td>-</td><td>-</td><td>9.600</td><td>-</td><td>-</td><td>18.837</td></tr>
<tr class="one"><td>105</td><td>MIEZYENTSEV Ruslan</td><td>UKR</td><td>-</td><td>9.550</td><td>-</td><td>-</td><td>9.250</td><td>-</td><td>18.800</td></tr>
<tr class="two"><td>106</td><td>TAMBAKOS Dimosthenis</td><td>GRE</td><td>-</td><td>-</td><td>9.712</td><td>-</td><td>9.037</td><td>-</td><td>18.749</td></tr>
<tr class="one"><td>107</td><td>PEGAN Aljaz</td><td>SLO</td><td>-</td><td>-</td><td>-</td><td>-</td><td>9.100</td><td>9.637</td><td>18.737</td></tr>
<tr class="two"><td>108</td><td>STEFANOV Mladen</td><td>BUL</td><td>9.412</td><td>-</td><td>-</td><td>9.262</td><td>-</td><td>-</td><td>18.674</td></tr>
<tr class="one"><td>109</td><td>SAPRONENKO Evgeny</td><td>LAT</td><td>-</td><td>-</td><td>8.875</td><td>9.537</td><td>-</td><td>-</td><td>18.412</td></tr>
<tr class="two"><td>110</td><td>IVANOV Cristian</td><td>BUL</td><td>-</td><td>-</td><td>8.925</td><td>-</td><td>-</td><td>9.450</td><td>18.375</td></tr>
<tr class="one"><td>111</td><td>GORBUNOVS Ivan</td><td>LAT</td><td>9.200</td><td>9.175</td><td>-</td><td>-</td><td>-</td><td>-</td><td>18.375</td></tr>
<tr class="two"><td>112</td><td>THOONG Cuong</td><td>GBR</td><td>9.200</td><td>-</td><td>-</td><td>9.162</td><td>-</td><td>-</td><td>18.362</td></tr>
<tr class="one"><td>113</td><td>MONKKONEN Jari</td><td>FIN</td><td>-</td><td>9.062</td><td>-</td><td>-</td><td>9.212</td><td>-</td><td>18.274</td></tr>
<tr class="two"><td>114</td><td>WEIBEL Martin</td><td>SUI</td><td>-</td><td>-</td><td>9.050</td><td>-</td><td>-</td><td>9.087</td><td>18.137</td></tr>
<tr class="one"><td>115</td><td>KOUSIOS Andreas</td><td>CYP</td><td>-</td><td>8.525</td><td>9.587</td><td>0.000</td><td>-</td><td>-</td><td>18.112</td></tr>
<tr class="two"><td>116</td><td>RUDNITSKI Vitali</td><td>BLR</td><td>8.525</td><td>-</td><td>9.525</td><td>-</td><td>-</td><td>-</td><td>18.050</td></tr>
<tr class="one"><td>117</td><td>GORICKI Tigran</td><td>CRO</td><td>-</td><td>-</td><td>-</td><td>-</td><td>8.387</td><td>9.325</td><td>17.712</td></tr>
<tr class="two"><td>118</td><td>SHNIKERS Vitali</td><td>LAT</td><td>-</td><td>-</td><td>-</td><td>-</td><td>8.787</td><td>8.875</td><td>17.662</td></tr>
<tr class="one"><td>119</td><td>DASKALAKIS Christos</td><td>GRE</td><td>-</td><td>8.637</td><td>8.887</td><td>-</td><td>-</td><td>-</td><td>17.524</td></tr>
<tr class="two"><td>120</td><td>NECZLI Andrei</td><td>SVK</td><td>8.525</td><td>-</td><td>8.750</td><td>-</td><td>-</td><td>-</td><td>17.275</td></tr>
<tr class="one"><td>121</td><td>MATERA Lubomir</td><td>CZE</td><td>8.762</td><td>-</td><td>8.375</td><td>-</td><td>-</td><td>-</td><td>17.137</td></tr>
<tr class="two"><td>122</td><td>GOKTEKIN Ismail</td><td>TUR</td><td>-</td><td>-</td><td>-</td><td>9.112</td><td>7.925</td><td>-</td><td>17.037</td></tr>
<tr class="one"><td>123</td><td>KOIVUNEN Riku</td><td>FIN</td><td>-</td><td>-</td><td>8.687</td><td>-</td><td>8.325</td><td>-</td><td>17.012</td></tr>
<tr class="two"><td>124</td><td>SOLAR Sasa</td><td>CRO</td><td>-</td><td>8.250</td><td>-</td><td>-</td><td>-</td><td>8.150</td><td>16.400</td></tr>
<tr class="one"><td>125</td><td>MORAIS Ricardo</td><td>POR</td><td>8.050</td><td>8.325</td><td>-</td><td>-</td><td>-</td><td>-</td><td>16.375</td></tr>
<tr class="two"><td>126</td><td>RASMUSSEN Morten</td><td>DEN</td><td>-</td><td>-</td><td>8.350</td><td>-</td><td>7.375</td><td>-</td><td>15.725</td></tr>
<tr class="one"><td>127</td><td>POUJADE Eric</td><td>FRA</td><td>-</td><td>9.712</td><td>-</td><td>-</td><td>-</td><td>-</td><td>9.712</td></tr>
<tr class="two"><td>128</td><td>CASIMIR Eric</td><td>FRA</td><td>-</td><td>9.600</td><td>-</td><td>-</td><td>-</td><td>-</td><td>9.600</td></tr>
<tr class="one"><td>129</td><td>KAMENICKY Daniel</td><td>SVK</td><td>-</td><td>-</td><td>9.175</td><td>-</td><td>-</td><td>-</td><td>9.175</td></tr>
<tr class="two"><td>130</td><td>COUTINHO Francisco</td><td>POR</td><td>-</td><td>-</td><td>-</td><td>8.887</td><td>-</td><td>-</td><td>8.887</td></tr>
<tr class="one"><td>131</td><td>KORNATOWSKI Radoslaw</td><td>POL</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>8.775</td><td>8.775</td></tr>
<tr class="two"><td>132</td><td>JOERGENSEN Arve</td><td>NOR</td><td>-</td><td>8.250</td><td>-</td><td>-</td><td>-</td><td>-</td><td>8.250</td></tr>
<tr class="one"><td>133</td><td>JENSEN Lars Petter</td><td>NOR</td><td>7.800</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>7.800</td></tr>
</table>
<br><br>