---
title: "52nd FIG AG World Championships Antwerp"
year: 2023
startdate: 2023-09-30
enddate: 2023-10-08
country: "BEL"
category: "worlds"
layout: results
---

{% include resultsheader.html title="52nd FIG Artistic Gymnastics World Championships<br>Antwerp (BEL)<br>2023 Sept 30 - Oct 8" %}
 
<img src="images/logo.png" alt="Event logo">



<h2 class="wom">Full Results</h2>

<a href="documents/2023_results_book.pdf" target="_blank" class="pdf">2023 Results Book</a>


<h2 class="men">Results Apparatus Finals Men Day 2</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Jake Jarman (GBR)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Lukas Dauser (GER)</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Hashimoto Daiki (JPN)</li>
	</ul>
	<br>
	<a href="documents/mag/magvtfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Vault</a>
	<a href="documents/mag/magpbfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Parallel Bars</a>
	<a href="documents/mag/maghbfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Horizontal Bar</a>

<h2 class="wom">Result Apparatus Finals Women Day 2</h2>
	<ul class="podium-list">
		<li><b>Beam</b> 🥇Gold - Simone Biles (USA)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Simone Biles (USA)</li>
	</ul>
	<br>
	<a href="documents/wag/wagbbfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Beam</a>
	<a href="documents/wag/wagfxfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Floor Exercise</a>

<h2 class="men">Results Apparatus Finals Men Day 1</h2>
	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Artem Dolgopyat (ISR)</li>
		<li><b>Pommel Horse</b> 🥇Gold - Rhys McClenaghan (IRL)</li>
		<li><b>Rings</b> 🥇Gold - Liu Yang (CHN)</li>
	</ul>
	<br>
	<a href="documents/mag/magfxfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Floor Exercise</a>
	<a href="documents/mag/magphfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Pommel Horse</a>
	<a href="documents/mag/magsrfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Rings</a>

<h2 class="wom">Result Apparatus Finals Women Day 1</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Rebeca Andrade (BRA)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Qiu Qiyuan (CHN)</li>
	</ul>
	<br>
	<a href="documents/wag/wagvtfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Vault</a>
	<a href="documents/wag/wagubfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Uneven Bars</a>

<h2 class="wom">Apparatus Finals Start Lists</h2>
<a href="documents/efstartlist1.pdf" target="_blank" class="pdf">Apparatus Finals Start List Day 1</a>
<a href="documents/efstartlist2.pdf" target="_blank" class="pdf">Apparatus Finals Start List Day 2</a>

<h2 class="wom">All-Around Final Women</h2>
<ul class="podium-list">
	<li>🥇Gold - Simone Biles (USA)</li>
	<li>🥈Silver - Rebeca Andrade (BRA)</li>
	<li>🥉Bronze - Shilese Jones (USA)</li>
</ul>
<a href="documents/wag/aafinal.pdf" target="_blank" class="pdf">Results</a>
<a href="documents/wag/aastartlist.pdf" target="_blank" class="pdf">Start List</a>

<h2 class="men">All-Around Final Men</h2>
<ul class="podium-list">
	<li>🥇Gold - Hashimoto Daiki (JPN)</li>
	<li>🥈Silver - Illia Kovtun (UKR)</li>
	<li>🥉Bronze - Frederick Richard (USA)</li>
</ul>
<a href="documents/mag/aafinal.pdf" target="_blank" class="pdf">Results</a>
<a href="documents/mag/aastartlist.pdf" target="_blank" class="pdf">Start List</a>


<h2 class="wom">Team Final Women</h2>
<ul class="podium-list">
	<li>🥇Gold - United States of America</li>
	<li>🥈Silver - Brazil</li>
	<li>🥉Bronze - France</li>
</ul>
<a href="documents/wag/teamfinal.pdf" target="_blank" class="pdf">Results</a>
<a href="documents/wag/teamfinalstartlist.pdf" target="_blank" class="pdf">Start List</a>
	

<h2 class="men">Team Final Men</h2>
<ul class="podium-list">
	<li>🥇Gold - Japan</li>
	<li>🥈Silver - People's Republic of China</li>
	<li>🥉Bronze - United States of America</li>
</ul>
<a href="documents/mag/teamfinal.pdf" target="_blank" class="pdf">Results</a>
<a href="documents/mag/teamfinalstartlist.pdf" target="_blank" class="pdf">Start List</a>

<h2 class="wom">Qualification Women</h2>
<a href="documents/wag/qteam.pdf" target="_blank" class="pdf">Team Qualification</a>
<a href="documents/wag/qaa.pdf" target="_blank" class="pdf">All-Around Qualification</a><br>
<a href="documents/wag/q1vt.pdf" target="_blank" class="pdf">Vault Qualification</a>
<a href="documents/wag/q2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification</a>
<a href="documents/wag/q3bb.pdf" target="_blank" class="pdf">Beam Qualification</a>
<a href="documents/wag/q4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification</a>

<h2 class="men">Qualification Men</h2>
<a href="documents/mag/qteam.pdf" target="_blank" class="pdf">Team Qualification</a>
<a href="documents/mag/qaa.pdf" target="_blank" class="pdf">All-Around Qualification</a><br>
<a href="documents/mag/q1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification</a>
<a href="documents/mag/q2ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification</a>
<a href="documents/mag/q3sr.pdf" target="_blank" class="pdf">Rings Qualification</a>
<a href="documents/mag/q4vt.pdf" target="_blank" class="pdf">Vault Qualification</a>
<a href="documents/mag/q5pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification</a>
<a href="documents/mag/q6hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification</a>

<h2 class="wom">Event documents</h2>
<a href="documents/wag/slwag.pdf" target="_blank" class="pdf">WAG Start List for Qualification</a>
<a href="documents/mag/slmag.pdf" target="_blank" class="pdf">MAG Start List for Qualification</a>