---
title: "2021 Doha World Cup"
year: 2021
startdate: 2021-06-23
enddate: 2021-06-26
country: "QAT"
category: "world-cup"
layout: results
---

{% include resultsheader.html title="FIG World Cup<br>Aspire Dome, Doha (QAT) 2021 June 23-26" %}

<img src="header.jpeg" alt="Event logo">


<h2 class="wom">Finals Day 2</h2>
	<ul class="podium-list">
		<li><b>Men's Vault</b> 🥇Gold - Yonekura Hidenobu (JPN)</li>
		<li><b>Men's Parallel Bars</b> 🥇Gold - Ferhat Arican (TUR)</li>
		<li><b>Men's Horizontal Bar</b> 🥇Gold - Marios Georgiou (CYP)</li>
		<li><b>Women's Beam</b> 🥇Gold - Diana Varinska (UKR)</li>
		<li><b>Women's Floor Exercise</b> 🥇Gold - Vanessa Ferrari (ITA)</li>
	</ul>
	<br>
	<a href="documents/mag_vt.pdf" target="_blank" class="pdf">Men's Vault Final Results</a>
	<a href="documents/mag_pb.pdf" target="_blank" class="pdf">Men's Parallel Bars Final Results</a>
	<a href="documents/mag_hb.pdf" target="_blank" class="pdf">Men's Horizontal Bar Final Results</a>
	<a href="documents/wag_bb.pdf" target="_blank" class="pdf">Women's Beam Final Results</a>
	<a href="documents/wag_fx.pdf" target="_blank" class="pdf">Women's Floor Final Results</a>
	<br>

<h2 class="men">Finals Day 1</h2>
	<ul class="podium-list">
		<li><b>Men's Floor Exercise</b> 🥇Gold - Artem Dolgopyat (ISR)</li>
		<li><b>Men's Pommel Horse</b> 🥇Gold - Saeedreza Keikha (IRI)</li>
		<li><b>Men's Rings</b> 🥇Gold - Eleftherios Petrounias (GRE)</li>
		<li><b>Women's Vault</b> 🥇Gold - Oksana Chusovitina (UZB)</li>
		<li><b>Women's Uneven Bars</b> 🥇Gold - Rebeca Andrade (BRA)</li>
	</ul>
	<br>
	<a href="documents/mag_fx.pdf" target="_blank" class="pdf">Men's Floor Final Results</a>
	<a href="documents/mag_ph.pdf" target="_blank" class="pdf">Men's Pommel Horse Final Results</a>
	<a href="documents/mag_sr.pdf" target="_blank" class="pdf">Men's Rings Final Results</a>
	<a href="documents/wag_vt.pdf" target="_blank" class="pdf">Women's Vault Final Results</a>
	<a href="documents/wag_ub.pdf" target="_blank" class="pdf">Women's Uneven Bars Final Results</a>
	<br>

<h2 class="wom">Qualifications</h2>
	<a href="documents/mag_qual_fx.pdf" target="_blank" class="pdf">Men's Floor Qualification</a>
	<a href="documents/mag_qual_ph.pdf" target="_blank" class="pdf">Men's Pommel Horse Qualification</a>
	<a href="documents/mag_qual_sr.pdf" target="_blank" class="pdf">Men's Rings Qualification</a>
	<a href="documents/wag_qual_vt.pdf" target="_blank" class="pdf">Women's Vault Qualification</a>
	<a href="documents/wag_qual_ub.pdf" target="_blank" class="pdf">Women's Uneven Bars Qualification</a>
	<br>

	<a href="documents/mag_qual_vt.pdf" target="_blank" class="pdf">Men's Vault Qualification</a>
	<a href="documents/mag_qual_pb.pdf" target="_blank" class="pdf">Men's Parallel Bars Qualification</a>
	<a href="documents/mag_qual_hb.pdf" target="_blank" class="pdf">Men's Horizontal Bar Qualification</a>
	<a href="documents/wag_qual_bb.pdf" target="_blank" class="pdf">Women's Beam Qualification</a>
	<a href="documents/wag_qual_fx.pdf" target="_blank" class="pdf">Women's Floor Qualification</a>