---
title: "GBR-NED Friendly Meet"
year: 2021
startdate: 2021-06-23
enddate: 2021-06-23
country: "NED"
layout: results
---

{% include resultsheader.html title="2021 GBR-NED Friendly Meet<br>Topsport Centrum, Rotterdam (NED)<br>June 23" %}

<img src="logo.png" alt="Dutch gymnastics logo">

<h2 class="wom">Results</h2>
	<a href="documents/results.pdf" target="_blank" class="pdf">Full Results</a>
    <ul class="podium-list">
		<li>🥇1st place - Joe Fraser (GBR)</li>
		<li>🥈2nd place - Giarrni Regini-Moran (GBR)</li>
		<li>🥉3rd place - James Hall (GBR)</li>
	</ul>