---
title: "34th Arthur Gander Memorial"
year: 2017
startdate: 2017-11-01
country: "SUI"
category: "arthur-gander"
layout: results
---

{% include resultsheader.html title="34th Arthur Gander Memorial<br>Morges (SUI)<br>2017 Nov 1st" %}

<h2 class="wom">Men and Women's Results</h2>
<img src="images/aa.jpg" alt="All around winners"><br>
<a href="documents/gander2017.pdf" target="_blank" class="pdf">Results</a>