---
title: "2020 Olympic Games, Tokyo"
year: 2021
startdate: 2021-07-24
enddate: 2021-08-03
country: "JPN"
category: "olympics"
layout: results
---

{% include resultsheader.html title="Games of the XXXII Olympiad<br>Tokyo 2021 July 24 - August 3<br>Artistic Gymnastics Men and Women" %}

<img src="images/logo.png" alt="olympic logo">
<h2 class="men">Apparatus Finals Day 3</h2>
	<h3>Horizontal Bar</h3>
	<ul class="podium-list">
		<li>🥇Gold - Hashimoto Daiki (JPN)</li>
		<li>🥈Silver - Tin Srbic (CRO)</li>
		<li>🥉Bronze - Nikita Nagornyy (ROC)</li>
	</ul>
	<br>
	<a href="documents/mag/mag_hb_results.pdf" target="_blank" class="pdf">Results Horizontal Bar Final Men</a>
	<a href="documents/mag/mag_hb_startlist.pdf" target="_blank" class="pdf">Start List Horizontal Bar Final Men</a><br>

	<h3>Balance Beam</h3>
	<ul class="podium-list">
		<li>🥇Gold - Guan Chenchen (CHN)</li>
		<li>🥈Silver - Tang Xijing (CHN)</li>
		<li>🥉Bronze - Simone Biles (USA)</li>
	</ul>
	<br>
	<a href="documents/wag/wag_bb_results.pdf" target="_blank" class="pdf">Results Balance Beam Final Women</a>
	<a href="documents/wag/wag_bb_startlist.pdf" target="_blank" class="pdf">Start List Balance Beam Final Women</a>
	<p>(Larisa Iordache is on the start list but withdrew before the competition and was replaced with 1st reserve Ashikawa Urara)</p>

	<h3>Parallel Bars</h3>
	<ul class="podium-list">
		<li>🥇Gold - Zou Jingyuan (CHN)</li>
		<li>🥈Silver - Lukas Dauser (GER)</li>
		<li>🥉Bronze - Ferhat Arican (TUR)</li>
	</ul>
	<br>
	<a href="documents/mag/mag_pb_results.pdf" target="_blank" class="pdf">Results Parallel Bars Final Men</a>
	<a href="documents/mag/mag_pb_startlist.pdf" target="_blank" class="pdf">Start List Parallel Bars Final Men</a><br>

<h2 class="wom">Apparatus Finals Day 2</h2>
	<h3>Men's Vault</h3>
	<ul class="podium-list">
		<li>🥇Gold - Shin Jeahwan (KOR)</li>
		<li>🥈Silver - Denis Abliazin (ROC)</li>
		<li>🥉Bronze - Artur Davtyan (ARM)</li>
	</ul>
	<br>
	<a href="documents/mag/mag_vt_results.pdf" target="_blank" class="pdf">Results Vault Final Men</a>
	<a href="documents/mag/mag_vt_tiebreak.pdf" target="_blank" class="pdf">Tiebreak Report Vault Final Men</a>
	<a href="documents/mag/mag_vt_startlist.pdf" target="_blank" class="pdf">Start List Vault Final Men</a><br>

	<h3>Women's Floor</h3>
	<ul class="podium-list">
		<li>🥇Gold - Jade Carey (USA)</li>
		<li>🥈Silver - Vanessa Ferrari (ITA)</li>
		<li>🥉Bronze - Murakami Mai (JPN)</li>
		<li>🥉Bronze - Angelina Melnikova (ROC)</li>
	</ul>
	<br>
	<a href="documents/wag/wag_fx_results.pdf" target="_blank" class="pdf">Results Floor Final Women</a>
	<a href="documents/wag/wag_fx_tiebreak.pdf" target="_blank" class="pdf">Tiebreak Report Floor Final Women</a>
	<a href="documents/wag/wag_fx_startlist.pdf" target="_blank" class="pdf">Start List Floor Final Women</a><br>

	<h3>Rings</h3>
	<ul class="podium-list">
		<li>🥇Gold - Liu Yang (CHN)</li>
		<li>🥈Silver - You Hao (CHN)</li>
		<li>🥉Bronze - Eleftherios Petrounias (GRE)</li>
	</ul>
	<br>
	<a href="documents/mag/mag_sr_results.pdf" target="_blank" class="pdf">Results Rings Final Men</a>
	<a href="documents/mag/mag_sr_startlist.pdf" target="_blank" class="pdf">Start List Rings Final Men</a><br>

<h2 class="men">Apparatus Finals Day 1</h2>
	<h3>Uneven Bars</h3>
	<ul class="podium-list">
		<li>🥇Gold - Nina Derwael (BEL)</li>
		<li>🥈Silver - Anastasiia Iliankova (ROC)</li>
		<li>🥉Bronze - Sunisa Lee (USA)</li>
	</ul>
	<br>
	<a href="documents/wag/wag_ub_results.pdf" target="_blank" class="pdf">Results Uneven Bars Final Women</a>
	<a href="documents/wag/wag_ub_startlist.pdf" target="_blank" class="pdf">Start List Uneven Bars Final Women</a><br>

	<h3>Pommel Horse</h3>
	<ul class="podium-list">
		<li>🥇Gold - Max Whitlock (GBR)</li>
		<li>🥈Silver - Lee Chih Kai (TPE)</li>
		<li>🥉Bronze - Kaya Kazuma (JPN)</li>
	</ul>
	<br>
	<a href="documents/mag/mag_ph_results.pdf" target="_blank" class="pdf">Results Pommel Horse Final Men</a>
	<a href="documents/mag/mag_ph_startlist.pdf" target="_blank" class="pdf">Start List Pommel Horse Final Men</a><br>
	
	<h3>Women's Vault</h3>
	<ul class="podium-list">
		<li>🥇Gold - Rebeca Andrade (BRA)</li>
		<li>🥈Silver - MyKayla Skinner (USA)</li>
		<li>🥉Bronze - Yeo Seojeong (KOR)</li>
	</ul>
	<br>
	<a href="documents/wag/wag_vt_results.pdf" target="_blank" class="pdf">Results Vault Final Women</a>
	<a href="documents/wag/wag_vt_startlist.pdf" target="_blank" class="pdf">Start List Vault Final Women</a><br>
	
	<h3>Men's Floor Exercise</h3>
	<ul class="podium-list">
		<li>🥇Gold - Artem Dolgopyat (ISR)</li>
		<li>🥈Silver - Rayderley Zapata (ESP)</li>
		<li>🥉Bronze - Xiao Ruoteng (CHN)</li>
	</ul>
	<br>
	<a href="documents/mag/mag_fx_results.pdf" target="_blank" class="pdf">Results Floor Exercise Final Men</a>
	<a href="documents/mag/mag_fx_tiebreak.pdf" target="_blank" class="pdf">Tiebreak Report Floor Exercise Final Men</a>
	<a href="documents/mag/mag_fx_startlist.pdf" target="_blank" class="pdf">Start List Floor Exercise Final Men</a>
<h2 class="wom">All-Around Final Women</h2>
	<ul class="podium-list">
		<li>🥇Gold - Sunisa Lee (USA)</li>
		<li>🥈Silver - Rebeca Andrade (BRA)</li>
		<li>🥉Bronze - Angelina Melnikova (ROC)</li>
	</ul>
	<br>
	<a href="documents/wag/wag_aa_results.pdf" target="_blank" class="pdf">Results All-Around Final Women</a>
	<a href="documents/wag/wag_aa_startlist.pdf" target="_blank" class="pdf">Start List All-Around Final Women</a>
<h2 class="men">All-Around Final Men</h2>
    <ul class="podium-list">
        <li>🥇Gold - Hashimoto Daiki (JPN)</li>
        <li>🥈Silver - Xiao Routeng (CHN)</li>
        <li>🥉Bronze - Nikita Nagornyy (ROC)</li>
    </ul>
    <br>
	<a href="documents/mag/mag_aa_results.pdf" target="_blank" class="pdf">Results All-Around Final Men</a>
	<a href="documents/mag/mag_aa_startlist.pdf" target="_blank" class="pdf">Start List All-Around Final Men</a>
<h2 class="wom">Teams Final Women</h2>
    <ul class="podium-list">
        <li>🥇Gold - Russian Olympic Committee</li>
        <li>🥈Silver - United States of America</li>
        <li>🥉Bronze - Great Britain</li>
    </ul>
    <br>
	<a href="documents/wag/wag_tf_results.pdf" target="_blank" class="pdf">Results Teams Final Women</a>
	<a href="documents/wag/wag_tf_startlist.pdf" target="_blank" class="pdf">Start List Team Final Women</a>
<h2 class="men">Team Final Men</h2>
    <ul class="podium-list">
        <li>🥇Gold - Russian Olympic Committee</li>
        <li>🥈Silver - Japan</li>
        <li>🥉Bronze - People's Republic of China</li>
    </ul>
    <br>
	<a href="documents/mag/mag_tf_results.pdf" target="_blank" class="pdf">Results Team Final Men</a>
	<a href="documents/mag/mag_tf_startlist.pdf" target="_blank" class="pdf">Start List Team Final Men</a>
<h2 class="wom">Qualification Women</h2>
	<a href="documents/wag/wag_quals_team.pdf" target="_blank" class="pdf">Qualification Teams Women</a>
	<a href="documents/wag/wag_quals_aa.pdf" target="_blank" class="pdf">Qualification All-Around Women</a><br>
	<a href="documents/wag/wag_quals_vt.pdf" target="_blank" class="pdf">Qualification Vault Women</a>
	<a href="documents/wag/wag_quals_ub.pdf" target="_blank" class="pdf">Qualification Uneven Bars Women</a>
	<a href="documents/wag/wag_quals_bb.pdf" target="_blank" class="pdf">Qualification Beam Women</a>
	<a href="documents/wag/wag_quals_fx.pdf" target="_blank" class="pdf">Qualification Floor Exercise Women</a>
<h2 class="men">Qualification Men</h2>
	<a href="documents/mag/mag_quals_team.pdf" target="_blank" class="pdf">Qualification Teams Men</a>
	<a href="documents/mag/mag_quals_aa.pdf" target="_blank" class="pdf">Qualification All-Around Men</a><br>
	<a href="documents/mag/mag_quals_fx.pdf" target="_blank" class="pdf">Qualification Floor Exercise Men</a>
	<a href="documents/mag/mag_quals_ph.pdf" target="_blank" class="pdf">Qualification Pommel Horse Men</a>
	<a href="documents/mag/mag_quals_sr.pdf" target="_blank" class="pdf">Qualification Rings Men</a>
	<a href="documents/mag/mag_quals_vt.pdf" target="_blank" class="pdf">Qualification Vault Men</a>
	<a href="documents/mag/mag_quals_pb.pdf" target="_blank" class="pdf">Qualification Parallel Bars Men</a>
	<a href="documents/mag/mag_quals_hb.pdf" target="_blank" class="pdf">Qualification Horizontal Bar Men</a>

<h2 class="wom">Qualification Start Lists</h2>
	<a href="documents/mag/mag_quals_startlist.pdf" target="_blank" class="pdf">MAG Qualifications Start List</a>
	<a href="documents/wag/wag_quals_startlist.pdf" target="_blank" class="pdf">WAG Qualifications Start List</a>

<h2 class="men">Documents</h2>
	<a href="documents/drawing_of_lots.pdf" target="_blank" class="pdf">Drawing of Lots - starting order for all events</a>

    <br>
    <a href="documents/mag/mag_qualifiers_list.pdf" target="_blank" class="pdf">MAG List of 2020 Qualifiers</a>
    <a href="documents/wag/wag_qualifiers_list.pdf" target="_blank" class="pdf">WAG List of 2020 Qualifiers</a>




