---
title: "2025 Cottbus World Cup (Turnier der Meister)"
year: 2025
startdate: 2025-02-20
enddate: 2025-02-23
country: "GER"
category: "turnier-der-meister"
layout: results
---
	
{% include resultsheader.html title="Turnier der Meister<br>Cottbus World Cup (GER)<br>2025 Feb 22-25" %}

<h2 class="men">Apparatus Finals Day 2</h2>
<ul class="podium-list">
    <li><b>Vault</b> 🥇Gold - Artur Davtyan (ARM)</li>
    <li><b>Parallel Bars</b> 🥇Gold - Sugimoto Kaito (JPN)</li>
    <li><b>Horizontal Bar</b> 🥇Gold - Kawakami Shohei (JPN)</li>
</ul>
<br>
<ul class="podium-list">
    <li><b>Beam</b> 🥇Gold - Zhou Yaqin (CHN)</li>
    <li><b>Floor Exercise</b> 🥇Gold - Zhang Yihan (CHN)</li>
</ul>
<br>
<a href="documents/mag_vt.pdf" target="_blank" class="pdf">Men's Vault Final Results</a>
<a href="documents/mag_pb.pdf" target="_blank" class="pdf">Men's Parallel Bars Final Results</a>
<a href="documents/mag_hb.pdf" target="_blank" class="pdf">Men's Horizontal Bar Final Results</a>
<a href="documents/wag_bb.pdf" target="_blank" class="pdf">Women's Beam Final Results</a>
<a href="documents/wag_fx.pdf" target="_blank" class="pdf">Women's Floor Final Results</a>

<h2 class="wom">Apparatus Finals Day 1</h2>	
<ul class="podium-list">
    <li><b>Floor Exercise</b> 🥇Gold - Milad Karimi (KAZ)</li>
    <li><b>Pommel Horse</b> 🥇Gold - Shiao Yu-Jan (TPE)</li>
    <li><b>Rings</b> 🥇Gold - Vahagn Davtyan (ARM)</li>
</ul>
<br>	
<ul class="podium-list">
    <li><b>Vault</b> 🥇Gold - Teja Belak (SLO)</li>
    <li><b>Uneven Bars</b> 🥇Gold - Zhang Kexin (CHN)</li>
</ul>
<br>
<a href="documents/mag_fx.pdf" target="_blank" class="pdf">Men's Floor Final Results</a>
<a href="documents/mag_ph.pdf" target="_blank" class="pdf">Men's Pommel Horse Final Results</a>
<a href="documents/mag_sr.pdf" target="_blank" class="pdf">Men's Rings Final Results</a>
<a href="documents/wag_vt.pdf" target="_blank" class="pdf">Women's Vault Final Results</a>
<a href="documents/wag_ub.pdf" target="_blank" class="pdf">Women's Uneven Bars Final Results</a>

<h2 class="men">Apparatus Qualifications Day 2</h2>
<a href="documents/mag_qual_vt.pdf" target="_blank" class="pdf">Men's Vault Qualification</a>
<a href="documents/mag_qual_pb.pdf" target="_blank" class="pdf">Men's Parallel Bars Qualification</a>
<a href="documents/mag_qual_hb.pdf" target="_blank" class="pdf">Men's Horizontal Bar Qualification</a>
<a href="documents/wag_qual_bb.pdf" target="_blank" class="pdf">Women's Beam Qualification</a>
<a href="documents/wag_qual_fx.pdf" target="_blank" class="pdf">Women's Floor Qualification</a>

<h2 class="wom">Apparatus Qualifications Day 1</h2>	
<a href="documents/mag_qual_fx.pdf" target="_blank" class="pdf">Men's Floor Qualification</a>
<a href="documents/mag_qual_ph.pdf" target="_blank" class="pdf">Men's Pommel Horse Qualification</a>
<a href="documents/mag_qual_sr.pdf" target="_blank" class="pdf">Men's Rings Qualification</a>
<a href="documents/wag_qual_vt.pdf" target="_blank" class="pdf">Women's Vault Qualification</a>
<a href="documents/wag_qual_ub.pdf" target="_blank" class="pdf">Women's Uneven Bars Qualification</a>



