---
title: "2022 European Artistic Gymnastics Championships Munich"
year: 2022
startdate: 2022-08-11
enddate: 2022-08-21
country: "GER"
category: "euros"
layout: results
---

{% include resultsheader.html title="2022 European Men&rsquo;s and Women&rsquo;s Artistic Gymnastics Championships<br>Munich (GER)<br>2022 August 11-21" %}

<img src="images/logo.png" width="300" alt="event logo">

<h2 class="men">Results Apparatus Finals Men Day 2</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Jake Jarman (GBR)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Joe Fraser (GBR)</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Marios Georgiou (CYP)</li>
	</ul>
	<br>
	<a href="documents/magvtfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Vault</a>
	<a href="documents/magpbfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Parallel Bars</a>
	<a href="documents/maghbfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Horizontal Bar</a>

<h2 class="wom">Result Apparatus Finals Women Day 2</h2>
	<ul class="podium-list">
		<li><b>Beam</b> 🥇Gold - Emma Malewski (GER)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Jessica Gadirova (GBR)</li>
	</ul>
	<br>
	<a href="documents/wagbbfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Beam</a>
	<a href="documents/wagfxfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Floor Exercise</a>

<h2 class="men">Results Apparatus Finals Men Day 1</h2>
	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Artem Dolgopyat (ISR)</li>
		<li><b>Pommel Horse</b> 🥇Gold - Harutyun Merdinyan (ARM)</li>
		<li><b>Rings</b> 🥇Gold - Eleftherios Petrounias (GRE)</li>
	</ul>
	<br>
	<a href="documents/magfxfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Floor Exercise</a>
	<a href="documents/magphfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Pommel Horse</a>
	<a href="documents/magsrfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Rings</a>

<h2 class="wom">Result Apparatus Finals Women Day 1</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Zsofia Kovacs (HUN)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Elisabeth Seitz (GER)</li>
	</ul>
	<br>
	<a href="documents/wagvtfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Vault</a>
	<a href="documents/wagubfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Uneven Bars</a>

<h2 class="men">Results Team Final Men</h2>
	<ul class="podium-list">
		<li>🥇Gold - Great Britain</li>
		<li>🥈Silver - Italy</li>
		<li>🥉Bronze - Turkey</li>
	</ul>
	<br>
	<a href="documents/magteamfinal.pdf" target="_blank" class="pdf">Team Final Men</a>

<h2 class="wom">Results Team Final Women</h2>
	<ul class="podium-list">
		<li>🥇Gold - Italy</li>
		<li>🥈Silver - Great Britain</li>
		<li>🥉Bronze - Germany</li>
	</ul>
	<br>
	<a href="documents/wagteamfinal.pdf" target="_blank" class="pdf">Team Final Women</a>

<h2 class="men">Results All-Around Final Men</h2>
	<p>The all-around medals were determined by the qualification results.</p>
	<ul class="podium-list">
		<li>🥇Gold - Joe Fraser (GBR)</li>
		<li>🥈Silver - Ahmet Onder (TUR)</li>
		<li>🥉Bronze - Adem Asil (TUR)</li>
	</ul>
	<br>
	<a href="documents/magaaqual.pdf" target="_blank" class="pdf">All Around Qualification/Final Men</a>

<h2 class="wom">Results All-Around Final Women</h2>
	<p>The all-around medals were determined by the qualification results.</p>
	<ul class="podium-list">
		<li>🥇Gold - Asia D'Amato (ITA)</li>
		<li>🥈Silver - Alice Kinsella (GBR)</li>
		<li>🥉Bronze - Martina Maggio (ITA)</li>
	</ul>
	<br>
	<a href="documents/wagaaqual.pdf" target="_blank" class="pdf">All Around Qualification/Final Women</a>

<h2 class="men">Results Qualification Men</h2>
	<a href="documents/magaaqual.pdf" target="_blank" class="pdf">All-Around Qualification/Final Men</a>
	<a href="documents/magteamqual.pdf" target="_blank" class="pdf">Team Qualification Men</a>
	<a href="documents/magfxqual.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magphqual.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magsrqual.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magvtqual.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magpbqual.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/maghbqual.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>

<h2 class="wom">Results Qualification Women</h2>
	<a href="documents/wagaaqual.pdf" target="_blank" class="pdf">All Around Qualification/Final Women</a>
	<a href="documents/wagteamqual.pdf" target="_blank" class="pdf">Team Qualification Women</a>
	<a href="documents/wagvtqual.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagubqual.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagbbqual.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagfxqual.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>

<h2 class="men">Documents</h2>

	<a href="documents/wagsl.pdf" target="_blank" class="pdf">WAG Start List</a>
	<a href="documents/magsl.pdf" target="_blank" class="pdf">MAG Start List</a>
	<a href="documents/wagresultsbook.pdf" target="_blank" class="pdf">WAG Full Results Book</a>
	<a href="documents/magresultsbook.pdf" target="_blank" class="pdf">MAG Full Results Book</a>

