BODY {
	background: url("olympics/bg.jpg") repeat fixed;
	font-size : 12px;
	color: Black;
	font-family: "Verdana, Geneva, Arial, Helvetica, sans-serif";
	font-weight: "normal";
	width: 800px;
	}
A:link { text-decoration: none }
A:active { text-decoration: none }
A:visited { text-decoration: none }
h1 {
	color: Blue;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 0px 10px 5px;
	}		
h2 {
	color: Blue;
	font-size: 15px;
	font-weight: bold;
	margin: 0px 0px 10px 5px;
	}		
h3 {
	color: Blue;
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0px 5px 5px;
}		
h4 {
	color: Red;
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0px 5px 5px;
}		
LI {
	font-size: 10px;
	vertical-align: middle;
	list-style: disc;
	color: Blue;
	font-weight: normal;
}
.red { color: Red; }
.blue { color: Blue; }
.black { color: Black; }
.green {	color: Green;}
.rb15 { color: Red;
	font-weight: bold;
	font-size: 15px;
	 }
.rb12 { color: Red;
	font-weight: bold;
	font-size: 12px;
	 }
.r12 { color: Red;
	font-size: 12px;
	 }
.rb10 { color: Red;
	font-weight: bold;
	font-size: 10px;
	 }
.bb15 { color: Blue;
	font-weight: bold;
	font-size: 15px;
	 }
.b15 {
	color: Blue;
	font-weight: normal;
	font-size: 15px;
}
.b12 { color: Blue;
	font-size: 12px;
	 }
.bb12 { color: Blue;
	font-weight: bold;
	font-size: 12px;
	 }
.bb10 { color: Blue;
	font-weight: bold;
	font-size: 10px;
	 }
.yb15 {color: Yellow;
	font-weight: bold;
	font-size: 15px; }
.y15 { color: Yellow;
	font-weight: normal;
	font-size: 15px; }
.yb12 { color: Yellow;
	font-weight: bold;
	font-size: 12px;  }
.a12 {
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	}	 
.a10 {
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	}	 	 
SUP { color: Blue; }	 
.maa { background: #ffffff;
	border: 1px solid Navy; }
.waa { background: #ffffff;
	border: 1px solid Navy; }
TABLE.resf {
	background: #99FFFF;
	border: medium double Navy;
	}
CAPTION {
	font-size: 15px;
	color: Purple;
	font-weight: bold;
	background: #E6E6FA 100%;
	}		
CAPTION.NOW {
	font-size: 15px;
	color: Purple;
	font-weight: bold;
	background: #ffccff 100%;
}		
TH {
	color: #000000;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	}
.slabo { color : #99CCFF; }
.slabow { color : #FFCCCC; }
.men { background-color : #99CCFF; }	 
.wom { background-color: #ffb6c1; }	
.abp { background-color: #f4fff4; }		
.one { background: #eeeeee; }
.two { background: #fafafa; }
.team {background: #ffffcc; }
.svk { background: #E8F3FF; }
.siva { background: #d4d4d4; }		
.oddel {	border-right: medium solid #d4d4d4; }		
TD {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	color: Black;
	}
