---
title: "2020 American Cup"
year: 2020
startdate: 2020-03-07
country: "USA"
category: "world-cup"
layout: results
---

{% include resultsheader.html title="2020 American Cup<br>Milwaukee, WI (USA)<br> 2020 March 7" %}

<img src="images/20logo.png" alt="American Cup logo">
<h2 class="men">Results Men</h2>
	<ul class="podium-list">
		<li>🥇Gold - Sam Mikulak (USA)</li>
		<li>🥈Silver - Oleg Verniaiev (UKR)</li>
		<li>🥉Bronze - James Hall (GBR)</li>
	</ul>
	<br>
	<a href="documents/mag.pdf" target="_blank" class="pdf">Men All-Around Results</a>

<h2 class="wom">Results Women</h2>
	<ul class="podium-list">
		<li>🥇Gold - Morgan Hurd (USA)</li>
		<li>🥈Silver - Kayla Di Cello (USA)</li>
		<li>🥉Bronze - Hitomi Hatakeda (JPN)</li>
	</ul>
	<br>
	<a href="documents/wag.pdf" target="_blank" class="pdf">Women All-Around Results</a>




