---
title: "2019 Birmingham World Cup"
year: 2019
startdate: 2019-03-23
country: "GBR"
category: "world-cup"
layout: results
---

{% include resultsheader.html title="2019 Birmingham World Cup (GBR)<br>March 23 2019" %}

<img src="images/logo.jpg" alt="Birmingham world cup logo">
<h2 class="men">Results Men</h2>
	<ul class="podium-list">
		<li>🥇Gold - Nikita Nagornyy (RUS)</li>
		<li>🥈Silver - Sun Wei (CHN)</li>
		<li>🥉Bronze - Kazuma Kaya (JPN)</li>
	</ul>
	<br>
	<a href="documents/magaa.pdf" target="_blank" class="pdf">Men's All-Around Results</a>
	<br>
	<a href="documents/magfx.pdf" target="_blank" class="pdf">Men's Detailed Floor Results</a>
	<a href="documents/magph.pdf" target="_blank" class="pdf">Men's Detailed Pommel Horse Results</a>
	<a href="documents/magsr.pdf" target="_blank" class="pdf">Men's Detailed Rings Results</a>
	<a href="documents/magvt.pdf" target="_blank" class="pdf">Men's Detailed Vault Results</a>
	<a href="documents/magpb.pdf" target="_blank" class="pdf">Men's Detailed Parallel Bars Results</a>
	<a href="documents/maghb.pdf" target="_blank" class="pdf">Men's Detailed Horizontal Bar Results</a>


<h2 class="wom">Results Women</h2>
	<ul class="podium-list">
		<li>🥇Gold - Aliya Mustafina (RUS)</li>
		<li>🥈Silver - Riley McCusker (USA)</li>
		<li>🥉Bronze - Thais Fidelis (BRA)</li>
	</ul>
	<br>
	<a href="documents/wagaa.pdf" target="_blank" class="pdf">Women's All-Around Results</a>
	<br>
	<a href="documents/wagvt.pdf" target="_blank" class="pdf">Women's Detailed Vault Results</a>
	<a href="documents/wagub.pdf" target="_blank" class="pdf">Women's Detailed Uneven Bars Results</a>
	<a href="documents/wagbb.pdf" target="_blank" class="pdf">Women's Detailed Beam Results</a>
	<a href="documents/wagfx.pdf" target="_blank" class="pdf">Women's Detailed Floor Results</a>




