---
title: "30th Gym-Festival 2017 Trnava"
year: 2017
startdate: 2017-06-03
enddate: 2017-06-04
country: "SVK"
category: "gym-festival"
layout: results
redirect_from: /2017/eu/svk/gym-festival-trnava.html
---

{% include resultsheader.html title="30th Gym Festival<br>Trnava (SVK)<br>2017 June 3-4" %}

<img src="images/logo.jpg" alt="30th Gym Festival Trnava (SVK) 2017 June 3-4">
<!--WAG Senior-->
<h2 class="wom">International Championships Women Senior</h2>
	<a href="documents/senaa.pdf" target="_blank" class="pdf">All Around Women Senior</a>
	<a href="documents/af1vt.pdf" target="_blank" class="pdf">Vault Final Women Senior</a>
	<a href="documents/af2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women Senior</a>
	<a href="documents/af3bb.pdf" target="_blank" class="pdf">Beam Final Women Senior</a>
	<a href="documents/af4fx.pdf" target="_blank" class="pdf">Floor Exercise Finals Women</a>
<!--WAG Junior-->
<h2 class="wom">International Championships Women Junior</h2>
	<a href="documents/junaa.pdf" target="_blank" class="pdf">All Around Women Junior</a>
	<a href="documents/junaf1vt.pdf" target="_blank" class="pdf">Vault Final Women Junior</a>
	<a href="documents/junaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women Junior</a>
	<a href="documents/junaf3bb.pdf" target="_blank" class="pdf">Beam Final Women Junior</a>
	<a href="documents/junaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Finals Women Junior</a>
<!--WAG Senior MS-->
<h2 class="men">Slovak Championships Women Senior</h2>
	<a href="documents/msaa.pdf" target="_blank" class="pdf">All Around Women Senior</a>
	<a href="documents/msaf1vt.pdf" target="_blank" class="pdf">Vault Final Women Senior</a>
	<a href="documents/msaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women Senior</a>
	<a href="documents/msaf3bb.pdf" target="_blank" class="pdf">Beam Final Women Senior</a>
	<a href="documents/msaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Finals Women</a>
<!--WAG Junior MS-->
<h2 class="men">Slovak Championships Women Junior</h2>
	<a href="documents/msjunaa.pdf" target="_blank" class="pdf">All Around Women Junior</a>
	<a href="documents/msjunaf1vt.pdf" target="_blank" class="pdf">Vault Final Women Junior</a>
	<a href="documents/msjunaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women Junior</a>
	<a href="documents/msjunaf3bb.pdf" target="_blank" class="pdf">Beam Final Women Junior</a>
	<a href="documents/msjunaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Finals Women Junior</a>
<!--PST-->
<h2 class="wom">Pohar Starobylej Trnavy Girls</h2>
	<a href="documents/pst.pdf" target="_blank" class="pdf">Teams Girls</a>

<br><img src="images/poster2.jpg" alt="30th Gym Festival Trnava (SVK) 2017 June 3-4">