---
title: "42nd Turnier der Meister Cottbus"
year: 2017
startdate: 2017-11-23
enddate: 2017-11-26
country: "GER"
category: "turnier-der-meister"
layout: results
redirect_from: /2017/eu/ger/turnier-der-meister.html
---

{% include resultsheader.html title="42nd Turnier der Meister<br>Cottbus (GER)<br>2017 Nov 23-26" %}
 
<img src="images/logo.jpg" alt="42th Turnier der Meister Cottbus (GER) 2017 Nov 23-26">
<!--MAG Final-->
<h2 class="men">Men Finals</h2>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Floor Exercise Finals Men</a>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Pommel Horse Finals Men</a>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Rings Finals Men</a>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Vault Finals Men</a>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Parallel Bars Finals Men</a>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Horizontal Bar Finals Men</a>
<!--WAG Final-->
<h2 class="wom">Women Finals</h2>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Finals Women</a>
<!--MAG Qual-->
<h2 class="men">Men Qualification</h2>
	<a href="documents/magq1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magq2ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magq3sr.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magq4vt.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magq5pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/magq6hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>
<!--WAG Qual-->
<h2 class="wom">Women Qualification</h2>
	<a href="documents/wagq1vt.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagq2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagq3bb.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagq4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>
