---
title: "50th FIG AG World Championships Kitakyushu"
year: 2021
startdate: 2021-10-18
enddate: 2021-10-24
country: "JPN"
category: "worlds"
layout: results
---

{% include resultsheader.html title="50th FIG Artistic Gymnastics World Championships<br>Kitakyushu (JPN)<br>2021 Oct 18 - 24" %}
 
<img src="images/logo.png" alt="50th FIG Artistic Gymnastics World Championships Kitakyushu">

<h2 class="men">Results Apparatus Finals Men Day 2</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Carlos Edriel Yulo (PHI)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Hu Xuwei (CHN)</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Hu Xuwei (CHN)</li>
	</ul>
	<br>
	<a href="documents/mag/magvtfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Vault</a>
	<a href="documents/mag/magpbfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Parallel Bars</a>
	<a href="documents/mag/maghbfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Horizontal Bar</a>

<h2 class="wom">Result Apparatus Finals Women Day 2</h2>
	<ul class="podium-list">
		<li><b>Beam</b> 🥇Gold - Ashikawa Urara (JPN)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Murakami Mai (JPN)</li>
	</ul>
	<br>
	<a href="documents/wag/wagbbfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Beam</a>
	<a href="documents/wag/wagfxfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Floor Exercise</a>

<h2 class="men">Results Apparatus Finals Men Day 1</h2>
	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Nicola Bartolini (ITA)</li>
		<li><b>Pommel Horse</b> 🥇Gold - Stephen Nedoroscik (USA)</li>
		<li><b>Rings</b> 🥇Gold - Lan Xingyu (CHN)</li>
	</ul>
	<br>
	<a href="documents/mag/magfxfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Floor Exercise</a>
	<a href="documents/mag/magphfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Pommel Horse</a>
	<a href="documents/mag/magsrfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Rings</a>

<h2 class="wom">Result Apparatus Finals Women Day 1</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Rebeca Andrade (BRA)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Wei Xiaoyuan (CHN)</li>
	</ul>
	<br>
	<a href="documents/wag/wagvtfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Vault</a>
	<a href="documents/wag/wagubfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Uneven Bars</a>

<h2 class="wom">Apparatus Finals Start Lists</h2>
<a href="documents/efstartlist1.pdf" target="_blank" class="pdf">Apparatus Finals Start List Day 1</a>
<a href="documents/efstartlist1updated.pdf" target="_blank" class="pdf">Apparatus Finals Start List Day 1 (Updated)</a>
<p>Hashimoto Daiki and Zhang Boheng withdrew from Day 1 of apparatus finals. </p>
<a href="documents/efstartlist2.pdf" target="_blank" class="pdf">Apparatus Finals Start List Day 2</a>
<a href="documents/efstartlist2updated.pdf" target="_blank" class="pdf">Apparatus Finals Start List Day 2 (Updated)</a>
<p>Zhang Boheng withdrew from Day 2 of apparatus finals. </p>


<h2 class="men">All-Around Final Men</h2>
<ul class="podium-list">
	<li>🥇Gold - Zhang Boheng (CHN)</li>
	<li>🥈Silver - Hashimoto Daiki (JPN)</li>
	<li>🥉Bronze - Illia Kovtun (UKR)</li>
</ul>
<a href="documents/mag/aafinal.pdf" target="_blank" class="pdf">Results</a>
<a href="documents/mag/aastartlistupdated.pdf" target="_blank" class="pdf">Start List (Updated)</a>
<p>Jossimar Calvo had to withdraw due to a positive COVID test. Ilias Georgiou and Milad Karimi withdrew in order to focus on event finals.</p>
<a href="documents/mag/aastartlist.pdf" target="_blank" class="pdf">Start List</a>

<h2 class="wom">All-Around Final Women</h2>
<ul class="podium-list">
	<li>🥇Gold - Angelina Melnikova (RGF)</li>
	<li>🥈Silver - Leanne Wong (USA)</li>
	<li>🥉Bronze - Kayla DiCello (USA)</li>
</ul>
<a href="documents/wag/aafinal.pdf" target="_blank" class="pdf">Results</a>
<a href="documents/wag/aastartlist.pdf" target="_blank" class="pdf">Start List</a>
<p>Hatakeda Hitomi had to withdraw due to injury.</p>
	
<h2 class="men">Qualification Men</h2>
<a href="documents/mag/qaa.pdf" target="_blank" class="pdf">All-Around Qualification</a><br>
<a href="documents/mag/q1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification</a>
<a href="documents/mag/q2ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification</a>
<a href="documents/mag/q3sr.pdf" target="_blank" class="pdf">Rings Qualification</a>
<a href="documents/mag/q4vt.pdf" target="_blank" class="pdf">Vault Qualification</a>
<a href="documents/mag/q5pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification</a>
<a href="documents/mag/q6hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification</a>

<h2 class="wom">Qualification Women</h2>
<a href="documents/wag/qaa.pdf" target="_blank" class="pdf">All-Around Qualification</a><br>
<a href="documents/wag/q1vt.pdf" target="_blank" class="pdf">Vault Qualification</a>
<a href="documents/wag/q2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification</a>
<a href="documents/wag/q3bb.pdf" target="_blank" class="pdf">Beam Qualification</a>
<a href="documents/wag/q4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification</a>

<h2 class="men">Event documents</h2>
<a href="documents/wag/slwag.pdf" target="_blank" class="pdf">WAG Start List for Qualification</a>
<a href="documents/mag/slmag.pdf" target="_blank" class="pdf">MAG Start List for Qualification</a>