---
title: "Paris Olympic Games 2024 Qualification"
country: "FRA"
layout: results
year: 2024
homepage: false
---

{% include resultsheader.html title="Paris Olympic Games 2024 Qualification" %}
 
<img src="logo.png" width="300px" alt="Paris 2024 Logo">

<p>There are a number of different ways for artistic gymnasts to qualify for the 2024 Olympics Games in Paris, France. Countries may qualify a team of 5 athletes, or up to 3 individual places are available for countries without a team (these 3 athletes may not compete as a team).</p> 
<p>Here we will break down the different ways to qualify, and as those places are decided we will update the page with who has qualified.</p>

<h2 class="wom">Official FIG Documents</h2>

<a href="documents/olympic_qual_2024.pdf" target="_blank" class="pdf">2024 Olympic Qualification System</a>
<a href="documents/olympic_qual_2024_tiebreaking.pdf" target="_blank" class="pdf">2024 Olympic Qualification Tiebreaking Rules</a>
<a href="documents/mag_qualifiers_after_2023_wch.pdf" target="_blank" class="pdf">MAG Qualifiers after 2023 World Championships</a>
<a href="documents/wag_qualifiers_after_2023_wch.pdf" target="_blank" class="pdf">WAG Qualifiers after 2023 World Championships</a>

<h2 class="men">Criteria 1: 2022 World Championships – Team Final</h2>

<p>The top 3 teams in the team final at the 2022 World Championships qualify a five person team place for the Olympics.</p>

<p>The teams that qualified were:</p>

<h3 class="left">Men</h3>
<ul>
    <li>China</li>
    <li>Japan</li>
    <li>Great Britain</li>
</ul>

<h3 class="left">Women</h3>
<ul>
    <li>USA</li>
    <li>Great Britain</li>
    <li>Canada</li>
</ul>

<h2 class="wom">Criteria 2: 2023 World Championships – Team Qualification</h2>

<p>The highest ranked 9 teams from the 2023 World Championships qualification round, not including the 3 teams already qualified from the 2022 World Championships, each qualify a five person team place for the Olympics. 
</p>

<p>The teams that qualified were:</p>

<h3 class="left">Men</h3>
<ul>
    <li>USA</li>
    <li>Canada</li>
    <li>Germany</li>
    <li>Italy</li>
    <li>Switzerland</li>
    <li>Spain</li>
    <li>Turkey</li>
    <li>Netherlands</li>
    <li>Ukraine</li>
</ul>

<h3 class="left">Women</h3>
<ul>
    <li>China</li>
    <li>Brazil</li>
    <li>Italy</li>
    <li>Netherlands</li>
    <li>France</li>
    <li>Japan</li>
    <li>Australia</li>
    <li>Romania</li>
    <li>Republic of Korea</li>
</ul>

<h2 class="men">Criteria 3: 2023 World Championships – Individual Athletes from Non-Qualified Teams</h2>

<p>Based on the qualification results from the 2023 World Championships, the three highest countries not qualified through criteria 1 or 2 will qualify one individual athlete place for their country. This place is allocated to the country, not to a specific athlete.</p>

<p>The countries that qualified these places were:</p>

<h3 class="left">Men</h3>
<ul>
    <li>Brazil</li>
    <li>Republic of Korea</li>
    <li>Belgium</li>
</ul>

<h3 class="left">Women</h3>
<ul>
    <li>Germany</li>
    <li>Mexico</li>
    <li>Hungary</li>
</ul>

<h2 class="wom">Criteria 4: 2023 World Championships – All-Around Qualification Athletes</h2>

<p>Based on the qualification results from the 2023 World Championships, the top 8 men and 14 women in the all-around standings who are NOT from a country that has already qualified a team place are awarded an individual qualification place.</p>

<p>This is limited to one athlete per country, and is allocated to the athlete by name and not to their country.</p>

<p>The athletes that qualified were:</p>

<h3 class="left">Men</h3>
<ul>
    <li>Milad Karimi (KAZ)</li>
    <li>Artem Dolgopyat (ISR)</li>
    <li>Artur Davtyan (ARM)</li>
    <li>Krisztofer Meszaros (HUN)</li>
    <li>Lee Junho (KOR)</li>
    <li>Diogo Soares (BRA)</li>
    <li>Luka Van Den Keybus (BEL)</li>
    <li>Andrei Muntean (ROU)</li>
</ul>

<h3 class="left">Women</h3>
<ul>
    <li>Kaylia Nemour (ALG)</li>
    <li>Pauline Schaefer-Betz (GER)</li>
    <li>Alexa Moreno (MEX)</li>
    <li>Filipa Martins (POR)</li>
    <li>Aleah Finnegan (PHI)</li>
    <li>Bettina Lili Czifra (HUN)</li>
    <li>Alba Petisco (ESP)</li>
    <li>Anna Lashchevska (UKR)</li>
    <li>Lena Bickel (SUI)</li>
    <li>Hillary Heron (PAN)</li>
    <li>Caitlin Rooskrantz (RSA)</li>
    <li>Sona Artamonova (CZE)</li>
    <li>Lihie Raz (ISR)</li>
    <li>Lucija Hribar (SLO)</li>
</ul>

<h2 class="men">Criteria 5: 2023 World Championships – Individual Apparatus Athletes</h2>

<p>At the 2023 World Championships, the highest ranked athlete on each apparatus, based first on the Apparatus Finals results and then, if needed, on the Apparatus Qualifications results, will qualify one place by name. Gymnasts whose team has qualified through previous criteria or who have qualified through the all-around rankings are not eligible.
</p>

<p>Note: At the Olympic Games these athletes may participate in Qualifications on all apparatus.</p>

<p>The athletes who qualified were:</p>
    
<h3 class="left">Men</h3>
<ul>
    <li><b>Floor:</b> Carlos Edriel Yulo (PHI)</li>
    <li><b>Pommel Horse:</b> Rhys McClenaghan (IRL)</li>
    <li><b>Rings:</b> Eleftherios Petrounias (GRE)</li>
    <li><b>Vault:</b> Kevin Penev (BUL)</li>
    <li><b>Parallel Bars:</b> Noah Kauvita (BEL)</li>
    <li><b>Horizontal Bar:</b> Tin Srbic (CRO)</li>
</ul>

<h3 class="left">Women</h3>
<ul>
    <li><b>Vault:</b> Csenge Maria Bacskay (HUN)</li>
    <li><b>Uneven Bars:</b> Ahtziri Sandoval (MEX)</li>
    <li><b>Beam:</b> Ana Perez (ESP)</li>
    <li><b>Floor:</b> Sarah Voss (GER)</li>
</ul>

<h2 class="wom">Criteria 6: 2024 Individual Apparatus World Cup Series</h2>

<p>Four Individual Apparatus World Cup competitions will be held in early 2024, with the three highest results per athlete per apparatus being taken into consideration.</p>

<p>All countries may send up to two athletes per apparatus to these competitions.</p>

<p>Athletes whose country has qualified a team already, or athletes who already qualified themselves a spot individually through Criteria 4 or 5, may take part but are not eligible to earn an additional place for their team.</p>

<p>The top two ranked gymnasts on each apparatus after the series concludes qualifies a place for the Olympics. This place is allocated to the athlete by name and not to their country.</p>

<p>Only one athlete per country on each apparatus may qualify through this criteria.</p>

<p>Countries may only qualify up to 3 individuals in total, and the tiebreaking rules for this are set out in the tiebreaking document above.</p>

<p>Note: At the Olympic Games these athletes may participate in Qualifications on all apparatus, but may not compete as part of a team.</p>

<p>The athletes who qualified were:</p>

<h3 class="left">Men</h3>
<ul>
    <li><b>Floor:</b> Ryu Sunghyun (KOR), Aurel Benovic (CRO) </li>
    <li><b>Pommel Horse:</b> Ahmad Abu Al Soud (JOR), Nariman Kurbanov (KAZ) </li>
    <li><b>Rings:</b> Vahagn Davtyan (ARM), Samir Ait Said (FRA)</li>
    <li><b>Vault:</b> Shek Wai Hung (HKG), Mahdi Olfati (IRI)</li>
    <li><b>Parallel Bars:</b> Angel Barajas (COL), Rasuljon Abdurakhimov (UZB)</li>
    <li><b>Horizontal Bar:</b> Tang Chia-Hung (TPE), Robert Tvorogal (LTU)</li>
</ul>

<h3 class="left">Women</h3>
<ul>
    <li><b>Vault:</b> An Chang Ok (KOR), Valentina Georgieva (BUL)</li>
    <li><b>Uneven Bars:</b> Georgia-Rose Brown (NZL), Levi Ruivivar (PHI)</li>
    <li><b>Balance Beam:</b> Nina Derwael (BEL), Ting Hua-Tien (TPE)</li>
    <li><b>Floor:</b> Charlize Moerz (AUT), Laura Casabuena (ESP)</li>
</ul>
<br>

<a href="documents/2024magapparatusqual.pdf" target="_blank" class="pdf">MAG Final Apparatus Standings</a>
<a href="documents/2024wagapparatusqual.pdf" target="_blank" class="pdf">WAG Final Apparatus Standings</a>

<h2 class="men">Criteria 7: 2024 Continental Championships</h2>

<p>The highest ranked eligible athlete based on either the all-around qualifications results or all-around final results from each continental championship will earn a named place to the Olympic Games. Whether this is based on the qualifications or finals results is at the discretion of each continental union and will be announced in advance of the competition.</p>

<p>Athletes whose country has qualified a team, who have already qualified a place for themselves via other criteria, or whose country has already qualified 3 individuals, will not be eligible.</p>

<h3 class="left">European Championsips</h3>
<ul>
    <li>Men: Marios Georgiou (CYP)</li>
    <li>Women: Maellyse Brassart (BEL)</li>
</ul>

<h3 class="left">Pan American Championsips</h3>
<ul>
    <li>Men: Audrys Nin Reyes (DOM)</li>
    <li>Women: Luisa Blanco (COL)</li>
</ul>

<h3 class="left">African Championsips</h3>
<ul>
    <li>Men: Omar Mohamed (EGY)</li>
    <li>Women: Jana Mahmoud (EGY)</li>
</ul>

<h3 class="left">Oceania Championsips</h3>
<ul>
    <li>Men: Jesse Moore (AUS)</li>
    <li>Women: Isabella Brett (NZL)</li>
</ul> 

<h3 class="left">Asian Championsips</h3>
<ul>
    <li>Men: Abdulla Azimov (UZB)</li>
    <li>Women: Emma Malabuyo (PHI)</li>
</ul> 

<h2 class="wom">Host Country and Universality Places</h2>

<p>The host country, France, is guaranteed one male athlete and one female athlete, if not qualified through any other Criteria. These athletes will be qualified by name from the highest ranked all-arounders from France at the 2023 World Championships qualifications. If they have already qualified one or more athletes through other means (including qualifying a team), this place is reallocated to the next highest eligible all-arounder from the 2023 World Championships qualifications.</p>

<p>France qualified a WAG team so the reallocated WAG place goes to Rifda Irfanaluthfi (INA).</p>

<p>France qualified a MAG individual, Samir Ait Said, so the reallocated MAG place goes to Khabibullo Ergashev (UZB).</p>

<p>The International Olympic Committee Tripartite Commission may invite up to one male and one female gymnast to compete at the Olympics, based on choosing countries who have typically sent small delegations to previous Olympics. Applications for these places must be sent by 15 January 2024.</p>

<p>The Tripartite places were awarded to Lynnzee Brown (Haiti) and Lais Najjar (Syria).</p>


