---
title: "2023 Winter Cup Louisville, KY"
year: 2023
startdate: 2023-02-24
enddate: 2023-02-26
country: "USA"
category: "winter-cup"
layout: results
---

{% include resultsheader.html title="Winter Cup<br>Louisville, Kentucky (USA)<br>2023 Feb 24-26" %}

<img src="images/logo.webp" alt="Winter Cup 2023 logo">

<h2 class="wom">Senior Women's All Around Results</h2>
    <ul class="podium-list">
        <li>🥇Gold - Lexi Zeiss</li>
        <li>🥈Silver - Ashlee Sullivan</li>
        <li>🥉Bronze - Nola Matthews</li>
    </ul>
    <a href="documents/wag_sraa.pdf" target="_blank" class="pdf">Senior Women's All Around Results</a>

<h2 class="wom">Junior Women's All Around Results</h2>
    <ul class="podium-list">
        <li>🥇Gold - Hezly Rivera</li>
        <li>🥈Silver - Jayla Hang</li>
        <li>🥉Bronze - Kieryn Finnell</li>
    </ul>
    <a href="documents/wag_jraa.pdf" target="_blank" class="pdf">Junior Women's All Around Results</a>

<h2 class="men">Senior Men's All Around Results</h2>
    <ul class="podium-list">
        <li>🥇Gold - Yul Moldauer</li>
        <li>🥈Silver - Fred Richard</li>
        <li>🥉Bronze - Asher Hong</li>
    </ul>
    <a href="documents/mag_sraa.pdf" target="_blank" class="pdf">Senior Men's All Around and Qualifications</a>

<h2 class="men">Senior Men's Event Finals Results</h2>

	<a href="documents/mag_sref.pdf" target="_blank" class="pdf">Senior Men's Event Finals</a>
	<a href="documents/mag_sr10points.pdf" target="_blank" class="pdf">Senior Men's 10 Point System Results</a>

<h2 class="wom">Junior Men's Results</h2>
    <ul class="podium-list">
        <li>🥇Gold - Kai Uemura</li>
        <li>🥈Silver - Garrett Schooley</li>
        <li>🥉Bronze - Zach Green</li>
    </ul>

	<a href="documents/mag_jraa.pdf" target="_blank" class="pdf">Junior Men's All Around</a>
	<a href="documents/mag_jref.pdf" target="_blank" class="pdf">Junior Men's Event Finals</a>
