---
title: "2021 Osijek World Cup"
year: 2021
startdate: 2021-06-10
enddate: 2021-06-13
country: "CRO"
category: "world-challenge-cup"
layout: results
---

{% include resultsheader.html title="DOBRO Osijek World Challenge Cup<br>Osijek (CRO)<br>2021 June 10-13" %}

<img src="logo.png" alt="Osijek world cup logo">

<h2 class="men">Men Apparatus Finals</h2>

	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Milad Karimi (KAZ)</li>
		<li><b>Pommel Horse</b> 🥇Gold -  Matvei Petrov (ALB)</li>
		<li><b>Rings</b> 🥇Gold - Vinzenz Hoeck (AUT)</li>
		<li><b>Vault</b> 🥇Gold - Igor Radivilov (UKR)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Ferhat Arican (TUR)</li>
		<li><b>Horizontal Bar</b> 🥇Gold -  Tin Srbic (CRO)</li>
	</ul>

<!--WAG Final-->
<h2 class="wom">Women Apparatus Finals</h2>

	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Csenge Bacskay (HUN)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Nina Derwael (BEL)</li>
		<li><b>Beam</b> 🥇Gold - Nina Derwael (BEL)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Ana Derek (CRO)</li>
	</ul>

<h2 class="men">Finals Results</h2>

    <a href="documents/finals_day_1.pdf" target="_blank" class="pdf">Finals Day 1</a>
    <a href="documents/finals_day_2.pdf" target="_blank" class="pdf">Finals Day 2</a>

<h2 class="wom">Qualification</h2>

	<a href="documents/qualifications_day_1.pdf" target="_blank" class="pdf">Qualification Day 1</a>
	<a href="documents/qualifications_day_2.pdf" target="_blank" class="pdf">Qualification Day 2</a>




