---
title: "2017 AT&amp;T American Cup Newark"
year: 2017
startdate: 2017-03-04
country: "USA"
category: "world-cup"
layout: results
redirect_from: /2017/usa/american-cup.html
---

{% include resultsheader.html title="2017 AT&amp;T American Cup<br>Prudential Center, Newark, NJ (USA)<br> 2017 March 4" %}

<img src="images/logo.jpg" alt="2017 AT&amp;T American Cup Newark, NJ (USA) 2017 March 4">
<h2 class="men">Results</h2>
	<img src="images/podium2.jpg" alt="2017 AT&amp;T American Cup Newark, NJ (USA) 2017 March 4">
	<br>
	<a href="documents/women.pdf" target="_blank" class="pdf">Women All-Around</a>
	<a href="documents/men.pdf" target="_blank" class="pdf">Men All-Around</a>
<h2 class="wom">Results Nastia Liukin Cup</h2>
	<img src="images/liukin2.jpg" alt="2017 AT&amp;T American Cup Newark, NJ (USA) 2017 March 4">
	<br>
	<a href="documents/liukinsen.pdf" target="_blank" class="pdf">Senior All-Around</a>
	<a href="documents/liukinjun.pdf" target="_blank" class="pdf">Junior All-Around</a>
<h2 class="men">Results Elite Team Cup Men</h2>
	<a href="documents/eliteteamcupmagsen.pdf" target="_blank" class="pdf">Men Senior Teams</a>
	<a href="documents/eliteteamcupmagsenaa.pdf" target="_blank" class="pdf">Men Senior All-Around</a>
	<a href="documents/eliteteamcupmagjun.pdf" target="_blank" class="pdf">Men Junior Teams</a>



