---
title: "2016 Secret Classic"
year: 2016
startdate: 2016-06-04
country: "USA"
category: "secret-classic"
layout: results
---

{% include resultsheader.html title="2016 Secret Classic<br>Hartford, CT (USA)<br>2016 June 4" %}

<h2 class="wom">Secret Classic Women</h2>
	<img src="images/wagpodium.jpg" alt="2016 Secret Classic Women Senior"><br>
	<a href="documents/wagsen.pdf" target="_blank" class="pdf">Results Seniors</a>
	<br>
	<img src="images/wagjunpodium.jpg" alt="2016 Secret Classic Women Junior"><br>
	<a href="documents/wagjun.pdf" target="_blank" class="pdf">Results Juniors</a>
	<br>
	<a href="documents/suscjunsl.pdf" target="_blank" class="pdf">Secret U.S. Classic Junior Start List</a>
	<a href="documents/suscsensl.pdf" target="_blank" class="pdf">Secret U.S. Classic Senior Start List</a>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
	<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday June 3</th></tr>
		<tr><td style="width:120px; vertical-align:top; text-align:center;">2:30 pm<br>7:00 pm</td>
			<td style="width:460px; vertical-align:top;">Women&rsquo;s Hopes Championships<br>Senior. Men&rsquo;s P&G Gymnastics Championships – Day 1</td></tr>
	<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday June 4</th></tr>
		<tr><td style="width:120px; vertical-align:top; text-align:center;">1:00 pm<br>7:00 pm</td>
			<td style="width:460px; vertical-align:top;">Junior Women&rsquo;s Secret U.S. Classic<br>Senior Women&rsquo;s Secret U.S. Classic</td></tr>
	<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday June 5</th></tr>
		<tr><td style="width:120px; vertical-align:top; text-align:center;">1:00 pm</td>
			<td style="width:460px; vertical-align:top;">Senior Men&rsquo;s P&G Gymnastics Championships – Final Day</td></tr>
	</table><br>
&nbsp; &nbsp; All times are Eastern and subject to change<br>