---
title: "World Challenge Cup 2016 Osijek"
year: 2016
startdate: 2016-04-28
enddate: 2016-05-01
country: "CRO"
category: "world-challenge-cup"
layout: results
redirect_from: /2016/eu/cro/world-challenge-cup-osijek.html
---

{% include resultsheader.html title="World Challenge Cup 2016<br>Osijek (CRO)<br>2016 April 28 - May 1" %}

<img src="images/logo3.jpg" alt="World Challenge Cup 2016 Osijek (CRO) 2016 April 28 - May 1">
<h2 class="men">Apparatus Finals Men Day 2</h2>
<div class="table-scroll" tabindex="-1">
<!--VT-->
<table class="maa" width="100%">
<tr class="men"><td style="width:50px;"><img src="/assets/images/icons/4vt50x50.gif" width=50 height=50 alt="Vault"></td>
	<th colspan=2>Vault</th>
	<th style="width:80px; text-align:center;">D</th>
	<th style="width:80px; text-align:center;">E</th>
	<th style="width:80px; text-align:center;">Pen</th>
	<th style="width:80px; text-align:center;">Score</th></tr>
<tr bgcolor="#000000"><td colspan=7 style="height:1px; padding:0px;"></td></tr>
<tr><td style="text-align:center; vertical-align:top;">1</td><td style="vertical-align:top;">Oleg VERNIAIEV</td><td style="text-align:center; vertical-align:top;">UKR</td>
		<td style="text-align:center; vertical-align:top;">6.000<br>6.000</td>
		<td style="text-align:center; vertical-align:top;">9.400<br>9.350</td>
		<td style="text-align:center; vertical-align:top;"><br>0.100</td>
		<td style="text-align:center; vertical-align:top;">15.400<br>15.250<br><b>15.325</b></td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center; vertical-align:top;">2</td><td style="vertical-align:top;">Paul RUGGERI III</td><td style="text-align:center; vertical-align:top;">USA</td>
	<td style="text-align:center;">5.800<br>5.600</td>
	<td style="text-align:center;">9.150<br>9.225</td>
	<td style="text-align:center;"><br>0.100</td>
	<td style="text-align:center;">14.950<br>14.725<br><b>14.838</b></td></tr>
<tr><td style="text-align:center; vertical-align:top;">3</td><td style="vertical-align:top;">Igor RADIVILOV</td><td style="text-align:center; vertical-align:top;">UKR</td>
		<td style="text-align:center;">6.400<br>6.000</td>
		<td style="text-align:center;">8.025<br>9.125</td>
		<td style="text-align:center;">0.100</td>
		<td style="text-align:center;">14.325<br>15.125<br><b>14.725</b></td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center; vertical-align:top;">4</td><td style="vertical-align:top;">Nikita NAGORNYY</td><td style="text-align:center; vertical-align:top;">RUS</td>
	<td style="text-align:center;">6.000<br>6.000</td>
		<td style="text-align:center;">9.225<br>8.250</td>
		<td style="text-align:center;">0.100<br>0.100</td>
		<td style="text-align:center;">15.125<br>14.150<br><b>14638</b></td></tr>
<tr><td style="text-align:center; vertical-align:top;">5</td><td style="vertical-align:top;">Denis ABLIAZIN</td><td style="text-align:center; vertical-align:top;">RUS</td>
		<td style="text-align:center;">6.400<br>6.200</td>
		<td style="text-align:center;">8.925<br>8.025</td>
		<td style="text-align:center;"><br>0.300</td>
		<td style="text-align:center;">15.325<br>13.925<br><b>14.625</b></td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center; vertical-align:top;">6</td><td style="vertical-align:top;">Andrey MEDVEDEV</td><td style="text-align:center; vertical-align:top;">ISR</td>
	<td style="text-align:center;">6.000<br>6.000</td>
		<td style="text-align:center;">8.200<br>9.025</td>
		<td style="text-align:center;">0.100<br>0.100</td>
		<td style="text-align:center;">14.100<br>14.925<br><b>14.513</b></td></tr>
<tr><td style="text-align:center; vertical-align:top;">7</td><td style="vertical-align:top;">Steven LEGENDRE</td><td style="text-align:center; vertical-align:top;">USA</td>
		<td style="text-align:center;">5.600<br>6.000</td>
		<td style="text-align:center;">9.375<br>8.225</td>
		<td style="text-align:center;"><br>0.300</td>
		<td style="text-align:center;">14.975<br>13.925<br><b>14.450</b></td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center; vertical-align:top;">8</td><td style="vertical-align:top;">Vitalijs KARDASOVS</td><td style="text-align:center; vertical-align:top;">LAT</td>
	<td style="text-align:center;">5.600<br>5.200</td>
	<td style="text-align:center;">8.525<br>9.175</td>
	<td style="text-align:center;"></td>
	<td style="text-align:center;">14.125<br>14.375<br><b>14.250</b></td></tr>
</table>
</div>
<!--PB-->
<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
<tr class="men"><td style="width:50px;"><img src="/assets/images/icons/5pb50x50.gif" width=50 height=50 alt="Parallel Bars"></td>
	<th colspan=2>Parallel Bars</th>
	<th style="width:80px; text-align:center;">D</th>
	<th style="width:80px; text-align:center;">E</th>
	<th style="width:80px; text-align:center;">Pen</th>
	<th style="width:80px; text-align:center;">Score</th></tr>
<tr bgcolor="#000000"><td colspan=7 style="height:1px; padding:0px;"></td></tr>
<tr><td style="text-align:center;">1</td><td>Emin GARIBOV</td><td style="text-align:center;">RUS</td>
		<td style="text-align:center;">6.700</td>
		<td style="text-align:center;">9.050</td>
		<td style="text-align:center;"></td>
		<td style="text-align:center;">15.750</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">2</td><td>Manrique LARDUET</td><td style="text-align:center;">CUB</td>
	<td style="text-align:center;">6.700</td>
	<td style="text-align:center;">8.775</td>
	<td style="text-align:center;"></td>
	<td style="text-align:center;">15.475</td></tr>
<tr><td style="text-align:center;">3</td><td>Sean MELTON</td><td style="text-align:center;">USA</td>
		<td style="text-align:center;">6.400</td>
		<td style="text-align:center;">8.475</td>
		<td style="text-align:center;"></td>
		<td style="text-align:center;">14.875</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">4</td><td>Oleg VERNIAIEV</td><td style="text-align:center;">UKR</td>
	<td style="text-align:center;">7.100</td>
	<td style="text-align:center;">7.700</td>
	<td style="text-align:center;"></td>
	<td style="text-align:center;">14.800</td></tr>
<tr><td style="text-align:center;">5</td><td>Samuel PIASECKY</td><td style="text-align:center;">SVK</td>
		<td style="text-align:center;">6.100</td>
		<td style="text-align:center;">8.375</td>
		<td style="text-align:center;"></td>
		<td style="text-align:center;">14.475</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">6</td><td>Ibrahim COLAK</td><td style="text-align:center;">TUR</td>
	<td style="text-align:center;">6.100</td>
	<td style="text-align:center;">8.325</td>
	<td style="text-align:center;"></td>
	<td style="text-align:center;">14.425</td></tr>
<tr><td style="text-align:center;">7</td><td>Nikita NAGORNYY</td><td style="text-align:center;">RUS</td>
		<td style="text-align:center;">6.800</td>
		<td style="text-align:center;">7.525</td>
		<td style="text-align:center;"></td>
		<td style="text-align:center;">14.325</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">8</td><td>Norbert DUDAS</td><td style="text-align:center;">HUN</td>
	<td style="text-align:center;">5.700</td>
	<td style="text-align:center;">7.725</td>
	<td style="text-align:center;"></td>
	<td style="text-align:center;">13.425</td></tr>
</table>
</div>
<!--HB-->
<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
<tr class="men"><td style="width:50px;"><img src="/assets/images/icons/6hb50x50.gif" width=50 height=50 alt="Horizontal Bar"></td>
	<th colspan=2>Horizontal Bar</th>
	<th style="width:80px; text-align:center;">D</th>
	<th style="width:80px; text-align:center;">E</th>
	<th style="width:80px; text-align:center;">Pen</th>
	<th style="width:80px; text-align:center;">Score</th></tr>
<tr bgcolor="#000000"><td colspan=7 style="height:1px; padding:0px;"></td></tr>
<tr><td style="text-align:center;">1</td><td>Umit SAMILOGLU</td><td style="text-align:center;">TUR</td>
		<td style="text-align:center;">6.500</td>
		<td style="text-align:center;">8.725</td>
		<td style="text-align:center;"></td>
		<td style="text-align:center;">15.225</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">2</td><td>Paul RUGGERI III</td><td style="text-align:center;">USA</td>
	<td style="text-align:center;">6.800</td>
	<td style="text-align:center;">8.250</td>
	<td style="text-align:center;"></td>
	<td style="text-align:center;">15.050</td></tr>
<tr><td style="text-align:center;">3t</td><td>Oliver HEGI</td><td style="text-align:center;">SUI</td>
		<td style="text-align:center;">6.600</td>
		<td style="text-align:center;">8.100</td>
		<td style="text-align:center;"></td>
		<td style="text-align:center;">14.700</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">3t</td><td>Tin SRBIC</td><td style="text-align:center;">CRO</td>
	<td style="text-align:center;">6.500</td>
	<td style="text-align:center;">8.200</td>
	<td style="text-align:center;"></td>
	<td style="text-align:center;">14.700</td></tr>
<tr><td style="text-align:center;">5</td><td>Manrique LARDUET</td><td style="text-align:center;">CUB</td>
		<td style="text-align:center;">7.000</td>
		<td style="text-align:center;">7.575</td>
		<td style="text-align:center;"></td>
		<td style="text-align:center;">14.575</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">6</td><td>Ahmet ONDER</td><td style="text-align:center;">TUR</td>
	<td style="text-align:center;">5.900</td>
	<td style="text-align:center;">8.375</td>
	<td style="text-align:center;"></td>
	<td style="text-align:center;">14.275</td></tr>
<tr><td style="text-align:center;">7</td><td>Pietro GIACHINO</td><td style="text-align:center;">NOR</td>
		<td style="text-align:center;">5.700</td>
		<td style="text-align:center;">7.875</td>
		<td style="text-align:center;"></td>
		<td style="text-align:center;">13.575</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">8</td><td>David VECSERNYES</td><td style="text-align:center;">HUN</td>
	<td style="text-align:center;">5.500</td>
	<td style="text-align:center;">5.950</td>
	<td style="text-align:center;"></td>
	<td style="text-align:center;">11.450</td></tr>
</table>
</div>
<h2 class="wom">Apparatus Finals Women Day 2</h2>
<!--BB-->
<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
<tr class="wom"><td style="width:50px;"><img src="/assets/images/icons/3bb50x50.gif" width=50 height=50 alt="beam"></td>
	<th colspan=2>Beam</th>
	<th style="width:80px; text-align:center;">D</th>
	<th style="width:80px; text-align:center;">E</th>
	<th style="width:80px; text-align:center;">Pen</th>
	<th style="width:80px; text-align:center;">Score</th></tr>
<tr bgcolor="#000000"><td colspan=7 style="height:1px; padding:0px;"></td></tr>
<tr><td style="text-align:center;">1</td><td>Elissa DOWNIE</td><td style="text-align:center;">GBR</td><td style="text-align:center;">6,100</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">14,950</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">2</td><td>Maria KHARENKOVA</td><td style="text-align:center;">RUS</td><td style="text-align:center;">6,300</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">14,925</td></tr>
<tr><td style="text-align:center;">3</td><td>Seda TUTKHALIAN</td><td style="text-align:center;">RUS</td><td style="text-align:center;">6,400</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">14,650</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">4</td><td>Rose WOO</td><td style="text-align:center;">CAN</td><td style="text-align:center;">5,800</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">14,150</td></tr>
<tr><td style="text-align:center;">5</td><td>Adela SAJN</td><td style="text-align:center;">SLO</td><td style="text-align:center;">5,300</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">13,925</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">6</td><td>Ruby HARROLD</td><td style="text-align:center;">GBR</td><td style="text-align:center;">5,400</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">13,275</td></tr>
<tr><td style="text-align:center;">7</td><td>Carolyne M. W. PEDRO</td><td style="text-align:center;">BRA</td><td style="text-align:center;">5,100</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">12,950</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">8</td><td>Yana HOROKHOVA</td><td style="text-align:center;">UKR</td><td style="text-align:center;">5,700</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">11,975</td></tr>
</table>
</div>
<!--FX-->
<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
<tr class="wom"><td style="width:50px;"><img src="/assets/images/icons/4fx50x50.gif" width=50 height=50 alt="floor exercise"></td>
	<th colspan=2>Floor Exercise</th>
	<th style="width:80px; text-align:center;">D</th>
	<th style="width:80px; text-align:center;">E</th>
	<th style="width:80px; text-align:center;">Pen</th>
	<th style="width:80px; text-align:center;">Score</th></tr>
<tr bgcolor="#000000"><td colspan=7 style="height:1px; padding:0px;"></td></tr>
<tr><td style="text-align:center;">1</td><td>Elissa DOWNIE</td><td style="text-align:center;">GBR</td>
		<td style="text-align:center;">6,000</td>
		<td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">14,525</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">2</td><td>Natalia KAPITONOVA</td><td style="text-align:center;">RUS</td><td style="text-align:center;">5,800</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">14,100</td></tr>
<tr><td style="text-align:center;">3</td><td>Yana HOROKHOVA</td><td style="text-align:center;">UKR</td><td style="text-align:center;">5,400</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">13,850</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">4t</td><td>Ruby HARROLD</td><td style="text-align:center;">GBR</td><td style="text-align:center;">5,300</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">13,675</td></tr>
<tr><td style="text-align:center;">4t</td><td>Paula M. RODRIGUEZ</td><td style="text-align:center;">PUR</td><td style="text-align:center;">5,600</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">13,675</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">6</td><td>Carolyne M. W. PEDRO</td><td style="text-align:center;">BRA</td><td style="text-align:center;">5,600</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">13,625</td></tr>
<tr><td style="text-align:center;">7</td><td>Dorina BOECZOEGO</td><td style="text-align:center;">HUN</td><td style="text-align:center;">5,700</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">13,500</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">8</td><td>Kiristen BECKETT</td><td style="text-align:center;">RSA</td><td style="text-align:center;">5,300</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">13,325</td></tr>
</table>
</div>
<h2 class="men">Apparatus Finals Men Day 1</h2>
<div class="table-scroll" tabindex="-1">
<!--FX-->
<table class="maa" width="100%">
<tr class="men"><td style="width:50px;"><img src="/assets/images/icons/1fx50x50.gif" width=50 height=50 alt="floor exercise"></td>
	<th colspan=2>Floor Exercise</th>
	<th style="width:80px; text-align:center;">D</th>
	<th style="width:80px; text-align:center;">E</th>
	<th style="width:80px; text-align:center;">Pen</th>
	<th style="width:80px; text-align:center;">Score</th></tr>
<tr bgcolor="#000000"><td colspan=7 style="height:1px; padding:0px;"></td></tr>
<tr><td style="text-align:center;">1</td><td>Matthias FAHRIG </td><td style="text-align:center;">GER</td>
		<td style="text-align:center;">6.700</td>
		<td style="text-align:center;">8.350</td>
		<td style="text-align:center;"></td>
		<td style="text-align:center;">15.050</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">2</td><td>Alexander SHATILOV </td><td style="text-align:center;">ISR</td>
	<td style="text-align:center;">6.700</td>
	<td style="text-align:center;">8.475</td>
	<td style="text-align:center;">0.200</td>
	<td style="text-align:center;">14.975</td></tr>
<tr><td style="text-align:center;">3t</td><td>Steven LEGENDRE </td><td style="text-align:center;">USA</td>
		<td style="text-align:center;">6.800</td>
		<td style="text-align:center;">8.375</td>
		<td style="text-align:center;">0.300</td>
		<td style="text-align:center;">14.875</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">3t</td><td>Paul RUGGERI III </td><td style="text-align:center;">USA</td>
	<td style="text-align:center;">6.700</td>
	<td style="text-align:center;">8.275</td>
	<td style="text-align:center;">0.100</td>
	<td style="text-align:center;">14.875</td></tr>
<tr><td style="text-align:center;">5</td><td>Tomislav MARKOVIC </td><td style="text-align:center;">CRO</td>
		<td style="text-align:center;">6.200</td>
		<td style="text-align:center;">8.625</td>
		<td style="text-align:center;"></td>
		<td style="text-align:center;">14.825</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">6</td><td>Ahmet ONDER </td><td style="text-align:center;">TUR</td>
	<td style="text-align:center;">6.300</td>
	<td style="text-align:center;">8.600</td>
	<td style="text-align:center;">0.100</td>
	<td style="text-align:center;">14.800</td></tr>
<tr><td style="text-align:center;">7</td><td>Denis ABLIAZIN </td><td style="text-align:center;">RUS</td>
		<td style="text-align:center;">7.200</td>
		<td style="text-align:center;">7.925</td>
		<td style="text-align:center;">0.700</td>
		<td style="text-align:center;">14.425</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">8</td><td>Rok KLAVORA </td><td style="text-align:center;">SLO</td>
	<td style="text-align:center;">6.400</td>
	<td style="text-align:center;">7.150</td>
	<td style="text-align:center;">0.100</td>
	<td style="text-align:center;">13.450</td></tr>
</table>	
</div>
<!--PH-->
<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
<tr class="men"><td style="width:50px;"><img src="/assets/images/icons/2ph50x50.gif" width=50 height=50 alt="pommel horse"></td>
	<th colspan=2>Pommel Horse</th>
	<th style="width:80px; text-align:center;">D</th>
	<th style="width:80px; text-align:center;">E</th>
	<th style="width:80px; text-align:center;">Pen</th>
	<th style="width:80px; text-align:center;">Score</th></tr>
<tr bgcolor="#000000"><td colspan=7 style="height:1px; padding:0px;"></td></tr>
<tr><td style="text-align:center;">1</td><td>Oleg VERNIAIEV</td><td style="text-align:center;">UKR</td>
		<td style="text-align:center;">6.900</td>
		<td style="text-align:center;">8.325</td>
		<td style="text-align:center;"></td>
		<td style="text-align:center;">15.225</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">2</td><td>Saso BERTONCELJ</td><td style="text-align:center;">SLO</td>
	<td style="text-align:center;">6.500</td>
	<td style="text-align:center;">8.700</td>
	<td style="text-align:center;"></td>
	<td style="text-align:center;">15.200</td></tr>
<tr><td style="text-align:center;">3</td><td>Slavomir MICHNAK</td><td style="text-align:center;">SVK</td>
		<td style="text-align:center;">6.300</td>
		<td style="text-align:center;">8.450</td>
		<td style="text-align:center;"></td>
		<td style="text-align:center;">14.750</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">4</td><td>Filip UDE</td><td style="text-align:center;">CRO</td>
	<td style="text-align:center;">7.000</td>
	<td style="text-align:center;">7.475</td>
	<td style="text-align:center;"></td>
	<td style="text-align:center;">14.475</td></tr>
<tr><td style="text-align:center;">5</td><td>Robert SELIGMAN</td><td style="text-align:center;">CRO</td>
		<td style="text-align:center;">6.400</td>
		<td style="text-align:center;">7.925</td>
		<td style="text-align:center;"></td>
		<td style="text-align:center;">14.325</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">6</td><td>Maxime GENTGES</td><td style="text-align:center;">BEL</td>
	<td style="text-align:center;">6.100</td>
	<td style="text-align:center;">8.025</td>
	<td style="text-align:center;"></td>
	<td style="text-align:center;">14.125</td></tr>
<tr><td style="text-align:center;">7</td><td>Oliver HEGI</td><td style="text-align:center;">SUI</td>
		<td style="text-align:center;">6.500</td>
		<td style="text-align:center;">7.300</td>
		<td style="text-align:center;"></td>
		<td style="text-align:center;">13.800</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">8</td><td>Thompson GAIUS</td><td style="text-align:center;">GBR</td>
	<td style="text-align:center;">4.900</td>
	<td style="text-align:center;">7.600</td>
	<td style="text-align:center;"></td>
	<td style="text-align:center;">12.500</td></tr>
</table>
</div>
<!--SR-->
<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
<tr class="men"><td style="width:50px;"><img src="/assets/images/icons/3sr50x50.gif" width=50 height=50 alt="rings"></td>
	<th colspan=2>Rings</th>
	<th style="width:80px; text-align:center;">D</th>
	<th style="width:80px; text-align:center;">E</th>
	<th style="width:80px; text-align:center;">Pen</th>
	<th style="width:80px; text-align:center;">Score</th></tr>
<tr bgcolor="#000000"><td colspan=7 style="height:1px; padding:0px;"></td></tr>
<tr><td style="text-align:center;">1</td><td>Denis ABLIAZIN</td><td style="text-align:center;">RUS</td>
		<td style="text-align:center;">6.800</td>
		<td style="text-align:center;">9.025</td>
		<td style="text-align:center;"></td>
		<td style="text-align:center;">15.825</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">2</td><td>Ibrahim COLAK</td><td style="text-align:center;">TUR</td>
	<td style="text-align:center;">6.700</td>
	<td style="text-align:center;">8.975</td>
	<td style="text-align:center;"></td>
	<td style="text-align:center;">15.675</td></tr>
<tr><td style="text-align:center;">3</td><td>Igor RADIVILOV</td><td style="text-align:center;">UKR</td>
		<td style="text-align:center;">6.900</td>
		<td style="text-align:center;">8.600</td>
		<td style="text-align:center;"></td>
		<td style="text-align:center;">15.500</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">4</td><td>Manrique LARDUET</td><td style="text-align:center;">CUB</td>
	<td style="text-align:center;">6.800</td>
	<td style="text-align:center;">8.475</td>
	<td style="text-align:center;"></td>
	<td style="text-align:center;">15.275</td></tr>
<tr><td style="text-align:center;">5</td><td>Nikita NAGORNYY</td><td style="text-align:center;">RUS</td>
		<td style="text-align:center;">6.500</td>
		<td style="text-align:center;">8.425</td>
		<td style="text-align:center;"></td>
		<td style="text-align:center;">14.925</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">6</td><td>Eli ZAHRAN</td><td style="text-align:center;">EGY</td>
	<td style="text-align:center;">6.500</td>
	<td style="text-align:center;">8.400</td>
	<td style="text-align:center;"></td>
	<td style="text-align:center;">14.900</td></tr>
<tr><td style="text-align:center;">7</td><td>Sean MELTON</td><td style="text-align:center;">USA</td>
		<td style="text-align:center;">6.300</td>
		<td style="text-align:center;">8.350</td>
		<td style="text-align:center;"></td>
		<td style="text-align:center;">14.650</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">8</td><td>Steven LEGENDRE</td><td style="text-align:center;">USA</td>
	<td style="text-align:center;">6.1100</td>
	<td style="text-align:center;">8.425</td>
	<td style="text-align:center;"></td>
	<td style="text-align:center;">14.525</td></tr>
</table>
</div>
<h2 class="wom">Apparatus Finals Women Day 1</h2>
<div class="table-scroll" tabindex="-1">
<!--VT-->
<table class="maa" width="100%">
<tr class="wom"><td style="width:50px;"><img src="/assets/images/icons/1vt50x50.gif" width=50 height=50 alt="vault"></td>
	<th colspan=2>Vault</th>
	<th style="width:80px; text-align:center;">D</th>
	<th style="width:80px; text-align:center;">E</th>
	<th style="width:80px; text-align:center;">Pen</th>
	<th style="width:80px; text-align:center;">Score</th></tr>
<tr bgcolor="#000000"><td colspan=7 style="height:1px; padding:0px;"></td></tr>
<tr><td style="text-align:center;">1</td><td>Elissa DOWNIE</td><td style="text-align:center;">GBR</td><td style="text-align:center;">5,600</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">14,850</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">2</td><td>Tjasa KYSSELEF </td><td style="text-align:center;">SLO</td><td style="text-align:center;">5,000</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">14,200</td></tr>
<tr><td style="text-align:center;">3</td><td>Rose WOO </td><td style="text-align:center;">CAN</td><td style="text-align:center;">4,600</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">13,638</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">4</td><td>Kirsten BECKETT </td><td style="text-align:center;">RSA</td><td style="text-align:center;">4,600</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">13,538</td></tr>
<tr><td style="text-align:center;">5</td><td>Ema KAJI</td><td style="text-align:center;">CRO</td><td style="text-align:center;">4,800</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">13,463</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">6</td><td>Sophie BRAATEN </td><td style="text-align:center;">NOR</td><td style="text-align:center;">4,200</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">13,050</td></tr>
<tr><td style="text-align:center;">7</td><td>Helody CYRENNE </td><td style="text-align:center;">CAN</td><td style="text-align:center;">4,600</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">13,000</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">8</td><td>Dora SZEKELY </td><td style="text-align:center;">HUN</td><td style="text-align:center;">4,200</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">12,888</td></tr>
<tr><td style="text-align:center;">9</td><td>Jelena STAMENKOVI</td><td style="text-align:center;">SRB</td><td style="text-align:center;">4,600</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">12,813</td></tr>
</table>
</div>	
<!--UB-->
<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
<tr class="wom"><td style="width:50px;"><img src="/assets/images/icons/2ub50x50.gif" width=50 height=50 alt="uneven bars"></td>
	<th colspan=2>Uneven Bars</th>
	<th style="width:80px; text-align:center;">D</th>
	<th style="width:80px; text-align:center;">E</th>
	<th style="width:80px; text-align:center;">Pen</th>
	<th style="width:80px; text-align:center;">Score</th></tr>
<tr bgcolor="#000000"><td colspan=7 style="height:1px; padding:0px;"></td></tr>
<tr><td style="text-align:center;">1</td><td>Elissa DOWNIE</td><td style="text-align:center;">GBR</td><td style="text-align:center;">6,300</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">14,675</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">2</td><td>Seda TUTKHALIAN</td><td style="text-align:center;">RUS</td><td style="text-align:center;">6,000</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">14,525</td></tr>
<tr><td style="text-align:center;">3</td><td>Natalia KAPITONOVA</td><td style="text-align:center;">RUS</td><td style="text-align:center;">6,400</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">14,450</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">4</td><td>Rose WOO</td><td style="text-align:center;">CAN</td><td style="text-align:center;">5,600</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">13,725</td></tr>
<tr><td style="text-align:center;">5</td><td>Ruby HARROLD</td><td style="text-align:center;">GBR</td><td style="text-align:center;">6,200</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">13,425</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">6</td><td>Carolyne M. W. PEDRO</td><td style="text-align:center;">BRA</td><td style="text-align:center;">5,200</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">11,800</td></tr>
<tr><td style="text-align:center;">7</td><td>Dorina BOECZOEGO</td><td style="text-align:center;">HUN</td><td style="text-align:center;">5,200</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">10,775</td></tr>
<tr style="background-color:#DEDEDE"><td style="text-align:center;">8</td><td>Tzuf FELDON</td><td style="text-align:center;">ISR</td><td style="text-align:center;">4,800</td><td style="text-align:center;"></td><td style="text-align:center;"></td><td style="text-align:center;">10,375</td></tr>
</table>
</div>	
<h2 class="men">Results Official</h2>
	<a href="documents/magaf.pdf" target="_blank" class="pdf">MAG Final Results</a>
	<a href="documents/wagaf.pdf" target="_blank" class="pdf">WAG Final Results</a>
<h2 class="men">Results Qualification Men Day 2</h2>
	<a href="documents/magq4vt.pdf" target="_blank" class="pdf">MAG Qualification Vault</a>
	<a href="documents/magq5pb.pdf" target="_blank" class="pdf">MAG Qualification Parallel Bars</a>
	<a href="documents/magq6hb.pdf" target="_blank" class="pdf">MAG Qualification Horizontal Bar</a>
<h2 class="wom">Results Qualification Women Day 2</h2>
	<a href="documents/wagq3bb.pdf" target="_blank" class="pdf">WAG Qualification Beam</a>
	<a href="documents/wagq4fx.pdf" target="_blank" class="pdf">WAG Qualification Floor Exercise</a>
<h2 class="men">Results Qualification Men Day 1</h2>
	<a href="documents/magq1fx.pdf" target="_blank" class="pdf">MAG Qualification Floor Exercise</a>
	<a href="documents/magq2ph.pdf" target="_blank" class="pdf">MAG Qualification Pommel Horse</a>
	<a href="documents/magq3sr.pdf" target="_blank" class="pdf">MAG Qualification Rings</a>
<h2 class="wom">Results Qualification Women Day 1</h2>
	<a href="documents/wagq1vt.pdf" target="_blank" class="pdf">WAG Qualification Vault</a>
	<a href="documents/wagq2ub.pdf" target="_blank" class="pdf">WAG Qualification Uneven Bars</a>
<h2 class="wom">Start Lists</h2>
	<a href="documents/magslthu.pdf" target="_blank" class="pdf">MAG Qualification Thursday</a>
	<a href="documents/magslfri.pdf" target="_blank" class="pdf">MAG Qualification Friday</a><br>
	<a href="documents/wagslthu.pdf" target="_blank" class="pdf">WAG Qualification Thursday</a>
	<a href="documents/wagslfri.pdf" target="_blank" class="pdf">WAG Qualification Friday</a>
<h2 class="men">Information</h2>
	<a href="documents/nomreg.pdf" target="_blank" class="pdf">Nominative Registration</a>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Monday April 25</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"><br>13:00 - 20:00</td>
		<td style="width:460px; vertical-align:top;">Arrival of Delegations<br>Training</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Tuesday April 26</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"><br>13:00 - 20:00</td>
		<td style="width:460px; vertical-align:top;">Arrival of Delegations<br>Training</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday April 27</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"><br>11:00 - 20:00</td>
		<td style="width:460px; vertical-align:top;">Arrival of Delegations<br>Official Training<br>Orientation Meeting</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday April 28</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">15:00 - 17:00<br>17:00 - 18:40</td>
		<td style="width:460px; vertical-align:top;">Qualification I MAG (PH &amp; FX) and WAG (VT &amp; UB)<br>Qualification I MAG (SR)</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday April 29</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">15:00 - 17:00<br>17:00 - 18:40</td>
		<td style="width:460px; vertical-align:top;">Qualification II MAG (VT &amp; HB) and WAG (BB &amp; FX)<br>Qualification II MAG (PB)</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday April 30</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Finals I MAG and WAG (MAG 3 + WAG 2)</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday May 1</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Finals II MAG and WAG (MAG 3 + WAG 2)</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Monday May 2</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Departure of delegations</td></tr>
</table>
<img src="images/logo2.jpg" alt="World Challenge Cup 2016 Osijek (CRO) 2016 April 28 - May 1">


