---
title: "2016 U.S. Men's Olympic Trials, Junior P&amp;G Championships"
year: 2016
startdate: 2016-06-23
enddate: 2016-06-25
country: "USA"
category: "olympic-trials"
layout: results
redirect_from: /2016/usa/olympic-trial-pg-champ.html
---

{% include resultsheader.html title="2016 U.S. Men's Olympic Trials<br>Junior Men's P&amp;G Championships<br>St. Louis (USA)<br>2016 June 23-25" %}

<h2 class="men">Results Men Senior Day 2</h2>
	<img src="images/magogteam2.jpg" alt="USA Men's Olympic Team 2016" /><br>
	<div style="padding-left:16px;">
		<b>2016 U.S. Men&rsquo;s Olympic Gymnastics Team</b><br>
		<ul>
		<li>John Orozco</li>
		<li>Jake Dalton</li>
		<li>Alex Naddour</li>
		<li>Sam Mikulak</li>
		<li>Chris Brooks</li>
		</ul>
		<b>The alternates</b><br>
		<ul>
		<li>Danell Leyva</li>
		<li>Donnell Whittenburg</li>
		<li>Akash Modi</li>
		</ul>
		Note: John Orozco suffered a torn ACL on July 15 and was replaced by Danell Leyva.
	</div>	
	<br>
	<a href="documents/magsend2.pdf" target="_blank" class="pdf">Results Men Senior P&amp;G Championships plus Olympic Trials All-Around</a>
	<a href="documents/magsenaf.pdf" target="_blank" class="pdf">Results Men Senior P&amp;G Championships plus Olympic Trials Events</a>
<h2 class="men">Results Men Junior Day 2</h2>
	<a href="documents/magjun1516aa.pdf" target="_blank" class="pdf">Results Men Junior 15-16 All-Around</a>
	<a href="documents/magjun1516af.pdf" target="_blank" class="pdf">Results Men Junior 15-16 Events</a><br>
	<a href="documents/magjun1718aa.pdf" target="_blank" class="pdf">Results Men Junior 17-18 All-Around</a>
	<a href="documents/magjun1718af.pdf" target="_blank" class="pdf">Results Men Junior 17-18 Events</a>
<h2 class="men">Results Men Senior Day 1</h2>
	<a href="documents/magsentrialsd1.pdf" target="_blank" class="pdf">Results Men Senior Olympic Trials Only Day 1</a>
	<a href="documents/magsend1.pdf" target="_blank" class="pdf">Results Men Senior P&amp;G Championships 3 Days</a>
<h2 class="men">Results Men Junior Day 1</h2>
	<a href="documents/mag1516d1.pdf" target="_blank" class="pdf">Results Men Junior 15-16 Day 1</a>
	<a href="documents/mag1718d1.pdf" target="_blank" class="pdf">Results Men Junior 17-18 Day 1</a>
<h2 class="men">Schedule</h2>
	<table class="waa" cellpadding="6">
	<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday Jun 23</th></tr>
		<tr><td style="width:120px; vertical-align:top; text-align:center;">1:00 pm<br>7:00 pm</td>
			<td style="width:460px; vertical-align:top;">Junior Men&rsquo;s Competition - Day 1<br>Senior Men&rsquo;s Competition - Day 1</td></tr>
	<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday June 25</th></tr>
		<tr><td style="width:120px; vertical-align:top; text-align:center;">1:00 pm<br>7:00 pm</td>
			<td style="width:460px; vertical-align:top;">Junior Men&rsquo;s Competition - Final Day<br>Senior Men&rsquo;s Competition - Final Day</td></tr>
	<tr><td colspan=2>All times are Central and subject to change</td></tr>
	</table>
<h2 class="men">Start Lists Men</h2>
	<a href="documents/magsend1sl.pdf" target="_blank" class="pdf">Men Senior Day 1 Start List</a>
	<a href="documents/magsend2sl.pdf" target="_blank" class="pdf">Men Senior Final Day Start List</a><br>
	<a href="documents/magjund1sl.pdf" target="_blank" class="pdf">Men Junior Day 1 Start List</a>
	<a href="documents/magjund2sl.pdf" target="_blank" class="pdf">Men Junior Final Day Start List</a>

	