---
title: "FIG World Challenge Cup Szombathely"
year: 2018
startdate: 2018-09-21
enddate: 2018-09-23
country: "HUN"
category: "world-challenge-cup"
layout: results
redirect_from: /2018/eu/hun/challenge-cup.html
---
	
{% include resultsheader.html title="FIG World Challenge Cup<br>Szombathely (HUN)<br>2018 Sep 21-23" %}
<!--MAG F2-->
<h2 class="men">Men Apparatus Finals</h2>
	<a href="documents/wch_szombathely2018_magfin2.pdf" target="_blank" class="pdf">Apparatus Finals Men</a>
<!--WAG F2-->
<h2 class="wom">Women Final Day 2</h2>
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Final Women</a>
<!--WAG F1-->
<h2 class="wom">Women Final Day 1</h2>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
<!--MAG Qual-->
<h2 class="men">Men Qualification</h2>
	<a href="documents/wch_szombathely2018_magq.pdf" target="_blank" class="pdf">Qualification Men</a>
<!--WAG Qual-->
<h2 class="wom">Women Qualification</h2>
	<a href="documents/wagq1vt.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagq2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagq3bb.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagq4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>