---
title: "43rd Turnier der Meister Cottbus"
year: 2018
startdate: 2018-11-22
enddate: 2018-11-25
country: "GER"
category: "turnier-der-meister"
layout: results
redirect_from: /2018/eu/ger/turnier-der-meister.html
---
	
{% include resultsheader.html title="43rd Turnier der Meister<br>Cottbus (GER)<br>2018 Nov 22-25" %}

<img src="images/logo2.jpg" alt="43rd Turnier der Meister Cottbus (GER) 2018 Nov 22-25">
<!-- MAG AF 2 -->
<h2 class="men">Men Apparatus Final Day 2</h2>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Vault Final Men</a>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Parallel Bars Final Men</a>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Horizontal Bar Final Men</a>
<!-- WAG Q -->
<h2 class="wom">Women Apparatus Final Day 2</h2>	
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Final Women</a>
<!-- MAG AF 1 -->
<h2 class="men">Men Apparatus Final Day 1</h2>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Floor Exercise Final Men</a>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Pommel Horse Final Men</a>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Rings Final Men</a>
<!-- WAG AF 1 -->
<h2 class="wom">Women Apparatus Final Day 1</h2>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
<!-- MAG Q -->
<h2 class="men">Men Qualification Day 2</h2>
	<a href="documents/magq4vt.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magq5pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/magq6hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>
<!-- WAG Q -->
<h2 class="wom">Women Qualification Day 2</h2>
	<a href="documents/wagq3bb.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagq4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>
<!-- MAG Q -->
<h2 class="men">Men Qualification Day 1</h2>
	<a href="documents/magq1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magq2ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magq3sr.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
<!-- WAG Q -->
<h2 class="wom">Women Qualification Day 1</h2>
	<a href="documents/wagq1vt.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagq2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>