---
title: "2022 Commonwealth Games"
year: 2022
startdate: 2022-07-28
enddate: 2022-08-02
country: "GBR"
category: "commonwealth"
layout: results
---

{% include resultsheader.html title="2022 Commonwealth Games<br>Birmingham (GBR)<br>2022 July 28 - August 2" %}

<img src="images/logo.jpeg" width="300" alt="event logo">

<h2 class="wom">Result Apparatus Finals Women Day 2</h2>
	<ul class="podium-list">
		<li><b>Beam</b> 🥇Gold - Kate McDonald (AUS)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Alice Kinsella (ENG)</li>
	</ul>
	<br>
	<a href="documents/wagbbfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Beam</a>
	<a href="documents/wagfxfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Floor Exercise</a>
	<a href="documents/ef2sl.pdf" target="_blank" class="pdf">Apparatus Finals Day 2 Start List</a>


<h2 class="men">Results Apparatus Finals Men Day 2</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Jake Jarman (GBR)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Joe Fraser (GBR)</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Ilias Georgiou (CYP)</li>
	</ul>
	<br>
	<a href="documents/magvtfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Vault</a>
	<a href="documents/magpbfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Parallel Bars</a>
	<a href="documents/maghbfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Horizontal Bar</a>
	<a href="documents/ef2sl.pdf" target="_blank" class="pdf">Apparatus Finals Day 2 Start List</a>

<h2 class="wom">Result Apparatus Finals Women Day 1</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Georgia Godwin (AUS)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Georgia-Mae Fenton (ENG)</li>
	</ul>
	<br>
	<a href="documents/wagvtfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Vault</a>
	<a href="documents/wagubfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Uneven Bars</a>
	<a href="documents/ef1sl.pdf" target="_blank" class="pdf">Apparatus Finals Day 1 Start List</a>

<h2 class="men">Results Apparatus Finals Men Day 1</h2>
	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Jake Jarman (ENG)</li>
		<li><b>Pommel Horse</b> 🥇Gold - Joe Fraser (ENG)</li>
		<li><b>Rings</b> 🥇Gold - Courtney Tulloch (ENG)</li>
	</ul>
	<br>
	<a href="documents/magfxfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Floor Exercise</a>
	<a href="documents/magphfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Pommel Horse</a>
	<a href="documents/magsrfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Rings</a>
	<a href="documents/ef1sl.pdf" target="_blank" class="pdf">Apparatus Finals Day 1 Start List</a>

<h2 class="wom">Results All Around Final Women</h2>
	<ul class="podium-list">
		<li>🥇Gold - Georgia Godwin (AUS)</li>
		<li>🥈Silver - Ondine Achampong (ENG)</li>
		<li>🥉Bronze - Emma Spence (CAN)</li>
	</ul>
	<br>
	<a href="documents/wagaafinal.pdf" target="_blank" class="pdf">All Around Final Women</a>
	<a href="documents/wagaasl.pdf" target="_blank" class="pdf">Start List All Around Final Women</a>


<h2 class="men">Results All Around Final Men</h2>
	<ul class="podium-list">
		<li>🥇Gold - Jake Jarman (ENG)</li>
		<li>🥈Silver - James Hall (ENG)</li>
		<li>🥉Bronze - Marios Georgiou (CYP)</li>
	</ul>
	<br>
	<a href="documents/magaafinal.pdf" target="_blank" class="pdf">All Around Final Men</a>
	<a href="documents/magaasl.pdf" target="_blank" class="pdf">Start List All Around Final Men</a>

<h2 class="wom">Results Team Final Women</h2>
	<p>The team medals were determined by the qualification results.</p>
	<ul class="podium-list">
		<li>🥇Gold - England</li>
		<li>🥈Silver - Australia</li>
		<li>🥉Bronze - Canada</li>
	</ul>
	<br>
	<a href="documents/wagteamfinal.pdf" target="_blank" class="pdf">Qualification/Team Final Women</a>

<h2 class="men">Results Team Final Men</h2>
	<p>The team medals were determined by the qualification results.</p>
	<ul class="podium-list">
		<li>🥇Gold - England</li>
		<li>🥈Silver - Canada</li>
		<li>🥉Bronze - Cyprus</li>
	</ul>
	<br>
	<a href="documents/magteamfinal.pdf" target="_blank" class="pdf">Qualification/Team Final Men</a>

<h2 class="wom">Results Qualification Women</h2>
	<a href="documents/wagaaqual.pdf" target="_blank" class="pdf">All Around Qualification Women</a>
	<a href="documents/wagvtqual.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagubqual.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagbbqual.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagfxqual.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>

<h2 class="men">Results Qualification Men</h2>
	<a href="documents/magaaqual.pdf" target="_blank" class="pdf">All-Around Qualification Men</a>
	<a href="documents/magfxqual.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magphqual.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magsrqual.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magvtqual.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magpbqual.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/maghbqual.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>

<h2 class="wom">Documents</h2>

	<a href="documents/wagsl.pdf" target="_blank" class="pdf">WAG Start List - Qualification and Team Final</a>
	<a href="documents/magsl.pdf" target="_blank" class="pdf">MAG Start List - Qualification and Team Final</a>

