---
title: "2021 Varna World Cup"
year: 2021
startdate: 2021-05-27
enddate: 2021-05-30
country: "BUL"
category: "world-challenge-cup"
layout: results
---

{% include resultsheader.html title="Varna World Challenge Cup<br>Varna, Bulgaria<br>2021 May 27-30" %}

<img src="documents/logo.jpg" alt="Varna world cup logo">

<h2 class="men">Men Apparatus Finals</h2>

	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Aurel Benovic (CRO)</li>
		<li><b>Pommel Horse</b> 🥇Gold -  Illia Kovtun (UKR)</li>
		<li><b>Rings</b> 🥇Gold - Vinzenz Hoeck (AUT)</li>
		<li><b>Vault</b> 🥇Gold - Nazar Chepurnyi (UKR)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Illia Kovtun (UKR)</li>
		<li><b>Horizontal Bar</b> 🥇Gold -  Tin Srbic (CRO)</li>
	</ul>

    <br>

    <a href="documents/mag_fx.jpg" target="_blank" class="pdf">Results MAG Floor Exercise Final</a>
    <a href="documents/mag_ph.jpg" target="_blank" class="pdf">Results MAG Pommel Horse Final</a>
    <a href="documents/mag_sr.jpg" target="_blank" class="pdf">Results MAG Still Rings Final</a>
    <a href="documents/mag_vt.jpg" target="_blank" class="pdf">Results MAG Vault Final</a>
    <a href="documents/mag_pb.jpg" target="_blank" class="pdf">Results MAG Parallel Bars Final</a>
    <a href="documents/mag_hb.jpg" target="_blank" class="pdf">Results MAG Horizontal Bar Final</a>

<h2 class="wom">Women Apparatus Finals</h2>

	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Coline Devillard (FRA)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Uliana Perebinosova (RUS)</li>
		<li><b>Beam</b> 🥇Gold - Anastasiia Bachynska (UKR)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Dildora Aripova (UZB)</li>
	</ul>

    <br>

    <a href="documents/wag_vt.jpg" target="_blank" class="pdf">Results WAG Vault Final</a>
    <a href="documents/wag_ub.jpg" target="_blank" class="pdf">Results WAG Uneven Bars Final</a>
    <a href="documents/wag_bb.jpg" target="_blank" class="pdf">Results WAG Balance Beam Final</a>
    <a href="documents/wag_fx.jpg" target="_blank" class="pdf">Results WAG Floor Exercise Final</a>

