---
title: "49th FIG AG World Championships Stuttgart"
year: 2019
startdate: 2019-10-04
enddate: 2019-10-13
country: "GER"
category: "worlds"
layout: results
---

{% include resultsheader.html title="49th FIG Artistic Gymnastics World Championships<br>Stuttgart (GER)<br>2019 Oct 4 - 13" %}
 
<img src="images/logo.png" alt="49th FIG Artistic Gymnastics World Championships Stuttgart">

<h2 class="men">Results Apparatus Finals Men Day 2</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Nikita Nagornyy (RUS)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Joe Fraser (GBR)</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Arthur Mariano (BRA)</li>
	</ul>
	<br>
	<a href="documents/mag/magvtfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Vault</a>
	<a href="documents/mag/magpbfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Parallel Bars</a>
	<a href="documents/mag/maghbfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Horizontal Bar</a>

<h2 class="wom">Result Apparatus Finals Women Day 2</h2>
	<ul class="podium-list">
		<li><b>Beam</b> 🥇Gold - Simone Biles (USA)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Simone Biles (USA)</li>
	</ul>
	<br>
	<a href="documents/wag/wagbbfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Beam</a>
	<a href="documents/wag/wagfxfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Floor Exercise</a>

<h2 class="men">Results Apparatus Finals Men Day 1</h2>
	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Carlos Yulo (PHI)</li>
		<li><b>Pommel Horse</b> 🥇Gold - Max Whitlock (GBR)</li>
		<li><b>Rings</b> 🥇Gold - Ibrahim Colak (TUR)</li>
	</ul>
	<br>
	<a href="documents/mag/magfxfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Floor Exercise</a>
	<a href="documents/mag/magphfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Pommel Horse</a>
	<a href="documents/mag/magsrfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Rings</a>

<h2 class="wom">Result Apparatus Finals Women Day 1</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Simone Biles (USA)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Nina Derwael (BEL)</li>
	</ul>
	<br>
	<a href="documents/wag/wagvtfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Vault</a>
	<a href="documents/wag/wagubfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Uneven Bars</a>

<h2 class="men">All-Around Final Men</h2>
<ul class="podium-list">
	<li>🥇Gold - Nikita Nagornyy (RUS)</li>
	<li>🥈Silver - Artur Dalaloyan (RUS)</li>
	<li>🥉Bronze - Oleg Verniaiev (UKR)</li>
</ul>
	<a href="documents/mag/aafinal.pdf" target="_blank" class="pdf">Results</a>
	<a href="documents/mag/aastartlist.pdf" target="_blank" class="pdf">Start List</a>

<h2 class="wom">All-Around Final Women</h2>
<ul class="podium-list">
	<li>🥇Gold - Simone Biles (USA)</li>
	<li>🥈Silver - Tang Xijing (CHN)</li>
	<li>🥉Bronze - Angelina Melnikova (RUS)</li>
</ul>
	<a href="documents/wag/aafinal.pdf" target="_blank" class="pdf">Results</a>
	<a href="documents/wag/aastartlist.pdf" target="_blank" class="pdf">Start List</a>

<h2 class="men">Team Final Men</h2>
<ul class="podium-list">
	<li>🥇Gold - Russian Federation</li>
	<li>🥈Silver - People's Republic of China</li>
	<li>🥉Bronze - Japan</li>
</ul>
	<a href="documents/mag/teamsfinal.pdf" target="_blank" class="pdf">Results</a>
	<a href="documents/mag/tfstartlist.pdf" target="_blank" class="pdf">Start List</a>


<h2 class="wom">Team Final Women</h2>
<ul class="podium-list">
	<li>🥇Gold - United States of America</li>
	<li>🥈Silver - Russian Federation</li>
	<li>🥉Bronze - Italy</li>
</ul>
	<a href="documents/wag/teamsfinal.pdf" target="_blank" class="pdf">Results</a>
	<a href="documents/wag/tfstartlist.pdf" target="_blank" class="pdf">Start List</a>

<!--MAG TF-->

<h2 class="wom">Qualification Women</h2>
<a href="documents/wag/qteams.pdf" target="_blank" class="pdf">Team Qualification Women</a>
<a href="documents/wag/qaa.pdf" target="_blank" class="pdf">All-Around Qualification</a><br>
<a href="documents/wag/q1vt.pdf" target="_blank" class="pdf">Vault Qualification</a>
<a href="documents/wag/q2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification</a>
<a href="documents/wag/q3bb.pdf" target="_blank" class="pdf">Beam Qualification</a>
<a href="documents/wag/q4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification</a>
<br><br>
<a href="documents/wag/olympicquals.pdf" target="_blank" class="pdf">WAG Olympic Qualifiers after Qualification</a>
<!--MAG Q-->
<h2 class="men">Qualification Men</h2>
<a href="documents/mag/qteams.pdf" target="_blank" class="pdf">Team Qualification Men</a>
<a href="documents/mag/qaa.pdf" target="_blank" class="pdf">All-Around Qualification</a><br>
<a href="documents/mag/q1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification</a>
<a href="documents/mag/q2ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification</a>
<a href="documents/mag/q3sr.pdf" target="_blank" class="pdf">Rings Qualification</a>
<a href="documents/mag/q4vt.pdf" target="_blank" class="pdf">Vault Qualification</a>
<a href="documents/mag/q5pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification</a>
<a href="documents/mag/q6hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification</a>
<!--Draw-->
	
<h2 class="men">Schedule</h2>
<table class="schedule-table" cellpadding="2">
	<tr><th colspan=4>Friday October 4</th></tr>
	<tr><td>09:00 - 22:00</td>
		<td>WAG Qualification Sub 1-6</td>
		<td><a href="documents/wag/qualsld1.pdf" target="_blank" class="pdf">Start List</a></td>
	</tr>
	<tr><th colspan=4>Saturday October 5</th></tr>
	<tr><td>09:00 - 22:00</td>
		<td>WAG Qualification Sub 7-12</td>
		<td><a href="documents/wag/qualsld2.pdf" target="_blank" class="pdf">Start List</a></td>
	</tr>
	<tr><th colspan=4>Sunday October 6</th></tr>
	<tr><td>10:00 - 22:30</td>
		<td>MAG Qualification Sub 1-4</td>
		<td><a href="documents/mag/qualsld1.pdf" target="_blank" class="pdf">Start List</a></td>
	</tr>
	<tr><th colspan=4>Monday October 7</th></tr>
	<tr><td>10:00 - 22:30</td>
		<td>MAG Qualification Sub 5-8</td>
		<td><a href="documents/mag/qualsld2.pdf" target="_blank" class="pdf">Start List</a></td>
	</tr>
	<tr><th colspan=4>Tuesday October 8</th></tr>
	<tr><td>14:30 - 17:05</td>
		<td>WAG Team Final</td>
		<td><a href="documents/wag/tfstartlist.pdf" target="_blank" class="pdf">Start List</a></td>
	</tr>
	<tr><th colspan=4>Wednesday October 9</th></tr>
	<tr><td>13:45 - 17:00</td>
		<td>MAG Team Final</td>
		<td><a href="documents/mag/tfstartlist.pdf" target="_blank" class="pdf">Start List</a></td>
	</tr>
	<tr><th colspan=4>Thursday October 10</th></tr>
	<tr><td>16:00 - 18:45</td>
		<td>WAG Individual AA Final</td>
		<td><a href="documents/wag/aastartlist.pdf" target="_blank" class="pdf">Start List</a></td>
	</tr>
	<tr><th colspan=4>Friday October 11</th></tr>
	<tr><td>16:00 - 19:25</td>
		<td>MAG Individual AA Final</td>
		<td><a href="documents/mag/aastartlist.pdf" target="_blank" class="pdf">Start List</a></td>
	</tr>
	<tr><th colspan=4>Saturday October 12</th></tr>
	<tr><td>16:00 - 19:50</td>
		<td>Apparatus Finals (Day 1)<br>MAG Floor Exercise<br>WAG Vault<br>MAG Pommel Horse<br>WAG Uneven Bars<br>MAG Rings</td>
		<td><a href="documents/afsld1.pdf" target="_blank" class="pdf">Start List</a></td>
	</tr>
	<tr><th colspan=4>Sunday October 13</th></tr>
	<tr><td>13:00 - 16:50</td>
		<td>Apparatus Finals (Day 2)<br>MAG Vault<br>WAG Balance Beam<br>MAG Parallel Bars<br>WAG Floor Exercise<br>MAG Horizontal Bar</td>
		<td><a href="documents/afsld2.pdf" target="_blank" class="pdf">Start List</a></td>
	</tr>
</table>