---
title: "2023 Cairo World Cup"
year: 2023
startdate: 2023-04-27
enddate: 2023-04-30
country: "EGY"
category: "world-cup"
layout: results
---

{% include resultsheader.html title="Cairo World Cup<br>Cairo (EGY)<br>2023 April 27-30" %}

<img src="logo.webp" alt="Cairo world cup logo">

<h2 class="men">Men Apparatus Finals</h2>

	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Illia Kovtun (UKR)</li>
		<li><b>Pommel Horse</b> 🥇Gold -  Lee Chih Kai (TPE)</li>
		<li><b>Rings</b> 🥇Gold - Nikita Simonov (AZE)</li>
		<li><b>Vault</b> 🥇Gold - Artur Davtyan (ARM)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Illia Kovtun (UKR)</li>
		<li><b>Horizontal Bar</b> 🥇Gold -  Illia Kovtun (UKR)</li>
	</ul>

<!--WAG Final-->
<h2 class="wom">Women Apparatus Finals</h2>

	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Joscelyn Roberson (USA)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Alice D'Amato (ITA)</li>
		<li><b>Beam</b> 🥇Gold - Giorgia Villa (ITA)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Joscelyn Roberson (USA)</li>
	</ul>

<h2 class="men">Finals Results</h2>

    <a href="documents/mag_final.pdf" target="_blank" class="pdf">MAG Finals</a>
    <a href="documents/wag_final.pdf" target="_blank" class="pdf">WAG Finals</a>

<h2 class="wom">Qualification</h2>

	<a href="documents/mag_qual.pdf" target="_blank" class="pdf">MAG Qualification</a>
	<a href="documents/wag_qual.pdf" target="_blank" class="pdf">WAG Qualification</a>




