---
title: "2022 Cottbus World Cup (Turnier der Meister)"
year: 2022
startdate: 2022-02-24
enddate: 2022-02-27
country: "GER"
category: "turnier-der-meister"
layout: results
---
	
{% include resultsheader.html title="Turnier der Meister<br>Cottbus World Cup (GER)<br>2022 Feb 24-27" %}

<img src="images/logo.png" alt="event poster">

<h2 class="men">Apparatus Finals Day 2</h2>
<ul class="podium-list">
    <li><b>Vault</b> 🥇Gold - Artur Davtyan (ARM)</li>
    <li><b>Parallel Bars</b> 🥇Gold - Illia Kovtun (UKR)</li>
    <li><b>Horizontal Bar</b> 🥇Gold - Brody Malone (USA)</li>
</ul>
<br>
<ul class="podium-list">
    <li><b>Beam</b> 🥇Gold - Daniela Batrona (UKR)</li>
    <li><b>Floor Exercise</b> 🥇Gold - Alba Petisco (ESP)</li>
</ul>
<br>
<a href="documents/day2finals.pdf" target="_blank" class="pdf">Day 2 Apparatus Finals Results</a>

<h2 class="wom">Apparatus Finals Day 1</h2>	
<ul class="podium-list">
    <li><b>Floor Exercise</b> 🥇Gold - Yahor Sharamkou (BLR)</li>
    <li><b>Pommel Horse</b> 🥇Gold - Filip Ude (CRO)</li>
    <li><b>Rings</b> 🥇Gold - Ibrahim Colak (TUR)</li>
</ul>
<br>	
<ul class="podium-list">
    <li><b>Vault</b> 🥇Gold - Tjasa Kysselef (SLO)</li>
    <li><b>Uneven Bars</b> 🥇Gold - Tisha Volleman (NED)</li>
</ul>
<br>
<a href="documents/day1finals.pdf" target="_blank" class="pdf">Day 1 Apparatus Finals Results</a>

<h2 class="men">Apparatus Qualifications Day 2</h2>
<a href="documents/day2quals.pdf" target="_blank" class="pdf">Day 2 Apparatus Qualifications Results</a>

<h2 class="wom">Apparatus Qualifications Day 1</h2>	
<a href="documents/day1quals.pdf" target="_blank" class="pdf">Day 1 Apparatus Qualifications Results</a>

