---
title: "World Challenge Cup 2016 Szombathely"
year: 2016
startdate: 2016-10-07
enddate: 2016-10-09
country: "HUN"
category: "world-challenge-cup"
layout: results
redirect_from: /2016/eu/hun/world-challenge-cup-szombathely.html
---

{% include resultsheader.html title="World Challenge Cup 2016 Szombathely (HUN)<br>2016 Oct 7-9" %}

<img src="images/banner.png" alt="World Challenge Cup 2016 Szombathely (HUN) 2016 Oct 7-9">
<h2 class="men">Men Apparatus Finals Day 2</h2>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Vault Final Men</a>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Parallel Bars Final Men</a>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Horizontal Bar Final Men</a>
<h2 class="wom">Women Apparatus Finals Day 2</h2>
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Final Women</a>
<h2 class="men">Men Apparatus Finals Day 1</h2>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Floor Exercise Final Men</a>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Pommel Horse Final Men</a>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Rings Final Men</a>
<h2 class="wom">Women Apparatus Finals Day 1</h2>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
<h2 class="men">Men Qualification</h2>
	<a href="documents/magq1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magq2ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magq3sr.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magq4vt.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magq5pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/magq6hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>
<h2 class="wom">Women Qualification</h2>
	<a href="documents/wagq1vt.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagq2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagq3bb.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagq4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>
<h2 class="men">Information</h2>
<p><b>Disciplines, categories and age:</b></p>
<ul>
<li>Men&rsquo;s Artistic Gymnastics - Senior 18 years and older</li>
<li>Women&rsquo;s Artistic Gymnastics - Senior 16 years and older</li>
</ul>
<br>
	<a href="documents/nomreg.pdf" target="_blank" class="pdf">Nominative Registration</a>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday Oct 5</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"><br>15:00 - 19:00</td>
		<td style="width:460px; vertical-align:top;">Arrival<br>Free Training</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday Oct 6</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"><br>15:00 - 19:00<br>19:10</td>
		<td style="width:460px; vertical-align:top;">Arrival<br>Free Training<br>Technical Meeting in Arena Savaria</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday Oct 7</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">08:00 - 11:30<br>13:20 - 14:50<br>15:00 - 19:00</td>
		<td style="width:460px; vertical-align:top;">Training<br>Warm-Up<br>Qualification MAG &amp; WAG Competition</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday Oct 8</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">08:00 - 11:30<br>13:20 - 15:50<br>15:00 - 18:00</td>
		<td style="width:460px; vertical-align:top;">Training<br>Warm-Up<br>Final MAG (FX, PH, SR) &amp; WAG (VT, UB) Competition</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday Oct 9</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">08:30 - 11:30<br>15:00 - 18:00<br>19:30</td>
		<td style="width:460px; vertical-align:top;">Training<br>Final MAG (VT, PB, HB) &amp; WAG (BB, FX) Competition<br>Banquet</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Monday Oct 10</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Departure</td></tr>
</table>

<h3>Thanks to Kisivan Istvan for sending results</h3>


