---
title: "The BlackJack &amp; Winter Cup Challenge Las Vegas"
year: 2016
startdate: 2016-02-17
enddate: 2016-02-21
country: "USA"
category: "winter-cup"
layout: results
redirect_from: /2016/usa/winter-cup-challenge.html
---

{% include resultsheader.html title="The BlackJack &amp; Winter Cup Challenge<br>Las Vegas (USA)<br>2016 Feb 17-21" %}

<img src="images/logo.jpg" alt="The BlackJack &amp; Winter Cup Challenge Las Vegas (USA) 2016 Feb 17-21">
<h2 class="men">Results Winter Cup</h2>
	<a href="documents/magsenaa.pdf" target="_blank" class="pdf">Men Senior All-Around Results</a>
	<a href="documents/magsenevents.pdf" target="_blank" class="pdf">Men Senior Events Results</a>
	<a href="documents/magsen20.pdf" target="_blank" class="pdf">Men Senior 20 points</a><br>
	<a href="documents/magsenprel.pdf" target="_blank" class="pdf">Men Senior Preliminaries Combined</a>
	<a href="documents/magsenprels2.pdf" target="_blank" class="pdf">Men Senior Preliminaries Session 2</a>
	<a href="documents/magsenprels1.pdf" target="_blank" class="pdf">Men Senior Preliminaries Session 1</a><br>
	<a href="documents/magsenfinalsl.pdf" target="_blank" class="pdf">Men Senior Finals Start List</a>
	<a href="documents/magsenprel20p.pdf" target="_blank" class="pdf">Men Senior 20 Points Report</a>
<h2 class="men">Schedule</h2>
<div style="padding: 0 10px 0 10px;">
<h3>Winter Cup Challenge Feb 17-20, 2016</h3>
<p><b>Wednesday, Feb 17 - Training for Winter Cup Athletes Only (2pm -7pm)</b></p>

<p><b>Thursday, Feb 18 - Prelim Session I</b><br>
 &nbsp; 10:50am &nbsp;Open Warm Up<br>
 &nbsp; 12:00pm &nbsp;Judges Meeting<br>
 &nbsp; 12:50pm &nbsp;Assemble for March In<br>
 &nbsp;  1:00pm &nbsp; Competition Begins<br>
 &nbsp;  4:00pm &nbsp; Competition Concludes</p>

<p><b>Thursday, Feb 18 - Prelim Session II</b><br>
 &nbsp; 4:20pm &nbsp; Open Warm Up<br>
 &nbsp; 5:30pm &nbsp; Judges Meeting<br>
 &nbsp; 6:20pm &nbsp; Assemble for March In<br>
 &nbsp; 6:30pm &nbsp; Competition Begins<br>
 &nbsp; 9:30pm &nbsp; Competition Concludes</p>

<p><b>Saturday, Feb 20 - Session III Winter Cup Finals</b><br>
 &nbsp; 5:00pm &nbsp; Open Warm Up<br>
 &nbsp; 6:00pm &nbsp; Judges Technical Meeting<br>
 &nbsp; 7:05pm &nbsp; Assemble for March In<br>
 &nbsp; 7:15pm &nbsp; Competition Begins<br>
 &nbsp; 9:30pm &nbsp; Competition Concludes<br>
 &nbsp; 9:45pm &nbsp; Awards Ceremony</p>

<hr />

<h3>BlackJack - Friday, Feb 19, 2016</h3>
<p>
Session 1-C: <b>Level 5 (Traditional)</b> 7:30am - 11:45am<br>
Session 1-H: <b>Level 5 (Traditional)</b> 7:30am - 11:45am<br>
Session 1-D: <b>Technical Sequence (Capitol Cup)</b> 7:30am - 11:45am</p>

<p>
Session 2-C: <b>Level 7 (Traditional)</b> &nbsp;12:00pm - 3:30pm<br>
Session 2-H: <b>Level 7 (Traditional)</b> &nbsp;12:00pm - 3:30pm<br>
Session 2-S: <b>Level 7 (Capitol Cup)</b> 11:45am - 3:30pm<br>
Session 2-D: <b>Level 7 (Capitol Cup)</b> 11:45am - 3:30pm</p>

<p>
Session 3-C: <b>Level 8 (Traditional)</b> &nbsp; &nbsp;3:30pm - 9:00pm<br>
Session 3-H: <b>Level 8 (Traditional)</b> &nbsp; &nbsp;3:30pm - 9:00pm<br>
Session 3-S: <b>Level 10 (Capitol Cup)</b> 3:30pm - 9:00pm<br>
Session 3-D: <b>Level 10 (Capitol Cup)</b> 3:30pm - 9:00pm</p>

<h3>BlackJack - Saturday, Feb 20, 2016</h3>
<p>
Session 4-C: <b>Level 8 (Traditional)</b> &nbsp;7:30am - 11:45am<br>
Session 4-H: <b>Level 8 (Traditional)</b> &nbsp;7:30am - 11:45am<br>
Session 4-S: <b>Level 8 (Capitol Cup)</b> 7:30am - 11:45am<br>
Session 4-D: <b>Level 8 (Capitol Cup)</b> 7:30am - 11:45am</p>

<p>
Session 5-C: <b>Level 10 (Traditional)</b> &nbsp;11:45am - 5:00pm<br>
Session 5-H: <b>Level 10 (Traditional)</b> &nbsp;11:45am - 5:00pm<br>
Session 5-S: <b>Level 10 (Capitol Cup)</b> 11:45am - 4:45pm<br>
Session 5-D: <b>Level 10 (Capitol Cup)</b> 11:45am - 4:45pm</p>
<!--end day-->

<h3>BlackJack - Sunday, Feb 21, 2016</h3>
<p>
Session 6-C: <b>Level 9 (Traditional)</b> &nbsp;7:30am - 12:00pm<br>
Session 6-H: <b>Level 9 (Traditional)</b> &nbsp;7:30am - 12:00pm<br>
Session 6-S: <b>Level 9 (Capitol Cup)</b> 7:30am - 12:00pm<br>
Session 6-D: <b>Level 9 (Capitol Cup)</b> 7:30am - 12:00pm</p>

<p>
Session 7-C: <b>Level 6 (Traditional)</b> &nbsp;12:00pm - 4:00pm<br>
Session 7-H: <b>Level 6 (Traditional)</b> &nbsp;12:00pm - 4:00pm<br>
Session 7-S: <b>Level 6 (Capitol Cup)</b> 12:00pm - 3:30pm<br>
Session 7-D: <b>Level 6 (Capitol Cup)</b> 12:00pm - 3:30pm</p>

<p>
Session 8-C: <b>Level 4 (Traditional)</b> &nbsp;4:00pm - 8:30pm<br>
Session 8-H: <b>Level 4 (Traditional)</b> &nbsp;4:00pm - 8:30pm<br>
Session 8-S: <b>Level 5 (Capitol Cup)</b> 4:00pm - 8:30pm<br>
Session 8-D: <b>Level 5 (Capitol Cup)</b> 4:00pm - 8:30pm</p>
<br>
</div>
<img src="images/cashman.jpg" alt="The BlackJack &amp; Winter Cup Challenge Las Vegas (USA) 2016 Feb 17-21">
