---
title: "Elite Canada Gymnastics Championships Halifax, NS"
year: 2016
startdate: 2016-02-05
enddate: 2016-02-07
country: "CAN"
category: "elite-canada"
layout: results
redirect_from: /2016/am/can/elite-canada-halifax.html
---

{% include resultsheader.html title="Elite Canada Gymnastics Championships<br>Halifax, NS (CAN)<br>2016 Feb 5-7" %}

<img src="images/logo.png" alt="Elite Canada Gymnastics Championships Halifax, NS (CAN) 2015 Feb 5-7">
<h2 class="men">Results Men</h2>
	<a href="documents/magsen.pdf" target="_blank" class="pdf">Men Senior</a>
	<a href="documents/magjun.pdf" target="_blank" class="pdf">Men Junior</a>
	<a href="documents/magnovice.pdf" target="_blank" class="pdf">Men Novice</a>
<h2 class="wom">Results Women</h2>
	<a href="documents/hpsen.pdf" target="_blank" class="pdf">HP Senior</a>
	<a href="documents/hpjun.pdf" target="_blank" class="pdf">HP Junior</a>
	<a href="documents/hpnovice.pdf" target="_blank" class="pdf">HP Novice</a>
<!-- Men -->
<h2 class="men">Schedule Men</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday Feb 3</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">MPC Meeting</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday Feb 4</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">08:30-10:00<br>10:00-13:00<br>13:00-15:30<br>15:30-18:00<br>18:30-19:00</td>
		<td style="width:460px; vertical-align:top;">
Junior &amp; Senior Training<br>
Novice Podium Training &amp; Physical Testing<br>
Junior Podium Training &amp; Physical Testing<br>
Senior Podium Training<br>
Technical Meeting 		
		</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday Feb 5</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">08:30-09:30<br>09:30-11:00<br>11:00-13:30<br>13:30-15:00<br>15:00-17:30<br>17:30-19:00<br>19:00-21:30</td>
		<td style="width:460px; vertical-align:top;">
Junior &amp; Senior Training<br>
Novice Warm up<br>
Novice Competition (Optional)<br>
Junior Warm up<br>
Junior Competition + Award Ceremonies - All-Around<br>
Senior Warm up<br>
Senior Competition + Award Ceremonies – All-Around
		</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday Feb 6</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">10:30<br>10:30-12:00<br>12:00-14:30<br>16:00-17:30<br>17:30-20:00</td>
		<td style="width:460px; vertical-align:top;">
Junior &amp; Senior Training<br>
Novice Warm up<br>
Novice Competition (Compulsory) + Award Ceremonies<br>
Junior &amp; Senior Warm up (Apparatus Finals)<br>
Junior &amp; Senior AF Competition +Award Ceremonies
		</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday Feb 7</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">09:30-10:30<br>10:30-12:00</td>
		<td style="width:460px; vertical-align:top;">National Team Meeting<br>NTD Debrief of Worlds and the Rio 2016 plan</td></tr>
</table>
<img src="images/gym.png" alt="Elite Canada Gymnastics Championships Halifax, NS (CAN) 2015 Feb 5-7">
<!-- Women -->
<h2 class="wom">Schedule Women</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday Feb 4</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">08:45-09:15<br>09:15-10:50<br>09:30-11:00<br>10:50-11:20<br>11:20-12:45<br>13:30-14:00<br>14:00-16:35<br>16:45-17:15<br>17:15-19:07<br>19:30-21:30</td>
		<td style="width:460px; vertical-align:top;">
Novice General Warm-up Group 1 (by club)<br>
Novice Training Group 1<br>
Judges&rsquo: Briefing Session<br>
Novice General Warm-up Group 2 (by club)<br>
Novice Training Group 2<br>
Technical Meeting WAG<br>
Junior/Senior General Warm-up Flight 1 Training<br>
Junior/Senior Training Flight 1 Training<br>
Junior/Senior General Warm-up Flight 2 Training<br>
Junior/Senior Training Flight 2 Training<br>
NTCC meeting – For coaches of NT Athletes with NTD<br>
		</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday Feb 5</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">07:45-8:15<br>08:15-09:15<br>09:00-09:20<br>09:30-12:00<br>09:30-10:30<br>12:00-12:20<br>12:30-15:00<br>15:30-15:50<br>15:50-17:55<br>16:30-17:30<br>18:00-21:30</td>
		<td style="width:460px; vertical-align:top;">
Open Training Junior &amp; Senior<br>
Judges&rsquo; Meeting Venue Room WAG<br>
Novice Flight 1 General Warm-up<br>
Novice All-Around Day 1 Flight 1<br>
Meeting of the Junior and Senior NT Members<br>
Novice Flight 2 General Warm-up<br>
Novice All-Around Day 1 Flight 2<br>
Senior General Warm-Up<br>
Senior Warm-Up<br>
Judges&rsquo; Meeting<br>
Senior All-Around<br>
	</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday Feb 6</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">09:00-10:30<br>09:00-10:30<br>10:30-10:50<br>10:50-12:20<br>11:30-12:30<br>12:30-14:30<br>14:30<br>15:30-16:30<br>16:00-16:20<br>16:30-20:00<br>20:00<br>20:30-21:30<br></td>
		<td style="width:460px; vertical-align:top;">
Open training Senior<br>
BJC Meeting WAG<br>
Junior General Warm-up<br>
Junior Warm-up<br>
Judges&rsquo; Meeting WAG<br>
Junior All-Around<br>
Junior AA Awards<br>
Judges&rsquo; Meeting WAG<br>
Novice General Warm-Up<br>
Novice All Around Day 2<br>
Novice Awards<br>
Open training Senior
		</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday Feb 7</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">09:30-10:50<br>10:00-11:00<br>11:00-13:30<br>13:30</td>
		<td style="width:460px; vertical-align:top;">
Junior &amp; Senior AF Warm-Up<br>
Judges&rsquo; Meeting WAG<br>
Junior &amp; Senior Apparatus Finals<br>
Junior &amp; Senior Awards
		</td></tr>
</table>
<h2 class="wom">Information</h2>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>
	<a href="documents/schedule.pdf" target="_blank" class="pdf">Provisional Schedule</a>