---
title: "World Challenge Cup 2016 Mersin"
year: 2016
startdate: 2016-07-01
enddate: 2016-07-03
country: "TUR"
category: "world-challenge-cup"
layout: results
redirect_from: /2016/eu/tur/challenge-cup-mersin.html
---

{% include resultsheader.html title="World Challenge Cup<br>Mersin (TUR)<br>2016 Jul 1-3" %}

<img src="images/logo2.jpg" alt="Event logo">
<h2 class="men">Results Apparatus Finals Men</h2>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Floor Exercise Final Men</a>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Pommel Horse Final Men</a>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Rings Final Men</a>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Vault Final Men</a>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Parallel Bars Final Men</a>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Horizontal Bar Final Men</a>
<h2 class="wom">Result Apparatus Finals Women</h2>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Final Women</a>
<h2 class="men">Start List Apparatus Finals</h2>
	<a href="documents/magafsl.pdf" target="_blank" class="pdf">Start List Apparatus Finals Men</a>
	<a href="documents/wagafsl.pdf" target="_blank" class="pdf">Start List Apparatus Finals Women</a>
<h2 class="men">Results Qualification Men</h2>
	<a href="documents/magq1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magq2ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magq3sr.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magq4vt.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magq5pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/magq6hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>
<h2 class="wom">Result Qualification Women</h2>
	<a href="documents/wagq1vt.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagq2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagq3bb.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagq4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>
<br>
<img src="images/logo3.jpg" alt="logo">
<br>
<img src="images/gym.jpg" alt="gymnasium">
<br>
<img src="images/gym2.jpg" alt="gymnasium 2">