---
title: "2019 Baku World Cup &amp; AGF Trophy"
year: 2019
startdate: 2019-03-14
enddate: 2019-03-17
country: "AZE"
category: "world-cup"
layout: results
---

{% include resultsheader.html title="FIG World Cup<br>2019 AGF Trophy<br>Baku (AZE) 2019 March 14-17" %}

<img src="images/logo.jpg" alt="Baku world cup poster">

<h2 class="men">Finals</h2>
	<ul class="podium-list">
		<li><b>Men's Floor Exercise</b> 🥇Gold - Artem Dolgopyat (ISR)</li>
		<li><b>Men's Parallel Bars</b> 🥇Gold - Vladislav Poliashov (RUS)</li>
		<li><b>Men's Rings</b> 🥇Gold - Courtney Tulloch (GBR)</li>
		<li><b>Women's Vault</b> 🥇Gold - Jade Carey (USA)</li>
		<li><b>Women's Uneven Bars</b> 🥇Gold - Lyu Jiaqi (CHN)</li>
	</ul>
	<br>
	<a href="documents/finalday1.pdf" target="_blank" class="pdf">Finals Day 1 - Men's Floor, Parallel Bars and Rings and Women's Vault and Bars</a>
	<br>

	<ul class="podium-list">
		<li><b>Men's Vault</b> 🥇Gold - Yang Hakseon (KOR)</li>
		<li><b>Men's Pommel Horse</b> 🥇Gold - Kohei Kameyama (JPN)</li>
		<li><b>Men's Horizontal Bar</b> 🥇Gold - Epke Zonderland (NED)</li>
		<li><b>Women's Beam</b> 🥇Gold - Emma Nedov (AUS)</li>
		<li><b>Women's Floor Exercise</b> 🥇Gold - Jade Carey (USA)</li>
	</ul>
	<br>
	<a href="documents/finalday2.pdf" target="_blank" class="pdf">Finals Day 2 - Men's Vault, Pommel Horse and Horizontal Bar and Women's Beam and Floor</a>

<h2 class="wom">Qualifications</h2>
	<a href="documents/qualday1.pdf" target="_blank" class="pdf">Qualifications Day 1 - Men's Floor, Parallel Bars and Rings and Women's Vault and Bars</a>
	<a href="documents/qualday2.pdf" target="_blank" class="pdf">Qualifications Day 2 - Men's Vault, Pommel Horse and Horizontal Bar and Women's Beam and Floor</a>