---
title: "2024 Winter Cup Louisville, KY"
year: 2024
startdate: 2024-02-23
enddate: 2024-02-25
country: "USA"
category: "winter-cup"
layout: results
---

{% include resultsheader.html title="Winter Cup<br>Louisville, Kentucky (USA)<br>2024 Feb 23-25" %}

<img src="images/logo.webp" alt="Winter Cup 2023 logo">

<h2 class="wom">Senior Women's All Around Results</h2>
    <ul class="podium-list">
        <li>🥇Gold - Kayla DiCello</li>
        <li>🥈Silver - Skye Blakely</li>
        <li>🥉Bronze - Hezly Rivera</li>
    </ul>
    <a href="documents/wag_sraa.pdf" target="_blank" class="pdf">Senior Women's All Around Results</a>

<h2 class="wom">Junior Women's All Around Results</h2>
    <ul class="podium-list">
        <li>🥇Gold - Claire Pease</li>
        <li>🥈Silver - Lavi Crain</li>
        <li>🥉Bronze - Addy Fulcher</li>
    </ul>
    <a href="documents/wag_jraa.pdf" target="_blank" class="pdf">Junior Women's All Around Results</a>

<h2 class="men">Senior Men's All Around Results</h2>
    <ul class="podium-list">
        <li>🥇Gold - Yul Moldauer</li>
        <li>🥈Silver - Shane Wiskus</li>
        <li>🥉Bronze - Riley Loos</li>
    </ul>
    <a href="documents/mag_sraa.pdf" target="_blank" class="pdf">Senior Men's All Around Results</a>

<h2 class="men">Senior Men's Event Finals Results</h2>

	<a href="documents/mag_sref.pdf" target="_blank" class="pdf">Senior Men's Event Finals</a>
	<a href="documents/mag_sr10points.pdf" target="_blank" class="pdf">Senior Men's 10 Point System Results</a>

<h2 class="wom">Junior Men's Results</h2>
    <ul class="podium-list">
        <li>🥇Gold - Junnosuke Iwai</li>
        <li>🥈Silver - Nathan Roman</li>
        <li>🥉Bronze - Kiran Mandava</li>
    </ul>

	<a href="documents/mag_jraa.pdf" target="_blank" class="pdf">Junior Men's All Around</a>
	<a href="documents/mag_jref.pdf" target="_blank" class="pdf">Junior Men's Event Finals</a>
