---
title: "World Challenge Cup 2016 Anadia"
year: 2016
startdate: 2016-06-23
enddate: 2016-06-26
country: "POR"
category: "world-challenge-cup"
layout: results
redirect_from: /2016/eu/por/world-challenge-cup-anadia.html
---

{% include resultsheader.html title="World Challenge Cup 2016<br>Taca do Mundo<br>Anadia (POR)<br>2016 Jun 23-26" %}

<img src="images/logo.jpg" alt="World Challenge Cup 2016 Anadia (POR) 2016 Jun 23-26">
<h2 class="men">Results Apparatus Final Men Day 2</h2>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Results Vault Final</a>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Results Parallel Bars Final</a>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Results Horizontal Bar Final</a>
<h2 class="wom">Results Apparatus Final Women Day 2</h2>
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Results Beam Final</a>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Results Floor Exercise Final</a>
<h2 class="men">Results Apparatus Final Men Day 1</h2>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Results Floor Exercise Final</a>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Results Pommel Horse Final</a>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Results Rings Final</a>
<h2 class="wom">Results Apparatus Final Women Day 1</h2>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Results Vault Final</a>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Results Uneven Bars Final</a>
<h2 class="men">Results Qualification Men Day 2</h2>
	<a href="documents/magq4vt.pdf" target="_blank" class="pdf">Results Qualification Vault</a>
	<a href="documents/magq5pb.pdf" target="_blank" class="pdf">Results Qualification Parallel Bars</a>
	<a href="documents/magq6hb.pdf" target="_blank" class="pdf">Results Qualification Horizontal Bar</a>
<h2 class="wom">Results Qualification Women Day 2</h2>
	<a href="documents/wagq3bb.pdf" target="_blank" class="pdf">Results Qualification Beam</a>
	<a href="documents/wagq4fx.pdf" target="_blank" class="pdf">Results Qualification Floor Exercise</a>
<h2 class="men">Results Qualification Men Day 1</h2>
	<a href="documents/magq1fx.pdf" target="_blank" class="pdf">Results Qualification Floor Exercise</a>
	<a href="documents/magq2ph.pdf" target="_blank" class="pdf">Results Qualification Pommel Horse</a>
	<a href="documents/magq3sr.pdf" target="_blank" class="pdf">Results Qualification Rings</a>
<h2 class="wom">Results Qualification Women Day 1</h2>
	<a href="documents/wagq1vt.pdf" target="_blank" class="pdf">Results Qualification Vault</a>
	<a href="documents/wagq2ub.pdf" target="_blank" class="pdf">Results Qualification Uneven Bars</a>
<h2 class="men">Information</h2>
<p><b>Disciplines, categories and age:</b></p>
<ul>
<li>Men&rsquo;s Artistic Gymnastics - Senior 18 years and older</li>
<li>Women&rsquo;s Artistic Gymnastics - Senior 16 years and older</li>
</ul>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Monday June 20</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"><br>14:00-18:00</td>
		<td style="width:460px; vertical-align:top;">Arrival of delegations<br>Training as per request in the warm up hall</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Tuesday June 21</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"><br>14:00-18:00</td>
		<td style="width:460px; vertical-align:top;">Arrival of delegations<br>Training as per request in the warm up hall</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday June 22</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">09:15-19:00<br>20:15-21:00</td>
		<td style="width:460px; vertical-align:top;">Official training<br>Orientation meeting</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday June 23</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">14:00-15:00<br>14:00-15:00<br>15:00-19:00</td>
		<td style="width:460px; vertical-align:top;">Judges meeting<br>Warm-up<br>Qualification C1 (MAG: FX, PH, SR, WAG: VT, UB)</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday June 24</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">14:00-15:00<br>14:00-15:00<br>15:00-19:00</td>
		<td style="width:460px; vertical-align:top;">Judges meeting<br>Warm-up<br>Qualification C1 (MAG: VT, PB, HB, WAG: BB, FX)</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday June 25</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">13:30-14:30<br>14:30-14:58<br>15:00-15:45<br>15:55-16:30<br>16:30-17:15</td>
		<td style="width:460px; vertical-align:top;">Judges meeting<br>Opening ceremony<br>Finals: MAG Floor Exercise &amp; WAG Vault<br>Finals: MAG Pommel Horse<br>Finals: MAG Rings&amp; WAG Uneven Bars</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday June 26</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">14:00-15:00<br>15:00-15:35<br>15:35-16:20<br>16:35-17:20<br></td>
		<td style="width:460px; vertical-align:top;">Judges meeting<br>Finals: MAG Vault<br>Finals: MAG Parallel Bars &amp; WAG Beam<br>Finals: MAG Horizontal Bar &amp; WAG Floor Exercise<br></td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Monday June 27</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Departure of delegations</td></tr>
</table>
<h2 class="men">Participants</h2>
<table style="width:100%;">
<tr>
<td>
<b>MAG Gymnasts</b>
<ul>
<li>AUT KRANZLMUELLER Lukas</li>
<li>AUT BENDA Alexander</li>
<li>AUT KRANZLMUELLER Severin</li>
<li>AZE PAKHNYUK Petro</li>
<li>AZE STEPKO Oleg</li>
<li>BRA MARIANO Arthur</li>
<li>BRA SASAKI Sergio</li>
<li>CHN WENG Hao</li>
<li>CHN WANG Bo</li>
<li>CHN CEN Yu</li>
<li>CHN SUN Wei</li>
<li>CHN ZHUiaodong</li>
<li>COL CALVO MORENO Jossimar Orlando</li>
<li>OL SANDOVAL AFANADOR Javier</li>
<li>RO MARKOVIC Tomislav</li>
<li>CRO KOROSTELJEV Andrej</li>
<li>CRO UDE Filip</li>
<li>CRO BARON Matija</li>
<li>CRO MOZNIK Marijo</li>
<li>CRO KOVACEVIC Anton</li>
<li>CUB LARDUET Manrique</li>
<li>CUB LERU Randy</li>
<li>ESP TALLON FERNANDEZ Alberto</li>
<li>ESP PLATA RODRIGUEZ Joel</li>
<li>ESP MARTIN MARTIN Andres</li>
<li>ESP TRAID PEREZ Kevin</li>
<li>FIN KIRMES Oskar</li>
<li>FIN VEKKI Sakari</li>
<li>FIN KANERVA Juho</li>
<li>FRA GOBAUX Julien</li>
<li>FRA HRIMECHE Zachari</li>
<li>FRA TOMMASONE Cyril</li>
<li>FRA AIT SAID Samir</li>
<li>FRA PINHEIRO RODRIGUES Danny</li>
<li>GRE DOULKERIDIS Michail</li>
<li>GRE TANTALIDIS Antonios</li>
<li>GRE KAILIDIS Charalampos</li>
<li>GRE KONSTANTINIDIS Konstantinos</li>
<li>GRE ILIOPOULOS Nikolaos</li>
<li>HKG JIM Man Hin</li>
<li>HUN HIDVEGI Vid</li>
<li>ISR SHATILOV Alexander</li>
<li>ISR MEDVEDEV Andrey</li>
<li>JAM BECKFORD Reiss</li>
<li>JOR AL-HMOOD Majdi</li>
<li>JOR ALSQOUR Adham</li>
<li>JOR ABU AL SOUD Ahmad</li>
<li>JPN NONOMURA Shogo</li>
<li>JPN TANIGAWA Wataru</li>
<li>JPN KAYA Kazuma</li>
<li>JPN OKAMURA Yasuhiro</li>
<li>LAT TRAMS Rihards</li>
<li>LAT KARDASOVS Vitalijs</li>
<li>LAT TREFILOVS Dmitrijs</li>
<li>LTU KUZMICKAS Tomas</li>
<li>LTU TVOROGAL Robert</li>
<li>MGL GANBAT Erdenebold</li>
<li>NOR SKJERAHAUG Stian</li>
<li>NOR GIACHINO Pietro</li>
<li>POR ALMEIDA Simao</li>
<li>POR BARBOSA Tiago</li>
<li>POR PALMA SIMOES Gustavo</li>
<li>POR FRAGOSO Francisco</li>
<li>POR MARTINS Ricardo</li>
<li>POR DA SILVA BARATA Vasco Miguel</li>
<li>POR DA SILVA ALMEIDA Simao Bernardo</li>
<li>SLO KLAVORA Rok</li>
<li>SLO SILC Ziga</li>
<li>SLO BERTONCELJ Saso</li>
<li>SLO KISEK Luka</li>
<li>SLO DIMIC Alen</li>
<li>TUN HARZI Wissem</li>
</ul> 
</td>
</tr>
<tr>
<td>
<b>WAG Gymnasts</b>
<ul>
<li>ALG BOUFADENE Farah</li>
<li>AUS LITTLE Emily</li>
<li>AUS MILLER Larrissa</li>
<li>AUS MIZZEN Rianna</li>
<li>AUS NEDOV Emma WAG Gymnast</li>
<li>AUT MADER Jasmin</li>
<li>BRA BARBOSA Jade</li>
<li>BRA OLIVEIRA Lorrane</li>
<li>BRA ANDRADE Rebeca</li>
<li>BRA SARAIVA Flavia</li>
<li>CHI CASTRO Simona</li>
<li>CHN LIU Jinru</li>
<li>CHN WU Jing</li>
<li>CHNIE Yufen</li>
<li>CHN LYU Jiaqi</li>
<li>COL ESCOBAR GOMEZ Catalina Elena</li>
<li>CRO DEREK Ana</li>
<li>CUB VIDIAUX Marcia</li>
<li>ESP PALACIOS Ana</li>
<li>ESP RAYA I ARTIGAS Paula</li>
<li>ESP BECHDEJU Laura</li>
<li>FIN URVIKKO Annika</li>
<li>GRE MONOKROUSOU Evangelia</li>
<li>GRE AFRATI Argyro</li>
<li>GRE XOULOGI Ioanna</li>
<li>HUN BOECZOEGO Dorina</li>
<li>HUN KOVACS Zsofia</li>
<li>HUN MAKRA Noemi</li>
<li>ITA BUSATO Sofia</li>
<li>ITA FERRARI Vanessa</li>
<li>LAT GRISANE Valerija</li>
<li>LAT CIRCENE Alina</li>
<li>MAS TRACIE Ang</li>
<li>MAS TAN ING Yueh</li>
<li>MAS ABDUL HADI Farah Ann</li>
<li>MAS YEOH Li Wen</li>
<li>MEX MORENO Alexa</li>
<li>MEX LAGO Ana</li>
<li>NOR BERG Solveig</li>
<li>NOR BJOERSHOL Martine</li>
<li>PAN AMADO Isabella</li>
<li>PER ORREGO Ariana</li>
<li>POL JURKOWSKA-KOWALSKA Katarzyna</li>
<li>POR MARTINS Filipa</li>
<li>POR MARQUES DE LIMA Zoi Mafalda</li>
<li>POR CARVALHO Mariana</li>
<li>POR MARIANITO Mariana</li>
<li>PUR MEJIAS RODRIGUEZ Paula Andrea</li>
<li>RSA MANN Bianca</li>
<li>SIN NATHAN Nadine Joy</li>
<li>SIN TAN Sze En</li>
<li>SLO BELAK Teja</li>
<li>SLO KYSSELEF Tjasa</li>
<li>SLO KAMNIKAR Ivana</li>
<li>SLO SAJN Adela</li>
<li>SWE LARSSON Emma</li>
<li>SWE WAGNER Veronica</li>
<li>VEN LOPEZ AROCHA Jessica Brizeida</li>
</ul>
</td>
</tr>
</table>	
<!--Part table End-->
	
	<a href="documents/nomreg.pdf" target="_blank" class="pdf">Nominative Registration</a>
	<a href="documents/defreg.pdf" target="_blank" class="pdf">Definitive Registration</a>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a><br>
<img src="images/gym.jpg" alt="World Challenge Cup 2016 Anadia (POR) 2016 Jun 23-26">