---
title: "41st Turnier der Meister FIG Individual Apparatus World Cup Cottbus"
year: 2016
startdate: 2016-11-17
enddate: 2016-11-20
country: "GER"
category: "turnier-der-meister"
layout: results
redirect_from: /2016/eu/ger/turnier-der-meister-cottbus.html
---

{% include resultsheader.html title="41st Turnier der Meister<br>FIG Individual Apparatus World Cup<br>Cottbus (GER) 2016 Nov 17-20" %}

<img src="images/logo.jpg" alt="event logo">
<h2 class="men">Result Apparatus Finals Men Day 2</h2>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Apparatus Finals MAG Vault</a>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Apparatus Finals MAG Parallel Bars</a>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Apparatus Finals MAG Horizontal Bar</a>
<h2 class="wom">Result Apparatus Finals Women Day 2</h2>
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Apparatus Finals WAG Beam</a>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Apparatus Finals WAG Floor Exercise</a>
<h2 class="wom">Start List Apparatus Finals Day 2</h2>
	<a href="documents/af2sl.pdf" target="_blank" class="pdf">Start List Apparatus Finals Day 2</a>
<h2 class="men">Result Apparatus Finals Men Day 1</h2>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Apparatus Finals MAG Floor Exercise</a>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Apparatus Finals MAG Pommel Horse</a>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Apparatus Finals MAG Rings</a>
<h2 class="wom">Result Apparatus Finals Women Day 1</h2>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Apparatus Finals WAG Vault</a>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Apparatus Finals WAG Uneven Bars</a>
<h2 class="men">Result Qualification Men Day 2</h2>
	<a href="documents/magq4vt.pdf" target="_blank" class="pdf">Qualification MAG Vault</a>
	<a href="documents/magq5pb.pdf" target="_blank" class="pdf">Qualification MAG Parallel Bars</a>
	<a href="documents/magq6hb.pdf" target="_blank" class="pdf">Qualification MAG Horizontal Bar</a>
<h2 class="wom">Result Qualification Women Day 2</h2>
	<a href="documents/wagq3bb.pdf" target="_blank" class="pdf">Qualification WAG Beam</a>
	<a href="documents/wagq4fx.pdf" target="_blank" class="pdf">Qualification WAG Floor Exercise</a>
<h2 class="men">Result Qualification Men Day 1</h2>
	<a href="documents/magq1fx.pdf" target="_blank" class="pdf">Qualification MAG Floor Exercise</a>
	<a href="documents/magq2ph.pdf" target="_blank" class="pdf">Qualification MAG Pommel Horse</a>
	<a href="documents/magq3sr.pdf" target="_blank" class="pdf">Qualification MAG Rings</a>
<h2 class="wom">Result Qualification Women Day 1</h2>
	<a href="documents/wagq1vt.pdf" target="_blank" class="pdf">Qualification WAG Vault</a>
	<a href="documents/wagq2ub.pdf" target="_blank" class="pdf">Qualification WAG Uneven Bars</a>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Tuesday Nov 15</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"><br>14:30-19:30</td>
		<td style="width:460px; vertical-align:top;">Arrival of the Delegations<br>Individual Training</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday Nov 16</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">09:00-11:00<br>14:30-19:30<br>20:00</td>
		<td style="width:460px; vertical-align:top;">Individual Training<br>Podium Training<br>Technical Meeting</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday Nov 17</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">09:00-11:30<br>13:30<br>14:30-16:25<br>16:30-19:30</td>
		<td style="width:460px; vertical-align:top;">Individual Training<br>Judges Instruction<br>Warm up<br> Qualifications I MAG &amp; WAG</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday Nov 18</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">09:00-11:30<br>13:30<br>14:30-16:25<br>16:30-19:30<br></td>
		<td style="width:460px; vertical-align:top;">Individual Training<br> Judges Instruction<br>Warm up<br>Qualifications II MAG &amp; WAG</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday Nov 19</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">08:30-10:00<br>11:30<br>12:30-13:55<br>14:00-17:00</td>
		<td style="width:460px; vertical-align:top;">Individual Training<br>Judges Instruction<br>Warm up<br>Final I MAG &amp; WAG (5 apparatus)</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday Nov 20</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">08:30-10:00<br>11:30<br>12:30-13:55<br>14:00-17:00</td>
		<td style="width:460px; vertical-align:top;">Individual Training<br>Judges Instruction<br>Warm up<br>Final II MAG &amp; WAG (5 apparatus)</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Monday Nov 21</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Departure of the Delegations</td></tr>
</table>
<h2 class="men">Information</h2>
	<a href="documents/magdraw.pdf" target="_blank" class="pdf">Drawing of Lots Qualification MAG</a>
	<a href="documents/wagdraw.pdf" target="_blank" class="pdf">Drawing of Lots Qualification WAG</a><br>
	<a href="documents/nomreg.pdf" target="_blank" class="pdf">Nominative Registration</a>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a><br>
<img src="images/poster2.jpg" alt="event poster">