BODY {
	font-size: 16px;
	font-family: "Verdana, Geneva, Arial, Helvetica, sans-serif";
	font-weight: "normal";
	margin-top: 5px;
	margin-left: 10px;
	background: url("pic/bg00.gif") repeat fixed;
     }
A:link { text-decoration: none }
A:active { 	text-decoration: none }
A:visited { text-decoration: none }
.uline { text-decoration: underline; }
.nol { text-decoration: none; }
#navigacia a {
	display: block;
	font-size: 10px;
	font-weight: normal;
	color: Blue;
	text-decoration: none;
	text-align: left;
	margin: 0 0 0 0;
	padding: 0.2em 0.2em 0.2em 0.5em;
	background: c0c4ff;
	width: 100%; }
#navigacia a:hover {
	color: Black; 
	background: Yellow;
	width: 97%;	}
#nav2 a {
	width: 100%;
	display: block;
	text-align: right;
	font-size: 12px;
	font-weight: normal;
	color: Navy;
	text-decoration: none;
	padding: 0px 2px 0px 0px; 
	background: #ffffff;
}
#nav2 a:hover {
	color: Red;
}		 
#nav3 a {
	display: inline;
	font-size: 12px;
	font-weight: normal;
	color: Navy;
	text-decoration: none;
	text-align: left;
	margin: 0 0 0 0;
	padding: 0.2em 1em 0.2em 1em;
	background: #ccccff;
}
#nav3 a:hover {
	color: Fuchsia;
	background: #ffffcc;
	}		 
#nav4 a {
	display: block;
	font-size: 10px;
	font-weight: normal;
	color: Blue;
	text-decoration: none;
	text-align: center;
	margin: 0 0 0 0;
	padding: 0.2em 0.2em 0.2em 0.5em;
	background: c0c4ff;
	width: 100%;
}
#nav4 a:hover {
	color: Black; 
	background: Yellow;
	}		 
.maa { background: #ffffff;
	border: 1px solid #339900; }
.waa { background: #ffffff;
	border: 1px solid Black; }
.just { text-align: justify; }
h1 {
	color: Blue;
	font-size: 24px;
	font-weight: bold;
	margin: 0px 0px 10px 5px;
	}		
h2 {
	color: Blue;
	font-size: 22px;
	font-weight: bold;
	margin: 0px 0px 10px 5px;
	}		
h3 {
	color: Blue;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0px 5px 5px;
}		
h4 {
	color: Red;
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0px 5px 5px;
}		
.bold { font-weight: bold }
.boldu { font-weight: bold;
	text-decoration: underline; }
.red { color: Red; }
.blue { color: Blue; }
.white { color: White; }
.red { color: Red; }
.rb15 { color: Red;
	font-weight: bold;
	font-size: 16px;
	 }
.rb12 { color: Red;
	font-weight: bold;
	font-size: 12px;
	 }
.blue { color: Blue; }
.bb15 { color: Blue;
	font-weight: bold;
	font-size: 16px;
	 }
.b15 {
	color: Blue;
	font-weight: normal;
	font-size: 16px;
}
.bb12 { color: Blue;
	font-weight: bold;
	font-size: 12px;
	 }
.yb15 {color: Yellow;
	font-weight: bold;
	font-size: 15px; }
.y15 { color: Yellow;
	font-weight: normal;
	font-size: 15px; }
.yb12 { color: Yellow;
	font-weight: bold;
	font-size: 12px;  }
.a12 {
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	}	 
.a10 {
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	}	 	 
.ab25 { color: Black;
	font-weight: bold;
	font-size: 25px;
	 }
.ab20 { color: Black;
	font-weight: bold;
	font-size: 20px;
	 }
.ab18 { color: Black;
	font-weight: bold;
	font-size: 18px;
	 }
.ab15 { color: Black;
	font-weight: bold;
	font-size: 16px;
	 }
.a15 { color: Black;
	font-weight: normal;
	font-size: 16px;
	 }
.ab12 { color: Black;
	font-weight: bold;
	font-size: 12px;
	 }
.a12 { color: Black;
	font-weight: normal;
	font-size: 12px;
	 }
.ab10 { color: Black;
	font-weight: bold;
	font-size: 10px;
	 }
.a10 { color: Black;
	font-weight: normal;
	font-size: 10px;
	 }
.rb25 { color: Red;
	font-weight: bold;
	font-size: 25px;
	 }
.rb20 { color: Red;
	font-weight: bold;
	font-size: 20px;
	 }
.rb15 { color: Red;
	font-weight: bold;
	font-size: 16px;
	 }
.r15 {
	color: Red;
	font-weight: normal;
	font-size: 16px;
	}
.rb12 { color: Red;
	font-weight: bold;
	font-size: 12px;
	 }
.r12 {
	color: Red;
	font-weight: normal;
	font-size: 12px;
	}
.rb10 { color: Red;
	font-weight: bold;
	font-size: 10px;
	 }
.r10 {
	color: Red;
	font-weight: normal;
	font-size: 10px;
	}
.bb25 { color: Blue;
	font-weight: bold;
	font-size: 25px;
	 }
.bb20 { color: Blue;
	font-weight: bold;
	font-size: 20px;
	 }
.bb15 { color: Blue;
	font-weight: bold;
	font-size: 16px;
	 }
.b15 {
	color: Blue;
	font-weight: normal;
	font-size: 16px;
	}
.bb12 { color: Blue;
	font-weight: bold;
	font-size: 12px;
	 }
.b12 {
	color: Blue;
	font-weight: normal;
	font-size: 12px;
	}
.bb10 { color: Blue;
	font-weight: bold;
	font-size: 10px;
	 }
.b10 {
	color: Blue;
	font-weight: normal;
	font-size: 10px;
	}
.yb25 {
	color: Yellow;
	font-weight: bold;
	font-size: 25px;
}
.yb20 {
	color: Yellow;
	font-weight: bold;
	font-size: 20px;
}
.yb15 {
	color: Yellow;
	font-weight: bold;
	font-size: 16px;
	}
.y15 {
	color: Yellow;
	font-weight: normal;
	font-size: 16px;
	}
.yb12 {
	color: Yellow;
	font-weight: bold;
	font-size: 12px;
	}
.y12 {
	color: Yellow;
	font-weight: normal;
	font-size: 12px;
	}
.yb10 { 
	color: Yellow;
	font-weight: bold;
	font-size: 10px;
	}
.y10 { 
	color: Yellow;
	font-weight: normal;
	font-size: 10px;
	}
LI { text-align: left;
	vertical-align: middle;
	list-style: disc;
	list-style-position: inside;
}	
.res {
	background: #ffffff;
	border: medium double Navy;
	}
.resw {
	background: #ffeaff;
	border: medium double Navy;
	}
.resm {
	background: #dbffff;
	border: medium double Navy;
	}
.men { background-color : #e6e6fa; }
.wom { background-color: #ffb6c1; }	
.one { background: #f5f5f5; }
.two { background: #ffffff; }
.team {background: #ffffcc; }
.svk { background: #E8F3FF; }
th { font-size : "12px";
		font-weight : "bold";
		text-align: center; }
.men {
	background-color : #e6e6fa;
	}
.one { background: #f5f5f5; }
.two { background: #ffffff; }		
.team {background: #FFFF99; }
.svk { background: #E8F3FF; }
.bg1 { 
	background: #fafafa; 
	}
.bg2 { 
	background: #f0f0f0; 
	}
.our { 
	background: #FFF0F5; 
	}
.ona { 
	background: #FFFF99; 
	}
.ine { 
	background: #FFFFCC; 
	}
TD {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: Black;
}
