BODY {
	background: "#ffffff";
	font-size: "12px";
	color: Black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: "normal";
}
TH { font-size : "12px";
	font-weight: bold; 
	}
TD {
	background: White;
	text-align: right;
	padding: 2px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	color: Black;
	}
