BODY {
	background: url("pic/bg3.jpg");
	background-repeat: repeat;
	font-size: "10px";
	color: Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: "normal";
	margin-top: 5px;
	margin-left: 1px;
}
#nav a {
	display: inline;
	font-size: 10px;
	font-weight: normal;
	color: Navy;
	text-decoration: none;
	text-align: center;
	margin: 5 0 5 0;
	padding: 0.2em 0.2em 0.2em 0.1em;
	background: #ccccff;
	width: 40px;
	}
#nav a:hover {
	color: Fuchsia;
	background: #ffffcc;
	width: 40px;
	}		 
#nav2 a {
	display: inline;
	font-size: 10px;
	font-weight: normal;
	color: Navy;
	text-decoration: none;
	text-align: center;
	margin: 5 0 5 0;
	padding: 0.2em 1em 0.2em 1em;
	background: #ccccff;
	}
#nav2 a:hover {
	color: Fuchsia;
	background: #ffffcc;
	}		 
A:link { text-decoration: none }
A:active { text-decoration: none; }
A:visited {	text-decoration: none}
H1 {font-size: 20px;
	color: Red;
	margin: 4px;
	}
H2 {
	font-size: 12px;
	color: Navy;
	margin: 4px;
}
H3 {
	font-size: 14px;
	margin: 4px;
	font-weight: bold;
	font-family: "Comic Sans MS";
	color: Blue;
}
H4 {
	font-size: 14px;
	margin: 4px;
	font-weight: bold;
	font-family: "Comic Sans MS";
	color: Red;
}
.left {
	text-align: left;
	}
.right {
	text-align: right;
	}
.center {
	text-align: center;
	}
.just {
	text-align: justify;
	}			
.sep {
	background-color: #fffafa;
	width: 100%;
	text-align: right;
}
.adr12 {
	background-color: #E6E6FA;
	color: Navy;
	font-weight: normal;
	font-size: 12px;
	width: 100%;
	padding: 3px;
}
.adr10 {
	font-size: 10px;
	font-weight: normal;
	color: Navy;
	}
.bold { font-weight: bold }
.bu { font-weight: bold;
        text-decoration: underline; }
.uline { text-decoration: underline; }
.blue { color: Blue; }
.navy { color: 000080; }
.tom { color: ff6347; }
.lsg { color: 20b2aa; }
.teal { color: 008080; }
.brown { color: a52a2a; }
.dor { color: 9932cc;}
.orch { color: da70d6; }
.pink { color: ffc0cb; }
.dpink { color: ff1493; }
.red { color: Red; }
.viol { color: ee82ee; }
.ab25 { color: Black;
        font-weight: bold;
        font-size: 25px;
         }
.ab20 { color: Black;
        font-weight: bold;
        font-size: 20px;
         }
.ab18 { color: Black;
        font-weight: bold;
        font-size: 18px;
         }
.ab15 { color: Black;
        font-weight: bold;
        font-size: 15px;
         }
.a15 { color: Black;
        font-weight: normal;
        font-size: 15px;
         }
.ab12 { color: Black;
        font-weight: bold;
        font-size: 12px;
         }
.a12 { color: Black;
        font-weight: normal;
        font-size: 12px;
         }
.ab10 { color: Black;
        font-weight: bold;
        font-size: 10px;
         }
.a10 { color: Black;
        font-weight: normal;
        font-size: 10px;
         }
.rb25 { color: Red;
        font-weight: bold;
        font-size: 25px;
         }
.rb20 { color: Red;
        font-weight: bold;
        font-size: 20px;
         }
.rb15 { color: Red;
        font-weight: bold;
        font-size: 15px;
         }
.r15 {
        color: Red;
        font-weight: normal;
        font-size: 15px;
        }
.rb12 { color: Red;
        font-weight: bold;
        font-size: 12px;
         }
.r12 {
        color: Red;
        font-weight: normal;
        font-size: 12px;
        }
.rb10 { color: Red;
        font-weight: bold;
        font-size: 10px;
         }
.r10 {
        color: Red;
        font-weight: normal;
        font-size: 10px;
        }
.bb25 { color: Blue;
        font-weight: bold;
        font-size: 25px;
         }
.bb20 { color: Blue;
        font-weight: bold;
        font-size: 20px;
         }
.bb15 { color: Blue;
        font-weight: bold;
        font-size: 15px;
         }
.b15 {
        color: Blue;
        font-weight: normal;
        font-size: 15px;
        }
.bb12 { color: Blue;
        font-weight: bold;
        font-size: 12px;
         }
.b12 {
        color: Blue;
        font-weight: normal;
        font-size: 12px;
        }
.bb10 { color: Blue;
        font-weight: bold;
        font-size: 10px;
         }
.b10 {
        color: Blue;
        font-weight: normal;
        font-size: 10px;
        }
CAPTION {
	font-size: 15px;
	color: Purple;
	font-weight: bold;
	background: #E6E6FA 100%;
	}		
.waa {
	text-indent: 3px;
	background: #ffffff;
	border: 1px solid Navy;
	}
.maa {
	text-indent: 3px;
	background: #ffffff;
	border: 1px solid Navy;}
TD { font-size: 10px;
	text-align: left;
	}		     
TH {
	font-size: "12px";
	font-weight: "bold";
	text-align: center;
}
.men { background-color: #e6e6fa; }
.wom { background-color: #ffb6c1; }	
	
.one { background: #f5f5f5; }
.two { background: #ffffff; }
.team {background: #ffffcc; }
.svk { background: #E8F3FF; }
TD {
	padding: 2px 2px 0px 2px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	color: Black;
	}
