---
title: "Australian Gymnastics Championships Melbourne"
year: 2016
startdate: 2016-05-23
enddate: 2016-06-04
country: "AUS"
category: "australian-championships"
layout: results
redirect_from: /2016/aus/championships.html
---

{% include resultsheader.html title="Australian Gymnastics Championships<br>Melbourne Hisense Arena (AUS)<br>2016 May 23 - June 4" %}

<img src="/assets/images/logos/aus.png" width="312" height="100" border=0 alt="Australian Gymnastics Championships Melbourne Hisense Arena (AUS) 2016 May 23 - June 4">
<!--WAG Sen-->
<h2 class="wom">Women Senior</h2>
	<a href="documents/wagsenteams.pdf" target="_blank" class="pdf">Teams Women Senior</a>
	<a href="documents/wagsenaa.pdf" target="_blank" class="pdf">All Around Women Senior</a>
	<a href="documents/wagsenaf1vt.pdf" target="_blank" class="pdf">Vault Finals Women Senior</a>
	<a href="documents/wagsenaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Finals Women Senior</a>
	<a href="documents/wagsenaf3bb.pdf" target="_blank" class="pdf">Beam Finals Women Senior</a>
	<a href="documents/wagsenaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Finals Women Senior</a>
<!--MAG Sen-->
<h2 class="men">Men Senior</h2>
	<a href="documents/magsenteams.pdf" target="_blank" class="pdf">Teams Men Senior</a>
	<a href="documents/magsenaa.pdf" target="_blank" class="pdf">All Around Men Senior</a>
	<a href="documents/magsenaf1fx.pdf" target="_blank" class="pdf">Floor Exercise Final Men Senior</a>
	<a href="documents/magsenaf2ph.pdf" target="_blank" class="pdf">Pommel Horse Final Men Senior</a>
	<a href="documents/magsenaf3sr.pdf" target="_blank" class="pdf">Rings Final Men Senior</a>
	<a href="documents/magsenaf4vt.pdf" target="_blank" class="pdf">Vault Final Men Senior</a>
	<a href="documents/magsenaf5pb.pdf" target="_blank" class="pdf">Parallel Bars Final Men Senior</a>
	<a href="documents/magsenaf6hb.pdf" target="_blank" class="pdf">Horizontal Bar Final Men Senior</a.
<!--WAG Jun-->
<h2 class="wom">Women Junior</h2>
	<a href="documents/wagjunteams.pdf" target="_blank" class="pdf">Teams Women Junior</a>
	<a href="documents/wagjunaa.pdf" target="_blank" class="pdf">All Around Women Junior</a>
	<a href="documents/wagjunaf1vt.pdf" target="_blank" class="pdf">Vault Finals Women Junior</a>
	<a href="documents/wagjunaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Finals Women Junior</a>
	<a href="documents/wagjunaf3bb.pdf" target="_blank" class="pdf">Beam Finals Women Junior</a>
	<a href="documents/wagjunaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Finals Women Junior</a>
<h2 class="men">Information</h2>
<div style="padding: 16px;">
	<b>Disciplines, categories and age:</b><br>
	<ul>
		<li>Men&rsquo;s Artistic Gymnastics</li>
		<li>Women&rsquo;s Artistic Gymnastics</li>
		<li>Rhythmic Gymnastics</li>
		<li>Trampoline Gymnastics</li>
		<li>Aerobic Gymnastics</li>
	</ul>
</div>

<img src="images/disciplines.png" alt="Australian Gymnastics Championships Melbourne Hisense Arena (AUS) 2016 May 23 - June 4">
<br>
<img src="images/hisense.png" alt="Australian Gymnastics Championships Melbourne Hisense Arena (AUS) 2016 May 23 - June 4">


