---
title: "2016 U.S. Men's P&amp;G Championships"
year: 2016
startdate: 2016-06-03
enddate: 2016-06-05
country: "USA"
category: "usa-nationals"
layout: results
redirect_from: /2016/usa/pg-championships-and-secret-classic.html
---

{% include resultsheader.html title="2016 U.S. Men's P&amp;G Championships<br>Hartford, CT (USA)<br>2016 June 3-5" %}

<img src="images/logos.png" alt="2016 P&amp;G Gymnastics Championships and Secret Classic logos"></td></tr>

<h2 class="men">2016 P&amp;G Gymnastics Championships Men</h2>
<img src="images/magpodium.jpg" alt="2016 P&amp;G Gymnastics Championships Men all-around podium"><br>
	<a href="documents/magaa.pdf" target="_blank" class="pdf">Results All-Around</a>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Results Floor Exercise</a>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Results Pommel Horse</a>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Results Rings</a>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Results Vault</a>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Results Parallel Bars</a>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Results Horizontal Bar</a>
	<br>
	<img src="images/magteam.jpg" alt="2016 USA men's national team">
	<br>
	<a href="documents/magday1.pdf" target="_blank" class="pdf">Day 1 Results</a>
	<a href="documents/magd1sl.pdf" target="_blank" class="pdf">Day 1 Start List</a>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday June 3</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">2:30 pm<br>7:00 pm</td>
		<td style="width:460px; vertical-align:top;">Women&rsquo;s Hopes Championships<br>Senior. Men&rsquo;s P&G Gymnastics Championships – Day 1</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday June 4</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">1:00 pm<br>7:00 pm</td>
		<td style="width:460px; vertical-align:top;">Junior Women&rsquo;s Secret U.S. Classic<br>Senior Women&rsquo;s Secret U.S. Classic</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday June 5</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">1:00 pm</td>
		<td style="width:460px; vertical-align:top;">Senior Men&rsquo;s P&G Gymnastics Championships – Final Day</td></tr>
</table><br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; All times are Eastern and subject to change<br>