---
title: "2016 AT&amp;T American Cup"
year: 2016
startdate: 2016-03-05
country: "USA"
category: "world-cup"
layout: results
redirect_from: /2016/usa/att-american-cup.html
---

{% include resultsheader.html title="2016 AT&amp;T American Cup<br>Artistic Gymnastics World Cup<br>Newark (USA) 2016 March 5" %}	

<img src="images/logo600x338.png" alt="2016 AT&amp;T American Cup Newark (USA) 2016 March 5">
<h2 class="wom">AT&amp;T American Cup</h2>
	<a href="documents/magaa.pdf" target="_blank" class="pdf">Results Men</a>
	<a href="documents/wagaa.pdf" target="_blank" class="pdf">Results Women</a>
<h2 class="wom">Nastia Liukin Cup</h2>
	<a href="documents/liukin/seniors.pdf" target="_blank" class="pdf">Results Nastia Liukin Cup Senior</a>
	<a href="documents/liukin/juniors.pdf" target="_blank" class="pdf">Results Nastia Liukin Cup Junior</a>
<h2 class="men">Participants</h2>
<div style="padding:16px;">
<b>Men</b><br>
<ul>
<li>Brazil: Lucas De Souza Bitencourt</li>
<li>China: Sun Wei</li>
<li>Great Britain: Nile Wilson</li>
<li>Germany: Andreas Bretschneider</li>
<li>Japan: Ryohei Kato</li>
<li>Korea: Park Minsoo</li>
<li>Switzerland: Pablo Braegger</li>
<li>USA: Samuel Mikulak</li>
<li>USA: Donnell Whittenburg</li>
</ul>
<b>Women</b><br>
<ul>
<li>Brazil: Lorrane Oliveira</li>
<li>Canada: Elsabeth Black</li>
<li>Great Britain: Amy Tinkler</li>
<li>Germany: Tabea Alt</li>
<li>Italy: Carlotta Ferlito</li>
<li>Japan: Mai Murakami</li>
<li>Netherlands: Tisha Volleman</li>
<li>USA: Gabrielle Douglas</li>
<li>USA: Maggie Nichols</li>
</ul>
</div>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday March 2</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Delegation Arrivals</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday March 3</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">8:30-10:00<br>9:30-10:00<br>10:00-10:30<br>10:00-12:30<br>13:30-16:00<br>16:00-17:30</td>
		<td style="width:460px; vertical-align:top;">
Men&rsquo;s Open Training<br>Women&amp;s Orientation Meeting<br>Men&rsquo;s Orientation Meeting<br>
Women&rsquo;s Structured Training<br>Men&rsquo;s Open Training<br>Women&rsquo;s Structured Training<br>
		</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday March 4</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">8:00-10:30<br>10:30-13:00<br>13:30-15:00<br>15:00-16:30<br></td>
		<td style="width:460px; vertical-align:top;">Women&rsquo;s Structured Training<br>Men&rsquo;s Open Training<br>Women&rsquo;s Structured Training<br>Men&rsquo;s Open Training</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday March 5</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">9:30-11:05<br>9:30-9:55<br>9:55-10:25<br>10:25-10:35<br>10:30-11:00<br>11:3-15:00</td>
		<td style="width:460px; vertical-align:top;">
Warm-up for competition<br>General Stretch<br>Women: BB, FX Men: VT, PB, HB<br>
Equipment Change<br>Women: VT, UB Men: FX, PH, SR<br>Men&rsquo;s and Women&rsquo;s Judges&rsquo; Meeting<br>AT&amp;T American Cup Competition
		</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday March 6</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Delegation Departures</td></tr>
</table>

<img src="images/hala600x384.jpg" alt="Prudential Center 2016 AT&amp;T American Cup Newark (USA) 2016 March 5">
<h2 class="wom">Information</h2>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>
	<a href="documents/qualifiers.pdf" target="_blank" class="pdf">2016 FIG Artistic Gymnastics All-around World Cup series qualifiers</a>
