---
title: "2019 Elite Canada Gatineau, Quebec"
year: 2019
startdate: 2019-02-01
enddate: 2019-02-03
country: "CAN"
category: "elite-canada"
layout: results
---

{% include resultsheader.html title="Elite Canada Gymnastics Championships<br>Gatineau, Quebec (CAN)<br>2019 Feb 1-3" %}

<img src="images/logo.png" alt="Elite Canada logo">

<h2 class="wom">Senior Women's Results</h2>

	<img src="images/sraa.jpg" alt="Senior women's podium"><br>

	<ul class="podium-list">
		<li>🥇Gold - Ana Padurariu</li>
		<li>🥈Silver - Elsabeth Black</li>
		<li>🥉Bronze - Zoé Allaire-Bourgie</li>
	</ul>
	<br>
	<a href="documents/sraa.pdf" target="_blank" class="pdf">Senior Women All-Around</a><br>
	<a href="documents/srvt.pdf" target="_blank" class="pdf">Senior Women Vault</a>
	<a href="documents/srub.pdf" target="_blank" class="pdf">Senior Women Uneven Bars</a>
	<a href="documents/srbb.pdf" target="_blank" class="pdf">Senior Women Beam</a>
	<a href="documents/srfx.pdf" target="_blank" class="pdf">Senior Women Floor</a>

<h2 class="wom">Junior Women's Results</h2>

	<img src="images/jraa.jpg" alt="Junior women's podium"><br>

	<ul class="podium-list">
		<li>🥇Gold - Rébéka Groulx</li>
		<li>🥈Silver - Clara Raposo</li>
		<li>🥉Bronze - Alexa Tucker</li>
	</ul>
	<br>

	<a href="documents/jraa.pdf" target="_blank" class="pdf">Junior Women All-Around</a>
	<a href="documents/jref.pdf" target="_blank" class="pdf">Junior Women Event Finals</a>

<h2 class="wom">Novice Women's Results</h2>

	<img src="images/noviceaa.jpg" alt="Novice women's podium"><br>

	<ul class="podium-list">
		<li>🥇Gold - Alicia Wendland</li>
		<li>🥈Silver - Emma Trollip</li>
		<li>🥉Bronze - Victoriane Charron</li>
	</ul>
	<br>

	<a href="documents/novaa.pdf" target="_blank" class="pdf">Novice Women All-Around</a>
	<a href="documents/novef.pdf" target="_blank" class="pdf">Novice Women Event Finals</a>




