---
title: "Sydney 2000 Olympics Men's Team Qualifications"
year: 2000
startdate: 2000-09-18
enddate: 2000-09-25
country: "AUS"
category: "olympics"
layout: results
homepage: false
redirect_from: /olympics/2000/magqualteams.html
---
	
{% include resultsheader.html title="Games of the 27th Olympiad<br>Men's Artistic Gymnastics<br>Sydney (AUS) September 18-25, 2000<br>Team Qualifications Men" %}

<a href="/results/2000/olympics/index.html"><img src="/assets/images/logos/p2000og.jpg"></a>

<!--Teams-->
<h2 class="men">Qualification Men's Teams</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="20" align="right">
	<col width="200">
	<col width="40" align="center">
	<colgroup span=6 align="center" width=60>
	<colgroup span=1 align="center" width=70>
<tr class="men">
	<th colspan=2>Team</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr bgcolor="#000000"><td colspan="10"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">1</td><td valign="top">RUSSIA</td><td align="center">38.187<br>2</td><td align="center">38.374<br>6</td><td align="center">38.312<br>2</td><td align="center">38.649<br>1</td><td align="center">37.662<br>9</td><td align="center">38.949<br>1</td><td align="center">230.133<br>1</td></tr>
<tr class="one"><td align="center">1</td><td>NEMOV Alexei</td><td align="center">9.800</td><td align="center">9.787</td><td align="center">9.600</td><td align="center">9.712</td><td align="center">9.675</td><td align="center">9.787</td><td align="center">58.361</td></tr>
<tr class="two"><td align="center">3</td><td>BONDARENKO Alexey</td><td align="center">9.475</td><td align="center">9.712</td><td align="center">9.600</td><td align="center">9.750</td><td align="center">9.525</td><td align="center">9.750</td><td align="center">57.812</td></tr>
<tr class="one"><td align="center">24</td><td>ALECHINE Maxim</td><td align="center">9.287</td><td align="center">9.100</td><td align="center">9.575</td><td align="center">9.575</td><td align="center">8.950</td><td align="center">9.787</td><td align="center">56.274</td></tr>
<tr class="two"><td align="center">25</td><td>PODGORNYI Evgueni</td><td align="center">9.625</td><td align="center">9.125</td><td align="center">9.462</td><td align="center">9.387</td><td align="center">9.512</td><td align="center">9.162</td><td align="center">56.273</td></tr>
<tr class="one"><td align="center">56</td><td>KRIOUKOV Nikolai</td><td></td><td align="center">9.750</td><td align="center">9.537</td><td align="center">9.612</td><td align="center">8.812</td><td align="center">9.625</td><td align="center">47.336</td></tr>
<tr class="two"><td align="center">96</td><td>DREVINE Dmitri</td><td align="center">9.225</td><td></td><td></td><td></td><td></td><td></td><td align="center">9.225</td></tr>
<tr bgcolor="#000000"><td colspan="10"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">2</td><td valign="top">CHINA</td><td align="center">38.424<br>1</td><td align="center">38.774<br>2</td><td align="center">38.175<br>6</td><td align="center">37.649<br>7</td><td align="center">38.562<br>2</td><td align="center">38.412<br>6</td><td align="center">229.996<br>2</td></tr>
<tr class="one"><td align="center">5</td><td>YANG Wei</td><td align="center">9.612</td><td align="center">9.687</td><td align="center">9.650</td><td align="center">9.675</td><td align="center">9.225</td><td align="center">9.600</td><td align="center">57.449</td></tr>
<tr class="two"><td align="center">8</td><td>ZHENG Lihui</td><td align="center">9.587</td><td align="center">9.675</td><td align="center">9.575</td><td align="center">9.512</td><td align="center">9.550</td><td align="center">9.412</td><td align="center">57.311</td></tr>
<tr class="one"><td align="center">54</td><td>LI Xiaopeng</td><td align="center">9.725</td><td></td><td align="center">9.600</td><td align="center">9.225</td><td align="center">9.762</td><td align="center">9.650</td><td align="center">47.962</td></tr>
<tr class="two"><td align="center">55</td><td>XING Aowei</td><td align="center">9.500</td><td align="center">9.725</td><td></td><td align="center">9.237</td><td align="center">9.575</td><td align="center">9.537</td><td align="center">47.574</td></tr>
<tr class="one"><td align="center">68</td><td>HUANG Xu</td><td></td><td align="center">9.687</td><td align="center">9.012</td><td></td><td align="center">9.675</td><td align="center">9.625</td><td align="center">37.999</td></tr>
<tr class="two"><td align="center">70</td><td>XIAO Junfeng</td><td align="center">9.475</td><td align="center">9.675</td><td align="center">9.350</td><td align="center">9.212</td><td></td><td></td><td align="center">37.712</td></tr>
<tr bgcolor="#000000"><td colspan="10"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">3</td><td valign="top">UKRAINE</td><td align="center">37.636<br>5</td><td align="center">38.824<br>1</td><td align="center">38.187<br>5</td><td align="center">38.336<br>4</td><td align="center">37.899<br>6</td><td align="center">38.774<br>3</td><td align="center">229.656<br>3</td></tr>
<tr class="one"><td align="center">2</td><td>BERESH Oleksandr</td><td align="center">9.612</td><td align="center">9.775</td><td align="center">9.550</td><td align="center">9.675</td><td align="center">9.650</td><td align="center">9.787</td><td align="center">58.049</td></tr>
<tr class="two"><td align="center">9</td><td>SVITLYCHNYY Oleksandr</td><td align="center">9.225</td><td align="center">9.712</td><td align="center">9.562</td><td align="center">9.512</td><td align="center">9.575</td><td align="center">9.700</td><td align="center">57.286</td></tr>
<tr class="one"><td align="center">32</td><td>ZOZULYA Roman</td><td align="center">8.687</td><td align="center">9.637</td><td align="center">9.650</td><td align="center">9.562</td><td align="center">8.800</td><td align="center">9.587</td><td align="center">55.923</td></tr>
<tr class="two"><td align="center">59</td><td>GONCHAROV Valeriy</td><td></td><td align="center">9.550</td><td align="center">9.337</td><td align="center">9.537</td><td align="center">9.162</td><td align="center">9.025</td><td align="center">46.611</td></tr>
<tr class="one"><td align="center">67</td><td>PERESHKURA Valeriy</td><td align="center">9.462</td><td></td><td></td><td align="center">9.562</td><td align="center">9.512</td><td align="center">9.700</td><td align="center">38.236</td></tr>
<tr class="two"><td align="center">87</td><td>MYEZYENTSEV Ruslan</td><td align="center">9.337</td><td align="center">9.700</td><td align="center">9.425</td><td></td><td></td><td></td><td align="center">28.462</td></tr>
<tr bgcolor="#000000"><td colspan="10"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">4</td><td valign="top">UNITED STATES</td><td align="center">37.662<br>4</td><td align="center">38.024<br>10</td><td align="center">38.211<br>4</td><td align="center">38.500<br>2</td><td align="center">38.175<br>5</td><td align="center">38.636<br>5</td><td align="center">229.208<br>4</td></tr>
<tr class="one"><td align="center">6</td><td>HAMM Paul</td><td align="center">9.475</td><td align="center">9.562</td><td align="center">9.512</td><td align="center">9.700</td><td align="center">9.575</td><td align="center">9.612</td><td align="center">57.436</td></tr>
<tr class="two"><td align="center">14</td><td>WILSON Blaine</td><td align="center">9.025</td><td align="center">9.462</td><td align="center">9.612</td><td align="center">9.800</td><td align="center">9.312</td><td align="center">9.650</td><td align="center">56.861</td></tr>
<tr class="one"><td align="center">36</td><td>McCAIN Stephen</td><td align="center">9.225</td><td align="center">8.850</td><td align="center">9.462</td><td align="center">8.987</td><td align="center">9.500</td><td align="center">9.662</td><td align="center">55.686</td></tr>
<tr class="two"><td align="center">57</td><td>HAMM Morgan</td><td align="center">9.612</td><td align="center">9.400</td><td align="center">9.425</td><td align="center">9.350</td><td align="center">9.475</td><td></td><td align="center">47.262</td></tr>
<tr class="one"><td align="center">65</td><td>TOWNSEND Sean</td><td align="center">9.350</td><td></td><td></td><td align="center">9.650</td><td align="center">9.625</td><td align="center">9.712</td><td align="center">38.337</td></tr>
<tr class="two"><td align="center">88</td><td>ROETHLISBERGER John</td><td></td><td align="center">9.600</td><td align="center">9.625</td><td></td><td></td><td align="center">9.187</td><td align="center">28.412</td></tr>
<tr bgcolor="#000000"><td colspan="10"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">5</td><td valign="top">JAPAN</td><td align="center">37.112<br>7</td><td align="center">38.411<br>5</td><td align="center">38.374<br>1</td><td align="center">38.498<br>3</td><td align="center">36.999<br>12</td><td align="center">38.687<br>4</td><td align="center">228.081<br>5</td></tr>
<tr class="one"><td align="center">10</td><td>TSUKAHARA Naoya</td><td align="center">9.162</td><td align="center">9.637</td><td align="center">9.625</td><td align="center">9.612</td><td align="center">9.200</td><td align="center">9.750</td><td align="center">56.986</td></tr>
<tr class="two"><td align="center">18</td><td>FUJITA Kenichi</td><td align="center">9.425</td><td align="center">9.587</td><td align="center">9.487</td><td align="center">9.662</td><td align="center">8.812</td><td align="center">9.587</td><td align="center">56.560</td></tr>
<tr class="one"><td align="center">20</td><td>SAITO Yoshihiro</td><td align="center">9.150</td><td align="center">9.525</td><td align="center">9.575</td><td align="center">9.562</td><td align="center">8.975</td><td align="center">9.700</td><td align="center">56.487</td></tr>
<tr class="two"><td align="center">58</td><td>HARADA Mutsumi</td><td align="center">9.175</td><td align="center">9.450</td><td align="center">9.487</td><td></td><td align="center">9.262</td><td align="center">9.600</td><td align="center">46.974</td></tr>
<tr class="one"><td align="center">66</td><td>KASAMATSU Akihiro</td><td align="center">9.350</td><td align="center">9.662</td><td></td><td align="center">9.662</td><td></td><td align="center">9.637</td><td align="center">38.311</td></tr>
<tr class="two"><td align="center">86</td><td>IWAI Norimasa</td><td></td><td></td><td align="center">9.687</td><td align="center">9.450</td><td align="center">9.562</td><td></td><td align="center">28.699</td></tr>
<tr bgcolor="#000000"><td colspan="10"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">6</td><td valign="top">ROMANIA</td><td align="center">37.324<br>6</td><td align="center">38.586<br>3</td><td align="center">37.874<br>9</td><td align="center">38.211<br>6</td><td align="center">38.274<br>4</td><td align="center">37.411<br>11</td><td align="center">227.680<br>6</td></tr>
<tr class="one"><td align="center">7</td><td>DRAGULESCU Marian</td><td align="center">9.700</td><td align="center">9.500</td><td align="center">9.575</td><td align="center">9.637</td><td align="center">9.625</td><td align="center">9.312</td><td align="center">57.349</td></tr>
<tr class="two"><td align="center">15</td><td>SUCIU Ioan</td><td align="center">9.437</td><td align="center">9.712</td><td align="center">9.425</td><td align="center">9.350</td><td align="center">9.612</td><td align="center">9.237</td><td align="center">56.773</td></tr>
<tr class="one"><td align="center">19</td><td>ORZATA Rares</td><td align="center">9.337</td><td align="center">9.500</td><td align="center">9.637</td><td align="center">9.637</td><td align="center">9.162</td><td align="center">9.287</td><td align="center">56.560</td></tr>
<tr class="two"><td align="center">33</td><td>PESCARU Florentin</td><td align="center">8.850</td><td align="center">9.562</td><td align="center">9.237</td><td align="center">9.587</td><td align="center">9.375</td><td align="center">9.212</td><td align="center">55.823</td></tr>
<tr class="one"><td align="center">82</td><td>URZICA Marius</td><td>-</td><td align="center">9.812</td><td>-</td><td>-</td><td align="center">9.662</td><td align="center">9.575</td><td align="center">29.049</td></tr>
<tr bgcolor="#000000"><td colspan="10"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">7</td><td valign="top">SOUTH KOREA</td><td align="center">36.487<br>9</td><td align="center">38.562<br>4</td><td align="center">37.574<br>10</td><td align="center">38.262<br>5</td><td align="center">38.825<br>1</td><td align="center">37.636<br>9</td><td align="center">227.346<br>7</td></tr>
<tr class="one"><td align="center">13</td><td>CHO Seong-Min</td><td align="center">9.350</td><td align="center">9.675</td><td align="center">9.512</td><td align="center">9.700</td><td align="center">9.675</td><td align="center">9.025</td><td align="center">56.937</td></tr>
<tr class="two"><td align="center">17</td><td>JUNG Jin-Soo</td><td align="center">8.850</td><td align="center">9.500</td><td align="center">9.512</td><td align="center">9.650</td><td align="center">9.775</td><td align="center">9.287</td><td align="center">56.574</td></tr>
<tr class="one"><td align="center">31</td><td>LEE Joo-Hyung</td><td align="center">8.712</td><td align="center">9.650</td><td align="center">9.050</td><td align="center">9.012</td><td align="center">9.800</td><td align="center">9.762</td><td align="center">55.986</td></tr>
<tr class="two"><td align="center">48</td><td>KIM Dong-Hwa</td><td align="center">8.112</td><td align="center">9.300</td><td align="center">8.187</td><td align="center">9.225</td><td align="center">9.250</td><td align="center">9.050</td><td align="center">53.124</td></tr>
<tr class="one"><td align="center">83</td><td>LEE Jang-Hyung</td><td></td><td align="center">9.737</td><td></td><td></td><td align="center">9.575</td><td align="center">9.537</td><td align="center">28.849</td></tr>
<tr class="two"><td align="center">85</td><td>YEO Hong-Chul</td><td align="center">9.575</td><td></td><td align="center">9.500</td><td align="center">9.687</td><td></td><td></td><td align="center">28.762</td></tr>
<tr bgcolor="#000000"><td colspan="10"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">8</td><td valign="top">BELARUS</td><td align="center">37.799<br>3</td><td align="center">37.999<br>11</td><td align="center">38.161<br>7</td><td align="center">37.137<br>9</td><td align="center">37.823<br>7</td><td align="center">38.336<br>7</td><td align="center">227.255<br>8</td></tr>
<tr class="one"><td align="center">11</td><td>IVANKOV Ivan</td><td align="center">8.925</td><td align="center">9.625</td><td align="center">9.675</td><td align="center">9.350</td><td align="center">9.662</td><td align="center">9.712</td><td align="center">56.949</td></tr>
<tr class="two"><td align="center">16</td><td>SINKEVICH Aleksei</td><td align="center">9.462</td><td align="center">9.587</td><td align="center">9.462</td><td align="center">9.312</td><td align="center">9.287</td><td align="center">9.512</td><td align="center">56.622</td></tr>
<tr class="one"><td align="center">22</td><td>PAVLOVSKY Ivan</td><td align="center">9.350</td><td align="center">9.325</td><td align="center">9.337</td><td align="center">9.350</td><td align="center">9.462</td><td align="center">9.550</td><td align="center">56.374</td></tr>
<tr class="two"><td align="center">69</td><td>SHOSTAK Aleksandr</td><td></td><td align="center">9.462</td><td align="center">9.537</td><td></td><td align="center">9.412</td><td align="center">9.562</td><td align="center">37.973</td></tr>
<tr class="one"><td align="center">73</td><td>RUDNITSKY Vitaly</td><td align="center">9.525</td><td></td><td align="center">9.487</td><td align="center">9.125</td><td align="center">9.262</td><td></td><td align="center">37.399</td></tr>
<tr class="two"><td align="center">75</td><td>KRUZHILOV Aleksandr</td><td align="center">9.462</td><td align="center">9.237</td><td></td><td align="center">9.025</td><td></td><td align="center">9.500</td><td align="center">37.224</td></tr>
<tr bgcolor="#000000"><td colspan="10"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">9</td><td valign="top">FRANCE</td><td align="center">35.949<br>12</td><td align="center">38.162<br>8</td><td align="center">37.524<br>11</td><td align="center">36.624<br>12</td><td align="center">38.424<br>3</td><td align="center">38.786<br>2</td><td align="center">225.469<br>9</td></tr>
<tr class="one"><td align="center">21</td><td>KARBANENKO Dimitri</td><td align="center">9.600</td><td align="center">9.050</td><td align="center">9.300</td><td align="center">9.275</td><td align="center">9.537</td><td align="center">9.662</td><td align="center">56.424</td></tr>
<tr class="two"><td align="center">23</td><td>CUCHERAT Yann</td><td align="center">8.512</td><td align="center">9.550</td><td align="center">9.537</td><td align="center">9.312</td><td align="center">9.712</td><td align="center">9.700</td><td align="center">56.323</td></tr>
<tr class="one"><td align="center">27</td><td>VARONIAN Benjamin</td><td align="center">9.287</td><td align="center">9.100</td><td align="center">9.525</td><td align="center">8.987</td><td align="center">9.525</td><td align="center">9.737</td><td align="center">56.161</td></tr>
<tr class="two"><td align="center">63</td><td>MAREE Florent</td><td align="center">8.550</td><td></td><td align="center">9.162</td><td align="center">9.050</td><td align="center">9.650</td><td align="center">7.675</td><td align="center">44.087</td></tr>
<tr class="one"><td align="center">84</td><td>CASIMIR Eric</td><td></td><td align="center">9.725</td><td></td><td></td><td align="center">9.425</td><td align="center">9.687</td><td align="center">28.837</td></tr>
<tr class="two"><td align="center">93</td><td>POUJADE Eric</td><td></td><td align="center">9.787</td><td></td><td></td><td></td><td></td><td align="center">9.787</td></tr>
<tr bgcolor="#000000"><td colspan="10"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">10</td><td valign="top">GERMANY</td><td align="center">36.098<br>10</td><td align="center">38.250<br>7</td><td align="center">38.212<br>3</td><td align="center">36.999<br>11</td><td align="center">37.662<br>8</td><td align="center">38.061<br>8</td><td align="center">225.282<br>10</td></tr>
<tr class="one"><td align="center">29</td><td>NONIN Dimitrij</td><td align="center">8.900</td><td align="center">9.500</td><td align="center">9.550</td><td align="center">8.975</td><td align="center">9.437</td><td align="center">9.687</td><td align="center">56.049</td></tr>
<tr class="two"><td align="center">30</td><td>WECKER Andreas</td><td align="center">8.962</td><td align="center">9.675</td><td align="center">9.250</td><td align="center">8.912</td><td align="center">9.550</td><td align="center">9.662</td><td align="center">56.011</td></tr>
<tr class="one"><td align="center">60</td><td>NIKIFEROW Jan-Peter</td><td align="center">8.962</td><td align="center">9.700</td><td></td><td align="center">9.625</td><td align="center">8.975</td><td align="center">9.325</td><td align="center">46.587</td></tr>
<tr class="two"><td align="center">61</td><td>PFEIFER Sergej</td><td align="center">9.137</td><td align="center">9.200</td><td align="center">9.600</td><td></td><td align="center">9.600</td><td align="center">9.012</td><td align="center">46.549</td></tr>
<tr class="one"><td align="center">74</td><td>TOBA Marius</td><td></td><td align="center">9.375</td><td align="center">9.700</td><td align="center">9.187</td><td align="center">9.075</td><td></td><td align="center">37.337</td></tr>
<tr class="two"><td align="center">77</td><td>TSCHERNITSCHEK Rene</td><td align="center">9.037</td><td></td><td align="center">9.362</td><td align="center">9.212</td><td></td><td align="center">9.387</td><td align="center">36.998</td></tr>
<tr bgcolor="#000000"><td colspan="10"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">11</td><td valign="top">SPAIN</td><td align="center">36.787<br>8</td><td align="center">38.161<br>9</td><td align="center">37.936<br>8</td><td align="center">37.549<br>8</td><td align="center">37.062<br>11</td><td align="center">37.399<br>12</td><td align="center">224.894<br>11</td></tr>
<tr class="one"><td align="center">34</td><td>CANO Victor</td><td align="center">8.725</td><td align="center">9.737</td><td align="center">9.337</td><td align="center">9.037</td><td align="center">9.412</td><td align="center">9.500</td><td align="center">55.748</td></tr>
<tr class="two"><td align="center">37</td><td>CORTES Omar</td><td align="center">8.237</td><td align="center">9.125</td><td align="center">9.537</td><td align="center">9.350</td><td align="center">9.300</td><td align="center">9.512</td><td align="center">55.061</td></tr>
<tr class="one"><td align="center">39</td><td>BARRENECHEA Alejandro</td><td align="center">9.225</td><td align="center">8.912</td><td align="center">9.562</td><td align="center">9.212</td><td align="center">8.750</td><td align="center">9.250</td><td align="center">54.911</td></tr>
<tr class="two"><td align="center">43</td><td>COFINO Saul</td><td align="center">9.462</td><td align="center">9.637</td><td align="center">9.175</td><td align="center">9.275</td><td align="center">7.600</td><td align="center">9.137</td><td align="center">54.286</td></tr>
<tr class="one"><td align="center">71</td><td>VIVO Andreu</td><td></td><td align="center">9.662</td><td align="center">9.500</td><td></td><td align="center">9.600</td><td align="center">8.850</td><td align="center">37.612</td></tr>
<tr class="two"><td align="center">90</td><td>DEFERR Gervasio</td><td align="center">9.375</td><td></td><td></td><td align="center">9.712</td><td></td><td></td><td align="center">19.087</td></tr>
<tr bgcolor="#000000"><td colspan="10"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">12</td><td valign="top">BULGARIA</td><td align="center">36.074<br>11</td><td align="center">36.674<br>12</td><td align="center">36.999<br>12</td><td align="center">37.024<br>10</td><td align="center">37.473<br>10</td><td align="center">37.486<br>10</td><td align="center">221.730<br>12</td></tr>
<tr class="one"><td align="center">4</td><td>IOVTCHEV Iordan</td><td align="center">9.650</td><td align="center">9.587</td><td align="center">9.775</td><td align="center">9.350</td><td align="center">9.612</td><td align="center">9.625</td><td align="center">57.599</td></tr>
<tr class="two"><td align="center">38</td><td>LOUNTCHEV Dimitar</td><td align="center">9.012</td><td align="center">8.725</td><td align="center">9.075</td><td align="center">9.337</td><td align="center">9.312</td><td align="center">9.487</td><td align="center">54.948</td></tr>
<tr class="one"><td align="center">62</td><td>YORDANOV Deyan</td><td align="center">8.200</td><td align="center">9.237</td><td></td><td align="center">8.950</td><td align="center">9.237</td><td align="center">8.650</td><td align="center">44.274</td></tr>
<tr class="two"><td align="center">64</td><td>VETZEV Vassil</td><td align="center">8.325</td><td align="center">8.875</td><td align="center">8.325</td><td></td><td align="center">9.150</td><td align="center">8.687</td><td align="center">43.362</td></tr>
<tr class="one"><td align="center">76</td><td>IVANOV Christian</td><td></td><td></td><td align="center">9.312</td><td align="center">8.900</td><td align="center">9.312</td><td align="center">9.687</td><td align="center">37.211</td></tr>
<tr class="two"><td align="center">79</td><td>STEFANOV Mladen</td><td align="center">9.087</td><td align="center">8.975</td><td align="center">8.837</td><td align="center">9.387</td><td></td><td></td><td align="center">36.286</td></tr>

</table>
</div>
