---
title: "Sydney 2000 Olympics Rhythmic Gymnastics"
year: 2000
startdate: 2000-09-18
enddate: 2000-09-25
country: "AUS"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /2000/o2000rh.html
- /olympics/2000/rg.html
---
	
{% include resultsheader.html title="Games of the 27th Olympiad<br>Rhythmic Gymnastics<br>Sydney (AUS) September 18-25, 2000" %}

<a href="/results/2000/olympics/index.html"><img src="/assets/images/logos/p2000og.jpg"></a>

<br>
<a href="documents/rhythmic.pdf" target="_blank" class="pdf">Official Results - Rhythmic Gymnastics</a>

<h2 class="wom">Rhythmic All Around Final</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<colgroup span=1 align="right">
	<colgroup span=1>
	<colgroup span=6 align="center">
<tr class="wom"><th colspan=2>Gymnast</th>
	<th>Fed</th><th>Rope</th><th>Hoop</th><th>Ball</th><th>Ribbon</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>BARSOUKOVA Yulia</td><td>RUS</td><td>9.883</td><td>9.900</td><td>9.916</td><td>9.933</td><td>39.632</td></tr>
<tr class="two"><td>2</td><td>RASKINA Yulia</td><td>BLR</td><td>9.908</td><td>9.791</td><td>9.933</td><td>9.916</td><td>39.548</td></tr>
<tr class="one"><td>3</td><td>KABAEVA Alina</td><td>RUS</td><td>9.925</td><td>9.641</td><td>9.950</td><td>9.950</td><td>39.466</td></tr>
<tr class="two"><td>4</td><td>VITRICHENKO Elena</td><td>UKR</td><td>9.825</td><td>9.883</td><td>9.875</td><td>9.875</td><td>39.408</td></tr>
<tr class="one"><td>5</td><td>SERRANO Eva</td><td>FRA</td><td>9.841</td><td>9.850</td><td>9.841</td><td>9.858</td><td>39.390</td></tr>
<tr class="two"><td>6</td><td>YEROFEEVA Tamara</td><td>UKR</td><td>9.750</td><td>9.750</td><td>9.750</td><td>9.750</td><td>39.000</td></tr>
<tr class="one"><td>7</td><td>DONA Evmorfia</td><td>GRE</td><td>9.766</td><td>9.716</td><td>9.775</td><td>9.725</td><td>38.982</td></tr>
<tr class="two"><td>8</td><td>VATKINA Valeria</td><td>BLR</td><td>9.791</td><td>9.750</td><td>9.666</td><td>9.750</td><td>38.957</td></tr>
<tr class="one"><td>9</td><td>CID Almudena</td><td>ESP</td><td>9.750</td><td>9.725</td><td>9.691</td><td>9.741</td><td>38.907</td></tr>
<tr class="two"><td>10</td><td>MARCHESI Susanna</td><td>ITA</td><td>9.750</td><td>9.600</td><td>9.775</td><td>9.725</td><td>38.850</td></tr>
</table>
</div>

<!--Group-->
<h2 class="wom">Rhythmic Groups Final</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<colgroup span=1 align="right">
	<colgroup span=1>
	<colgroup span=4 align="center">
<tr class="wom"><th colspan=2>Team</th><th>5 clubs</td><th>2 hoops / 3 ribbons</td><th>Total</td></tr>
<tr class="one"><td>1</td><td>RUSSIA</td><td>19.800</td><td>19.700</td><td>39.500</td></tr>
<tr class="two"><td>2</td><td>BELARUS</td><td>19.800</td><td>19.700</td><td>39.500</td></tr>
<tr class="one"><td>3</td><td>GREECE</td><td>19.550</td><td>19.733</td><td>39.283</td></tr>
<tr class="two"><td>4</td><td>GERMANY</td><td>19.533</td><td>19.366</td><td>38.899</td></tr>
<tr class="one"><td>5</td><td>JAPAN</td><td>19.350</td><td>19.200</td><td>38.550</td></tr>
<tr class="two"><td>6</td><td>ITALY</td><td>19.250</td><td>19.233</td><td>38.483</td></tr>
<tr class="one"><td>7</td><td>BULGARIA</td><td>19.166</td><td>19.266</td><td>38.432</td></tr>
<tr class="two"><td>8</td><td>BRAZIL</td><td>19.066</td><td>19.200</td><td>38.266</td></tr>
</table>
</div>

<!--Qual-->
<h2 class="men">Rhythmic All Around Qualification</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<colgroup span=1 align="right">
	<colgroup span=1>
	<colgroup span=6 align="center">
<tr class="wom"><th colspan=2>Gymnast</th>
	<th>Fed</th><th>Rope</th><th>Hoop</th><th>Ball</th><th>Ribbon</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>KABAEVA Alina</td><td>RUS</td><td>9.916</td><td>9.925</td><td>9.925</td><td>9.925</td><td>39.691</td></tr>
<tr class="two"><td>2</td><td>RASKINA Yulia</td><td>BLR</td><td>9.900</td><td>9.908</td><td>9.908</td><td>9.908</td><td>39.624</td></tr>
<tr class="one"><td>3</td><td>BARSOUKOVA Youlia</td><td>RUS</td><td>9.900</td><td>9.900</td><td>9.900</td><td>9.900</td><td>39.600</td></tr>
<tr class="two"><td>4</td><td>SERRANO Eva</td><td>FRA</td><td>9.875</td><td>9.875</td><td>9.833</td><td>9.900</td><td>39.483</td></tr>
<tr class="one"><td>5</td><td>VITRICHENKO Elena</td><td>UKR</td><td>9.850</td><td>9.800</td><td>9.866</td><td>9.883</td><td>39.399</td></tr>
<tr class="two"><td>6</td><td>VATKINA Valeria</td><td>BLR</td><td>9.750</td><td>9.733</td><td>9.775</td><td>9.800</td><td>39.058</td></tr>
<tr class="one"><td>7</td><td>MARCHESI Susanna</td><td>ITA</td><td>9.725</td><td>9.725</td><td>9.741</td><td>9.733</td><td>38.924</td></tr>
<tr class="two"><td>8</td><td>YEROFEEVA Tamara</td><td>UKR</td><td>9.725</td><td>9.750</td><td>9.716</td><td>9.708</td><td>38.899</td></tr>
<tr class="one"><td>9</td><td>CID TOSTADO Almudena</td><td>ESP</td><td>9.691</td><td>9.708</td><td>9.733</td><td>9.716</td><td>38.848</td></tr>
<tr class="two"><td>10</td><td>DONA Evmorphia</td><td>GRE</td><td>9.675</td><td>9.725</td><td>9.725</td><td>9.708</td><td>38.833</td></tr>
<tr class="one"><td>11</td><td>DOMINGUEZ Esther</td><td>ESP</td><td>9.658</td><td>9.708</td><td>9.666</td><td>9.700</td><td>38.732</td></tr>
<tr class="two"><td>12</td><td>SCHAUFLER Edita</td><td>GER</td><td>9.775</td><td>9.783</td><td>9.366</td><td>9.783</td><td>38.707</td></tr>
<tr class="one"><td>13</td><td>BRANDEBURA Agnieszka</td><td>POL</td><td>9.716</td><td>9.470</td><td>9.791</td><td>9.600</td><td>38.577</td></tr>
<tr class="two"><td>14</td><td>TOKAEV Svetlana</td><td>ISR</td><td>9.666</td><td>9.683</td><td>9.645</td><td>9.575</td><td>38.569</td></tr>
<tr class="one"><td>15</td><td>TEPECHANOVA Iva</td><td>BUL</td><td>9.608</td><td>9.641</td><td>9.658</td><td>9.441</td><td>38.548</td></tr>
<tr class="two"><td>16</td><td>MATSUNAGA Rieko</td><td>JPN</td><td>9.514</td><td>9.608</td><td>9.660</td><td>9.625</td><td>38.407</td></tr>
<tr class="one"><td>17</td><td>ASMUS Helene</td><td>GER</td><td>9.425</td><td>9.616</td><td>9.641</td><td>9.625</td><td>38.311</td></tr>
<tr class="two"><td>18</td><td>LIVINGSTON Emilie</td><td>CAN</td><td>9.525</td><td>9.591</td><td>9.575</td><td>9.575</td><td>38.266</td></tr>
<tr class="one"><td>19</td><td>LERAY Danielle</td><td>AUS</td><td>9.575</td><td>9.591</td><td>9.566</td><td>9.483</td><td>38.215</td></tr>
<tr class="two"><td>20</td><td>FRATER Viktoria</td><td>HUN</td><td>9.566</td><td>9.600</td><td>9.462</td><td>9.533</td><td>38.161</td></tr>
<tr class="one"><td>21</td><td>TAVDISHVILI Inga</td><td>GEO</td><td>9.483</td><td>9.491</td><td>9.558</td><td>9.550</td><td>38.082</td></tr>
<tr class="two"><td>22</td><td>ZHOU Xiaojing</td><td>CHN</td><td>9.550</td><td>9.516</td><td>9.575</td><td>9.237</td><td>37.878</td></tr>
<tr class="one"><td>23</td><td>LAUTALA Heini</td><td>FIN</td><td>9.404</td><td>9.450</td><td>9.337</td><td>9.141</td><td>37.332</td></tr>
<tr class="two"><td>24</td><td>TAAMA Sherin</td><td>EGY</td><td>9.241</td><td>9.250</td><td>9.170</td><td>9.141</td><td>36.802</td></tr>
</table>
</div>

<!--QualGroup-->
<h2 class="men">Rhythmic Groups Qualification</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<colgroup span=1 align="right">
	<colgroup span=1>
	<colgroup span=4 align="center">
<tr class="wom"><th colspan=2>Team</th><th>5 clubs</td><th>2 hoops/3 ribbons</td><th>Total</td></tr>
<tr class="one"><td>1</td><td>GREECE</td><td>19.700 (1T)</td><td>19.700 (1)</td><td>39.400</td></tr>
<tr class="two"><td>2</td><td>RUSSIA</td><td>19.700 (1T)</td><td> 19.666 (2)</td><td>39.366</td></tr>
<tr class="one"><td>3</td><td>BELARUS</td><td>19.700 (1T)</td><td>19.616 (3)</td><td>39.316</td></tr>
<tr class="two"><td>4</td><td>JAPAN</td><td>19.500 (4)</td><td>19.266 (4)</td><td>38.766</td></tr>
<tr class="one"><td>5</td><td>GERMANY</td><td>19.416 (5)</td><td>19.183 (6)</td><td>38.599</td></tr>
<tr class="two"><td>6</td><td>BULGARIA</td><td>19.250 (6)</td><td>19.233 (5)</td><td>38.483</td></tr>
<tr class="one"><td>7</td><td>BRAZIL</td><td>19.150 (8)</td><td>19.066 (7)</td><td>38.216</td></tr>
<tr class="two"><td>8</td><td>ITALY</td><td> 19.250 (6)</td><td>18.933 (8)</td><td>38.183</td></tr>
<tr class="one"><td>9</td><td>FRANCE</td><td>19.050 (9)</td><td>18.850 (9)</td><td>37.900</td></tr>
<tr class="two"><td>10</td><td>SPAIN</td><td>19.033 (10)</td><td>18.816 (10)</td><td>37.849</td></tr>
</table>
</div>