---
title: "Sydney 2000 Olympics Women's Artistic Gymnastics"
year: 2000
startdate: 2000-09-18
enddate: 2000-09-25
country: "AUS"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /2000/o2000w.html
- /olympics/2000/wag.html
---
	
{% include resultsheader.html title="Games of the 27th Olympiad<br>Women's Artistic Gymnastics<br>Sydney (AUS) September 18-25, 2000<br>Finals Women" %}

<a href="/results/2000/olympics/index.html"><img src="/assets/images/logos/p2000og.jpg"></a>

<!--Teams-->
<h2 class="wom">Women's Teams Final</h2>

<a href="documents/wagteamfinal.pdf" target="_blank" class="pdf">Official Results - Women's Team Final</a><br>

<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<colgroup span=1 align="right">
	<colgroup span=1>
	<colgroup span=6 align="center">
<tr class="wom">
	<th colspan=2>Team</th>
	<th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>ROMANIA</td><td>38.461</td><td>38.237</td><td>38.986</td><td>38.924</td><td>154.608</td></tr>
<tr class="two"><td>2</td><td>RUSSIA</td><td>38.605</td><td>38.862</td><td>37.899</td><td>39.037</td><td>154.403</td></tr>
<tr class="two"><td>3</td><td>UNITED STATES</td><td>37.685</td><td>38.875</td><td>37.699</td><td>38.674</td><td>152.933</td></tr>
<tr class="one"><td>4</td><td>SPAIN</td><td>37.730</td><td>38.523</td><td>37.861</td><td>37.999</td><td>152.113</td></tr>
<tr class="two"><td>5</td><td>UKRAINE</td><td>37.185</td><td>38.674</td><td> 38.625</td><td> 37.362</td><td> 151.846</td></tr>
<tr class="one"><td>DQ</td><td>CHINA</td><td>38.073</td><td>38.962</td><td>39.099</td><td>37.874</td><td>154.008</td></tr>
</table>
</div>

<p>The Federation Internationale de Gymnastique Executive Board made an announcement on 27
February 2010, following an investigation into the Chinese team for violations of the
minimum age for senior gymnastics competitions (gymnasts must turn 16 in the year of the competition).</p>

<p>The FIG noted Dong Fangxiao was entered as 17 years old when she was actually
14. Her 1999 World Championships titles have been stripped.</p>

<p>In April 2010, ten years after the results, the IOC officially stripped China of its women's
team medal. The fourth place team from the United States was awarded the Bronze at the 2010
Visa Championships, held in Hartford, CT.</p>

<!--AA-->
<h2 class="wom">Women's All Around Final</h2>

<a href="documents/wagaafinal.pdf" target="_blank" class="pdf">Official Results - Women's All Around Final</a><br>

<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<colgroup span=1 align="right">
	<colgroup span=1>
	<colgroup span=6 align="center">
<tr class="wom">
	<th colspan=3>Gymnast</th>
	<th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>AMANAR Simona</td><td>ROM</td><td>9.656</td><td>9.512</td><td>9.662</td><td>9.812</td><td>38.642</td></tr> 
<tr class="two"><td>2</td><td>OLARU Maria</td><td>ROM</td><td>9.656</td><td>9.600</td><td>9.700</td><td>9.625</td><td>38.581</td></tr> 
<tr class="one"><td>3</td><td>LIU Xuan</td><td>CHN</td><td>9.331</td><td>9.725</td><td>9.750</td><td>9.612</td><td>38.418</td></tr> 
<tr class="two"><td>4</td><td>LOBAZNIOUK Ekaterina</td><td>RUS</td><td>9.693</td><td>9.700</td><td>9.425</td><td>9.575</td><td>38.393</td></tr> 
<tr class="one"><td>5</td><td>YANG Yun</td><td>CHN</td><td>9.531</td><td>9.787</td><td>9.287</td><td>9.700</td><td>38.305</td></tr> 
<tr class="two"><td>6</td><td>ZAMOLODTCHIKOVA Elena</td><td>RUS</td><td>9.731</td><td>9.725</td><td>9.700</td><td>9.112</td><td>38.268</td></tr> 
<tr class="one"><td>7</td><td>ROSHCHUPKINA Olga</td><td>UKR</td><td>9.368</td><td>9.725</td><td>9.750</td><td>9.362</td><td>38.205</td></tr> 
<tr class="two"><td>8</td><td>SKINNER Lisa</td><td>AUS</td><td>9.168</td><td>9.650</td><td>9.625</td><td>9.750</td><td>38.193</td></tr> 
<tr class="one"><td>9</td><td>MOYA Esther</td><td>ESP</td><td>9.631</td><td>9.550</td><td>9.187</td><td>9.712</td><td>38.080</td></tr> 
<tr class="two"><td>10</td><td>KHORKINA Svetlana</td><td>RUS</td><td>9.343</td><td>9.012</td><td>9.762</td><td>9.812</td><td> 37.929</td></tr> 
<tr class="one"><td>11</td><td>KARPENKO Viktoriya</td><td>UKR</td><td>9.574</td><td>9.800</td><td>9.775</td><td>8.725</td><td> 37.874</td></tr> 
<tr class="two"><td>12</td><td>MARTINEZ Laura</td><td>ESP</td><td>9.518</td><td>9.612</td><td>9.062</td><td>9.637</td><td>37.829</td></tr> 
<tr class="one"><td>13</td><td>RAY Elise</td><td>USA</td><td>9.487</td><td>9.750</td><td>8.887</td><td>9.537</td><td>37.661</td></tr> 
<tr class="two"><td>14</td><td>CHOW Amy</td><td>USA</td><td>9.443</td><td>9.737</td><td>9.225</td><td>9.187</td><td>37.592</td></tr> 
<tr class="one"><td>15</td><td>RICHARDSON Kate</td><td>CAN</td><td>9.281</td><td>9.662</td><td>9.337</td><td>9.250</td><td>37.530</td></tr> 
<tr class="two"><td>16</td><td>SLATER Allana</td><td>AUS</td><td>9.025</td><td>9.712</td><td>9.112</td><td>9.662</td><td>37.511</td></tr> 
<tr class="one"><td>17</td><td>BREMINI Martina</td><td>ITA</td><td>9.325</td><td>9.600</td><td>9.375</td><td>9.187</td><td>37.487</td></tr> 
<tr class="two"><td>18</td><td>BERGAMELLI Monica</td><td>ITA</td><td>9.449</td><td>9.525</td><td>8.975</td><td>9.500</td><td>37.449</td></tr> 
<tr class="one"><td>19</td><td>MALONEY Kristin</td><td>USA</td><td>9.543</td><td>9.587</td><td>8.887</td><td>9.412</td><td>37.429</td></tr> 
<tr class="two"><td>20</td><td>HYPOLITO Daniele</td><td>BRA</td><td>8.962</td><td>9.600</td><td>9.325</td><td>9.450</td><td>37.337</td></tr> 
<tr class="one"><td>21</td><td>MORO Sara</td><td>ESP</td><td>9.318</td><td>9.637</td><td>8.725</td><td>9.650</td><td>37.330</td></tr> 
<tr class="two"><td>22</td><td>TYRYK Halyna</td><td>UKR</td><td>9.181</td><td>9.650</td><td>9.512</td><td> 8.987</td><td>37.330</td></tr> 
<tr class="one"><td>23</td><td>MASON Lisa</td><td>GBR</td><td>9.356</td><td>9.262</td><td>9.537</td><td>9.012</td><td>37.167</td></tr> 
<tr class="two"><td>24</td><td>REGEASE Delphine</td><td>FRA</td><td>9.087</td><td>9.225</td><td>9.575</td><td>9.162</td><td>37.049</td></tr> 
<tr class="one"><td>25</td><td>DONG Fangxiao</td><td>CHN</td><td>9.293</td><td>9.025</td><td>9.275</td><td>9.300</td><td>36.893</td></tr> 
<tr class="two"><td>26</td><td>CRISCI Adriana</td><td>ITA</td><td>9.187</td><td>9.062</td><td>8.962</td><td>9.675</td><td>36.886</td></tr> 
<tr class="one"><td>27</td><td>ZARZHITSKAYA Marina</td><td>BLR</td><td>9.387</td><td>9.637</td><td>9.150</td><td>8.700</td><td>36.874</td></tr> 
<tr class="two"><td>28</td><td>YAMAWAKI Kana</td><td>JPN</td><td>9.293</td><td>9.012</td><td>9.025</td><td>9.312</td><td>36.642</td></tr> 
<tr class="one"><td>29</td><td>KOMRSKOVA Jana</td><td>CZE</td><td>9.506</td><td>9.487</td><td>8.675</td><td>8.950</td><td>36.618</td></tr> 
<tr class="two"><td>30</td><td>RAMASSAMY Nelly</td><td>FRA</td><td>9.243</td><td>9.137</td><td>9.112</td><td>9.100</td><td>36.592</td></tr> 
<tr class="one"><td>31</td><td>SOLER Alexandra</td><td>FRA</td><td>9.299</td><td>9.487</td><td>8.350</td><td>9.362</td><td>36.498</td></tr> 
<tr class="two"><td>32</td><td>WILLIAMS Emma</td><td>GBR</td><td>9.143</td><td>9.125</td><td>9.050</td><td>9.125</td><td>36.443</td></tr> 
<tr class="one"><td>33</td><td>TOUSEK Yvonne</td><td>CAN</td><td>9.081</td><td>9.150</td><td>9.225</td><td>8.825</td><td>36.281</td></tr> 
<tr class="two"><td>34</td><td>POLOZKOVA Alena</td><td>BLR</td><td>9.100</td><td>8.225</td><td>9.275</td><td>9.562</td><td>36.162</td></tr> 
<tr class="one"><td>35</td><td>REEDER Annika</td><td>GBR</td><td>7.274</td><td></td><td></td><td>9.262</td><td>16.536</td></tr> 
<tr><td></td><td>RADUCAN Andrea</td><td>ROM</td><td>9.706</td><td>9.575</td><td>9.787</td><td>9.825</td><td>38.893</td></tr> 
<tr class="one"><td colspan=8 align=center>Raducan Andrea (ROM) - Disqualified for positive doping test</td></tr>
</table>
</div>

<p>Andreaa Raducan (Romania) was the original winner of the Women's All-Around
competition, but her gold medal was stripped when she tested positive for a banned
substance contained in a cold medicine.</p>

<h2 class="wom">Women's Apparatus Finals</h2>
<a href="documents/wagef.pdf" target="_blank" class="pdf">Official Results - Women's Apparatus Finals</a>

<!--VT-->
<h2 class="wom">Vault Final Women</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<col width="20" align="right">
	<col width="180">
	<col width=10>
	<col width="30" align="center">
	<colgroup span=10 align="center" width=42>
<tr class="wom">
	<th colspan=4>Gymnast</th>
	<th>SV</th><th>J1</th><th>J2</th><th>J3</th><th>J4</th><th>J5</th><th>J6</th><th>Pen</th><th>Score</th><th>Final</th></tr>
<tr class="one"><td rowspan="2" valign="top">1</td>
	<td rowspan="2" valign="top">ZAMOLODTCHIKOVA Elena</td>
	<td rowspan="2" valign="top">RUS</td>
	<td>1</td><td>10.000</td><td>9.650</td><td>9.650</td><td>9.700</td>
	<td>9.750</td><td>9.750</td><td>9.800</td><td></td><td>9.712</td>
	<td rowspan="2" valign="bottom">9.731</td></tr> 
	<tr class="one"><td>2</td><td>9.900</td><td>9.750</td><td>9.700</td>
	<td>9.750</td><td>9.750</td><td>9.750</td><td>9.750</td><td></td><td>9.750</td></tr>
<tr class="two"><td rowspan="2" valign="top">2</td>
	<td rowspan="2" valign="top">RADUCAN Andreea</td>
	<td rowspan="2" valign="top">ROM</td>
	<td>1</td><td>10.000</td><td>9.700</td><td>9.800</td><td>9.700</td>
	<td>9.700</td><td>9.800</td><td>9.650</td><td></td><td>9.725</td>
	<td rowspan="2" valign="bottom">9.693</td></tr>   
	<tr class="two"><td>2</td><td>9.900</td><td>9.650</td><td>9.700</td>
	<td>9.500</td><td>9.650</td><td>9.650</td><td>9.700</td><td></td><td>9.662</td></tr>
<tr class="one"><td rowspan="2" valign="top">3</td>
	<td rowspan="2" valign="top">LOBAZNIOUK Ekaterina</td>
	<td rowspan="2" valign="top">RUS</td>
	<td>1</td><td>10.000</td><td>9.600</td><td>9.650</td><td>9.700</td>
	<td>9.650</td><td>9.750</td><td>9.650</td><td></td><td>9.662</td>
	<td rowspan="2" valign="bottom">9.674</td></tr>
	<tr class="one"><td>2</td><td>9.900</td><td>9.700</td><td>9.650</td>
	<td>9.600</td><td>9.700</td><td>9.700</td><td>9.700</td><td></td><td>9.687</td></tr>
<tr class="two"><td rowspan="2" valign="top">4</td>
	<td rowspan="2" valign="top">MOYA Esther</td>
	<td rowspan="2" valign="top">ESP</td>
	<td>1</td><td>10.000</td><td>9.750</td><td>9.750</td><td>9.750</td>
	<td>9.800</td><td>9.800</td><td>9.550</td><td></td><td>9.762</td>
	<td rowspan="2" valign="bottom">9.618</td></tr>
	<tr class="two"><td>2</td><td>9.900</td><td>9.550</td><td>9.550</td>
	<td>9.100</td><td>9.450</td><td>9.500</td><td>9.400</td><td></td><td>9.475</td></tr>
<tr class="one"><td rowspan="2" valign="top">5</td>
	<td rowspan="2" valign="top">MARTINEZ Laura</td>
	<td rowspan="2" valign="top">ESP</td>
	<td>1</td><td>9.900</td><td>9.650</td><td>9.650</td><td>9.550</td>
	<td>9.700</td><td>9.650</td><td>9.700</td><td></td><td>9.662</td>
	<td rowspan="2" valign="bottom">9.612</td></tr>
	<tr class="one"><td>2</td><td>9.800</td><td>9.550</td><td>9.550</td>
	<td>9.350</td><td>9.600</td><td>9.550</td><td>9.600</td><td></td><td>9.562</td></tr>
<tr class="two"><td rowspan="2" valign="top">6</td>
	<td rowspan="2" valign="top">AMANAR Simona</td>
	<td rowspan="2" valign="top">ROM</td>
	<td>1</td><td>10.000</td><td>9.650</td><td>9.650</td><td>9.600</td>
	<td>9.600</td><td>9.700</td><td>9.600</td><td></td><td>9.625</td>
	<td rowspan="2" valign="bottom">9.537</td></tr>
	<tr class="two"><td>2</td><td>9.800</td><td>9.300</td><td>9.500</td>
	<td>9.400</td><td>9.500</td><td>9.400</td><td>9.500</td><td></td><td>9.450</td></tr>
<tr class="one"><td rowspan="2" valign="top">7</td>
	<td rowspan="2" valign="top">DONG Fangxiao</td>
	<td rowspan="2" valign="top">CHN</td>
	<td>1</td><td>9.900</td><td>9.550</td><td>9.550</td><td>9.600</td>
	<td>9.650</td><td>9.650</td><td>9.550</td><td></td><td>9.587</td>
	<td rowspan="2" valign="bottom">9.487</td></tr>
	<tr class="one"><td>2</td><td>9.800</td><td>9.400</td><td>9.450</td>
	<td>9.150</td><td>9.350</td><td>9.400</td><td>9.400</td><td></td><td>9.387</td></tr>
<tr class="two"><td rowspan="2" valign="top">8</td>
	<td rowspan="2" valign="top">LOPEZ Denisse</td>
	<td rowspan="2" valign="top">MEX</td>
	<td>1</td><td>10.000</td><td>9.100</td><td>9.150</td><td>9.000</td>
	<td>9.000</td><td>9.150</td><td>9.100</td><td></td><td>9.087</td>
	<td rowspan="2" valign="bottom">8.843</td></tr>
	<tr class="two"><td>2</td><td>9.900</td><td>8.700</td><td>9.050</td>
	<td>8.300</td><td>8.700</td><td>8.900</td><td>8.900</td><td>0.2</td><td>8.600</td></tr>
</table>
</div>

<!--UB-->
<h2 class="wom">Uneven Bars Final Women</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<col width="20" align="right">
	<col width="180">
	<col width="30" align="center">
	<colgroup span=9 align="center" width=50>
<tr class="wom">
	<th colspan=3>Gymnast</th>
	<th>SV</th><th>J1</th><th>J2</th><th>J3</th><th>J4</th><th>J5</th><th>J6</th><th>Pen</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>KHORKINA Svetlana</td><td>RUS</td>
	<td>10.000</td><td>9.850</td><td>9.950</td><td>9.850</td><td>9.800</td>
	<td>9.850</td><td>9.900</td><td></td><td>9.862</td></tr>   
<tr class="two"><td> 2</td><td>LING Jie</td><td>CHN</td>
	<td>10.000</td><td>9.850</td><td>9.850</td><td>9.800</td><td>9.850</td>
	<td>9.800</td><td>9.900</td><td></td><td>9.837</td></tr>
<tr class="one"><td> 3</td><td>YANG Yun</td><td>CHN</td>
	<td>10.000</td><td>9.800</td><td>9.800</td><td>9.750</td><td>9.750</td>
	<td>9.800</td><td>9.800</td><td></td><td>9.787</td></tr>
<tr class="two"><td> 4</td><td>KARPENKO Viktoriya</td><td>UKR</td>
	<td>10.000</td><td>9.750</td><td>9.800</td><td>9.800</td><td>9.750</td>
	<td>9.700</td><td>9.800</td><td></td><td>9.775</td></tr>   
<tr class="one"><td>5 </td><td>ZHARGANOVA Tatyana</td><td>BLR</td>
	<td>10.000</td><td>9.650</td><td>9.800</td><td>9.750</td><td>9.800</td>
	<td>9.650</td><td>9.750</td><td></td><td>9.737</td></tr>
<tr class="two"><td>6 </td><td>ROSHCHUPKINA Olga</td><td>UKR</td>
	<td>10.000</td><td>9.700</td><td>9.750</td><td>9.700</td><td>9.750</td>
	<td>9.600</td><td>9.750</td><td></td><td>9.725</td></tr>
<tr class="one"><td>7</td><td>PRODOUNOVA Elena</td><td>RUS</td>
	<td>10.000</td><td>9.800</td><td>9.650</td><td>9.700</td><td>9.650</td>
	<td>9.550</td><td>9.600</td><td></td><td>9.650</td></tr>
<tr class="two"><td>8</td><td>TEZA Elvire</td><td>FRA</td>
	<td>9.900</td><td>9.500</td><td>9.550</td><td>9.600</td><td>9.450</td>
	<td>9.400</td><td>9.550</td><td></td><td>9.512</td></tr>
</table>
</div>

<!--BB-->
<h2 class="wom">Beam Final Women</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<col width="20" align="right">
	<col width="180">
	<col width="30" align="center">
	<colgroup span=9 align="center" width=50>
<tr class="wom">
	<th colspan=3>Gymnast</th>
	<th>SV</th><th>J1</th><th>J2</th><th>J3</th><th>J4</th><th>J5</th><th>J6</th><th>Pen</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>LIU Xuan</td><td>CHN</td>
	<td>10.000</td><td>9.750</td><td>9.800</td><td>9.850</td><td>9.800</td>
	<td>9.850</td><td>9.850</td><td></td><td>9.825</td></tr>   
<tr class="two"><td>2</td><td>LOBAZNIOUK Ekaterina</td><td>RUS</td>
	<td>10.000</td><td>9.850</td><td>9.750</td><td>9.800</td><td>9.750</td>
	<td>9.800</td><td>9.800</td><td></td><td>9.787</td></tr>   
<tr class="one"><td>3</td><td>PRODOUNOVA Elena</td><td>RUS</td>
	<td>10.000</td><td>9.800</td><td>9.700</td><td>9.850</td><td>9.800</td>
	<td>9.750</td><td>9.750</td><td></td><td>9.775</td></tr>   
<tr class="two"><td>4</td><td>PRESACAN Claudia</td><td>ROM</td>
	<td>10.000</td><td>9.750</td><td>9.650</td><td>9.750</td><td>9.750</td>
	<td>9.750</td><td>9.800</td><td></td><td>9.750</td></tr>   
<tr class="one"><td>5</td><td>YAROSH Tetyana</td><td>UKR</td>
	<td>10.000</td><td>9.800</td><td>9.650</td><td>9.750</td><td>9.700</td>
	<td>9.700</td><td>9.700</td><td></td><td>9.712</td></tr>   
<tr class="two"><td>6</td><td>OLARU Maria</td><td>ROM</td>
	<td>10.000</td><td>9.700</td><td>9.550</td><td>9.650</td><td>9.750</td>
	<td>9.750</td><td>9.700</td><td></td><td>9.700</td></tr>   
<tr class="one"><td>7</td><td>LING Jie</td><td>CHN</td>
	<td>9.900</td><td>9.650</td><td>9.700</td><td>9.650</td><td>9.700</td>
	<td>9.750</td><td>9.650</td><td></td><td>9.675</td></tr>   
<tr class="two"><td>8</td><td>RAY Elise</td><td>USA</td>
	<td>9.800</td><td>9.400</td><td>9.350</td><td>9.400</td><td>9.300</td>
	<td>9.400</td><td>9.500</td><td></td><td>9.387</td></tr>   
</table>
</div>

<!--FX-->
<h2 class="wom">Floor Exercise Final Women</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<col width="20" align="right">
	<col width="180">
	<col width="30" align="center">
	<colgroup span=9 align="center" width=50>
<tr class="wom">
	<th colspan=3>Gymnast</th>
	<th>SV</th><th>J1</th><th>J2</th><th>J3</th><th>J4</th><th>J5</th><th>J6</th><th>Pen</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>ZAMOLODTCHIKOVA Elena</td><td>RUS</td>
	<td>10.000</td><td>9.900</td><td>9.850</td><td>9.850</td><td>9.850</td>
	<td>9.850</td><td>9.850</td><td></td><td>9.850</td></tr>   
<tr class="two"><td>2</td><td>KHORKINA Svetlana</td><td>RUS</td>
	<td>10.000</td><td>9.750</td><td>9.850</td><td>9.750</td><td>9.800</td>
	<td>9.850</td><td>9.850</td><td></td><td>9.812</td></tr>   
<tr class="one"><td>3</td><td>AMANAR Simona</td><td>ROM</td>
	<td>10.000</td><td>9.800</td><td>9.800</td><td>9.850</td><td>9.800</td>
	<td>9.850</td><td>9.800</td><td>0.1</td><td>9.712</td></tr>   
<tr class="two"><td>4</td><td>MOYA Esther</td><td>ESP</td>
	<td>10.000</td><td>9.700</td><td>9.700</td><td>9.700</td><td>9.700</td>
	<td>9.750</td><td>9.700</td><td></td><td>9.700</td></tr>   
<tr class="one"><td>5</td><td>YANG Yun</td><td>CHN</td>
	<td>10.000</td><td>9.650</td><td>9.650</td><td>9.700</td><td>9.650</td>
	<td>9.600</td><td>9.600</td><td></td><td>9.637</td></tr>   
<tr class="two"><td>6</td><td>DONG Fangxiao</td><td>CHN</td>
	<td>10.000</td><td>9.600</td><td>9.650</td><td>9.650</td><td>9.600</td>
	<td>9.650</td><td>9.650</td><td>0.1</td><td>9.537</td></tr>   
<tr class="one"><td>7</td><td>RADUCAN Andreea</td><td>ROM</td>
	<td>10.000</td><td>9.250</td><td>9.300</td><td>9.200</td><td>9.250</td>
	<td>9.350</td><td>9.300</td><td></td><td>9.275</td></tr>   
<tr class="two"><td>8</td><td>SKINNER Lisa</td><td>AUS</td>
	<td>9.800</td><td>9.000</td><td>9.100</td><td>9.000</td><td>8.950</td>
	<td>9.000</td><td>9.050</td><td></td><td>9.012</td></tr>   
</table>
</div>